<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>The TUC is committed to supporting people around the world in their&nbsp;struggle to achieve decent healthcare. educetion, employment, freedom __(1)__ persecution and discrimination and the right to have a say in how they are governed.
                    These development issues are&nbsp;an integral and historic part al the trade union movement's commitment to global solidarity.&nbsp;&nbsp;</p>

                <p>The TUC's development work is divided into three areas&nbsp;</p>

                <p>The TUC lobbies end campaigns for broad development issues like more and better aid for developing countries or the cancellation of debt Much&nbsp;of this work is done in __(2)__ with other organizations such as international trade union
                    bodies or non-governmental organizations.&nbsp;</p>

                <p>The TUGS charity -&nbsp;the Global Solidarity Fund -&nbsp;enables British trade unionists to support workers&nbsp;around the world who face __(3)__ or experience life-threatening&nbsp;disasters.&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5705" id="5705" disabled="">
                                <label for="5705">
                            <i class="icon icon_radio"></i>
                            A. and
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5706" id="5706" disabled="">
                                <label for="5706">
                            <i class="icon icon_radio"></i>
                            B. from
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5707" id="5707" disabled="">
                                <label for="5707">
                            <i class="icon icon_radio"></i>
                            C. for
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5708" id="5708" disabled="">
                                <label for="5708">
                            <i class="icon icon_radio"></i>
                            D. on
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5709" id="5709" disabled="">
                                <label for="5709">
                            <i class="icon icon_radio"></i>
                            A. together
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5710" id="5710" disabled="">
                                <label for="5710">
                            <i class="icon icon_radio"></i>
                            B. partnership
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5711" id="5711" disabled="">
                                <label for="5711">
                            <i class="icon icon_radio"></i>
                            C. jointly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5712" id="5712" disabled="">
                                <label for="5712">
                            <i class="icon icon_radio"></i>
                            D. likelihood
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5713" id="5713" disabled="">
                                <label for="5713">
                            <i class="icon icon_radio"></i>
                            A. discrimination
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5714" id="5714" disabled="">
                                <label for="5714">
                            <i class="icon icon_radio"></i>
                            B. exaltation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5715" id="5715" disabled="">
                                <label for="5715">
                            <i class="icon icon_radio"></i>
                            C. inspection
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5716" id="5716" disabled="">
                                <label for="5716">
                            <i class="icon icon_radio"></i>
                            D. determination
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>