<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p>Participants in the stock market&nbsp;range from small individual stock investors to large hedge fund
                    traders, who can be based anywhere. Their orders usually end up with a professional&nbsp;at a stock
                    exchange, who __(1)__ the order.&nbsp;</p>

                <p>Some exchanges are physical locations&nbsp;where transactions are carried out on a trading floor, by
                    method __(2)__&nbsp;open outcry. This type of auction is used in stock exchanges and commodity
                    exchanges where traders may enter "verbal"
                    bids&nbsp;and offers simultaneously.&nbsp;</p>

                <p>Actual trades are based on an auction market paradigm where a potential buyer bids a specific
                    price&nbsp;for a stock and a potential seller asks a specific price for the stock. When the
                    bid&nbsp;and ask prices match, a sale takes place
                    on a first __(3)__ first served basis, if there are multiple bidders or askers at a given
                    price.&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5717" id="5717" disabled="">
                                <label for="5717">
                                    <i class="icon icon_radio"></i>
                                    A. excludes
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5718" id="5718" disabled="">
                                <label for="5718">
                                    <i class="icon icon_radio"></i>
                                    B. excavates
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5719" id="5719" disabled="">
                                <label for="5719">
                                    <i class="icon icon_radio"></i>
                                    C. extracts
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5720" id="5720" disabled="">
                                <label for="5720">
                                    <i class="icon icon_radio"></i>
                                    D. executes
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5721" id="5721" disabled="">
                                <label for="5721">
                                    <i class="icon icon_radio"></i>
                                    A. called for
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5722" id="5722" disabled="">
                                <label for="5722">
                                    <i class="icon icon_radio"></i>
                                    B. named after
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5723" id="5723" disabled="">
                                <label for="5723">
                                    <i class="icon icon_radio"></i>
                                    C. known as
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5724" id="5724" disabled="">
                                <label for="5724">
                                    <i class="icon icon_radio"></i>
                                    D. recognized by
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5725" id="5725" disabled="">
                                <label for="5725">
                                    <i class="icon icon_radio"></i>
                                    A. come
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5726" id="5726" disabled="">
                                <label for="5726">
                                    <i class="icon icon_radio"></i>
                                    B. option
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5727" id="5727" disabled="">
                                <label for="5727">
                                    <i class="icon icon_radio"></i>
                                    C. arrival
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5728" id="5728" disabled="">
                                <label for="5728">
                                    <i class="icon icon_radio"></i>
                                    D. prefer
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>