<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=5">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>101. Our sales ____ significantly since this time last year</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="100" value="5377" id="5377" disabled="">
                                <label for="5377">
                            <i class="icon icon_radio"></i>
                            A. increase
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="5378" id="5378" disabled="">
                                <label for="5378">
                            <i class="icon icon_radio"></i>
                            B. increased
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="5379" id="5379" disabled="">
                                <label for="5379">
                            <i class="icon icon_radio"></i>
                            C. have increased
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="5380" id="5380" disabled="">
                                <label for="5380">
                            <i class="icon icon_radio"></i>
                            D. are increasing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>102. Mr. Smith comes ____ New Zealand. He's not Australian</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="101" value="5381" id="5381" disabled="">
                                <label for="5381">
                            <i class="icon icon_radio"></i>
                            A. by
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="5382" id="5382" disabled="">
                                <label for="5382">
                            <i class="icon icon_radio"></i>
                            B. to
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="5383" id="5383" disabled="">
                                <label for="5383">
                            <i class="icon icon_radio"></i>
                            C. from
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="5384" id="5384" disabled="">
                                <label for="5384">
                            <i class="icon icon_radio"></i>
                            D. in
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>103. The company was ____ to meet the terms of our contract</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="102" value="5385" id="5385" disabled="">
                                <label for="5385">
                            <i class="icon icon_radio"></i>
                            A. obligated
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="5386" id="5386" disabled="">
                                <label for="5386">
                            <i class="icon icon_radio"></i>
                            B. encourage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="5387" id="5387" disabled="">
                                <label for="5387">
                            <i class="icon icon_radio"></i>
                            C. requested
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="5388" id="5388" disabled="">
                                <label for="5388">
                            <i class="icon icon_radio"></i>
                            D. surprised
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>104. The carpets ____ just last week</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="103" value="5389" id="5389" disabled="">
                                <label for="5389">
                            <i class="icon icon_radio"></i>
                            A. washed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="5390" id="5390" disabled="">
                                <label for="5390">
                            <i class="icon icon_radio"></i>
                            B. were washing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="5391" id="5391" disabled="">
                                <label for="5391">
                            <i class="icon icon_radio"></i>
                            C. had washed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="5392" id="5392" disabled="">
                                <label for="5392">
                            <i class="icon icon_radio"></i>
                            D. were washed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>105. It's risky to ____ a debt in this unstable economy</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="104" value="5393" id="5393" disabled="">
                                <label for="5393">
                            <i class="icon icon_radio"></i>
                            A. take on
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="5394" id="5394" disabled="">
                                <label for="5394">
                            <i class="icon icon_radio"></i>
                            B. overtake
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="5395" id="5395" disabled="">
                                <label for="5395">
                            <i class="icon icon_radio"></i>
                            C. take up
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="5396" id="5396" disabled="">
                                <label for="5396">
                            <i class="icon icon_radio"></i>
                            D. take over
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>106. Mr. Murphy has become wealthy due to his ____ investments</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="105" value="5397" id="5397" disabled="">
                                <label for="5397">
                            <i class="icon icon_radio"></i>
                            A. timid
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="5398" id="5398" disabled="">
                                <label for="5398">
                            <i class="icon icon_radio"></i>
                            B. hasty
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="5399" id="5399" disabled="">
                                <label for="5399">
                            <i class="icon icon_radio"></i>
                            C. rash
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="5400" id="5400" disabled="">
                                <label for="5400">
                            <i class="icon icon_radio"></i>
                            D. shrewd
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>107. It would be an honor ____ with you again in the future</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="106" value="5401" id="5401" disabled="">
                                <label for="5401">
                            <i class="icon icon_radio"></i>
                            A. collaborate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="5402" id="5402" disabled="">
                                <label for="5402">
                            <i class="icon icon_radio"></i>
                            B. to collaborate
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="5403" id="5403" disabled="">
                                <label for="5403">
                            <i class="icon icon_radio"></i>
                            C. collaborating
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="5404" id="5404" disabled="">
                                <label for="5404">
                            <i class="icon icon_radio"></i>
                            D. to be collaborated
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>108. Mrs. Cross insists that we arrive ____ time</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="107" value="5405" id="5405" disabled="">
                                <label for="5405">
                            <i class="icon icon_radio"></i>
                            A. in
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="5406" id="5406" disabled="">
                                <label for="5406">
                            <i class="icon icon_radio"></i>
                            B. on
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="5407" id="5407" disabled="">
                                <label for="5407">
                            <i class="icon icon_radio"></i>
                            C. for
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="5408" id="5408" disabled="">
                                <label for="5408">
                            <i class="icon icon_radio"></i>
                            D. at
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>109. Will you ____ your hasty decision?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="108" value="5409" id="5409" disabled="">
                                <label for="5409">
                            <i class="icon icon_radio"></i>
                            A. reconsider
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="5410" id="5410" disabled="">
                                <label for="5410">
                            <i class="icon icon_radio"></i>
                            B. resist
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="5411" id="5411" disabled="">
                                <label for="5411">
                            <i class="icon icon_radio"></i>
                            C. neglect
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="5412" id="5412" disabled="">
                                <label for="5412">
                            <i class="icon icon_radio"></i>
                            D. renovate
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>110. I'm sorry you were disappointed with our product; I'll see that it never ____ again</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="109" value="5413" id="5413" disabled="">
                                <label for="5413">
                            <i class="icon icon_radio"></i>
                            A. arrives
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="5414" id="5414" disabled="">
                                <label for="5414">
                            <i class="icon icon_radio"></i>
                            B. becomes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="5415" id="5415" disabled="">
                                <label for="5415">
                            <i class="icon icon_radio"></i>
                            C. attempts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="5416" id="5416" disabled="">
                                <label for="5416">
                            <i class="icon icon_radio"></i>
                            D. happens
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>111. The newest of the computer is the first ____ that broke</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="110" value="5417" id="5417" disabled="">
                                <label for="5417">
                            <i class="icon icon_radio"></i>
                            A. something
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="5418" id="5418" disabled="">
                                <label for="5418">
                            <i class="icon icon_radio"></i>
                            B. ones
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="5419" id="5419" disabled="">
                                <label for="5419">
                            <i class="icon icon_radio"></i>
                            C. some
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="5420" id="5420" disabled="">
                                <label for="5420">
                            <i class="icon icon_radio"></i>
                            D. one
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>112. Although the Steak House would be ____ , I was hoping we could try someplace new</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="111" value="5421" id="5421" disabled="">
                                <label for="5421">
                            <i class="icon icon_radio"></i>
                            A. perfect
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="5422" id="5422" disabled="">
                                <label for="5422">
                            <i class="icon icon_radio"></i>
                            B. adequate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="5423" id="5423" disabled="">
                                <label for="5423">
                            <i class="icon icon_radio"></i>
                            C. unsavory
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="5424" id="5424" disabled="">
                                <label for="5424">
                            <i class="icon icon_radio"></i>
                            D. terrible
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>113. Could you tell me the best way to ____ Mr. Campbell?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="112" value="5425" id="5425" disabled="">
                                <label for="5425">
                            <i class="icon icon_radio"></i>
                            A. meet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="5426" id="5426" disabled="">
                                <label for="5426">
                            <i class="icon icon_radio"></i>
                            B. call
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="5427" id="5427" disabled="">
                                <label for="5427">
                            <i class="icon icon_radio"></i>
                            C. speak
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="5428" id="5428" disabled="">
                                <label for="5428">
                            <i class="icon icon_radio"></i>
                            D. reach
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>114. Can you give an example illustration how you might perform ____ pressure?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="113" value="5429" id="5429" disabled="">
                                <label for="5429">
                            <i class="icon icon_radio"></i>
                            A. around
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="5430" id="5430" disabled="">
                                <label for="5430">
                            <i class="icon icon_radio"></i>
                            B. in
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="5431" id="5431" disabled="">
                                <label for="5431">
                            <i class="icon icon_radio"></i>
                            C. from
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="5432" id="5432" disabled="">
                                <label for="5432">
                            <i class="icon icon_radio"></i>
                            D. under
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>115. Robert is always ____ to others; of course I'll give him a hand if he needs it!</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="114" value="5433" id="5433" disabled="">
                                <label for="5433">
                            <i class="icon icon_radio"></i>
                            A. helping
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="5434" id="5434" disabled="">
                                <label for="5434">
                            <i class="icon icon_radio"></i>
                            B. helpful
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="5435" id="5435" disabled="">
                                <label for="5435">
                            <i class="icon icon_radio"></i>
                            C. helps
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="5436" id="5436" disabled="">
                                <label for="5436">
                            <i class="icon icon_radio"></i>
                            D. helpless
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>116. He would rather have ____ for his work than any financial reward</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="115" value="5437" id="5437" disabled="">
                                <label for="5437">
                            <i class="icon icon_radio"></i>
                            A. notification
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="5438" id="5438" disabled="">
                                <label for="5438">
                            <i class="icon icon_radio"></i>
                            B. renumeration
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="5439" id="5439" disabled="">
                                <label for="5439">
                            <i class="icon icon_radio"></i>
                            C. recognition
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="5440" id="5440" disabled="">
                                <label for="5440">
                            <i class="icon icon_radio"></i>
                            D. elevation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>117. Those travelling by mini-bus must ____ in the parking not by 7 am</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="116" value="5441" id="5441" disabled="">
                                <label for="5441">
                            <i class="icon icon_radio"></i>
                            A. go
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="5442" id="5442" disabled="">
                                <label for="5442">
                            <i class="icon icon_radio"></i>
                            B. embark
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="5443" id="5443" disabled="">
                                <label for="5443">
                            <i class="icon icon_radio"></i>
                            C. join
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="5444" id="5444" disabled="">
                                <label for="5444">
                            <i class="icon icon_radio"></i>
                            D. meet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>118. ____ car is parked in the loading area?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="117" value="5445" id="5445" disabled="">
                                <label for="5445">
                            <i class="icon icon_radio"></i>
                            A. Who
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="5446" id="5446" disabled="">
                                <label for="5446">
                            <i class="icon icon_radio"></i>
                            B. Who's
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="5447" id="5447" disabled="">
                                <label for="5447">
                            <i class="icon icon_radio"></i>
                            C. Whose
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="5448" id="5448" disabled="">
                                <label for="5448">
                            <i class="icon icon_radio"></i>
                            D. What's
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>119. The furniture at the office ____ last week</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="118" value="5449" id="5449" disabled="">
                                <label for="5449">
                            <i class="icon icon_radio"></i>
                            A. were replaced
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="5450" id="5450" disabled="">
                                <label for="5450">
                            <i class="icon icon_radio"></i>
                            B. replaced
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="5451" id="5451" disabled="">
                                <label for="5451">
                            <i class="icon icon_radio"></i>
                            C. was replaced
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="5452" id="5452" disabled="">
                                <label for="5452">
                            <i class="icon icon_radio"></i>
                            D. have been replaced
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>120. Do you want to ____ the premiere?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="119" value="5453" id="5453" disabled="">
                                <label for="5453">
                            <i class="icon icon_radio"></i>
                            A. participate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="5454" id="5454" disabled="">
                                <label for="5454">
                            <i class="icon icon_radio"></i>
                            B. explore
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="5455" id="5455" disabled="">
                                <label for="5455">
                            <i class="icon icon_radio"></i>
                            C. visit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="5456" id="5456" disabled="">
                                <label for="5456">
                            <i class="icon icon_radio"></i>
                            D. attend
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>121. It's 3pm; you really ____ take a lunch break</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="120" value="5457" id="5457" disabled="">
                                <label for="5457">
                            <i class="icon icon_radio"></i>
                            A. needn't
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="5458" id="5458" disabled="">
                                <label for="5458">
                            <i class="icon icon_radio"></i>
                            B. ought to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="5459" id="5459" disabled="">
                                <label for="5459">
                            <i class="icon icon_radio"></i>
                            C. would
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="5460" id="5460" disabled="">
                                <label for="5460">
                            <i class="icon icon_radio"></i>
                            D. hadn't
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>122. It's raining but, ____ , we must still go</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="121" value="5461" id="5461" disabled="">
                                <label for="5461">
                            <i class="icon icon_radio"></i>
                            A. nevertheless
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="5462" id="5462" disabled="">
                                <label for="5462">
                            <i class="icon icon_radio"></i>
                            B. however
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="5463" id="5463" disabled="">
                                <label for="5463">
                            <i class="icon icon_radio"></i>
                            C. despite
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="5464" id="5464" disabled="">
                                <label for="5464">
                            <i class="icon icon_radio"></i>
                            D. although
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>123. ____ traveled extensively in his youth, he was ready to settle down</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="122" value="5465" id="5465" disabled="">
                                <label for="5465">
                            <i class="icon icon_radio"></i>
                            A. Having
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="5466" id="5466" disabled="">
                                <label for="5466">
                            <i class="icon icon_radio"></i>
                            B. He had
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="5467" id="5467" disabled="">
                                <label for="5467">
                            <i class="icon icon_radio"></i>
                            C. Having been
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="5468" id="5468" disabled="">
                                <label for="5468">
                            <i class="icon icon_radio"></i>
                            D. Has he
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>124. Would you ____ refrain from talking during the film?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="123" value="5469" id="5469" disabled="">
                                <label for="5469">
                            <i class="icon icon_radio"></i>
                            A. kind
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="5470" id="5470" disabled="">
                                <label for="5470">
                            <i class="icon icon_radio"></i>
                            B. kindest
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="5471" id="5471" disabled="">
                                <label for="5471">
                            <i class="icon icon_radio"></i>
                            C. kinder
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="5472" id="5472" disabled="">
                                <label for="5472">
                            <i class="icon icon_radio"></i>
                            D. kindly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>125. How dare you ____ my honesty!</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="124" value="5473" id="5473" disabled="">
                                <label for="5473">
                            <i class="icon icon_radio"></i>
                            A. misunderstand
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="5474" id="5474" disabled="">
                                <label for="5474">
                            <i class="icon icon_radio"></i>
                            B. commend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="5475" id="5475" disabled="">
                                <label for="5475">
                            <i class="icon icon_radio"></i>
                            C. regard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="5476" id="5476" disabled="">
                                <label for="5476">
                            <i class="icon icon_radio"></i>
                            D. question
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>126. I will need either Jenner ____ Tood to come with me on Tuesday</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="125" value="5477" id="5477" disabled="">
                                <label for="5477">
                            <i class="icon icon_radio"></i>
                            A. or
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="5478" id="5478" disabled="">
                                <label for="5478">
                            <i class="icon icon_radio"></i>
                            B. nor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="5479" id="5479" disabled="">
                                <label for="5479">
                            <i class="icon icon_radio"></i>
                            C. and
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="5480" id="5480" disabled="">
                                <label for="5480">
                            <i class="icon icon_radio"></i>
                            D. not
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>127. We can't offer the cheapest product ____ we can offer the best quality</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="126" value="5481" id="5481" disabled="">
                                <label for="5481">
                            <i class="icon icon_radio"></i>
                            A. and
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="5482" id="5482" disabled="">
                                <label for="5482">
                            <i class="icon icon_radio"></i>
                            B. only
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="5483" id="5483" disabled="">
                                <label for="5483">
                            <i class="icon icon_radio"></i>
                            C. but
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="5484" id="5484" disabled="">
                                <label for="5484">
                            <i class="icon icon_radio"></i>
                            D. because
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>128. Al staff must be informed about the new ____ on returns</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="127" value="5485" id="5485" disabled="">
                                <label for="5485">
                            <i class="icon icon_radio"></i>
                            A. proposal
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="5486" id="5486" disabled="">
                                <label for="5486">
                            <i class="icon icon_radio"></i>
                            B. text
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="5487" id="5487" disabled="">
                                <label for="5487">
                            <i class="icon icon_radio"></i>
                            C. law
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="5488" id="5488" disabled="">
                                <label for="5488">
                            <i class="icon icon_radio"></i>
                            D. policy
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>129. ____ than drive, she decided to walk</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="128" value="5489" id="5489" disabled="">
                                <label for="5489">
                            <i class="icon icon_radio"></i>
                            A. Better
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="5490" id="5490" disabled="">
                                <label for="5490">
                            <i class="icon icon_radio"></i>
                            B. Either
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="5491" id="5491" disabled="">
                                <label for="5491">
                            <i class="icon icon_radio"></i>
                            C. Rather
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="5492" id="5492" disabled="">
                                <label for="5492">
                            <i class="icon icon_radio"></i>
                            D. Other
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>130. ____ you're leaving, be sure to turn off the lights</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="129" value="5493" id="5493" disabled="">
                                <label for="5493">
                            <i class="icon icon_radio"></i>
                            A. Before
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="5494" id="5494" disabled="">
                                <label for="5494">
                            <i class="icon icon_radio"></i>
                            B. With
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="5495" id="5495" disabled="">
                                <label for="5495">
                            <i class="icon icon_radio"></i>
                            C. On
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="5496" id="5496" disabled="">
                                <label for="5496">
                            <i class="icon icon_radio"></i>
                            D. As
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>131. I'm sorry, please ____ ; don't let me interrupt!</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="130" value="5497" id="5497" disabled="">
                                <label for="5497">
                            <i class="icon icon_radio"></i>
                            A. linger
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="5498" id="5498" disabled="">
                                <label for="5498">
                            <i class="icon icon_radio"></i>
                            B. halt
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="5499" id="5499" disabled="">
                                <label for="5499">
                            <i class="icon icon_radio"></i>
                            C. commence
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="5500" id="5500" disabled="">
                                <label for="5500">
                            <i class="icon icon_radio"></i>
                            D. continue
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>132. It's no use ____ ; we're too busy right now for anyone to have next week off</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="131" value="5501" id="5501" disabled="">
                                <label for="5501">
                            <i class="icon icon_radio"></i>
                            A. to insist
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="5502" id="5502" disabled="">
                                <label for="5502">
                            <i class="icon icon_radio"></i>
                            B. insisted
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="5503" id="5503" disabled="">
                                <label for="5503">
                            <i class="icon icon_radio"></i>
                            C. insisting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="5504" id="5504" disabled="">
                                <label for="5504">
                            <i class="icon icon_radio"></i>
                            D. being insisted
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>133. The whole team is going on a(n) ____ to build morale</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="132" value="5505" id="5505" disabled="">
                                <label for="5505">
                            <i class="icon icon_radio"></i>
                            A. excursion
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="5506" id="5506" disabled="">
                                <label for="5506">
                            <i class="icon icon_radio"></i>
                            B. intervention
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="5507" id="5507" disabled="">
                                <label for="5507">
                            <i class="icon icon_radio"></i>
                            C. investigation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="5508" id="5508" disabled="">
                                <label for="5508">
                            <i class="icon icon_radio"></i>
                            D. journey
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>134. John needs to lean to speak ____ !</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="133" value="5509" id="5509" disabled="">
                                <label for="5509">
                            <i class="icon icon_radio"></i>
                            A. polite
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="5510" id="5510" disabled="">
                                <label for="5510">
                            <i class="icon icon_radio"></i>
                            B. politics
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="5511" id="5511" disabled="">
                                <label for="5511">
                            <i class="icon icon_radio"></i>
                            C. politely
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="5512" id="5512" disabled="">
                                <label for="5512">
                            <i class="icon icon_radio"></i>
                            D. politeness
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>135. The audience, as well as the performers, ____ exhausted after the play</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="134" value="5513" id="5513" disabled="">
                                <label for="5513">
                            <i class="icon icon_radio"></i>
                            A. have been
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="5514" id="5514" disabled="">
                                <label for="5514">
                            <i class="icon icon_radio"></i>
                            B. are
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="5515" id="5515" disabled="">
                                <label for="5515">
                            <i class="icon icon_radio"></i>
                            C. were
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="5516" id="5516" disabled="">
                                <label for="5516">
                            <i class="icon icon_radio"></i>
                            D. has
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>136. Applications received ____ the 24th of June will not be considered</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="135" value="5517" id="5517" disabled="">
                                <label for="5517">
                            <i class="icon icon_radio"></i>
                            A. by
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="5518" id="5518" disabled="">
                                <label for="5518">
                            <i class="icon icon_radio"></i>
                            B. from
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="5519" id="5519" disabled="">
                                <label for="5519">
                            <i class="icon icon_radio"></i>
                            C. after
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="5520" id="5520" disabled="">
                                <label for="5520">
                            <i class="icon icon_radio"></i>
                            D. on
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>137. Tim's creative problem ____ has saved the day again!</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="136" value="5521" id="5521" disabled="">
                                <label for="5521">
                            <i class="icon icon_radio"></i>
                            A. solved
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="5522" id="5522" disabled="">
                                <label for="5522">
                            <i class="icon icon_radio"></i>
                            B. solves
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="5523" id="5523" disabled="">
                                <label for="5523">
                            <i class="icon icon_radio"></i>
                            C. solving
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="5524" id="5524" disabled="">
                                <label for="5524">
                            <i class="icon icon_radio"></i>
                            D. solution
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>138. It would be to your ____ to do a master's degree</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="137" value="5525" id="5525" disabled="">
                                <label for="5525">
                            <i class="icon icon_radio"></i>
                            A. compliment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="5526" id="5526" disabled="">
                                <label for="5526">
                            <i class="icon icon_radio"></i>
                            B. intention
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="5527" id="5527" disabled="">
                                <label for="5527">
                            <i class="icon icon_radio"></i>
                            C. increase
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="5528" id="5528" disabled="">
                                <label for="5528">
                            <i class="icon icon_radio"></i>
                            D. advantage
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>139. Unfortunately ____ of the candidates we interviewed were satisfactory</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="138" value="5529" id="5529" disabled="">
                                <label for="5529">
                            <i class="icon icon_radio"></i>
                            A. either
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="5530" id="5530" disabled="">
                                <label for="5530">
                            <i class="icon icon_radio"></i>
                            B. both
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="5531" id="5531" disabled="">
                                <label for="5531">
                            <i class="icon icon_radio"></i>
                            C. neither
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="5532" id="5532" disabled="">
                                <label for="5532">
                            <i class="icon icon_radio"></i>
                            D. one
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>140. The two companies decided to ____ instead of continuing to compete</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="139" value="5533" id="5533" disabled="">
                                <label for="5533">
                            <i class="icon icon_radio"></i>
                            A. battle
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="5534" id="5534" disabled="">
                                <label for="5534">
                            <i class="icon icon_radio"></i>
                            B. merge
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="5535" id="5535" disabled="">
                                <label for="5535">
                            <i class="icon icon_radio"></i>
                            C. comply
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="5536" id="5536" disabled="">
                                <label for="5536">
                            <i class="icon icon_radio"></i>
                            D. surrender
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>