<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>It is with great pleasure that I welcome you to this special opening ceremony today. Today is the result of over five year's planning and hard work as we finally open this magnificent building. Of course, we must thank the Bradford
                            family who have given their wonderful art collection to the city. You will see many fine examples of classical and modern art on the walls around you. The Bradford family made their fortune making and selling beautiful clothes
                            but, luckily for us, they spent a lot of their money on works of art. And now, ladies and gentlemen, please welcome Alan Bradford, the great grandson of the late Charles Bradford who will officially open the building and make
                            a little speech himself.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564991135.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.53997%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:16</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. What is the building?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="251" id="251" disabled="">
                                <label for="251">
                            <i class="icon icon_radio"></i>
                            A. a factor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="252" id="252" disabled="">
                                <label for="252">
                            <i class="icon icon_radio"></i>
                            B. a shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="253" id="253" disabled="">
                                <label for="253">
                            <i class="icon icon_radio"></i>
                            C. a gallery
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="254" id="254" disabled="">
                                <label for="254">
                            <i class="icon icon_radio"></i>
                            D. a hospital
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. What were the Bradford family?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="255" id="255" disabled="">
                                <label for="255">
                            <i class="icon icon_radio"></i>
                            A. artists
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="256" id="256" disabled="">
                                <label for="256">
                            <i class="icon icon_radio"></i>
                            B. politicians
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="257" id="257" disabled="">
                                <label for="257">
                            <i class="icon icon_radio"></i>
                            C. actors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="258" id="258" disabled="">
                                <label for="258">
                            <i class="icon icon_radio"></i>
                            D. fashion designers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. Who is Charles Bradford?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="259" id="259" disabled="">
                                <label for="259">
                            <i class="icon icon_radio"></i>
                            A. Alan's great grandfather
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="260" id="260" disabled="">
                                <label for="260">
                            <i class="icon icon_radio"></i>
                            B. someone who will open the building
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="261" id="261" disabled="">
                                <label for="261">
                            <i class="icon icon_radio"></i>
                            C. an artist
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="262" id="262" disabled="">
                                <label for="262">
                            <i class="icon icon_radio"></i>
                            D. a classical music player
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>