<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
                        following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning, this is the 9 o'clock business news! The dollar has edged towards seven-week
                            lows against both the yen and the euro because of fears about poor US retail sales and
                            banking results. Investment banks have already predicted
                            that the US economy will fall into recession in 2008, and analysts are also nervously
                            awaiting the release of retail sales data for December. As consumer spending accounts for
                            two-thirds of the US economy, the figure may indicate
                            whether the fears are correct. In December, the US Federal Reserve cut the interest rates
                            for the third time as it tried to help steer the world's largest economy through the
                            continuing housing slump.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="https://toeic24.vn/upload/audio/1564978176/1564992652.mp3" type="audio/mp3">
                        </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.16274%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:16</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. Who is being spoken to?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="359" id="359" disabled="">
                                <label for="359">
                                    <i class="icon icon_radio"></i>
                                    A. staff at registration
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="360" id="360" disabled="">
                                <label for="360">
                                    <i class="icon icon_radio"></i>
                                    B. delegates
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="361" id="361" disabled="">
                                <label for="361">
                                    <i class="icon icon_radio"></i>
                                    C. a presenter
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="362" id="362" disabled="">
                                <label for="362">
                                    <i class="icon icon_radio"></i>
                                    D. a conference organizer
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. How many times has this conference taken place before?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="363" id="363" disabled="">
                                <label for="363">
                                    <i class="icon icon_radio"></i>
                                    A. 4
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="364" id="364" disabled="">
                                <label for="364">
                                    <i class="icon icon_radio"></i>
                                    B. 1
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="365" id="365" disabled="">
                                <label for="365">
                                    <i class="icon icon_radio"></i>
                                    C. 0
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="366" id="366" disabled="">
                                <label for="366">
                                    <i class="icon icon_radio"></i>
                                    D. 2
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. What happens at 9.pm tomorrow?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="367" id="367" disabled="">
                                <label for="367">
                                    <i class="icon icon_radio"></i>
                                    A. resigtration begins
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="368" id="368" disabled="">
                                <label for="368">
                                    <i class="icon icon_radio"></i>
                                    B. delegates arrive
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="369" id="369" disabled="">
                                <label for="369">
                                    <i class="icon icon_radio"></i>
                                    C. presentations begin
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="370" id="370" disabled="">
                                <label for="370">
                                    <i class="icon icon_radio"></i>
                                    D. breakfast
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>