<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Your attention please. Would all passengers for the 11:15 to Atlanta, please proceed to platform six as the train now standing at platform four is the 10:50 to Washington. This change of platform is due to a problem with the signals.
                            The 11:15 to Atlanta will be delayed by fifteen minutes and will not be leaving until 11:30. This is the express train and so will not stop en route. For the slow train to Atlanta, please board the train now standing at platform
                            seven. This will be departing at 11:40 from platform seven. Thank you.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564991303.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.93822%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:14</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. Where would this announcement most likely be heard?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="263" id="263" disabled="">
                                <label for="263">
                            <i class="icon icon_radio"></i>
                            A. at a taxi stand
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="264" id="264" disabled="">
                                <label for="264">
                            <i class="icon icon_radio"></i>
                            B. at an airport
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="265" id="265" disabled="">
                                <label for="265">
                            <i class="icon icon_radio"></i>
                            C. at a train station
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="266" id="266" disabled="">
                                <label for="266">
                            <i class="icon icon_radio"></i>
                            D. on a ship
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. What time does the fast train to Atlanta leave?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="267" id="267" disabled="">
                                <label for="267">
                            <i class="icon icon_radio"></i>
                            A. 11.30
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="268" id="268" disabled="">
                                <label for="268">
                            <i class="icon icon_radio"></i>
                            B. 11.50
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="269" id="269" disabled="">
                                <label for="269">
                            <i class="icon icon_radio"></i>
                            C. 10.50
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="270" id="270" disabled="">
                                <label for="270">
                            <i class="icon icon_radio"></i>
                            D. 11.40
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. Which platform will the Washington train leave from?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="271" id="271" disabled="">
                                <label for="271">
                            <i class="icon icon_radio"></i>
                            A. six
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="272" id="272" disabled="">
                                <label for="272">
                            <i class="icon icon_radio"></i>
                            B. seven
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="273" id="273" disabled="">
                                <label for="273">
                            <i class="icon icon_radio"></i>
                            C. eleven
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="274" id="274" disabled="">
                                <label for="274">
                            <i class="icon icon_radio"></i>
                            D. four
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>