<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Hello, my name is John. I'll be serving your table tonight. Today we have some delicious specials. We have grilled salmon with a honey glaze; roast chicken; mixed grill or steak and pepper. We also have a fine selection of salad
                            and vegetables. I'll come round later with the dessert trolley as there are far too many tasty things to mention.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564991455.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.9591%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:49</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. Who is talking?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="275" id="275" disabled="">
                                <label for="275">
                            <i class="icon icon_radio"></i>
                            A. a receptionist
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="276" id="276" disabled="">
                                <label for="276">
                            <i class="icon icon_radio"></i>
                            B. a shop assistant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="277" id="277" disabled="">
                                <label for="277">
                            <i class="icon icon_radio"></i>
                            C. a waiter
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="278" id="278" disabled="">
                                <label for="278">
                            <i class="icon icon_radio"></i>
                            D. a butcher
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. How many specials are there to choose from?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="279" id="279" disabled="">
                                <label for="279">
                            <i class="icon icon_radio"></i>
                            A. 4
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="280" id="280" disabled="">
                                <label for="280">
                            <i class="icon icon_radio"></i>
                            B. 5
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="281" id="281" disabled="">
                                <label for="281">
                            <i class="icon icon_radio"></i>
                            C. 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="282" id="282" disabled="">
                                <label for="282">
                            <i class="icon icon_radio"></i>
                            D. 2
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. What does he not tell them about immediately?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="283" id="283" disabled="">
                                <label for="283">
                            <i class="icon icon_radio"></i>
                            A. the fish
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="284" id="284" disabled="">
                                <label for="284">
                            <i class="icon icon_radio"></i>
                            B. the steak
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="285" id="285" disabled="">
                                <label for="285">
                            <i class="icon icon_radio"></i>
                            C. the desserts
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="286" id="286" disabled="">
                                <label for="286">
                            <i class="icon icon_radio"></i>
                            D. the salads
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>