<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>This is "The Sky at Night". Today we have the acclaimed astronomer Mervyn Skylark. Mervyn is going to talk to us about the growing problem of light pollution in our cities. Five out of the twelve signs of the zodiac have already
                            been removed from view by light pollution and campaigners are trying to persuade governments to do something to change this problem. The amount of light pouring out into the night sky has increased by a quarter in the past
                            ten years and only eleven per cent of the country is free of light pollution. Now over to our expert, Mervyn, but first a little music.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564991595.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.1641%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. Who is the talk directed at?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="287" id="287" disabled="">
                                <label for="287">
                            <i class="icon icon_radio"></i>
                            A. campaigners
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="288" id="288" disabled="">
                                <label for="288">
                            <i class="icon icon_radio"></i>
                            B. radio listeners
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="289" id="289" disabled="">
                                <label for="289">
                            <i class="icon icon_radio"></i>
                            C. politicians
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="290" id="290" disabled="">
                                <label for="290">
                            <i class="icon icon_radio"></i>
                            D. astronomers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. By what percentage has light pollution increased over the last ten years?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="291" id="291" disabled="">
                                <label for="291">
                            <i class="icon icon_radio"></i>
                            A. 25%
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="292" id="292" disabled="">
                                <label for="292">
                            <i class="icon icon_radio"></i>
                            B. 10%
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="293" id="293" disabled="">
                                <label for="293">
                            <i class="icon icon_radio"></i>
                            C. 11%
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="294" id="294" disabled="">
                                <label for="294">
                            <i class="icon icon_radio"></i>
                            D. 5%
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What is the next thing the listeners will hear?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="295" id="295" disabled="">
                                <label for="295">
                            <i class="icon icon_radio"></i>
                            A. an astronomer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="296" id="296" disabled="">
                                <label for="296">
                            <i class="icon icon_radio"></i>
                            B. Mervyn
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="297" id="297" disabled="">
                                <label for="297">
                            <i class="icon icon_radio"></i>
                            C. music
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="298" id="298" disabled="">
                                <label for="298">
                            <i class="icon icon_radio"></i>
                            D. horoscopes
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>