<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 83 - 85 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>Good evening, ladies and gentlemen, and may I welcome you to the Astoria Theatre. Tonight's film, "The Longest Day", is the third in this week's series of twelve films about human relationships. This is the second time we've run a film series and I'm sure it will be as popular as the first one. "The Longest Day" is a moving film about a father's struggle to deal with his son's illness. For 24 hours the father doesn't know if his son will live or die. The film which runs for 120 minutes will break even the hardest heart. After the film we invite you to a cheese and wine reception and you will have the chance to talk to both the director and some of the actors.&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564991783.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 8.10482%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:19</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>83. How many films will be shown this week?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="82" value="299" id="299" disabled="">
                        <label for="299">
                            <i class="icon icon_radio"></i>
                            A. three
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="82" value="300" id="300" disabled="">
                        <label for="300">
                            <i class="icon icon_radio"></i>
                            B. seven
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="82" value="301" id="301" disabled="">
                        <label for="301">
                            <i class="icon icon_radio"></i>
                            C. twelve
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="82" value="302" id="302" disabled="">
                        <label for="302">
                            <i class="icon icon_radio"></i>
                            D. two
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>84. How long is the film?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="83" value="303" id="303" disabled="">
                        <label for="303">
                            <i class="icon icon_radio"></i>
                            A. half an hour
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="83" value="304" id="304" disabled="">
                        <label for="304">
                            <i class="icon icon_radio"></i>
                            B. an hour
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="83" value="305" id="305" disabled="">
                        <label for="305">
                            <i class="icon icon_radio"></i>
                            C. one and a half hours
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="83" value="306" id="306" disabled="">
                        <label for="306">
                            <i class="icon icon_radio"></i>
                            D. two hours
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>85. What will happen after the film?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="84" value="307" id="307" disabled="">
                        <label for="307">
                            <i class="icon icon_radio"></i>
                            A. There will be refreshments
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="84" value="308" id="308" disabled="">
                        <label for="308">
                            <i class="icon icon_radio"></i>
                            B. The director will make a speech
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="84" value="309" id="309" disabled="">
                        <label for="309">
                            <i class="icon icon_radio"></i>
                            C. The actors will perform
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="84" value="310" id="310" disabled="">
                        <label for="310">
                            <i class="icon icon_radio"></i>
                            D. They will go to a wine bar
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>