<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Attention shoppers. Today we have all sorts of bargains and special offers to tell you about. Firstly on the ground floor, "KidsWorld" is giving away free toys to any child who persuades their mom or dad to purchase something from
                            the store. On the top floor, "The Coffee Place" has a special offer of a free cake with each drink purchased. Don't forget the cafes close at 5pm so make sure you stop for a break before then. Tonight's late-night shopping
                            finishes at 8pm so only four more hours to buy those final purchases. Happy shopping!&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564992073.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.4017%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. Where is this annoucement being made?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="311" id="311" disabled="">
                                <label for="311">
                            <i class="icon icon_radio"></i>
                            A. in a restaurant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="312" id="312" disabled="">
                                <label for="312">
                            <i class="icon icon_radio"></i>
                            B. at a train station
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="313" id="313" disabled="">
                                <label for="313">
                            <i class="icon icon_radio"></i>
                            C. in a shopping mall
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="314" id="314" disabled="">
                                <label for="314">
                            <i class="icon icon_radio"></i>
                            D. in a supermarket
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. Where can you get something free to eat?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="315" id="315" disabled="">
                                <label for="315">
                            <i class="icon icon_radio"></i>
                            A. "Kidsworld"
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="316" id="316" disabled="">
                                <label for="316">
                            <i class="icon icon_radio"></i>
                            B. "The Coffee Place"
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="317" id="317" disabled="">
                                <label for="317">
                            <i class="icon icon_radio"></i>
                            C. The bakery
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="318" id="318" disabled="">
                                <label for="318">
                            <i class="icon icon_radio"></i>
                            D. The supermarket
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What time is it now?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="319" id="319" disabled="">
                                <label for="319">
                            <i class="icon icon_radio"></i>
                            A.  5 pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="320" id="320" disabled="">
                                <label for="320">
                            <i class="icon icon_radio"></i>
                            B. 3 pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="321" id="321" disabled="">
                                <label for="321">
                            <i class="icon icon_radio"></i>
                            C. 4 pm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="322" id="322" disabled="">
                                <label for="322">
                            <i class="icon icon_radio"></i>
                            D. 8 pm
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>