<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 92 - 94 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>Okay, sir. I think I understand what the problem is with your computer. I'll try to talk you through how to fix the problem over the phone, but if that doesn't work you'll have to take the computer in to our nearest service center. Okay, first, are you connected to the internet? Good, okay, make sure all your other programs are closed. Now, find the "my computer icon", and double click on it. In this box find a place called "programs", and double click on that. Now, you should see that you have a list of all the programs on your computer....&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564992375.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 9.87223%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:09</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>92. What is the problem?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="91" value="335" id="335" disabled="">
                        <label for="335">
                            <i class="icon icon_radio"></i>
                            A. a computer is not working
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="91" value="336" id="336" disabled="">
                        <label for="336">
                            <i class="icon icon_radio"></i>
                            B. a computer did not arrive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="91" value="337" id="337" disabled="">
                        <label for="337">
                            <i class="icon icon_radio"></i>
                            C. someone needs to find a service center
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="91" value="338" id="338" disabled="">
                        <label for="338">
                            <i class="icon icon_radio"></i>
                            D. a telephone is not working
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>93. The woman speaking is </b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="92" value="339" id="339" disabled="">
                        <label for="339">
                            <i class="icon icon_radio"></i>
                            A. on the radio
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="92" value="340" id="340" disabled="">
                        <label for="340">
                            <i class="icon icon_radio"></i>
                            B. at the computer
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="92" value="341" id="341" disabled="">
                        <label for="341">
                            <i class="icon icon_radio"></i>
                            C. at a service center
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="92" value="342" id="342" disabled="">
                        <label for="342">
                            <i class="icon icon_radio"></i>
                            D. on the telephone
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>94. What should be done first?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="93" value="343" id="343" disabled="">
                        <label for="343">
                            <i class="icon icon_radio"></i>
                            A. click 'my computer' icon
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="93" value="344" id="344" disabled="">
                        <label for="344">
                            <i class="icon icon_radio"></i>
                            B. click 'program' icon
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="93" value="345" id="345" disabled="">
                        <label for="345">
                            <i class="icon icon_radio"></i>
                            C. connect to the internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="93" value="346" id="346" disabled="">
                        <label for="346">
                            <i class="icon icon_radio"></i>
                            D. close all programs
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>