<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 95 - 97 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>Good morning, this is the 9 o'clock business news! The dollar has edged towards seven-week lows against both the yen and the euro because of fears about poor US retail sales and banking results. Investment banks have already predicted that the US economy will fall into recession in 2008, and analysts are also nervously awaiting the release of retail sales data for December. As consumer spending accounts for two-thirds of the US economy, the figure may indicate whether the fears are correct. In December, the US Federal Reserve cut the interest rates for the third time as it tried to help steer the world's largest economy through the continuing housing slump.&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564992493.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 8.93455%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:14</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>95. Who is most likely speaking?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="94" value="347" id="347" disabled="">
                        <label for="347">
                            <i class="icon icon_radio"></i>
                            A. a store owner
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="94" value="348" id="348" disabled="">
                        <label for="348">
                            <i class="icon icon_radio"></i>
                            B. a radio announcer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="94" value="349" id="349" disabled="">
                        <label for="349">
                            <i class="icon icon_radio"></i>
                            C. a professor
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="94" value="350" id="350" disabled="">
                        <label for="350">
                            <i class="icon icon_radio"></i>
                            D. someone who read a newspaper
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>96. What is predicted to happen in 2008?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="95" value="351" id="351" disabled="">
                        <label for="351">
                            <i class="icon icon_radio"></i>
                            A. a recession
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="95" value="352" id="352" disabled="">
                        <label for="352">
                            <i class="icon icon_radio"></i>
                            B. the dollar will rise against the yen
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="95" value="353" id="353" disabled="">
                        <label for="353">
                            <i class="icon icon_radio"></i>
                            C. a housing slump
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="95" value="354" id="354" disabled="">
                        <label for="354">
                            <i class="icon icon_radio"></i>
                            D. interest rates will be cut
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>97. What accounts for two thirds of the US economy?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="96" value="355" id="355" disabled="">
                        <label for="355">
                            <i class="icon icon_radio"></i>
                            A. consumer spending
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="96" value="356" id="356" disabled="">
                        <label for="356">
                            <i class="icon icon_radio"></i>
                            B. housing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="96" value="357" id="357" disabled="">
                        <label for="357">
                            <i class="icon icon_radio"></i>
                            C. banking
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="96" value="358" id="358" disabled="">
                        <label for="358">
                            <i class="icon icon_radio"></i>
                            D. investment
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>