<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Hi! I'm sorry I'm late. The traffic on 35E was impossible.</p>

                        <p>M: Really? But it's not even rush hour.</p>

                        <p>W: I know, but it's summertime and there's a lot of construction.</p>

                        <p>M: Well anyway. I suppose we shouldn't waste any more time. We've got a lot of work today before the big presentation tomorrow.</p>

                        <p>W: Oh, I cannot wait until it is all over and done with. I have such a fear of public speaking.</p>

                        <p>M: What's there to be afraid of? You know the material better than anyone in the class.&nbsp;</p>

                        <p>W: It's all mental; it has nothing to do with the material. But whenever I stand up in front of other people I start trembling. My mouth goes dry, I start stuttering, and I also fidget with my hands.</p>

                        <p>M: Now you're making me nervous. We better practice a lot. Certainly the content is more important than delivery, but people need to understand what you are saying!</p>

                        <p>W: Ok, let's finish putting together the last of the pages for the powerpoint presentation, and then we'll rehearse until it's perfect. If I say the presentation enough times, I think the words will flow easier tomorrow.</p>

                        <p>M: Ok, let's get cracking.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565773137.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.33518%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:44</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. What is the reason for the traffic on 35E?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="1937" id="1937" disabled="">
                                <label for="1937">
                            <i class="icon icon_radio"></i>
                            A. an accident
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="1938" id="1938" disabled="">
                                <label for="1938">
                            <i class="icon icon_radio"></i>
                            B. bad weather
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="1939" id="1939" disabled="">
                                <label for="1939">
                            <i class="icon icon_radio"></i>
                            C. rush hour
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="1940" id="1940" disabled="">
                                <label for="1940">
                            <i class="icon icon_radio"></i>
                            D. roadworks
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. What is at fault for the woman's nervousness?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="1941" id="1941" disabled="">
                                <label for="1941">
                            <i class="icon icon_radio"></i>
                            A. not knowing the material
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="1942" id="1942" disabled="">
                                <label for="1942">
                            <i class="icon icon_radio"></i>
                            B. psychological obstacles
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="1943" id="1943" disabled="">
                                <label for="1943">
                            <i class="icon icon_radio"></i>
                            C. pressure from other people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="1944" id="1944" disabled="">
                                <label for="1944">
                            <i class="icon icon_radio"></i>
                            D. her stutter
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. What, according to the man, is the most important part of the presentation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="1945" id="1945" disabled="">
                                <label for="1945">
                            <i class="icon icon_radio"></i>
                            A. its substance 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="1946" id="1946" disabled="">
                                <label for="1946">
                            <i class="icon icon_radio"></i>
                            B. its delivery
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="1947" id="1947" disabled="">
                                <label for="1947">
                            <i class="icon icon_radio"></i>
                            C. its comprehensibility
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="1948" id="1948" disabled="">
                                <label for="1948">
                            <i class="icon icon_radio"></i>
                            D. its flow
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>