<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Do you think James will get the promotion?</p>

                        <p>W: He definitely has a good chance and certainly deserves it. But remember, Paul is the boss's nephew and he is also up for the job.</p>

                        <p>M: But Cindy's a fair boss. She would never promote someone who was less qualified just because they were family.</p>

                        <p>W: I don't think she would do it consciously, but it may play some role in her decision-making. I mean, it's not like Paul is completely unqualified for the position. If Paul and James are neck and neck for the position, Paul certainly
                            has the edge.&nbsp;</p>

                        <p>M: Well, James will just be wrecked if he doesn't get it. He's been working so hard.</p>

                        <p>W: Let's just hope for the best.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565777495.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.63532%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:10</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. What might hinder James's chance at the job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2045" id="2045" disabled="">
                                <label for="2045">
                            <i class="icon icon_radio"></i>
                            A. his qulifications
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2046" id="2046" disabled="">
                                <label for="2046">
                            <i class="icon icon_radio"></i>
                            B. an unfair boss
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2047" id="2047" disabled="">
                                <label for="2047">
                            <i class="icon icon_radio"></i>
                            C. not being related to his boss
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2048" id="2048" disabled="">
                                <label for="2048">
                            <i class="icon icon_radio"></i>
                            D. Paul being ruthless
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. What does the woman think about Paul?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2049" id="2049" disabled="">
                                <label for="2049">
                            <i class="icon icon_radio"></i>
                            A. He is unqualified
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2050" id="2050" disabled="">
                                <label for="2050">
                            <i class="icon icon_radio"></i>
                            B. He will try to persuade Cindy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2051" id="2051" disabled="">
                                <label for="2051">
                            <i class="icon icon_radio"></i>
                            C. He has the advantage
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2052" id="2052" disabled="">
                                <label for="2052">
                            <i class="icon icon_radio"></i>
                            D. He is better than James
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What does the man know about Paul?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2053" id="2053" disabled="">
                                <label for="2053">
                            <i class="icon icon_radio"></i>
                            A. his current emotional state
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2054" id="2054" disabled="">
                                <label for="2054">
                            <i class="icon icon_radio"></i>
                            B. that he is related to Cindy
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2055" id="2055" disabled="">
                                <label for="2055">
                            <i class="icon icon_radio"></i>
                            C. his level of disappointment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2056" id="2056" disabled="">
                                <label for="2056">
                            <i class="icon icon_radio"></i>
                            D. that he already has the position
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>