<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 44 - 46 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Joan, have you seen the Knight file? It was on my desk this morning, and now it is nowhere to be found.</p>

                        <p>W: I think Meredith said she wanted to look it over before the meeting with the administrators tonight.</p>

                        <p>M: Well, where is Meredith? I haven't seen her for a while now.</p>

                        <p>W: I think she's out for a few hours. She said something about meetings at the other office. I'm not sure, to tell you the truth.&nbsp;</p>

                        <p>M: I'll have to call her on her cell, then. I really need that file. I need to have it memorized by the meeting tonight, and I haven't even glanced at it yet.</p>

                        <p>W: Ok, call her. But be warned, she always turns her phone off when she is in meetings.</p>

                        <p>M: Oh, no. Well, I suppose it's my own fault for saving it until the very last moment. She probably assumed that I had already looked at it, considering it's been in my possession for the last three days.</p>

                        <p>W: So what are you going to do if you don't get a chance to read it?</p>

                        <p>M: Wing it, I guess. And let Meredith do most of the talking.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565773535.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.053%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:30</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>44. Why does the man want to find Meredith?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="43" value="1949" id="1949" disabled="">
                                <label for="1949">
                            <i class="icon icon_radio"></i>
                            A. to talk about their meeting tonight
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="1950" id="1950" disabled="">
                                <label for="1950">
                            <i class="icon icon_radio"></i>
                            B. to prepare her on the Knight file
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="1951" id="1951" disabled="">
                                <label for="1951">
                            <i class="icon icon_radio"></i>
                            C. to get a file he needs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="1952" id="1952" disabled="">
                                <label for="1952">
                            <i class="icon icon_radio"></i>
                            D. to make sure she is prepare for tonight
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>45. What is the man upset about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="44" value="1953" id="1953" disabled="">
                                <label for="1953">
                            <i class="icon icon_radio"></i>
                            A. his tendency to postpone things
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="1954" id="1954" disabled="">
                                <label for="1954">
                            <i class="icon icon_radio"></i>
                            B. Meredith's irresponsibility
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="1955" id="1955" disabled="">
                                <label for="1955">
                            <i class="icon icon_radio"></i>
                            C. the content of the meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="1956" id="1956" disabled="">
                                <label for="1956">
                            <i class="icon icon_radio"></i>
                            D. Joan's inability to help him
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>46. What will the man probably do at the meeting tonight?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="45" value="1957" id="1957" disabled="">
                                <label for="1957">
                            <i class="icon icon_radio"></i>
                            A. improvise it
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="1958" id="1958" disabled="">
                                <label for="1958">
                            <i class="icon icon_radio"></i>
                            B. ask to reschedule
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="1959" id="1959" disabled="">
                                <label for="1959">
                            <i class="icon icon_radio"></i>
                            C. not attend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="1960" id="1960" disabled="">
                                <label for="1960">
                            <i class="icon icon_radio"></i>
                            D. lead it
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>