<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 50 - 52 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>M: Here it is. Carousel A. And it says right here on the monitor that this has the luggage for flight 532 arriving from New York.</p>

<p>W: It sure is crowded here. We're going to have to really push and shove to get to our luggage.</p>

<p>M: Well, we don't have to be at the convention center for another three hours and both the hotel and the center are only minutes away from the airport. What do you say we go and get some coffee over at that coffee stand in the corner?&nbsp;</p>

<p>W: That's a good idea. We can let the crowd die out a little bit and then come claim our luggage. Plus, I'm falling asleep! I could really use a caffeine kick!</p>

<p>M: Let's go then. My treat.</p>

<p>W: You don't have to do that. Let me get it.</p>

<p>M: No. I insist. Consider it a small thank you for letting me ride with you to the airport this morning.</p>

<p>W: Ok, but I'll get the coffee on the way back.</p>

<p>M: Deal.&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565774381.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 8.00035%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:22</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>50. Where are the two individuals?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="49" value="1973" id="1973" disabled="">
                        <label for="1973">
                            <i class="icon icon_radio"></i>
                            A. their gate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="49" value="1974" id="1974" disabled="">
                        <label for="1974">
                            <i class="icon icon_radio"></i>
                            B. the security line
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="49" value="1975" id="1975" disabled="">
                        <label for="1975">
                            <i class="icon icon_radio"></i>
                            C. the baggage claim area
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="49" value="1976" id="1976" disabled="">
                        <label for="1976">
                            <i class="icon icon_radio"></i>
                            D. the convention center
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>51. Why are they going to get coffee?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="50" value="1977" id="1977" disabled="">
                        <label for="1977">
                            <i class="icon icon_radio"></i>
                            A. They need caffeine to stay awake
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="50" value="1978" id="1978" disabled="">
                        <label for="1978">
                            <i class="icon icon_radio"></i>
                            B. Their belongings will arrive in three hours
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="50" value="1979" id="1979" disabled="">
                        <label for="1979">
                            <i class="icon icon_radio"></i>
                            C. To avoid the swarm of people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="50" value="1980" id="1980" disabled="">
                        <label for="1980">
                            <i class="icon icon_radio"></i>
                            D. They can't leave for another three hours
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>52. Why does he want to pay for the coffee?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="51" value="1981" id="1981" disabled="">
                        <label for="1981">
                            <i class="icon icon_radio"></i>
                            A. She paid last time
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="51" value="1982" id="1982" disabled="">
                        <label for="1982">
                            <i class="icon icon_radio"></i>
                            B. She drove him to the airport
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="51" value="1983" id="1983" disabled="">
                        <label for="1983">
                            <i class="icon icon_radio"></i>
                            C. She wants to pay on the way back
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="51" value="1984" id="1984" disabled="">
                        <label for="1984">
                            <i class="icon icon_radio"></i>
                            D. It was her idea
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>