<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 53 - 55 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>W: Excuse me. Is this Dr. John Evans' office?</p>

<p>M: It sure is. Do you have an appointment?</p>

<p>W: No actually. His name was given to me by a colleague. I've been suffering from insomnia for the last few months. I've gone to M.D.'s and taken herbs and nothing seems to work. I thought a psychologist might help me work through the stress that is causing the insomnia.</p>

<p>M: That sounds like a reasonable solution to me. Now, Dr. Evans is booked every day, so I'm afraid you can't see him without an appointment.&nbsp;</p>

<p>W: I figured that much. I just came to the actual office instead of calling because I was in the area. Can I make an appointment with you, then?</p>

<p>M: Definitely. We'll schedule you first for a half hour consultation. After that consultation, Dr. Evans will suggest how often you should come and we'll schedule accordingly.</p>

<p>W: That sounds good. When can I get an appointment?</p>

<p>M: Usually he's booked for weeks straight. But fortunately for you he just had a cancellation for this Friday at 2. Can you make it?</p>

<p>W: I'll be there.&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565775166.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 7.06158%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:36</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>53. Who referred the woman to Dr. Evans?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="52" value="1985" id="1985" disabled="">
                        <label for="1985">
                            <i class="icon icon_radio"></i>
                            A. a co-worker
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="52" value="1986" id="1986" disabled="">
                        <label for="1986">
                            <i class="icon icon_radio"></i>
                            B. a doctor
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="52" value="1987" id="1987" disabled="">
                        <label for="1987">
                            <i class="icon icon_radio"></i>
                            C. the man
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="52" value="1988" id="1988" disabled="">
                        <label for="1988">
                            <i class="icon icon_radio"></i>
                            D. her psychologist
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>54. Why does the woman want to be Dr. Evans' patient?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="53" value="1989" id="1989" disabled="">
                        <label for="1989">
                            <i class="icon icon_radio"></i>
                            A. She wants some herbs
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="53" value="1990" id="1990" disabled="">
                        <label for="1990">
                            <i class="icon icon_radio"></i>
                            B. She inefficient at work
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="53" value="1991" id="1991" disabled="">
                        <label for="1991">
                            <i class="icon icon_radio"></i>
                            C. She can't sleep at night
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="53" value="1992" id="1992" disabled="">
                        <label for="1992">
                            <i class="icon icon_radio"></i>
                            D. She has a food disorder
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>55. When will she actually see Dr. Evans?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="54" value="1993" id="1993" disabled="">
                        <label for="1993">
                            <i class="icon icon_radio"></i>
                            A. two weeks from Thursday
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="54" value="1994" id="1994" disabled="">
                        <label for="1994">
                            <i class="icon icon_radio"></i>
                            B. today
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="54" value="1995" id="1995" disabled="">
                        <label for="1995">
                            <i class="icon icon_radio"></i>
                            C. in half an hour
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="54" value="1996" id="1996" disabled="">
                        <label for="1996">
                            <i class="icon icon_radio"></i>
                            D. Friday
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>