<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Are you just getting back from work now? It's late.</p>

                        <p>W: I know. I had the greatest day though.</p>

                        <p>M: You are the only person I know who comes back from 14 hours of work and calls it a great day.</p>

                        <p>W: Well, this new job is very exciting for me. It's the first time I'm doing something I actually love and I am talented at.</p>

                        <p>M: So, why was it such a great day?</p>

                        <p>W: My boss let me sit in on a meeting with the Calvin Klein designer, which I take as a sign that she is preparing me to have more responsibilities in the future.&nbsp;</p>

                        <p>M: I think that is a safe assumption.</p>

                        <p>W: Also, I told her I liked a certain design and she ordered a ton of it.</p>

                        <p>M: It sounds like you are really earning the respect of your boss; and quickly too! You have accomplished a lot in just 2 months on the job.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565775628.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.38695%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:34</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. According to the man, what is unique about the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="1997" id="1997" disabled="">
                                <label for="1997">
                            <i class="icon icon_radio"></i>
                            A. She works 14 hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="1998" id="1998" disabled="">
                                <label for="1998">
                            <i class="icon icon_radio"></i>
                            B. She loves a long day at work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="1999" id="1999" disabled="">
                                <label for="1999">
                            <i class="icon icon_radio"></i>
                            C. She leaves for work late
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2000" id="2000" disabled="">
                                <label for="2000">
                            <i class="icon icon_radio"></i>
                            D. She likes her work
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. What does going to the Calvin Klein meeting probably mean for the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2001" id="2001" disabled="">
                                <label for="2001">
                            <i class="icon icon_radio"></i>
                            A. a new client for her to work with
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2002" id="2002" disabled="">
                                <label for="2002">
                            <i class="icon icon_radio"></i>
                            B. a chance to work in a different department 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2003" id="2003" disabled="">
                                <label for="2003">
                            <i class="icon icon_radio"></i>
                            C. she could be promoted at some point
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2004" id="2004" disabled="">
                                <label for="2004">
                            <i class="icon icon_radio"></i>
                            D. she could work for Calvin Klein
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. Why did the boss order a lot of a particular design?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2005" id="2005" disabled="">
                                <label for="2005">
                            <i class="icon icon_radio"></i>
                            A. She values the woman's opinion
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2006" id="2006" disabled="">
                                <label for="2006">
                            <i class="icon icon_radio"></i>
                            B. The Calvin Klein reps suggested it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2007" id="2007" disabled="">
                                <label for="2007">
                            <i class="icon icon_radio"></i>
                            C. They are sampling a new clothing line
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2008" id="2008" disabled="">
                                <label for="2008">
                            <i class="icon icon_radio"></i>
                            D. The woman designed it herself
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>