<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Are you leaving for home already, Ed? It's only 3:30.</p>

                        <p>M: I know. But I've been here since 7.</p>

                        <p>W: Why the sudden change of schedule? I've never known you to be an early bird.</p>

                        <p>M: I'm definitely not and I am somewhat sleep deprived. But my son is in the state soccer tournament and I can't miss any of his games.</p>

                        <p>W: You are such a dedicated father. And an employee at that! I'm not nearly as efficient as you are in the office. But the first thing I do when I come home is take a nap. I don't know how you have the energy to work fulltime and
                            have a family.&nbsp;</p>

                        <p>M: Well, I wasn't up to it at your age, that's for sure. This is only your first year on the job. It takes a while to get a rhythm. Once you're settled here, you'll find you'll have more energy for other aspects of your life. I
                            promise! Ok, I better go. I can't miss kick-off!</p>

                        <p>W: Have fun and good luck to your son!&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565776270.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.8917%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:26</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. Why is it acceptable for Ed to leave at 3:30?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2009" id="2009" disabled="">
                                <label for="2009">
                            <i class="icon icon_radio"></i>
                            A. He already put in a full day
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2010" id="2010" disabled="">
                                <label for="2010">
                            <i class="icon icon_radio"></i>
                            B. He is allowed to work half days when he wants
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2011" id="2011" disabled="">
                                <label for="2011">
                            <i class="icon icon_radio"></i>
                            C. He is his own boss
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2012" id="2012" disabled="">
                                <label for="2012">
                            <i class="icon icon_radio"></i>
                            D. His boss changed his schedule
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. What does the woman admire about the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2013" id="2013" disabled="">
                                <label for="2013">
                            <i class="icon icon_radio"></i>
                            A. his bravery to leave work early
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2014" id="2014" disabled="">
                                <label for="2014">
                            <i class="icon icon_radio"></i>
                            B. how he puts family first
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2015" id="2015" disabled="">
                                <label for="2015">
                            <i class="icon icon_radio"></i>
                            C. his ability to wake up so early all the time
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2016" id="2016" disabled="">
                                <label for="2016">
                            <i class="icon icon_radio"></i>
                            D. his ability to succeed in various aspects of life
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. How does the man reassure the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2017" id="2017" disabled="">
                                <label for="2017">
                            <i class="icon icon_radio"></i>
                            A. He tells her his life is not for everyone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2018" id="2018" disabled="">
                                <label for="2018">
                            <i class="icon icon_radio"></i>
                            B. He recounts his past successes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2019" id="2019" disabled="">
                                <label for="2019">
                            <i class="icon icon_radio"></i>
                            C. He tell her it's possible to combine work ad leisure
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2020" id="2020" disabled="">
                                <label for="2020">
                            <i class="icon icon_radio"></i>
                            D. He says she could do it, too, if she really wanted it
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>