<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 62 - 64 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>W: Adam, hi! What are you doing here?</p>

<p>M: Since you weren't answering any of your calls, I thought I'd make a home visit.</p>

<p>W: I know, I'm sorry. I know you are looking for this week's column, and I know I'm past dead-line.... it's just that I had some family things come up this week and I'm a little behind schedule.</p>

<p>M: Jenny, you are always past deadline. And although, as your editor, that used to stress me out a lot, I've grown accustomed to it the last few years.&nbsp;</p>

<p>W: Well, then what is this about? Is something wrong?</p>

<p>M: Well, a publishing company contacted me a week ago with an interest in turning your columns into a book. I promised to set up a meeting between you and them by the end of the week, but then again, I didn't expect you to be avoiding my calls for seven days straight.</p>

<p>W: Are you serious?!</p>

<p>M: Yes, I'm serious, but they are starting to think that YOU are not serious. I've set up a meeting for today at four. Can you make it?</p>

<p>W: Of course!&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565776646.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 6.87989%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:36</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>62. Where does this conversation take place?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="61" value="2021" id="2021" disabled="">
                        <label for="2021">
                            <i class="icon icon_radio"></i>
                            A. over the telephone
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="61" value="2022" id="2022" disabled="">
                        <label for="2022">
                            <i class="icon icon_radio"></i>
                            B. at the woman's house
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="61" value="2023" id="2023" disabled="">
                        <label for="2023">
                            <i class="icon icon_radio"></i>
                            C. at the editor's office
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="61" value="2024" id="2024" disabled="">
                        <label for="2024">
                            <i class="icon icon_radio"></i>
                            D. at a publishing company
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>63. What has the man gotten used to?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="62" value="2025" id="2025" disabled="">
                        <label for="2025">
                            <i class="icon icon_radio"></i>
                            A. the stress of deadlines
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="62" value="2026" id="2026" disabled="">
                        <label for="2026">
                            <i class="icon icon_radio"></i>
                            B. non-returned phone calls
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="62" value="2027" id="2027" disabled="">
                        <label for="2027">
                            <i class="icon icon_radio"></i>
                            C. that the woman is often late
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="62" value="2028" id="2028" disabled="">
                        <label for="2028">
                            <i class="icon icon_radio"></i>
                            D. unexpected obstacles in publishing
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>64. What does the publishing company want to meet with the woman about?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="63" value="2029" id="2029" disabled="">
                        <label for="2029">
                            <i class="icon icon_radio"></i>
                            A. a novel they want her to write
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="63" value="2030" id="2030" disabled="">
                        <label for="2030">
                            <i class="icon icon_radio"></i>
                            B. publishing a collection of her columns
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="63" value="2031" id="2031" disabled="">
                        <label for="2031">
                            <i class="icon icon_radio"></i>
                            C. her irresponsibility
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="63" value="2032" id="2032" disabled="">
                        <label for="2032">
                            <i class="icon icon_radio"></i>
                            D. her missing their last scheduled meeting
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>