<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: As I said over the phone, I've been an accountant for the last ten years and have recently quit my job. I want to find a career that I am passionate about.</p>

                        <p>W: And what provoked your interest in advertising?</p>

                        <p>M: Well, there's still a lot for me to learn about the field, but it seems to grant me the opportunity to exercise both my creativity and my intelligence.</p>

                        <p>W: That is certainly true. And there is actually an opening at the agency.&nbsp;</p>

                        <p>M: Honestly? What position is it?</p>

                        <p>W: It's an unpaid internship. It will allow you to dabble in the various aspects of the advertising world, so you can find a specific area that suits you best. Also it will allow you to develop a strong portfolio.</p>

                        <p>M: But did you say unpaid?</p>

                        <p>W: Well, yes. Remember. You are starting a new career so you're going to have to start at the bottom and work your way up. It will be years until you make what you were making at your old job.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565776990.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.2743%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:29</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. Why does the man want to be in advertising?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="2033" id="2033" disabled="">
                                <label for="2033">
                            <i class="icon icon_radio"></i>
                            A. because he is inventive and smart
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2034" id="2034" disabled="">
                                <label for="2034">
                            <i class="icon icon_radio"></i>
                            B. he was fired from his last job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2035" id="2035" disabled="">
                                <label for="2035">
                            <i class="icon icon_radio"></i>
                            C. he knows he is passionate about it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2036" id="2036" disabled="">
                                <label for="2036">
                            <i class="icon icon_radio"></i>
                            D. it's comparable to accounting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. According to the woman, why should he get the job at the agency?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="2037" id="2037" disabled="">
                                <label for="2037">
                            <i class="icon icon_radio"></i>
                            A. to become creative
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2038" id="2038" disabled="">
                                <label for="2038">
                            <i class="icon icon_radio"></i>
                            B. to compare it to his old job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2039" id="2039" disabled="">
                                <label for="2039">
                            <i class="icon icon_radio"></i>
                            C. to get experience
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2040" id="2040" disabled="">
                                <label for="2040">
                            <i class="icon icon_radio"></i>
                            D. to add passion to his life
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. What is the man concerned about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="2041" id="2041" disabled="">
                                <label for="2041">
                            <i class="icon icon_radio"></i>
                            A. not excelling
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2042" id="2042" disabled="">
                                <label for="2042">
                            <i class="icon icon_radio"></i>
                            B. finding an area that suits him best
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2043" id="2043" disabled="">
                                <label for="2043">
                            <i class="icon icon_radio"></i>
                            C. not getting paid for working
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2044" id="2044" disabled="">
                                <label for="2044">
                            <i class="icon icon_radio"></i>
                            D. missing his old job
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>