<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <img src="https://toeic24.vn/upload/img/resized/1565679577.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565679577.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 41.3807%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:19</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>1. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="0" value="1051" id="1051" disabled="">
                        <label for="1051">
                            <i class="icon icon_radio"></i>
                            A. They are fixing their car
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="0" value="1052" id="1052" disabled="">
                        <label for="1052">
                            <i class="icon icon_radio"></i>
                            B. They are having a picnic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="0" value="1053" id="1053" disabled="">
                        <label for="1053">
                            <i class="icon icon_radio"></i>
                            C. They are sitting next to each other
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="0" value="1054" id="1054" disabled="">
                        <label for="1054">
                            <i class="icon icon_radio"></i>
                            D. The table is round
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565679771.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565679771.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 42.2555%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:18</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>2. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="1" value="1055" id="1055" disabled="">
                        <label for="1055">
                            <i class="icon icon_radio"></i>
                            A. There is a traffic jam
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="1" value="1056" id="1056" disabled="">
                        <label for="1056">
                            <i class="icon icon_radio"></i>
                            B. He has parked his car
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="1" value="1057" id="1057" disabled="">
                        <label for="1057">
                            <i class="icon icon_radio"></i>
                            C. The car has been in a crash
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="1" value="1058" id="1058" disabled="">
                        <label for="1058">
                            <i class="icon icon_radio"></i>
                            D. He is leaving the parking lot
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565679831.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565679831.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 40.8551%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:19</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>3. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="2" value="1059" id="1059" disabled="">
                        <label for="1059">
                            <i class="icon icon_radio"></i>
                            A. The people are getting on the ferry boat
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="2" value="1060" id="1060" disabled="">
                        <label for="1060">
                            <i class="icon icon_radio"></i>
                            B. The sea is calm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="2" value="1061" id="1061" disabled="">
                        <label for="1061">
                            <i class="icon icon_radio"></i>
                            C. The ferry boat is sinking
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="2" value="1062" id="1062" disabled="">
                        <label for="1062">
                            <i class="icon icon_radio"></i>
                            D. There is a storm at sea
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565679879.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565679879.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 43.4227%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:17</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>4. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="3" value="1063" id="1063" disabled="">
                        <label for="1063">
                            <i class="icon icon_radio"></i>
                            A. He can't swim
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="3" value="1064" id="1064" disabled="">
                        <label for="1064">
                            <i class="icon icon_radio"></i>
                            B. He's sunbathing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="3" value="1065" id="1065" disabled="">
                        <label for="1065">
                            <i class="icon icon_radio"></i>
                            C. He has fallen in the water
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="3" value="1066" id="1066" disabled="">
                        <label for="1066">
                            <i class="icon icon_radio"></i>
                            D. He's in the open air
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565679942.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565679943.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 45.9009%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:17</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>5. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="4" value="1067" id="1067" disabled="">
                        <label for="1067">
                            <i class="icon icon_radio"></i>
                            A. He's reading the contract
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="4" value="1068" id="1068" disabled="">
                        <label for="1068">
                            <i class="icon icon_radio"></i>
                            B. He's bought a newspaper
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="4" value="1069" id="1069" disabled="">
                        <label for="1069">
                            <i class="icon icon_radio"></i>
                            C. He's mailing a letter
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="4" value="1070" id="1070" disabled="">
                        <label for="1070">
                            <i class="icon icon_radio"></i>
                            D. He's written a book
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565680013.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565680014.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 38.0063%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:19</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>6. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="5" value="1071" id="1071" disabled="">
                        <label for="1071">
                            <i class="icon icon_radio"></i>
                            A. They are cycling up the big hill
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="5" value="1072" id="1072" disabled="">
                        <label for="1072">
                            <i class="icon icon_radio"></i>
                            B. They are on different motorcycles
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="5" value="1073" id="1073" disabled="">
                        <label for="1073">
                            <i class="icon icon_radio"></i>
                            C. The police officer is stopping them
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="5" value="1074" id="1074" disabled="">
                        <label for="1074">
                            <i class="icon icon_radio"></i>
                            D. They are wearing helmets
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565680075.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565680075.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 41.3916%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:18</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>7. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="6" value="1075" id="1075" disabled="">
                        <label for="1075">
                            <i class="icon icon_radio"></i>
                            A. The car is by the sidewalk
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="6" value="1076" id="1076" disabled="">
                        <label for="1076">
                            <i class="icon icon_radio"></i>
                            B. The car has hit the tree
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="6" value="1077" id="1077" disabled="">
                        <label for="1077">
                            <i class="icon icon_radio"></i>
                            C. It is a beautiful forest
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="6" value="1078" id="1078" disabled="">
                        <label for="1078">
                            <i class="icon icon_radio"></i>
                            D. She is getting in to the car
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565680144.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565680144.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 41.0214%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:18</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>8. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="7" value="1079" id="1079" disabled="">
                        <label for="1079">
                            <i class="icon icon_radio"></i>
                            A. They are sitting opposite each other
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="7" value="1080" id="1080" disabled="">
                        <label for="1080">
                            <i class="icon icon_radio"></i>
                            B. She has lost her glasses
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="7" value="1081" id="1081" disabled="">
                        <label for="1081">
                            <i class="icon icon_radio"></i>
                            C. They are looking at the same thing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="7" value="1082" id="1082" disabled="">
                        <label for="1082">
                            <i class="icon icon_radio"></i>
                            D. He is wearing a suite
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565680197.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565680197.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 45.0057%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:16</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>9. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="8" value="1083" id="1083" disabled="">
                        <label for="1083">
                            <i class="icon icon_radio"></i>
                            A. He has fallen asleep
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="8" value="1084" id="1084" disabled="">
                        <label for="1084">
                            <i class="icon icon_radio"></i>
                            B. He is with his friends
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="8" value="1085" id="1085" disabled="">
                        <label for="1085">
                            <i class="icon icon_radio"></i>
                            C. He is cutting the grass
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="8" value="1086" id="1086" disabled="">
                        <label for="1086">
                            <i class="icon icon_radio"></i>
                            D. He is relaxing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565680262.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665886/1565680262.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 81.3674%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:18</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>10. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="9" value="1087" id="1087" disabled="">
                        <label for="1087">
                            <i class="icon icon_radio"></i>
                            A. He is working hard
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="9" value="1088" id="1088" disabled="">
                        <label for="1088">
                            <i class="icon icon_radio"></i>
                            B. He is selling potatoes
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="9" value="1089" id="1089" disabled="">
                        <label for="1089">
                            <i class="icon icon_radio"></i>
                            C. There are a lot of people working together
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="9" value="1090" id="1090" disabled="">
                        <label for="1090">
                            <i class="icon icon_radio"></i>
                            D. His car is stuck
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                        <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>