<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <img src="https://toeic24.vn/upload/img/resized/1565680641.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565680642.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 47.7604%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="1091" id="1091" disabled="">
                                <label for="1091">
                            <i class="icon icon_radio"></i>
                            A. A lot of the men aren't working
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="1092" id="1092" disabled="">
                                <label for="1092">
                            <i class="icon icon_radio"></i>
                            B. All the men are involved in the work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="1093" id="1093" disabled="">
                                <label for="1093">
                            <i class="icon icon_radio"></i>
                            C. They have finished their work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="1094" id="1094" disabled="">
                                <label for="1094">
                            <i class="icon icon_radio"></i>
                            D. They will start working soon
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565680699.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565680699.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 48.3649%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:14</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="1095" id="1095" disabled="">
                                <label for="1095">
                            <i class="icon icon_radio"></i>
                            A. He's working on the roof
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="1096" id="1096" disabled="">
                                <label for="1096">
                            <i class="icon icon_radio"></i>
                            B. He is climbing a ladder
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="1097" id="1097" disabled="">
                                <label for="1097">
                            <i class="icon icon_radio"></i>
                            C. He is sunbathing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="1098" id="1098" disabled="">
                                <label for="1098">
                            <i class="icon icon_radio"></i>
                            D. He is throwing a ball
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565680770.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565680770.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 36.7143%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="1099" id="1099" disabled="">
                                <label for="1099">
                            <i class="icon icon_radio"></i>
                            A. He's talking in a phone booth
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="1100" id="1100" disabled="">
                                <label for="1100">
                            <i class="icon icon_radio"></i>
                            B. He's fixing his car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="1101" id="1101" disabled="">
                                <label for="1101">
                            <i class="icon icon_radio"></i>
                            C. He's drawing a map
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="1102" id="1102" disabled="">
                                <label for="1102">
                            <i class="icon icon_radio"></i>
                            D. He's leaning on his car
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565680827.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565680827.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 56.2111%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:14</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="1103" id="1103" disabled="">
                                <label for="1103">
                            <i class="icon icon_radio"></i>
                            A. He is buying some bread
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="1104" id="1104" disabled="">
                                <label for="1104">
                            <i class="icon icon_radio"></i>
                            B. He's cooking the dinner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="1105" id="1105" disabled="">
                                <label for="1105">
                            <i class="icon icon_radio"></i>
                            C. He works in a bakery
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="1106" id="1106" disabled="">
                                <label for="1106">
                            <i class="icon icon_radio"></i>
                            D. He's eating some bread
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565680908.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565680908.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 30.1875%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:15</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="1107" id="1107" disabled="">
                                <label for="1107">
                            <i class="icon icon_radio"></i>
                            A. He's facing the crowd
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="1108" id="1108" disabled="">
                                <label for="1108">
                            <i class="icon icon_radio"></i>
                            B. The crowd is aggressive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="1109" id="1109" disabled="">
                                <label for="1109">
                            <i class="icon icon_radio"></i>
                            C. He's ready for action
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="1110" id="1110" disabled="">
                                <label for="1110">
                            <i class="icon icon_radio"></i>
                            D. He's firing his gun
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565680958.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565680958.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 39.0629%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:14</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="1111" id="1111" disabled="">
                                <label for="1111">
                            <i class="icon icon_radio"></i>
                            A. They are at a market
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="1112" id="1112" disabled="">
                                <label for="1112">
                            <i class="icon icon_radio"></i>
                            B. They are in a restaurant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="1113" id="1113" disabled="">
                                <label for="1113">
                            <i class="icon icon_radio"></i>
                            C. They are on a farm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="1114" id="1114" disabled="">
                                <label for="1114">
                            <i class="icon icon_radio"></i>
                            D. They are growing vegetables
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565681027.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565681027.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 47.0118%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>7. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="1115" id="1115" disabled="">
                                <label for="1115">
                            <i class="icon icon_radio"></i>
                            A. All the children are holding hands
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="1116" id="1116" disabled="">
                                <label for="1116">
                            <i class="icon icon_radio"></i>
                            B. The children are in the street
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="1117" id="1117" disabled="">
                                <label for="1117">
                            <i class="icon icon_radio"></i>
                            C. The children are walking away
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="1118" id="1118" disabled="">
                                <label for="1118">
                            <i class="icon icon_radio"></i>
                            D. The children are sitting down
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565681085.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565681085.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 38.9669%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:15</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>8. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="1119" id="1119" disabled="">
                                <label for="1119">
                            <i class="icon icon_radio"></i>
                            A. They are finishing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="1120" id="1120" disabled="">
                                <label for="1120">
                            <i class="icon icon_radio"></i>
                            B. They are buying their lunch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="1121" id="1121" disabled="">
                                <label for="1121">
                            <i class="icon icon_radio"></i>
                            C. They are getting out of the river
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="1122" id="1122" disabled="">
                                <label for="1122">
                            <i class="icon icon_radio"></i>
                            D. They are eating by the river
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1566981804.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1566981804.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 34.4088%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>9. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="7697" id="7697" disabled="">
                                <label for="7697">
                            <i class="icon icon_radio"></i>
                            A. She is riding a horse
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="7698" id="7698" disabled="">
                                <label for="7698">
                            <i class="icon icon_radio"></i>
                            B. She is running in the park
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="7699" id="7699" disabled="">
                                <label for="7699">
                            <i class="icon icon_radio"></i>
                            C. She cycling on the grass
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="7700" id="7700" disabled="">
                                <label for="7700">
                            <i class="icon icon_radio"></i>
                            D. She has fallen off her bike
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565681155.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665895/1565681155.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 57.4744%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:14</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>10. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="1123" id="1123" disabled="">
                                <label for="1123">
                            <i class="icon icon_radio"></i>
                            A. They are feeding the birds
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="1124" id="1124" disabled="">
                                <label for="1124">
                            <i class="icon icon_radio"></i>
                            B. The birds are flying away
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="1125" id="1125" disabled="">
                                <label for="1125">
                            <i class="icon icon_radio"></i>
                            C. They are chasing the birds
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="1126" id="1126" disabled="">
                                <label for="1126">
                            <i class="icon icon_radio"></i>
                            D. She is feeding the baby
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>