<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <img src="https://toeic24.vn/upload/img/resized/1565678447.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565678447.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 31.4506%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:20</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="1011" id="1011" disabled="">
                                <label for="1011">
                            <i class="icon icon_radio"></i>
                            A. The men are in uniform
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="1012" id="1012" disabled="">
                                <label for="1012">
                            <i class="icon icon_radio"></i>
                            B. Neither is wearing a hat
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="1013" id="1013" disabled="">
                                <label for="1013">
                            <i class="icon icon_radio"></i>
                            C. They are entering the car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="1014" id="1014" disabled="">
                                <label for="1014">
                            <i class="icon icon_radio"></i>
                            D. They are standing by the car's rear
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565678525.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565678525.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 40.0532%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="1015" id="1015" disabled="">
                                <label for="1015">
                            <i class="icon icon_radio"></i>
                            A. She's sitting on the porch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="1016" id="1016" disabled="">
                                <label for="1016">
                            <i class="icon icon_radio"></i>
                            B. She's reading on the couch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="1017" id="1017" disabled="">
                                <label for="1017">
                            <i class="icon icon_radio"></i>
                            C. She's barefoot
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="1018" id="1018" disabled="">
                                <label for="1018">
                            <i class="icon icon_radio"></i>
                            D. She's wearing a sweatshirt
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565678686.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565678686.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.1543%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="1019" id="1019" disabled="">
                                <label for="1019">
                            <i class="icon icon_radio"></i>
                            A. The trombone player is playing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="1020" id="1020" disabled="">
                                <label for="1020">
                            <i class="icon icon_radio"></i>
                            B. The saxophone player is wearing a dress
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="1021" id="1021" disabled="">
                                <label for="1021">
                            <i class="icon icon_radio"></i>
                            C. Some people are resting their instruments on their laps
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="1022" id="1022" disabled="">
                                <label for="1022">
                            <i class="icon icon_radio"></i>
                            D. The band conductor is visible
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565678741.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565678741.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 35.2246%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="1023" id="1023" disabled="">
                                <label for="1023">
                            <i class="icon icon_radio"></i>
                            A. They are reading books
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="1024" id="1024" disabled="">
                                <label for="1024">
                            <i class="icon icon_radio"></i>
                            B. They have sunglasses on their heads
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="1025" id="1025" disabled="">
                                <label for="1025">
                            <i class="icon icon_radio"></i>
                            C. They are wearing sandals
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="1026" id="1026" disabled="">
                                <label for="1026">
                            <i class="icon icon_radio"></i>
                            D. They are sitting in the same manner
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565678819.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565678820.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.2731%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="1027" id="1027" disabled="">
                                <label for="1027">
                            <i class="icon icon_radio"></i>
                            A. Only one is not wearing an orange helmet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="1028" id="1028" disabled="">
                                <label for="1028">
                            <i class="icon icon_radio"></i>
                            B. They are in an old, dilapidated house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="1029" id="1029" disabled="">
                                <label for="1029">
                            <i class="icon icon_radio"></i>
                            C. The house is not finished being built
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="1030" id="1030" disabled="">
                                <label for="1030">
                            <i class="icon icon_radio"></i>
                            D. Some have tools
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565678906.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565678906.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 34.8972%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="1031" id="1031" disabled="">
                                <label for="1031">
                            <i class="icon icon_radio"></i>
                            A. He is looking up at the women
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="1032" id="1032" disabled="">
                                <label for="1032">
                            <i class="icon icon_radio"></i>
                            B. He has one hand in his pocket
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="1033" id="1033" disabled="">
                                <label for="1033">
                            <i class="icon icon_radio"></i>
                            C. He is bending down towards the women
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="1034" id="1034" disabled="">
                                <label for="1034">
                            <i class="icon icon_radio"></i>
                            D. He holding a bottle of soda
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565679031.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565679031.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 25.4179%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>7. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="1035" id="1035" disabled="">
                                <label for="1035">
                            <i class="icon icon_radio"></i>
                            A. The two men on the right-hand side are holding papers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="1036" id="1036" disabled="">
                                <label for="1036">
                            <i class="icon icon_radio"></i>
                            B. They are all looking at the bald man
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="1037" id="1037" disabled="">
                                <label for="1037">
                            <i class="icon icon_radio"></i>
                            C. Two men have beverages
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="1038" id="1038" disabled="">
                                <label for="1038">
                            <i class="icon icon_radio"></i>
                            D. The men with the beards also have glasses
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565679091.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565679091.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 32.3621%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>8. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="1039" id="1039" disabled="">
                                <label for="1039">
                            <i class="icon icon_radio"></i>
                            A. They are at a podium
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="1040" id="1040" disabled="">
                                <label for="1040">
                            <i class="icon icon_radio"></i>
                            B. One man is wearing a headdress
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="1041" id="1041" disabled="">
                                <label for="1041">
                            <i class="icon icon_radio"></i>
                            C. Their hands are at their sides
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="1042" id="1042" disabled="">
                                <label for="1042">
                            <i class="icon icon_radio"></i>
                            D. They are wearing matching robes
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565679165.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565679165.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 30.7427%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:20</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>9. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="1043" id="1043" disabled="">
                                <label for="1043">
                            <i class="icon icon_radio"></i>
                            A. There is a fire in the fireplace
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="1044" id="1044" disabled="">
                                <label for="1044">
                            <i class="icon icon_radio"></i>
                            B. She is reading to children
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="1045" id="1045" disabled="">
                                <label for="1045">
                            <i class="icon icon_radio"></i>
                            C. Only the children are on the floor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="1046" id="1046" disabled="">
                                <label for="1046">
                            <i class="icon icon_radio"></i>
                            D. The door is partially open
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565679252.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665878/1565679252.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 34.2877%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>10. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="1047" id="1047" disabled="">
                                <label for="1047">
                            <i class="icon icon_radio"></i>
                            A. She is balancing her checkbook
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="1048" id="1048" disabled="">
                                <label for="1048">
                            <i class="icon icon_radio"></i>
                            B. She is having soda with her meal
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="1049" id="1049" disabled="">
                                <label for="1049">
                            <i class="icon icon_radio"></i>
                            C. She is spending money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="1050" id="1050" disabled="">
                                <label for="1050">
                            <i class="icon icon_radio"></i>
                            D. She is grasping dollar bills
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>