<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <img src="https://toeic24.vn/upload/img/resized/1565668091.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668091.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 36.9865%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="811" id="811" disabled="">
                                <label for="811">
                            <i class="icon icon_radio"></i>
                            A. The men are acting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="812" id="812" disabled="">
                                <label for="812">
                            <i class="icon icon_radio"></i>
                            B. One man is talking a photograph
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="813" id="813" disabled="">
                                <label for="813">
                            <i class="icon icon_radio"></i>
                            C. The man with the camera is pointing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="814" id="814" disabled="">
                                <label for="814">
                            <i class="icon icon_radio"></i>
                            D. The man with the headset is laughing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565668197.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668197.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 39.1414%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="815" id="815" disabled="">
                                <label for="815">
                            <i class="icon icon_radio"></i>
                            A. They are both wearing glasses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="816" id="816" disabled="">
                                <label for="816">
                            <i class="icon icon_radio"></i>
                            B. A man is receiving an award
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="817" id="817" disabled="">
                                <label for="817">
                            <i class="icon icon_radio"></i>
                            C. A man is speaking into the microphone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="818" id="818" disabled="">
                                <label for="818">
                            <i class="icon icon_radio"></i>
                            D. They are in a board meeting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565668379.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668379.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 37.5881%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="819" id="819" disabled="">
                                <label for="819">
                            <i class="icon icon_radio"></i>
                            A. There is one woman in the front row
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="820" id="820" disabled="">
                                <label for="820">
                            <i class="icon icon_radio"></i>
                            B. There are no empty seats
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="821" id="821" disabled="">
                                <label for="821">
                            <i class="icon icon_radio"></i>
                            C. They are at the movie theater
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="822" id="822" disabled="">
                                <label for="822">
                            <i class="icon icon_radio"></i>
                            D. A man is speaking
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565668449.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668449.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 33.8191%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="823" id="823" disabled="">
                                <label for="823">
                            <i class="icon icon_radio"></i>
                            A. The patient is wearing a mask
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="824" id="824" disabled="">
                                <label for="824">
                            <i class="icon icon_radio"></i>
                            B. The doctor is explaining something
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="825" id="825" disabled="">
                                <label for="825">
                            <i class="icon icon_radio"></i>
                            C. The nurse is seated
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="826" id="826" disabled="">
                                <label for="826">
                            <i class="icon icon_radio"></i>
                            D. The doctor is writing at his desk
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565668538.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668538.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 39.6518%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:15</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="827" id="827" disabled="">
                                <label for="827">
                            <i class="icon icon_radio"></i>
                            A. They are boarding an airplane
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="828" id="828" disabled="">
                                <label for="828">
                            <i class="icon icon_radio"></i>
                            B. The airplane is taking off
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="829" id="829" disabled="">
                                <label for="829">
                            <i class="icon icon_radio"></i>
                            C. The airplane is grounded
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="830" id="830" disabled="">
                                <label for="830">
                            <i class="icon icon_radio"></i>
                            D. They are inside an airplane
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565668689.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668689.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 32.1765%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="831" id="831" disabled="">
                                <label for="831">
                            <i class="icon icon_radio"></i>
                            A. The two males are being interviewed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="832" id="832" disabled="">
                                <label for="832">
                            <i class="icon icon_radio"></i>
                            B. The boy is wearing a t-shirt
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="833" id="833" disabled="">
                                <label for="833">
                            <i class="icon icon_radio"></i>
                            C. The man has one free hand
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="834" id="834" disabled="">
                                <label for="834">
                            <i class="icon icon_radio"></i>
                            D. The girl is holding a cool drink
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565668779.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668780.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 40.7034%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:15</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>7. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="835" id="835" disabled="">
                                <label for="835">
                            <i class="icon icon_radio"></i>
                            A. The man is waving
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="836" id="836" disabled="">
                                <label for="836">
                            <i class="icon icon_radio"></i>
                            B. The man is wearing sunglasses
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="837" id="837" disabled="">
                                <label for="837">
                            <i class="icon icon_radio"></i>
                            C. The woman is wearing a cap
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="838" id="838" disabled="">
                                <label for="838">
                            <i class="icon icon_radio"></i>
                            D. The woman is receiving a diploma
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565668928.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565668928.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 35.6868%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>8. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="839" id="839" disabled="">
                                <label for="839">
                            <i class="icon icon_radio"></i>
                            A. They are sharing a meal
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="840" id="840" disabled="">
                                <label for="840">
                            <i class="icon icon_radio"></i>
                            B. The worker is behind the counter
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="841" id="841" disabled="">
                                <label for="841">
                            <i class="icon icon_radio"></i>
                            C. The customer is eating vegetables
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="842" id="842" disabled="">
                                <label for="842">
                            <i class="icon icon_radio"></i>
                            D. They are preparing food
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565669010.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565669010.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 44.6999%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:14</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>9. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="843" id="843" disabled="">
                                <label for="843">
                            <i class="icon icon_radio"></i>
                            A. The floor is wooden
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="844" id="844" disabled="">
                                <label for="844">
                            <i class="icon icon_radio"></i>
                            B. The woman is getting a massage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="845" id="845" disabled="">
                                <label for="845">
                            <i class="icon icon_radio"></i>
                            C. The man is wearing orange
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="846" id="846" disabled="">
                                <label for="846">
                            <i class="icon icon_radio"></i>
                            D. The curtains are closed
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565669122.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665813/1565669122.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 37.321%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>10. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="847" id="847" disabled="">
                                <label for="847">
                            <i class="icon icon_radio"></i>
                            A. The man is wearing a uniform
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="848" id="848" disabled="">
                                <label for="848">
                            <i class="icon icon_radio"></i>
                            B. The girls are in school
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="849" id="849" disabled="">
                                <label for="849">
                            <i class="icon icon_radio"></i>
                            C. The man is in the doorway
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="850" id="850" disabled="">
                                <label for="850">
                            <i class="icon icon_radio"></i>
                            D. The girls are wearing nametags
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>