<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 141 - 143 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><strong>Fly Away Airlines<br>
                        Newforth Business Park&nbsp;<br>
                        Minneapolis, MN, 27726</strong></p>

                <p>Dear Sr or Madam,</p>

                <p>I am sending this letter of&nbsp;__(1)__ because of the service I received while traveling on your
                    fight 770 from&nbsp;Minneapolis to New York on the 19th of September 2007.</p>

                <p>I requested a diabetic meal through your webske, and&nbsp;confirmed this when I checked in for the
                    flight. However, when the meals were served on board, I was told that&nbsp;there was no diabetic
                    meal requested. I had to ask four&nbsp;times, and become quite __(2)__ before the cabin&nbsp;crew
                    would search for the meal which I had reason to&nbsp;believe was there. Mistakes may happen, but
                    this seemed&nbsp;like unnecessary rudeness.</p>

                <p>You can understand my concem, I'm sure, because eating&nbsp;regular meals, made up of the right
                    foods, is __(3)__&nbsp;for&nbsp;managing this illness. Regrettably, I'm not sure that I&nbsp;would
                    feel&nbsp;confident traveling with you in the future.</p>

                <p>Sincerely,&nbsp;<br>
                    John Baker<br>
                    </p></div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>141. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="5537" id="5537" disabled="">
                                <label for="5537">
                                    <i class="icon icon_radio"></i>
                                    A. complain
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5538" id="5538" disabled="">
                                <label for="5538">
                                    <i class="icon icon_radio"></i>
                                    B. complains
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5539" id="5539" disabled="">
                                <label for="5539">
                                    <i class="icon icon_radio"></i>
                                    C. complaint
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5540" id="5540" disabled="">
                                <label for="5540">
                                    <i class="icon icon_radio"></i>
                                    D. complaining
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="5541" id="5541" disabled="">
                                <label for="5541">
                                    <i class="icon icon_radio"></i>
                                    A. complicated
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5542" id="5542" disabled="">
                                <label for="5542">
                                    <i class="icon icon_radio"></i>
                                    B. motivated
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5543" id="5543" disabled="">
                                <label for="5543">
                                    <i class="icon icon_radio"></i>
                                    C. interrogated
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5544" id="5544" disabled="">
                                <label for="5544">
                                    <i class="icon icon_radio"></i>
                                    D. agitated
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>143. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="5545" id="5545" disabled="">
                                <label for="5545">
                                    <i class="icon icon_radio"></i>
                                    A. critical
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5546" id="5546" disabled="">
                                <label for="5546">
                                    <i class="icon icon_radio"></i>
                                    B. pivotal
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5547" id="5547" disabled="">
                                <label for="5547">
                                    <i class="icon icon_radio"></i>
                                    C. detrimental
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5548" id="5548" disabled="">
                                <label for="5548">
                                    <i class="icon icon_radio"></i>
                                    D. valuable
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>