<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct"></div>
                <p class="text-justify">
                    <b>Question 144 - 146 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>More than £160m will be spent on music and video downloads in the UK this year, according to a __(1)__</p>

                <p>Market analysts predict that digital downloads will be worth £163m in 2008 - up 45.5% on last year. And digital spending will continue to __(2)__ , reaching £600m a year by 2012,&nbsp;according to the UK Music and Video Retailers 2008
                    report.&nbsp;</p>

                <p>But CD and DVD spending has slowed, with the __(3)__&nbsp;music and video marks down 2.9% to £4bn in 2008.&nbsp;</p>
            </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>144. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="5549" id="5549" disabled="">
                                <label for="5549">
                            <i class="icon icon_radio"></i>
                            A. fortune
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5550" id="5550" disabled="">
                                <label for="5550">
                            <i class="icon icon_radio"></i>
                            B. summary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5551" id="5551" disabled="">
                                <label for="5551">
                            <i class="icon icon_radio"></i>
                            C. poll
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5552" id="5552" disabled="">
                                <label for="5552">
                            <i class="icon icon_radio"></i>
                            D. review
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="5553" id="5553" disabled="">
                                <label for="5553">
                            <i class="icon icon_radio"></i>
                            A. sink
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5554" id="5554" disabled="">
                                <label for="5554">
                            <i class="icon icon_radio"></i>
                            B. float
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5555" id="5555" disabled="">
                                <label for="5555">
                            <i class="icon icon_radio"></i>
                            C. glide
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5556" id="5556" disabled="">
                                <label for="5556">
                            <i class="icon icon_radio"></i>
                            D. soar
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="5557" id="5557" disabled="">
                                <label for="5557">
                            <i class="icon icon_radio"></i>
                            A. altogether
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5558" id="5558" disabled="">
                                <label for="5558">
                            <i class="icon icon_radio"></i>
                            B. whole
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5559" id="5559" disabled="">
                                <label for="5559">
                            <i class="icon icon_radio"></i>
                            C. overall
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5560" id="5560" disabled="">
                                <label for="5560">
                            <i class="icon icon_radio"></i>
                            D. absolute
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=23" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>