<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>MEMO<br>
TO: All Staff<br>
FROM: Management<br>
April 4&nbsp;</strong></p>

                <p>As you know, we are expecting a visit from health inspectors this week. I would like to remind you __(1)__ the importance for our restaurant to avoid any problems with the health inspection. It is essential that you carry out your usual
                    cleaning and sanitation&nbsp;procedures with the uppermost care this week. Do not take __(2)__&nbsp; &nbsp;</p>

                <p>I would particularly like to remind staff to check on he storage of meat products. Make __(3)__ meats&nbsp;are kept on the upper shelf in the refrigeration unit, because the temperature is not high enough on the lower shelf.&nbsp;</p>

                <p>Thank you for your cooperation,<br> Lila Thomson<br> Management&nbsp;
                    <br> &nbsp;
                </p>
            </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5561" id="5561" disabled="">
                                <label for="5561">
                            <i class="icon icon_radio"></i>
                            A. for
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5562" id="5562" disabled="">
                                <label for="5562">
                            <i class="icon icon_radio"></i>
                            B. in
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5563" id="5563" disabled="">
                                <label for="5563">
                            <i class="icon icon_radio"></i>
                            C. of
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5564" id="5564" disabled="">
                                <label for="5564">
                            <i class="icon icon_radio"></i>
                            D. with
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5565" id="5565" disabled="">
                                <label for="5565">
                            <i class="icon icon_radio"></i>
                            A. cutbacks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5566" id="5566" disabled="">
                                <label for="5566">
                            <i class="icon icon_radio"></i>
                            B. shortcuts
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5567" id="5567" disabled="">
                                <label for="5567">
                            <i class="icon icon_radio"></i>
                            C. cutoffs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5568" id="5568" disabled="">
                                <label for="5568">
                            <i class="icon icon_radio"></i>
                            D. downturns
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5569" id="5569" disabled="">
                                <label for="5569">
                            <i class="icon icon_radio"></i>
                            A. sure
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5570" id="5570" disabled="">
                                <label for="5570">
                            <i class="icon icon_radio"></i>
                            B. clear
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5571" id="5571" disabled="">
                                <label for="5571">
                            <i class="icon icon_radio"></i>
                            C. obvious
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5572" id="5572" disabled="">
                                <label for="5572">
                            <i class="icon icon_radio"></i>
                            D. careful
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>