<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>To</strong>: Mark Ackerman - Aker@globalnet.com<br>
                    <strong>From</strong>: Deborah Leach - leachd@abc.co<br>
                    <strong>Subject</strong>: PARKING LOT REFURBISHMENT<br>
                    <strong>Cc</strong>: C.C. Summers - summc@abc.co<br> Erin Young - youne@abc.co<br>
                    <strong>Date</strong>: 2 June, 2007 14:12:25&nbsp;</p>

                <p>Dear Mr. Ackerman,<br> This Is to inform you that we have carefully __(1)__ your estimate for the parking lot refurbishing. We are planning to contract with you for this work.&nbsp;</p>

                <p>We are unable to let this contract immediately however, as final approval of expenditures of this nature must come from the head office in New York.&nbsp;</p>

                <p>We expect to receive approval or disapproval __(2)__ the next 30 days. At such time, we will contact you with instructions accordingly</p>

                <p>If we may be of any assistance in the meantime please feel free __(3)__ this office.<br> Sincerely,
                    <br> Deborah Leach, Secretary<br> ABC Stationers<br> Denver, Colorado<br> Tel: 605 885 5624&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5573" id="5573" disabled="">
                                <label for="5573">
                            <i class="icon icon_radio"></i>
                            A. recalled
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5574" id="5574" disabled="">
                                <label for="5574">
                            <i class="icon icon_radio"></i>
                            B. reviewed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5575" id="5575" disabled="">
                                <label for="5575">
                            <i class="icon icon_radio"></i>
                            C. renewed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5576" id="5576" disabled="">
                                <label for="5576">
                            <i class="icon icon_radio"></i>
                            D. remitted
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5577" id="5577" disabled="">
                                <label for="5577">
                            <i class="icon icon_radio"></i>
                            A. on
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5578" id="5578" disabled="">
                                <label for="5578">
                            <i class="icon icon_radio"></i>
                            B. within
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5579" id="5579" disabled="">
                                <label for="5579">
                            <i class="icon icon_radio"></i>
                            C. since
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5580" id="5580" disabled="">
                                <label for="5580">
                            <i class="icon icon_radio"></i>
                            D. among
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5581" id="5581" disabled="">
                                <label for="5581">
                            <i class="icon icon_radio"></i>
                            A. when you contact with
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5582" id="5582" disabled="">
                                <label for="5582">
                            <i class="icon icon_radio"></i>
                            B. contacting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5583" id="5583" disabled="">
                                <label for="5583">
                            <i class="icon icon_radio"></i>
                            C. to contact
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5584" id="5584" disabled="">
                                <label for="5584">
                            <i class="icon icon_radio"></i>
                            D. to contact with
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>