<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: The shop promised to have my car ready by 6:30 this evening, and now they are saying tomorrow at 2.</p>

                        <p>M: Do you need a ride to work today?</p>

                        <p>W: That would be great, thanks. It's so inconvenient to be without a car.</p>

                        <p>M: I know. I wish that our city would invest in a good public transportation system.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565843560.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.9822%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:47</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. What does the man offer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="2297" id="2297" disabled="">
                                <label for="2297">
                            <i class="icon icon_radio"></i>
                            A. to take her to her job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2298" id="2298" disabled="">
                                <label for="2298">
                            <i class="icon icon_radio"></i>
                            B. to drive her home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2299" id="2299" disabled="">
                                <label for="2299">
                            <i class="icon icon_radio"></i>
                            C. to fix her car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2300" id="2300" disabled="">
                                <label for="2300">
                            <i class="icon icon_radio"></i>
                            D. to invest in the city
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. When will the woman's car be ready?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="2301" id="2301" disabled="">
                                <label for="2301">
                            <i class="icon icon_radio"></i>
                            A. 6:30 this evening
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2302" id="2302" disabled="">
                                <label for="2302">
                            <i class="icon icon_radio"></i>
                            B. tomorrow at 6:30
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2303" id="2303" disabled="">
                                <label for="2303">
                            <i class="icon icon_radio"></i>
                            C. tomorrow early afternoon
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2304" id="2304" disabled="">
                                <label for="2304">
                            <i class="icon icon_radio"></i>
                            D. after work today
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. What does the man wish?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="2305" id="2305" disabled="">
                                <label for="2305">
                            <i class="icon icon_radio"></i>
                            A. the car was ready on time
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2306" id="2306" disabled="">
                                <label for="2306">
                            <i class="icon icon_radio"></i>
                            B. he had a car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2307" id="2307" disabled="">
                                <label for="2307">
                            <i class="icon icon_radio"></i>
                            C. the city had public transportation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2308" id="2308" disabled="">
                                <label for="2308">
                            <i class="icon icon_radio"></i>
                            D. the woman would have been smarter
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>