<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Look at that line at security! I'll miss my flight!</p>

                        <p>W: I told you to arrive earlier.</p>

                        <p>M: Yes, but you know me. I'm always running late.</p>

                        <p>W: Maybe you should set your clock ahead a few minutes so you'll think you're running late, but when you arrive, you'll actually be right on time.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565852352.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 16.3933%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:42</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. Where is this conversation talking place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2405" id="2405" disabled="">
                                <label for="2405">
                            <i class="icon icon_radio"></i>
                            A. in a taxi cab
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2406" id="2406" disabled="">
                                <label for="2406">
                            <i class="icon icon_radio"></i>
                            B. at the man's home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2407" id="2407" disabled="">
                                <label for="2407">
                            <i class="icon icon_radio"></i>
                            C. at an airport
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2408" id="2408" disabled="">
                                <label for="2408">
                            <i class="icon icon_radio"></i>
                            D. at an office
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. What is true of the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2409" id="2409" disabled="">
                                <label for="2409">
                            <i class="icon icon_radio"></i>
                            A. He missed his flight
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2410" id="2410" disabled="">
                                <label for="2410">
                            <i class="icon icon_radio"></i>
                            B. He is at the front of a line
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2411" id="2411" disabled="">
                                <label for="2411">
                            <i class="icon icon_radio"></i>
                            C. He often arrives late
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2412" id="2412" disabled="">
                                <label for="2412">
                            <i class="icon icon_radio"></i>
                            D. He believed the woman
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What does the woman suggest?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2413" id="2413" disabled="">
                                <label for="2413">
                            <i class="icon icon_radio"></i>
                            A. The man change the time of his clock
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2414" id="2414" disabled="">
                                <label for="2414">
                            <i class="icon icon_radio"></i>
                            B. They go watch the news
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2415" id="2415" disabled="">
                                <label for="2415">
                            <i class="icon icon_radio"></i>
                            C. The man walk faster
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2416" id="2416" disabled="">
                                <label for="2416">
                            <i class="icon icon_radio"></i>
                            D. They go somewhere else
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>