<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 44 - 46 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Why did you decide to paint the office?</p>

                        <p>M: The walls are so old and stained. Plus, I read somewhere that bright colors have a positive effect on people's work attitudes.</p>

                        <p>W: Do you have any colors picked out yet?</p>

                        <p>M: We are deciding among yellow, orange and pink. I am leaning toward yellow, but it's not just my decision.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565844132.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 19.4829%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:53</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>44. What is NOT true of the walls as they are now?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="43" value="2309" id="2309" disabled="">
                                <label for="2309">
                            <i class="icon icon_radio"></i>
                            A. they are boring
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2310" id="2310" disabled="">
                                <label for="2310">
                            <i class="icon icon_radio"></i>
                            B. they are not new 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2311" id="2311" disabled="">
                                <label for="2311">
                            <i class="icon icon_radio"></i>
                            C. they are stained
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2312" id="2312" disabled="">
                                <label for="2312">
                            <i class="icon icon_radio"></i>
                            D. they are not smooth
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>45. Why is the man painting the walls?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="44" value="2313" id="2313" disabled="">
                                <label for="2313">
                            <i class="icon icon_radio"></i>
                            A. He wants to change the office atmosphere
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2314" id="2314" disabled="">
                                <label for="2314">
                            <i class="icon icon_radio"></i>
                            B. He is required to by the building manager
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2315" id="2315" disabled="">
                                <label for="2315">
                            <i class="icon icon_radio"></i>
                            C. An interior designer recommended it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2316" id="2316" disabled="">
                                <label for="2316">
                            <i class="icon icon_radio"></i>
                            D. It's an easy change to make
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>46. What color does the man prefer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="45" value="2317" id="2317" disabled="">
                                <label for="2317">
                            <i class="icon icon_radio"></i>
                            A. pink
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2318" id="2318" disabled="">
                                <label for="2318">
                            <i class="icon icon_radio"></i>
                            B. orange
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2319" id="2319" disabled="">
                                <label for="2319">
                            <i class="icon icon_radio"></i>
                            C. yellow
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2320" id="2320" disabled="">
                                <label for="2320">
                            <i class="icon icon_radio"></i>
                            D. white
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>