<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 47 - 49 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>M: You're back? I figured a meeting with the mayor would take much longer than half an hour.</p>

<p>W: I know. He needed to hear about the grave problems our research found.</p>

<p>M: Didn't you explain it to him?</p>

<p>W: I told him about low reading-level scores. However, when I started pointing out how the superintendent could fix the problem, he cut me off.</p>

<p>M: I really expected more from him.&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565844661.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 12.3927%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:55</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>47. For how long was the woman supposed to meet with the mayor?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="46" value="2321" id="2321" disabled="">
                        <label for="2321">
                            <i class="icon icon_radio"></i>
                            A. more than thirty minutes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="46" value="2322" id="2322" disabled="">
                        <label for="2322">
                            <i class="icon icon_radio"></i>
                            B. three hours
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="46" value="2323" id="2323" disabled="">
                        <label for="2323">
                            <i class="icon icon_radio"></i>
                            C. one hour
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="46" value="2324" id="2324" disabled="">
                        <label for="2324">
                            <i class="icon icon_radio"></i>
                            D. less than half an hour
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>48. What was the purpose of the meeting with the mayor?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="47" value="2325" id="2325" disabled="">
                        <label for="2325">
                            <i class="icon icon_radio"></i>
                            A. to discuss a school research project
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="47" value="2326" id="2326" disabled="">
                        <label for="2326">
                            <i class="icon icon_radio"></i>
                            B. to discuss the problems in the town graveyard
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="47" value="2327" id="2327" disabled="">
                        <label for="2327">
                            <i class="icon icon_radio"></i>
                            C. to discuss reading-level scores
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="47" value="2328" id="2328" disabled="">
                        <label for="2328">
                            <i class="icon icon_radio"></i>
                            D. to discuss his next actions as mayor
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>49. What does the man feel toward the mayor?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="48" value="2329" id="2329" disabled="">
                        <label for="2329">
                            <i class="icon icon_radio"></i>
                            A. terror
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="48" value="2330" id="2330" disabled="">
                        <label for="2330">
                            <i class="icon icon_radio"></i>
                            B. disappointment
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="48" value="2331" id="2331" disabled="">
                        <label for="2331">
                            <i class="icon icon_radio"></i>
                            C. appreciation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="48" value="2332" id="2332" disabled="">
                        <label for="2332">
                            <i class="icon icon_radio"></i>
                            D. pride
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>