<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 50 - 52 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>W: I hate my job. I'm no good at it, I don't care about it at all, and the pay is awful.</p>

<p>M: Weren't you only going to stay for 6 months? It's two years later and you're still there.</p>

<p>W: I know....</p>

<p>M: I think you should just walk away now. You need the fear of not having a job at all to motivate you to find a new one.</p>

<p>W: You're right. I'll give my two weeks' notice right now.&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565851001.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 12.0564%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:56</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>50. What does the woman NOT mention about her job?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="49" value="2333" id="2333" disabled="">
                        <label for="2333">
                            <i class="icon icon_radio"></i>
                            A. its pay
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="49" value="2334" id="2334" disabled="">
                        <label for="2334">
                            <i class="icon icon_radio"></i>
                            B. her lack of talent for it
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="49" value="2335" id="2335" disabled="">
                        <label for="2335">
                            <i class="icon icon_radio"></i>
                            C. her apathy toward it
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="49" value="2336" id="2336" disabled="">
                        <label for="2336">
                            <i class="icon icon_radio"></i>
                            D. a poor boss
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>51. How long has the woman had her job?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="50" value="2337" id="2337" disabled="">
                        <label for="2337">
                            <i class="icon icon_radio"></i>
                            A. six months
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="50" value="2338" id="2338" disabled="">
                        <label for="2338">
                            <i class="icon icon_radio"></i>
                            B. twenty-four months
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="50" value="2339" id="2339" disabled="">
                        <label for="2339">
                            <i class="icon icon_radio"></i>
                            C. two weeks
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="50" value="2340" id="2340" disabled="">
                        <label for="2340">
                            <i class="icon icon_radio"></i>
                            D. six years
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>52. What does the man tell the woman?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="51" value="2341" id="2341" disabled="">
                        <label for="2341">
                            <i class="icon icon_radio"></i>
                            A. to not be afraid
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="51" value="2342" id="2342" disabled="">
                        <label for="2342">
                            <i class="icon icon_radio"></i>
                            B. to not be so insecure
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="51" value="2343" id="2343" disabled="">
                        <label for="2343">
                            <i class="icon icon_radio"></i>
                            C. to quit her job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="51" value="2344" id="2344" disabled="">
                        <label for="2344">
                            <i class="icon icon_radio"></i>
                            D. to build up her resume
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>