<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Is this new?</p>

                        <p>M: No. It was Andrew's. But when he moved to the eleventh floor, he didn't feel like hauling it with him. He let me keep it.</p>

                        <p>W: I could really use a larger desk. I've got a computer, printer, and a fax machine on my desk. And that of course is in addition to the piles of paperwork.</p>

                        <p>M: I wish I could help you out, but I'm not willing to give it up!&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565851439.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 22.7731%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:51</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. Who paid for the man's desk?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2357" id="2357" disabled="">
                                <label for="2357">
                            <i class="icon icon_radio"></i>
                            A. the company
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2358" id="2358" disabled="">
                                <label for="2358">
                            <i class="icon icon_radio"></i>
                            B. Andrew
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2359" id="2359" disabled="">
                                <label for="2359">
                            <i class="icon icon_radio"></i>
                            C. the woman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2360" id="2360" disabled="">
                                <label for="2360">
                            <i class="icon icon_radio"></i>
                            D. the man
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. What is NOT on the woman's desk?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2361" id="2361" disabled="">
                                <label for="2361">
                            <i class="icon icon_radio"></i>
                            A. printer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2362" id="2362" disabled="">
                                <label for="2362">
                            <i class="icon icon_radio"></i>
                            B. scanner
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2363" id="2363" disabled="">
                                <label for="2363">
                            <i class="icon icon_radio"></i>
                            C. paperwork
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2364" id="2364" disabled="">
                                <label for="2364">
                            <i class="icon icon_radio"></i>
                            D. fax machine
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. What is the man going to do with the desk?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2365" id="2365" disabled="">
                                <label for="2365">
                            <i class="icon icon_radio"></i>
                            A. return it to Andrew
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2366" id="2366" disabled="">
                                <label for="2366">
                            <i class="icon icon_radio"></i>
                            B. move it to the eleventh floor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2367" id="2367" disabled="">
                                <label for="2367">
                            <i class="icon icon_radio"></i>
                            C. keep it
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2368" id="2368" disabled="">
                                <label for="2368">
                            <i class="icon icon_radio"></i>
                            D. give it to the woman
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>