<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: After work, do you want to go to that new department store that opened where the golf store used to be? It's right next door to the Burger Joint.</p>

                        <p>W: Of course!</p>

                        <p>M: We can take my car, and leave yours in the parking lot here.</p>

                        <p>W: I'll just drive separately. I have to go straight to a neighborhood meeting at 7:30.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565851640.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 15.9116%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:44</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. Where does the man want to go?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2369" id="2369" disabled="">
                                <label for="2369">
                            <i class="icon icon_radio"></i>
                            A. the Burger Joint
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2370" id="2370" disabled="">
                                <label for="2370">
                            <i class="icon icon_radio"></i>
                            B. a meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2371" id="2371" disabled="">
                                <label for="2371">
                            <i class="icon icon_radio"></i>
                            C. a golf store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2372" id="2372" disabled="">
                                <label for="2372">
                            <i class="icon icon_radio"></i>
                            D. a department store
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. Who is the man in relation to the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2373" id="2373" disabled="">
                                <label for="2373">
                            <i class="icon icon_radio"></i>
                            A. her brother
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2374" id="2374" disabled="">
                                <label for="2374">
                            <i class="icon icon_radio"></i>
                            B. a co-worker
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2375" id="2375" disabled="">
                                <label for="2375">
                            <i class="icon icon_radio"></i>
                            C. a neighbor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2376" id="2376" disabled="">
                                <label for="2376">
                            <i class="icon icon_radio"></i>
                            D. her driver
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. Who will drive?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2377" id="2377" disabled="">
                                <label for="2377">
                            <i class="icon icon_radio"></i>
                            A. just the man
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2378" id="2378" disabled="">
                                <label for="2378">
                            <i class="icon icon_radio"></i>
                            B. just the woman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2379" id="2379" disabled="">
                                <label for="2379">
                            <i class="icon icon_radio"></i>
                            C. both the man and woman
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2380" id="2380" disabled="">
                                <label for="2380">
                            <i class="icon icon_radio"></i>
                            D. neither, they are walking because it's nearby
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>