<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Can your department get by without temporary workers this summer?</p>

                        <p>W: Probably. We're having a meeting next week, so we can ensure that none of our vacations overlap.</p>

                        <p>M: We really need to trim the budget. Sales were terrible last quarter.</p>

                        <p>W: Well, I guarantee you that we will arrange everything for the summer.</p>

                        <p>M: You are always so committed.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565851942.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.8344%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:50</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. What will the woman's department do this summer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2381" id="2381" disabled="">
                                <label for="2381">
                            <i class="icon icon_radio"></i>
                            A. hire temporary workers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2382" id="2382" disabled="">
                                <label for="2382">
                            <i class="icon icon_radio"></i>
                            B. discuss how to increase sales
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2383" id="2383" disabled="">
                                <label for="2383">
                            <i class="icon icon_radio"></i>
                            C. stagger their vacation times
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2384" id="2384" disabled="">
                                <label for="2384">
                            <i class="icon icon_radio"></i>
                            D. take the summer off
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. What does the man want to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2385" id="2385" disabled="">
                                <label for="2385">
                            <i class="icon icon_radio"></i>
                            A. save money
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2386" id="2386" disabled="">
                                <label for="2386">
                            <i class="icon icon_radio"></i>
                            B. hire more employees
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2387" id="2387" disabled="">
                                <label for="2387">
                            <i class="icon icon_radio"></i>
                            C. take a vacation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2388" id="2388" disabled="">
                                <label for="2388">
                            <i class="icon icon_radio"></i>
                            D. join the woman's department meeting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. What is true of the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2389" id="2389" disabled="">
                                <label for="2389">
                            <i class="icon icon_radio"></i>
                            A. The man respects her
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2390" id="2390" disabled="">
                                <label for="2390">
                            <i class="icon icon_radio"></i>
                            B. She lacks commitment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2391" id="2391" disabled="">
                                <label for="2391">
                            <i class="icon icon_radio"></i>
                            C. She works for the same department as the man
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2392" id="2392" disabled="">
                                <label for="2392">
                            <i class="icon icon_radio"></i>
                            D. Last quarter's sales pleased her
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>