<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Do you know Ron from the 11th floor?</p>

                        <p>M: Not well, but we've met at the office parties.</p>

                        <p>W: We are considering adding him to our team on the seventh floor, but I'm not sure he's got what it takes.</p>

                        <p>M: Our team is pretty intense. Unfortunately, I don't know Ron well enough to give you an opinion.</p>

                        <p>W: We really have to find someone soon. The work is adding up.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1565852181.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.688%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:50</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. What is the man's relationship with Ron?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="2393" id="2393" disabled="">
                                <label for="2393">
                            <i class="icon icon_radio"></i>
                            A. acquaitance
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2394" id="2394" disabled="">
                                <label for="2394">
                            <i class="icon icon_radio"></i>
                            B. close friend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2395" id="2395" disabled="">
                                <label for="2395">
                            <i class="icon icon_radio"></i>
                            C. no relationship
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2396" id="2396" disabled="">
                                <label for="2396">
                            <i class="icon icon_radio"></i>
                            D. classmate
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. What does the man tell the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="2397" id="2397" disabled="">
                                <label for="2397">
                            <i class="icon icon_radio"></i>
                            A. They need another team member
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2398" id="2398" disabled="">
                                <label for="2398">
                            <i class="icon icon_radio"></i>
                            B. Ron would be perfect for the job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2399" id="2399" disabled="">
                                <label for="2399">
                            <i class="icon icon_radio"></i>
                            C. He doesn't feel qualified to recommend Ron
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2400" id="2400" disabled="">
                                <label for="2400">
                            <i class="icon icon_radio"></i>
                            D. Ron doesn't have what it takes
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. What is true of the seventh floor?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="2401" id="2401" disabled="">
                                <label for="2401">
                            <i class="icon icon_radio"></i>
                            A. It is where Ron works
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2402" id="2402" disabled="">
                                <label for="2402">
                            <i class="icon icon_radio"></i>
                            B. It is laid-back
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2403" id="2403" disabled="">
                                <label for="2403">
                            <i class="icon icon_radio"></i>
                            C. It holds all the office parties
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2404" id="2404" disabled="">
                                <label for="2404">
                            <i class="icon icon_radio"></i>
                            D. It has a lot of work to do
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>