<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <img src="https://toeic24.vn/upload/img/resized/1564986479.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986479.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 21.846%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="1" id="1" disabled="">
                                <label for="1">
                                    <i class="icon icon_radio"></i>
                                    A. A woman is giving birth
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="2" id="2" disabled="">
                                <label for="2">
                                    <i class="icon icon_radio"></i>
                                    B. A woman is touching her own stomach
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="3" id="3" disabled="">
                                <label for="3">
                                    <i class="icon icon_radio"></i>
                                    C. A woman is going to have a baby
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="4" id="4" disabled="">
                                <label for="4">
                                    <i class="icon icon_radio"></i>
                                    D. A pregnant woman is wearing sleeves
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986573.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986573.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.7061%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="5" id="5" disabled="">
                                <label for="5">
                                    <i class="icon icon_radio"></i>
                                    A. There are candles centered on the table
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="6" id="6" disabled="">
                                <label for="6">
                                    <i class="icon icon_radio"></i>
                                    B. They are being served food
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="7" id="7" disabled="">
                                <label for="7">
                                    <i class="icon icon_radio"></i>
                                    C. They are on unsual seats
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="8" id="8" disabled="">
                                <label for="8">
                                    <i class="icon icon_radio"></i>
                                    D. They are in a bathroom
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986620.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986620.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 23.0152%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:22</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="9" id="9" disabled="">
                                <label for="9">
                                    <i class="icon icon_radio"></i>
                                    A. They are pushing babies in strollers
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="10" id="10" disabled="">
                                <label for="10">
                                    <i class="icon icon_radio"></i>
                                    B. The babies are being carried
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="11" id="11" disabled="">
                                <label for="11">
                                    <i class="icon icon_radio"></i>
                                    C. They are walking on a sidewalk
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="12" id="12" disabled="">
                                <label for="12">
                                    <i class="icon icon_radio"></i>
                                    D. They are on a busy street
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986683.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986683.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 29.9772%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="13" id="13" disabled="">
                                <label for="13">
                                    <i class="icon icon_radio"></i>
                                    A. He is gesturing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="14" id="14" disabled="">
                                <label for="14">
                                    <i class="icon icon_radio"></i>
                                    B. She has something on her lap
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="15" id="15" disabled="">
                                <label for="15">
                                    <i class="icon icon_radio"></i>
                                    C. They are sitting next to each other
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="16" id="16" disabled="">
                                <label for="16">
                                    <i class="icon icon_radio"></i>
                                    D. He is listening to her
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986757.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986757.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 24.0454%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:21</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="17" id="17" disabled="">
                                <label for="17">
                                    <i class="icon icon_radio"></i>
                                    A. He is dressed casually
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="18" id="18" disabled="">
                                <label for="18">
                                    <i class="icon icon_radio"></i>
                                    B. She is holding the microphone
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="19" id="19" disabled="">
                                <label for="19">
                                    <i class="icon icon_radio"></i>
                                    C. She is dressed formally
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="20" id="20" disabled="">
                                <label for="20">
                                    <i class="icon icon_radio"></i>
                                    D. She is addressing him
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986831.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986831.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.2532%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="21" id="21" disabled="">
                                <label for="21">
                                    <i class="icon icon_radio"></i>
                                    A. The stepladder is not in use
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="22" id="22" disabled="">
                                <label for="22">
                                    <i class="icon icon_radio"></i>
                                    B. They are kneeling
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="23" id="23" disabled="">
                                <label for="23">
                                    <i class="icon icon_radio"></i>
                                    C. They are polishing a cabinet
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="24" id="24" disabled="">
                                <label for="24">
                                    <i class="icon icon_radio"></i>
                                    D. There is a hammer on the ground
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986877.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986877.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 20.7849%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:24</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>7. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="25" id="25" disabled="">
                                <label for="25">
                                    <i class="icon icon_radio"></i>
                                    A. One man is pointing at another
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="26" id="26" disabled="">
                                <label for="26">
                                    <i class="icon icon_radio"></i>
                                    B. One man is referring to a plan
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="27" id="27" disabled="">
                                <label for="27">
                                    <i class="icon icon_radio"></i>
                                    C. Both men have their hands in their pockets
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="28" id="28" disabled="">
                                <label for="28">
                                    <i class="icon icon_radio"></i>
                                    D. One man is wearing a suit jacket
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986922.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986922.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.9134%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>8. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="29" id="29" disabled="">
                                <label for="29">
                                    <i class="icon icon_radio"></i>
                                    A. A man is clapping
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="30" id="30" disabled="">
                                <label for="30">
                                    <i class="icon icon_radio"></i>
                                    B. A woman is holding a trophy
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="31" id="31" disabled="">
                                <label for="31">
                                    <i class="icon icon_radio"></i>
                                    C. They are in an auditorium
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="32" id="32" disabled="">
                                <label for="32">
                                    <i class="icon icon_radio"></i>
                                    D. A woman is clasping her hands together
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564986990.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564986991.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 23.68%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:21</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>9. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="33" id="33" disabled="">
                                <label for="33">
                                    <i class="icon icon_radio"></i>
                                    A. They are behind a counter
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="34" id="34" disabled="">
                                <label for="34">
                                    <i class="icon icon_radio"></i>
                                    B. He is wearing a vest
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="35" id="35" disabled="">
                                <label for="35">
                                    <i class="icon icon_radio"></i>
                                    C. She is wearing her hair down
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="36" id="36" disabled="">
                                <label for="36">
                                    <i class="icon icon_radio"></i>
                                    D. They are exiting the building
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1564987031.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1564978176/1564987032.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.8271%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>10. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="37" id="37" disabled="">
                                <label for="37">
                                    <i class="icon icon_radio"></i>
                                    A. He is being weighed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="38" id="38" disabled="">
                                <label for="38">
                                    <i class="icon icon_radio"></i>
                                    B. She has a stethscope around her neck
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="39" id="39" disabled="">
                                <label for="39">
                                    <i class="icon icon_radio"></i>
                                    C. A woman is on a scale
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="40" id="40" disabled="">
                                <label for="40">
                                    <i class="icon icon_radio"></i>
                                    D. He is assisting her
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>