<div class="container">
    <div class="question-content-wrap">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="question-content">
                    <p class="text-justify">
                        <b>Question 35 - 37 refer to
                            following conversation:</b>
                    </p>
                    <hr>
                    <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
                        <input type="hidden" name="_token" value="vjdSDWxoCXucXuL4u4HSpiXjnsAylgiGzkWb3Y8Q">
                        <p><b>Transcript:</b></p>
                        <div class="text-justify">
                            <p>M-Cn: Hi, Joanne. I didn't know you rode a bike to work. When did you start doing
                                that?<br>
                                W-Am: Last week. The town just added a new bike lane on Felton Road, so now I can ride
                                here<br>
                                M-Cn: That's great. I heard the town government is planning to add bike lanes on some
                                other roads too<br>
                                W-Am: It's really convenient. My commute to work used to be an hour by bus, and now it's
                                only 25 minutes<br>
                                M-Cn: Wow. You know, I'm a member of a local bike-riding club that takes tours on the
                                weekends. You should join. It's a great group</p>
                        </div>
                        <p><b>Audio:</b></p>
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579331687.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 6.28435%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">01:12</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="answer">
                            <p><b>35. What does the woman say a town recently did?</b></p>
                            <ul class="answer-list">
                                <li>
                                    <input type="radio" name="34" value="15562" id="15562" disabled="">
                                    <label for="15562">
                                        <i class="icon icon_radio"></i>
                                        A. It elected a mayor
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="34" value="15563" id="15563" disabled="">
                                    <label for="15563">
                                        <i class="icon icon_radio"></i>
                                        B. It fixed a train line
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="34" value="15564" id="15564" disabled="">
                                    <label for="15564">
                                        <i class="icon icon_radio"></i>
                                        C. It cleaned up a community park
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="34" value="15565" id="15565" disabled="">
                                    <label for="15565">
                                        <i class="icon icon_radio"></i>
                                        D. It added a bicycle lane
                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="answer">
                            <p><b>36. Why is the woman pleased about a change?</b></p>
                            <ul class="answer-list">
                                <li>
                                    <input type="radio" name="35" value="15566" id="15566" disabled="">
                                    <label for="15566">
                                        <i class="icon icon_radio"></i>
                                        A. Her monthly bills are lower
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="35" value="15567" id="15567" disabled="">
                                    <label for="15567">
                                        <i class="icon icon_radio"></i>
                                        B. Her commute is quicker
                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="35" value="15568" id="15568" disabled="">
                                    <label for="15568">
                                        <i class="icon icon_radio"></i>
                                        C. Recycling is easier
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="35" value="15569" id="15569" disabled="">
                                    <label for="15569">
                                        <i class="icon icon_radio"></i>
                                        D. A neighborhood looks nicer
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="answer">
                            <p><b>37. What does the man suggest the woman do?</b></p>
                            <ul class="answer-list">
                                <li>
                                    <input type="radio" name="36" value="15570" id="15570" disabled="">
                                    <label for="15570">
                                        <i class="icon icon_radio"></i>
                                        A. Join a club
                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="36" value="15571" id="15571" disabled="">
                                    <label for="15571">
                                        <i class="icon icon_radio"></i>
                                        B. Enter a competition
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="36" value="15572" id="15572" disabled="">
                                    <label for="15572">
                                        <i class="icon icon_radio"></i>
                                        C. Check an agenda
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="36" value="15573" id="15573" disabled="">
                                    <label for="15573">
                                        <i class="icon icon_radio"></i>
                                        D. Post a review
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3"
                            class="mc-btn btn-style-6">Next</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>