<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 155 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>This site may contain advice, opinions and statements of various information providers.&nbsp;</p>

                <p style="text-align:justify">We do not represent or endorse the accuracy or reliability of any advice, opinion, statement or other information provided by any information provider, any user of this site or any other person or entity. Reliance upon any such advice,
                    opinion, statement, or other information shall also be at the user's own risk.&nbsp;</p>

                <p style="text-align:justify">We shall not be liable to any user or anyone else for any inaccuracy, error, omission, alteration, or, use of any content herein, or for its timeliness or completeness.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>153. Where might this notice be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="7505" id="7505" disabled="">
                                <label for="7505">
                            <i class="icon icon_radio"></i>
                            A. in a shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="7506" id="7506" disabled="">
                                <label for="7506">
                            <i class="icon icon_radio"></i>
                            B. on the television
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="7507" id="7507" disabled="">
                                <label for="7507">
                            <i class="icon icon_radio"></i>
                            C. on the internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="7508" id="7508" disabled="">
                                <label for="7508">
                            <i class="icon icon_radio"></i>
                            D. in a newspaper
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. What is the purpose of this notice?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="7509" id="7509" disabled="">
                                <label for="7509">
                            <i class="icon icon_radio"></i>
                            A. to educate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="7510" id="7510" disabled="">
                                <label for="7510">
                            <i class="icon icon_radio"></i>
                            B. to advertise a service
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="7511" id="7511" disabled="">
                                <label for="7511">
                            <i class="icon icon_radio"></i>
                            C. to inspire trust
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="7512" id="7512" disabled="">
                                <label for="7512">
                            <i class="icon icon_radio"></i>
                            D. to give legal protection
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>155. According to the notice, what must users do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="7513" id="7513" disabled="">
                                <label for="7513">
                            <i class="icon icon_radio"></i>
                            A. accept responsibility
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="7514" id="7514" disabled="">
                                <label for="7514">
                            <i class="icon icon_radio"></i>
                            B. avoid making errors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="7515" id="7515" disabled="">
                                <label for="7515">
                            <i class="icon icon_radio"></i>
                            C. give advice
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="7516" id="7516" disabled="">
                                <label for="7516">
                            <i class="icon icon_radio"></i>
                            D. accept all the opinions
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>