<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 181 - 185 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px">To: Timothy<br> From: Alison<br> Subject: Sales chart by year</p>

                                <p style="margin-left:10px; margin-right:10px">Hi Timothy,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thanks for sending the chart I requested so promptly, I know it was extremely short notice. I just want to check a few things before I present it to our shareholders this afternoon</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I always thought shoes were our highest profit product. I think we all just take that fact for granted; so, are we mistaken? Do we consistently sell more coats than shoes? Or could the data points be mixed up, perhaps?
                                    I had a quick glance at the row data sheets, and that didn't make me&nbsp;feel any more confident.....</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Also, could you label the units used on the profit axis? Of course we all know, but I know the stockholders will need a bit of guidance. I could write it in pen, but that's just not, you know, the image we want to portray
                                    to our investors.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Please check up on the above points. I'll pass by in 10 minutes or so to talk about this. To make a mistake this afternoon would be embarrassing</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Alison&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p><img alt="" src="https://imgur.com/hm8HvuV">
                    <a href="https://imgur.com/hm8HvuV"><img alt="" src="https://i.imgur.com/hm8HvuV.png" style="width:100%"></a>
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>181. Why did Timothy send Alison the chart?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="7617" id="7617" disabled="">
                                <label for="7617">
                            <i class="icon icon_radio"></i>
                            A. She asked him to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7618" id="7618" disabled="">
                                <label for="7618">
                            <i class="icon icon_radio"></i>
                            B. He needed her to check it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7619" id="7619" disabled="">
                                <label for="7619">
                            <i class="icon icon_radio"></i>
                            C. He was unhappy with it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7620" id="7620" disabled="">
                                <label for="7620">
                            <i class="icon icon_radio"></i>
                            D. He wanted her to pass on the information
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>182. How will the shareholders see the chart?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="7621" id="7621" disabled="">
                                <label for="7621">
                            <i class="icon icon_radio"></i>
                            A. Alison will show them
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7622" id="7622" disabled="">
                                <label for="7622">
                            <i class="icon icon_radio"></i>
                            B. Timothy will show them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7623" id="7623" disabled="">
                                <label for="7623">
                            <i class="icon icon_radio"></i>
                            C. The boss of Alison and Timothy will show them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7624" id="7624" disabled="">
                                <label for="7624">
                            <i class="icon icon_radio"></i>
                            D. It will be sent to them in an email
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. How does Alison feel about the chart?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="7625" id="7625" disabled="">
                                <label for="7625">
                            <i class="icon icon_radio"></i>
                            A. She feels confident in its accuracy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7626" id="7626" disabled="">
                                <label for="7626">
                            <i class="icon icon_radio"></i>
                            B. She feels uniformed about the subject
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7627" id="7627" disabled="">
                                <label for="7627">
                            <i class="icon icon_radio"></i>
                            C. She feels like she is being tricked
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7628" id="7628" disabled="">
                                <label for="7628">
                            <i class="icon icon_radio"></i>
                            D. She feels surprised at the results
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>184. What is Alison's main concern?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="7629" id="7629" disabled="">
                                <label for="7629">
                            <i class="icon icon_radio"></i>
                            A. Timothy's work ethic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7630" id="7630" disabled="">
                                <label for="7630">
                            <i class="icon icon_radio"></i>
                            B. the accuracy of the information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7631" id="7631" disabled="">
                                <label for="7631">
                            <i class="icon icon_radio"></i>
                            C. the aesthetics of the chart
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7632" id="7632" disabled="">
                                <label for="7632">
                            <i class="icon icon_radio"></i>
                            D. the honesty of her company
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. How could Alison's manner with Timothy be best described?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="7633" id="7633" disabled="">
                                <label for="7633">
                            <i class="icon icon_radio"></i>
                            A. hostile
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7634" id="7634" disabled="">
                                <label for="7634">
                            <i class="icon icon_radio"></i>
                            B. accommodating
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7635" id="7635" disabled="">
                                <label for="7635">
                            <i class="icon icon_radio"></i>
                            C. snappy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7636" id="7636" disabled="">
                                <label for="7636">
                            <i class="icon icon_radio"></i>
                            D. tolerant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>