<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 186 - 190 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>ABSOLUTE INTERIOR DESIGN </strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Our work ranges from a single, small detail to complete residential protects.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Each job begins with either a brief telephone or email conversation at which time the basics of the client's needs are discussed. There is no fee for this preliminary service. This is followed by an Initial Consultation
                                    where more in-depth information about the client's requirements, wishes and budget details is discussed.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Over the past twenty years we've found access to unique&nbsp;sources, both national and international, that include craftspeople with special talents which are not available in the general marketplace. Experience also allows
                                    us to carry out efficient projects which eliminate virtually all of the negative aspects and fears usually associated with larger-scale renovations.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">While we are effective with project supervision, we also are realistic when describing the dusty, messy and unpleasant times&nbsp;which are part and parcel of a major renovation project. We prepare the client, with as much
                                    information as possible, for the process which their home is about to undergo as it changes from a group of poorly functioning spaces into a dream home.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Date: 16 March<br>
To: Alyssa Jamison<br>
From: Bob Brown<br>
Subject: Consultation</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Good morning Ms. Jamison,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Following our telephone conversation of Friday the 12th March, and much discussion with my wife, I'm delighted to tell you we wish to proceed with the proposed project</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">If you recall, we wish to alter our small kitchen info an open-plan kichen and living area</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I believe the next step is for you to come to our home and begin dicussion of the details</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">We would like to get this project underway as soon as possible with an aim of finishing by early July</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Please let me know when you are available for the Intial Consultation</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Bob Brown</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>186. What was the purpose of Bob Brown's email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="7637" id="7637" disabled="">
                                <label for="7637">
                            <i class="icon icon_radio"></i>
                            A. to ask what to expect from the renovation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7638" id="7638" disabled="">
                                <label for="7638">
                            <i class="icon icon_radio"></i>
                            B. to accept Ms. Jamison's job offer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7639" id="7639" disabled="">
                                <label for="7639">
                            <i class="icon icon_radio"></i>
                            C. to complain about the work being slow
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7640" id="7640" disabled="">
                                <label for="7640">
                            <i class="icon icon_radio"></i>
                            D. to hire Absolute Interior Design
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. The word "brief" in paragraph 2, line 1 of the advertisement is closest in meaning to what?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="7641" id="7641" disabled="">
                                <label for="7641">
                            <i class="icon icon_radio"></i>
                            A. short
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7642" id="7642" disabled="">
                                <label for="7642">
                            <i class="icon icon_radio"></i>
                            B. free
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7643" id="7643" disabled="">
                                <label for="7643">
                            <i class="icon icon_radio"></i>
                            C. factual
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7644" id="7644" disabled="">
                                <label for="7644">
                            <i class="icon icon_radio"></i>
                            D. inadequate
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>188. What can Absolute offer their clients?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="7645" id="7645" disabled="">
                                <label for="7645">
                            <i class="icon icon_radio"></i>
                            A. help only with very large projects
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7646" id="7646" disabled="">
                                <label for="7646">
                            <i class="icon icon_radio"></i>
                            B. the complete absence of dust
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7647" id="7647" disabled="">
                                <label for="7647">
                            <i class="icon icon_radio"></i>
                            C. exceptional craftpeople
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7648" id="7648" disabled="">
                                <label for="7648">
                            <i class="icon icon_radio"></i>
                            D. quality work at budget prices
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. What does Absolute feel must be treated realistically?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="7649" id="7649" disabled="">
                                <label for="7649">
                            <i class="icon icon_radio"></i>
                            A. the supervision of the project
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7650" id="7650" disabled="">
                                <label for="7650">
                            <i class="icon icon_radio"></i>
                            B. the client's dream
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7651" id="7651" disabled="">
                                <label for="7651">
                            <i class="icon icon_radio"></i>
                            C. the mess that will be caused
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7652" id="7652" disabled="">
                                <label for="7652">
                            <i class="icon icon_radio"></i>
                            D. the client's budget
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. What will most likely happen next?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="7653" id="7653" disabled="">
                                <label for="7653">
                            <i class="icon icon_radio"></i>
                            A. They will discuss the project on the phone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7654" id="7654" disabled="">
                                <label for="7654">
                            <i class="icon icon_radio"></i>
                            B. They will begin the renovation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7655" id="7655" disabled="">
                                <label for="7655">
                            <i class="icon icon_radio"></i>
                            C. They will arrange the Initial Consultation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7656" id="7656" disabled="">
                                <label for="7656">
                            <i class="icon icon_radio"></i>
                            D. Ms. Jamison will decline the invitation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>