<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 191 - 195 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>March 29<br>
Mr. and Mrs. Sachs<br>
12 Mountain View Road,<br>
Denver, Colorado&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px">Dear Mr and Mrs Sachs,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I'm very sorry that your stay with us was not satisfactory. On the week that you visited, we had three school groups also visiting, which has never happened before. Unfortunately our staff were not prepared, and this resulted
                                    in the deficiencies of cleanliness and service that you experienced,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">In order to change your opinion of us, we would like to invite&nbsp;you to stay with us again, at no charge. I've&nbsp;enclosed a coupon in the letter for a&nbsp;week's accommodation redeemable at any of our lodges.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I hope you will&nbsp;take up our offer to experience our usual, phenomenal service.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Jose Campbell<br> Customer Services<br> Crystal Ski Resorts&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>Crystal Ski Resorts</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Invites you ro enjoy <u>free accommodation</u> at the USA's number one winter holiday destination</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The offer includes:<br>
                                    <u>One-week bed and breakfast at any of our ski lodges. Lifts and equipment rental not included</u></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">To be claimed by <u>March 30th, next year</u></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">To claim this coupon present it at the admission desk at the time admission. Prior reservation required</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Offer code: 75934-AR-8003</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>191. Why did Jose Campbell write to the Sachs?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="7657" id="7657" disabled="">
                                <label for="7657">
                            <i class="icon icon_radio"></i>
                            A. to make a complaint
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7658" id="7658" disabled="">
                                <label for="7658">
                            <i class="icon icon_radio"></i>
                            B. to advertise the Crystal Ski Resorts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7659" id="7659" disabled="">
                                <label for="7659">
                            <i class="icon icon_radio"></i>
                            C. to respond to their enquiry
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7660" id="7660" disabled="">
                                <label for="7660">
                            <i class="icon icon_radio"></i>
                            D. to answer their complaint
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>192. What did the Sachs most likely complain about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="7661" id="7661" disabled="">
                                <label for="7661">
                            <i class="icon icon_radio"></i>
                            A. Noise carried on all night
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7662" id="7662" disabled="">
                                <label for="7662">
                            <i class="icon icon_radio"></i>
                            B. Room service didn't clean their room
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7663" id="7663" disabled="">
                                <label for="7663">
                            <i class="icon icon_radio"></i>
                            C. There was no snow and the skiing was poor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7664" id="7664" disabled="">
                                <label for="7664">
                            <i class="icon icon_radio"></i>
                            D. Their room was too small and too dark
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>193. What is Mr. Campbell offering?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="7665" id="7665" disabled="">
                                <label for="7665">
                            <i class="icon icon_radio"></i>
                            A. a free holiday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7666" id="7666" disabled="">
                                <label for="7666">
                            <i class="icon icon_radio"></i>
                            B. reduced-price accommodation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7667" id="7667" disabled="">
                                <label for="7667">
                            <i class="icon icon_radio"></i>
                            C. free accommodation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7668" id="7668" disabled="">
                                <label for="7668">
                            <i class="icon icon_radio"></i>
                            D. a refund
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. How long do the Sachs have to use their coupon?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="7669" id="7669" disabled="">
                                <label for="7669">
                            <i class="icon icon_radio"></i>
                            A. They must use it immediately
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7670" id="7670" disabled="">
                                <label for="7670">
                            <i class="icon icon_radio"></i>
                            B. They have about a month
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7671" id="7671" disabled="">
                                <label for="7671">
                            <i class="icon icon_radio"></i>
                            C. They have about a year
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7672" id="7672" disabled="">
                                <label for="7672">
                            <i class="icon icon_radio"></i>
                            D. They may use it whenever they want
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. The word "deficiencies" in paragraph 1, line 6 of the letter is closest in meaning to what?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="7673" id="7673" disabled="">
                                <label for="7673">
                            <i class="icon icon_radio"></i>
                            A. lack
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7674" id="7674" disabled="">
                                <label for="7674">
                            <i class="icon icon_radio"></i>
                            B. errors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7675" id="7675" disabled="">
                                <label for="7675">
                            <i class="icon icon_radio"></i>
                            C. misinterpretation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7676" id="7676" disabled="">
                                <label for="7676">
                            <i class="icon icon_radio"></i>
                            D. glut
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>