<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 196 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td><strong>Time</strong></td>
                            <td><strong>Presentation Title</strong></td>
                            <td><strong>Speaker</strong></td>
                            <td><strong>Room</strong></td>
                        </tr>
                        <tr>
                            <td>9:00 - 10:30</td>
                            <td>Reduce Emissions by More than 40% by 2020: Practical Examples from Scotland</td>
                            <td>Dr. Alexa Price</td>
                            <td>Adelfa</td>
                        </tr>
                        <tr>
                            <td>10:30 - 12:00</td>
                            <td>Environment Integrity</td>
                            <td>Prof. Joseph Alvarez</td>
                            <td>Theater A</td>
                        </tr>
                        <tr>
                            <td>1:00 - 2:00</td>
                            <td>Putting Lard Transport on the Copenhagen Agenda</td>
                            <td>Dr. Ronald Kay</td>
                            <td>Adelfa</td>
                        </tr>
                        <tr>
                            <td>2:00 - 4:00</td>
                            <td>Scientific Knowledge to Meet the Challenge of Climate Change</td>
                            <td>Prof. Jessica Jones</td>
                            <td>Theater B</td>
                        </tr>
                        <tr>
                            <td>4:30 - 6:00</td>
                            <td>Financing for Enhanced Climate Change Action</td>
                            <td>Dr. Ronald Kay</td>
                            <td>Theater A</td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>To:</strong> Mrs. Amy Smith<br>
                                    <strong>From:</strong> Anna Jamison<br>
                                    <strong>Subject:</strong> Schedule enquiry&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px">Dear Mrs. Smith,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I received your e-mail requesting my preference for a place in the Friday morning or afternoon poster sessions. I'm not sure which to choose.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I am especially interested in the practical applications of laws that aim to protect the environment. therefore I would hate to miss&nbsp;the first and last lecture of the day on Friday. When does the afternoon poster session
                                    end? If it ends later than 4:30, would it be acceptable for me to pack up early so as not to miss Dr.&nbsp;Kay's lecture? Are there any other days when poster sessions are being&nbsp;held that I could perhaps switch
                                    to?&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I'm sorry to trouble you in what must be a very busy time, but I am looking forward to the conferrence, it will be my first, and I am eager to get as much&nbsp;out of it as possible.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thanks in advance,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Anna Jamison<br> Department of Environmental Studies<br> Western University&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=38" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>196. What is the purpose of the email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="7677" id="7677" disabled="">
                                <label for="7677">
                            <i class="icon icon_radio"></i>
                            A. to seek information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7678" id="7678" disabled="">
                                <label for="7678">
                            <i class="icon icon_radio"></i>
                            B. to make a complaint
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7679" id="7679" disabled="">
                                <label for="7679">
                            <i class="icon icon_radio"></i>
                            C. to answers a request
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7680" id="7680" disabled="">
                                <label for="7680">
                            <i class="icon icon_radio"></i>
                            D. to give information
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>197. To what is the word "preference" in line 1, paragraph 1 of the letter closest in meaning?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="7681" id="7681" disabled="">
                                <label for="7681">
                            <i class="icon icon_radio"></i>
                            A. reservation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7682" id="7682" disabled="">
                                <label for="7682">
                            <i class="icon icon_radio"></i>
                            B. requirement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7683" id="7683" disabled="">
                                <label for="7683">
                            <i class="icon icon_radio"></i>
                            C. choice
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7684" id="7684" disabled="">
                                <label for="7684">
                            <i class="icon icon_radio"></i>
                            D. alternative
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>198. Why did Mrs. Smith email Anna Jamison?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="7685" id="7685" disabled="">
                                <label for="7685">
                            <i class="icon icon_radio"></i>
                            A. to invite her to the conference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7686" id="7686" disabled="">
                                <label for="7686">
                            <i class="icon icon_radio"></i>
                            B. to answer her questions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7687" id="7687" disabled="">
                                <label for="7687">
                            <i class="icon icon_radio"></i>
                            C. to inform her about the schedule
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7688" id="7688" disabled="">
                                <label for="7688">
                            <i class="icon icon_radio"></i>
                            D. to ask which poster session she wants
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>199. What is Anna's problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="7689" id="7689" disabled="">
                                <label for="7689">
                            <i class="icon icon_radio"></i>
                            A. She does not want to present a poster
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7690" id="7690" disabled="">
                                <label for="7690">
                            <i class="icon icon_radio"></i>
                            B. She does not want to miss some lectures
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7691" id="7691" disabled="">
                                <label for="7691">
                            <i class="icon icon_radio"></i>
                            C. She cannot attend the conference after all
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7692" id="7692" disabled="">
                                <label for="7692">
                            <i class="icon icon_radio"></i>
                            D. She has trouble making decisions
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. What can we assume about Mrs. Smith?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="7693" id="7693" disabled="">
                                <label for="7693">
                            <i class="icon icon_radio"></i>
                            A. She is not a patient person
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7694" id="7694" disabled="">
                                <label for="7694">
                            <i class="icon icon_radio"></i>
                            B. She has never been to a conference before
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7695" id="7695" disabled="">
                                <label for="7695">
                            <i class="icon icon_radio"></i>
                            C. She has a lot of work right now
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7696" id="7696" disabled="">
                                <label for="7696">
                            <i class="icon icon_radio"></i>
                            D. She scheduled the presentations
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=38" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>