<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 156 - 157 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Cafe Gratitude<br>
serving all organic, vegan and mostly live foods!</strong></p>

                <p style="text-align:center">A quirky, cool cafe that serves food that's good for you and serves it&nbsp;with a smile.&nbsp;</p>

                <p style="text-align:center">The vegan menu mixes interesting and delicious flavors, and takes local food production and the environment seriously.&nbsp;</p>

                <p style="text-align:center">Hours: Monday - Saturday 9am to 10pm<br> Sunday 10am&nbsp;to 3pm&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>156. Who is this advertisement aimed at?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="7517" id="7517" disabled="">
                                <label for="7517">
                            <i class="icon icon_radio"></i>
                            A. people who like gourmet food
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7518" id="7518" disabled="">
                                <label for="7518">
                            <i class="icon icon_radio"></i>
                            B. trendy, fashion-conscious people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7519" id="7519" disabled="">
                                <label for="7519">
                            <i class="icon icon_radio"></i>
                            C. people who have little extra spending money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7520" id="7520" disabled="">
                                <label for="7520">
                            <i class="icon icon_radio"></i>
                            D. evironment-and health-conscious people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. What claim is made about the staff?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="7521" id="7521" disabled="">
                                <label for="7521">
                            <i class="icon icon_radio"></i>
                            A. they work long hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7522" id="7522" disabled="">
                                <label for="7522">
                            <i class="icon icon_radio"></i>
                            B. they are friendly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7523" id="7523" disabled="">
                                <label for="7523">
                            <i class="icon icon_radio"></i>
                            C. they are highly qualified
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7524" id="7524" disabled="">
                                <label for="7524">
                            <i class="icon icon_radio"></i>
                            D. they are few - it is self-service
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>