<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 158 - 159 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>SMOKING:</strong></p>

                <p style="text-align:justify">This Trust acknowledges its responsibility to provide a safe, smoke-free environment for its employees, service users and visitors</p>

                <p style="text-align:justify">Smoking is therefore not permitted at any point whilst on duty, inaccordance with the guidelines set down within the Trust No-Smoking Policy #NJ77543</p>

                <p style="text-align:justify">In case of non-compliance fines of up to 500 dollars will be issued and for repeat non-compliance the Trust reserves the right to pursue further disciplinary action a appropriate</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>158. What are Trust employees not allowed to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="7525" id="7525" disabled="">
                                <label for="7525">
                            <i class="icon icon_radio"></i>
                            A. smoke ever, under any circumstances
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7526" id="7526" disabled="">
                                <label for="7526">
                            <i class="icon icon_radio"></i>
                            B. smoke while at work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7527" id="7527" disabled="">
                                <label for="7527">
                            <i class="icon icon_radio"></i>
                            C. allow visitor to smoke
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7528" id="7528" disabled="">
                                <label for="7528">
                            <i class="icon icon_radio"></i>
                            D. avoid paying a fine
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. If you are caught smoking more than once, what will happen?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="7529" id="7529" disabled="">
                                <label for="7529">
                            <i class="icon icon_radio"></i>
                            A. Probably nothing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7530" id="7530" disabled="">
                                <label for="7530">
                            <i class="icon icon_radio"></i>
                            B. You will be fined
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7531" id="7531" disabled="">
                                <label for="7531">
                            <i class="icon icon_radio"></i>
                            C. You will be fined more than 500 dollars
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7532" id="7532" disabled="">
                                <label for="7532">
                            <i class="icon icon_radio"></i>
                            D. You may be punished further
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>