<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 160 - 162 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Eternal Spring Flowers and Gifts&nbsp;</strong></p>

                <p style="text-align:justify"><strong>Customer Information Form - Telephone Orders</strong>&nbsp;</p>

                <p style="text-align:justify"><strong>Date:</strong> March 12<br>
                    <strong>Customer Name:</strong> George Jones<br>
                    <strong>Address:</strong> 34 Birch Lane, San Fransisco, CA<br>
                    <strong>Contact Number:</strong> 6748 383 8732&nbsp;</p>

                <p style="text-align:justify"><strong>How they found out about us:</strong> newspaper ad</p>

                <p style="text-align:justify"><strong>Products ordered:</strong> large mixed bouquet, in oranges/yellows<br>
                    <strong>Payment Method:</strong> credit card<br>
                    <strong>Paid:</strong> Yes / No<br>
                    <strong>Date of Payment:</strong> March 13</p>

                <p style="text-align:justify"><strong>Delivery Method:</strong> express service<br>
                    <strong>Date of Shipping:</strong> 14th March (to arrive 15th)&nbsp;<br>
                    <strong>Shipping Address:</strong> Mrs. Betty Jones, 45 Bridge Street, Portland, OR, 67853&nbsp;</p>

                <p style="text-align:justify"><strong>Message on Card: </strong>Have a great birthday Mon!&nbsp;Many happy returns! We love you. George and Anna&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>160. What does this form record?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="7533" id="7533" disabled="">
                                <label for="7533">
                            <i class="icon icon_radio"></i>
                            A. an enquiry
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7534" id="7534" disabled="">
                                <label for="7534">
                            <i class="icon icon_radio"></i>
                            B. a purchase
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7535" id="7535" disabled="">
                                <label for="7535">
                            <i class="icon icon_radio"></i>
                            C. a product
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7536" id="7536" disabled="">
                                <label for="7536">
                            <i class="icon icon_radio"></i>
                            D. an occasion
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>161. How did George contact Eternal Spring Flowers and Gifts</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="7537" id="7537" disabled="">
                                <label for="7537">
                            <i class="icon icon_radio"></i>
                            A. in a newspaper add
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7538" id="7538" disabled="">
                                <label for="7538">
                            <i class="icon icon_radio"></i>
                            B. he visited the shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7539" id="7539" disabled="">
                                <label for="7539">
                            <i class="icon icon_radio"></i>
                            C. he called them
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7540" id="7540" disabled="">
                                <label for="7540">
                            <i class="icon icon_radio"></i>
                            D. he wrote to them
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. What day is probably Betty Jones' birthday?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="7541" id="7541" disabled="">
                                <label for="7541">
                            <i class="icon icon_radio"></i>
                            A. March 12th
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7542" id="7542" disabled="">
                                <label for="7542">
                            <i class="icon icon_radio"></i>
                            B. March 13th
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7543" id="7543" disabled="">
                                <label for="7543">
                            <i class="icon icon_radio"></i>
                            C. March 14th
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7544" id="7544" disabled="">
                                <label for="7544">
                            <i class="icon icon_radio"></i>
                            D. March 15th
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>