<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 163 - 166 refer to
    following paragraph:</b>
</p>
<hr>
<p style="text-align:justify">Thousands of gamers may have been cut off from Microsoft's&nbsp;online gaming service, Xbox Live, for modifying their computers to play pirated games. Online reports suggest that as many as 600,000 gamers&nbsp;may have been affected and Microsoft has confirmed that it has banned what it calls a "small percentage of the 20 million Xbox Live users worldwide.&nbsp;</p>

<p style="text-align:justify">Microsoft had previously stated that modifying an Xbox&nbsp;360 console violates the service's terms of use and would result in a player being disconnected. The Xbox 360 is equipped with Digital Rights Management technologies to detect pirated software; however, Microsoft has&nbsp;not said exactly how it was able to determine which gamers to disconnect "We do not reveal specific, but can say that all banned consoles have been verified to have violated&nbsp;the terms of use," the firm said in a statement.&nbsp;</p>

<p style="text-align:justify">The health of the video game business depends on customers paying for the genuine products and services they receive from manufacture, retailers, and the third parties that support them. Industry figures suggest that priacy&nbsp;may cost the video game industry as much as £750m a year.&nbsp;</p>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>163. What is the article mainly about?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="162" value="7545" id="7545" disabled="">
                        <label for="7545">
                            <i class="icon icon_radio"></i>
                            A. reasons gamers play Xbox Live
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="162" value="7546" id="7546" disabled="">
                        <label for="7546">
                            <i class="icon icon_radio"></i>
                            B. Microsoft's actions against pirated software
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="162" value="7547" id="7547" disabled="">
                        <label for="7547">
                            <i class="icon icon_radio"></i>
                            C. how computer games are pirated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="162" value="7548" id="7548" disabled="">
                        <label for="7548">
                            <i class="icon icon_radio"></i>
                            D. factors damaging Microsoft's business
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>164. How many people are thought to use Xbox Live?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="163" value="7549" id="7549" disabled="">
                        <label for="7549">
                            <i class="icon icon_radio"></i>
                            A. several thousand
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="163" value="7550" id="7550" disabled="">
                        <label for="7550">
                            <i class="icon icon_radio"></i>
                            B. six hundred thousand
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="163" value="7551" id="7551" disabled="">
                        <label for="7551">
                            <i class="icon icon_radio"></i>
                            C. two million
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="163" value="7552" id="7552" disabled="">
                        <label for="7552">
                            <i class="icon icon_radio"></i>
                            D. twenty million
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>165. The word "detect" in paragraph 2 is closest in meaning to what word?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="164" value="7553" id="7553" disabled="">
                        <label for="7553">
                            <i class="icon icon_radio"></i>
                            A. capture
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="164" value="7554" id="7554" disabled="">
                        <label for="7554">
                            <i class="icon icon_radio"></i>
                            B. disable
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="164" value="7555" id="7555" disabled="">
                        <label for="7555">
                            <i class="icon icon_radio"></i>
                            C. facilitate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="164" value="7556" id="7556" disabled="">
                        <label for="7556">
                            <i class="icon icon_radio"></i>
                            D. identify
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>166. What effect does piracy have on the video game industry?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="165" value="7557" id="7557" disabled="">
                        <label for="7557">
                            <i class="icon icon_radio"></i>
                            A. It increases its popularity
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="165" value="7558" id="7558" disabled="">
                        <label for="7558">
                            <i class="icon icon_radio"></i>
                            B. It damages technologies
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="165" value="7559" id="7559" disabled="">
                        <label for="7559">
                            <i class="icon icon_radio"></i>
                            C. It costs it a lot of money
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="165" value="7560" id="7560" disabled="">
                        <label for="7560">
                            <i class="icon icon_radio"></i>
                            D. It has very little effect
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>