<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 172 - 173 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>Surprise Rise in Australian Jobs&nbsp;</strong></p>

                <p style="text-align:justify">Australia's economy created more jobs than expected in October, with 24,500 more people finding employment. It is Ihe second monthly gain in a row and has led analysts to speculate that interest rates will be increased in December to 3.75%
                    from 3.5%.&nbsp;</p>

                <p style="text-align:justify">In October, Australia became the first&nbsp;G20 country to raise interest rates since the global recession began, and it raised rates again earlier this month. The news sent the Australian dollar to a 15-month high.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>172. What is the article mainly about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="7581" id="7581" disabled="">
                                <label for="7581">
                            <i class="icon icon_radio"></i>
                            A. Australia's economic gains
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7582" id="7582" disabled="">
                                <label for="7582">
                            <i class="icon icon_radio"></i>
                            B. The global recession
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7583" id="7583" disabled="">
                                <label for="7583">
                            <i class="icon icon_radio"></i>
                            C. Unemployment in Australia
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7584" id="7584" disabled="">
                                <label for="7584">
                            <i class="icon icon_radio"></i>
                            D. How Australia overcame the recession
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. According to the article which of the following has not yet happened?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="7585" id="7585" disabled="">
                                <label for="7585">
                            <i class="icon icon_radio"></i>
                            A. More people found employment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7586" id="7586" disabled="">
                                <label for="7586">
                            <i class="icon icon_radio"></i>
                            B. Interest rates were raised
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7587" id="7587" disabled="">
                                <label for="7587">
                            <i class="icon icon_radio"></i>
                            C. Interest rates increased to 3.75%
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7588" id="7588" disabled="">
                                <label for="7588">
                            <i class="icon icon_radio"></i>
                            D. The Australian dollar increased in value
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>