<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <img src="https://toeic24.vn/upload/img/resized/1565676726.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565676726.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 33.6944%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="931" id="931" disabled="">
                                <label for="931">
                            <i class="icon icon_radio"></i>
                            A. His feet are on his desk
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="932" id="932" disabled="">
                                <label for="932">
                            <i class="icon icon_radio"></i>
                            B. He is talking on the phone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="933" id="933" disabled="">
                                <label for="933">
                            <i class="icon icon_radio"></i>
                            C. There are two plants on his desk
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="934" id="934" disabled="">
                                <label for="934">
                            <i class="icon icon_radio"></i>
                            D. He is turned away from the computer
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565676802.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565676802.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 28.0227%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:21</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="935" id="935" disabled="">
                                <label for="935">
                            <i class="icon icon_radio"></i>
                            A. She's wearing a helmet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="936" id="936" disabled="">
                                <label for="936">
                            <i class="icon icon_radio"></i>
                            B. She's wearing jeans
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="937" id="937" disabled="">
                                <label for="937">
                            <i class="icon icon_radio"></i>
                            C. She's on a busy road
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="938" id="938" disabled="">
                                <label for="938">
                            <i class="icon icon_radio"></i>
                            D. She's riding her bike at a fast pace
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565676881.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565676882.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 32.0031%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="939" id="939" disabled="">
                                <label for="939">
                            <i class="icon icon_radio"></i>
                            A. They are on a motorboat
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="940" id="940" disabled="">
                                <label for="940">
                            <i class="icon icon_radio"></i>
                            B. The man in the back is wearing sunglasses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="941" id="941" disabled="">
                                <label for="941">
                            <i class="icon icon_radio"></i>
                            C. There are a lot of rapids
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="942" id="942" disabled="">
                                <label for="942">
                            <i class="icon icon_radio"></i>
                            D. Only one man is currently padding
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565676949.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565676949.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 25.6324%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="943" id="943" disabled="">
                                <label for="943">
                            <i class="icon icon_radio"></i>
                            A. She is talking to the man with the beard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="944" id="944" disabled="">
                                <label for="944">
                            <i class="icon icon_radio"></i>
                            B. She is wearing a necklace
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="945" id="945" disabled="">
                                <label for="945">
                            <i class="icon icon_radio"></i>
                            C. She is gesturing with her hands
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="946" id="946" disabled="">
                                <label for="946">
                            <i class="icon icon_radio"></i>
                            D. He is standing next to her
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565677030.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565677030.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 29.5718%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:20</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="947" id="947" disabled="">
                                <label for="947">
                            <i class="icon icon_radio"></i>
                            A. They are both wearing ties over their t-shirts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="948" id="948" disabled="">
                                <label for="948">
                            <i class="icon icon_radio"></i>
                            B. They are reading off a computer screen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="949" id="949" disabled="">
                                <label for="949">
                            <i class="icon icon_radio"></i>
                            C. They are both holding papers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="950" id="950" disabled="">
                                <label for="950">
                            <i class="icon icon_radio"></i>
                            D. One boy is laughing at the other
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565677104.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565677104.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.7691%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:22</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="951" id="951" disabled="">
                                <label for="951">
                            <i class="icon icon_radio"></i>
                            A. The stage is crowded
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="952" id="952" disabled="">
                                <label for="952">
                            <i class="icon icon_radio"></i>
                            B. The seats are full of people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="953" id="953" disabled="">
                                <label for="953">
                            <i class="icon icon_radio"></i>
                            C. There is a bright backdrop behind the speaker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="954" id="954" disabled="">
                                <label for="954">
                            <i class="icon icon_radio"></i>
                            D. People are entering the auditorium
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565677178.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565677179.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 32.7095%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>7. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="955" id="955" disabled="">
                                <label for="955">
                            <i class="icon icon_radio"></i>
                            A. The police officers are stopping a crime
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="956" id="956" disabled="">
                                <label for="956">
                            <i class="icon icon_radio"></i>
                            B. They are dressed in uniform
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="957" id="957" disabled="">
                                <label for="957">
                            <i class="icon icon_radio"></i>
                            C. They are arguing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="958" id="958" disabled="">
                                <label for="958">
                            <i class="icon icon_radio"></i>
                            D. Only one is wearing a hat
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565677306.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565677306.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 33.2149%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>8. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="959" id="959" disabled="">
                                <label for="959">
                            <i class="icon icon_radio"></i>
                            A. He is playing basketball
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="960" id="960" disabled="">
                                <label for="960">
                            <i class="icon icon_radio"></i>
                            B. He is very calm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="961" id="961" disabled="">
                                <label for="961">
                            <i class="icon icon_radio"></i>
                            C. He is crossing his legs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="962" id="962" disabled="">
                                <label for="962">
                            <i class="icon icon_radio"></i>
                            D. He is upset
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565677381.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565677381.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 35.022%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>9. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="963" id="963" disabled="">
                                <label for="963">
                            <i class="icon icon_radio"></i>
                            A. He is speaking into a microphone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="964" id="964" disabled="">
                                <label for="964">
                            <i class="icon icon_radio"></i>
                            B. His jacket is unbuttoned
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="965" id="965" disabled="">
                                <label for="965">
                            <i class="icon icon_radio"></i>
                            C. Both his hands are full
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="966" id="966" disabled="">
                                <label for="966">
                            <i class="icon icon_radio"></i>
                            D. He is pointing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565677450.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665857/1565677450.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 28.1552%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:22</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>10. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="967" id="967" disabled="">
                                <label for="967">
                            <i class="icon icon_radio"></i>
                            A. Their backs are to the white board
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="968" id="968" disabled="">
                                <label for="968">
                            <i class="icon icon_radio"></i>
                            B. The man is wearing a jacket with his tie
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="969" id="969" disabled="">
                                <label for="969">
                            <i class="icon icon_radio"></i>
                            C. They are writing with chalk
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="970" id="970" disabled="">
                                <label for="970">
                            <i class="icon icon_radio"></i>
                            D. The woman is speaking to the man next to her
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>