<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 41 - 43 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>M: Are the proposals done? The boss is really stressed.</p>

<p>W: I'll need another hour or two.</p>

<p>M: He is not going to be happy to hear that. His own boss is very demanding.</p>

<p>W: I am doing all I can and if he is not satisfied he can come and talk to me. Now let me get back to work!&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565838824.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 14.6982%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:46</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>41. Who is the most worried about meeting a deadline?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="40" value="2177" id="2177" disabled="">
                        <label for="2177">
                            <i class="icon icon_radio"></i>
                            A. the man
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="40" value="2178" id="2178" disabled="">
                        <label for="2178">
                            <i class="icon icon_radio"></i>
                            B. the woman's boss
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="40" value="2179" id="2179" disabled="">
                        <label for="2179">
                            <i class="icon icon_radio"></i>
                            C. the boss of the woman's boss
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="40" value="2180" id="2180" disabled="">
                        <label for="2180">
                            <i class="icon icon_radio"></i>
                            D. the woman
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>42. When is the earliest that the proposals will be done?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="41" value="2181" id="2181" disabled="">
                        <label for="2181">
                            <i class="icon icon_radio"></i>
                            A. two hours
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="41" value="2182" id="2182" disabled="">
                        <label for="2182">
                            <i class="icon icon_radio"></i>
                            B. a half hour
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="41" value="2183" id="2183" disabled="">
                        <label for="2183">
                            <i class="icon icon_radio"></i>
                            C. one hour
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="41" value="2184" id="2184" disabled="">
                        <label for="2184">
                            <i class="icon icon_radio"></i>
                            D. immediately
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>43. What is the woman doing to do as soon as the man leaves?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="42" value="2185" id="2185" disabled="">
                        <label for="2185">
                            <i class="icon icon_radio"></i>
                            A. continue working
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="42" value="2186" id="2186" disabled="">
                        <label for="2186">
                            <i class="icon icon_radio"></i>
                            B. hand in the proposals
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="42" value="2187" id="2187" disabled="">
                        <label for="2187">
                            <i class="icon icon_radio"></i>
                            C. talk to her boss
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="42" value="2188" id="2188" disabled="">
                        <label for="2188">
                            <i class="icon icon_radio"></i>
                            D. review the proposal
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>