<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Will the company give me money in advance for meals and transportation?</p>

                        <p>M: Unfortunately, no. But they reimburse you almost immediately. Just keep your receipts and fill out the paperwork.</p>

                        <p>W: What paperwork?</p>

                        <p>M: You're meant to record all your expenses so they can keep it on files for taxes. You can pick them up at the front desk.</p>

                        <p>W: I'm so glad I ran into you!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565842351.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 19.3934%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. Who is the man in relationship to the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2285" id="2285" disabled="">
                                <label for="2285">
                            <i class="icon icon_radio"></i>
                            A. a travel agent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2286" id="2286" disabled="">
                                <label for="2286">
                            <i class="icon icon_radio"></i>
                            B. a front desk worker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2287" id="2287" disabled="">
                                <label for="2287">
                            <i class="icon icon_radio"></i>
                            C. a colleague
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2288" id="2288" disabled="">
                                <label for="2288">
                            <i class="icon icon_radio"></i>
                            D. her father
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. What does the woman NOT have to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2289" id="2289" disabled="">
                                <label for="2289">
                            <i class="icon icon_radio"></i>
                            A. keep her receipts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2290" id="2290" disabled="">
                                <label for="2290">
                            <i class="icon icon_radio"></i>
                            B. visit the front desk
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2291" id="2291" disabled="">
                                <label for="2291">
                            <i class="icon icon_radio"></i>
                            C. record her expenses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2292" id="2292" disabled="">
                                <label for="2292">
                            <i class="icon icon_radio"></i>
                            D. file for taxes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What is the nature of the man and woman's meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2293" id="2293" disabled="">
                                <label for="2293">
                            <i class="icon icon_radio"></i>
                            A. casual chat
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2294" id="2294" disabled="">
                                <label for="2294">
                            <i class="icon icon_radio"></i>
                            B. business meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2295" id="2295" disabled="">
                                <label for="2295">
                            <i class="icon icon_radio"></i>
                            C. telephone conversation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2296" id="2296" disabled="">
                                <label for="2296">
                            <i class="icon icon_radio"></i>
                            D. formal presentation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>