<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: What's wrong? No sleep? Bad day at work?</p>

                        <p>W: Mostly the latter. Two teenagers attempted to shoplift.</p>

                        <p>M: What happened?</p>

                        <p>W: The security guard caught them. But we had to call the police, and I hated having police cars outside my store. It doesn't exactly encourage people to come in and buy books. Then their parents came to pick them up.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565839477.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.1532%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. What is bothering the woman the most?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="2201" id="2201" disabled="">
                                <label for="2201">
                            <i class="icon icon_radio"></i>
                            A. she is tired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2202" id="2202" disabled="">
                                <label for="2202">
                            <i class="icon icon_radio"></i>
                            B. work was stressful
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2203" id="2203" disabled="">
                                <label for="2203">
                            <i class="icon icon_radio"></i>
                            C. work and tiredness in equal amounts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2204" id="2204" disabled="">
                                <label for="2204">
                            <i class="icon icon_radio"></i>
                            D. she fell off a ladder
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. Who caught the teenagers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="2205" id="2205" disabled="">
                                <label for="2205">
                            <i class="icon icon_radio"></i>
                            A. the woman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2206" id="2206" disabled="">
                                <label for="2206">
                            <i class="icon icon_radio"></i>
                            B. a security guard
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2207" id="2207" disabled="">
                                <label for="2207">
                            <i class="icon icon_radio"></i>
                            C. a police officer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2208" id="2208" disabled="">
                                <label for="2208">
                            <i class="icon icon_radio"></i>
                            D. their parents
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. What didn't the woman like when the police came?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="2209" id="2209" disabled="">
                                <label for="2209">
                            <i class="icon icon_radio"></i>
                            A. They had to call the parents
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2210" id="2210" disabled="">
                                <label for="2210">
                            <i class="icon icon_radio"></i>
                            B. It made the store too crowded
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2211" id="2211" disabled="">
                                <label for="2211">
                            <i class="icon icon_radio"></i>
                            C. It drew negative attention to the store
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2212" id="2212" disabled="">
                                <label for="2212">
                            <i class="icon icon_radio"></i>
                            D. Their car were blocking the entrance
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>