<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: I'm so impressed with you for starting this new business. I was living off my parents at your age!</p>

                        <p>M: My father did lend me a lot of money.</p>

                        <p>W: But you are making all of the decisions.</p>

                        <p>M: Right....but I don't dare congratulate myself until it's up and running with a good customer base.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565840427.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.3688%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:47</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. How old is the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="2225" id="2225" disabled="">
                                <label for="2225">
                            <i class="icon icon_radio"></i>
                            A. the same age as the man
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2226" id="2226" disabled="">
                                <label for="2226">
                            <i class="icon icon_radio"></i>
                            B. older than the man
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2227" id="2227" disabled="">
                                <label for="2227">
                            <i class="icon icon_radio"></i>
                            C. younger than the man
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2228" id="2228" disabled="">
                                <label for="2228">
                            <i class="icon icon_radio"></i>
                            D. the same age as the man's parents
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. What is the man's dad helping with?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="2229" id="2229" disabled="">
                                <label for="2229">
                            <i class="icon icon_radio"></i>
                            A. nothing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2230" id="2230" disabled="">
                                <label for="2230">
                            <i class="icon icon_radio"></i>
                            B. setting up
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2231" id="2231" disabled="">
                                <label for="2231">
                            <i class="icon icon_radio"></i>
                            C. hiring
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2232" id="2232" disabled="">
                                <label for="2232">
                            <i class="icon icon_radio"></i>
                            D. finances
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. Why isn't the man proud of himself?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="2233" id="2233" disabled="">
                                <label for="2233">
                            <i class="icon icon_radio"></i>
                            A. He has few customers 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2234" id="2234" disabled="">
                                <label for="2234">
                            <i class="icon icon_radio"></i>
                            B. His father has hone most of the work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2235" id="2235" disabled="">
                                <label for="2235">
                            <i class="icon icon_radio"></i>
                            C. The business hasn't opened yet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2236" id="2236" disabled="">
                                <label for="2236">
                            <i class="icon icon_radio"></i>
                            D. He lacks confidence in himself
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>