<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: You know that you are a valued employee, but lately, your efficiency has slowed down.</p>

                        <p>W: I'm sorry, but I've just had a baby.</p>

                        <p>M: I understand that, but as your boss I need to hold you accountable for your work.</p>

                        <p>W: With all due respect, I've just won a big case. Where I am slacking is at home with my son.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565840779.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.1705%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:01</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. What kind of worker is the woman normally?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2237" id="2237" disabled="">
                                <label for="2237">
                            <i class="icon icon_radio"></i>
                            A. an inefficient one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2238" id="2238" disabled="">
                                <label for="2238">
                            <i class="icon icon_radio"></i>
                            B. one with a lot of potential
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2239" id="2239" disabled="">
                                <label for="2239">
                            <i class="icon icon_radio"></i>
                            C. a part-time one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2240" id="2240" disabled="">
                                <label for="2240">
                            <i class="icon icon_radio"></i>
                            D. a dedicated one
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. Why has the woman's work behavior changed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2241" id="2241" disabled="">
                                <label for="2241">
                            <i class="icon icon_radio"></i>
                            A. she's been ill
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2242" id="2242" disabled="">
                                <label for="2242">
                            <i class="icon icon_radio"></i>
                            B. she's a new mother
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2243" id="2243" disabled="">
                                <label for="2243">
                            <i class="icon icon_radio"></i>
                            C. she's a newlywed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2244" id="2244" disabled="">
                                <label for="2244">
                            <i class="icon icon_radio"></i>
                            D. she's pregnant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. To what does the woman want to dedicate more energy?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2245" id="2245" disabled="">
                                <label for="2245">
                            <i class="icon icon_radio"></i>
                            A. the Shaw account
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2246" id="2246" disabled="">
                                <label for="2246">
                            <i class="icon icon_radio"></i>
                            B. working longer hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2247" id="2247" disabled="">
                                <label for="2247">
                            <i class="icon icon_radio"></i>
                            C. her family
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2248" id="2248" disabled="">
                                <label for="2248">
                            <i class="icon icon_radio"></i>
                            D. being more respectful
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>