<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: You know that you are a valued employee, but lately, your efficiency has slowed down.</p>

                        <p>W: I'm sorry, but I've just had a baby.</p>

                        <p>M: I understand that, but as your boss I need to hold you accountable for your work.</p>

                        <p>W: With all due respect, I've just won a big case. Where I am slacking is at home with my son.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565841064.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.9948%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:46</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. What did the woman just do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2249" id="2249" disabled="">
                                <label for="2249">
                            <i class="icon icon_radio"></i>
                            A. change the interior of her home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2250" id="2250" disabled="">
                                <label for="2250">
                            <i class="icon icon_radio"></i>
                            B. paint the outside of the house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2251" id="2251" disabled="">
                                <label for="2251">
                            <i class="icon icon_radio"></i>
                            C. move to a new house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2252" id="2252" disabled="">
                                <label for="2252">
                            <i class="icon icon_radio"></i>
                            D. retire from her job
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. What is NOT a reason explaining why the woman has more money?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2253" id="2253" disabled="">
                                <label for="2253">
                            <i class="icon icon_radio"></i>
                            A. her kids graduated from college
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2254" id="2254" disabled="">
                                <label for="2254">
                            <i class="icon icon_radio"></i>
                            B. her new business is a success
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2255" id="2255" disabled="">
                                <label for="2255">
                            <i class="icon icon_radio"></i>
                            C. inheritance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2256" id="2256" disabled="">
                                <label for="2256">
                            <i class="icon icon_radio"></i>
                            D. they have fewer bills to pay
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What does the man think?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2257" id="2257" disabled="">
                                <label for="2257">
                            <i class="icon icon_radio"></i>
                            A. The changes were unnecessary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2258" id="2258" disabled="">
                                <label for="2258">
                            <i class="icon icon_radio"></i>
                            B. The woman should work some more before she retires
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2259" id="2259" disabled="">
                                <label for="2259">
                            <i class="icon icon_radio"></i>
                            C. The house is nice because it's old-fashioned
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2260" id="2260" disabled="">
                                <label for="2260">
                            <i class="icon icon_radio"></i>
                            D. The woman earned the right to relax
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>