<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Work was exhausting today. I was in surgery for over five hours.</p>

                        <p>M: I'm just relieved we are done and out of the hospital! Sometimes, I feel like I live there.</p>

                        <p>W: I feel like we live at this bar. We spend more time here than our homes.</p>

                        <p>M: Because there is housework waiting for us at home.</p>

                        <p>W: Good point. Let's get another drink.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565841658.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.4232%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:51</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. Where is this conversation talking place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2261" id="2261" disabled="">
                                <label for="2261">
                            <i class="icon icon_radio"></i>
                            A. a hospital
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2262" id="2262" disabled="">
                                <label for="2262">
                            <i class="icon icon_radio"></i>
                            B. a bar
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2263" id="2263" disabled="">
                                <label for="2263">
                            <i class="icon icon_radio"></i>
                            C. a house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2264" id="2264" disabled="">
                                <label for="2264">
                            <i class="icon icon_radio"></i>
                            D. an office
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. Who are the man and woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2265" id="2265" disabled="">
                                <label for="2265">
                            <i class="icon icon_radio"></i>
                            A. doctors
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2266" id="2266" disabled="">
                                <label for="2266">
                            <i class="icon icon_radio"></i>
                            B. bartenders
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2267" id="2267" disabled="">
                                <label for="2267">
                            <i class="icon icon_radio"></i>
                            C. homemakers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2268" id="2268" disabled="">
                                <label for="2268">
                            <i class="icon icon_radio"></i>
                            D. therapists
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. Why are they staying at the bar?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2269" id="2269" disabled="">
                                <label for="2269">
                            <i class="icon icon_radio"></i>
                            A. to avoid going home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2270" id="2270" disabled="">
                                <label for="2270">
                            <i class="icon icon_radio"></i>
                            B. they are on a break from work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2271" id="2271" disabled="">
                                <label for="2271">
                            <i class="icon icon_radio"></i>
                            C. they are celebrating a successful day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2272" id="2272" disabled="">
                                <label for="2272">
                            <i class="icon icon_radio"></i>
                            D. they live in the same building
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>