<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 65 - 67 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>M: The elevator is going to be repaired tomorrow.</p>

<p>W: It's about time! I can't imagine having to walk up seven flights of stairs another day.</p>

<p>M: I know. My apartment is on the tenth floor!</p>

<p>W: At least we've gotten some exercise.</p>

<p>M: I suppose. Ok. We better get to the stairwell.&nbsp;</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1565842068.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 20.0534%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:51</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>65. Where is this conversation talking place?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="64" value="2273" id="2273" disabled="">
                        <label for="2273">
                            <i class="icon icon_radio"></i>
                            A. in an apartment building
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="64" value="2274" id="2274" disabled="">
                        <label for="2274">
                            <i class="icon icon_radio"></i>
                            B. in an office building
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="64" value="2275" id="2275" disabled="">
                        <label for="2275">
                            <i class="icon icon_radio"></i>
                            C. in a parking lot
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="64" value="2276" id="2276" disabled="">
                        <label for="2276">
                            <i class="icon icon_radio"></i>
                            D. in a gym
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>66. Where is the man's final destination?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="65" value="2277" id="2277" disabled="">
                        <label for="2277">
                            <i class="icon icon_radio"></i>
                            A. the second floor
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="65" value="2278" id="2278" disabled="">
                        <label for="2278">
                            <i class="icon icon_radio"></i>
                            B. the seventh floor
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="65" value="2279" id="2279" disabled="">
                        <label for="2279">
                            <i class="icon icon_radio"></i>
                            C. the tenth floor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="65" value="2280" id="2280" disabled="">
                        <label for="2280">
                            <i class="icon icon_radio"></i>
                            D. the fifth floor
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>67. What does the woman see as positive?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="66" value="2281" id="2281" disabled="">
                        <label for="2281">
                            <i class="icon icon_radio"></i>
                            A. taking well-deserved breaks
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="66" value="2282" id="2282" disabled="">
                        <label for="2282">
                            <i class="icon icon_radio"></i>
                            B. getting exercise
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="66" value="2283" id="2283" disabled="">
                        <label for="2283">
                            <i class="icon icon_radio"></i>
                            C. saving electricity
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="66" value="2284" id="2284" disabled="">
                        <label for="2284">
                            <i class="icon icon_radio"></i>
                            D. being out of breath
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>