<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Attention all passengers. The Chicago Express leaving from platform 3 has been delayed due to ice on the tracks. It will now be leaving from platform 6 at 11.45. All passengers for Boston should make their way to platform 8 as
                            this train will be leaving in 15 minutes at 11.30. Passengers are reminded that this is the slow train to Boston as the Boston Express left 10 minutes ago. Passengers are reminded that they should keep their bags with them
                            at all times as unattended bags will be seen as a security risk and may be destroyed. If you lose a bag please report to the lost property office which is situated between the ticket office and the cafe.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566180906.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.52486%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:25</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. What is the situation with the Chicago train?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3737" id="3737" disabled="">
                                <label for="3737">
                            <i class="icon icon_radio"></i>
                            A. It has been cancelled
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3738" id="3738" disabled="">
                                <label for="3738">
                            <i class="icon icon_radio"></i>
                            B. It has just left
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3739" id="3739" disabled="">
                                <label for="3739">
                            <i class="icon icon_radio"></i>
                            C. Bad weather has made it late
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3740" id="3740" disabled="">
                                <label for="3740">
                            <i class="icon icon_radio"></i>
                            D. It will leave from platform there
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. What is the time now?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3741" id="3741" disabled="">
                                <label for="3741">
                            <i class="icon icon_radio"></i>
                            A. 11.15
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3742" id="3742" disabled="">
                                <label for="3742">
                            <i class="icon icon_radio"></i>
                            B. 11 o'clock
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3743" id="3743" disabled="">
                                <label for="3743">
                            <i class="icon icon_radio"></i>
                            C. 11.10
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3744" id="3744" disabled="">
                                <label for="3744">
                            <i class="icon icon_radio"></i>
                            D. 11.30
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What should you do if you lose a bag?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3745" id="3745" disabled="">
                                <label for="3745">
                            <i class="icon icon_radio"></i>
                            A. go to the ticket office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3746" id="3746" disabled="">
                                <label for="3746">
                            <i class="icon icon_radio"></i>
                            B. nothing, it will be destroyed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3747" id="3747" disabled="">
                                <label for="3747">
                            <i class="icon icon_radio"></i>
                            C. tell a security guard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3748" id="3748" disabled="">
                                <label for="3748">
                            <i class="icon icon_radio"></i>
                            D. go to the office next to the cafe
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>