<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>From about 9000 BC the noble art of buying and selling began with cattle as its universal currency, soon to be joined by wheat and other crops. Then came lambs in Egypt, leather in Rome, sugar in the West Indies and tin in England
                            and Wales. When Julius Caesar troops invaded Britain they found the natives trading in ring money -first on the finger and then in the pocket. Six centuries before Caesar invasion however, in a part of Turkey, the first ever
                            coin users are known to have existed. They used discs made from gold and silver with a design on one side.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566183389.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.6435%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:15</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. What is the lecture about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="3845" id="3845" disabled="">
                                <label for="3845">
                            <i class="icon icon_radio"></i>
                            A. fashion
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3846" id="3846" disabled="">
                                <label for="3846">
                            <i class="icon icon_radio"></i>
                            B. history
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3847" id="3847" disabled="">
                                <label for="3847">
                            <i class="icon icon_radio"></i>
                            C. geography
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3848" id="3848" disabled="">
                                <label for="3848">
                            <i class="icon icon_radio"></i>
                            D. human biology
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. What form of payment is first mentioned?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="3849" id="3849" disabled="">
                                <label for="3849">
                            <i class="icon icon_radio"></i>
                            A. plants
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3850" id="3850" disabled="">
                                <label for="3850">
                            <i class="icon icon_radio"></i>
                            B. money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3851" id="3851" disabled="">
                                <label for="3851">
                            <i class="icon icon_radio"></i>
                            C. animals
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3852" id="3852" disabled="">
                                <label for="3852">
                            <i class="icon icon_radio"></i>
                            D. art
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. Where was money in its modern form first used?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="3853" id="3853" disabled="">
                                <label for="3853">
                            <i class="icon icon_radio"></i>
                            A. Italy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3854" id="3854" disabled="">
                                <label for="3854">
                            <i class="icon icon_radio"></i>
                            B. England
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3855" id="3855" disabled="">
                                <label for="3855">
                            <i class="icon icon_radio"></i>
                            C. West Indies
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3856" id="3856" disabled="">
                                <label for="3856">
                            <i class="icon icon_radio"></i>
                            D. Turkey
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>