<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Women who smoke are 30 per cent more likely to develop breast cancer than non-smokers, say scientists. A study of over 116,000 teachers in California contradicts British research last year which concluded smoking had no effect
                            on the risk of the disease. In the latest study, it was found that women who smoked for many years or had 20 or more cigarettes per day were at higher risk. Dr Peggy Cannes who lead the team said that the saddest thing is that
                            this cause of cancer is self-inflicted and it is time that women took action to protect their health.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566181343.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.2979%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:10</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. What was discovered in the American study?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3749" id="3749" disabled="">
                                <label for="3749">
                            <i class="icon icon_radio"></i>
                            A. People smoke more in California
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3750" id="3750" disabled="">
                                <label for="3750">
                            <i class="icon icon_radio"></i>
                            B. Teacher tend to be heavy smokers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3751" id="3751" disabled="">
                                <label for="3751">
                            <i class="icon icon_radio"></i>
                            C. Female teachers are not as healthy as male teachers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3752" id="3752" disabled="">
                                <label for="3752">
                            <i class="icon icon_radio"></i>
                            D. Smoking can raise the risk of cancer by nearly a third
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. What does Dr. Cannes believe?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3753" id="3753" disabled="">
                                <label for="3753">
                            <i class="icon icon_radio"></i>
                            A. Women can do nothing to stop breast cancer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3754" id="3754" disabled="">
                                <label for="3754">
                            <i class="icon icon_radio"></i>
                            B. Women need to be more responsible
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3755" id="3755" disabled="">
                                <label for="3755">
                            <i class="icon icon_radio"></i>
                            C. Sadness causes women to smoke
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3756" id="3756" disabled="">
                                <label for="3756">
                            <i class="icon icon_radio"></i>
                            D. It makes no difference how much you smoke
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What is the general point of this report?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3757" id="3757" disabled="">
                                <label for="3757">
                            <i class="icon icon_radio"></i>
                            A. to educate women about the risks of smoking
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3758" id="3758" disabled="">
                                <label for="3758">
                            <i class="icon icon_radio"></i>
                            B. to criticize cigarette manufacturers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3759" id="3759" disabled="">
                                <label for="3759">
                            <i class="icon icon_radio"></i>
                            C. to inform teachers of the risks of smoking
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3760" id="3760" disabled="">
                                <label for="3760">
                            <i class="icon icon_radio"></i>
                            D. to show that cancer is a depressing disease
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>