<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Have a relaxing weekend at Pelham House. We cater for weddings, anniversary and birthday parties as well as conferences. Overnight guests have full use of all hotel facilities including the gym, pool and sauna. The restaurant offers
                            freshly made food all day until ten in the evening when you can retire for a cocktail in the beautiful rooftop bar which is open from 6pm till 3am.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566181509.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.9329%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:02</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. What is NOT mentioned as an event that the hotel caters for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="3761" id="3761" disabled="">
                                <label for="3761">
                            <i class="icon icon_radio"></i>
                            A. birthdays
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3762" id="3762" disabled="">
                                <label for="3762">
                            <i class="icon icon_radio"></i>
                            B. funerals
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3763" id="3763" disabled="">
                                <label for="3763">
                            <i class="icon icon_radio"></i>
                            C. anniversaries
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3764" id="3764" disabled="">
                                <label for="3764">
                            <i class="icon icon_radio"></i>
                            D. weddings
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. Who can use the swimming pool?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="3765" id="3765" disabled="">
                                <label for="3765">
                            <i class="icon icon_radio"></i>
                            A. everyone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3766" id="3766" disabled="">
                                <label for="3766">
                            <i class="icon icon_radio"></i>
                            B. people using the restaurant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3767" id="3767" disabled="">
                                <label for="3767">
                            <i class="icon icon_radio"></i>
                            C. people who have a room
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3768" id="3768" disabled="">
                                <label for="3768">
                            <i class="icon icon_radio"></i>
                            D. hotel staff
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. When can you get a full meal?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="3769" id="3769" disabled="">
                                <label for="3769">
                            <i class="icon icon_radio"></i>
                            A. just in the evening
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3770" id="3770" disabled="">
                                <label for="3770">
                            <i class="icon icon_radio"></i>
                            B. once the bar has opened
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3771" id="3771" disabled="">
                                <label for="3771">
                            <i class="icon icon_radio"></i>
                            C. anytime before ten in the evening
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3772" id="3772" disabled="">
                                <label for="3772">
                            <i class="icon icon_radio"></i>
                            D. anytime until the bar opens
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>