<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 83 - 85 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Thank you for calling Black's Homecare Services. We deal with all electrical and plumbing supplies and repairs. If you have an enquiry about our repair service, press 1. If you need to ask about a delivery, press 2. For any other
                            service, press 3. If you aren't sure which department you need, please hold the line. We would also like to draw your attention to this month's special offer which is a 25% discount on electrical goods which follows last month's
                            discount on DVD players. But hurry, as this offer runs out at 6pm on Friday.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566181944.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.28581%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:19</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>83. What can Black's Homecare Services probably NOT help you with?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="82" value="3785" id="3785" disabled="">
                                <label for="3785">
                            <i class="icon icon_radio"></i>
                            A. a new shower
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3786" id="3786" disabled="">
                                <label for="3786">
                            <i class="icon icon_radio"></i>
                            B. funiture
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3787" id="3787" disabled="">
                                <label for="3787">
                            <i class="icon icon_radio"></i>
                            C. a toilet flush
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3788" id="3788" disabled="">
                                <label for="3788">
                            <i class="icon icon_radio"></i>
                            D. lighting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>84. What should you do if you didn't receive a product?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="83" value="3789" id="3789" disabled="">
                                <label for="3789">
                            <i class="icon icon_radio"></i>
                            A. press 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3790" id="3790" disabled="">
                                <label for="3790">
                            <i class="icon icon_radio"></i>
                            B. press 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3791" id="3791" disabled="">
                                <label for="3791">
                            <i class="icon icon_radio"></i>
                            C. hold the line
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3792" id="3792" disabled="">
                                <label for="3792">
                            <i class="icon icon_radio"></i>
                            D. press 2
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>85. What is true about this month's special offer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="84" value="3793" id="3793" disabled="">
                                <label for="3793">
                            <i class="icon icon_radio"></i>
                            A. it is only on DVD players
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3794" id="3794" disabled="">
                                <label for="3794">
                            <i class="icon icon_radio"></i>
                            B. it has just run out
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3795" id="3795" disabled="">
                                <label for="3795">
                            <i class="icon icon_radio"></i>
                            C. it has a time limit
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3796" id="3796" disabled="">
                                <label for="3796">
                            <i class="icon icon_radio"></i>
                            D. today is the last day
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>