<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Millions of holidaymakers seeking for a little sunshine are risking their lives in swimming pools which contain bacteria, it is claimed. Many pools abroad, especially those for children, are little better than toilets. The group's
                            experts failed three out of four pools they tested and condemned one in four as a serious health hazard. The association accuses the owners of hotel and apartment blocks from across Europe of failing to ensure the pools are
                            properly filtered, cleaned and disinfected.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566182157.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.8445%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:02</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. What is the danger to holidaymakers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="3797" id="3797" disabled="">
                                <label for="3797">
                            <i class="icon icon_radio"></i>
                            A. deep water
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3798" id="3798" disabled="">
                                <label for="3798">
                            <i class="icon icon_radio"></i>
                            B. dirty water
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3799" id="3799" disabled="">
                                <label for="3799">
                            <i class="icon icon_radio"></i>
                            C. food poisoning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3800" id="3800" disabled="">
                                <label for="3800">
                            <i class="icon icon_radio"></i>
                            D. too much sun
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. What is causing the problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="3801" id="3801" disabled="">
                                <label for="3801">
                            <i class="icon icon_radio"></i>
                            A. too many tourists
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3802" id="3802" disabled="">
                                <label for="3802">
                            <i class="icon icon_radio"></i>
                            B. lack of proper cleaning
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3803" id="3803" disabled="">
                                <label for="3803">
                            <i class="icon icon_radio"></i>
                            C. no cleaning at all
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3804" id="3804" disabled="">
                                <label for="3804">
                            <i class="icon icon_radio"></i>
                            D. dirty toilets
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What did the experts find?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="3805" id="3805" disabled="">
                                <label for="3805">
                            <i class="icon icon_radio"></i>
                            A. only one out of four pools was clean enough
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3806" id="3806" disabled="">
                                <label for="3806">
                            <i class="icon icon_radio"></i>
                            B. only three out of four pools passed the test
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3807" id="3807" disabled="">
                                <label for="3807">
                            <i class="icon icon_radio"></i>
                            C. most pools were a serious health hazard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3808" id="3808" disabled="">
                                <label for="3808">
                            <i class="icon icon_radio"></i>
                            D. hotel pools were worse than apartment pools
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>