<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 89 - 91 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning ladies and gentlemen, this is your captain speaking. We have now reached a height of 35,000 feet and are currently flying over Milan. You should enjoy some good views of Rome fairly soon. Our estimated time of arrival
                            in Athens is 11.30, that's about one and a half hours from now. As we have had some turbulence when flying over the Alps, I'm afraid you will have to keep your seatbelts on for a little while longer but we expect this to clear
                            up within the next ten minutes. The cabin crew will soon be coming round with drinks so sit back and enjoy the rest of your flight.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566182326.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.22334%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:11</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>89. Which meal was probably served on this flight?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="88" value="3809" id="3809" disabled="">
                                <label for="3809">
                            <i class="icon icon_radio"></i>
                            A. lunch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3810" id="3810" disabled="">
                                <label for="3810">
                            <i class="icon icon_radio"></i>
                            B. dinner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3811" id="3811" disabled="">
                                <label for="3811">
                            <i class="icon icon_radio"></i>
                            C. breakfast
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3812" id="3812" disabled="">
                                <label for="3812">
                            <i class="icon icon_radio"></i>
                            D. afternoon tea
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>90. Where is the plane going to?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="89" value="3813" id="3813" disabled="">
                                <label for="3813">
                            <i class="icon icon_radio"></i>
                            A. Athens
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3814" id="3814" disabled="">
                                <label for="3814">
                            <i class="icon icon_radio"></i>
                            B. Milan
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3815" id="3815" disabled="">
                                <label for="3815">
                            <i class="icon icon_radio"></i>
                            C. Rome
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3816" id="3816" disabled="">
                                <label for="3816">
                            <i class="icon icon_radio"></i>
                            D. The Alps
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>91. What is expected to happen in about ten minutes' time?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="90" value="3817" id="3817" disabled="">
                                <label for="3817">
                            <i class="icon icon_radio"></i>
                            A. turbluence
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3818" id="3818" disabled="">
                                <label for="3818">
                            <i class="icon icon_radio"></i>
                            B. they will land
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3819" id="3819" disabled="">
                                <label for="3819">
                            <i class="icon icon_radio"></i>
                            C. the flight will be more comfortable
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3820" id="3820" disabled="">
                                <label for="3820">
                            <i class="icon icon_radio"></i>
                            D. they will be given a meal
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>