<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Home workers who use a computer are as much at risk from repetitive strain injury as someone working in an office. Wrist and shoulder pain, as well as eye strain and headaches, are all common complaints highlighted in a survey
                            of home computer users. A simple routine of looking up, stretching and moving away from your PC can help to avoid some of these problems, but the way your workstation is set up makes a difference too. Check your screen is at
                            the right height, the lighting is adequate and that you're sitting with your neck and back straight.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1566182882.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.0179%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:06</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. Who is this report aimed at?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3821" id="3821" disabled="">
                                <label for="3821">
                            <i class="icon icon_radio"></i>
                            A. computer manufacturers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3822" id="3822" disabled="">
                                <label for="3822">
                            <i class="icon icon_radio"></i>
                            B. people who work at computer shops
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3823" id="3823" disabled="">
                                <label for="3823">
                            <i class="icon icon_radio"></i>
                            C. office managers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3824" id="3824" disabled="">
                                <label for="3824">
                            <i class="icon icon_radio"></i>
                            D. people who work on a computer at home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. Which is NOT mentioned as a possible health problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3825" id="3825" disabled="">
                                <label for="3825">
                            <i class="icon icon_radio"></i>
                            A. sore eyes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3826" id="3826" disabled="">
                                <label for="3826">
                            <i class="icon icon_radio"></i>
                            B. headache
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3827" id="3827" disabled="">
                                <label for="3827">
                            <i class="icon icon_radio"></i>
                            C. shoulder pains
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3828" id="3828" disabled="">
                                <label for="3828">
                            <i class="icon icon_radio"></i>
                            D. backache
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. What can you do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3829" id="3829" disabled="">
                                <label for="3829">
                            <i class="icon icon_radio"></i>
                            A. some gentle exercise every now and then 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3830" id="3830" disabled="">
                                <label for="3830">
                            <i class="icon icon_radio"></i>
                            B. stand while you are working
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3831" id="3831" disabled="">
                                <label for="3831">
                            <i class="icon icon_radio"></i>
                            C. have your computer positioned up high
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3832" id="3832" disabled="">
                                <label for="3832">
                            <i class="icon icon_radio"></i>
                            D. don't work from home
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>