<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=5">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>101. The menu at the new restaurant is quite ____ ; I'm sure everyone will find something they like the sound of</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="100" value="5057" id="5057" disabled="">
                        <label for="5057">
                            <i class="icon icon_radio"></i>
                            A. varied
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="5058" id="5058" disabled="">
                        <label for="5058">
                            <i class="icon icon_radio"></i>
                            B. plain
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="5059" id="5059" disabled="">
                        <label for="5059">
                            <i class="icon icon_radio"></i>
                            C. delicious
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="5060" id="5060" disabled="">
                        <label for="5060">
                            <i class="icon icon_radio"></i>
                            D. changeable
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>102. If you have any ____ about the service you received, you can fill out a complaint form</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="101" value="5061" id="5061" disabled="">
                        <label for="5061">
                            <i class="icon icon_radio"></i>
                            A. interjection
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="5062" id="5062" disabled="">
                        <label for="5062">
                            <i class="icon icon_radio"></i>
                            B. objection
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="5063" id="5063" disabled="">
                        <label for="5063">
                            <i class="icon icon_radio"></i>
                            C. opinion
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="5064" id="5064" disabled="">
                        <label for="5064">
                            <i class="icon icon_radio"></i>
                            D. inclination
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>103. The ____ of the steering committee made the business much more effective</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="102" value="5065" id="5065" disabled="">
                        <label for="5065">
                            <i class="icon icon_radio"></i>
                            A. creative
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="5066" id="5066" disabled="">
                        <label for="5066">
                            <i class="icon icon_radio"></i>
                            B. creating
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="5067" id="5067" disabled="">
                        <label for="5067">
                            <i class="icon icon_radio"></i>
                            C. re-create
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="5068" id="5068" disabled="">
                        <label for="5068">
                            <i class="icon icon_radio"></i>
                            D. creation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>104. Electricity is expensive because we have only one supplier which has a ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="103" value="5069" id="5069" disabled="">
                        <label for="5069">
                            <i class="icon icon_radio"></i>
                            A. royalty
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="5070" id="5070" disabled="">
                        <label for="5070">
                            <i class="icon icon_radio"></i>
                            B. monopoly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="5071" id="5071" disabled="">
                        <label for="5071">
                            <i class="icon icon_radio"></i>
                            C. ruling
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="5072" id="5072" disabled="">
                        <label for="5072">
                            <i class="icon icon_radio"></i>
                            D. majority
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>105. The letter from Ms. Wells seems to have vanished without a ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="104" value="5073" id="5073" disabled="">
                        <label for="5073">
                            <i class="icon icon_radio"></i>
                            A. whisper
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="5074" id="5074" disabled="">
                        <label for="5074">
                            <i class="icon icon_radio"></i>
                            B. peep
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="5075" id="5075" disabled="">
                        <label for="5075">
                            <i class="icon icon_radio"></i>
                            C. trace
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="5076" id="5076" disabled="">
                        <label for="5076">
                            <i class="icon icon_radio"></i>
                            D. flash
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>106. ____ being ill will the flu, Mr. Smith gave an excellent presentation</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="105" value="5077" id="5077" disabled="">
                        <label for="5077">
                            <i class="icon icon_radio"></i>
                            A. However
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="5078" id="5078" disabled="">
                        <label for="5078">
                            <i class="icon icon_radio"></i>
                            B. Nevertheless
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="5079" id="5079" disabled="">
                        <label for="5079">
                            <i class="icon icon_radio"></i>
                            C. Therefore
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="5080" id="5080" disabled="">
                        <label for="5080">
                            <i class="icon icon_radio"></i>
                            D. Despite
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>107. In our office, on Fridays, people can wear jeans, T-shirts and other ____ clothers</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="106" value="5081" id="5081" disabled="">
                        <label for="5081">
                            <i class="icon icon_radio"></i>
                            A. casual
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="5082" id="5082" disabled="">
                        <label for="5082">
                            <i class="icon icon_radio"></i>
                            B. dowdy
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="5083" id="5083" disabled="">
                        <label for="5083">
                            <i class="icon icon_radio"></i>
                            C. formal
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="5084" id="5084" disabled="">
                        <label for="5084">
                            <i class="icon icon_radio"></i>
                            D. curious
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>108. There were 30 applicants, all of whom were well qualified. This field is just too ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="107" value="5085" id="5085" disabled="">
                        <label for="5085">
                            <i class="icon icon_radio"></i>
                            A. competitive
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="5086" id="5086" disabled="">
                        <label for="5086">
                            <i class="icon icon_radio"></i>
                            B. complicated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="5087" id="5087" disabled="">
                        <label for="5087">
                            <i class="icon icon_radio"></i>
                            C. progressive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="5088" id="5088" disabled="">
                        <label for="5088">
                            <i class="icon icon_radio"></i>
                            D. comprehensive
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>109. For international flights it is important ____ at the airport at least two hours early</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="108" value="5089" id="5089" disabled="">
                        <label for="5089">
                            <i class="icon icon_radio"></i>
                            A. being
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="5090" id="5090" disabled="">
                        <label for="5090">
                            <i class="icon icon_radio"></i>
                            B. you are
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="5091" id="5091" disabled="">
                        <label for="5091">
                            <i class="icon icon_radio"></i>
                            C. to be
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="5092" id="5092" disabled="">
                        <label for="5092">
                            <i class="icon icon_radio"></i>
                            D. be
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>110. This brand of shoes is quite ordinary; however, their advertising campaign is truly ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="109" value="5093" id="5093" disabled="">
                        <label for="5093">
                            <i class="icon icon_radio"></i>
                            A. innovating
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="5094" id="5094" disabled="">
                        <label for="5094">
                            <i class="icon icon_radio"></i>
                            B. innovation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="5095" id="5095" disabled="">
                        <label for="5095">
                            <i class="icon icon_radio"></i>
                            C. innovated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="5096" id="5096" disabled="">
                        <label for="5096">
                            <i class="icon icon_radio"></i>
                            D. innovative
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>111. Laura, could you please ____ this e-mail to Todd as I don't have his e-mail address?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="110" value="5097" id="5097" disabled="">
                        <label for="5097">
                            <i class="icon icon_radio"></i>
                            A. pass off
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="5098" id="5098" disabled="">
                        <label for="5098">
                            <i class="icon icon_radio"></i>
                            B. forward
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="5099" id="5099" disabled="">
                        <label for="5099">
                            <i class="icon icon_radio"></i>
                            C. put though
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="5100" id="5100" disabled="">
                        <label for="5100">
                            <i class="icon icon_radio"></i>
                            D. reply
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>112. I ____ the job application last Thursday, but I don't expect to hear anything for a while</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="111" value="5101" id="5101" disabled="">
                        <label for="5101">
                            <i class="icon icon_radio"></i>
                            A. interviewed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="5102" id="5102" disabled="">
                        <label for="5102">
                            <i class="icon icon_radio"></i>
                            B. offered
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="5103" id="5103" disabled="">
                        <label for="5103">
                            <i class="icon icon_radio"></i>
                            C. place
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="5104" id="5104" disabled="">
                        <label for="5104">
                            <i class="icon icon_radio"></i>
                            D. submitted
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>113. The researchers are aiming ____ their results in a highly regarded journal</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="112" value="5105" id="5105" disabled="">
                        <label for="5105">
                            <i class="icon icon_radio"></i>
                            A. publishing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="5106" id="5106" disabled="">
                        <label for="5106">
                            <i class="icon icon_radio"></i>
                            B. published
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="5107" id="5107" disabled="">
                        <label for="5107">
                            <i class="icon icon_radio"></i>
                            C. to publish
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="5108" id="5108" disabled="">
                        <label for="5108">
                            <i class="icon icon_radio"></i>
                            D. publish
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>114. Julie was late again today, and her boss told her ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="113" value="5109" id="5109" disabled="">
                        <label for="5109">
                            <i class="icon icon_radio"></i>
                            A. off
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="5110" id="5110" disabled="">
                        <label for="5110">
                            <i class="icon icon_radio"></i>
                            B. in
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="5111" id="5111" disabled="">
                        <label for="5111">
                            <i class="icon icon_radio"></i>
                            C. for
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="5112" id="5112" disabled="">
                        <label for="5112">
                            <i class="icon icon_radio"></i>
                            D. which
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>115. Why did you agree to work such long hours? If I were you I would have ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="114" value="5113" id="5113" disabled="">
                        <label for="5113">
                            <i class="icon icon_radio"></i>
                            A. refused
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="5114" id="5114" disabled="">
                        <label for="5114">
                            <i class="icon icon_radio"></i>
                            B. reclined
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="5115" id="5115" disabled="">
                        <label for="5115">
                            <i class="icon icon_radio"></i>
                            C. redoubled
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="5116" id="5116" disabled="">
                        <label for="5116">
                            <i class="icon icon_radio"></i>
                            D. reformed
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>116. I would like to make a(n) ____ for a table for eight at 1pm please</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="115" value="5117" id="5117" disabled="">
                        <label for="5117">
                            <i class="icon icon_radio"></i>
                            A. invitation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="5118" id="5118" disabled="">
                        <label for="5118">
                            <i class="icon icon_radio"></i>
                            B. reservation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="5119" id="5119" disabled="">
                        <label for="5119">
                            <i class="icon icon_radio"></i>
                            C. conservation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="5120" id="5120" disabled="">
                        <label for="5120">
                            <i class="icon icon_radio"></i>
                            D. application
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>117. The ____ for this computer comes in seven languages</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="116" value="5121" id="5121" disabled="">
                        <label for="5121">
                            <i class="icon icon_radio"></i>
                            A. manual
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="5122" id="5122" disabled="">
                        <label for="5122">
                            <i class="icon icon_radio"></i>
                            B. mandate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="5123" id="5123" disabled="">
                        <label for="5123">
                            <i class="icon icon_radio"></i>
                            C. magazine
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="5124" id="5124" disabled="">
                        <label for="5124">
                            <i class="icon icon_radio"></i>
                            D. manufacture
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>118. We can assure you that our product is ____ any of the competition</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="117" value="5125" id="5125" disabled="">
                        <label for="5125">
                            <i class="icon icon_radio"></i>
                            A. best than
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="5126" id="5126" disabled="">
                        <label for="5126">
                            <i class="icon icon_radio"></i>
                            B. better than
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="5127" id="5127" disabled="">
                        <label for="5127">
                            <i class="icon icon_radio"></i>
                            C. the best
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="5128" id="5128" disabled="">
                        <label for="5128">
                            <i class="icon icon_radio"></i>
                            D. as good
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>119. People often ____ their money in real estate</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="118" value="5129" id="5129" disabled="">
                        <label for="5129">
                            <i class="icon icon_radio"></i>
                            A. invest
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="5130" id="5130" disabled="">
                        <label for="5130">
                            <i class="icon icon_radio"></i>
                            B. impound
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="5131" id="5131" disabled="">
                        <label for="5131">
                            <i class="icon icon_radio"></i>
                            C. increase
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="5132" id="5132" disabled="">
                        <label for="5132">
                            <i class="icon icon_radio"></i>
                            D. finance
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>120. The goods may ____ if for any reason you are not satisfied</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="119" value="5133" id="5133" disabled="">
                        <label for="5133">
                            <i class="icon icon_radio"></i>
                            A. return
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="5134" id="5134" disabled="">
                        <label for="5134">
                            <i class="icon icon_radio"></i>
                            B. have returned
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="5135" id="5135" disabled="">
                        <label for="5135">
                            <i class="icon icon_radio"></i>
                            C. be returned
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="5136" id="5136" disabled="">
                        <label for="5136">
                            <i class="icon icon_radio"></i>
                            D. be returning
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>121. If you were injured in the workplace, you should be eligible for ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="120" value="5137" id="5137" disabled="">
                        <label for="5137">
                            <i class="icon icon_radio"></i>
                            A. compensation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="5138" id="5138" disabled="">
                        <label for="5138">
                            <i class="icon icon_radio"></i>
                            B. redundancy
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="5139" id="5139" disabled="">
                        <label for="5139">
                            <i class="icon icon_radio"></i>
                            C. demotion
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="5140" id="5140" disabled="">
                        <label for="5140">
                            <i class="icon icon_radio"></i>
                            D. promotion
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>122. ____ Alan came up with the idea, he should present it at the meeting</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="121" value="5141" id="5141" disabled="">
                        <label for="5141">
                            <i class="icon icon_radio"></i>
                            A. Although
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="5142" id="5142" disabled="">
                        <label for="5142">
                            <i class="icon icon_radio"></i>
                            B. However
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="5143" id="5143" disabled="">
                        <label for="5143">
                            <i class="icon icon_radio"></i>
                            C. Therefore
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="5144" id="5144" disabled="">
                        <label for="5144">
                            <i class="icon icon_radio"></i>
                            D. Since
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>123. Katherine was ____ to the position of manager after only working for the company for one year</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="122" value="5145" id="5145" disabled="">
                        <label for="5145">
                            <i class="icon icon_radio"></i>
                            A. advanced
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="5146" id="5146" disabled="">
                        <label for="5146">
                            <i class="icon icon_radio"></i>
                            B. promoted
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="5147" id="5147" disabled="">
                        <label for="5147">
                            <i class="icon icon_radio"></i>
                            C. increased
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="5148" id="5148" disabled="">
                        <label for="5148">
                            <i class="icon icon_radio"></i>
                            D. evaluated
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>124. We will have to make ____ in our budget this month because profits are down</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="123" value="5149" id="5149" disabled="">
                        <label for="5149">
                            <i class="icon icon_radio"></i>
                            A. holes
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="5150" id="5150" disabled="">
                        <label for="5150">
                            <i class="icon icon_radio"></i>
                            B. leaps
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="5151" id="5151" disabled="">
                        <label for="5151">
                            <i class="icon icon_radio"></i>
                            C. tucks
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="5152" id="5152" disabled="">
                        <label for="5152">
                            <i class="icon icon_radio"></i>
                            D. cuts
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>125. If you are expecting ____ , you are very likely to be desappointed</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="124" value="5153" id="5153" disabled="">
                        <label for="5153">
                            <i class="icon icon_radio"></i>
                            A. prefectures
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="5154" id="5154" disabled="">
                        <label for="5154">
                            <i class="icon icon_radio"></i>
                            B. perfectionist
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="5155" id="5155" disabled="">
                        <label for="5155">
                            <i class="icon icon_radio"></i>
                            C. perfecting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="5156" id="5156" disabled="">
                        <label for="5156">
                            <i class="icon icon_radio"></i>
                            D. perfection
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>126. George was worried ____ what to wear to the job interview</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="125" value="5157" id="5157" disabled="">
                        <label for="5157">
                            <i class="icon icon_radio"></i>
                            A. for
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="5158" id="5158" disabled="">
                        <label for="5158">
                            <i class="icon icon_radio"></i>
                            B. from
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="5159" id="5159" disabled="">
                        <label for="5159">
                            <i class="icon icon_radio"></i>
                            C. about
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="5160" id="5160" disabled="">
                        <label for="5160">
                            <i class="icon icon_radio"></i>
                            D. at
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>127. You should iron that shirt because it is full of ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="126" value="5161" id="5161" disabled="">
                        <label for="5161">
                            <i class="icon icon_radio"></i>
                            A. stains
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5162" id="5162" disabled="">
                        <label for="5162">
                            <i class="icon icon_radio"></i>
                            B. lines
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5163" id="5163" disabled="">
                        <label for="5163">
                            <i class="icon icon_radio"></i>
                            C. tears
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5164" id="5164" disabled="">
                        <label for="5164">
                            <i class="icon icon_radio"></i>
                            D. creases
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>128. We are ____ on you to have the report done by Friday; don't let us down</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="127" value="5165" id="5165" disabled="">
                        <label for="5165">
                            <i class="icon icon_radio"></i>
                            A. rooting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5166" id="5166" disabled="">
                        <label for="5166">
                            <i class="icon icon_radio"></i>
                            B. leaning
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5167" id="5167" disabled="">
                        <label for="5167">
                            <i class="icon icon_radio"></i>
                            C. counting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5168" id="5168" disabled="">
                        <label for="5168">
                            <i class="icon icon_radio"></i>
                            D. believing
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>129. Maurice is the last person you would describe as ____ ; he is sure to tell you about all his achievements</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="128" value="5169" id="5169" disabled="">
                        <label for="5169">
                            <i class="icon icon_radio"></i>
                            A. pround
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5170" id="5170" disabled="">
                        <label for="5170">
                            <i class="icon icon_radio"></i>
                            B. retiring
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5171" id="5171" disabled="">
                        <label for="5171">
                            <i class="icon icon_radio"></i>
                            C. modest
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5172" id="5172" disabled="">
                        <label for="5172">
                            <i class="icon icon_radio"></i>
                            D. meek
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>130. Anna did exactly what I would have done ____ if I was in her shoes</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="129" value="5173" id="5173" disabled="">
                        <label for="5173">
                            <i class="icon icon_radio"></i>
                            A. my own
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5174" id="5174" disabled="">
                        <label for="5174">
                            <i class="icon icon_radio"></i>
                            B. for me
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5175" id="5175" disabled="">
                        <label for="5175">
                            <i class="icon icon_radio"></i>
                            C. herself
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5176" id="5176" disabled="">
                        <label for="5176">
                            <i class="icon icon_radio"></i>
                            D. myself
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>131. I think Mr. White was impressed ____ presentation</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="130" value="5177" id="5177" disabled="">
                        <label for="5177">
                            <i class="icon icon_radio"></i>
                            A. by our
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5178" id="5178" disabled="">
                        <label for="5178">
                            <i class="icon icon_radio"></i>
                            B. at the
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5179" id="5179" disabled="">
                        <label for="5179">
                            <i class="icon icon_radio"></i>
                            C. from our
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5180" id="5180" disabled="">
                        <label for="5180">
                            <i class="icon icon_radio"></i>
                            D. on the
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>132. It's a bit ____ to celebrate now; best wait until the contract is signed!</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="131" value="5181" id="5181" disabled="">
                        <label for="5181">
                            <i class="icon icon_radio"></i>
                            A. premeditated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5182" id="5182" disabled="">
                        <label for="5182">
                            <i class="icon icon_radio"></i>
                            B. pressing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5183" id="5183" disabled="">
                        <label for="5183">
                            <i class="icon icon_radio"></i>
                            C. premature
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5184" id="5184" disabled="">
                        <label for="5184">
                            <i class="icon icon_radio"></i>
                            D. predetermined
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>133. The office space was tasteful and ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="132" value="5185" id="5185" disabled="">
                        <label for="5185">
                            <i class="icon icon_radio"></i>
                            A. invited
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5186" id="5186" disabled="">
                        <label for="5186">
                            <i class="icon icon_radio"></i>
                            B. inviting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5187" id="5187" disabled="">
                        <label for="5187">
                            <i class="icon icon_radio"></i>
                            C. invitation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5188" id="5188" disabled="">
                        <label for="5188">
                            <i class="icon icon_radio"></i>
                            D. invitingly
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>134. Tom is a(n) ____ who says people should not be motivated by money</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="133" value="5189" id="5189" disabled="">
                        <label for="5189">
                            <i class="icon icon_radio"></i>
                            A. idealist
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5190" id="5190" disabled="">
                        <label for="5190">
                            <i class="icon icon_radio"></i>
                            B. pessimist
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5191" id="5191" disabled="">
                        <label for="5191">
                            <i class="icon icon_radio"></i>
                            C. optimist
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5192" id="5192" disabled="">
                        <label for="5192">
                            <i class="icon icon_radio"></i>
                            D. philanthropist
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>135. It is an honor to be working with such ____ colleagues</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="134" value="5193" id="5193" disabled="">
                        <label for="5193">
                            <i class="icon icon_radio"></i>
                            A. prestigious
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5194" id="5194" disabled="">
                        <label for="5194">
                            <i class="icon icon_radio"></i>
                            B. preposterous
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5195" id="5195" disabled="">
                        <label for="5195">
                            <i class="icon icon_radio"></i>
                            C. intimidating
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5196" id="5196" disabled="">
                        <label for="5196">
                            <i class="icon icon_radio"></i>
                            D. infamous
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>136. The plane was delayed ____ high winds</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="135" value="5197" id="5197" disabled="">
                        <label for="5197">
                            <i class="icon icon_radio"></i>
                            A. accounting for
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5198" id="5198" disabled="">
                        <label for="5198">
                            <i class="icon icon_radio"></i>
                            B. causing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5199" id="5199" disabled="">
                        <label for="5199">
                            <i class="icon icon_radio"></i>
                            C. regarding
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5200" id="5200" disabled="">
                        <label for="5200">
                            <i class="icon icon_radio"></i>
                            D. due to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>137. Maria's cafe is ____ and so she is thinking of opening another</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="136" value="5201" id="5201" disabled="">
                        <label for="5201">
                            <i class="icon icon_radio"></i>
                            A. bursting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5202" id="5202" disabled="">
                        <label for="5202">
                            <i class="icon icon_radio"></i>
                            B. thriving
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5203" id="5203" disabled="">
                        <label for="5203">
                            <i class="icon icon_radio"></i>
                            C. pining
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5204" id="5204" disabled="">
                        <label for="5204">
                            <i class="icon icon_radio"></i>
                            D. striving
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>138. Very little got done at the meeting as no one was ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="137" value="5205" id="5205" disabled="">
                        <label for="5205">
                            <i class="icon icon_radio"></i>
                            A. prepared
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5206" id="5206" disabled="">
                        <label for="5206">
                            <i class="icon icon_radio"></i>
                            B. going to prepare
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5207" id="5207" disabled="">
                        <label for="5207">
                            <i class="icon icon_radio"></i>
                            C. preparing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5208" id="5208" disabled="">
                        <label for="5208">
                            <i class="icon icon_radio"></i>
                            D. to prepare
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>139. ____ one of the positions would be a great opportunity; you will just have to pock whichever sounds best!</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="138" value="5209" id="5209" disabled="">
                        <label for="5209">
                            <i class="icon icon_radio"></i>
                            A. Neither
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5210" id="5210" disabled="">
                        <label for="5210">
                            <i class="icon icon_radio"></i>
                            B. Rather
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5211" id="5211" disabled="">
                        <label for="5211">
                            <i class="icon icon_radio"></i>
                            C. Either
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5212" id="5212" disabled="">
                        <label for="5212">
                            <i class="icon icon_radio"></i>
                            D. Both
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>140. One of our ____ this quarter is to increase sales by 30 percent</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="139" value="5213" id="5213" disabled="">
                        <label for="5213">
                            <i class="icon icon_radio"></i>
                            A. liabilities
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5214" id="5214" disabled="">
                        <label for="5214">
                            <i class="icon icon_radio"></i>
                            B. aspirations
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5215" id="5215" disabled="">
                        <label for="5215">
                            <i class="icon icon_radio"></i>
                            C. inclinations
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5216" id="5216" disabled="">
                        <label for="5216">
                            <i class="icon icon_radio"></i>
                            D. objectives
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>