<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
                        following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Hi, Michael, can I have a word?</p>

                        <p>M: Certainly, Megan. Come in. How is the preparation for the conference going?</p>

                        <p>W: Well, that's what I wanted to speak to you about.</p>

                        <p>M: No problems I hope...</p>

                        <p>W: No; no real problems. But I've just finished writing my presentation, and really I have no
                            idea if it's at the right level for the audience. I was wondering, since you've been to a
                            lot of these conferences, if you could listen
                            to my presentation and tell me what you think.</p>

                        <p>M: Yes, of course. However, I have a deadline on Thursday, and my schedule's pretty full...
                            When's your conference?</p>

                        <p>W: The 10th.</p>

                        <p>M: Oh, okay! You have a bit of time then. How about Friday the 5th, in the morning?</p>

                        <p>W: That would be great, thanks.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="https://toeic24.vn/upload/audio/1564978176/1564989031.mp3" type="audio/mp3">
                        </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.82641%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:14</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. How does Megan feel about the presentation she will give?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="131" id="131" disabled="">
                                <label for="131">
                                    <i class="icon icon_radio"></i>
                                    A. confident
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="132" id="132" disabled="">
                                <label for="132">
                                    <i class="icon icon_radio"></i>
                                    B. unsure
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="133" id="133" disabled="">
                                <label for="133">
                                    <i class="icon icon_radio"></i>
                                    C. terrified
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="134" id="134" disabled="">
                                <label for="134">
                                    <i class="icon icon_radio"></i>
                                    D. proud
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. What is true about Megan?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="135" id="135" disabled="">
                                <label for="135">
                                    <i class="icon icon_radio"></i>
                                    A. She is advising Michael
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="136" id="136" disabled="">
                                <label for="136">
                                    <i class="icon icon_radio"></i>
                                    B. She is preparing at the last minute
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="137" id="137" disabled="">
                                <label for="137">
                                    <i class="icon icon_radio"></i>
                                    C. She is planning ahead
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="138" id="138" disabled="">
                                <label for="138">
                                    <i class="icon icon_radio"></i>
                                    D. She has been to a lot of conferences
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. What will happen on Friday the 5th?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="139" id="139" disabled="">
                                <label for="139">
                                    <i class="icon icon_radio"></i>
                                    A. Michael will help Megan
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="140" id="140" disabled="">
                                <label for="140">
                                    <i class="icon icon_radio"></i>
                                    B. Megan will give a presentation
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="141" id="141" disabled="">
                                <label for="141">
                                    <i class="icon icon_radio"></i>
                                    C. Michael has a deadline
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="142" id="142" disabled="">
                                <label for="142">
                                    <i class="icon icon_radio"></i>
                                    D. There is a conference
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>