<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Did you manage to book our flights?</p>

                        <p>M: Yes, this morning. We'll leave at 18:45 on Thursday, and arrive at 22:10 in Berlin. Then we'll return...&nbsp;</p>

                        <p>W: Wait a minute, didn't Elsie tell you that I'm not available on Thursday evening? I have to work till 8pm! I said specifically that I need to go Friday morning. We don't have to be there till the afternoon, after all!</p>

                        <p>M: Uh, no. I didn't hear anything about this.</p>

                        <p>W: Great! What are we going to do now?</p>

                        <p>M: Well, I just have to call back and change your ticket I guess.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564989486.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.3735%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. How does the woman feel?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="155" id="155" disabled="">
                                <label for="155">
                            <i class="icon icon_radio"></i>
                            A. absolutely furious
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="156" id="156" disabled="">
                                <label for="156">
                            <i class="icon icon_radio"></i>
                            B. impatient
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="157" id="157" disabled="">
                                <label for="157">
                            <i class="icon icon_radio"></i>
                            C. grateful
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="158" id="158" disabled="">
                                <label for="158">
                            <i class="icon icon_radio"></i>
                            D. annoyed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. Why did the man make a mistake?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="159" id="159" disabled="">
                                <label for="159">
                            <i class="icon icon_radio"></i>
                            A. he was careless
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="160" id="160" disabled="">
                                <label for="160">
                            <i class="icon icon_radio"></i>
                            B. he did not have information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="161" id="161" disabled="">
                                <label for="161">
                            <i class="icon icon_radio"></i>
                            C. to provoke the woman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="162" id="162" disabled="">
                                <label for="162">
                            <i class="icon icon_radio"></i>
                            D. because the job was complex
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. Why couldn't the woman go on Thursday evening?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="163" id="163" disabled="">
                                <label for="163">
                            <i class="icon icon_radio"></i>
                            A. Elsie told her that she must not
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="164" id="164" disabled="">
                                <label for="164">
                            <i class="icon icon_radio"></i>
                            B. She will miss the meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="165" id="165" disabled="">
                                <label for="165">
                            <i class="icon icon_radio"></i>
                            C. She has to work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="166" id="166" disabled="">
                                <label for="166">
                            <i class="icon icon_radio"></i>
                            D. She just doesn't want to
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>