<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Hello Ms. Johnson; do you have a minute?</p>

                        <p>W: What is it Tim?</p>

                        <p>M: Well, you know we have this environmental report that needs finishing by Monday...</p>

                        <p>W: Well, I certainly don't know how I'd forget about that!</p>

                        <p>M: Yes, well, I wanted to let you know that there's no way I'm going to finish my section.</p>

                        <p>W: Why's that?</p>

                        <p>M: It's just not realistically possible - lots of problems in the data.</p>

                        <p>W: Yes, most of us are struggling. I guess I'll have to try to arrange an extension. Thanks for letting me know anyway.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564989942.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.5167%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. How could you describe the woman's attitude?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="179" id="179" disabled="">
                                <label for="179">
                            <i class="icon icon_radio"></i>
                            A. grateful
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="180" id="180" disabled="">
                                <label for="180">
                            <i class="icon icon_radio"></i>
                            B. unreasonable
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="181" id="181" disabled="">
                                <label for="181">
                            <i class="icon icon_radio"></i>
                            C. insecure
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="182" id="182" disabled="">
                                <label for="182">
                            <i class="icon icon_radio"></i>
                            D. understanding
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. What was the purpose of the man's conversation with Ms. Johnson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="183" id="183" disabled="">
                                <label for="183">
                            <i class="icon icon_radio"></i>
                            A. to give information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="184" id="184" disabled="">
                                <label for="184">
                            <i class="icon icon_radio"></i>
                            B. to ask for help
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="185" id="185" disabled="">
                                <label for="185">
                            <i class="icon icon_radio"></i>
                            C. to get sympathy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="186" id="186" disabled="">
                                <label for="186">
                            <i class="icon icon_radio"></i>
                            D. to challenge her
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. What is the relationship between the man and Ms. Johnson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="187" id="187" disabled="">
                                <label for="187">
                            <i class="icon icon_radio"></i>
                            A. relatives
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="188" id="188" disabled="">
                                <label for="188">
                            <i class="icon icon_radio"></i>
                            B. co-workers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="189" id="189" disabled="">
                                <label for="189">
                            <i class="icon icon_radio"></i>
                            C. friends
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="190" id="190" disabled="">
                                <label for="190">
                            <i class="icon icon_radio"></i>
                            D. employee and boss
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>