<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: So, did you buy the car in the end?</p>

                        <p>W: Emm, no, actually.</p>

                        <p>M: You didn't? You were so excited about it last week!</p>

                        <p>W: Yes, that car was a super deal, and I loved the color, but I've decided that I don't need a car. What would I be using it for? Really, only trips on the weekend. I take the underground to work and that's fine. I could just rent
                            a car for the weekend sometimes and it would come out a lot cheaper.</p>

                        <p>M: Yes, but I think if you have to rent a car, you would be much less likely to go. If the car is sitting there waiting, you're almost obligated to go on a trip!&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1564978176/1564990377.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.5263%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:09</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. How did the man feel when he heard about the woman's decision?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="203" id="203" disabled="">
                                <label for="203">
                            <i class="icon icon_radio"></i>
                            A. worried
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="204" id="204" disabled="">
                                <label for="204">
                            <i class="icon icon_radio"></i>
                            B. frustrated
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="205" id="205" disabled="">
                                <label for="205">
                            <i class="icon icon_radio"></i>
                            C. surprised
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="206" id="206" disabled="">
                                <label for="206">
                            <i class="icon icon_radio"></i>
                            D. he had suspected it
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. How often does the woman think she would use the car?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="207" id="207" disabled="">
                                <label for="207">
                            <i class="icon icon_radio"></i>
                            A. every day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="208" id="208" disabled="">
                                <label for="208">
                            <i class="icon icon_radio"></i>
                            B. occasionally
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="209" id="209" disabled="">
                                <label for="209">
                            <i class="icon icon_radio"></i>
                            C. constantly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="210" id="210" disabled="">
                                <label for="210">
                            <i class="icon icon_radio"></i>
                            D. very rarely
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What does the man think is the problem with renting a car?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="211" id="211" disabled="">
                                <label for="211">
                            <i class="icon icon_radio"></i>
                            A. It would be too expensive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="212" id="212" disabled="">
                                <label for="212">
                            <i class="icon icon_radio"></i>
                            B. It would interfere with work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="213" id="213" disabled="">
                                <label for="213">
                            <i class="icon icon_radio"></i>
                            C. It would discourage trips
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="214" id="214" disabled="">
                                <label for="214">
                            <i class="icon icon_radio"></i>
                            D. It would be unnecessary
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>