<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Welcome aboard our land and water tour of Seattle. I sure hope you all brought your rain gear for the ocean leg of the trip. We all know Seattle is not known for being the driest city in the U.S., and so couple that with the ocean
                            and getting wet is inevitable. The one-hour journey will cover ten different city locations. Of course one of your land stops will be the famous market where you will see the fresh fish being tossed about like footballs. And
                            of course, on board, you will have an endless supply of Seattle's famous coffee.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566022848.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.8596%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:01</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. Where are the people who are listening to this talk?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3377" id="3377" disabled="">
                                <label for="3377">
                            <i class="icon icon_radio"></i>
                            A. on a ship
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3378" id="3378" disabled="">
                                <label for="3378">
                            <i class="icon icon_radio"></i>
                            B. on a fishing dock
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3379" id="3379" disabled="">
                                <label for="3379">
                            <i class="icon icon_radio"></i>
                            C. in a market
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3380" id="3380" disabled="">
                                <label for="3380">
                            <i class="icon icon_radio"></i>
                            D. in a coffee shop
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. What is Seattle known for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3381" id="3381" disabled="">
                                <label for="3381">
                            <i class="icon icon_radio"></i>
                            A. being dry
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3382" id="3382" disabled="">
                                <label for="3382">
                            <i class="icon icon_radio"></i>
                            B. its ocean
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3383" id="3383" disabled="">
                                <label for="3383">
                            <i class="icon icon_radio"></i>
                            C. its rain
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3384" id="3384" disabled="">
                                <label for="3384">
                            <i class="icon icon_radio"></i>
                            D. its tours
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What will be happening to the fish?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3385" id="3385" disabled="">
                                <label for="3385">
                            <i class="icon icon_radio"></i>
                            A. They will be rained on
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3386" id="3386" disabled="">
                                <label for="3386">
                            <i class="icon icon_radio"></i>
                            B. They will be eaten
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3387" id="3387" disabled="">
                                <label for="3387">
                            <i class="icon icon_radio"></i>
                            C. They will be captured in nets
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3388" id="3388" disabled="">
                                <label for="3388">
                            <i class="icon icon_radio"></i>
                            D. They will be thrown
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>