<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>You have reached the office of the Missouri Organizing Project. Our office hours are Monday through Friday, 8.30-7.00 PM. If you'd like to leave a message for Nate Hitch, Director of MOP, please press 1. If you'd like to leave
                            a message for Trevor Chick, MOP Lead Organizer, please press 2. If you are calling for Danielle Lang, the office intern, please press 3. If you wish to leave a general message please press star or wait for the tone. Thank you.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566026626.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.91641%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:12</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. What should you do if you want to leave a message for the intern?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="3485" id="3485" disabled="">
                                <label for="3485">
                            <i class="icon icon_radio"></i>
                            A. Press star
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3486" id="3486" disabled="">
                                <label for="3486">
                            <i class="icon icon_radio"></i>
                            B. Press 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3487" id="3487" disabled="">
                                <label for="3487">
                            <i class="icon icon_radio"></i>
                            C. Wait for the tone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3488" id="3488" disabled="">
                                <label for="3488">
                            <i class="icon icon_radio"></i>
                            D. Press 3
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. What should you do if you want to leave a message for no one in particular?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="3489" id="3489" disabled="">
                                <label for="3489">
                            <i class="icon icon_radio"></i>
                            A. Press 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3490" id="3490" disabled="">
                                <label for="3490">
                            <i class="icon icon_radio"></i>
                            B. Press star
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3491" id="3491" disabled="">
                                <label for="3491">
                            <i class="icon icon_radio"></i>
                            C. Press 2
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3492" id="3492" disabled="">
                                <label for="3492">
                            <i class="icon icon_radio"></i>
                            D. Call during office hours
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. When would you probably hear this voicemail?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="3493" id="3493" disabled="">
                                <label for="3493">
                            <i class="icon icon_radio"></i>
                            A. Noon on Wednesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3494" id="3494" disabled="">
                                <label for="3494">
                            <i class="icon icon_radio"></i>
                            B. 3 PM on Tuesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3495" id="3495" disabled="">
                                <label for="3495">
                            <i class="icon icon_radio"></i>
                            C. 8 AM on Monday
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3496" id="3496" disabled="">
                                <label for="3496">
                            <i class="icon icon_radio"></i>
                            D. 5:30 PM on Friday
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>