<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>We are gathered here today to celebrate and pay tribute to Howard Larson, who is retiring from Academy Publishing after forty years of loyal and impeccable service. He started out at a young age working in our bindery department
                            downstairs enduring severe paper cuts and some heavy lifting. After five years he was promoted to supervisor, where he remained for fifteen years. At the end of that stint, he traded in his blue collar for a suit and tie and
                            has been an effective sales distributor until the end of his time here. He excelled in every position he has held here, and more importantly has had a profound impact on all his co-workers. We know he has all sorts of travel
                            plans, leisure time, and of course grandchildren time ahead of him and we wish him well in all his future endeavors. He will be truly missed by all of us here.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566023088.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.94307%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:19</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. Where does this introduction take place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3389" id="3389" disabled="">
                                <label for="3389">
                            <i class="icon icon_radio"></i>
                            A. An office holiday party
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3390" id="3390" disabled="">
                                <label for="3390">
                            <i class="icon icon_radio"></i>
                            B. A retirement party
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3391" id="3391" disabled="">
                                <label for="3391">
                            <i class="icon icon_radio"></i>
                            C. A recruitment ceremony
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3392" id="3392" disabled="">
                                <label for="3392">
                            <i class="icon icon_radio"></i>
                            D. A planning meetin
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. What position is Mr. Larson retiring from?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3393" id="3393" disabled="">
                                <label for="3393">
                            <i class="icon icon_radio"></i>
                            A. Bindery worker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3394" id="3394" disabled="">
                                <label for="3394">
                            <i class="icon icon_radio"></i>
                            B. Sales distributor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3395" id="3395" disabled="">
                                <label for="3395">
                            <i class="icon icon_radio"></i>
                            C. Supervisor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3396" id="3396" disabled="">
                                <label for="3396">
                            <i class="icon icon_radio"></i>
                            D. Manager
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. How long has Mr. Larson worked at the company?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3397" id="3397" disabled="">
                                <label for="3397">
                            <i class="icon icon_radio"></i>
                            A. 40 years
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3398" id="3398" disabled="">
                                <label for="3398">
                            <i class="icon icon_radio"></i>
                            B. 15 years
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3399" id="3399" disabled="">
                                <label for="3399">
                            <i class="icon icon_radio"></i>
                            C. 5 years
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3400" id="3400" disabled="">
                                <label for="3400">
                            <i class="icon icon_radio"></i>
                            D. 20 years
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>