<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning to everyone and welcome to Run to Cure 2007. We are so happy to have you here today. You're racing here not just for yourself, but for all those who have fought the battle and won, who are still fighting, and to remember
                            those who didn't make it. As you see, there are a large number of participants today. There are five hundred of you. So, everyone starting at the same time is impossible. In order to accurately measure each runner's time, make
                            sure you pick up your computer chip which should be attached to your left shoe. It will automatically activate as you cross the starting line. Good luck, thank you again for coming, and remember to drink plenty of water throughout
                            the race!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566023405.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.4729%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:17</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. What kind of race is this?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="3401" id="3401" disabled="">
                                <label for="3401">
                            <i class="icon icon_radio"></i>
                            A. A international championship
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3402" id="3402" disabled="">
                                <label for="3402">
                            <i class="icon icon_radio"></i>
                            B. A casual and small one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3403" id="3403" disabled="">
                                <label for="3403">
                            <i class="icon icon_radio"></i>
                            C. A qualifier
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3404" id="3404" disabled="">
                                <label for="3404">
                            <i class="icon icon_radio"></i>
                            D. On raising funds for a cause
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. How many runners are there?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="3405" id="3405" disabled="">
                                <label for="3405">
                            <i class="icon icon_radio"></i>
                            A. 2000
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3406" id="3406" disabled="">
                                <label for="3406">
                            <i class="icon icon_radio"></i>
                            B. 50
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3407" id="3407" disabled="">
                                <label for="3407">
                            <i class="icon icon_radio"></i>
                            C. 500
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3408" id="3408" disabled="">
                                <label for="3408">
                            <i class="icon icon_radio"></i>
                            D. 200
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. What is the function of the computer chip?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="3409" id="3409" disabled="">
                                <label for="3409">
                            <i class="icon icon_radio"></i>
                            A. It divides the runners into groups
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3410" id="3410" disabled="">
                                <label for="3410">
                            <i class="icon icon_radio"></i>
                            B. It verifies the runner finishes the race
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3411" id="3411" disabled="">
                                <label for="3411">
                            <i class="icon icon_radio"></i>
                            C. It's surveillance to catch cheaters
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3412" id="3412" disabled="">
                                <label for="3412">
                            <i class="icon icon_radio"></i>
                            D. It records each runner's actual time
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>