<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Engel Inc, a leading graphic design company, is now seeking a director for international marketing. The ideal candidate will have completed five years in a similar capacity. Familiarity with Central American markets and fluency
                            is Spanish is preferred. The position entails extensive travel approximately four months out of the year. Please email or fax resume, references, and a cover letter. We do not accept mailed applications.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566024034.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.2221%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:54</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. What is the position being advertised?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="3413" id="3413" disabled="">
                                <label for="3413">
                            <i class="icon icon_radio"></i>
                            A. A graphic designer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3414" id="3414" disabled="">
                                <label for="3414">
                            <i class="icon icon_radio"></i>
                            B. A travel agent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3415" id="3415" disabled="">
                                <label for="3415">
                            <i class="icon icon_radio"></i>
                            C. A Spanish translator
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3416" id="3416" disabled="">
                                <label for="3416">
                            <i class="icon icon_radio"></i>
                            D. A marketing director
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. What would NOT help you get the job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="3417" id="3417" disabled="">
                                <label for="3417">
                            <i class="icon icon_radio"></i>
                            A. Speaking Spanish
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3418" id="3418" disabled="">
                                <label for="3418">
                            <i class="icon icon_radio"></i>
                            B. Seven years of directing experience
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3419" id="3419" disabled="">
                                <label for="3419">
                            <i class="icon icon_radio"></i>
                            C. Mailing in a good resume
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3420" id="3420" disabled="">
                                <label for="3420">
                            <i class="icon icon_radio"></i>
                            D. Being familiar with Central American markets
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What does the employer NOT ask for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="3421" id="3421" disabled="">
                                <label for="3421">
                            <i class="icon icon_radio"></i>
                            A. A salary history
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3422" id="3422" disabled="">
                                <label for="3422">
                            <i class="icon icon_radio"></i>
                            B. A resume
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3423" id="3423" disabled="">
                                <label for="3423">
                            <i class="icon icon_radio"></i>
                            C. A cover letter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3424" id="3424" disabled="">
                                <label for="3424">
                            <i class="icon icon_radio"></i>
                            D. References
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>