<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 83 - 85 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Your attention, please. Flight 617 with a stop in Dallas and a final destination of Los Angeles is now departing out of Gate B12. Again that is Gate B12. If you are waiting at Gate A7, please make your way to the new assigned gate.
                            The departure time has remained unchanged. Again, flight 617 is now departing from Gate B12.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566024212.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 19.3633%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:54</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>83. What is the flight's final destination?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="82" value="3425" id="3425" disabled="">
                                <label for="3425">
                            <i class="icon icon_radio"></i>
                            A. Dayton
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3426" id="3426" disabled="">
                                <label for="3426">
                            <i class="icon icon_radio"></i>
                            B. Dallas
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3427" id="3427" disabled="">
                                <label for="3427">
                            <i class="icon icon_radio"></i>
                            C. Helena
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3428" id="3428" disabled="">
                                <label for="3428">
                            <i class="icon icon_radio"></i>
                            D. Los Angeles
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>84. What is the announcement regarding?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="83" value="3429" id="3429" disabled="">
                                <label for="3429">
                            <i class="icon icon_radio"></i>
                            A. A cancelled flight
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3430" id="3430" disabled="">
                                <label for="3430">
                            <i class="icon icon_radio"></i>
                            B. A gate change
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3431" id="3431" disabled="">
                                <label for="3431">
                            <i class="icon icon_radio"></i>
                            C. A reroute
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3432" id="3432" disabled="">
                                <label for="3432">
                            <i class="icon icon_radio"></i>
                            D. New boarding time
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>85. From where is the flight departing?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="84" value="3433" id="3433" disabled="">
                                <label for="3433">
                            <i class="icon icon_radio"></i>
                            A. Gate A617
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3434" id="3434" disabled="">
                                <label for="3434">
                            <i class="icon icon_radio"></i>
                            B. Gate A7
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3435" id="3435" disabled="">
                                <label for="3435">
                            <i class="icon icon_radio"></i>
                            C. Gate B12
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3436" id="3436" disabled="">
                                <label for="3436">
                            <i class="icon icon_radio"></i>
                            D. Gate B7
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>