<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Thank you all for taking the time out of your busy schedule and joining us for our fundraiser So far this evening, we have had 2,000 people and we have raised $3,000 for the new community center. Before the night is through we
                            plan on having raised $30,000. I hope you are all enjoying the delicious meal, donated by Nicklow's Restaurant. They have been a member of our community for over fifty years and are one of our biggest supporters in this endeavor.
                            Here's the schedule for tonight's events: After dinner we will hold the first part of the vocal auction from 7.30-8.30. During this time, you are free to roam about and write down your bids for the silent auction. This will
                            end at 9:00. As soon as we collect all the bid sheets, we will enjoy a thirty-minute performance from one of our favorite local bands, "Farewell to February". Upon the conclusion of that performance, the winners of the silent
                            auction will be announced.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566025323.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.34111%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:37</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. How much money do they hope to raise at the fundraiser?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="3437" id="3437" disabled="">
                                <label for="3437">
                            <i class="icon icon_radio"></i>
                            A. $2000
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3438" id="3438" disabled="">
                                <label for="3438">
                            <i class="icon icon_radio"></i>
                            B. $3000
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3439" id="3439" disabled="">
                                <label for="3439">
                            <i class="icon icon_radio"></i>
                            C. $20000
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3440" id="3440" disabled="">
                                <label for="3440">
                            <i class="icon icon_radio"></i>
                            D. $30000
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. When will the band play?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="3441" id="3441" disabled="">
                                <label for="3441">
                            <i class="icon icon_radio"></i>
                            A. Before dinner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3442" id="3442" disabled="">
                                <label for="3442">
                            <i class="icon icon_radio"></i>
                            B. Immediately following the vocal auction
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3443" id="3443" disabled="">
                                <label for="3443">
                            <i class="icon icon_radio"></i>
                            C. After the silent auction bidding
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3444" id="3444" disabled="">
                                <label for="3444">
                            <i class="icon icon_radio"></i>
                            D. At the night's conclusion
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. How will someone know if he/she wins any item from the silent auction?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="3445" id="3445" disabled="">
                                <label for="3445">
                            <i class="icon icon_radio"></i>
                            A. His/Her name will be announced
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3446" id="3446" disabled="">
                                <label for="3446">
                            <i class="icon icon_radio"></i>
                            B. He/She can check the bid sheet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3447" id="3447" disabled="">
                                <label for="3447">
                            <i class="icon icon_radio"></i>
                            C. The item will be delivered to his/her house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3448" id="3448" disabled="">
                                <label for="3448">
                            <i class="icon icon_radio"></i>
                            D. He/She will be approached after the fundraiser
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>