<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 89 - 91 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>As a U.S. citizen struggling to work my way through college in the face of ever-increasing tuition costs, I find it appalling that federal legislation has been proposed that would grant undocumented immigrants the luxury of paying
                            instate tuition. I was born and raised in the USA. I pay taxes, and my yearly earnings are not enough to live on decently. However, I seem to be making too much money to obtain financial aid. I would like to hear one reason
                            lawmakers believe tax dollars from hard-working American citizens should subsidize collegetuition funds for undocumented immigrants.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566025893.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.88758%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:11</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>89. What is difficult for the speaker?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="88" value="3449" id="3449" disabled="">
                                <label for="3449">
                            <i class="icon icon_radio"></i>
                            A. Obtaining citizenship
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3450" id="3450" disabled="">
                                <label for="3450">
                            <i class="icon icon_radio"></i>
                            B. Paying for college
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3451" id="3451" disabled="">
                                <label for="3451">
                            <i class="icon icon_radio"></i>
                            C. Finding a job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3452" id="3452" disabled="">
                                <label for="3452">
                            <i class="icon icon_radio"></i>
                            D. Getting a research grant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>90. What is the speaker's attitude toward a government decision?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="89" value="3453" id="3453" disabled="">
                                <label for="3453">
                            <i class="icon icon_radio"></i>
                            A. It's amazing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3454" id="3454" disabled="">
                                <label for="3454">
                            <i class="icon icon_radio"></i>
                            B. He disagrees with it
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3455" id="3455" disabled="">
                                <label for="3455">
                            <i class="icon icon_radio"></i>
                            C. It gives him hope
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3456" id="3456" disabled="">
                                <label for="3456">
                            <i class="icon icon_radio"></i>
                            D. It's luxurious
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>91. What group of people is the speaker discussing?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="90" value="3457" id="3457" disabled="">
                                <label for="3457">
                            <i class="icon icon_radio"></i>
                            A. Americans who don't pay taxes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3458" id="3458" disabled="">
                                <label for="3458">
                            <i class="icon icon_radio"></i>
                            B. People from other countries
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3459" id="3459" disabled="">
                                <label for="3459">
                            <i class="icon icon_radio"></i>
                            C. People moving out of America
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3460" id="3460" disabled="">
                                <label for="3460">
                            <i class="icon icon_radio"></i>
                            D. The homeless
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>