<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Convicted bank robber Joe Pallok, 24, was sentenced to forty years and five months in prison for robbing the East Roswell branch of First Federal Bank. His accomplice, Randy Trask, 25, was sentenced to thirty years in prison. Pallok
                            escaped from jail while awaiting sentencing but was captured after robbing the Big Sky Western bank in Atlanta.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566026245.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.5776%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:50</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. For what crime was Joe Pallok arrested?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3461" id="3461" disabled="">
                                <label for="3461">
                            <i class="icon icon_radio"></i>
                            A. Stealing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3462" id="3462" disabled="">
                                <label for="3462">
                            <i class="icon icon_radio"></i>
                            B. Murder
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3463" id="3463" disabled="">
                                <label for="3463">
                            <i class="icon icon_radio"></i>
                            C. Vandalism
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3464" id="3464" disabled="">
                                <label for="3464">
                            <i class="icon icon_radio"></i>
                            D. Fraud
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. For how long was Joe Pallok sentenced?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3465" id="3465" disabled="">
                                <label for="3465">
                            <i class="icon icon_radio"></i>
                            A. 24 years
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3466" id="3466" disabled="">
                                <label for="3466">
                            <i class="icon icon_radio"></i>
                            B. Over forty years
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3467" id="3467" disabled="">
                                <label for="3467">
                            <i class="icon icon_radio"></i>
                            C. Thirty years
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3468" id="3468" disabled="">
                                <label for="3468">
                            <i class="icon icon_radio"></i>
                            D. Less than thirty years
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. Who is Randy Trask?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3469" id="3469" disabled="">
                                <label for="3469">
                            <i class="icon icon_radio"></i>
                            A. The jailer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3470" id="3470" disabled="">
                                <label for="3470">
                            <i class="icon icon_radio"></i>
                            B. The judge who convicted him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3471" id="3471" disabled="">
                                <label for="3471">
                            <i class="icon icon_radio"></i>
                            C. Joe's partner in crime
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3472" id="3472" disabled="">
                                <label for="3472">
                            <i class="icon icon_radio"></i>
                            D. The banker Joe robbed from
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>