<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 95 - 97 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Hello Ms. Anderson. My name is Deborah from AT&amp;D. And I am calling to tell you that AT&amp;D is now offering a special long-distance deal to all those who switch AT&amp;D during this month. I see that you were a customer five
                            years ago and that you made many long-distance calls. Well, Ms. Anderson, if you switch back to us, we promise to give you two full months of long-distance phone calls for just three cents a minute. That's right, three cents
                            a minute for any North American or European country. Would you like to accept this offer, Ms. Anderson?&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665847/1566026446.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.26709%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:09</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>95. Why is Deborah calling Ms. Anderson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="94" value="3473" id="3473" disabled="">
                                <label for="3473">
                            <i class="icon icon_radio"></i>
                            A. To solicit her
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3474" id="3474" disabled="">
                                <label for="3474">
                            <i class="icon icon_radio"></i>
                            B. To inverview her
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3475" id="3475" disabled="">
                                <label for="3475">
                            <i class="icon icon_radio"></i>
                            C. To survey her
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3476" id="3476" disabled="">
                                <label for="3476">
                            <i class="icon icon_radio"></i>
                            D. To invite her to somewhere
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>96. What is true of Ms. Anderson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="95" value="3477" id="3477" disabled="">
                                <label for="3477">
                            <i class="icon icon_radio"></i>
                            A. She is customer of AT&amp;D
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3478" id="3478" disabled="">
                                <label for="3478">
                            <i class="icon icon_radio"></i>
                            B. She looking for a long-distance plan
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3479" id="3479" disabled="">
                                <label for="3479">
                            <i class="icon icon_radio"></i>
                            C. She called Deborah
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3480" id="3480" disabled="">
                                <label for="3480">
                            <i class="icon icon_radio"></i>
                            D. She used to call abroad often
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>97. How many cents a minute is the long-distance deal?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="96" value="3481" id="3481" disabled="">
                                <label for="3481">
                            <i class="icon icon_radio"></i>
                            A. 2
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3482" id="3482" disabled="">
                                <label for="3482">
                            <i class="icon icon_radio"></i>
                            B. 3
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3483" id="3483" disabled="">
                                <label for="3483">
                            <i class="icon icon_radio"></i>
                            C. 4
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3484" id="3484" disabled="">
                                <label for="3484">
                            <i class="icon icon_radio"></i>
                            D. 5
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>