<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 157 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>To: All Employees </strong><br>
                                    <strong>From: Duncan</strong><br>
                                    <strong>Date: November 8</strong>&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px">Dear&nbsp;Employees,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I'm sure you've heard of exchange schemes, when two companies trade services at a discoutt to each other's employees. Well,&nbsp;I'm happy to announce that we, at Lunch&nbsp;Break, now have no exchange scheme with the British
                                    Museum!&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">This is a great opportunity for all of you to take a stroll through the museum on your lunch break, when admission will be free. All you have to do is show your exchange card, which is enclosed. Also, the same card entitles
                                    you and your party 30% off admission at most other times.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Also, please be aware that when British Museum employees show their&nbsp;exchange card in our cafe, they are entitled to 50% off food purchases. That is food, but not drinks.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Enjoy,<br> Ducan Jones, Personnel&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>EXCHANGE CARD</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The cardholder (name ______ is an employee of&nbsp;<strong>Lunch Break&nbsp;</strong>and is entitled to the following discount at the&nbsp;<strong>British Museum&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>a.&nbsp;</strong>Free admission between 1 and 3 pm from Monday to Friday</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>b.&nbsp;</strong>a 30% discount on admission for his or her party at any time except Staturdays</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><em>This card is valid from 1st September 2011 to September 30th 2012</em></p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>153. What is being exchanged?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="7121" id="7121" disabled="">
                                <label for="7121">
                            <i class="icon icon_radio"></i>
                            A. information
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="7122" id="7122" disabled="">
                                <label for="7122">
                            <i class="icon icon_radio"></i>
                            B. discounts
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="7123" id="7123" disabled="">
                                <label for="7123">
                            <i class="icon icon_radio"></i>
                            C. employees
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="7124" id="7124" disabled="">
                                <label for="7124">
                            <i class="icon icon_radio"></i>
                            D. lunch hours
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. What time do employees of Lunch Break have a lunch break?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="7125" id="7125" disabled="">
                                <label for="7125">
                            <i class="icon icon_radio"></i>
                            A. after 3 pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="7126" id="7126" disabled="">
                                <label for="7126">
                            <i class="icon icon_radio"></i>
                            B. between 12 and 1pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="7127" id="7127" disabled="">
                                <label for="7127">
                            <i class="icon icon_radio"></i>
                            C. between 1 and 3pm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="7128" id="7128" disabled="">
                                <label for="7128">
                            <i class="icon icon_radio"></i>
                            D. between 1 and 2pm
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>155. At which time will be the cardholder take a 30% discount?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="7129" id="7129" disabled="">
                                <label for="7129">
                            <i class="icon icon_radio"></i>
                            A. Sunday afternoon
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="7130" id="7130" disabled="">
                                <label for="7130">
                            <i class="icon icon_radio"></i>
                            B. Saturday morning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="7131" id="7131" disabled="">
                                <label for="7131">
                            <i class="icon icon_radio"></i>
                            C. Tuesday at 1 pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="7132" id="7132" disabled="">
                                <label for="7132">
                            <i class="icon icon_radio"></i>
                            D. Friday at 2:30 pm
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>156. What do the Museum employees get in the exchange program?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="7133" id="7133" disabled="">
                                <label for="7133">
                            <i class="icon icon_radio"></i>
                            A. a discount on food and drink
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7134" id="7134" disabled="">
                                <label for="7134">
                            <i class="icon icon_radio"></i>
                            B. a discount on food
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7135" id="7135" disabled="">
                                <label for="7135">
                            <i class="icon icon_radio"></i>
                            C. free food
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7136" id="7136" disabled="">
                                <label for="7136">
                            <i class="icon icon_radio"></i>
                            D. free admission
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. What do the card holders need to do before using the card?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="7137" id="7137" disabled="">
                                <label for="7137">
                            <i class="icon icon_radio"></i>
                            A. contact the British Museum
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7138" id="7138" disabled="">
                                <label for="7138">
                            <i class="icon icon_radio"></i>
                            B. get their or their manager's signature
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7139" id="7139" disabled="">
                                <label for="7139">
                            <i class="icon icon_radio"></i>
                            C. get the card from their manager
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7140" id="7140" disabled="">
                                <label for="7140">
                            <i class="icon icon_radio"></i>
                            D. fill in their name
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>