<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 182 - 183 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>FOUND </strong></p>

                <p style="text-align:justify"><strong>November 9th</strong><br> A brown briefcase, with silver trim, was found in Western Park on Friday evening.<br> The briefcase is locked and undamaged.<br> I will release the briefcase to the owner upon visual proof that the combination
                    is known and the lock can be opened by the person claming it. If unclaimed in two weeks, I will turn it into the police station. Contact Michael on 6874 335 5634.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>182. How can someone prove the briefcase belongs to him or her?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="7237" id="7237" disabled="">
                                <label for="7237">
                            <i class="icon icon_radio"></i>
                            A. They can describe it over the phone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7238" id="7238" disabled="">
                                <label for="7238">
                            <i class="icon icon_radio"></i>
                            B. They can show that their name is on the contents
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7239" id="7239" disabled="">
                                <label for="7239">
                            <i class="icon icon_radio"></i>
                            C. They can provide an image of the briefcase
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7240" id="7240" disabled="">
                                <label for="7240">
                            <i class="icon icon_radio"></i>
                            D. They can unlock it successfully
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. On which day does the owner need to contact the police station?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="7241" id="7241" disabled="">
                                <label for="7241">
                            <i class="icon icon_radio"></i>
                            A. November 7th
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7242" id="7242" disabled="">
                                <label for="7242">
                            <i class="icon icon_radio"></i>
                            B. November 18th
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7243" id="7243" disabled="">
                                <label for="7243">
                            <i class="icon icon_radio"></i>
                            C. November 26th
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7244" id="7244" disabled="">
                                <label for="7244">
                            <i class="icon icon_radio"></i>
                            D. November 10th
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>