<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 184 - 185 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>ANNOUNCEMENT </strong></p>

                <p style="text-align:justify">This is to inform you that. The IT Solutions is now open at our new location at 4500 4th Avenue North, St. Petersburg, Florida.&nbsp;</p>

                <p style="text-align:justify">Our store offers a complete and diverse line of computer software packages for both personal and business applications.</p>

                <p style="text-align:justify">Since we do not represent any individual computer hardware manufacturer, the products that we carry are compatible with many systems. We are therefore able to offer our customers a wide range of excellent software packages.&nbsp;</p>

                <p style="text-align:justify">We hope that you will come and visit us soon.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>184. The word "applications" in paragraph 2, line 2 is closest in meaning to</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="7245" id="7245" disabled="">
                                <label for="7245">
                            <i class="icon icon_radio"></i>
                            A. requests
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7246" id="7246" disabled="">
                                <label for="7246">
                            <i class="icon icon_radio"></i>
                            B. situations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7247" id="7247" disabled="">
                                <label for="7247">
                            <i class="icon icon_radio"></i>
                            C. questions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7248" id="7248" disabled="">
                                <label for="7248">
                            <i class="icon icon_radio"></i>
                            D. uses
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. What is implied about IT Solutions?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="7249" id="7249" disabled="">
                                <label for="7249">
                            <i class="icon icon_radio"></i>
                            A. They prefer certain software manufacturers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7250" id="7250" disabled="">
                                <label for="7250">
                            <i class="icon icon_radio"></i>
                            B. They can meet anyone's software needs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7251" id="7251" disabled="">
                                <label for="7251">
                            <i class="icon icon_radio"></i>
                            C. They are a brand new business
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7252" id="7252" disabled="">
                                <label for="7252">
                            <i class="icon icon_radio"></i>
                            D. Their main customers are businesses
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>