<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 186 - 190 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>Date 24th May</strong><br>
                                    <strong>To Sandre Wilson, secretary</strong><br>
                                    <strong>From George Ward, Director</strong><br>
                                    <strong>Re: restaurant menu</strong>&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sandra,<br> I've sent as an attachment the menu for the restaurant I'm thinking of booking for the dinner after the seminar. It can seat large groups, and this is critical. It&nbsp;seems to have a good variety of dishes,
                                    but I know some people involved have specific dietary requirements.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Can you please send it around to everyone, to see if it wilt be an acceptable choice? Try to word it so that people respond only if there is nothing they can eat on the menu - I don't want to hear suggestions of everyone's
                                    favorite restaurants! And I need to hear back this week, as I need to make the reservation.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thanks,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">George<br> Mr. George Ward<br> Director of Research&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>RUBY FRIDAYS</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>STARTERS:<br>
Broccoli &amp; Cheese Soup:&nbsp;</strong>Made fresh daily with fresh broccoli and mild cheeses<strong> White Bean Chicken Chili:&nbsp;</strong>Made fresh daily with navy beans, fresh chicken and savory spices<br>
                                    <strong>Carolina Salad:&nbsp;</strong>Fresh garden and organic greens with lightly fried chicken tenders, sugared pecans, diced tomatoes, Wisconsin cheddar and smoked bacon</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>MAIN COURSES:<br>
Lemon Grilled Salmon:&nbsp;</strong>Grilled 8 oz. fresh salmon with a delicate lemon butter sauce<br>
                                    <strong>Creole Catch:&nbsp;</strong>Broiled tilapia with Creole seasoning<br>
                                    <strong>Peppercorn Mushroom Sirloin:&nbsp;</strong>Fresh 9 oz. cut steak, peppercorn crusted. With fresh sauted baby portabella mushrooms and Parmesan cream sauce<br>
                                    <strong>Rib Eye: </strong>12 oz. cut from only the freshest beef<br>
                                    <strong>Chicken Bella:</strong> Fresh, all-natural 10 oz. grilled chicken with fresh sauted baby portabella mushrooms and artichokes with Parmesan cream sauce<br>
                                    <strong>Brown Rice Pilaf:</strong> With vine repened tomatoes and Parmesan cheese</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>186. Why is Mr. Ward worried about the choice of restaurant?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="7253" id="7253" disabled="">
                                <label for="7253">
                            <i class="icon icon_radio"></i>
                            A. He is not happy about the selection of dishes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7254" id="7254" disabled="">
                                <label for="7254">
                            <i class="icon icon_radio"></i>
                            B. He wants to know if Ms. Wilson agrees with him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7255" id="7255" disabled="">
                                <label for="7255">
                            <i class="icon icon_radio"></i>
                            C. He wants to be sure everyone can find something to eat
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7256" id="7256" disabled="">
                                <label for="7256">
                            <i class="icon icon_radio"></i>
                            D. He is worried that everyone can fit inside the restaurant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. What should Ms. Wilson do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="7257" id="7257" disabled="">
                                <label for="7257">
                            <i class="icon icon_radio"></i>
                            A. send the menu to the other people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7258" id="7258" disabled="">
                                <label for="7258">
                            <i class="icon icon_radio"></i>
                            B. call the restaurant and ask questions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7259" id="7259" disabled="">
                                <label for="7259">
                            <i class="icon icon_radio"></i>
                            C. tell Mr. Ward what she knows about people's diets
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7260" id="7260" disabled="">
                                <label for="7260">
                            <i class="icon icon_radio"></i>
                            D. tell Mr. Ward what her favorite restaurant is
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>188. What could a vegetarian eat?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="7261" id="7261" disabled="">
                                <label for="7261">
                            <i class="icon icon_radio"></i>
                            A. Broccoli soup and Rib Eye
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7262" id="7262" disabled="">
                                <label for="7262">
                            <i class="icon icon_radio"></i>
                            B. Carolina Salad and Creole Catch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7263" id="7263" disabled="">
                                <label for="7263">
                            <i class="icon icon_radio"></i>
                            C. Carolina Salad and Brown Rice Pilaf
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7264" id="7264" disabled="">
                                <label for="7264">
                            <i class="icon icon_radio"></i>
                            D. Broccoli soup and Brown Rice Pilaf
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. If you want the largest portion of meat, what would you choose?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="7265" id="7265" disabled="">
                                <label for="7265">
                            <i class="icon icon_radio"></i>
                            A. Rib Eye
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7266" id="7266" disabled="">
                                <label for="7266">
                            <i class="icon icon_radio"></i>
                            B. White Bean Chicken Chili
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7267" id="7267" disabled="">
                                <label for="7267">
                            <i class="icon icon_radio"></i>
                            C. Chicken Bella
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7268" id="7268" disabled="">
                                <label for="7268">
                            <i class="icon icon_radio"></i>
                            D. Peppercorn Mushroom Sirloin
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. Why doesn't Mr. Ward want to know people's favorite restaurants?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="7269" id="7269" disabled="">
                                <label for="7269">
                            <i class="icon icon_radio"></i>
                            A. He doesn't care what they like
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7270" id="7270" disabled="">
                                <label for="7270">
                            <i class="icon icon_radio"></i>
                            B. He wants a quick solution
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7271" id="7271" disabled="">
                                <label for="7271">
                            <i class="icon icon_radio"></i>
                            C. He feels they will not agree
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7272" id="7272" disabled="">
                                <label for="7272">
                            <i class="icon icon_radio"></i>
                            D. He already got that information
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>