<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 196 - 198 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Global stocks see sharp declines</strong></p>

                <p style="text-align:justify">European shares have fallen sharply on Thursday morning trading, mirroring earlier falls in East Asia, as worries about the US economy continue</p>

                <p style="text-align:justify">The UK's FTSE 100 index was down 1.4% to 6,435 just after noon in London, while Germany's Dax had lost 1.4%, and France's Cac had shed 1.3%. Earlier, Tokyo's Nikkei index closed 2.2% lower</p>

                <p style="text-align:justify">European and East Asian markets were responding to heavy US share falls on Wall Street on Wednesday. The Dow Jones, the main US share index, fell 367 points on Wednesday, the 20th anniversary of the Black Monday stock market crash</p>

                <p style="text-align:justify">Wednesday's slump on Wall Street is going to dominate market sentiment as the new trading week gets under way. The falls were set off by concerns that the full effects of the US housing slowdown have not yet been seen</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=40" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>196. Which of the following happened first?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="7293" id="7293" disabled="">
                                <label for="7293">
                            <i class="icon icon_radio"></i>
                            A. Shares fell in America
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7294" id="7294" disabled="">
                                <label for="7294">
                            <i class="icon icon_radio"></i>
                            B. Shares fell in East Asia
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7295" id="7295" disabled="">
                                <label for="7295">
                            <i class="icon icon_radio"></i>
                            C. Shares fell in Europe
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7296" id="7296" disabled="">
                                <label for="7296">
                            <i class="icon icon_radio"></i>
                            D. The Black Monday crash occurred
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>197. The index of which country(-ies) fell by 1.4%?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="7297" id="7297" disabled="">
                                <label for="7297">
                            <i class="icon icon_radio"></i>
                            A. Germany
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7298" id="7298" disabled="">
                                <label for="7298">
                            <i class="icon icon_radio"></i>
                            B. France
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7299" id="7299" disabled="">
                                <label for="7299">
                            <i class="icon icon_radio"></i>
                            C. Germany and France
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7300" id="7300" disabled="">
                                <label for="7300">
                            <i class="icon icon_radio"></i>
                            D. the UK and Germany
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>198. What is implied about Wednesday's slump?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="7301" id="7301" disabled="">
                                <label for="7301">
                            <i class="icon icon_radio"></i>
                            A. It will be on people's minds next week
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7302" id="7302" disabled="">
                                <label for="7302">
                            <i class="icon icon_radio"></i>
                            B. It happened because too many houses were sold
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7303" id="7303" disabled="">
                                <label for="7303">
                            <i class="icon icon_radio"></i>
                            C. It really only could be felt in the US
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7304" id="7304" disabled="">
                                <label for="7304">
                            <i class="icon icon_radio"></i>
                            D. It will be called the Black Monday Crash
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=40" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>