<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 199 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>MARKET DATA 12th October 22:19 UK</strong></p>

                <table cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>FTSE 100</td>
                            <td>6,730.7</td>
                            <td>up</td>
                            <td>6.20</td>
                        </tr>
                        <tr>
                            <td>Dax</td>
                            <td>8,041</td>
                            <td>up</td>
                            <td>7.57</td>
                        </tr>
                        <tr>
                            <td>Cac 40</td>
                            <td>5,844.0</td>
                            <td>down</td>
                            <td>-18.88</td>
                        </tr>
                        <tr>
                            <td>Dow Jones</td>
                            <td>14,093.1</td>
                            <td>up</td>
                            <td>77.96</td>
                        </tr>
                        <tr>
                            <td>Nasdaq</td>
                            <td>2,805</td>
                            <td>up</td>
                            <td>33.40</td>
                        </tr>
                        <tr>
                            <td>S&amp;P 500</td>
                            <td>1,561.8</td>
                            <td>up</td>
                            <td>7.39</td>
                        </tr>
                        <tr>
                            <td>BBC Global 30</td>
                            <td>6,223.1</td>
                            <td>up</td>
                            <td>3.51</td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=41" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>199. Where would you find this table?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="7305" id="7305" disabled="">
                                <label for="7305">
                            <i class="icon icon_radio"></i>
                            A. at job center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7306" id="7306" disabled="">
                                <label for="7306">
                            <i class="icon icon_radio"></i>
                            B. at a train station
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7307" id="7307" disabled="">
                                <label for="7307">
                            <i class="icon icon_radio"></i>
                            C. in a newspaper
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7308" id="7308" disabled="">
                                <label for="7308">
                            <i class="icon icon_radio"></i>
                            D. in a restaurant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. What could have been the Nasdaq point number on the 11th October?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="7309" id="7309" disabled="">
                                <label for="7309">
                            <i class="icon icon_radio"></i>
                            A. 2,805.7
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7310" id="7310" disabled="">
                                <label for="7310">
                            <i class="icon icon_radio"></i>
                            B. 2,800.1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7311" id="7311" disabled="">
                                <label for="7311">
                            <i class="icon icon_radio"></i>
                            C. 2,898.4
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7312" id="7312" disabled="">
                                <label for="7312">
                            <i class="icon icon_radio"></i>
                            D. 2,772.3
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=41" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>