<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 158 - 160 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>ATTENTION&nbsp;</strong></p>

                <p style="text-align:justify">The restrooms on level four will be closed from 3pm on Friday until 1pm on Monday, for refurbishment and replacement of the toilets. At this time please use the restrooms on level one or level three. Disabled toilets are available on level
                    one.&nbsp;</p>

                <p style="text-align:justify">During this time, there may also be extra activity and noise an level four. We apologize for any inconvenience for those with offices on level four, and appreciate your patience while we carry out this important work.&nbsp;</p>

                <p style="text-align:justify">Management&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>158. Who is this notice meant for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="7141" id="7141" disabled="">
                                <label for="7141">
                            <i class="icon icon_radio"></i>
                            A. office workers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7142" id="7142" disabled="">
                                <label for="7142">
                            <i class="icon icon_radio"></i>
                            B. construction workers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7143" id="7143" disabled="">
                                <label for="7143">
                            <i class="icon icon_radio"></i>
                            C. cleaners
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7144" id="7144" disabled="">
                                <label for="7144">
                            <i class="icon icon_radio"></i>
                            D. management
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. What will be true about the toilets on Tuesday?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="7145" id="7145" disabled="">
                                <label for="7145">
                            <i class="icon icon_radio"></i>
                            A. They will be being worked on
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7146" id="7146" disabled="">
                                <label for="7146">
                            <i class="icon icon_radio"></i>
                            B. They will be in a new place
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7147" id="7147" disabled="">
                                <label for="7147">
                            <i class="icon icon_radio"></i>
                            C. They will be new
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7148" id="7148" disabled="">
                                <label for="7148">
                            <i class="icon icon_radio"></i>
                            D. They will be broken
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>160. What is NOT an inconvenience that can be expected?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="7149" id="7149" disabled="">
                                <label for="7149">
                            <i class="icon icon_radio"></i>
                            A. a lack of toilet facilities
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7150" id="7150" disabled="">
                                <label for="7150">
                            <i class="icon icon_radio"></i>
                            B. extra noise
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7151" id="7151" disabled="">
                                <label for="7151">
                            <i class="icon icon_radio"></i>
                            C. extra commotion
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7152" id="7152" disabled="">
                                <label for="7152">
                            <i class="icon icon_radio"></i>
                            D. having to go father to reach a toilet
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>