<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 161 - 163 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>2:30pm</strong></p>

                <ul>
                    <li>1 Mushroom Risotto: $7.95</li>
                    <li>2 Garden Salad:&nbsp;$6.00&nbsp;</li>
                    <li>1 Meat Lasagna: $8.95</li>
                    <li>1 Pepperoni Pizza: $8.88</li>
                    <li>2 Diet Coke: $1.10</li>
                    <li>1 Sprite: $0.50</li>
                    <li>3 Chocolate Cake: $15.00</li>
                </ul>

                <p><strong>Total: $48.38<br>
Tax @ 8%: $3.87<br>
Grand Total: $52.25</strong></p>

                <p style="text-align:center"><strong>Thank you and come again!</strong></p>

                <p><em>*This receipt entitles you to free parking if you present it at the payment kiosk on leaving</em></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>161. Which meal of the day is this receipt for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="7153" id="7153" disabled="">
                                <label for="7153">
                            <i class="icon icon_radio"></i>
                            A. breakfast
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7154" id="7154" disabled="">
                                <label for="7154">
                            <i class="icon icon_radio"></i>
                            B. lunch
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7155" id="7155" disabled="">
                                <label for="7155">
                            <i class="icon icon_radio"></i>
                            C. dinner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7156" id="7156" disabled="">
                                <label for="7156">
                            <i class="icon icon_radio"></i>
                            D. late-night snack
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. How many people probably ate?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="7157" id="7157" disabled="">
                                <label for="7157">
                            <i class="icon icon_radio"></i>
                            A. one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7158" id="7158" disabled="">
                                <label for="7158">
                            <i class="icon icon_radio"></i>
                            B. two
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7159" id="7159" disabled="">
                                <label for="7159">
                            <i class="icon icon_radio"></i>
                            C. three
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7160" id="7160" disabled="">
                                <label for="7160">
                            <i class="icon icon_radio"></i>
                            D. four
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>163. What is not included in the bill?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="7161" id="7161" disabled="">
                                <label for="7161">
                            <i class="icon icon_radio"></i>
                            A. drinks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="7162" id="7162" disabled="">
                                <label for="7162">
                            <i class="icon icon_radio"></i>
                            B. sales tax
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="7163" id="7163" disabled="">
                                <label for="7163">
                            <i class="icon icon_radio"></i>
                            C. parking
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="7164" id="7164" disabled="">
                                <label for="7164">
                            <i class="icon icon_radio"></i>
                            D. a tip
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>