<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 164 - 165 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">In case of an emergency landing, always follow the instructions of the crew.&nbsp;Aisle lights will guide you to the nearest exit, which may be located either in front of or being you. Please leave personal belongings behind and remove
                    high-heeled shoes before using the inflatable exit slide<br> Do not inflate your life vest until after you have exited</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>164. Where is this card most likely to be located?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="7165" id="7165" disabled="">
                                <label for="7165">
                            <i class="icon icon_radio"></i>
                            A. on a bus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="7166" id="7166" disabled="">
                                <label for="7166">
                            <i class="icon icon_radio"></i>
                            B. on a train
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="7167" id="7167" disabled="">
                                <label for="7167">
                            <i class="icon icon_radio"></i>
                            C. on a ferry
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="7168" id="7168" disabled="">
                                <label for="7168">
                            <i class="icon icon_radio"></i>
                            D. on a plane
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>165. How can you find the exit?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="7169" id="7169" disabled="">
                                <label for="7169">
                            <i class="icon icon_radio"></i>
                            A. by following the lights
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="7170" id="7170" disabled="">
                                <label for="7170">
                            <i class="icon icon_radio"></i>
                            B. by looking in front and behind
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="7171" id="7171" disabled="">
                                <label for="7171">
                            <i class="icon icon_radio"></i>
                            C. by asking the crew
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="7172" id="7172" disabled="">
                                <label for="7172">
                            <i class="icon icon_radio"></i>
                            D. by reading the card
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>