<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 166 - 170 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>MEMO</strong>&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px"><strong>To:</strong> All Employees<br>
                                    <strong>From:</strong> Finance Office<br>
                                    <strong>Subject: </strong>Expense Account Form</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">In cases where you are claiming expenses, please use the enclosed form. Please note that changes have been made from last year's form, and this will no longer be accepted.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">In particular, we have separated the travel section into two categories: travel expenses using a personal auto, and other modes of transportation.<br> We will continue to process these forms quarterly.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Bill Miller<br> Finance&nbsp;
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>EXPENSE ACCOUNT STATEMENT</strong></p>

                                <p style="margin-left:10px; margin-right:10px">Employee: _____<br> For period ending: _____</p>

                                <p style="margin-left:10px; margin-right:10px"><strong>REIMBURSABLE EXPENSES INCURRED</strong><br> Hotel/Lodging $___<br> Meals $___<br> Tax $___<br> Travel (air, train, bus) $___<br> Personal auto __ miles x ___ cents $___<br> Parking $___<br> Phone $___<br> Other
                                    (itemize):<br> ___ $___<br> ___ $___<br> ___ $___<br> ___ $___<br> Total: $___</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><em>I certify the above is a true statement of incurred expenses in accordance with company policy. Receipts are attached</em></p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>166. What will happen if the old form is used?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="7173" id="7173" disabled="">
                                <label for="7173">
                            <i class="icon icon_radio"></i>
                            A. It will not be processed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="7174" id="7174" disabled="">
                                <label for="7174">
                            <i class="icon icon_radio"></i>
                            B. It will take longer to be processed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="7175" id="7175" disabled="">
                                <label for="7175">
                            <i class="icon icon_radio"></i>
                            C. The calculations may be wrong
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="7176" id="7176" disabled="">
                                <label for="7176">
                            <i class="icon icon_radio"></i>
                            D. It will be processed with no problems
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. What is different about the new form?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="7177" id="7177" disabled="">
                                <label for="7177">
                            <i class="icon icon_radio"></i>
                            A. You must now report expenses from tax
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="7178" id="7178" disabled="">
                                <label for="7178">
                            <i class="icon icon_radio"></i>
                            B. It must be handed in more often
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="7179" id="7179" disabled="">
                                <label for="7179">
                            <i class="icon icon_radio"></i>
                            C. Categories for accommodation and food are combined
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="7180" id="7180" disabled="">
                                <label for="7180">
                            <i class="icon icon_radio"></i>
                            D. Categories for travel by air and by personal auto are separated
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>168. What work does Bill Miller do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="7181" id="7181" disabled="">
                                <label for="7181">
                            <i class="icon icon_radio"></i>
                            A. He is secretary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="7182" id="7182" disabled="">
                                <label for="7182">
                            <i class="icon icon_radio"></i>
                            B. He works in finance
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="7183" id="7183" disabled="">
                                <label for="7183">
                            <i class="icon icon_radio"></i>
                            C. He is a traveling businessman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="7184" id="7184" disabled="">
                                <label for="7184">
                            <i class="icon icon_radio"></i>
                            D. He owns a business
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. What should be done with the receipts?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="7185" id="7185" disabled="">
                                <label for="7185">
                            <i class="icon icon_radio"></i>
                            A. They should be handed in with the form
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="7186" id="7186" disabled="">
                                <label for="7186">
                            <i class="icon icon_radio"></i>
                            B. They should be kept as a record
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="7187" id="7187" disabled="">
                                <label for="7187">
                            <i class="icon icon_radio"></i>
                            C. They should be given to Bill Miller
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="7188" id="7188" disabled="">
                                <label for="7188">
                            <i class="icon icon_radio"></i>
                            D. Nothing; they are not important at all
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. How often are payments made for these forms?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="7189" id="7189" disabled="">
                                <label for="7189">
                            <i class="icon icon_radio"></i>
                            A. annually
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="7190" id="7190" disabled="">
                                <label for="7190">
                            <i class="icon icon_radio"></i>
                            B. twice per year
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="7191" id="7191" disabled="">
                                <label for="7191">
                            <i class="icon icon_radio"></i>
                            C. four times per year
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="7192" id="7192" disabled="">
                                <label for="7192">
                            <i class="icon icon_radio"></i>
                            D. whenever they are received
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>