<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 171 - 172 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>Tai Chi Weekend Retreat </strong></p>

                <p style="text-align:right">23rd-25th November 2011&nbsp;</p>

                <p style="text-align:justify">At this year's retreat, you will experience excellent Tai Chi instruction from Senior Master Eng Chor, Master Chin Min and featuring our visiting Master Yan Gen Lai (12th generation master of Chen style tai chi chuan). The retreat is a
                    live-in weekend amongst the peace and tranquility of the Lake Dewar Lodge, situated close to the Werribee Gorge.<br> This is a truly fabulous setting for a weekend of Tai Chi.<br> The program will commence Friday evening and conclude
                    Sunday afternoon.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>171. What day of the week is the 23rd November?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="7193" id="7193" disabled="">
                                <label for="7193">
                            <i class="icon icon_radio"></i>
                            A. Monday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7194" id="7194" disabled="">
                                <label for="7194">
                            <i class="icon icon_radio"></i>
                            B. Friday
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7195" id="7195" disabled="">
                                <label for="7195">
                            <i class="icon icon_radio"></i>
                            C. Saturday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7196" id="7196" disabled="">
                                <label for="7196">
                            <i class="icon icon_radio"></i>
                            D. Sunday
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>172. How many Tai Chi instructors will be involved?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="7197" id="7197" disabled="">
                                <label for="7197">
                            <i class="icon icon_radio"></i>
                            A. one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7198" id="7198" disabled="">
                                <label for="7198">
                            <i class="icon icon_radio"></i>
                            B. two
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7199" id="7199" disabled="">
                                <label for="7199">
                            <i class="icon icon_radio"></i>
                            C. three
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7200" id="7200" disabled="">
                                <label for="7200">
                            <i class="icon icon_radio"></i>
                            D. four
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>