<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 173 - 177 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:right"><strong>12:41 PM 21/08&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px"><strong>To: </strong>Thomas Forsynth &lt; t.forsynth@global.net &gt;&nbsp;<br>
                                    <strong>From: </strong>Leanne Douglas &lt; douglasI@nrc.org &gt;</p>

                                <p style="margin-left:10px; margin-right:10px">Dear Mr. Forsynth,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I am responding to your enquiries about the development of the Canyon Nuclear Reactor. I can understand your concern since you work in the tourism industry, and anything that changes the perception of your area can affect
                                    your business.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Since your questions are&nbsp;many and specific, I feel the best l can do to help you is&nbsp;to refer you to our&nbsp;series of public meetings, where people in the industry speak, and the public&nbsp;has a chance to learn
                                    and react. I have attached a schedule containing the meetings set for later the month.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">If, on further reflection,&nbsp;you feel you would like to lodge a formal complaint, l will pass it on to the appropriate offices.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Regards,<br> Leanne Douglas<br> Public Relations, NRC&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>NRC (Nuclear Regulatory Commission)<br>
Public Meeting Schedule</strong></p>

                                <table cellpadding="1" cellspacing="1" style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td><strong>Date/Time</strong></td>
                                            <td><strong>Purpose</strong></td>
                                            <td><strong>Location</strong></td>
                                            <td><strong>Contact</strong></td>
                                        </tr>
                                        <tr>
                                            <td>10/24 8:30am - 5:00pm</td>
                                            <td>Advisory Committee Meeting on Reactor Safeguards</td>
                                            <td>White Flint North Room T-2B3</td>
                                            <td>David Fischer 301-415-8669</td>
                                        </tr>
                                        <tr>
                                            <td>10/26 9:25am</td>
                                            <td>Affirmation Session: Discrimination gainst employees in the industry</td>
                                            <td>Teleconference Ramada Inn</td>
                                            <td>Joe Golla 301-415-1062</td>
                                        </tr>
                                        <tr>
                                            <td>10/28 1:30pm - 5pm</td>
                                            <td>Commission Meeting: Periodic Briefing on New Reactor Issues</td>
                                            <td>White Flint North Commissioners' Conference Room</td>
                                            <td>Roger Rihm 301-415-7087</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>173. What might be Thomas Forsyth's job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="7201" id="7201" disabled="">
                                <label for="7201">
                            <i class="icon icon_radio"></i>
                            A. a teacher
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7202" id="7202" disabled="">
                                <label for="7202">
                            <i class="icon icon_radio"></i>
                            B. an ecologist
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7203" id="7203" disabled="">
                                <label for="7203">
                            <i class="icon icon_radio"></i>
                            C. a hotel manager
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7204" id="7204" disabled="">
                                <label for="7204">
                            <i class="icon icon_radio"></i>
                            D. an NRC representative
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. For whom does Leanne Douglas work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="7205" id="7205" disabled="">
                                <label for="7205">
                            <i class="icon icon_radio"></i>
                            A. the Nuclear Regulatory Commission
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="7206" id="7206" disabled="">
                                <label for="7206">
                            <i class="icon icon_radio"></i>
                            B. David Fischer, Joe Golla, and Roger Rihm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="7207" id="7207" disabled="">
                                <label for="7207">
                            <i class="icon icon_radio"></i>
                            C. the Tourism Commission
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="7208" id="7208" disabled="">
                                <label for="7208">
                            <i class="icon icon_radio"></i>
                            D. White Flint North
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>175. Why did Mr. Forsuyth write to Ms. Douglas?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="7209" id="7209" disabled="">
                                <label for="7209">
                            <i class="icon icon_radio"></i>
                            A. Because he wanted to lean about nuclear power
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="7210" id="7210" disabled="">
                                <label for="7210">
                            <i class="icon icon_radio"></i>
                            B. He had questions about a new reactor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="7211" id="7211" disabled="">
                                <label for="7211">
                            <i class="icon icon_radio"></i>
                            C. He wished to make a formal complaint
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="7212" id="7212" disabled="">
                                <label for="7212">
                            <i class="icon icon_radio"></i>
                            D. He wanted to find out about the meetings
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>176. Which meeting takes place between people in different places?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="7213" id="7213" disabled="">
                                <label for="7213">
                            <i class="icon icon_radio"></i>
                            A. none of them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="7214" id="7214" disabled="">
                                <label for="7214">
                            <i class="icon icon_radio"></i>
                            B. the first meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="7215" id="7215" disabled="">
                                <label for="7215">
                            <i class="icon icon_radio"></i>
                            C. the second meeting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="7216" id="7216" disabled="">
                                <label for="7216">
                            <i class="icon icon_radio"></i>
                            D. the third meeting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>177. Which meeting(s) would be most appropriate for Mr. Forsynth to attend?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="7217" id="7217" disabled="">
                                <label for="7217">
                            <i class="icon icon_radio"></i>
                            A. the first meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="7218" id="7218" disabled="">
                                <label for="7218">
                            <i class="icon icon_radio"></i>
                            B. the second meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="7219" id="7219" disabled="">
                                <label for="7219">
                            <i class="icon icon_radio"></i>
                            C. the third meeting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="7220" id="7220" disabled="">
                                <label for="7220">
                            <i class="icon icon_radio"></i>
                            D. the second and third meetings
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>