<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 180 - 181 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">Between half and two-thirds of men and women in 63 countries across five continents - not including the US - were overweight or obese In 2014.&nbsp;</p>

                <p style="text-align:justify">The journal study included over 168,000 people evaluated by a primary care doctor. It looked at two measures of fatness - waist circumference and a calculation called body mass index or BMI. A BMI (weight in kg divided by square of height
                    in meters) of 18.5 to 25 is considered healthy. A BMI over 25 is deemed overweight and greater than 30 is obese.&nbsp;</p>

                <p style="text-align:justify">Experts said the findings were deeply worrying, because people who are overweight have a higher risk of heart disease, type II diabetes and other diseases including some cancers.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>180. Where would this article most likely be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="7229" id="7229" disabled="">
                                <label for="7229">
                            <i class="icon icon_radio"></i>
                            A. in a financial newspaper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="7230" id="7230" disabled="">
                                <label for="7230">
                            <i class="icon icon_radio"></i>
                            B. in a reference book
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="7231" id="7231" disabled="">
                                <label for="7231">
                            <i class="icon icon_radio"></i>
                            C. in a doctor's notes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="7232" id="7232" disabled="">
                                <label for="7232">
                            <i class="icon icon_radio"></i>
                            D. in a health magazine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>181. What is a healthy BMI?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="7233" id="7233" disabled="">
                                <label for="7233">
                            <i class="icon icon_radio"></i>
                            A. 18
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7234" id="7234" disabled="">
                                <label for="7234">
                            <i class="icon icon_radio"></i>
                            B. 20
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7235" id="7235" disabled="">
                                <label for="7235">
                            <i class="icon icon_radio"></i>
                            C. 26
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7236" id="7236" disabled="">
                                <label for="7236">
                            <i class="icon icon_radio"></i>
                            D. 30
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>