<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 141 - 143 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>At the Zoo</strong></p>

                <p>A man was delivering penguins to the zoo when his van broke __(1)__ on the highway. A fellow stopped to see if he could be of assistance. "Oh, I'm in some real trouble here,"&nbsp;said the first&nbsp;man "l've got to take these penguins
                    to the zoo today, and now I'm not sure I'll&nbsp;get there."&nbsp;</p>

                <p>The helpful fellow volunteered to put the penguins in the back of his car and take them to the zoo. The man with car&nbsp;trouble gratefully __(2)__&nbsp;this offer and promised to get to the zoo as soon as possible. A little later, the
                    man was on the road again&nbsp;and went immediately to the zoo. He looked everywhere but did not see the helpful fellow or any of the penguins. In a&nbsp;panic, he drove back into town. Just as he was wondering what in the world to
                    do next, he saw the "volunteer"&nbsp;walking across the street with all the penguins&nbsp;wadding along behind him.&nbsp;</p>

                <p>He ran up and said, "What are you doing here? I thought you were going to take the penguins to the zoo"&nbsp;and the volunteer replied, "I did, and we had such a good time there; we decided to come into town for ice cream."&nbsp;</p>

                <p><em><strong>Moral:</strong>&nbsp;When </em>__(3)__<em> with volunteers, clear&nbsp;instructions a rd good training is always necessary.&nbsp;</em><br>
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>141. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="5873" id="5873" disabled="">
                                <label for="5873">
                            <i class="icon icon_radio"></i>
                            A. away
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5874" id="5874" disabled="">
                                <label for="5874">
                            <i class="icon icon_radio"></i>
                            B. down
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5875" id="5875" disabled="">
                                <label for="5875">
                            <i class="icon icon_radio"></i>
                            C. off
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5876" id="5876" disabled="">
                                <label for="5876">
                            <i class="icon icon_radio"></i>
                            D. over
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="5877" id="5877" disabled="">
                                <label for="5877">
                            <i class="icon icon_radio"></i>
                            A. received
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5878" id="5878" disabled="">
                                <label for="5878">
                            <i class="icon icon_radio"></i>
                            B. agreed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5879" id="5879" disabled="">
                                <label for="5879">
                            <i class="icon icon_radio"></i>
                            C. consented
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5880" id="5880" disabled="">
                                <label for="5880">
                            <i class="icon icon_radio"></i>
                            D. accepted
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>143. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="5881" id="5881" disabled="">
                                <label for="5881">
                            <i class="icon icon_radio"></i>
                            A. working
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5882" id="5882" disabled="">
                                <label for="5882">
                            <i class="icon icon_radio"></i>
                            B. you working
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5883" id="5883" disabled="">
                                <label for="5883">
                            <i class="icon icon_radio"></i>
                            C. work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5884" id="5884" disabled="">
                                <label for="5884">
                            <i class="icon icon_radio"></i>
                            D. having worked
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>