<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>An important __(1)__ in understanding&nbsp;the supply and demand theory is elasticity. In this context, it refers to how supply and demand change in response to various stimuli&nbsp;</p>

                <p>One way of defining elasticity is the percentage change in one variable divided&nbsp;by the percentage change in another variable (known as arch elasticity because it calculates the elasticity over a range of values, in contrast __(2)__&nbsp;point
                    elasticity that uses differential calculus to determine the elasticity at a specific point). Thus it is a measure of relative changes.&nbsp;</p>

                <p>Often, it is useful to Into how the quantity supplied or demanded will change when the price changes. This is known as the price elasticity of demand and the price elasticity of supply. If a monopolist decides to increase the price of
                    their product, how will this affect their sales revenue? Will the&nbsp;increased unit price offset the __(3)__ decrease in sales volume?,&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5897" id="5897" disabled="">
                                <label for="5897">
                            <i class="icon icon_radio"></i>
                            A. concept
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5898" id="5898" disabled="">
                                <label for="5898">
                            <i class="icon icon_radio"></i>
                            B. conscript
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5899" id="5899" disabled="">
                                <label for="5899">
                            <i class="icon icon_radio"></i>
                            C. contract
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5900" id="5900" disabled="">
                                <label for="5900">
                            <i class="icon icon_radio"></i>
                            D. contempt
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5901" id="5901" disabled="">
                                <label for="5901">
                            <i class="icon icon_radio"></i>
                            A. by
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5902" id="5902" disabled="">
                                <label for="5902">
                            <i class="icon icon_radio"></i>
                            B. of
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5903" id="5903" disabled="">
                                <label for="5903">
                            <i class="icon icon_radio"></i>
                            C. with
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5904" id="5904" disabled="">
                                <label for="5904">
                            <i class="icon icon_radio"></i>
                            D. from
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5905" id="5905" disabled="">
                                <label for="5905">
                            <i class="icon icon_radio"></i>
                            A. probably
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5906" id="5906" disabled="">
                                <label for="5906">
                            <i class="icon icon_radio"></i>
                            B. possibly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5907" id="5907" disabled="">
                                <label for="5907">
                            <i class="icon icon_radio"></i>
                            C. likely
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5908" id="5908" disabled="">
                                <label for="5908">
                            <i class="icon icon_radio"></i>
                            D. perhaps
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>