<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>Although human migration has existed throughout human history, immigration in the modern __(1)__ refers to movement of people from one nation-state to another. Immigration implies long-term permanent residence (and often, eventual citizenship)
                    by the immigrants: tourists and short-term visitors are not considered immigrants.&nbsp;</p>

                <p>However, seasonal labor migration (typically for&nbsp;periods of less than a year) is often __(2)__&nbsp;os a form of immigration. The global volume of immigration is high in absolute terms, but low in relative terms. The UN estimated
                    190 million international migrants in 2005, about 3% of global population. The other 97% still live in the state in which they were born, or its successor state&nbsp;</p>

                <p>The modern idea of immigration is related to the development of nation-states and nationality law. Citizenship of a nation-state confers an inalienable right of residence in that state, but residence of immigrants is subject to conditions
                    net by immigration law. The nation-state made immigration a political issue: __(3)__&nbsp;definition it is the homeland of a nation defined by shared ethnicity and/or culture, and in most cases immigrants have a different ethnicity
                    and culture. This has led to social&nbsp;tensions,&nbsp;xenophobia, and conflicts about national identity, in many developed countries&nbsp;</p>
                </div>
                    <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5909" id="5909" disabled="">
                                <label for="5909">
                            <i class="icon icon_radio"></i>
                            A. term
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5910" id="5910" disabled="">
                                <label for="5910">
                            <i class="icon icon_radio"></i>
                            B. sign
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5911" id="5911" disabled="">
                                <label for="5911">
                            <i class="icon icon_radio"></i>
                            C. sense
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5912" id="5912" disabled="">
                                <label for="5912">
                            <i class="icon icon_radio"></i>
                            D. trend
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5913" id="5913" disabled="">
                                <label for="5913">
                            <i class="icon icon_radio"></i>
                            A. treated
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5914" id="5914" disabled="">
                                <label for="5914">
                            <i class="icon icon_radio"></i>
                            B. referred
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5915" id="5915" disabled="">
                                <label for="5915">
                            <i class="icon icon_radio"></i>
                            C. alluded
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5916" id="5916" disabled="">
                                <label for="5916">
                            <i class="icon icon_radio"></i>
                            D. dealt
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5917" id="5917" disabled="">
                                <label for="5917">
                            <i class="icon icon_radio"></i>
                            A. according
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5918" id="5918" disabled="">
                                <label for="5918">
                            <i class="icon icon_radio"></i>
                            B. regarding
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5919" id="5919" disabled="">
                                <label for="5919">
                            <i class="icon icon_radio"></i>
                            C. as for
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5920" id="5920" disabled="">
                                <label for="5920">
                            <i class="icon icon_radio"></i>
                            D. by
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>