<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Thanks for helping, Mrs Taylor. I'm so nervous about the exam. People that have taken the class already say it's really difficult.</p>

                        <p>W: Well, the most important thing to know is that when abnormal behavior causes problems in living is when a person is considered mentally ill and is probably in need of medical help.</p>

                        <p>M: That sounds easy enough....</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565854499.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.7722%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:54</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. What is the relationship between the man and woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="2417" id="2417" disabled="">
                                <label for="2417">
                            <i class="icon icon_radio"></i>
                            A. student and teacher
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2418" id="2418" disabled="">
                                <label for="2418">
                            <i class="icon icon_radio"></i>
                            B. co-workers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2419" id="2419" disabled="">
                                <label for="2419">
                            <i class="icon icon_radio"></i>
                            C. doctor and patient
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2420" id="2420" disabled="">
                                <label for="2420">
                            <i class="icon icon_radio"></i>
                            D. classmates
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. What has made the man nervous about the upcoming exam?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="2421" id="2421" disabled="">
                                <label for="2421">
                            <i class="icon icon_radio"></i>
                            A. the fact that he failed the previous exam
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2422" id="2422" disabled="">
                                <label for="2422">
                            <i class="icon icon_radio"></i>
                            B. his abnormal behavior makes it hard to concentrate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2423" id="2423" disabled="">
                                <label for="2423">
                            <i class="icon icon_radio"></i>
                            C. that others have warned him of its difficulty
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2424" id="2424" disabled="">
                                <label for="2424">
                            <i class="icon icon_radio"></i>
                            D. that the woman doesn't think he is capable
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. When is someone considered mentally ill?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="2425" id="2425" disabled="">
                                <label for="2425">
                            <i class="icon icon_radio"></i>
                            A. when they have problems in living
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2426" id="2426" disabled="">
                                <label for="2426">
                            <i class="icon icon_radio"></i>
                            B. when they take an exam that proves them so
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2427" id="2427" disabled="">
                                <label for="2427">
                            <i class="icon icon_radio"></i>
                            C. when they know important things
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2428" id="2428" disabled="">
                                <label for="2428">
                            <i class="icon icon_radio"></i>
                            D. when they seek medical help
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>