<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Should I come to work for your company, I think you'll find that I am efficient and dedicated.</p>

                        <p>M: How do you feel about being in charge of others?</p>

                        <p>W: I am experienced in the art of delegation. I find it important to entrust all employees with important tasks in order to keep the company running efficiently.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565857460.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.7915%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:49</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. What kind of interaction is this?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2525" id="2525" disabled="">
                                <label for="2525">
                            <i class="icon icon_radio"></i>
                            A. a business meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2526" id="2526" disabled="">
                                <label for="2526">
                            <i class="icon icon_radio"></i>
                            B. a phone conversation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2527" id="2527" disabled="">
                                <label for="2527">
                            <i class="icon icon_radio"></i>
                            C. a presentation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2528" id="2528" disabled="">
                                <label for="2528">
                            <i class="icon icon_radio"></i>
                            D. an interview
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. Why does the woman say she is efficient and dedicated?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2529" id="2529" disabled="">
                                <label for="2529">
                            <i class="icon icon_radio"></i>
                            A. to brag about her good qualities
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2530" id="2530" disabled="">
                                <label for="2530">
                            <i class="icon icon_radio"></i>
                            B. to prove she is better than the man
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2531" id="2531" disabled="">
                                <label for="2531">
                            <i class="icon icon_radio"></i>
                            C. to show she is qualified for the job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2532" id="2532" disabled="">
                                <label for="2532">
                            <i class="icon icon_radio"></i>
                            D. to illustrate she's not shy
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. How does the woman feel about delegation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2533" id="2533" disabled="">
                                <label for="2533">
                            <i class="icon icon_radio"></i>
                            A. She finds it essential
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2534" id="2534" disabled="">
                                <label for="2534">
                            <i class="icon icon_radio"></i>
                            B. She thinks it's unproductive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2535" id="2535" disabled="">
                                <label for="2535">
                            <i class="icon icon_radio"></i>
                            C. She thinks it's not trustworthy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2536" id="2536" disabled="">
                                <label for="2536">
                            <i class="icon icon_radio"></i>
                            D. She sees it as problematic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>