<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Did you see the game last night, Jill? Rooney had two goals!</p>

                        <p>W: No! I spent the whole day studying for exams. I've barely had any free time since I started Medical School.</p>

                        <p>M: Why don't you come to my house tomorrow for a break?</p>

                        <p>W: OK, but only for an hour. And don't try to persuade me to stay longer or I will fail!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565855183.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.6075%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:42</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. Who is Rooney?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="2441" id="2441" disabled="">
                                <label for="2441">
                            <i class="icon icon_radio"></i>
                            A. an actor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2442" id="2442" disabled="">
                                <label for="2442">
                            <i class="icon icon_radio"></i>
                            B. a medical school student
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2443" id="2443" disabled="">
                                <label for="2443">
                            <i class="icon icon_radio"></i>
                            C. an athlete
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2444" id="2444" disabled="">
                                <label for="2444">
                            <i class="icon icon_radio"></i>
                            D. a doctor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. Why does the man invite the woman to his house?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="2445" id="2445" disabled="">
                                <label for="2445">
                            <i class="icon icon_radio"></i>
                            A. to give her some time away from studying
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2446" id="2446" disabled="">
                                <label for="2446">
                            <i class="icon icon_radio"></i>
                            B. to play some games
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2447" id="2447" disabled="">
                                <label for="2447">
                            <i class="icon icon_radio"></i>
                            C. to study together
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2448" id="2448" disabled="">
                                <label for="2448">
                            <i class="icon icon_radio"></i>
                            D. to watch sport on TV
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. What is the best description of Jill?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="2449" id="2449" disabled="">
                                <label for="2449">
                            <i class="icon icon_radio"></i>
                            A. lazy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2450" id="2450" disabled="">
                                <label for="2450">
                            <i class="icon icon_radio"></i>
                            B. hard-working
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2451" id="2451" disabled="">
                                <label for="2451">
                            <i class="icon icon_radio"></i>
                            C. laid-back
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2452" id="2452" disabled="">
                                <label for="2452">
                            <i class="icon icon_radio"></i>
                            D. irresponsible
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>