<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 50 - 52 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: What time do you land tomorrow?</p>

                        <p>M: 4:20 pm, but with the bad weather, it is uncertain. Why?</p>

                        <p>W: I thought we could share a cab to the conference. But I arrive in LA. at 1:30 and I don't want to wait around for three hours.</p>

                        <p>M: I guess we'll see each other at the marketing meeting then.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565855610.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.3581%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:48</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>50. How are the men and woman arriving in LA?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="49" value="2453" id="2453" disabled="">
                                <label for="2453">
                            <i class="icon icon_radio"></i>
                            A. by shuttle bus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2454" id="2454" disabled="">
                                <label for="2454">
                            <i class="icon icon_radio"></i>
                            B.  by taxi cab
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2455" id="2455" disabled="">
                                <label for="2455">
                            <i class="icon icon_radio"></i>
                            C. by car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2456" id="2456" disabled="">
                                <label for="2456">
                            <i class="icon icon_radio"></i>
                            D. by airplane
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>51. What is the purpose of their trip to LA?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="50" value="2457" id="2457" disabled="">
                                <label for="2457">
                            <i class="icon icon_radio"></i>
                            A. family vacation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2458" id="2458" disabled="">
                                <label for="2458">
                            <i class="icon icon_radio"></i>
                            B. business trip
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2459" id="2459" disabled="">
                                <label for="2459">
                            <i class="icon icon_radio"></i>
                            C. academic excursion
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2460" id="2460" disabled="">
                                <label for="2460">
                            <i class="icon icon_radio"></i>
                            D. honeymoon
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>52. Why won't the man and woman share a cab?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="51" value="2461" id="2461" disabled="">
                                <label for="2461">
                            <i class="icon icon_radio"></i>
                            A. They are arriving at different destinations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2462" id="2462" disabled="">
                                <label for="2462">
                            <i class="icon icon_radio"></i>
                            B. The man's flight was delayed due to the weather
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2463" id="2463" disabled="">
                                <label for="2463">
                            <i class="icon icon_radio"></i>
                            C. Their arrival times are too far apart
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2464" id="2464" disabled="">
                                <label for="2464">
                            <i class="icon icon_radio"></i>
                            D. The woman would rather arrive alone
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>