<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Much of the labor we do in the factory is extremely tiring.</p>

                        <p>W: Yes, I know...</p>

                        <p>M: One 10-minute break and a half hour lunch break is not enough. We would like two twenty-minute breaks.</p>

                        <p>W: You know how much I respect my employees. I will see what I can do.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565855806.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.5235%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:48</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. Who is the woman in relation to the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="2465" id="2465" disabled="">
                                <label for="2465">
                            <i class="icon icon_radio"></i>
                            A. his co-worker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2466" id="2466" disabled="">
                                <label for="2466">
                            <i class="icon icon_radio"></i>
                            B. his employer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2467" id="2467" disabled="">
                                <label for="2467">
                            <i class="icon icon_radio"></i>
                            C. his employee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2468" id="2468" disabled="">
                                <label for="2468">
                            <i class="icon icon_radio"></i>
                            D. his doctor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. What does the man request?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="2469" id="2469" disabled="">
                                <label for="2469">
                            <i class="icon icon_radio"></i>
                            A. longer breaks
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2470" id="2470" disabled="">
                                <label for="2470">
                            <i class="icon icon_radio"></i>
                            B. more money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2471" id="2471" disabled="">
                                <label for="2471">
                            <i class="icon icon_radio"></i>
                            C. longer lunches
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2472" id="2472" disabled="">
                                <label for="2472">
                            <i class="icon icon_radio"></i>
                            D. more vacation time
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. How does the woman respond?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="2473" id="2473" disabled="">
                                <label for="2473">
                            <i class="icon icon_radio"></i>
                            A. She refuses his request
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2474" id="2474" disabled="">
                                <label for="2474">
                            <i class="icon icon_radio"></i>
                            B. She will try to fulfill his request
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2475" id="2475" disabled="">
                                <label for="2475">
                            <i class="icon icon_radio"></i>
                            C. She agrees to his request
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2476" id="2476" disabled="">
                                <label for="2476">
                            <i class="icon icon_radio"></i>
                            D. She misunderstands his request
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>