<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: I was getting worried about you!</p>

                        <p>M: Thanks for your concern. I was really sick for a while.</p>

                        <p>W: We've missed you! The office just isn't the same without you here. How does it feel to be back?</p>

                        <p>M: Overwhelming. I am so behind with paperwork!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565856205.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 22.5746%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:47</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. Why was the woman worried about the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2477" id="2477" disabled="">
                                <label for="2477">
                            <i class="icon icon_radio"></i>
                            A. He was neglecting his work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2478" id="2478" disabled="">
                                <label for="2478">
                            <i class="icon icon_radio"></i>
                            B. He hadn't returned her messages
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2479" id="2479" disabled="">
                                <label for="2479">
                            <i class="icon icon_radio"></i>
                            C. He had been ill for a long time
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2480" id="2480" disabled="">
                                <label for="2480">
                            <i class="icon icon_radio"></i>
                            D. He overworked himself
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. What did the woman mean when she said the office wasn't the same?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2481" id="2481" disabled="">
                                <label for="2481">
                            <i class="icon icon_radio"></i>
                            A. They didn't get any of their work done
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2482" id="2482" disabled="">
                                <label for="2482">
                            <i class="icon icon_radio"></i>
                            B. The work atmosphere is better when he is there
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2483" id="2483" disabled="">
                                <label for="2483">
                            <i class="icon icon_radio"></i>
                            C. They enjoyed having him gone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2484" id="2484" disabled="">
                                <label for="2484">
                            <i class="icon icon_radio"></i>
                            D. They worked in a different office during his absence
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. How does the man feel about returning to work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2485" id="2485" disabled="">
                                <label for="2485">
                            <i class="icon icon_radio"></i>
                            A. He is eager to resume his daily routine
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2486" id="2486" disabled="">
                                <label for="2486">
                            <i class="icon icon_radio"></i>
                            B. He resents the changes they made while he was gone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2487" id="2487" disabled="">
                                <label for="2487">
                            <i class="icon icon_radio"></i>
                            C. He is a little panicked about tending to all his responsibilities
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2488" id="2488" disabled="">
                                <label for="2488">
                            <i class="icon icon_radio"></i>
                            D. He is disappointed that people didn't help him with some of his work
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>