<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Could you tell me how to get to Bronson Park? I'm supposed to meet a client there.</p>

                        <p>W: That's on the other side of town. How did you end up here?</p>

                        <p>M: The man at the convenience store must have given me bad directions.</p>

                        <p>W: Well, I promise to give you flawless ones.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565856602.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 16.1828%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:44</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. What surprises the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2489" id="2489" disabled="">
                                <label for="2489">
                            <i class="icon icon_radio"></i>
                            A. That man could get lost in such a small town
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2490" id="2490" disabled="">
                                <label for="2490">
                            <i class="icon icon_radio"></i>
                            B. The man was so far away from his intended destination
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2491" id="2491" disabled="">
                                <label for="2491">
                            <i class="icon icon_radio"></i>
                            C. The man would choose to go to Bronson Park
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2492" id="2492" disabled="">
                                <label for="2492">
                            <i class="icon icon_radio"></i>
                            D. She doesn't remember the names of the roads
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. On what does the man blame getting lost?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2493" id="2493" disabled="">
                                <label for="2493">
                            <i class="icon icon_radio"></i>
                            A. inaccurate directions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2494" id="2494" disabled="">
                                <label for="2494">
                            <i class="icon icon_radio"></i>
                            B. too much traffic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2495" id="2495" disabled="">
                                <label for="2495">
                            <i class="icon icon_radio"></i>
                            C. the confusing roads
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2496" id="2496" disabled="">
                                <label for="2496">
                            <i class="icon icon_radio"></i>
                            D. his own mistakes
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. How does the woman reassure the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2497" id="2497" disabled="">
                                <label for="2497">
                            <i class="icon icon_radio"></i>
                            A. She says he is near the park
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2498" id="2498" disabled="">
                                <label for="2498">
                            <i class="icon icon_radio"></i>
                            B. She says she knows a shortcut
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2499" id="2499" disabled="">
                                <label for="2499">
                            <i class="icon icon_radio"></i>
                            C. She says she can direct him correctly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2500" id="2500" disabled="">
                                <label for="2500">
                            <i class="icon icon_radio"></i>
                            D. She tells him there is a convenience store that can give him directions
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>