<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Can you work late this week? We need to get the marketing proposal completed by Friday.</p>

                        <p>W: Every day but Wednesday. My son has his band concert.</p>

                        <p>M: Thanks. I know this is last minute. But to make up for it, I'm paying for pizzas every night.</p>

                        <p>W: I never say no to pizza!</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565856933.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.5985%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:51</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. Why will the man and woman be working late?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2501" id="2501" disabled="">
                                <label for="2501">
                            <i class="icon icon_radio"></i>
                            A. to earn some extra money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2502" id="2502" disabled="">
                                <label for="2502">
                            <i class="icon icon_radio"></i>
                            B. to make a good impression on the boss
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2503" id="2503" disabled="">
                                <label for="2503">
                            <i class="icon icon_radio"></i>
                            C. to meet a deadline
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2504" id="2504" disabled="">
                                <label for="2504">
                            <i class="icon icon_radio"></i>
                            D. to eat pizza
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. In addition to being a professional, the woman is also:</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2505" id="2505" disabled="">
                                <label for="2505">
                            <i class="icon icon_radio"></i>
                            A. a musician
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2506" id="2506" disabled="">
                                <label for="2506">
                            <i class="icon icon_radio"></i>
                            B. a vegetarian
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2507" id="2507" disabled="">
                                <label for="2507">
                            <i class="icon icon_radio"></i>
                            C. a comedian
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2508" id="2508" disabled="">
                                <label for="2508">
                            <i class="icon icon_radio"></i>
                            D. a mother
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. One aspect of working late that the woman is looking forward to is:</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2509" id="2509" disabled="">
                                <label for="2509">
                            <i class="icon icon_radio"></i>
                            A. eating pizza
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2510" id="2510" disabled="">
                                <label for="2510">
                            <i class="icon icon_radio"></i>
                            B. missing the band concert
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2511" id="2511" disabled="">
                                <label for="2511">
                            <i class="icon icon_radio"></i>
                            C. working harder than usual
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2512" id="2512" disabled="">
                                <label for="2512">
                            <i class="icon icon_radio"></i>
                            D. the salary bonus
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>