<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Did you send off the documents I left on your desk to Milan?</p>

                        <p>M: You didn't leave anything on my desk.</p>

                        <p>W: What?! We'll lose the account if the Milan office does not receive them. I'm sure I left them. Please check again.</p>

                        <p>M: I don't need to. I can see the documents on your desk.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1565857209.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.8152%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:49</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. What is one of the man's job responsibilities?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="2513" id="2513" disabled="">
                                <label for="2513">
                            <i class="icon icon_radio"></i>
                            A. to give tasks to the woman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2514" id="2514" disabled="">
                                <label for="2514">
                            <i class="icon icon_radio"></i>
                            B. to mail important items
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2515" id="2515" disabled="">
                                <label for="2515">
                            <i class="icon icon_radio"></i>
                            C. to clean employee's desks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2516" id="2516" disabled="">
                                <label for="2516">
                            <i class="icon icon_radio"></i>
                            D. to work in the Milan office
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. What may happen if the Milan office doesn't receive the documents?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="2517" id="2517" disabled="">
                                <label for="2517">
                            <i class="icon icon_radio"></i>
                            A. The woman will lose her job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2518" id="2518" disabled="">
                                <label for="2518">
                            <i class="icon icon_radio"></i>
                            B. They may no longer do business with the woman's company
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2519" id="2519" disabled="">
                                <label for="2519">
                            <i class="icon icon_radio"></i>
                            C. The man will be fired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2520" id="2520" disabled="">
                                <label for="2520">
                            <i class="icon icon_radio"></i>
                            D. The woman's company will be sued
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. Why didn't the documents get sent out to Milan?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="2521" id="2521" disabled="">
                                <label for="2521">
                            <i class="icon icon_radio"></i>
                            A. The man forgot to do it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2522" id="2522" disabled="">
                                <label for="2522">
                            <i class="icon icon_radio"></i>
                            B. The woman never gave them to the man
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2523" id="2523" disabled="">
                                <label for="2523">
                            <i class="icon icon_radio"></i>
                            C. The man sent them to the wrong address
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2524" id="2524" disabled="">
                                <label for="2524">
                            <i class="icon icon_radio"></i>
                            D. The woman didn't complete the documents in time
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>