<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <img src="https://toeic24.vn/upload/img/resized/1565666361.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565666361.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 23.5076%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:20</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="771" id="771" disabled="">
                                <label for="771">
                            <i class="icon icon_radio"></i>
                            A. They are applauding the speaker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="772" id="772" disabled="">
                                <label for="772">
                            <i class="icon icon_radio"></i>
                            B. The speaker is gesturing with her hands
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="773" id="773" disabled="">
                                <label for="773">
                            <i class="icon icon_radio"></i>
                            C. The speaker is behind the podium
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="774" id="774" disabled="">
                                <label for="774">
                            <i class="icon icon_radio"></i>
                            D. They are looking away from the speaker
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565666497.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565666497.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 25.886%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="775" id="775" disabled="">
                                <label for="775">
                            <i class="icon icon_radio"></i>
                            A. The plane is talking off
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="776" id="776" disabled="">
                                <label for="776">
                            <i class="icon icon_radio"></i>
                            B. They are seated in an airplane
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="777" id="777" disabled="">
                                <label for="777">
                            <i class="icon icon_radio"></i>
                            C. They passengers are disembarking
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="778" id="778" disabled="">
                                <label for="778">
                            <i class="icon icon_radio"></i>
                            D. They are boarding from outside
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565666670.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565666670.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 21.9085%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:20</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="779" id="779" disabled="">
                                <label for="779">
                            <i class="icon icon_radio"></i>
                            A. Both men are wearing ties
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="780" id="780" disabled="">
                                <label for="780">
                            <i class="icon icon_radio"></i>
                            B. The woman speaking is wearing glasses
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="781" id="781" disabled="">
                                <label for="781">
                            <i class="icon icon_radio"></i>
                            C. All the women are crossing their legs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="782" id="782" disabled="">
                                <label for="782">
                            <i class="icon icon_radio"></i>
                            D. Two people are speaking at once
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565666791.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565666791.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 29.518%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="783" id="783" disabled="">
                                <label for="783">
                            <i class="icon icon_radio"></i>
                            A. Papers are scattered on the table
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="784" id="784" disabled="">
                                <label for="784">
                            <i class="icon icon_radio"></i>
                            B. They are seated across from each other
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="785" id="785" disabled="">
                                <label for="785">
                            <i class="icon icon_radio"></i>
                            C. They are all looking at the same document
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="786" id="786" disabled="">
                                <label for="786">
                            <i class="icon icon_radio"></i>
                            D. Notebooks are in a pile on the table
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565666877.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565666877.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.6062%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="787" id="787" disabled="">
                                <label for="787">
                            <i class="icon icon_radio"></i>
                            A. He is saluting a flag
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="788" id="788" disabled="">
                                <label for="788">
                            <i class="icon icon_radio"></i>
                            B. He has something trapped on his shoulder
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="789" id="789" disabled="">
                                <label for="789">
                            <i class="icon icon_radio"></i>
                            C. She is not pleased with him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="790" id="790" disabled="">
                                <label for="790">
                            <i class="icon icon_radio"></i>
                            D. She is avoiding eye contact
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565666959.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565666960.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.1465%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="791" id="791" disabled="">
                                <label for="791">
                            <i class="icon icon_radio"></i>
                            A. One man is wearing jeans
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="792" id="792" disabled="">
                                <label for="792">
                            <i class="icon icon_radio"></i>
                            B. The woman is holding her bag
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="793" id="793" disabled="">
                                <label for="793">
                            <i class="icon icon_radio"></i>
                            C. The man wearing a vest has a beard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="794" id="794" disabled="">
                                <label for="794">
                            <i class="icon icon_radio"></i>
                            D. The woman doesn't have a nametag
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565667023.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565667024.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.4368%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>7. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="795" id="795" disabled="">
                                <label for="795">
                            <i class="icon icon_radio"></i>
                            A. She has glasses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="796" id="796" disabled="">
                                <label for="796">
                            <i class="icon icon_radio"></i>
                            B. They are working at a computer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="797" id="797" disabled="">
                                <label for="797">
                            <i class="icon icon_radio"></i>
                            C. He is not seated
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="798" id="798" disabled="">
                                <label for="798">
                            <i class="icon icon_radio"></i>
                            D. There is a stool between them
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565667104.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565667104.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 24.2339%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>8. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="799" id="799" disabled="">
                                <label for="799">
                            <i class="icon icon_radio"></i>
                            A. A man is helping the woman in front
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="800" id="800" disabled="">
                                <label for="800">
                            <i class="icon icon_radio"></i>
                            B. The man in front is working with the woman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="801" id="801" disabled="">
                                <label for="801">
                            <i class="icon icon_radio"></i>
                            C. The man in front is not typing at the moment
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="802" id="802" disabled="">
                                <label for="802">
                            <i class="icon icon_radio"></i>
                            D. There are two men seated in the front row
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565667173.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565667173.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 28.0095%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>9. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="803" id="803" disabled="">
                                <label for="803">
                            <i class="icon icon_radio"></i>
                            A. They are ordering food
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="804" id="804" disabled="">
                                <label for="804">
                            <i class="icon icon_radio"></i>
                            B. She is glancing at his menu
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="805" id="805" disabled="">
                                <label for="805">
                            <i class="icon icon_radio"></i>
                            C. She is standing next to him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="806" id="806" disabled="">
                                <label for="806">
                            <i class="icon icon_radio"></i>
                            D. She is eating a chip
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565667386.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665795/1565667386.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 23.6561%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>10. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="807" id="807" disabled="">
                                <label for="807">
                            <i class="icon icon_radio"></i>
                            A. The man is shorts is kneeling on the ground
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="808" id="808" disabled="">
                                <label for="808">
                            <i class="icon icon_radio"></i>
                            B. The standing man is holding a tool
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="809" id="809" disabled="">
                                <label for="809">
                            <i class="icon icon_radio"></i>
                            C. The man with the tool is wearing a belt
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="810" id="810" disabled="">
                                <label for="810">
                            <i class="icon icon_radio"></i>
                            D. The smiling man is wearing a shit
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>