<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 147 - 148 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-32-50.png"><img
                        alt=""
                        src="http://toeic.dich24.com/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-32-50.png"><img
                        alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-32-50.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>147. What is the purpose of the email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="16410" id="16410" disabled="">
                                <label for="16410">
                                    <i class="icon icon_radio"></i>
                                    A. To publicize an updated service
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="16411" id="16411" disabled="">
                                <label for="16411">
                                    <i class="icon icon_radio"></i>
                                    B. To attract first-time customers
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="16412" id="16412" disabled="">
                                <label for="16412">
                                    <i class="icon icon_radio"></i>
                                    C. To increase the sale of April tickets
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="16413" id="16413" disabled="">
                                <label for="16413">
                                    <i class="icon icon_radio"></i>
                                    D. To promote Rapid Railways Express
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. What is true about the special discount?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="16414" id="16414" disabled="">
                                <label for="16414">
                                    <i class="icon icon_radio"></i>
                                    A. It includes children
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="16415" id="16415" disabled="">
                                <label for="16415">
                                    <i class="icon icon_radio"></i>
                                    B. It requires that tickets be purchased over the phone
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="16416" id="16416" disabled="">
                                <label for="16416">
                                    <i class="icon icon_radio"></i>
                                    C. It applies only to tickets already purchased
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="16417" id="16417" disabled="">
                                <label for="16417">
                                    <i class="icon icon_radio"></i>
                                    D. It is offered to two people traveling together
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=4"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>