<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 172 - 175 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-42-06.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>172. Why did Mr. Hashimoto contact Customer Care?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="16510" id="16510" disabled="">
                                <label for="16510">
                            <i class="icon icon_radio"></i>
                            A. To provide feedback on a recent stay
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="16511" id="16511" disabled="">
                                <label for="16511">
                            <i class="icon icon_radio"></i>
                            B. To book a room using his loyalty points
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="16512" id="16512" disabled="">
                                <label for="16512">
                            <i class="icon icon_radio"></i>
                            C. To change an existing reservation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="16513" id="16513" disabled="">
                                <label for="16513">
                            <i class="icon icon_radio"></i>
                            D. To inquire about missing loyalty points
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. At 10:46 A.M, what does Mr. Wong mean when he writes, "Already got it"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="16514" id="16514" disabled="">
                                <label for="16514">
                            <i class="icon icon_radio"></i>
                            A. He has found some information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="16515" id="16515" disabled="">
                                <label for="16515">
                            <i class="icon icon_radio"></i>
                            B. He is pointing out a mistake made by Ms. Russo
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="16516" id="16516" disabled="">
                                <label for="16516">
                            <i class="icon icon_radio"></i>
                            C. He is going to call Mr. Hashimoto
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="16517" id="16517" disabled="">
                                <label for="16517">
                            <i class="icon icon_radio"></i>
                            D. He will complete Mr. Hashimoto's reservation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. What does Ms. Russo offer to do for Mr. Hashimoto?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="16518" id="16518" disabled="">
                                <label for="16518">
                            <i class="icon icon_radio"></i>
                            A. Award him extra points
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="16519" id="16519" disabled="">
                                <label for="16519">
                            <i class="icon icon_radio"></i>
                            B. Issue a refund
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="16520" id="16520" disabled="">
                                <label for="16520">
                            <i class="icon icon_radio"></i>
                            C. Provide an upgrade on a future stay
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="16521" id="16521" disabled="">
                                <label for="16521">
                            <i class="icon icon_radio"></i>
                            D. Transfer his account to a different points program
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>175. What is NOT indicated about the loyalty points program?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="16522" id="16522" disabled="">
                                <label for="16522">
                            <i class="icon icon_radio"></i>
                            A. Points earned on a stay remain valid for a year
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="16523" id="16523" disabled="">
                                <label for="16523">
                            <i class="icon icon_radio"></i>
                            B. Points can be used to upgrade a reservation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="16524" id="16524" disabled="">
                                <label for="16524">
                            <i class="icon icon_radio"></i>
                            C. Points are credited after a guest leaves the hotel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="16525" id="16525" disabled="">
                                <label for="16525">
                            <i class="icon icon_radio"></i>
                            D. Points can be doubled under certain conditions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>