<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 176 - 180 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-42-18.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-42-30.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>176. What is a purpose of the email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="16526" id="16526" disabled="">
                                <label for="16526">
                            <i class="icon icon_radio"></i>
                            A. To issue an invitation to a celebration
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="16527" id="16527" disabled="">
                                <label for="16527">
                            <i class="icon icon_radio"></i>
                            B. To give notice of a policy change
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="16528" id="16528" disabled="">
                                <label for="16528">
                            <i class="icon icon_radio"></i>
                            C. To forward a company document
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="16529" id="16529" disabled="">
                                <label for="16529">
                            <i class="icon icon_radio"></i>
                            D. To approve a vacation request
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>177. In the email, the word "going" in paragraph 1, line 1, is closest in meaning to </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="16530" id="16530" disabled="">
                                <label for="16530">
                            <i class="icon icon_radio"></i>
                            A. departing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="16531" id="16531" disabled="">
                                <label for="16531">
                            <i class="icon icon_radio"></i>
                            B. proceeding
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="16532" id="16532" disabled="">
                                <label for="16532">
                            <i class="icon icon_radio"></i>
                            C. selling
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="16533" id="16533" disabled="">
                                <label for="16533">
                            <i class="icon icon_radio"></i>
                            D. visiting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>178. What is indicated about Mr. Awad?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="16534" id="16534" disabled="">
                                <label for="16534">
                            <i class="icon icon_radio"></i>
                            A. He revised the employee handbook
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="16535" id="16535" disabled="">
                                <label for="16535">
                            <i class="icon icon_radio"></i>
                            B. He has met Ms. Leighton
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="16536" id="16536" disabled="">
                                <label for="16536">
                            <i class="icon icon_radio"></i>
                            C. He takes public transportation to work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="16537" id="16537" disabled="">
                                <label for="16537">
                            <i class="icon icon_radio"></i>
                            D. He will be traveling in February
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>179. Where does Mr. Awad most likely work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="178" value="16538" id="16538" disabled="">
                                <label for="16538">
                            <i class="icon icon_radio"></i>
                            A. In London
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="16539" id="16539" disabled="">
                                <label for="16539">
                            <i class="icon icon_radio"></i>
                            B. In Glasgow
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="16540" id="16540" disabled="">
                                <label for="16540">
                            <i class="icon icon_radio"></i>
                            C. In Dublin
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="16541" id="16541" disabled="">
                                <label for="16541">
                            <i class="icon icon_radio"></i>
                            D. In Belfast
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>180. According to the handbook, what do all Epmedin office locations have in common?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="16542" id="16542" disabled="">
                                <label for="16542">
                            <i class="icon icon_radio"></i>
                            A. Parking garages are not available
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="16543" id="16543" disabled="">
                                <label for="16543">
                            <i class="icon icon_radio"></i>
                            B. Parking permits are not required
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="16544" id="16544" disabled="">
                                <label for="16544">
                            <i class="icon icon_radio"></i>
                            C. Employees need to comply with specific dress codes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="16545" id="16545" disabled="">
                                <label for="16545">
                            <i class="icon icon_radio"></i>
                            D. Factory workers follow very strict safety regulations
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>