<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 181 - 185 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-42-42.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-42-53.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>181. In the email, what does Ms. Watson imply about the meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="16546" id="16546" disabled="">
                                <label for="16546">
                            <i class="icon icon_radio"></i>
                            A. Some clients will be attending it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="16547" id="16547" disabled="">
                                <label for="16547">
                            <i class="icon icon_radio"></i>
                            B. A recently hired supervisor will be leading it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="16548" id="16548" disabled="">
                                <label for="16548">
                            <i class="icon icon_radio"></i>
                            C. It will take more time than originally planned
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="16549" id="16549" disabled="">
                                <label for="16549">
                            <i class="icon icon_radio"></i>
                            D. Its location has been changed
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>182. What item on the agenda is new?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="16550" id="16550" disabled="">
                                <label for="16550">
                            <i class="icon icon_radio"></i>
                            A. Community events
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="16551" id="16551" disabled="">
                                <label for="16551">
                            <i class="icon icon_radio"></i>
                            B. Online advertising
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="16552" id="16552" disabled="">
                                <label for="16552">
                            <i class="icon icon_radio"></i>
                            C. Web site updates
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="16553" id="16553" disabled="">
                                <label for="16553">
                            <i class="icon icon_radio"></i>
                            D. Print publications
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. What does Ms. Watson ask people to bring to the meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="16554" id="16554" disabled="">
                                <label for="16554">
                            <i class="icon icon_radio"></i>
                            A. Updated financial documents
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="16555" id="16555" disabled="">
                                <label for="16555">
                            <i class="icon icon_radio"></i>
                            B. A list of new hires
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="16556" id="16556" disabled="">
                                <label for="16556">
                            <i class="icon icon_radio"></i>
                            C. A copy of the agenda
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="16557" id="16557" disabled="">
                                <label for="16557">
                            <i class="icon icon_radio"></i>
                            D. Revised vendor contracts
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>184. What does the agenda indicate about Mr. Ranier?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="16558" id="16558" disabled="">
                                <label for="16558">
                            <i class="icon icon_radio"></i>
                            A. He teaches a course in online advertising
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="16559" id="16559" disabled="">
                                <label for="16559">
                            <i class="icon icon_radio"></i>
                            B. He will be joining the meeting by telephone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="16560" id="16560" disabled="">
                                <label for="16560">
                            <i class="icon icon_radio"></i>
                            C. He used to work with Ms. Watson
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="16561" id="16561" disabled="">
                                <label for="16561">
                            <i class="icon icon_radio"></i>
                            D. He represents a local organization
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. What does Contiera Corporation most likely sell?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="16562" id="16562" disabled="">
                                <label for="16562">
                            <i class="icon icon_radio"></i>
                            A. Books and magazines
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="16563" id="16563" disabled="">
                                <label for="16563">
                            <i class="icon icon_radio"></i>
                            B. Gardening supplies
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="16564" id="16564" disabled="">
                                <label for="16564">
                            <i class="icon icon_radio"></i>
                            C. Athletic clothing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="16565" id="16565" disabled="">
                                <label for="16565">
                            <i class="icon icon_radio"></i>
                            D. Computer software
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>