<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 186 - 190 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-44-08.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-44-18.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-44-26.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>186. What is indicated about the Penglais Film Festival?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="16566" id="16566" disabled="">
                                <label for="16566">
                            <i class="icon icon_radio"></i>
                            A. It is new to Wales
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="16567" id="16567" disabled="">
                                <label for="16567">
                            <i class="icon icon_radio"></i>
                            B. Many past participants have become famous
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="16568" id="16568" disabled="">
                                <label for="16568">
                            <i class="icon icon_radio"></i>
                            C. It focuses on classic films from the past
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="16569" id="16569" disabled="">
                                <label for="16569">
                            <i class="icon icon_radio"></i>
                            D. Tickets to feature films have sold out
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. Why is Mr. Driscoll pleased?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="16570" id="16570" disabled="">
                                <label for="16570">
                            <i class="icon icon_radio"></i>
                            A. He will receive an award
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="16571" id="16571" disabled="">
                                <label for="16571">
                            <i class="icon icon_radio"></i>
                            B. His film will be shown at the festival
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="16572" id="16572" disabled="">
                                <label for="16572">
                            <i class="icon icon_radio"></i>
                            C. Mr. Griffith will attend an event
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="16573" id="16573" disabled="">
                                <label for="16573">
                            <i class="icon icon_radio"></i>
                            D. Mr. Griffith has invited him to speak
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>188. What is suggested about tickets for the awards ceremony?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="16574" id="16574" disabled="">
                                <label for="16574">
                            <i class="icon icon_radio"></i>
                            A. They cannot be purchased
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="16575" id="16575" disabled="">
                                <label for="16575">
                            <i class="icon icon_radio"></i>
                            B. They cannot be accessed online
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="16576" id="16576" disabled="">
                                <label for="16576">
                            <i class="icon icon_radio"></i>
                            C. They will become available on May 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="16577" id="16577" disabled="">
                                <label for="16577">
                            <i class="icon icon_radio"></i>
                            D. They are included with the purchase of individual film tickets
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. What most likely is Shirley Finch?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="16578" id="16578" disabled="">
                                <label for="16578">
                            <i class="icon icon_radio"></i>
                            A. An event host
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="16579" id="16579" disabled="">
                                <label for="16579">
                            <i class="icon icon_radio"></i>
                            B. An entertainer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="16580" id="16580" disabled="">
                                <label for="16580">
                            <i class="icon icon_radio"></i>
                            C. An award presenter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="16581" id="16581" disabled="">
                                <label for="16581">
                            <i class="icon icon_radio"></i>
                            D. A festival director
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. What award will Mr. Griffith most likely receive?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="16582" id="16582" disabled="">
                                <label for="16582">
                            <i class="icon icon_radio"></i>
                            A. Excellence in Acting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="16583" id="16583" disabled="">
                                <label for="16583">
                            <i class="icon icon_radio"></i>
                            B. Best Cinematography
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="16584" id="16584" disabled="">
                                <label for="16584">
                            <i class="icon icon_radio"></i>
                            C. Lifetime Achievement
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="16585" id="16585" disabled="">
                                <label for="16585">
                            <i class="icon icon_radio"></i>
                            D. Achievement in Direction
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>