<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 191 - 195 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-44-38.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-44-48.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-44-58.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>191. Why was Ms. Kapoor turned down for a position at Neela Advertising?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="16586" id="16586" disabled="">
                                <label for="16586">
                            <i class="icon icon_radio"></i>
                            A. She failed to provide adequate referrals
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="16587" id="16587" disabled="">
                                <label for="16587">
                            <i class="icon icon_radio"></i>
                            B. She did not meet the criteria for the job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="16588" id="16588" disabled="">
                                <label for="16588">
                            <i class="icon icon_radio"></i>
                            C. She missed the application deadline
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="16589" id="16589" disabled="">
                                <label for="16589">
                            <i class="icon icon_radio"></i>
                            D. She was not available for a follow-up interview
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>192. What is suggested about Ms. Kapoor?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="16590" id="16590" disabled="">
                                <label for="16590">
                            <i class="icon icon_radio"></i>
                            A. She left her job at Delhi Works, Inc., several years ago
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="16591" id="16591" disabled="">
                                <label for="16591">
                            <i class="icon icon_radio"></i>
                            B. She used to work with Mr. Nirmal at Delhi Work, Inc.
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="16592" id="16592" disabled="">
                                <label for="16592">
                            <i class="icon icon_radio"></i>
                            C. She will produce television commercials for Mumbai Canning Ltd
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="16593" id="16593" disabled="">
                                <label for="16593">
                            <i class="icon icon_radio"></i>
                            D. She has recently switched careers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>193. Who most likely is Ms. Sethi?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="16594" id="16594" disabled="">
                                <label for="16594">
                            <i class="icon icon_radio"></i>
                            A. A cafeteria manager
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="16595" id="16595" disabled="">
                                <label for="16595">
                            <i class="icon icon_radio"></i>
                            B. A payroll accountant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="16596" id="16596" disabled="">
                                <label for="16596">
                            <i class="icon icon_radio"></i>
                            C. A marketing team member
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="16597" id="16597" disabled="">
                                <label for="16597">
                            <i class="icon icon_radio"></i>
                            D. A budget director
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. According to the letter, where will Ms. Mehta be at noon on June 1?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="16598" id="16598" disabled="">
                                <label for="16598">
                            <i class="icon icon_radio"></i>
                            A. In a design meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="16599" id="16599" disabled="">
                                <label for="16599">
                            <i class="icon icon_radio"></i>
                            B. On a business trip
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="16600" id="16600" disabled="">
                                <label for="16600">
                            <i class="icon icon_radio"></i>
                            C. At a job interview
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="16601" id="16601" disabled="">
                                <label for="16601">
                            <i class="icon icon_radio"></i>
                            D. At a dining facility
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. How was Ms. Kapoor offered her new job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="16602" id="16602" disabled="">
                                <label for="16602">
                            <i class="icon icon_radio"></i>
                            A. In person
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="16603" id="16603" disabled="">
                                <label for="16603">
                            <i class="icon icon_radio"></i>
                            B. In a letter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="16604" id="16604" disabled="">
                                <label for="16604">
                            <i class="icon icon_radio"></i>
                            C. By email
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="16605" id="16605" disabled="">
                                <label for="16605">
                            <i class="icon icon_radio"></i>
                            D. Over the telephone
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>