<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 196 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-45-09.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-45-18.png" style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-45-27.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>196. According to the first email, how have some employees coped with a problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="16606" id="16606" disabled="">
                                <label for="16606">
                            <i class="icon icon_radio"></i>
                            A. By reducing operational costs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="16607" id="16607" disabled="">
                                <label for="16607">
                            <i class="icon icon_radio"></i>
                            B. By working outside their regular hours
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="16608" id="16608" disabled="">
                                <label for="16608">
                            <i class="icon icon_radio"></i>
                            C. By hiring temporary staff
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="16609" id="16609" disabled="">
                                <label for="16609">
                            <i class="icon icon_radio"></i>
                            D. By outsourcing a maintenance service
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>197. Which of Mr. Jackson's suggestions did Ms. Sohn implement?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="16610" id="16610" disabled="">
                                <label for="16610">
                            <i class="icon icon_radio"></i>
                            A. Allowing employees two fifteen-minute printing periods per day
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="16611" id="16611" disabled="">
                                <label for="16611">
                            <i class="icon icon_radio"></i>
                            B. Allotting a one-hour period at midday for emergency printing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="16612" id="16612" disabled="">
                                <label for="16612">
                            <i class="icon icon_radio"></i>
                            C. Posting a sign up sheet next to the printers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="16613" id="16613" disabled="">
                                <label for="16613">
                            <i class="icon icon_radio"></i>
                            D. Discontinuing the use of color printers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>198. According to the memo, what is the problem with the color printers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="16614" id="16614" disabled="">
                                <label for="16614">
                            <i class="icon icon_radio"></i>
                            A. They have not been ordered
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="16615" id="16615" disabled="">
                                <label for="16615">
                            <i class="icon icon_radio"></i>
                            B. They regularly break down
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="16616" id="16616" disabled="">
                                <label for="16616">
                            <i class="icon icon_radio"></i>
                            C. They fail to scan documents
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="16617" id="16617" disabled="">
                                <label for="16617">
                            <i class="icon icon_radio"></i>
                            D. They are being overused
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>199. What is the true about the new printers purchased by Reeder and Kelter, Inc?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="16618" id="16618" disabled="">
                                <label for="16618">
                            <i class="icon icon_radio"></i>
                            A. They were delivered on November 24
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="16619" id="16619" disabled="">
                                <label for="16619">
                            <i class="icon icon_radio"></i>
                            B. They include a three year maintenance plan
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="16620" id="16620" disabled="">
                                <label for="16620">
                            <i class="icon icon_radio"></i>
                            C. They will be serviced on January 18
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="16621" id="16621" disabled="">
                                <label for="16621">
                            <i class="icon icon_radio"></i>
                            D. They came with free remote printing during the first month
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. What does Truzplan offer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="16622" id="16622" disabled="">
                                <label for="16622">
                            <i class="icon icon_radio"></i>
                            A. Delivery of printed documents
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="16623" id="16623" disabled="">
                                <label for="16623">
                            <i class="icon icon_radio"></i>
                            B. Equipment insurance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="16624" id="16624" disabled="">
                                <label for="16624">
                            <i class="icon icon_radio"></i>
                            C. Suggestions for accessories
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="16625" id="16625" disabled="">
                                <label for="16625">
                            <i class="icon icon_radio"></i>
                            D. Training in the use of equipment
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>