<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 149 - 150 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-33-05.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=5" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>149. What topic will be discussed at the event?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="16418" id="16418" disabled="">
                                <label for="16418">
                            <i class="icon icon_radio"></i>
                            A. Social media
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="16419" id="16419" disabled="">
                                <label for="16419">
                            <i class="icon icon_radio"></i>
                            B. Successful investments
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="16420" id="16420" disabled="">
                                <label for="16420">
                            <i class="icon icon_radio"></i>
                            C. Setting up a small business
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="16421" id="16421" disabled="">
                                <label for="16421">
                            <i class="icon icon_radio"></i>
                            D. Coping with staff turnover
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>150. What is indicated about the event?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="16422" id="16422" disabled="">
                                <label for="16422">
                            <i class="icon icon_radio"></i>
                            A. It is held once a month
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="16423" id="16423" disabled="">
                                <label for="16423">
                            <i class="icon icon_radio"></i>
                            B. It takes place on a weekend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="16424" id="16424" disabled="">
                                <label for="16424">
                            <i class="icon icon_radio"></i>
                            C. Registration is not necessary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="16425" id="16425" disabled="">
                                <label for="16425">
                            <i class="icon icon_radio"></i>
                            D. Space is limited
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>