<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 151 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-33-19.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>151. For whom is the notice most likely intended?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="16426" id="16426" disabled="">
                                <label for="16426">
                            <i class="icon icon_radio"></i>
                            A. Maintenance workers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="16427" id="16427" disabled="">
                                <label for="16427">
                            <i class="icon icon_radio"></i>
                            B. Security guards
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="16428" id="16428" disabled="">
                                <label for="16428">
                            <i class="icon icon_radio"></i>
                            C. Safety inspectors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="16429" id="16429" disabled="">
                                <label for="16429">
                            <i class="icon icon_radio"></i>
                            D. Factory visitors
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. According to the notice, why should someone contact Ms. Bradley?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="16430" id="16430" disabled="">
                                <label for="16430">
                            <i class="icon icon_radio"></i>
                            A. To praise an employee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="16431" id="16431" disabled="">
                                <label for="16431">
                            <i class="icon icon_radio"></i>
                            B. To inquire about a policy
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="16432" id="16432" disabled="">
                                <label for="16432">
                            <i class="icon icon_radio"></i>
                            C. To submit photographs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="16433" id="16433" disabled="">
                                <label for="16433">
                            <i class="icon icon_radio"></i>
                            D. To obtain a schedule
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>