<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 154 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-33-34.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>153. Why did Mr. Rabin send a message to Ms. Greene?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="16434" id="16434" disabled="">
                                <label for="16434">
                            <i class="icon icon_radio"></i>
                            A. To ask if she needs more storage space
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="16435" id="16435" disabled="">
                                <label for="16435">
                            <i class="icon icon_radio"></i>
                            B. To find out if some files belong to her
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="16436" id="16436" disabled="">
                                <label for="16436">
                            <i class="icon icon_radio"></i>
                            C. To get her help moving some boxes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="16437" id="16437" disabled="">
                                <label for="16437">
                            <i class="icon icon_radio"></i>
                            D. To ask where some file should be put
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. At 11:20 A.M, what does Mr. Rabin mean when he writes, "It's up to you"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="16438" id="16438" disabled="">
                                <label for="16438">
                            <i class="icon icon_radio"></i>
                            A. He will sort some documents when Ms Greene wants him to
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="16439" id="16439" disabled="">
                                <label for="16439">
                            <i class="icon icon_radio"></i>
                            B. He can arrange for a time to unlock the storage room
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="16440" id="16440" disabled="">
                                <label for="16440">
                            <i class="icon icon_radio"></i>
                            C. Ms. Greene can decide when she prefers to look at some files
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="16441" id="16441" disabled="">
                                <label for="16441">
                            <i class="icon icon_radio"></i>
                            D. Ms. Greene can choose the type of boxes she wants to use
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>