<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 155 - 157 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2014-35-19.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>155. What aspect of the Agosti Nairobi store does the article highlight?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="16442" id="16442" disabled="">
                                <label for="16442">
                            <i class="icon icon_radio"></i>
                            A. It spacious interior
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="16443" id="16443" disabled="">
                                <label for="16443">
                            <i class="icon icon_radio"></i>
                            B. Its knowledgeable sales team
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="16444" id="16444" disabled="">
                                <label for="16444">
                            <i class="icon icon_radio"></i>
                            C. Its wide selection of brands
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="16445" id="16445" disabled="">
                                <label for="16445">
                            <i class="icon icon_radio"></i>
                            D. Its interactive displays
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>156. What is true about Agosti shoes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="16446" id="16446" disabled="">
                                <label for="16446">
                            <i class="icon icon_radio"></i>
                            A. They are available in new designs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="16447" id="16447" disabled="">
                                <label for="16447">
                            <i class="icon icon_radio"></i>
                            B. They are very expensive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="16448" id="16448" disabled="">
                                <label for="16448">
                            <i class="icon icon_radio"></i>
                            C. They are made in hard-to-find sizes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="16449" id="16449" disabled="">
                                <label for="16449">
                            <i class="icon icon_radio"></i>
                            D. They are mostly handmade
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. In which of the positions marked [1], [2] , [3] , and [4] does the following sentence best belong? "In fact, the company is currently scouting location for a new design facility in the region"</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="16450" id="16450" disabled="">
                                <label for="16450">
                            <i class="icon icon_radio"></i>
                            A. [1]
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="16451" id="16451" disabled="">
                                <label for="16451">
                            <i class="icon icon_radio"></i>
                            B. [2]
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="16452" id="16452" disabled="">
                                <label for="16452">
                            <i class="icon icon_radio"></i>
                            C. [3]
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="16453" id="16453" disabled="">
                                <label for="16453">
                            <i class="icon icon_radio"></i>
                            D. [4]
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>