<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 158 - 160 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-33-47.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>158. What is the purpose of the form?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="16454" id="16454" disabled="">
                                <label for="16454">
                            <i class="icon icon_radio"></i>
                            A. To apply for a job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="16455" id="16455" disabled="">
                                <label for="16455">
                            <i class="icon icon_radio"></i>
                            B. To request a lease
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="16456" id="16456" disabled="">
                                <label for="16456">
                            <i class="icon icon_radio"></i>
                            C. To report a problem
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="16457" id="16457" disabled="">
                                <label for="16457">
                            <i class="icon icon_radio"></i>
                            D. To change an address
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. Who will first contact Ms. Randall about her April 2 request?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="16458" id="16458" disabled="">
                                <label for="16458">
                            <i class="icon icon_radio"></i>
                            A. Mr. Kim
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="16459" id="16459" disabled="">
                                <label for="16459">
                            <i class="icon icon_radio"></i>
                            B. Mr. Lerner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="16460" id="16460" disabled="">
                                <label for="16460">
                            <i class="icon icon_radio"></i>
                            C. Mr. Roper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="16461" id="16461" disabled="">
                                <label for="16461">
                            <i class="icon icon_radio"></i>
                            D. Mr. Blanch
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>160. Why does Ms. Randall mention some office equipment?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="16462" id="16462" disabled="">
                                <label for="16462">
                            <i class="icon icon_radio"></i>
                            A. It is for sale
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="16463" id="16463" disabled="">
                                <label for="16463">
                            <i class="icon icon_radio"></i>
                            B. It needs to be moved
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="16464" id="16464" disabled="">
                                <label for="16464">
                            <i class="icon icon_radio"></i>
                            C. It has been damaged
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="16465" id="16465" disabled="">
                                <label for="16465">
                            <i class="icon icon_radio"></i>
                            D. It needs to be replaced
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>