<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 161 - 163 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-40-44.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>161. What is implied about Mr. Deems?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="16466" id="16466" disabled="">
                                <label for="16466">
                            <i class="icon icon_radio"></i>
                            A. He oversees multiple buidlings
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="16467" id="16467" disabled="">
                                <label for="16467">
                            <i class="icon icon_radio"></i>
                            B. He makes frequent trips abroad
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="16468" id="16468" disabled="">
                                <label for="16468">
                            <i class="icon icon_radio"></i>
                            C. He is a successful inventor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="16469" id="16469" disabled="">
                                <label for="16469">
                            <i class="icon icon_radio"></i>
                            D. He often misplaces his identification badge
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. Why does Mr. Deems prefer Deluxident's new product over previous products?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="16470" id="16470" disabled="">
                                <label for="16470">
                            <i class="icon icon_radio"></i>
                            A. It facilitates campus entry for visitors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="16471" id="16471" disabled="">
                                <label for="16471">
                            <i class="icon icon_radio"></i>
                            B. It lowers expenses in the long term
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="16472" id="16472" disabled="">
                                <label for="16472">
                            <i class="icon icon_radio"></i>
                            C. It requires photo identification
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="16473" id="16473" disabled="">
                                <label for="16473">
                            <i class="icon icon_radio"></i>
                            D. It allows employees to quickly locate each other
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>163. What is true about Deluxident?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="16474" id="16474" disabled="">
                                <label for="16474">
                            <i class="icon icon_radio"></i>
                            A. It ships its products internationally
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="16475" id="16475" disabled="">
                                <label for="16475">
                            <i class="icon icon_radio"></i>
                            B. It is based in Canada
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="16476" id="16476" disabled="">
                                <label for="16476">
                            <i class="icon icon_radio"></i>
                            C. It provides on-site consulting services
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="16477" id="16477" disabled="">
                                <label for="16477">
                            <i class="icon icon_radio"></i>
                            D. It plans to merge with Babson Vehicles Ltd
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>