<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 164 - 167 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-40-59.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>164. What is indicated about Lewis and Clark Country?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="16478" id="16478" disabled="">
                                <label for="16478">
                            <i class="icon icon_radio"></i>
                            A. It is well-known for its restaurants
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="16479" id="16479" disabled="">
                                <label for="16479">
                            <i class="icon icon_radio"></i>
                            B. It enforces strict building regulations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="16480" id="16480" disabled="">
                                <label for="16480">
                            <i class="icon icon_radio"></i>
                            C. It provides property information over the Internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="16481" id="16481" disabled="">
                                <label for="16481">
                            <i class="icon icon_radio"></i>
                            D. It is seeking feedback on a development project
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>165. What is suggested about the general store building?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="16482" id="16482" disabled="">
                                <label for="16482">
                            <i class="icon icon_radio"></i>
                            A. It is currently open to the public
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="16483" id="16483" disabled="">
                                <label for="16483">
                            <i class="icon icon_radio"></i>
                            B. It has changed ownership many times
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="16484" id="16484" disabled="">
                                <label for="16484">
                            <i class="icon icon_radio"></i>
                            C. It is undergoing extensive renovations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="16485" id="16485" disabled="">
                                <label for="16485">
                            <i class="icon icon_radio"></i>
                            D. It has been vacant for several years
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. Why most likely is Ms. Cleary interested in Mr. Donnell's property?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="16486" id="16486" disabled="">
                                <label for="16486">
                            <i class="icon icon_radio"></i>
                            A. It is popular with local residents
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="16487" id="16487" disabled="">
                                <label for="16487">
                            <i class="icon icon_radio"></i>
                            B. It is located in the city center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="16488" id="16488" disabled="">
                                <label for="16488">
                            <i class="icon icon_radio"></i>
                            C. It is being sold for a low price
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="16489" id="16489" disabled="">
                                <label for="16489">
                            <i class="icon icon_radio"></i>
                            D. It features a spacious floor plan
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. In which of the positions marked [1], [2] , [3], and [4] does the following sentence best belong? "I think the exposed brick siding, for example, is essential to the building's charm"</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="16490" id="16490" disabled="">
                                <label for="16490">
                            <i class="icon icon_radio"></i>
                            A. [1]
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="16491" id="16491" disabled="">
                                <label for="16491">
                            <i class="icon icon_radio"></i>
                            B. [2]
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="16492" id="16492" disabled="">
                                <label for="16492">
                            <i class="icon icon_radio"></i>
                            C. [3]
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="16493" id="16493" disabled="">
                                <label for="16493">
                            <i class="icon icon_radio"></i>
                            D. [4]
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>