<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 168 - 171 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/2/Screenshot%20from%202020-01-30%2009-41-45.png" style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>168. What is the purpose of the information?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="16494" id="16494" disabled="">
                                <label for="16494">
                            <i class="icon icon_radio"></i>
                            A. To describe a job opening
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="16495" id="16495" disabled="">
                                <label for="16495">
                            <i class="icon icon_radio"></i>
                            B. To explain a company policy
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="16496" id="16496" disabled="">
                                <label for="16496">
                            <i class="icon icon_radio"></i>
                            C. To provide building information to visitors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="16497" id="16497" disabled="">
                                <label for="16497">
                            <i class="icon icon_radio"></i>
                            D. To help clients navigate a Web site
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. Where is important company news most likely posted?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="16498" id="16498" disabled="">
                                <label for="16498">
                            <i class="icon icon_radio"></i>
                            A. Near the elevator
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="16499" id="16499" disabled="">
                                <label for="16499">
                            <i class="icon icon_radio"></i>
                            B. In the staff lounge
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="16500" id="16500" disabled="">
                                <label for="16500">
                            <i class="icon icon_radio"></i>
                            C. Inside the conference rooms
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="16501" id="16501" disabled="">
                                <label for="16501">
                            <i class="icon icon_radio"></i>
                            D. In the Human Resources Department
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. According to the information, why should employees contact Human Resources?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="16502" id="16502" disabled="">
                                <label for="16502">
                            <i class="icon icon_radio"></i>
                            A. To pick up their office keys
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="16503" id="16503" disabled="">
                                <label for="16503">
                            <i class="icon icon_radio"></i>
                            B. To have their notices approved
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="16504" id="16504" disabled="">
                                <label for="16504">
                            <i class="icon icon_radio"></i>
                            C. To register for company events
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="16505" id="16505" disabled="">
                                <label for="16505">
                            <i class="icon icon_radio"></i>
                            D. To submit photocopy requests
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. Why are bulletin boards checked regularly?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="16506" id="16506" disabled="">
                                <label for="16506">
                            <i class="icon icon_radio"></i>
                            A. To confirm that the cabinets are kept locked
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="16507" id="16507" disabled="">
                                <label for="16507">
                            <i class="icon icon_radio"></i>
                            B. To confirm that personal items have been sold
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="16508" id="16508" disabled="">
                                <label for="16508">
                            <i class="icon icon_radio"></i>
                            C. To ensure that posting are appropriate at each location
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="16509" id="16509" disabled="">
                                <label for="16509">
                            <i class="icon icon_radio"></i>
                            D. To ensure that posting are interesting to all employees
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>