<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Morning, Beth.</p>

                        <p>W: Hi! Gosh, it's a beautiful day, isn't it?</p>

                        <p>M: You can say that again!</p>

                        <p>W: Hey, what do you think; we could have the planning meeting across the street in the park.</p>

                        <p>M: Uh... What?</p>

                        <p>W: Let's have the meeting in the park - I'm serious! I read an article about creativity in business last week and apparently changing the work environment can encourage creative new solutions.</p>

                        <p>M: Wouldn't it be distracting, though?</p>

                        <p>W: I think the sunshine would do us all good.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565940406.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.1039%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:06</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. What is the weather probably like?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="2897" id="2897" disabled="">
                                <label for="2897">
                            <i class="icon icon_radio"></i>
                            A. clear
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2898" id="2898" disabled="">
                                <label for="2898">
                            <i class="icon icon_radio"></i>
                            B. cold
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2899" id="2899" disabled="">
                                <label for="2899">
                            <i class="icon icon_radio"></i>
                            C. stormy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2900" id="2900" disabled="">
                                <label for="2900">
                            <i class="icon icon_radio"></i>
                            D. rainy
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. Where did the woman get her idea?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="2901" id="2901" disabled="">
                                <label for="2901">
                            <i class="icon icon_radio"></i>
                            A. Her boss told her
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2902" id="2902" disabled="">
                                <label for="2902">
                            <i class="icon icon_radio"></i>
                            B. She learned about it in college
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2903" id="2903" disabled="">
                                <label for="2903">
                            <i class="icon icon_radio"></i>
                            C. She thought of it herself
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2904" id="2904" disabled="">
                                <label for="2904">
                            <i class="icon icon_radio"></i>
                            D. She got it from a magazine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. How does the man feel about her idea?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="2905" id="2905" disabled="">
                                <label for="2905">
                            <i class="icon icon_radio"></i>
                            A. He is interested
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2906" id="2906" disabled="">
                                <label for="2906">
                            <i class="icon icon_radio"></i>
                            B. He is skeptical
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2907" id="2907" disabled="">
                                <label for="2907">
                            <i class="icon icon_radio"></i>
                            C. He is upset
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2908" id="2908" disabled="">
                                <label for="2908">
                            <i class="icon icon_radio"></i>
                            D. He is eager
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>