<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 44 - 46 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Where's Daniel? He's over an hour late!</p>

                        <p>W: Oh, sorry, I forgot to tell you. He called in sick.</p>

                        <p>M: Again? This is ridiculous!</p>

                        <p>W: Well, I'm sure he didn't do it on purpose!</p>

                        <p>M: Yes, but it's the third time this month!</p>

                        <p>W: Yes, well, he's trying to do the workload of at least two people; it's not surprising, is it? We're lucky he doesn't quit!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565940732.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 18.4114%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:55</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>44. Why is the man angry?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="43" value="2909" id="2909" disabled="">
                                <label for="2909">
                            <i class="icon icon_radio"></i>
                            A. Daniel is almost an hour late
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2910" id="2910" disabled="">
                                <label for="2910">
                            <i class="icon icon_radio"></i>
                            B. Daniel frequently misses work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2911" id="2911" disabled="">
                                <label for="2911">
                            <i class="icon icon_radio"></i>
                            C. The woman forgot to give him information
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2912" id="2912" disabled="">
                                <label for="2912">
                            <i class="icon icon_radio"></i>
                            D. Daniel quit
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>45. What is the woman's attitude towards Daniel?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="44" value="2913" id="2913" disabled="">
                                <label for="2913">
                            <i class="icon icon_radio"></i>
                            A. She is sympathetic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2914" id="2914" disabled="">
                                <label for="2914">
                            <i class="icon icon_radio"></i>
                            B. She mistrusts him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2915" id="2915" disabled="">
                                <label for="2915">
                            <i class="icon icon_radio"></i>
                            C. She thinks he has made a mistake
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2916" id="2916" disabled="">
                                <label for="2916">
                            <i class="icon icon_radio"></i>
                            D. She doesn't take him seriously
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>46. Why does the woman think Daniel gets sick?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="45" value="2917" id="2917" disabled="">
                                <label for="2917">
                            <i class="icon icon_radio"></i>
                            A. He is working too hard
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2918" id="2918" disabled="">
                                <label for="2918">
                            <i class="icon icon_radio"></i>
                            B. She unhappy at work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2919" id="2919" disabled="">
                                <label for="2919">
                            <i class="icon icon_radio"></i>
                            C. He is not physically strong
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2920" id="2920" disabled="">
                                <label for="2920">
                            <i class="icon icon_radio"></i>
                            D. He wants to quit
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>