<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: I'm going for a coffee run. Do you want anything?</p>

                        <p>W: Oh, yes, a cappuccino would be lovely.</p>

                        <p>M: Do you take that with sugar?</p>

                        <p>W: Urn, yes, one. Are you going to Jimmy's Cafe by any chance? I'd love a carrot cake too, if you are.</p>

                        <p>M: Oh, I thought I'd go to the Starbucks, but I could just as easily go to Jimmy's....</p>

                        <p>W: I know it's a little bit further, but the cakes and breads there are so amazing, and it's nice to support the local businesses, isn't it?</p>

                        <p>M: Yes, yes, all good points. So, you want a carrot cake?</p>

                        <p>W: Yes please.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565941175.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.72361%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:09</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. What does the man offer to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="2921" id="2921" disabled="">
                                <label for="2921">
                            <i class="icon icon_radio"></i>
                            A. take the woman to Jimmy's Cafe
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2922" id="2922" disabled="">
                                <label for="2922">
                            <i class="icon icon_radio"></i>
                            B. pick up something to eat
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2923" id="2923" disabled="">
                                <label for="2923">
                            <i class="icon icon_radio"></i>
                            C. bring the woman coffee
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2924" id="2924" disabled="">
                                <label for="2924">
                            <i class="icon icon_radio"></i>
                            D. treat the woman to coffee and cake
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. If it's from Starbucks, what does the woman want?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="2925" id="2925" disabled="">
                                <label for="2925">
                            <i class="icon icon_radio"></i>
                            A. nothing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2926" id="2926" disabled="">
                                <label for="2926">
                            <i class="icon icon_radio"></i>
                            B. a coffee
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2927" id="2927" disabled="">
                                <label for="2927">
                            <i class="icon icon_radio"></i>
                            C. a coffee and whatever cake they have
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2928" id="2928" disabled="">
                                <label for="2928">
                            <i class="icon icon_radio"></i>
                            D. a coffee and carrot cake
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. How does the man respond to the woman's suggestion?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="2929" id="2929" disabled="">
                                <label for="2929">
                            <i class="icon icon_radio"></i>
                            A. He disagrees with her
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2930" id="2930" disabled="">
                                <label for="2930">
                            <i class="icon icon_radio"></i>
                            B. He politely declines
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2931" id="2931" disabled="">
                                <label for="2931">
                            <i class="icon icon_radio"></i>
                            C. He reluctantly agrees
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2932" id="2932" disabled="">
                                <label for="2932">
                            <i class="icon icon_radio"></i>
                            D. He is easily convinced
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>