<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 50 - 52 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: I think I'm going to have to hire an accountant to do our taxes this year.</p>

                        <p>M: They have books on that, you know.</p>

                        <p>W: Yes, I know. But it's just such a nightmare to figure out with both of us self-employed. It'll take me weeks and there's just so much I'd rather do with my time!</p>

                        <p>M: But accountants aren't cheap...</p>

                        <p>W: Well, do you want to get a book and learn how to do it?&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565941580.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.9345%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:54</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>50. What is the problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="49" value="2933" id="2933" disabled="">
                                <label for="2933">
                            <i class="icon icon_radio"></i>
                            A. They don't have jobs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2934" id="2934" disabled="">
                                <label for="2934">
                            <i class="icon icon_radio"></i>
                            B. They can't afford to pay the taxes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2935" id="2935" disabled="">
                                <label for="2935">
                            <i class="icon icon_radio"></i>
                            C. The man is too busy to do the taxes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2936" id="2936" disabled="">
                                <label for="2936">
                            <i class="icon icon_radio"></i>
                            D. she doesn't want to do the taxes
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>51. What can be inferred about the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="50" value="2937" id="2937" disabled="">
                                <label for="2937">
                            <i class="icon icon_radio"></i>
                            A. She is an accountant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2938" id="2938" disabled="">
                                <label for="2938">
                            <i class="icon icon_radio"></i>
                            B. She gets an accountant to do the taxes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2939" id="2939" disabled="">
                                <label for="2939">
                            <i class="icon icon_radio"></i>
                            C. She usually does the taxes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2940" id="2940" disabled="">
                                <label for="2940">
                            <i class="icon icon_radio"></i>
                            D. It will take her weeks to find an accountant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>52. Who does the man think ought to do the taxes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="51" value="2941" id="2941" disabled="">
                                <label for="2941">
                            <i class="icon icon_radio"></i>
                            A. an accountant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2942" id="2942" disabled="">
                                <label for="2942">
                            <i class="icon icon_radio"></i>
                            B. the woman
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2943" id="2943" disabled="">
                                <label for="2943">
                            <i class="icon icon_radio"></i>
                            C. he himself
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2944" id="2944" disabled="">
                                <label for="2944">
                            <i class="icon icon_radio"></i>
                            D. he and the woman together
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>