<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: It seems really odd to me that they're holding interviews but haven't told any of us anything about it. I wonder: what's up?</p>

                        <p>M: Yeah, I know what you mean. To be honest, I feel like I need to start looking around for another job. I really doubt the company is looking to expand right now.</p>

                        <p>W: Oh, so you think there'll be some layoffs coming up?</p>

                        <p>M: I'd be willing to bet on it.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565941848.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.2295%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:55</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. How do they feel about the employers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="2945" id="2945" disabled="">
                                <label for="2945">
                            <i class="icon icon_radio"></i>
                            A. They dislike them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2946" id="2946" disabled="">
                                <label for="2946">
                            <i class="icon icon_radio"></i>
                            B. They do not trust them
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2947" id="2947" disabled="">
                                <label for="2947">
                            <i class="icon icon_radio"></i>
                            C. They have confidence in them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2948" id="2948" disabled="">
                                <label for="2948">
                            <i class="icon icon_radio"></i>
                            D. They are friendly with them
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. What does the man think happen?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="2949" id="2949" disabled="">
                                <label for="2949">
                            <i class="icon icon_radio"></i>
                            A. They could lose their jobs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2950" id="2950" disabled="">
                                <label for="2950">
                            <i class="icon icon_radio"></i>
                            B. The company will become bigger
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2951" id="2951" disabled="">
                                <label for="2951">
                            <i class="icon icon_radio"></i>
                            C. They might not have to work as hard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2952" id="2952" disabled="">
                                <label for="2952">
                            <i class="icon icon_radio"></i>
                            D. Nothing will change
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. Is the man sure there will be layoffs?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="2953" id="2953" disabled="">
                                <label for="2953">
                            <i class="icon icon_radio"></i>
                            A. He is not at all sure
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2954" id="2954" disabled="">
                                <label for="2954">
                            <i class="icon icon_radio"></i>
                            B. He thinks that only unskilled workers will be fired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2955" id="2955" disabled="">
                                <label for="2955">
                            <i class="icon icon_radio"></i>
                            C. He thinks their manager will be fired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2956" id="2956" disabled="">
                                <label for="2956">
                            <i class="icon icon_radio"></i>
                            D. He is absolutely sure
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>