<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Debby, whose name did you draw for the secret Santa gift exchange? I drew Ms. Clarke's secretary, LeeAnn.</p>

                        <p>W: But, it's (emphasis) supposed to be secret! We're not allowed to tell! That spoils the whole thing!</p>

                        <p>M: Yes, well, you're not going to tell LeeAnn, are you? The problem is I don't know her at all. I have no idea what to get her. I thought you could help. You two are friends, aren't you?</p>

                        <p>W: I do see her socially occasionally, but I don't know her that well. She's good friends with Lisa, I believe.</p>

                        <p>M: But whose name did you draw? Mine?</p>

                        <p>W: I am (emphasis) not telling!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565942252.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.72814%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:10</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. How will they be giving gifts?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2957" id="2957" disabled="">
                                <label for="2957">
                            <i class="icon icon_radio"></i>
                            A. anonymously
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2958" id="2958" disabled="">
                                <label for="2958">
                            <i class="icon icon_radio"></i>
                            B. illegally
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2959" id="2959" disabled="">
                                <label for="2959">
                            <i class="icon icon_radio"></i>
                            C. selectively
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2960" id="2960" disabled="">
                                <label for="2960">
                            <i class="icon icon_radio"></i>
                            D. voluntarily
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. How well does the woman know LeeAnn?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2961" id="2961" disabled="">
                                <label for="2961">
                            <i class="icon icon_radio"></i>
                            A. They have not met
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2962" id="2962" disabled="">
                                <label for="2962">
                            <i class="icon icon_radio"></i>
                            B. They are acquaintances
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2963" id="2963" disabled="">
                                <label for="2963">
                            <i class="icon icon_radio"></i>
                            C. They are friends
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2964" id="2964" disabled="">
                                <label for="2964">
                            <i class="icon icon_radio"></i>
                            D. They are close friends
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. What can be inferred about the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2965" id="2965" disabled="">
                                <label for="2965">
                            <i class="icon icon_radio"></i>
                            A. He is rather nosey
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2966" id="2966" disabled="">
                                <label for="2966">
                            <i class="icon icon_radio"></i>
                            B. He is not so honest
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2967" id="2967" disabled="">
                                <label for="2967">
                            <i class="icon icon_radio"></i>
                            C. He is lacking confidence
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2968" id="2968" disabled="">
                                <label for="2968">
                            <i class="icon icon_radio"></i>
                            D. He prefers to follow rules
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>