<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Hello, Christopher? This is Gina.</p>

                        <p>M: Hi Gina. How are you?</p>

                        <p>W: I'm fine, but my son is sick - that's why I'm calling. I've kept him home from school and my husband has a deadline this Friday and couldn't stay home with him, so I'm not sure what to do. Would you mind if I don't come in today?
                            Is that really inconvenient? I could try to find a sitter, but I'm at a bit of a loss.</p>

                        <p>M: Don't worry, we've got everything under control here. You can stay home with your son. This stuff happens to all of us. It's fine.</p>

                        <p>W: Thanks so much! Hopefully he'll be well enough to go back to school tomorrow.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565942484.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.6029%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:12</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. What is implied about Gina's husband?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2969" id="2969" disabled="">
                                <label for="2969">
                            <i class="icon icon_radio"></i>
                            A. He works in a faraway city
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2970" id="2970" disabled="">
                                <label for="2970">
                            <i class="icon icon_radio"></i>
                            B. He does not like his job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2971" id="2971" disabled="">
                                <label for="2971">
                            <i class="icon icon_radio"></i>
                            C. He is too busy to stay at home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2972" id="2972" disabled="">
                                <label for="2972">
                            <i class="icon icon_radio"></i>
                            D. He does not think their son is sick
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. Why doesn't the woman call sitter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2973" id="2973" disabled="">
                                <label for="2973">
                            <i class="icon icon_radio"></i>
                            A. The sitter she knows cannot make it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2974" id="2974" disabled="">
                                <label for="2974">
                            <i class="icon icon_radio"></i>
                            B. She can't afford one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2975" id="2975" disabled="">
                                <label for="2975">
                            <i class="icon icon_radio"></i>
                            C. She doesn't know who to call
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2976" id="2976" disabled="">
                                <label for="2976">
                            <i class="icon icon_radio"></i>
                            D. The sitter got lost
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What will the woman finally do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2977" id="2977" disabled="">
                                <label for="2977">
                            <i class="icon icon_radio"></i>
                            A. She will find a sitter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2978" id="2978" disabled="">
                                <label for="2978">
                            <i class="icon icon_radio"></i>
                            B. She will stay at home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2979" id="2979" disabled="">
                                <label for="2979">
                            <i class="icon icon_radio"></i>
                            C. She will go to work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2980" id="2980" disabled="">
                                <label for="2980">
                            <i class="icon icon_radio"></i>
                            D. She will send her sick son to school
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>