<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: I have to get to the office by 8 a.m. tomorrow, so we'll have to leave at 7.30.</p>

                        <p>W: Not again! I'm at work a whole hour early each time this happens; it's a whole hour I could be sleeping. I'd take a taxi, but it's too expensive. I think maybe I'll take the bus.</p>

                        <p>M: I'm not sure you're going to save time that way. How long is the bus journey?</p>

                        <p>W: About an hour.</p>

                        <p>M: So you'd have to catch the bus by eight. But they only come every 20 minutes or so, don't they? So you'd have to be at the bus stop by seven forty, really. Woman: You're right. That's hardly worth it.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1565942695.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.79728%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:08</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. What does the woman want to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2981" id="2981" disabled="">
                                <label for="2981">
                            <i class="icon icon_radio"></i>
                            A. Stay home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2982" id="2982" disabled="">
                                <label for="2982">
                            <i class="icon icon_radio"></i>
                            B. Sleep longer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2983" id="2983" disabled="">
                                <label for="2983">
                            <i class="icon icon_radio"></i>
                            C. Take the bus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2984" id="2984" disabled="">
                                <label for="2984">
                            <i class="icon icon_radio"></i>
                            D. Be early to work
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. How could you describe the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2985" id="2985" disabled="">
                                <label for="2985">
                            <i class="icon icon_radio"></i>
                            A. logical
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2986" id="2986" disabled="">
                                <label for="2986">
                            <i class="icon icon_radio"></i>
                            B. opinionated
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2987" id="2987" disabled="">
                                <label for="2987">
                            <i class="icon icon_radio"></i>
                            C. agreeable
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2988" id="2988" disabled="">
                                <label for="2988">
                            <i class="icon icon_radio"></i>
                            D. argumentative
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. How will the woman probably get to work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2989" id="2989" disabled="">
                                <label for="2989">
                            <i class="icon icon_radio"></i>
                            A. She will stay home instead
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2990" id="2990" disabled="">
                                <label for="2990">
                            <i class="icon icon_radio"></i>
                            B. She will go by bus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2991" id="2991" disabled="">
                                <label for="2991">
                            <i class="icon icon_radio"></i>
                            C. She will go with the man
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2992" id="2992" disabled="">
                                <label for="2992">
                            <i class="icon icon_radio"></i>
                            D. She will take a taxi
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>