<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 155 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Anthony's Pier</strong></p>

                <p>The world-famous <em>Anthony's Pier</em> has become synonymous with fine seafood, tasty American dishes and spectacular views of the harbor and the city skyline. Established by Anthony Athanas in 1963, <em>Anthony's Pier</em> is one of
                    four in the family of Athanas restaurants. A trolley service is provided for dinner customers heading off to the FleetBoston Pavilion Concerts.<br>
                    <em>Full bar, private dining room, reservations recommended.</em></p>

                <p><strong>140 Northern Avenue<br>
Boston, MA 02210<br>
Phone: 617-482-6262<br>
Fax: 617-426-2324<br>
http://www.pier4.com</strong></p>

                <p>OPEN: Sunday 12pm-10pm (Dinner All Day); Monday-Thursday 11:30am-10:00pm; Friday and Saturday 11:30am-11:00pm.<br>
                    <em>Dress is Smart Casual</em><br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>153. For what reason would you visit Anthony's Pier?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="5969" id="5969" disabled="">
                                <label for="5969">
                            <i class="icon icon_radio"></i>
                            A. to eat
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="5970" id="5970" disabled="">
                                <label for="5970">
                            <i class="icon icon_radio"></i>
                            B. to fish
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="5971" id="5971" disabled="">
                                <label for="5971">
                            <i class="icon icon_radio"></i>
                            C. for a stroll
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="5972" id="5972" disabled="">
                                <label for="5972">
                            <i class="icon icon_radio"></i>
                            D. to see a concert
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. In which way can you NOT contact the restaurant?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="5973" id="5973" disabled="">
                                <label for="5973">
                            <i class="icon icon_radio"></i>
                            A. telephone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="5974" id="5974" disabled="">
                                <label for="5974">
                            <i class="icon icon_radio"></i>
                            B. letter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="5975" id="5975" disabled="">
                                <label for="5975">
                            <i class="icon icon_radio"></i>
                            C. e-mail
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="5976" id="5976" disabled="">
                                <label for="5976">
                            <i class="icon icon_radio"></i>
                            D. fax
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>155. What is unique about Sundays at Anthony's Pier?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="5977" id="5977" disabled="">
                                <label for="5977">
                            <i class="icon icon_radio"></i>
                            A. It it not open early in the morning
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="5978" id="5978" disabled="">
                                <label for="5978">
                            <i class="icon icon_radio"></i>
                            B. You can eat dinner at any time
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="5979" id="5979" disabled="">
                                <label for="5979">
                            <i class="icon icon_radio"></i>
                            C. It stays open late
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="5980" id="5980" disabled="">
                                <label for="5980">
                            <i class="icon icon_radio"></i>
                            D. There is a dress code
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>