<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 182 - 183 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>FOR RENT</strong></p>

                <p style="text-align:justify">5th floor studio apartment in the Clearwater area. Newly refurbished, wood floors, large windows, excellent views. Utilities included. No smoking, or pets. Two month's rent plus deposit required for the first payment. $500 per month.&nbsp;<em>Call Louisa after 5pm on 224 352 2254</em></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>182. Where would this notice be most likely to be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="6085" id="6085" disabled="">
                                <label for="6085">
                            <i class="icon icon_radio"></i>
                            A. in a leisure magazine
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6086" id="6086" disabled="">
                                <label for="6086">
                            <i class="icon icon_radio"></i>
                            B. in a local newspaper
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6087" id="6087" disabled="">
                                <label for="6087">
                            <i class="icon icon_radio"></i>
                            C. in a telephone book
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6088" id="6088" disabled="">
                                <label for="6088">
                            <i class="icon icon_radio"></i>
                            D. on an office notice board
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. What should the tenant expect to pay for electricity?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="6089" id="6089" disabled="">
                                <label for="6089">
                            <i class="icon icon_radio"></i>
                            A. He or she will only pay on the first month
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6090" id="6090" disabled="">
                                <label for="6090">
                            <i class="icon icon_radio"></i>
                            B. It will be different each month
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6091" id="6091" disabled="">
                                <label for="6091">
                            <i class="icon icon_radio"></i>
                            C. $500 per month
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6092" id="6092" disabled="">
                                <label for="6092">
                            <i class="icon icon_radio"></i>
                            D. It is included in the rent
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>