<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 184 - 188 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>DEPARTMENTAL EMERGENCY ALARMS</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">IN THE EVENT OF AN ACCIDENT OR EMERGENCY WITHIN THE DEPERTMENT THERE ARE THREE ALARMS THAT MAY BE HEARD: KLAXON HORN CONTINUOUS BELL, OR INTERMITTENT BELL</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>1. A KLAXON HORN INDICATES A LABORATORY ALARM HAS BEEN ACTIVATED</strong></p>

                                <ul>
                                    <li style="text-align:justify">Trained staff will respond to this alarm during normal working hours</li>
                                    <li style="text-align:justify">If this larm should sound outside of normal working hours, or persist for any period you are obliged to investigate its cause</li>
                                </ul>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>2. A CONTINUOUSLY SOUNDING FIRE BELL</strong></p>

                                <ul>
                                    <li style="text-align:justify">In normal working hours all staff are expected to follow the emergency procedures detailed in the safety regulations</li>
                                </ul>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>3. LIFT INTERMITTENT BELL</strong></p>

                                <ul>
                                    <li style="text-align:justify">Local to lift only. In normal working hours inform the General Office on level 4 of Building J13</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>MEMORANDUM</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>To:</strong> All embloyees<br>
                                    <strong>From:</strong> Management</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Following on from the uncertainty&nbsp;experienced last week over procedures to carry out when an alarm&nbsp;is&nbsp;heard, the attached document outlines the different alarms and the actions that need to be taken, when
                                    they are sounded.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Please&nbsp;make yourself familiar with it,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Remember&nbsp;however: BEFORE YOU&nbsp;INVESTIGATE THE SOURCE OF ANY PROBLEM, RING and INFORM SECURITY -&nbsp;Phone No. 13333.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Give them the following&nbsp;information:<br> YOUR NAME ....<br> THE TYPE OF ALARM ....<br> THE ACTION YOU INTEND TO TAKE ....</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>184. Which alarm is the least serious?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="6093" id="6093" disabled="">
                                <label for="6093">
                            <i class="icon icon_radio"></i>
                            A. the Klaxon Horn
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6094" id="6094" disabled="">
                                <label for="6094">
                            <i class="icon icon_radio"></i>
                            B. the continuously sounding bell
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6095" id="6095" disabled="">
                                <label for="6095">
                            <i class="icon icon_radio"></i>
                            C. the intermittent bell
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6096" id="6096" disabled="">
                                <label for="6096">
                            <i class="icon icon_radio"></i>
                            D. they are all equally serious
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. When will the Klaxon Horn sound?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="6097" id="6097" disabled="">
                                <label for="6097">
                            <i class="icon icon_radio"></i>
                            A. if there is an emergency in the Laboratory
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6098" id="6098" disabled="">
                                <label for="6098">
                            <i class="icon icon_radio"></i>
                            B. if there is a fire outside of working hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6099" id="6099" disabled="">
                                <label for="6099">
                            <i class="icon icon_radio"></i>
                            C. if someone is stuck in the lift
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6100" id="6100" disabled="">
                                <label for="6100">
                            <i class="icon icon_radio"></i>
                            D. if there is a fire at any time
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>186. For what reason do employees need to check the safety regulations?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="6101" id="6101" disabled="">
                                <label for="6101">
                            <i class="icon icon_radio"></i>
                            A. to lean the fire emergency procedures
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6102" id="6102" disabled="">
                                <label for="6102">
                            <i class="icon icon_radio"></i>
                            B. to lean how to avoid laboratory emergencies
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6103" id="6103" disabled="">
                                <label for="6103">
                            <i class="icon icon_radio"></i>
                            C. to learn emergency procedures outside of working hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6104" id="6104" disabled="">
                                <label for="6104">
                            <i class="icon icon_radio"></i>
                            D. to find out how to contact security
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. Why was this memo issued?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="6105" id="6105" disabled="">
                                <label for="6105">
                            <i class="icon icon_radio"></i>
                            A. as a routine safety precaution
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6106" id="6106" disabled="">
                                <label for="6106">
                            <i class="icon icon_radio"></i>
                            B. in answer to a question by staff
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6107" id="6107" disabled="">
                                <label for="6107">
                            <i class="icon icon_radio"></i>
                            C. because of an incident last week
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6108" id="6108" disabled="">
                                <label for="6108">
                            <i class="icon icon_radio"></i>
                            D. because the alarm system is new
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>188. When contacting security, what information must be given?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="6109" id="6109" disabled="">
                                <label for="6109">
                            <i class="icon icon_radio"></i>
                            A. where you are
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6110" id="6110" disabled="">
                                <label for="6110">
                            <i class="icon icon_radio"></i>
                            B. your job title
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6111" id="6111" disabled="">
                                <label for="6111">
                            <i class="icon icon_radio"></i>
                            C. what you found while investigating
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6112" id="6112" disabled="">
                                <label for="6112">
                            <i class="icon icon_radio"></i>
                            D. which alarm you heard
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>