<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 189 - 190 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>LOST&nbsp;</strong></p>

                <p>A lady's silver Timex watch with a silver band.&nbsp;RC is inscribed on the band. It was possibly lost in the ladies' toilet on floor three, on Monday the 24th June. If found, please turn in to reception</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>189. Where would this notice most likely be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="6113" id="6113" disabled="">
                                <label for="6113">
                            <i class="icon icon_radio"></i>
                            A. in a newspaper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6114" id="6114" disabled="">
                                <label for="6114">
                            <i class="icon icon_radio"></i>
                            B. in a restaurant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6115" id="6115" disabled="">
                                <label for="6115">
                            <i class="icon icon_radio"></i>
                            C. in an office building
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6116" id="6116" disabled="">
                                <label for="6116">
                            <i class="icon icon_radio"></i>
                            D. at a bus stop
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. What probably happened to the watch?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="6117" id="6117" disabled="">
                                <label for="6117">
                            <i class="icon icon_radio"></i>
                            A. it fell off
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6118" id="6118" disabled="">
                                <label for="6118">
                            <i class="icon icon_radio"></i>
                            B. it was found
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6119" id="6119" disabled="">
                                <label for="6119">
                            <i class="icon icon_radio"></i>
                            C. it was repaired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6120" id="6120" disabled="">
                                <label for="6120">
                            <i class="icon icon_radio"></i>
                            D. it was broken
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>