<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 191 - 192 refer to
    following paragraph:</b>
</p>
<hr>
<p style="text-align:justify"><strong>STATE STREET BRANCH ATM</strong><br>
10/09/06 09:43</p>

<p style="text-align:justify">Withdrawal from checking<br>
Account # 448957600008<br>
$ 100.00</p>

<p style="text-align:justify">Balance $ 2,054.54</p>

<p style="text-align:justify">Available balance $ 1,054.54</p>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=38" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>191. When did this transaction occur?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="190" value="6121" id="6121" disabled="">
                        <label for="6121">
                            <i class="icon icon_radio"></i>
                            A. in the morning
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="190" value="6122" id="6122" disabled="">
                        <label for="6122">
                            <i class="icon icon_radio"></i>
                            B. at midday
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="190" value="6123" id="6123" disabled="">
                        <label for="6123">
                            <i class="icon icon_radio"></i>
                            C. in the afternoon
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="190" value="6124" id="6124" disabled="">
                        <label for="6124">
                            <i class="icon icon_radio"></i>
                            D. in the evening
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>192. How much money is currently in the account?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="191" value="6125" id="6125" disabled="">
                        <label for="6125">
                            <i class="icon icon_radio"></i>
                            A. $ 100.00
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="191" value="6126" id="6126" disabled="">
                        <label for="6126">
                            <i class="icon icon_radio"></i>
                            B. $ 1,409.06
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="191" value="6127" id="6127" disabled="">
                        <label for="6127">
                            <i class="icon icon_radio"></i>
                            C. $ 2,054.54
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="191" value="6128" id="6128" disabled="">
                        <label for="6128">
                            <i class="icon icon_radio"></i>
                            D. $ 1,054.54
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=38" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>