<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 193 - 195 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>Organization:</strong> UNESCO<br>
                    <strong>Job type:</strong> Science and Technology<br>
                    <strong>Job reference:</strong> EU/TP/ITA/SC/0822<br>
                    <strong>Apply:</strong> <u>Click here</u></p>

                <p style="text-align:justify"><strong>Job offer description:</strong> Research Scientist<br>
                    <strong>City:</strong>&nbsp;Trieste<br>
                    <strong>Country:</strong> ITALY</p>

                <p style="text-align:justify"><strong>Responsibilities</strong><br>
                    <strong>Research:</strong> To undertake front-line research in the areas of Mathematics, specifically, probability (pure or/and applied) or dynamical systems.</p>

                <p style="text-align:justify"><strong>Qualifications</strong><br>
                    <strong>Education:</strong><br> Ph.D. or equivalent doctoral level in Mathematics.<br>
                    <strong>Experience</strong>:<br> At least 5 years of research experience at an international level after completion Of Ph.D.<br>
                    <strong>Languages:</strong><br> Excellent knowledge of written and spoken English.<br>
                    <strong>Others:</strong><br> A positive attitude towards the international and multicultural characteristics of the assignment.<br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=39" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>193. Where was this job announcement most likely found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="6129" id="6129" disabled="">
                                <label for="6129">
                            <i class="icon icon_radio"></i>
                            A. on a job center bulletin board
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6130" id="6130" disabled="">
                                <label for="6130">
                            <i class="icon icon_radio"></i>
                            B. in a newspaper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6131" id="6131" disabled="">
                                <label for="6131">
                            <i class="icon icon_radio"></i>
                            C. on the internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6132" id="6132" disabled="">
                                <label for="6132">
                            <i class="icon icon_radio"></i>
                            D. in a magazine
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. What is true for the successful candidate?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="6133" id="6133" disabled="">
                                <label for="6133">
                            <i class="icon icon_radio"></i>
                            A. He or she must be Italian
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6134" id="6134" disabled="">
                                <label for="6134">
                            <i class="icon icon_radio"></i>
                            B. He or she must be English
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6135" id="6135" disabled="">
                                <label for="6135">
                            <i class="icon icon_radio"></i>
                            C. He or she must speak English
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6136" id="6136" disabled="">
                                <label for="6136">
                            <i class="icon icon_radio"></i>
                            D. He or she should have just graduated with a Ph.D
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. What will the research be about specifically?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="6137" id="6137" disabled="">
                                <label for="6137">
                            <i class="icon icon_radio"></i>
                            A. probability
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6138" id="6138" disabled="">
                                <label for="6138">
                            <i class="icon icon_radio"></i>
                            B. international mathematics
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6139" id="6139" disabled="">
                                <label for="6139">
                            <i class="icon icon_radio"></i>
                            C. attitudes to multiculturalism
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6140" id="6140" disabled="">
                                <label for="6140">
                            <i class="icon icon_radio"></i>
                            D. a mathematician
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=39" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>