<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 196 - 197 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>PRINCE CHARLES CINEMA</strong></p>

                <p><strong>TODAY'S FILMS:</strong> Tuesday, October 16<br> 1:00pm -&nbsp;Zodiac<br> 4:05pm - Breach<br> 6:30pm - Manufacturing Dissent<br> 8:20pm - Transformers</p>

                <p><strong>STARTUBG NEXT WEEK</strong><br> 3:10 To Yuma<br> A Mighty Heart<br> Hatchet
                    <br> The Lives Of Others<br> Shoot 'Em Up</p>

                <p><strong>Staff Choice:&nbsp;<em>The lives of Others</em><br>
Staff Choice this week is by Natalie, who has reviewed<br>
Academy Award winning<em> The Lives of Others</em><br>
It's a gripping look behind the iron curtain at Soviet East Berlin - well worth a watch. Catch <em>The Lives of Others</em> at the Prince Charles Cinema now</strong></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=40" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>196. When can you watch "A Mighty Heart"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="6141" id="6141" disabled="">
                                <label for="6141">
                            <i class="icon icon_radio"></i>
                            A. at 3:10pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="6142" id="6142" disabled="">
                                <label for="6142">
                            <i class="icon icon_radio"></i>
                            B. today, or next week
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="6143" id="6143" disabled="">
                                <label for="6143">
                            <i class="icon icon_radio"></i>
                            C. at 8:20pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="6144" id="6144" disabled="">
                                <label for="6144">
                            <i class="icon icon_radio"></i>
                            D. next week
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>197. Who has recommended The Lives of Others?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="6145" id="6145" disabled="">
                                <label for="6145">
                            <i class="icon icon_radio"></i>
                            A. the Academy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="6146" id="6146" disabled="">
                                <label for="6146">
                            <i class="icon icon_radio"></i>
                            B. the Staff
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="6147" id="6147" disabled="">
                                <label for="6147">
                            <i class="icon icon_radio"></i>
                            C. Natalie
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="6148" id="6148" disabled="">
                                <label for="6148">
                            <i class="icon icon_radio"></i>
                            D. Prince Charles
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=40" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>