<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 198 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>PHYSICAL DEMANDS:</strong></p>

                <p style="text-align:justify">The physical demands described here are representative of those that must be met by an employee to successfully perform the essential functions of this job. Reasonable accommodations may be made to enable individuals with disabilities
                    to perform the essential functions.</p>

                <p style="text-align:justify">While performing the duties of this job, the employee is regularly required to actively listen and communicate with supervisors, peers and customers.</p>

                <p style="text-align:justify">The employee must be capable of sitting and driving for extended periods of time depending on the geographic size of the service area.</p>

                <p style="text-align:justify">The employee will consistently be required to work from high places such as roofs, ceilings, ladders, as well as from crawl spaces and other limited spaces within and outside of homes and businesses.</p>

                <p style="text-align:justify">The employee must be able to safely move and lift materials and equipment weighing up to 25 pounds on a routine basis, and on limited occasions up to 50 pounds without assistance.</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=41" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>198. Where would this insert most likely be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="6149" id="6149" disabled="">
                                <label for="6149">
                            <i class="icon icon_radio"></i>
                            A. in an office safety document
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="6150" id="6150" disabled="">
                                <label for="6150">
                            <i class="icon icon_radio"></i>
                            B. in a staff newsletter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="6151" id="6151" disabled="">
                                <label for="6151">
                            <i class="icon icon_radio"></i>
                            C. at a health center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="6152" id="6152" disabled="">
                                <label for="6152">
                            <i class="icon icon_radio"></i>
                            D. in a job application pack
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>199. Who would NOT be able to perform this job well?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="6153" id="6153" disabled="">
                                <label for="6153">
                            <i class="icon icon_radio"></i>
                            A. anyone who is not a weightlifter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="6154" id="6154" disabled="">
                                <label for="6154">
                            <i class="icon icon_radio"></i>
                            B. someone who is afraid of heights
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="6155" id="6155" disabled="">
                                <label for="6155">
                            <i class="icon icon_radio"></i>
                            C. someone with any kind of disability
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="6156" id="6156" disabled="">
                                <label for="6156">
                            <i class="icon icon_radio"></i>
                            D. someone who read slowly
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. What kind of job is being described?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="6157" id="6157" disabled="">
                                <label for="6157">
                            <i class="icon icon_radio"></i>
                            A. repair or maintenance work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="6158" id="6158" disabled="">
                                <label for="6158">
                            <i class="icon icon_radio"></i>
                            B. door-to-door sales work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="6159" id="6159" disabled="">
                                <label for="6159">
                            <i class="icon icon_radio"></i>
                            C. research or product development
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="6160" id="6160" disabled="">
                                <label for="6160">
                            <i class="icon icon_radio"></i>
                            D. office work
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=41" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>