<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 156 - 160 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>XHTML COURSE by IT SOLUTIONS</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">XHTML is the next version of HTML. This class will teach all the same concepts as the HTML 101 course, but focused on valid and well-formed XHTML.<br> After you finish this free course, you will understand the basics of
                                    XHTML, and some more advanced topics. With interactive lessons and the option to work with other people in the course, you'll be able to learn HTML the way you want. Go at your own pace, or follow along with the weekly
                                    syllabus.<br> The class will cover:</p>

                                <ul>
                                    <li>
                                        <p style="margin-left:10px; margin-right:10px; text-align:justify">the differences between XHTML and HTML</p>
                                    </li>
                                    <li>
                                        <p style="margin-left:10px; margin-right:10px; text-align:justify">text manipulation</p>
                                    </li>
                                    <li>
                                        <p style="margin-left:10px; margin-right:10px; text-align:justify">an overview of forms</p>
                                    </li>
                                    <li>
                                        <p style="margin-left:10px; margin-right:10px; text-align:justify">basic XHTML</p>
                                    </li>
                                    <li>
                                        <p style="margin-left:10px; margin-right:10px; text-align:justify">lists, images, tables and frames</p>
                                    </li>
                                </ul>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">At the end of the class, those students who pass a skills test demonstrating their knowledge will receive a certificate marking their successful completion of the course.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Hi Josephine,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I just stumbled upon this website, and I thought of you because of our conversation last week, when you said your boss wants you to make a website for the business, but you had no idea what to do. This course sounds perfect
                                    - and it' s free too! Actually, I remember my friend Tom did this course a while back and was very happy with it. The only thing he mentioned was that you can't change your e-mail address for the whole 11 weeks of the
                                    course, or you might have problems!</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I hope it's useful for you!<br> Keep in touch,<br> Alistair
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>156. What is true of the course?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="5981" id="5981" disabled="">
                                <label for="5981">
                            <i class="icon icon_radio"></i>
                            A. It is the first course offered by IT Solutions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="5982" id="5982" disabled="">
                                <label for="5982">
                            <i class="icon icon_radio"></i>
                            B. It is highly structured
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="5983" id="5983" disabled="">
                                <label for="5983">
                            <i class="icon icon_radio"></i>
                            C. You must know HTML first
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="5984" id="5984" disabled="">
                                <label for="5984">
                            <i class="icon icon_radio"></i>
                            D. It has flexible options
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. What is NOT taught in the course?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="5985" id="5985" disabled="">
                                <label for="5985">
                            <i class="icon icon_radio"></i>
                            A. how to use images
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="5986" id="5986" disabled="">
                                <label for="5986">
                            <i class="icon icon_radio"></i>
                            B. what is new about XHTML
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="5987" id="5987" disabled="">
                                <label for="5987">
                            <i class="icon icon_radio"></i>
                            C. how texts can be manipulated
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="5988" id="5988" disabled="">
                                <label for="5988">
                            <i class="icon icon_radio"></i>
                            D. details about every form
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>158. What should you NOT try to do during the course?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="5989" id="5989" disabled="">
                                <label for="5989">
                            <i class="icon icon_radio"></i>
                            A. work with other people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="5990" id="5990" disabled="">
                                <label for="5990">
                            <i class="icon icon_radio"></i>
                            B. fall behind the syllabus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="5991" id="5991" disabled="">
                                <label for="5991">
                            <i class="icon icon_radio"></i>
                            C. change your address
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="5992" id="5992" disabled="">
                                <label for="5992">
                            <i class="icon icon_radio"></i>
                            D. change your e-mail address
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. Where did Alistair find the information on the course?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="5993" id="5993" disabled="">
                                <label for="5993">
                            <i class="icon icon_radio"></i>
                            A. on the internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="5994" id="5994" disabled="">
                                <label for="5994">
                            <i class="icon icon_radio"></i>
                            B. in a magazine
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="5995" id="5995" disabled="">
                                <label for="5995">
                            <i class="icon icon_radio"></i>
                            C. his friend told him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="5996" id="5996" disabled="">
                                <label for="5996">
                            <i class="icon icon_radio"></i>
                            D. in a newspaper
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>160. What is the most likely relationship between Alistair and Josephine?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="5997" id="5997" disabled="">
                                <label for="5997">
                            <i class="icon icon_radio"></i>
                            A. colleagues
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="5998" id="5998" disabled="">
                                <label for="5998">
                            <i class="icon icon_radio"></i>
                            B. friends
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="5999" id="5999" disabled="">
                                <label for="5999">
                            <i class="icon icon_radio"></i>
                            C. boss/employee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6000" id="6000" disabled="">
                                <label for="6000">
                            <i class="icon icon_radio"></i>
                            D. teacher/student
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>