<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 161 - 162 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>FLORIDA STATE UNIVERSITY<br>
CAREER SERVICES</strong></p>

                <p style="text-align:justify">Join us at a CAREER EXPO to be held on Wednesday, October 2nd, between the hours of 10am and 7pm at the Holiday Inn, 3535</p>

                <p style="text-align:justify">Ulmerton Road, Clearwater, Florida 33762. For more information contact Cheryl&nbsp;Thomson in the Career Office. Tel: 286 331 3476</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>161. Where would this notice most likely be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="6001" id="6001" disabled="">
                                <label for="6001">
                            <i class="icon icon_radio"></i>
                            A. in a tourist office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6002" id="6002" disabled="">
                                <label for="6002">
                            <i class="icon icon_radio"></i>
                            B. in a hotel lobby
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6003" id="6003" disabled="">
                                <label for="6003">
                            <i class="icon icon_radio"></i>
                            C. on a college campus
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6004" id="6004" disabled="">
                                <label for="6004">
                            <i class="icon icon_radio"></i>
                            D. in a newspaper
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. What is located on Ulmerton Road?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="6005" id="6005" disabled="">
                                <label for="6005">
                            <i class="icon icon_radio"></i>
                            A. Holiday Inn
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6006" id="6006" disabled="">
                                <label for="6006">
                            <i class="icon icon_radio"></i>
                            B. Florida State University
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6007" id="6007" disabled="">
                                <label for="6007">
                            <i class="icon icon_radio"></i>
                            C. the Carrer Office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6008" id="6008" disabled="">
                                <label for="6008">
                            <i class="icon icon_radio"></i>
                            D. Clearwater
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>