<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 163 - 164 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Hot Appetizers</strong></p>

                <p>Basket Of Cheesy Garlic Bread with side of Marinara Sauce .......... <strong>$ 4.25</strong><br> Fried Mozzarella Loaf with side of Marinara Sauce. NOT frozen sticks&nbsp;.......... <strong>$ 6.25</strong><br> Potato Croquette&nbsp;..........
                    <strong>$ 4.25</strong><br> Rice Ball made with Meatball, three Cheeses &amp; Peas&nbsp;.......... <strong>$ 1.50</strong><br> Italian Sausage 2 links of Joe's homemade New York Hot or Sweet sausage&nbsp;.......... <strong>$ 5.00</strong><br>                    Meatballs 2 Meatballs of my Grandma's recipe still made by Dad&nbsp;..........&nbsp;<strong>$&nbsp;5.50</strong></p>

                <p><em>Indicates vegetarian dishes</em></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>163. Which recipe was handed down in the family?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="6009" id="6009" disabled="">
                                <label for="6009">
                            <i class="icon icon_radio"></i>
                            A. Italian sausage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6010" id="6010" disabled="">
                                <label for="6010">
                            <i class="icon icon_radio"></i>
                            B. meatballs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6011" id="6011" disabled="">
                                <label for="6011">
                            <i class="icon icon_radio"></i>
                            C. fried Mozzarella loaf
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6012" id="6012" disabled="">
                                <label for="6012">
                            <i class="icon icon_radio"></i>
                            D. potato Croquette
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>164. How many choices are there for someone who doesn't eat meat?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="6013" id="6013" disabled="">
                                <label for="6013">
                            <i class="icon icon_radio"></i>
                            A. one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6014" id="6014" disabled="">
                                <label for="6014">
                            <i class="icon icon_radio"></i>
                            B. two
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6015" id="6015" disabled="">
                                <label for="6015">
                            <i class="icon icon_radio"></i>
                            C. three
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6016" id="6016" disabled="">
                                <label for="6016">
                            <i class="icon icon_radio"></i>
                            D. four
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>