<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 165 - 169 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">To: Terry Morrison<br> From: Mabel Johansson, Events Coordinator<br> Date: 17 October, 2007 13:05:47</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Hello Terry,<br> I was very relieved to hear that you witl be available&nbsp;to help with registration activities at the conference. We were in bit of a panic!<br> We need someone for Monday and Tuesday, just to sit&nbsp;the
                                    registration desk, and answer questions, and pass out the orientation packets to the delegates as they arrive. l've attached the schedule for the relevant days, so you can have a look at the&nbsp;times.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Do let me know that you've&nbsp;received this email and the times are alright for you.<br> Thanks ever so much!</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Regards,<br> Mabel
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>MOBILE TECHNOLOGY CONFERENCE</strong></p>

                                <ul>
                                    <li style="text-align: justify;">Early Registration Opens Monday, October 22, 2007 ........ 7:30 AM - 5:00 PM</li>
                                    <li style="text-align: justify;">DAY ONE Tuesday, October 23, 2007 Registration Hours ........ 8:00 AM - 10:00 AM</li>
                                    <li style="text-align: justify;">Morning Technical Sessions ........ 10:15 AM - 12:00 PM</li>
                                    <li style="text-align: justify;">Lunch ........ 12:00 PM - 1:00 PM</li>
                                    <li style="text-align: justify;">Keynote Plenary Session ........ 1:00 - 3:00 PM</li>
                                    <li style="text-align: justify;">Exhibit Hall Open ........ 2:00 PM - 5:00 PM&nbsp;</li>
                                    <li style="text-align: justify;">Afternoon Technical Sessions ........ 4:30 PM - 7:00 PM</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>165. What will be included in Terry's job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="6017" id="6017" disabled="">
                                <label for="6017">
                            <i class="icon icon_radio"></i>
                            A. organizing the conference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6018" id="6018" disabled="">
                                <label for="6018">
                            <i class="icon icon_radio"></i>
                            B. giving delegates information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6019" id="6019" disabled="">
                                <label for="6019">
                            <i class="icon icon_radio"></i>
                            C. leading a Technical Session
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6020" id="6020" disabled="">
                                <label for="6020">
                            <i class="icon icon_radio"></i>
                            D. answering the telephone
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. What would Mabel like Terry to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="6021" id="6021" disabled="">
                                <label for="6021">
                            <i class="icon icon_radio"></i>
                            A. let her know when there is a problem
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6022" id="6022" disabled="">
                                <label for="6022">
                            <i class="icon icon_radio"></i>
                            B. let her know that all is okay
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6023" id="6023" disabled="">
                                <label for="6023">
                            <i class="icon icon_radio"></i>
                            C. tell her what hours she is available
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6024" id="6024" disabled="">
                                <label for="6024">
                            <i class="icon icon_radio"></i>
                            D. volunteer to work
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. When will Terry be working on Tuesday?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="6025" id="6025" disabled="">
                                <label for="6025">
                            <i class="icon icon_radio"></i>
                            A. 8am - 10am
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6026" id="6026" disabled="">
                                <label for="6026">
                            <i class="icon icon_radio"></i>
                            B. 8am - 7pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6027" id="6027" disabled="">
                                <label for="6027">
                            <i class="icon icon_radio"></i>
                            C. 7:30am - 5pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6028" id="6028" disabled="">
                                <label for="6028">
                            <i class="icon icon_radio"></i>
                            D. 7:30am - 10pm
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>168. Which conference activities are happening at overlapping times?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="6029" id="6029" disabled="">
                                <label for="6029">
                            <i class="icon icon_radio"></i>
                            A. the Exhibit Hall and the Afternoon Technical Sessions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6030" id="6030" disabled="">
                                <label for="6030">
                            <i class="icon icon_radio"></i>
                            B. the Keynote Plenary Session and the Afternoon Technical Sessions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6031" id="6031" disabled="">
                                <label for="6031">
                            <i class="icon icon_radio"></i>
                            C. registration and Morning Technical Session
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6032" id="6032" disabled="">
                                <label for="6032">
                            <i class="icon icon_radio"></i>
                            D. lunch and the Keynote Plenary Session
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. How long are the Morning Technical Sessions?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="6033" id="6033" disabled="">
                                <label for="6033">
                            <i class="icon icon_radio"></i>
                            A. 2 hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6034" id="6034" disabled="">
                                <label for="6034">
                            <i class="icon icon_radio"></i>
                            B. 2 hours and 30 minutes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6035" id="6035" disabled="">
                                <label for="6035">
                            <i class="icon icon_radio"></i>
                            C. 45 minutes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6036" id="6036" disabled="">
                                <label for="6036">
                            <i class="icon icon_radio"></i>
                            D. 1 hour and 45 minutes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>