<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 172 - 174 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>From:</strong> "Mark Wilson" &lt; m.wilson@rg_inc.org&nbsp;&gt;<br>
                    <strong>To:</strong> Anna Ardy &lt; a.ardy@rg_inc.org &gt;<br>
                    <strong>Cc:</strong> "Jason Johnson" &lt; j.johnson@rg_inc.org &gt;, "Bill Stewart" &lt; Stewa78@gbv.gov &gt;, "Maria White" &lt; m.white@rg_inc.org&nbsp;&gt;, "Jodie Forest" &lt; j.forest@rg_incorg &gt;<br>
                    <strong>Subject:</strong> PR committee meeting - Thursday, 12th November<br>
                    <strong>Date:</strong> Monday, 9th November 09.04:47</p>

                <p style="text-align:justify">Just a reminder to everyone that we are holding our Public Relations Committee meeting this Thursday.</p>

                <p style="text-align:justify">It is due to Start at 9:30 sharp, with Mr. Stewart kindly visiting to give a presentation on the new advertising regulations that have just passed, so this should save all of us some time and confusion. Also, would those of you who have
                    had projects finished this month please be prepared to give a quick presentation on the outcome.</p>

                <p style="text-align:justify">Thanks, and I look forward to seeing you at the meeting.<br> Mark Wilson<br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>172. How many people received this email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="6045" id="6045" disabled="">
                                <label for="6045">
                            <i class="icon icon_radio"></i>
                            A. one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6046" id="6046" disabled="">
                                <label for="6046">
                            <i class="icon icon_radio"></i>
                            B. five
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6047" id="6047" disabled="">
                                <label for="6047">
                            <i class="icon icon_radio"></i>
                            C. six
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6048" id="6048" disabled="">
                                <label for="6048">
                            <i class="icon icon_radio"></i>
                            D. twelve
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. What is true of the meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="6049" id="6049" disabled="">
                                <label for="6049">
                            <i class="icon icon_radio"></i>
                            A. It will start promptly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6050" id="6050" disabled="">
                                <label for="6050">
                            <i class="icon icon_radio"></i>
                            B. People will present ideas for projects
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6051" id="6051" disabled="">
                                <label for="6051">
                            <i class="icon icon_radio"></i>
                            C. There will be several guest speakers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6052" id="6052" disabled="">
                                <label for="6052">
                            <i class="icon icon_radio"></i>
                            D. It is in a week's time
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. What is most likely to be the website address of this organization?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="6053" id="6053" disabled="">
                                <label for="6053">
                            <i class="icon icon_radio"></i>
                            A. www.wilson.org
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6054" id="6054" disabled="">
                                <label for="6054">
                            <i class="icon icon_radio"></i>
                            B. www.gbv.gov
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6055" id="6055" disabled="">
                                <label for="6055">
                            <i class="icon icon_radio"></i>
                            C. www.rg_inc.gov
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6056" id="6056" disabled="">
                                <label for="6056">
                            <i class="icon icon_radio"></i>
                            D. www.rg_inc.org
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>