<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 175 - 176 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>MEMO</strong></p>

                <p style="text-align:justify"><strong>To: </strong>Jerry Wilson, CEO<br>
                    <strong>From:</strong> MaryAnn Tyler, Director<br>
                    <strong>Subject: </strong>Urgent change of plans<br>
                    <strong>Date: </strong>14 May 2007</p>

                <p style="text-align:justify">Jerry, call me as soon as you have read the attached report.<br> We need to implement the new product marketing plan sooner than discussed at our last meeting, because Alpha Inc,&nbsp;now has a similar one set to launch in July. Call me
                    right away.</p>

                <p style="text-align:justify">Regards,<br> MaryAnn
                    <br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=33" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>175. What should Jerry do after reading the report?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="6057" id="6057" disabled="">
                                <label for="6057">
                            <i class="icon icon_radio"></i>
                            A. call MaryAnn immediately
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6058" id="6058" disabled="">
                                <label for="6058">
                            <i class="icon icon_radio"></i>
                            B. read the report then call MaryAnn
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6059" id="6059" disabled="">
                                <label for="6059">
                            <i class="icon icon_radio"></i>
                            C. implement the new product marketing plan
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6060" id="6060" disabled="">
                                <label for="6060">
                            <i class="icon icon_radio"></i>
                            D. send a report to Alpha Inc
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>176. How do Jerry and MaryAnn view the Alpha Inc?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="6061" id="6061" disabled="">
                                <label for="6061">
                            <i class="icon icon_radio"></i>
                            A. as a competitor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6062" id="6062" disabled="">
                                <label for="6062">
                            <i class="icon icon_radio"></i>
                            B. as a colleague
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6063" id="6063" disabled="">
                                <label for="6063">
                            <i class="icon icon_radio"></i>
                            C. as an example
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6064" id="6064" disabled="">
                                <label for="6064">
                            <i class="icon icon_radio"></i>
                            D. as an imposter
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=33" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>