<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 177 - 181 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Mr. Timothy York<br>
42 Chadwick Street, 2F3<br>
London, SW1P 2EP<br>
18 January 2008</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">We have received your claim for damages to your car sustained on 29 Dec 2007. However, we require a few other pieces of documentation, to process the claim. We need a police report to determine fault in accident claims,
                                    and request that you send us this document. Were police present at the accident scene? If police were not involved we will need a form 77RH from you.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">In this situation the claim process becomes more complicated and it is at our discretion whether we can accept your claim.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I am the officer at Drive Right Insurance that will be handling your claim, and I have included my business card with contact details. If you<br> have any questions or need a copy of the 77 RH form, please contact me directly.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Regards,<br> Mr. Tyler Bancroft</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>Mr. Tyler Bancroft, MA</strong></p>

                                <p style="margin-left:10px; margin-right:10px"><em>Claims Appraiser</em><br> Driver Right Insurance Co</p>

                                <p style="margin-left:10px; margin-right:10px"><strong>Mob:</strong> 778 4446 6925<br>
                                    <strong>Tel:</strong> 020 7429 8759<br>
                                    <strong>Fax:</strong> 020 7429 8755<br>
                                    <strong>Email:</strong> Bancroft@DriveRight.co.uk</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>177. Approximately how much time has passed between the accident and this letter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="6065" id="6065" disabled="">
                                <label for="6065">
                            <i class="icon icon_radio"></i>
                            A. a few days
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6066" id="6066" disabled="">
                                <label for="6066">
                            <i class="icon icon_radio"></i>
                            B. a few weeks
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6067" id="6067" disabled="">
                                <label for="6067">
                            <i class="icon icon_radio"></i>
                            C. a few months
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6068" id="6068" disabled="">
                                <label for="6068">
                            <i class="icon icon_radio"></i>
                            D. about a year
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>178. Why is a police report needed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="6069" id="6069" disabled="">
                                <label for="6069">
                            <i class="icon icon_radio"></i>
                            A. to prove the accident happened
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6070" id="6070" disabled="">
                                <label for="6070">
                            <i class="icon icon_radio"></i>
                            B. to show who caused the accident
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6071" id="6071" disabled="">
                                <label for="6071">
                            <i class="icon icon_radio"></i>
                            C. to complete the 77RH form
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6072" id="6072" disabled="">
                                <label for="6072">
                            <i class="icon icon_radio"></i>
                            D. to show where the accident happened
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>179. If the police were not involved what will happen?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="178" value="6073" id="6073" disabled="">
                                <label for="6073">
                            <i class="icon icon_radio"></i>
                            A. The claim will be accepted
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6074" id="6074" disabled="">
                                <label for="6074">
                            <i class="icon icon_radio"></i>
                            B. The claim may not be accepted
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6075" id="6075" disabled="">
                                <label for="6075">
                            <i class="icon icon_radio"></i>
                            C. The claim will be refused
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6076" id="6076" disabled="">
                                <label for="6076">
                            <i class="icon icon_radio"></i>
                            D. The police will now be contacted
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>180. Why was the business card included?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="6077" id="6077" disabled="">
                                <label for="6077">
                            <i class="icon icon_radio"></i>
                            A. to encourage a sale
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6078" id="6078" disabled="">
                                <label for="6078">
                            <i class="icon icon_radio"></i>
                            B. as a reminder for appointment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6079" id="6079" disabled="">
                                <label for="6079">
                            <i class="icon icon_radio"></i>
                            C. to make an introduction
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6080" id="6080" disabled="">
                                <label for="6080">
                            <i class="icon icon_radio"></i>
                            D. to provide contact information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>181. In which department at Drive Right Insurance does Mr. Bancroft most likely work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="6081" id="6081" disabled="">
                                <label for="6081">
                            <i class="icon icon_radio"></i>
                            A. management
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6082" id="6082" disabled="">
                                <label for="6082">
                            <i class="icon icon_radio"></i>
                            B. sales department
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6083" id="6083" disabled="">
                                <label for="6083">
                            <i class="icon icon_radio"></i>
                            C. claims department
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6084" id="6084" disabled="">
                                <label for="6084">
                            <i class="icon icon_radio"></i>
                            D. department of underwriters
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>