<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 155 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">New and expanding law firm is seeking an administrator to work closely with one partner to manage the fax-partner firm. Responsibilities include accounting and budgeting.&nbsp;</p>

                <p style="text-align:justify">The ideal candidate will have had experience in business planning. Legal experience is preferred&nbsp;</p>

                <p style="text-align:justify">Please send salary requirements, a cover letter, a resume and a list of references to: Managing Partner<br> The Law Office of Jason Evans<br> 425 Westnedge Ave,<br> Suite 18 Evansville, Indiana&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>153. What is the firm seeking?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="6545" id="6545" disabled="">
                                <label for="6545">
                            <i class="icon icon_radio"></i>
                            A. a lawyer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6546" id="6546" disabled="">
                                <label for="6546">
                            <i class="icon icon_radio"></i>
                            B. a planner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6547" id="6547" disabled="">
                                <label for="6547">
                            <i class="icon icon_radio"></i>
                            C. a new partner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6548" id="6548" disabled="">
                                <label for="6548">
                            <i class="icon icon_radio"></i>
                            D. a manager
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. What is true about the firm?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="6549" id="6549" disabled="">
                                <label for="6549">
                            <i class="icon icon_radio"></i>
                            A. It is well established
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6550" id="6550" disabled="">
                                <label for="6550">
                            <i class="icon icon_radio"></i>
                            B. Jason Evans is its only partner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6551" id="6551" disabled="">
                                <label for="6551">
                            <i class="icon icon_radio"></i>
                            C. It is looking for another partner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6552" id="6552" disabled="">
                                <label for="6552">
                            <i class="icon icon_radio"></i>
                            D. It is growing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>155. Which of the following is NOT required to be sent?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="6553" id="6553" disabled="">
                                <label for="6553">
                            <i class="icon icon_radio"></i>
                            A. salary recommendations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6554" id="6554" disabled="">
                                <label for="6554">
                            <i class="icon icon_radio"></i>
                            B. a resume
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6555" id="6555" disabled="">
                                <label for="6555">
                            <i class="icon icon_radio"></i>
                            C. a letter of recommendation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6556" id="6556" disabled="">
                                <label for="6556">
                            <i class="icon icon_radio"></i>
                            D. a cover letter
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>