<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 188 - 192 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">George,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I was hoping to catch you before at home, but your roommate said I just missed you. It was the easlest letter I've ever written; you're easy to brag about Good luck at the interview (although you don't need it)</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">It's been sad without you at the office, but I know you are on the bigger and better things!</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Best,</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p style="margin-left:10px; margin-right:10px">&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>To Whom It Nay Concern: </strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I have known George Miller for the past year while he has worked as an Accounting Assistant in the Company Accounting Office. I have been consistently impressed by both George, attitude towards his work and his performance
                                    on the job. His interpersonal&nbsp;and communication skills have allowed him to develop productive working relationships with both our&nbsp;clients and our staff. George has the listening and interviewing skills necessary
                                    to extract information from our clientele while performing financial assessments.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">George possesses said writing skills which have enabled him to compose quality correspondence. He also has the analytical skills to diagnose problems and devise viable solutions His ability to remain unflustered during
                                    frenzied periods like tax season proves his ability to work well under pressure.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I recommend him&nbsp;for employment without reservation. Please let we know if you need further information&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Joan Leingang<br> Manager
                                    <br> Carlson Accountants<br> 11285 West Main St<br> (612) 555-8029<br> fleing@ca.net&nbsp;
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>188. What is true of George?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="6685" id="6685" disabled="">
                                <label for="6685">
                            <i class="icon icon_radio"></i>
                            A. Joan fired him from his previous job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6686" id="6686" disabled="">
                                <label for="6686">
                            <i class="icon icon_radio"></i>
                            B. He just go a better job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6687" id="6687" disabled="">
                                <label for="6687">
                            <i class="icon icon_radio"></i>
                            C. He tends to brag a lot
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6688" id="6688" disabled="">
                                <label for="6688">
                            <i class="icon icon_radio"></i>
                            D. He has a good relationship with Joan
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. Who is Joan?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="6689" id="6689" disabled="">
                                <label for="6689">
                            <i class="icon icon_radio"></i>
                            A. George's roommate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6690" id="6690" disabled="">
                                <label for="6690">
                            <i class="icon icon_radio"></i>
                            B. George's potential employer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6691" id="6691" disabled="">
                                <label for="6691">
                            <i class="icon icon_radio"></i>
                            C. George's former manager
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6692" id="6692" disabled="">
                                <label for="6692">
                            <i class="icon icon_radio"></i>
                            D. George's professor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. What does Joan NOT comment on?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="6693" id="6693" disabled="">
                                <label for="6693">
                            <i class="icon icon_radio"></i>
                            A. George's relationships with the people he works with
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6694" id="6694" disabled="">
                                <label for="6694">
                            <i class="icon icon_radio"></i>
                            B. George's admirable attitude toward his work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6695" id="6695" disabled="">
                                <label for="6695">
                            <i class="icon icon_radio"></i>
                            C. George's personal career goals
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6696" id="6696" disabled="">
                                <label for="6696">
                            <i class="icon icon_radio"></i>
                            D. George's ability to listen
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>191. What does the word "unflustered" mean at the end of the second paragraph?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="6697" id="6697" disabled="">
                                <label for="6697">
                            <i class="icon icon_radio"></i>
                            A. reassuring
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="6698" id="6698" disabled="">
                                <label for="6698">
                            <i class="icon icon_radio"></i>
                            B. calm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="6699" id="6699" disabled="">
                                <label for="6699">
                            <i class="icon icon_radio"></i>
                            C. motivated
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="6700" id="6700" disabled="">
                                <label for="6700">
                            <i class="icon icon_radio"></i>
                            D. optimistic
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>192. What does the first line of the third paragraph mean?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="6701" id="6701" disabled="">
                                <label for="6701">
                            <i class="icon icon_radio"></i>
                            A. Joan has no doubt in George's professional capabilities
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6702" id="6702" disabled="">
                                <label for="6702">
                            <i class="icon icon_radio"></i>
                            B. Joan would like to reserve a time to share more information
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6703" id="6703" disabled="">
                                <label for="6703">
                            <i class="icon icon_radio"></i>
                            C. Joan is hesitant to recommend George for the job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6704" id="6704" disabled="">
                                <label for="6704">
                            <i class="icon icon_radio"></i>
                            D. Joan thinks George will do well in the interview
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>