<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 193 - 195 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>The twelfth California International Jazz Competition&nbsp;</strong></p>

                <p style="text-align:justify"><em>August 6-10</em></p>

                <p style="text-align:justify">Contestants and judges from around the globe Internationally renowned prizes&nbsp;</p>

                <p style="text-align:justify">$30,000 in prizes</p>

                <p style="text-align:justify">A Carnegie Hall recital trio debut, PLUS a special surprise appearance!&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>193. Where is the competition held each year?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="6705" id="6705" disabled="">
                                <label for="6705">
                            <i class="icon icon_radio"></i>
                            A. outside the U.S.A
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6706" id="6706" disabled="">
                                <label for="6706">
                            <i class="icon icon_radio"></i>
                            B. it's always a surprise
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6707" id="6707" disabled="">
                                <label for="6707">
                            <i class="icon icon_radio"></i>
                            C. somewhere in California
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6708" id="6708" disabled="">
                                <label for="6708">
                            <i class="icon icon_radio"></i>
                            D. at Carnegie Hall
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. What is true about the competition?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="6709" id="6709" disabled="">
                                <label for="6709">
                            <i class="icon icon_radio"></i>
                            A. The judges are locals
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6710" id="6710" disabled="">
                                <label for="6710">
                            <i class="icon icon_radio"></i>
                            B. A soloist is debuting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6711" id="6711" disabled="">
                                <label for="6711">
                            <i class="icon icon_radio"></i>
                            C. It lasts five days
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6712" id="6712" disabled="">
                                <label for="6712">
                            <i class="icon icon_radio"></i>
                            D. It features multiple musical genres
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. What is unknown about the competition?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="6713" id="6713" disabled="">
                                <label for="6713">
                            <i class="icon icon_radio"></i>
                            A. who is appearing on all the events
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6714" id="6714" disabled="">
                                <label for="6714">
                            <i class="icon icon_radio"></i>
                            B. the value of the prizes for contestants
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6715" id="6715" disabled="">
                                <label for="6715">
                            <i class="icon icon_radio"></i>
                            C. how many CIJ competitions have been already held
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6716" id="6716" disabled="">
                                <label for="6716">
                            <i class="icon icon_radio"></i>
                            D. its duration and the music genre
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>