<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 156 - 160 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>START YOUR WEEKEND ON FRIDAY NIGHT!&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Since January 4 and until December 21, Friday evenings take on a whole new groove with <em>Art After 5</em>, a unique blend of entertainment from 5:00 p.m.-8:45 p.m. in the Great Stair Hall.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">With an eclectic mix of international music on the first Friday of each month, and recognized and emerging jazz artists&nbsp;performing all other Fridays, it's a stylish way to start your weekend.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><em>Art After</em>&nbsp;<em>5</em> programs are subject to change. The performances are scheduled for 5:45 p.m.-6:45 p.m. and 7:15 p.m - 8:15 p.m. Guided gallery tours are offered throughout the evening. There is no additional
                                    charge for guided tours after Museum admission.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>FREE PASS</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">to see "Chalupa" perform at <em>Art After 5</em> on August 25</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">This group, formed on April 10, last year, comes to us straight from Mexico with their authentic style spicing up our humdrum American ways</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Pass valid for both performances</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>156. How often does Art After 5 have entertainment?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="6557" id="6557" disabled="">
                                <label for="6557">
                            <i class="icon icon_radio"></i>
                            A. the first Friday of every month
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6558" id="6558" disabled="">
                                <label for="6558">
                            <i class="icon icon_radio"></i>
                            B. bi-monthly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6559" id="6559" disabled="">
                                <label for="6559">
                            <i class="icon icon_radio"></i>
                            C. weekly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6560" id="6560" disabled="">
                                <label for="6560">
                            <i class="icon icon_radio"></i>
                            D. daily
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. What is true of Art After 5's schedule?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="6561" id="6561" disabled="">
                                <label for="6561">
                            <i class="icon icon_radio"></i>
                            A. It changes every week depending on the band
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6562" id="6562" disabled="">
                                <label for="6562">
                            <i class="icon icon_radio"></i>
                            B. It could be modified
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6563" id="6563" disabled="">
                                <label for="6563">
                            <i class="icon icon_radio"></i>
                            C. It's always running late
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6564" id="6564" disabled="">
                                <label for="6564">
                            <i class="icon icon_radio"></i>
                            D. It consists of two performances a night
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>158. What is free?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="6565" id="6565" disabled="">
                                <label for="6565">
                            <i class="icon icon_radio"></i>
                            A. museum admission
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6566" id="6566" disabled="">
                                <label for="6566">
                            <i class="icon icon_radio"></i>
                            B. guided tours
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6567" id="6567" disabled="">
                                <label for="6567">
                            <i class="icon icon_radio"></i>
                            C. all Art After 5 concerts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6568" id="6568" disabled="">
                                <label for="6568">
                            <i class="icon icon_radio"></i>
                            D. the 6:45 performance
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. When could this pass be used?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="6569" id="6569" disabled="">
                                <label for="6569">
                            <i class="icon icon_radio"></i>
                            A. January 4
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6570" id="6570" disabled="">
                                <label for="6570">
                            <i class="icon icon_radio"></i>
                            B. December 21
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6571" id="6571" disabled="">
                                <label for="6571">
                            <i class="icon icon_radio"></i>
                            C. April 10
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6572" id="6572" disabled="">
                                <label for="6572">
                            <i class="icon icon_radio"></i>
                            D. August 25
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>160. What affect will "Chalupa" have on its audience?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="6573" id="6573" disabled="">
                                <label for="6573">
                            <i class="icon icon_radio"></i>
                            A. It will teach them to cook
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6574" id="6574" disabled="">
                                <label for="6574">
                            <i class="icon icon_radio"></i>
                            B. It will make them appreciate their own life
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6575" id="6575" disabled="">
                                <label for="6575">
                            <i class="icon icon_radio"></i>
                            C. It will make their lives more exciting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6576" id="6576" disabled="">
                                <label for="6576">
                            <i class="icon icon_radio"></i>
                            D. It will introduce them to Mexican drumming styles
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>