<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 161 - 163 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>When trying to get a new job...<br>
will Employers Verify Employment?&nbsp;</strong></p>

                <p style="text-align:justify">One of the questions I go asked quite often h what type of information employers will ask for when they verify my previous employment or check my references. The question often correlates to the broader question of 'Are they going to&nbsp;catch
                    me if I fudge my dates&nbsp;of employment or my job title or the salary I was earning?'&nbsp;</p>

                <p style="text-align:justify"><strong>Will Employers Cheek?</strong><br> The answer is that it depends... It depends no how much verification the employer does during is hiring process. Some employers will confirm, very thoroughly, every detail of your resume or application.
                    Others may do a cursory check or none at all. So, the problem with stretching the truth or embellishing your resume (other than that it's lying) is that there is a chance that you'll get caught, either now or at some point in the future.
                    If you do get caught, you won't get the job or,&nbsp;if you've already been hired, you might get fired.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>161. What is a commonly asked question?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="6577" id="6577" disabled="">
                                <label for="6577">
                            <i class="icon icon_radio"></i>
                            A. Am I going to get caught eating on the job?
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6578" id="6578" disabled="">
                                <label for="6578">
                            <i class="icon icon_radio"></i>
                            B. Is my past resume broad enough?
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6579" id="6579" disabled="">
                                <label for="6579">
                            <i class="icon icon_radio"></i>
                            C. Will my new salary match my previous one?
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6580" id="6580" disabled="">
                                <label for="6580">
                            <i class="icon icon_radio"></i>
                            D. What questions will my former employers be asked?
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. What does the word "embellishing" mean in the second paragraph?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="6581" id="6581" disabled="">
                                <label for="6581">
                            <i class="icon icon_radio"></i>
                            A. adding false details
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6582" id="6582" disabled="">
                                <label for="6582">
                            <i class="icon icon_radio"></i>
                            B. copying it from someone else
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6583" id="6583" disabled="">
                                <label for="6583">
                            <i class="icon icon_radio"></i>
                            C. buying it from the internet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6584" id="6584" disabled="">
                                <label for="6584">
                            <i class="icon icon_radio"></i>
                            D. avoiding
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>163. What will employers check?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="6585" id="6585" disabled="">
                                <label for="6585">
                            <i class="icon icon_radio"></i>
                            A. every detail of your resume
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6586" id="6586" disabled="">
                                <label for="6586">
                            <i class="icon icon_radio"></i>
                            B. only parts of your resume
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6587" id="6587" disabled="">
                                <label for="6587">
                            <i class="icon icon_radio"></i>
                            C. nothing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6588" id="6588" disabled="">
                                <label for="6588">
                            <i class="icon icon_radio"></i>
                            D. it is uncertain
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>