<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 168 - 171 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Rental Agreement</strong></p>

                <p style="text-align:justify">I ____<em>(your full name)</em>____&nbsp;attest to the agreement between myself and Western Hills Apartments.</p>

                <p style="text-align:justify">In signing this lease, I agree to a 2-year lease&nbsp;at 1280 Western Hills&nbsp;Drive, Richmond, IN, 47720.&nbsp;</p>

                <p style="text-align:justify">The lessee agrees to pay for all utilities except for water. The lessee, upon signing, will pay the first month's rent, half of the last month's rent, as wet as a two-month security deposit. Upon cessation of the lease and a thorough inspection
                    of the apartment, the deposit will be retuned in full, minus any damage charges incurred&nbsp;by the lessee. The lessee will obtain renter's insurance within the first months of residence in his or her apartment.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>168. This is a contract made between Western Hills Apartments and what other party?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="6605" id="6605" disabled="">
                                <label for="6605">
                            <i class="icon icon_radio"></i>
                            A. a realtor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6606" id="6606" disabled="">
                                <label for="6606">
                            <i class="icon icon_radio"></i>
                            B. a contractor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6607" id="6607" disabled="">
                                <label for="6607">
                            <i class="icon icon_radio"></i>
                            C. a tenant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6608" id="6608" disabled="">
                                <label for="6608">
                            <i class="icon icon_radio"></i>
                            D. a lawyer
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. Which of the following will the lessee NOT have to pay upon signing?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="6609" id="6609" disabled="">
                                <label for="6609">
                            <i class="icon icon_radio"></i>
                            A. two-month's utilities
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6610" id="6610" disabled="">
                                <label for="6610">
                            <i class="icon icon_radio"></i>
                            B. one month's rent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6611" id="6611" disabled="">
                                <label for="6611">
                            <i class="icon icon_radio"></i>
                            C. a security deposit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6612" id="6612" disabled="">
                                <label for="6612">
                            <i class="icon icon_radio"></i>
                            D. a part of last month's rent
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. If $30 worth of damage occurs, how much money would be returned with a monthly rent of $400?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="6613" id="6613" disabled="">
                                <label for="6613">
                            <i class="icon icon_radio"></i>
                            A. $370
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6614" id="6614" disabled="">
                                <label for="6614">
                            <i class="icon icon_radio"></i>
                            B. $770
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6615" id="6615" disabled="">
                                <label for="6615">
                            <i class="icon icon_radio"></i>
                            C. $570
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6616" id="6616" disabled="">
                                <label for="6616">
                            <i class="icon icon_radio"></i>
                            D. $1000
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. Which of the following is the least urgent?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="6617" id="6617" disabled="">
                                <label for="6617">
                            <i class="icon icon_radio"></i>
                            A. paying the water utility bill
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6618" id="6618" disabled="">
                                <label for="6618">
                            <i class="icon icon_radio"></i>
                            B. paying the security deposit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6619" id="6619" disabled="">
                                <label for="6619">
                            <i class="icon icon_radio"></i>
                            C. paying the first month's rent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6620" id="6620" disabled="">
                                <label for="6620">
                            <i class="icon icon_radio"></i>
                            D. obtaining renter's insurance
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>