<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 172 - 176 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px">Dear Dr. Wells.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">On behalf of the diversity committee at D. Balton, I wanted to thank you for your insightful speech on Affirmative Action. Your lucid presentation brought to light the deeper issues involved in this controversial topic
                                    as well as hammered home the benefits both the company and society Can enjoy by maintaining a diverse workforce. We know that speaking to companies is not something you do frequently, so we especially appreciate you
                                    taking the time and energy to come to our company.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">ln&nbsp;an effort to better demonstrate our appreciation&nbsp;we'd like to offer you this gift certificate. We hope you can find something you enjoy with it. I believe we even have some of your pudications in stock&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Jack Sullivan&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The bearer of this coupon is entitled to $50 to he spent at any D. Balton stores.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">No cash will be given&nbsp;as change. If the total value is not spent, store credit will be given</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Expiration date:</strong> 12/31/2012</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Store locations: </strong>Paw Paw, Apple Valley, Cottage Grove, Hastings, Roscoe</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Store Hours: </strong>Monday-Friday 10am-10pm; Saturday noon-9pm; Sunday noon-6pm</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>172. How does Jack Sullivan describe Dr. Wells' speech?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="6621" id="6621" disabled="">
                                <label for="6621">
                            <i class="icon icon_radio"></i>
                            A. confusing but interesting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6622" id="6622" disabled="">
                                <label for="6622">
                            <i class="icon icon_radio"></i>
                            B. special and energetic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6623" id="6623" disabled="">
                                <label for="6623">
                            <i class="icon icon_radio"></i>
                            C. clear and valuable
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6624" id="6624" disabled="">
                                <label for="6624">
                            <i class="icon icon_radio"></i>
                            D. beneficial but dull
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. What did Mr. Wells' speech accomplish?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="6625" id="6625" disabled="">
                                <label for="6625">
                            <i class="icon icon_radio"></i>
                            A. It made light of deep issues
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6626" id="6626" disabled="">
                                <label for="6626">
                            <i class="icon icon_radio"></i>
                            B. It brought attention to different facets of topic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6627" id="6627" disabled="">
                                <label for="6627">
                            <i class="icon icon_radio"></i>
                            C. It maintained a diverse workforce at the company
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6628" id="6628" disabled="">
                                <label for="6628">
                            <i class="icon icon_radio"></i>
                            D. It dissolved certain controversies around a topic
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. What can be said of Dr. Wells?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="6629" id="6629" disabled="">
                                <label for="6629">
                            <i class="icon icon_radio"></i>
                            A. He is an employee of D. Balton
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6630" id="6630" disabled="">
                                <label for="6630">
                            <i class="icon icon_radio"></i>
                            B. He enjoyed his speech
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6631" id="6631" disabled="">
                                <label for="6631">
                            <i class="icon icon_radio"></i>
                            C. He gives speeches often
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6632" id="6632" disabled="">
                                <label for="6632">
                            <i class="icon icon_radio"></i>
                            D. He spoken about a divisive topic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>175. How can one get store credit?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="6633" id="6633" disabled="">
                                <label for="6633">
                            <i class="icon icon_radio"></i>
                            A. by spending the total value of the coupon
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6634" id="6634" disabled="">
                                <label for="6634">
                            <i class="icon icon_radio"></i>
                            B. by exceeding the total value of the coupon
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6635" id="6635" disabled="">
                                <label for="6635">
                            <i class="icon icon_radio"></i>
                            C. by spending less cash than the valued amount of the coupon
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6636" id="6636" disabled="">
                                <label for="6636">
                            <i class="icon icon_radio"></i>
                            D. by spending less than the value of the coupon
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>176. When can one NOT visit D. Balton?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="6637" id="6637" disabled="">
                                <label for="6637">
                            <i class="icon icon_radio"></i>
                            A. Sunday morning
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6638" id="6638" disabled="">
                                <label for="6638">
                            <i class="icon icon_radio"></i>
                            B. Monday evening
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6639" id="6639" disabled="">
                                <label for="6639">
                            <i class="icon icon_radio"></i>
                            C. Thursday afternoon
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6640" id="6640" disabled="">
                                <label for="6640">
                            <i class="icon icon_radio"></i>
                            D. Saturday evening
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>