<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 177 - 180 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Too much caffeine?&nbsp;</strong></p>

                <p style="text-align:justify">Fitness author Bob Greene has been a personal trainer and consultant for 17 years. His moat notable client and open admirer is Oprah Winfrey, who has written the foreword to Greene's latest book "<em>The Best Life Diet</em>"&nbsp;</p>

                <p style="text-align:justify"><strong>Q:</strong> With all this book and magazine writing and book touring and radio-show hosting and TV appearances, when do you find time to exercise?</p>

                <p style="text-align:justify"><strong>A:</strong>&nbsp;I just finished. No matter what I'm doing in my life, no matter what crazy hours I have to keep, I fit in a workout. I'm the one jumping rope or running up and down the stairs at the hotel in the middle of the
                    night. You might think it's neurotic, but I feel so much better. It's like a coffee drinker who&nbsp;needs that morning cup,&nbsp;</p>

                <p style="text-align:justify"><strong>Q:</strong> What is the single most important thing a person starting a diet&nbsp;should do?&nbsp;</p>

                <p style="text-align:justify"><strong>A:</strong>&nbsp;Be conscious of what, how much and how often you eat. Ask yourself how often you use food for something other than nutrition&nbsp;</p>

                <p style="text-align:justify"><strong>Q:</strong>&nbsp;Initial weight loss is tough, but maintenance is a bigger, ongoing hurdle. How dooes a realistic person day motivated?&nbsp;</p>

                <p style="text-align:justify"><strong>A:&nbsp;</strong>You have to focus on a desire to improve your life overall. The people who lose a lot of weight and have maintained that weight for five years all had some revelation about their lives:&nbsp;</p>

                <p style="text-align:justify"><em>-- I sleep better, my relationships are better,&nbsp;I'm more motivated al work. The other side of that is&nbsp;self-destuctive.&nbsp;The people who struggle&nbsp;the most feel they don't deserve to be happy or loved&nbsp;</em></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>177. What is the first paragraph?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="6641" id="6641" disabled="">
                                <label for="6641">
                            <i class="icon icon_radio"></i>
                            A. a warning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6642" id="6642" disabled="">
                                <label for="6642">
                            <i class="icon icon_radio"></i>
                            B. an introduction
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6643" id="6643" disabled="">
                                <label for="6643">
                            <i class="icon icon_radio"></i>
                            C. a prologue
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6644" id="6644" disabled="">
                                <label for="6644">
                            <i class="icon icon_radio"></i>
                            D. an advance
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>178. Where could you find this text?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="6645" id="6645" disabled="">
                                <label for="6645">
                            <i class="icon icon_radio"></i>
                            A. in a magazine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6646" id="6646" disabled="">
                                <label for="6646">
                            <i class="icon icon_radio"></i>
                            B. on a flier
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6647" id="6647" disabled="">
                                <label for="6647">
                            <i class="icon icon_radio"></i>
                            C. on a banner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6648" id="6648" disabled="">
                                <label for="6648">
                            <i class="icon icon_radio"></i>
                            D. in a book dedication
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>179. How does Bob Greene fit exercising in his schedule?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="178" value="6649" id="6649" disabled="">
                                <label for="6649">
                            <i class="icon icon_radio"></i>
                            A. He drinks coffee in the morning to give him energy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6650" id="6650" disabled="">
                                <label for="6650">
                            <i class="icon icon_radio"></i>
                            B. He takes time off while traveling
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6651" id="6651" disabled="">
                                <label for="6651">
                            <i class="icon icon_radio"></i>
                            C. He does it wherever he is
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6652" id="6652" disabled="">
                                <label for="6652">
                            <i class="icon icon_radio"></i>
                            D. He cut back on things that may interfere with working out
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>180. What is the hardest struggle with losing weight?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="6653" id="6653" disabled="">
                                <label for="6653">
                            <i class="icon icon_radio"></i>
                            A. finding the motivation to start the diet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6654" id="6654" disabled="">
                                <label for="6654">
                            <i class="icon icon_radio"></i>
                            B. running hurdles around the track
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6655" id="6655" disabled="">
                                <label for="6655">
                            <i class="icon icon_radio"></i>
                            C. continuing to lose it for the rest of your life
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6656" id="6656" disabled="">
                                <label for="6656">
                            <i class="icon icon_radio"></i>
                            D. keeping the weight you lose off
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>