<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 181 - 183 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Carol Roshon's Art Exhibition&nbsp;</strong></p>

                <p style="text-align:justify">Breaking conventions is nearly a convention in and of itself for artists. Nonetheless, Carol Roshon's style is as unique as it comes. She photographs lively scenes with black and white film and then hand paints her images with oil colors.&nbsp;</p>

                <p style="text-align:justify">Her works are on display at the Albion Art Museum starting October 18&nbsp;until the end of the month. None are for sale directly; however, if you are interested in purchasing a piece speak to a curator at the museum.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=33" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>181. What does the first sentence imply?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="6657" id="6657" disabled="">
                                <label for="6657">
                            <i class="icon icon_radio"></i>
                            A. All artists try to be unique
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6658" id="6658" disabled="">
                                <label for="6658">
                            <i class="icon icon_radio"></i>
                            B. Breaking conventions is considered taboo
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6659" id="6659" disabled="">
                                <label for="6659">
                            <i class="icon icon_radio"></i>
                            C. Artists are not as groundbreaking as they were in the past
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6660" id="6660" disabled="">
                                <label for="6660">
                            <i class="icon icon_radio"></i>
                            D. Traditions are the heart of art
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>182. What can be said about Carol Roshon?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="6661" id="6661" disabled="">
                                <label for="6661">
                            <i class="icon icon_radio"></i>
                            A. She primarily creates black and white charcoal work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6662" id="6662" disabled="">
                                <label for="6662">
                            <i class="icon icon_radio"></i>
                            B. She works in two mediums
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6663" id="6663" disabled="">
                                <label for="6663">
                            <i class="icon icon_radio"></i>
                            C. She is strictly a painter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6664" id="6664" disabled="">
                                <label for="6664">
                            <i class="icon icon_radio"></i>
                            D. She photographs her paintings
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. Which of the following does the passage support?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="6665" id="6665" disabled="">
                                <label for="6665">
                            <i class="icon icon_radio"></i>
                            A. Roshon's work is not for sale
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6666" id="6666" disabled="">
                                <label for="6666">
                            <i class="icon icon_radio"></i>
                            B. Roshon's work will be displayed for the whole month of October
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6667" id="6667" disabled="">
                                <label for="6667">
                            <i class="icon icon_radio"></i>
                            C. A museum employee possesses information about purchasing Roshon's work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6668" id="6668" disabled="">
                                <label for="6668">
                            <i class="icon icon_radio"></i>
                            D. Photograph is becoming a lost art
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=33" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>