<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 184 - 187 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Federal Aviation Administration Inspections</strong></p>

                <p style="text-align:justify">The Federal Aviation Administration grounded scores of planes manufactured before 1975 for inspections to fuel pump wiring. Damage was discovered in precisely half of the first 90 aircraft inspected Claiming engine vibration was probably
                    the cause; FAA officials added they feared that frayed insulation could lead to a spark from the 120-volt wires that could cause a fire or explosion. Consequently, multiple flights were canceled&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>184. What most likely caused the damage?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="6669" id="6669" disabled="">
                                <label for="6669">
                            <i class="icon icon_radio"></i>
                            A. frayed insulation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6670" id="6670" disabled="">
                                <label for="6670">
                            <i class="icon icon_radio"></i>
                            B. an internal fire
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6671" id="6671" disabled="">
                                <label for="6671">
                            <i class="icon icon_radio"></i>
                            C. outdated fuel pumps
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6672" id="6672" disabled="">
                                <label for="6672">
                            <i class="icon icon_radio"></i>
                            D. vibrations from the engine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. In how many planes was damage discovered?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="6673" id="6673" disabled="">
                                <label for="6673">
                            <i class="icon icon_radio"></i>
                            A. 90
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6674" id="6674" disabled="">
                                <label for="6674">
                            <i class="icon icon_radio"></i>
                            B. 180
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6675" id="6675" disabled="">
                                <label for="6675">
                            <i class="icon icon_radio"></i>
                            C. 120
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6676" id="6676" disabled="">
                                <label for="6676">
                            <i class="icon icon_radio"></i>
                            D. 45
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>186. What were the FAA officials worried about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="6677" id="6677" disabled="">
                                <label for="6677">
                            <i class="icon icon_radio"></i>
                            A. An aircraft could explode
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6678" id="6678" disabled="">
                                <label for="6678">
                            <i class="icon icon_radio"></i>
                            B. They couldn't fix the problem
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6679" id="6679" disabled="">
                                <label for="6679">
                            <i class="icon icon_radio"></i>
                            C. The engine would fall out
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6680" id="6680" disabled="">
                                <label for="6680">
                            <i class="icon icon_radio"></i>
                            D. The pump wiring would not be sufficient
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. What resulted from this newfound problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="6681" id="6681" disabled="">
                                <label for="6681">
                            <i class="icon icon_radio"></i>
                            A. Flights were called off
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6682" id="6682" disabled="">
                                <label for="6682">
                            <i class="icon icon_radio"></i>
                            B. Flights were longer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6683" id="6683" disabled="">
                                <label for="6683">
                            <i class="icon icon_radio"></i>
                            C. Flights were delayed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6684" id="6684" disabled="">
                                <label for="6684">
                            <i class="icon icon_radio"></i>
                            D. Flights were given added security
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>