<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: But when I plugged it in it didn't work, and I did everything that you told me to do when I bought the DVD player this morning.</p>

                        <p>M: Well, I'm sorry to hear that. I can't imagine what the problem can be. Can you bring it back in and someone will have a look at it?</p>

                        <p>W: It's very difficult because I don't drive and I'll have to pay for a taxi. If I do bring it in, I'd sooner have a replacement rather than have to wait for someone to repair it.</p>

                        <p>M: I understand, Madam. Bring it back in and I'll make sure that's done for you.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565928296.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.9338%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:57</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. Who is he woman talking to?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="2777" id="2777" disabled="">
                                <label for="2777">
                            <i class="icon icon_radio"></i>
                            A. a teacher
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2778" id="2778" disabled="">
                                <label for="2778">
                            <i class="icon icon_radio"></i>
                            B. a shop assistant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2779" id="2779" disabled="">
                                <label for="2779">
                            <i class="icon icon_radio"></i>
                            C. an electrician
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2780" id="2780" disabled="">
                                <label for="2780">
                            <i class="icon icon_radio"></i>
                            D. her neighbor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. What is the man's attitude?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="2781" id="2781" disabled="">
                                <label for="2781">
                            <i class="icon icon_radio"></i>
                            A. angry
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2782" id="2782" disabled="">
                                <label for="2782">
                            <i class="icon icon_radio"></i>
                            B. bored
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2783" id="2783" disabled="">
                                <label for="2783">
                            <i class="icon icon_radio"></i>
                            C. aplogogetic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2784" id="2784" disabled="">
                                <label for="2784">
                            <i class="icon icon_radio"></i>
                            D. amused
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. What does the woman want?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="2785" id="2785" disabled="">
                                <label for="2785">
                            <i class="icon icon_radio"></i>
                            A. a new DVD player
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2786" id="2786" disabled="">
                                <label for="2786">
                            <i class="icon icon_radio"></i>
                            B. a taxi
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2787" id="2787" disabled="">
                                <label for="2787">
                            <i class="icon icon_radio"></i>
                            C.  someone to come and repair the DVD player
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2788" id="2788" disabled="">
                                <label for="2788">
                            <i class="icon icon_radio"></i>
                            D. advice on how to fix the DVD player
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>