<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Come on, it's your turn to do it and I've got lots of revision to do.</p>

                        <p>M: Well I need to clean my bedroom and I cooked lunch.</p>

                        <p>W: Well it was your turn and you should have cleaned your room yesterday like Mum said, instead of playing football all afternoon.</p>

                        <p>M: OK, don't get angry. I'll do it in a minute, but I don't think it's fair as there are so many pots and pans today</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565938027.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 20.2877%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. What is the relationship between the people?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2885" id="2885" disabled="">
                                <label for="2885">
                            <i class="icon icon_radio"></i>
                            A. friends
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2886" id="2886" disabled="">
                                <label for="2886">
                            <i class="icon icon_radio"></i>
                            B. husband and wife
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2887" id="2887" disabled="">
                                <label for="2887">
                            <i class="icon icon_radio"></i>
                            C. colleagues
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2888" id="2888" disabled="">
                                <label for="2888">
                            <i class="icon icon_radio"></i>
                            D. brother and sister
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. What are they arguing about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2889" id="2889" disabled="">
                                <label for="2889">
                            <i class="icon icon_radio"></i>
                            A. cleaning a bedroom
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2890" id="2890" disabled="">
                                <label for="2890">
                            <i class="icon icon_radio"></i>
                            B. cooking lunch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2891" id="2891" disabled="">
                                <label for="2891">
                            <i class="icon icon_radio"></i>
                            C. doing homework
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2892" id="2892" disabled="">
                                <label for="2892">
                            <i class="icon icon_radio"></i>
                            D. washing the dishes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What happens in the end?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2893" id="2893" disabled="">
                                <label for="2893">
                            <i class="icon icon_radio"></i>
                            A. he leaves
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2894" id="2894" disabled="">
                                <label for="2894">
                            <i class="icon icon_radio"></i>
                            B. she wins the argument
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2895" id="2895" disabled="">
                                <label for="2895">
                            <i class="icon icon_radio"></i>
                            C. the job doesn't get done
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2896" id="2896" disabled="">
                                <label for="2896">
                            <i class="icon icon_radio"></i>
                            D. he gets very angry
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>