<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 44 - 46 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Although they can still be found in the African jungle and around some coastal areas, they are becoming more and more rare.</p>

                        <p>M: But here, in captivity, you are trying hard to breed them, aren't you?</p>

                        <p>W: Yes, and we have had some success as three cubs were born here last month and they are doing well.</p>

                        <p>M: They must be a great visitor attraction.</p>

                        <p>W: They are, but we make sure visitors don't disturb them and they can only be seen from a distance as they are too young still. We don't want it to be like a circus show.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565929544.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.8343%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:59</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>44. What are you listening to?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="43" value="2789" id="2789" disabled="">
                                <label for="2789">
                            <i class="icon icon_radio"></i>
                            A. documentary
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2790" id="2790" disabled="">
                                <label for="2790">
                            <i class="icon icon_radio"></i>
                            B. local news
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2791" id="2791" disabled="">
                                <label for="2791">
                            <i class="icon icon_radio"></i>
                            C. film
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2792" id="2792" disabled="">
                                <label for="2792">
                            <i class="icon icon_radio"></i>
                            D. soap opera
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>45. What is the issue?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="44" value="2793" id="2793" disabled="">
                                <label for="2793">
                            <i class="icon icon_radio"></i>
                            A. travel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2794" id="2794" disabled="">
                                <label for="2794">
                            <i class="icon icon_radio"></i>
                            B. economic problems
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2795" id="2795" disabled="">
                                <label for="2795">
                            <i class="icon icon_radio"></i>
                            C. global warming
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2796" id="2796" disabled="">
                                <label for="2796">
                            <i class="icon icon_radio"></i>
                            D. animal conservation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>46. Where are the speakers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="45" value="2797" id="2797" disabled="">
                                <label for="2797">
                            <i class="icon icon_radio"></i>
                            A. in a circus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2798" id="2798" disabled="">
                                <label for="2798">
                            <i class="icon icon_radio"></i>
                            B. in a zoo
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2799" id="2799" disabled="">
                                <label for="2799">
                            <i class="icon icon_radio"></i>
                            C. in a jungle
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2800" id="2800" disabled="">
                                <label for="2800">
                            <i class="icon icon_radio"></i>
                            D. on a beach
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>