<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Although they can still be found in the African jungle and around some coastal areas, they are becoming more and more rare.</p>

                        <p>M: But here, in captivity, you are trying hard to breed them, aren't you?</p>

                        <p>W: Yes, and we have had some success as three cubs were born here last month and they are doing well.</p>

                        <p>M: They must be a great visitor attraction.</p>

                        <p>W: They are, but we make sure visitors don't disturb them and they can only be seen from a distance as they are too young still. We don't want it to be like a circus show.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565929842.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.888%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:54</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. What is the waiter's attitude?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="2801" id="2801" disabled="">
                                <label for="2801">
                            <i class="icon icon_radio"></i>
                            A. impatient
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2802" id="2802" disabled="">
                                <label for="2802">
                            <i class="icon icon_radio"></i>
                            B. unhelpful
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2803" id="2803" disabled="">
                                <label for="2803">
                            <i class="icon icon_radio"></i>
                            C. sympathetic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2804" id="2804" disabled="">
                                <label for="2804">
                            <i class="icon icon_radio"></i>
                            D. friendly
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. What is the woman's problem</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="2805" id="2805" disabled="">
                                <label for="2805">
                            <i class="icon icon_radio"></i>
                            A. She doesn't want anything sweet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2806" id="2806" disabled="">
                                <label for="2806">
                            <i class="icon icon_radio"></i>
                            B. She's on a diet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2807" id="2807" disabled="">
                                <label for="2807">
                            <i class="icon icon_radio"></i>
                            C. Her child doesn't like anything
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2808" id="2808" disabled="">
                                <label for="2808">
                            <i class="icon icon_radio"></i>
                            D. She is in a hurry
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. What will the woman have?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="2809" id="2809" disabled="">
                                <label for="2809">
                            <i class="icon icon_radio"></i>
                            A. salad, then fruit
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2810" id="2810" disabled="">
                                <label for="2810">
                            <i class="icon icon_radio"></i>
                            B. burger, then cake
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2811" id="2811" disabled="">
                                <label for="2811">
                            <i class="icon icon_radio"></i>
                            C. fish, then fruit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2812" id="2812" disabled="">
                                <label for="2812">
                            <i class="icon icon_radio"></i>
                            D. salad, then cake
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>