<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 50 - 52 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: The problem is that we have patients here who are getting cold and when it rains the water comes through the broken glass and onto the floor.</p>

                        <p>M: Well, there is no one free at the moment as everyone is busy until tomorrow.</p>

                        <p>W: But it can't wait until tomorrow, it's an emergency.</p>

                        <p>M: OK. I have to go to the bank now but I will come and look at it after. I'll be about 20 minutes.</p>

                        <p>W: Oh, thank you so much.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565930039.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.8032%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>50. Where is the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="49" value="2813" id="2813" disabled="">
                                <label for="2813">
                            <i class="icon icon_radio"></i>
                            A. school
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2814" id="2814" disabled="">
                                <label for="2814">
                            <i class="icon icon_radio"></i>
                            B. bank
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2815" id="2815" disabled="">
                                <label for="2815">
                            <i class="icon icon_radio"></i>
                            C. hospital
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2816" id="2816" disabled="">
                                <label for="2816">
                            <i class="icon icon_radio"></i>
                            D. gym
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>51. What is the problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="50" value="2817" id="2817" disabled="">
                                <label for="2817">
                            <i class="icon icon_radio"></i>
                            A. leaking roof
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2818" id="2818" disabled="">
                                <label for="2818">
                            <i class="icon icon_radio"></i>
                            B. no heating
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2819" id="2819" disabled="">
                                <label for="2819">
                            <i class="icon icon_radio"></i>
                            C. broken window
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2820" id="2820" disabled="">
                                <label for="2820">
                            <i class="icon icon_radio"></i>
                            D. no electricity
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>52. What will the man do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="51" value="2821" id="2821" disabled="">
                                <label for="2821">
                            <i class="icon icon_radio"></i>
                            A. send one of his employee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2822" id="2822" disabled="">
                                <label for="2822">
                            <i class="icon icon_radio"></i>
                            B. phone a company
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2823" id="2823" disabled="">
                                <label for="2823">
                            <i class="icon icon_radio"></i>
                            C. nothing until tomorrow
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2824" id="2824" disabled="">
                                <label for="2824">
                            <i class="icon icon_radio"></i>
                            D. come himself
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>