<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: I'm sorry to bother you with my problems but you are so much more experienced than me. They probably just think they are having fun but they behave like wild animals sometimes and I feel like crying with frustration at times.</p>

                        <p>M: You mustn't take it personally, they are a bad class, everyone struggles with them. The headmaster is always telling one or other of that class off. I keep them all behind after lessons when they get too wild. That quietens
                            them down for a while.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565930394.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.184%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:56</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. What mood is the woman in?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="2825" id="2825" disabled="">
                                <label for="2825">
                            <i class="icon icon_radio"></i>
                            A. upset
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2826" id="2826" disabled="">
                                <label for="2826">
                            <i class="icon icon_radio"></i>
                            B. amused
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2827" id="2827" disabled="">
                                <label for="2827">
                            <i class="icon icon_radio"></i>
                            C. confused
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2828" id="2828" disabled="">
                                <label for="2828">
                            <i class="icon icon_radio"></i>
                            D. frightened
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. What is her job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="2829" id="2829" disabled="">
                                <label for="2829">
                            <i class="icon icon_radio"></i>
                            A. doctor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2830" id="2830" disabled="">
                                <label for="2830">
                            <i class="icon icon_radio"></i>
                            B. teacher
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2831" id="2831" disabled="">
                                <label for="2831">
                            <i class="icon icon_radio"></i>
                            C. zoo keeper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2832" id="2832" disabled="">
                                <label for="2832">
                            <i class="icon icon_radio"></i>
                            D. cleaner
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. Who is the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="2833" id="2833" disabled="">
                                <label for="2833">
                            <i class="icon icon_radio"></i>
                            A. husband 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2834" id="2834" disabled="">
                                <label for="2834">
                            <i class="icon icon_radio"></i>
                            B. colleague
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2835" id="2835" disabled="">
                                <label for="2835">
                            <i class="icon icon_radio"></i>
                            C. headmaster
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2836" id="2836" disabled="">
                                <label for="2836">
                            <i class="icon icon_radio"></i>
                            D. close friend
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>