<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Good morning Madam, I'd like to tell you about a wonderful offer we have today. It's actually a whole series which will teach you how to eat more healthily and is particularly aimed at heart disease prevention which is something
                            most people need to be aware of as they reach middle age.</p>

                        <p>W: Well I'm not really interested in buying anything today, thank you.</p>

                        <p>M: Oh, I'm not actually selling them today. You can only buy them from our website and there is a series of six of which the first has just been published.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565936654.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.4391%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:60</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. What is being advertised?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2837" id="2837" disabled="">
                                <label for="2837">
                            <i class="icon icon_radio"></i>
                            A. college classes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2838" id="2838" disabled="">
                                <label for="2838">
                            <i class="icon icon_radio"></i>
                            B. food
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2839" id="2839" disabled="">
                                <label for="2839">
                            <i class="icon icon_radio"></i>
                            C. cookery equipment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2840" id="2840" disabled="">
                                <label for="2840">
                            <i class="icon icon_radio"></i>
                            D. books
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. Who is the product aimed at?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2841" id="2841" disabled="">
                                <label for="2841">
                            <i class="icon icon_radio"></i>
                            A. athletes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2842" id="2842" disabled="">
                                <label for="2842">
                            <i class="icon icon_radio"></i>
                            B. old people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2843" id="2843" disabled="">
                                <label for="2843">
                            <i class="icon icon_radio"></i>
                            C. children
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2844" id="2844" disabled="">
                                <label for="2844">
                            <i class="icon icon_radio"></i>
                            D. people with heart problems
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. How can you buy it?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2845" id="2845" disabled="">
                                <label for="2845">
                            <i class="icon icon_radio"></i>
                            A. in a shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2846" id="2846" disabled="">
                                <label for="2846">
                            <i class="icon icon_radio"></i>
                            B. by post
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2847" id="2847" disabled="">
                                <label for="2847">
                            <i class="icon icon_radio"></i>
                            C. over the internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2848" id="2848" disabled="">
                                <label for="2848">
                            <i class="icon icon_radio"></i>
                            D. at the local market
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>