<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: I'm sorry Madam but this ticket isn't valid.</p>

                        <p>W: What do you mean? Of course it is.</p>

                        <p>M: It's gone through the machine twice. See, it has two dates stamped on it.</p>

                        <p>W: Oh, I hadn't noticed. Sorry, you aren't going to fine me are you? It was a mistake, and this is my stop coming up outside the bank.</p>

                        <p>M: I should fine you but if you pay for a new ticket I'll let you off this once, but don't do it again.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565936862.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.3774%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:53</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. What are they travelling on?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2849" id="2849" disabled="">
                                <label for="2849">
                            <i class="icon icon_radio"></i>
                            A. taxi
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2850" id="2850" disabled="">
                                <label for="2850">
                            <i class="icon icon_radio"></i>
                            B. bus
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2851" id="2851" disabled="">
                                <label for="2851">
                            <i class="icon icon_radio"></i>
                            C. boat
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2852" id="2852" disabled="">
                                <label for="2852">
                            <i class="icon icon_radio"></i>
                            D. plane
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. Why isn't the ticket valid?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2853" id="2853" disabled="">
                                <label for="2853">
                            <i class="icon icon_radio"></i>
                            A. It's been used twice
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2854" id="2854" disabled="">
                                <label for="2854">
                            <i class="icon icon_radio"></i>
                            B. It's the wrong date
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2855" id="2855" disabled="">
                                <label for="2855">
                            <i class="icon icon_radio"></i>
                            C. It's not for that route
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2856" id="2856" disabled="">
                                <label for="2856">
                            <i class="icon icon_radio"></i>
                            D. She hasn't paid enough
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What will happen to the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2857" id="2857" disabled="">
                                <label for="2857">
                            <i class="icon icon_radio"></i>
                            A. She will pay the price of another ticket
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2858" id="2858" disabled="">
                                <label for="2858">
                            <i class="icon icon_radio"></i>
                            B. She won't have to do anything
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2859" id="2859" disabled="">
                                <label for="2859">
                            <i class="icon icon_radio"></i>
                            C. She'll have to walk the rest of the way
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2860" id="2860" disabled="">
                                <label for="2860">
                            <i class="icon icon_radio"></i>
                            D. She'll have to pay a fine
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>