<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: I've been doing this for over thirty years now and I've certainly travelled around a bit and seen some places. I know this city like the back of my hand.</p>

                        <p>W: What do you think the most rewarding thing about your job is? Is it the money?</p>

                        <p>M: You must be joking and it's certainly not the cafe food I have all the time. Despite the unsociable hours, it's a fun job because I never know who I'm going to pick up and start chatting to.</p>

                        <p>W: How will you spend your retirement, working in the garden like most people seem to?</p>

                        <p>M: I've been doing a lot of reading about sailing so I'm going to buy myself a little something to sail around the local coast in.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565937585.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.44347%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:11</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. What is the man's job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2861" id="2861" disabled="">
                                <label for="2861">
                            <i class="icon icon_radio"></i>
                            A. ship's captain
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2862" id="2862" disabled="">
                                <label for="2862">
                            <i class="icon icon_radio"></i>
                            B. pilot
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2863" id="2863" disabled="">
                                <label for="2863">
                            <i class="icon icon_radio"></i>
                            C. bus driver
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2864" id="2864" disabled="">
                                <label for="2864">
                            <i class="icon icon_radio"></i>
                            D. taxi driver
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. What does he like about his job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2865" id="2865" disabled="">
                                <label for="2865">
                            <i class="icon icon_radio"></i>
                            A. the hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2866" id="2866" disabled="">
                                <label for="2866">
                            <i class="icon icon_radio"></i>
                            B. meeting people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2867" id="2867" disabled="">
                                <label for="2867">
                            <i class="icon icon_radio"></i>
                            C. the money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2868" id="2868" disabled="">
                                <label for="2868">
                            <i class="icon icon_radio"></i>
                            D. the food
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. What will he do when he retires?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2869" id="2869" disabled="">
                                <label for="2869">
                            <i class="icon icon_radio"></i>
                            A. live abroad
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2870" id="2870" disabled="">
                                <label for="2870">
                            <i class="icon icon_radio"></i>
                            B. buy a boat
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2871" id="2871" disabled="">
                                <label for="2871">
                            <i class="icon icon_radio"></i>
                            C. do more gardening
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2872" id="2872" disabled="">
                                <label for="2872">
                            <i class="icon icon_radio"></i>
                            D. read a lot
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>