<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: This is the living room.</p>

                        <p>W: It's nicely decorated and quite big really.</p>

                        <p>M: Yes, and it has a nice view over the lovely garden. Now I'm very happy for you to have friends staying but the neighbors are quite old so we ask people not to play music late at night and wild parties aren't allowed.</p>

                        <p>W: Oh don't worry, I am taking my final exams this year so there won't be many late nights or parties. The rent is reasonable but I'm a bit worried about the bus service to the university. I haven't seen a bus stop nearby.</p>

                        <p>M: It's about a twenty-minute walk to the bus stop I'm afraid.</p>

                        <p>W: Oh that's a shame. I'm afraid it won't be suitable for me then.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1565937777.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.3679%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:09</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. What does the woman do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="2873" id="2873" disabled="">
                                <label for="2873">
                            <i class="icon icon_radio"></i>
                            A. cleaner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2874" id="2874" disabled="">
                                <label for="2874">
                            <i class="icon icon_radio"></i>
                            B. teacher
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2875" id="2875" disabled="">
                                <label for="2875">
                            <i class="icon icon_radio"></i>
                            C. student
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2876" id="2876" disabled="">
                                <label for="2876">
                            <i class="icon icon_radio"></i>
                            D. singer
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. What is the man worried about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="2877" id="2877" disabled="">
                                <label for="2877">
                            <i class="icon icon_radio"></i>
                            A. the rent being paid on time
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2878" id="2878" disabled="">
                                <label for="2878">
                            <i class="icon icon_radio"></i>
                            B. friends visiting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2879" id="2879" disabled="">
                                <label for="2879">
                            <i class="icon icon_radio"></i>
                            C. too much noise
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2880" id="2880" disabled="">
                                <label for="2880">
                            <i class="icon icon_radio"></i>
                            D. the garden
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. Why doesn't the woman take the flat?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="2881" id="2881" disabled="">
                                <label for="2881">
                            <i class="icon icon_radio"></i>
                            A. its location
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2882" id="2882" disabled="">
                                <label for="2882">
                            <i class="icon icon_radio"></i>
                            B. its size
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2883" id="2883" disabled="">
                                <label for="2883">
                            <i class="icon icon_radio"></i>
                            C. the rent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2884" id="2884" disabled="">
                                <label for="2884">
                            <i class="icon icon_radio"></i>
                            D. the decoration
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>