<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=5">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>101. There seems to be a ____ in this computer program because it won't work no matter what I do</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="100" value="4897" id="4897" disabled="">
                        <label for="4897">
                            <i class="icon icon_radio"></i>
                            A. hole
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4898" id="4898" disabled="">
                        <label for="4898">
                            <i class="icon icon_radio"></i>
                            B. bug
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4899" id="4899" disabled="">
                        <label for="4899">
                            <i class="icon icon_radio"></i>
                            C. rat
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4900" id="4900" disabled="">
                        <label for="4900">
                            <i class="icon icon_radio"></i>
                            D. snag
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>102. The company's new ____ is very innovative</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="101" value="4901" id="4901" disabled="">
                        <label for="4901">
                            <i class="icon icon_radio"></i>
                            A. product
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4902" id="4902" disabled="">
                        <label for="4902">
                            <i class="icon icon_radio"></i>
                            B. produce
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4903" id="4903" disabled="">
                        <label for="4903">
                            <i class="icon icon_radio"></i>
                            C. production
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4904" id="4904" disabled="">
                        <label for="4904">
                            <i class="icon icon_radio"></i>
                            D. prospect
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>103. What a fantastic idea! How did you ever think it ____ ?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="102" value="4905" id="4905" disabled="">
                        <label for="4905">
                            <i class="icon icon_radio"></i>
                            A. of
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4906" id="4906" disabled="">
                        <label for="4906">
                            <i class="icon icon_radio"></i>
                            B. up
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4907" id="4907" disabled="">
                        <label for="4907">
                            <i class="icon icon_radio"></i>
                            C. through
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4908" id="4908" disabled="">
                        <label for="4908">
                            <i class="icon icon_radio"></i>
                            D. over
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>104. The team leader gave an encouraging speech to try to raise the team's</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="103" value="4909" id="4909" disabled="">
                        <label for="4909">
                            <i class="icon icon_radio"></i>
                            A. morals
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4910" id="4910" disabled="">
                        <label for="4910">
                            <i class="icon icon_radio"></i>
                            B. morale
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4911" id="4911" disabled="">
                        <label for="4911">
                            <i class="icon icon_radio"></i>
                            C. stress
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4912" id="4912" disabled="">
                        <label for="4912">
                            <i class="icon icon_radio"></i>
                            D. strategy
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>105. Everyone, apart from Rob and Jenny, ____ late for the meeting yesterday</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="104" value="4913" id="4913" disabled="">
                        <label for="4913">
                            <i class="icon icon_radio"></i>
                            A. was
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4914" id="4914" disabled="">
                        <label for="4914">
                            <i class="icon icon_radio"></i>
                            B. were
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4915" id="4915" disabled="">
                        <label for="4915">
                            <i class="icon icon_radio"></i>
                            C. are
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4916" id="4916" disabled="">
                        <label for="4916">
                            <i class="icon icon_radio"></i>
                            D. is
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>106. Theresa is unlikely to accept the contract unless she can ____ higher fees</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="105" value="4917" id="4917" disabled="">
                        <label for="4917">
                            <i class="icon icon_radio"></i>
                            A. compromise
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4918" id="4918" disabled="">
                        <label for="4918">
                            <i class="icon icon_radio"></i>
                            B. instigate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4919" id="4919" disabled="">
                        <label for="4919">
                            <i class="icon icon_radio"></i>
                            C. captivate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4920" id="4920" disabled="">
                        <label for="4920">
                            <i class="icon icon_radio"></i>
                            D. negotiate
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>107. You've taken on a lot; are you sure this goal is ____ ?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="106" value="4921" id="4921" disabled="">
                        <label for="4921">
                            <i class="icon icon_radio"></i>
                            A. real
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4922" id="4922" disabled="">
                        <label for="4922">
                            <i class="icon icon_radio"></i>
                            B. realistic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4923" id="4923" disabled="">
                        <label for="4923">
                            <i class="icon icon_radio"></i>
                            C. realized
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4924" id="4924" disabled="">
                        <label for="4924">
                            <i class="icon icon_radio"></i>
                            D. realist
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>108. I would like ____ about the vacancy you had advertised</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="107" value="4925" id="4925" disabled="">
                        <label for="4925">
                            <i class="icon icon_radio"></i>
                            A. to enquire
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4926" id="4926" disabled="">
                        <label for="4926">
                            <i class="icon icon_radio"></i>
                            B. enquiring
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4927" id="4927" disabled="">
                        <label for="4927">
                            <i class="icon icon_radio"></i>
                            C. to be enquired
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4928" id="4928" disabled="">
                        <label for="4928">
                            <i class="icon icon_radio"></i>
                            D. enquires
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>109. It is not a good time to borrow money because the interest ____ are very high</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="108" value="4929" id="4929" disabled="">
                        <label for="4929">
                            <i class="icon icon_radio"></i>
                            A. rates
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4930" id="4930" disabled="">
                        <label for="4930">
                            <i class="icon icon_radio"></i>
                            B. prices
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4931" id="4931" disabled="">
                        <label for="4931">
                            <i class="icon icon_radio"></i>
                            C. units
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4932" id="4932" disabled="">
                        <label for="4932">
                            <i class="icon icon_radio"></i>
                            D. points
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>110. Ellen carefully ____ the car into the narrow packing space</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="109" value="4933" id="4933" disabled="">
                        <label for="4933">
                            <i class="icon icon_radio"></i>
                            A. levered
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4934" id="4934" disabled="">
                        <label for="4934">
                            <i class="icon icon_radio"></i>
                            B. led
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4935" id="4935" disabled="">
                        <label for="4935">
                            <i class="icon icon_radio"></i>
                            C. maneuvered
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4936" id="4936" disabled="">
                        <label for="4936">
                            <i class="icon icon_radio"></i>
                            D. manipulated
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>111. "Don't be so ____ . It may not seem like it now, but your hard work will pay off"</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="110" value="4937" id="4937" disabled="">
                        <label for="4937">
                            <i class="icon icon_radio"></i>
                            A. arrogant
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4938" id="4938" disabled="">
                        <label for="4938">
                            <i class="icon icon_radio"></i>
                            B. insolent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4939" id="4939" disabled="">
                        <label for="4939">
                            <i class="icon icon_radio"></i>
                            C. impertinent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4940" id="4940" disabled="">
                        <label for="4940">
                            <i class="icon icon_radio"></i>
                            D. impatient
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>112. The office is quite ____ but a least we have the necessary things like desks and computers!</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="111" value="4941" id="4941" disabled="">
                        <label for="4941">
                            <i class="icon icon_radio"></i>
                            A. inadequate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4942" id="4942" disabled="">
                        <label for="4942">
                            <i class="icon icon_radio"></i>
                            B. basic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4943" id="4943" disabled="">
                        <label for="4943">
                            <i class="icon icon_radio"></i>
                            C. plush
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4944" id="4944" disabled="">
                        <label for="4944">
                            <i class="icon icon_radio"></i>
                            D. plain
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>113. We will send you an ____ with your order and you can pay then</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="112" value="4945" id="4945" disabled="">
                        <label for="4945">
                            <i class="icon icon_radio"></i>
                            A. invoice
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4946" id="4946" disabled="">
                        <label for="4946">
                            <i class="icon icon_radio"></i>
                            B. inventory
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4947" id="4947" disabled="">
                        <label for="4947">
                            <i class="icon icon_radio"></i>
                            C. investment
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4948" id="4948" disabled="">
                        <label for="4948">
                            <i class="icon icon_radio"></i>
                            D. input
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>114. I will accept the position with ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="113" value="4949" id="4949" disabled="">
                        <label for="4949">
                            <i class="icon icon_radio"></i>
                            A. please
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4950" id="4950" disabled="">
                        <label for="4950">
                            <i class="icon icon_radio"></i>
                            B. pleasing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4951" id="4951" disabled="">
                        <label for="4951">
                            <i class="icon icon_radio"></i>
                            C. pleasant
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4952" id="4952" disabled="">
                        <label for="4952">
                            <i class="icon icon_radio"></i>
                            D. pleasure
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>115. Are you ____ with Mr. Jones, out company president?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="114" value="4953" id="4953" disabled="">
                        <label for="4953">
                            <i class="icon icon_radio"></i>
                            A. met
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4954" id="4954" disabled="">
                        <label for="4954">
                            <i class="icon icon_radio"></i>
                            B. introduced
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4955" id="4955" disabled="">
                        <label for="4955">
                            <i class="icon icon_radio"></i>
                            C. acquainted
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4956" id="4956" disabled="">
                        <label for="4956">
                            <i class="icon icon_radio"></i>
                            D. communicated
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>116. The ____ of computer science currently offers many job opportunities</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="115" value="4957" id="4957" disabled="">
                        <label for="4957">
                            <i class="icon icon_radio"></i>
                            A. company
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4958" id="4958" disabled="">
                        <label for="4958">
                            <i class="icon icon_radio"></i>
                            B. field
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4959" id="4959" disabled="">
                        <label for="4959">
                            <i class="icon icon_radio"></i>
                            C. knowledge
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4960" id="4960" disabled="">
                        <label for="4960">
                            <i class="icon icon_radio"></i>
                            D. platform
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>117. Sophia was exhausted, ____ she kept working</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="116" value="4961" id="4961" disabled="">
                        <label for="4961">
                            <i class="icon icon_radio"></i>
                            A. altogether
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4962" id="4962" disabled="">
                        <label for="4962">
                            <i class="icon icon_radio"></i>
                            B. therefore
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4963" id="4963" disabled="">
                        <label for="4963">
                            <i class="icon icon_radio"></i>
                            C. though
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4964" id="4964" disabled="">
                        <label for="4964">
                            <i class="icon icon_radio"></i>
                            D. yet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>118. Mary is an ____ part of team; without her organizational skills, none of us would be able to find anything!</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="117" value="4965" id="4965" disabled="">
                        <label for="4965">
                            <i class="icon icon_radio"></i>
                            A. insignificant
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4966" id="4966" disabled="">
                        <label for="4966">
                            <i class="icon icon_radio"></i>
                            B. independent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4967" id="4967" disabled="">
                        <label for="4967">
                            <i class="icon icon_radio"></i>
                            C. integral
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4968" id="4968" disabled="">
                        <label for="4968">
                            <i class="icon icon_radio"></i>
                            D. integrated
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>119. I ____ to the city center now, if you would like a lift</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="118" value="4969" id="4969" disabled="">
                        <label for="4969">
                            <i class="icon icon_radio"></i>
                            A. will going
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4970" id="4970" disabled="">
                        <label for="4970">
                            <i class="icon icon_radio"></i>
                            B. go
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4971" id="4971" disabled="">
                        <label for="4971">
                            <i class="icon icon_radio"></i>
                            C. am going
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4972" id="4972" disabled="">
                        <label for="4972">
                            <i class="icon icon_radio"></i>
                            D. to go
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>120. Jo's cheerful ____ gives the office a friendly feeling</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="119" value="4973" id="4973" disabled="">
                        <label for="4973">
                            <i class="icon icon_radio"></i>
                            A. instigation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4974" id="4974" disabled="">
                        <label for="4974">
                            <i class="icon icon_radio"></i>
                            B. description
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4975" id="4975" disabled="">
                        <label for="4975">
                            <i class="icon icon_radio"></i>
                            C. disposition
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4976" id="4976" disabled="">
                        <label for="4976">
                            <i class="icon icon_radio"></i>
                            D. inclination
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>121. Mr. Tyler and Mr. Seth decided to ____ because they would be able to achieve more if they worked together</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="120" value="4977" id="4977" disabled="">
                        <label for="4977">
                            <i class="icon icon_radio"></i>
                            A. adapt
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4978" id="4978" disabled="">
                        <label for="4978">
                            <i class="icon icon_radio"></i>
                            B. comply
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4979" id="4979" disabled="">
                        <label for="4979">
                            <i class="icon icon_radio"></i>
                            C. collaborate
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4980" id="4980" disabled="">
                        <label for="4980">
                            <i class="icon icon_radio"></i>
                            D. moderate
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>122. I think I over ____ George's abilities; he doesn't seem able to cope with the deadlines</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="121" value="4981" id="4981" disabled="">
                        <label for="4981">
                            <i class="icon icon_radio"></i>
                            A. estimated
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4982" id="4982" disabled="">
                        <label for="4982">
                            <i class="icon icon_radio"></i>
                            B. judged
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4983" id="4983" disabled="">
                        <label for="4983">
                            <i class="icon icon_radio"></i>
                            C. counted
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4984" id="4984" disabled="">
                        <label for="4984">
                            <i class="icon icon_radio"></i>
                            D. reached
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>123. if you ____ close the window, it would be much appreciated; I'm a bit cold</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="122" value="4985" id="4985" disabled="">
                        <label for="4985">
                            <i class="icon icon_radio"></i>
                            A. might
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4986" id="4986" disabled="">
                        <label for="4986">
                            <i class="icon icon_radio"></i>
                            B. ought to
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4987" id="4987" disabled="">
                        <label for="4987">
                            <i class="icon icon_radio"></i>
                            C. happen to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4988" id="4988" disabled="">
                        <label for="4988">
                            <i class="icon icon_radio"></i>
                            D. occur
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>124. There was a rumor in the company that the job would be given to a well-known ____ candidate</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="123" value="4989" id="4989" disabled="">
                        <label for="4989">
                            <i class="icon icon_radio"></i>
                            A. internal
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4990" id="4990" disabled="">
                        <label for="4990">
                            <i class="icon icon_radio"></i>
                            B. interval
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4991" id="4991" disabled="">
                        <label for="4991">
                            <i class="icon icon_radio"></i>
                            C. infernal
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4992" id="4992" disabled="">
                        <label for="4992">
                            <i class="icon icon_radio"></i>
                            D. inverse
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>125. I have complete confidence ____ your ability to solve this problem</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="124" value="4993" id="4993" disabled="">
                        <label for="4993">
                            <i class="icon icon_radio"></i>
                            A. for
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4994" id="4994" disabled="">
                        <label for="4994">
                            <i class="icon icon_radio"></i>
                            B. in
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4995" id="4995" disabled="">
                        <label for="4995">
                            <i class="icon icon_radio"></i>
                            C. of
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4996" id="4996" disabled="">
                        <label for="4996">
                            <i class="icon icon_radio"></i>
                            D. with
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>126. Are we required to ____ the computer training course?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="125" value="4997" id="4997" disabled="">
                        <label for="4997">
                            <i class="icon icon_radio"></i>
                            A. attend
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4998" id="4998" disabled="">
                        <label for="4998">
                            <i class="icon icon_radio"></i>
                            B. commit
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4999" id="4999" disabled="">
                        <label for="4999">
                            <i class="icon icon_radio"></i>
                            C. assign
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="5000" id="5000" disabled="">
                        <label for="5000">
                            <i class="icon icon_radio"></i>
                            D. contain
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>127. We need to take these steps to ____ our profits</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="126" value="5001" id="5001" disabled="">
                        <label for="5001">
                            <i class="icon icon_radio"></i>
                            A. maximum
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5002" id="5002" disabled="">
                        <label for="5002">
                            <i class="icon icon_radio"></i>
                            B. maximize
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5003" id="5003" disabled="">
                        <label for="5003">
                            <i class="icon icon_radio"></i>
                            C. maximal
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5004" id="5004" disabled="">
                        <label for="5004">
                            <i class="icon icon_radio"></i>
                            D. maximization
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>128. After applying for dozens of jobs, Elizabeth was finally ____ for a interview</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="127" value="5005" id="5005" disabled="">
                        <label for="5005">
                            <i class="icon icon_radio"></i>
                            A. called
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5006" id="5006" disabled="">
                        <label for="5006">
                            <i class="icon icon_radio"></i>
                            B. drawn
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5007" id="5007" disabled="">
                        <label for="5007">
                            <i class="icon icon_radio"></i>
                            C. offered
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5008" id="5008" disabled="">
                        <label for="5008">
                            <i class="icon icon_radio"></i>
                            D. named
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>129. We could stay in the Holiday Inn, but I would ____ stay in Bed and Breakfast</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="128" value="5009" id="5009" disabled="">
                        <label for="5009">
                            <i class="icon icon_radio"></i>
                            A. either
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5010" id="5010" disabled="">
                        <label for="5010">
                            <i class="icon icon_radio"></i>
                            B. however
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5011" id="5011" disabled="">
                        <label for="5011">
                            <i class="icon icon_radio"></i>
                            C. neigher
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5012" id="5012" disabled="">
                        <label for="5012">
                            <i class="icon icon_radio"></i>
                            D. rather
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>130. The traffic accident was one more ____ that he did not need that day</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="129" value="5013" id="5013" disabled="">
                        <label for="5013">
                            <i class="icon icon_radio"></i>
                            A. adversary
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5014" id="5014" disabled="">
                        <label for="5014">
                            <i class="icon icon_radio"></i>
                            B. adversity
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5015" id="5015" disabled="">
                        <label for="5015">
                            <i class="icon icon_radio"></i>
                            C. inversion
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5016" id="5016" disabled="">
                        <label for="5016">
                            <i class="icon icon_radio"></i>
                            D. aversion
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>131. The small companies could not ____ with the low prices of the large producer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="130" value="5017" id="5017" disabled="">
                        <label for="5017">
                            <i class="icon icon_radio"></i>
                            A. contradict
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5018" id="5018" disabled="">
                        <label for="5018">
                            <i class="icon icon_radio"></i>
                            B. compete
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5019" id="5019" disabled="">
                        <label for="5019">
                            <i class="icon icon_radio"></i>
                            C. commit
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5020" id="5020" disabled="">
                        <label for="5020">
                            <i class="icon icon_radio"></i>
                            D. comprehend
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>132. Nobody will stand up for you if you don't stand up for ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="131" value="5021" id="5021" disabled="">
                        <label for="5021">
                            <i class="icon icon_radio"></i>
                            A. you
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5022" id="5022" disabled="">
                        <label for="5022">
                            <i class="icon icon_radio"></i>
                            B. yours
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5023" id="5023" disabled="">
                        <label for="5023">
                            <i class="icon icon_radio"></i>
                            C. yourself
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5024" id="5024" disabled="">
                        <label for="5024">
                            <i class="icon icon_radio"></i>
                            D. your own
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>133. If you do not ____ with the dress code, you may be disciplined</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="132" value="5025" id="5025" disabled="">
                        <label for="5025">
                            <i class="icon icon_radio"></i>
                            A. comply
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5026" id="5026" disabled="">
                        <label for="5026">
                            <i class="icon icon_radio"></i>
                            B. reply
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5027" id="5027" disabled="">
                        <label for="5027">
                            <i class="icon icon_radio"></i>
                            C. apply
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5028" id="5028" disabled="">
                        <label for="5028">
                            <i class="icon icon_radio"></i>
                            D. imply
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>134. In July, the tourist office was ____ up for a busy month</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="133" value="5029" id="5029" disabled="">
                        <label for="5029">
                            <i class="icon icon_radio"></i>
                            A. gearing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5030" id="5030" disabled="">
                        <label for="5030">
                            <i class="icon icon_radio"></i>
                            B. breaking
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5031" id="5031" disabled="">
                        <label for="5031">
                            <i class="icon icon_radio"></i>
                            C. running
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5032" id="5032" disabled="">
                        <label for="5032">
                            <i class="icon icon_radio"></i>
                            D. turning
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>135. Michael always wears expensive ____ name suits</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="134" value="5033" id="5033" disabled="">
                        <label for="5033">
                            <i class="icon icon_radio"></i>
                            A. real
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5034" id="5034" disabled="">
                        <label for="5034">
                            <i class="icon icon_radio"></i>
                            B. brand
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5035" id="5035" disabled="">
                        <label for="5035">
                            <i class="icon icon_radio"></i>
                            C. product
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5036" id="5036" disabled="">
                        <label for="5036">
                            <i class="icon icon_radio"></i>
                            D. firm
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>136. Don't forget to list your car among your other ____ when filling out the tax form</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="135" value="5037" id="5037" disabled="">
                        <label for="5037">
                            <i class="icon icon_radio"></i>
                            A. profits
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5038" id="5038" disabled="">
                        <label for="5038">
                            <i class="icon icon_radio"></i>
                            B. extras
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5039" id="5039" disabled="">
                        <label for="5039">
                            <i class="icon icon_radio"></i>
                            C. liabilities
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5040" id="5040" disabled="">
                        <label for="5040">
                            <i class="icon icon_radio"></i>
                            D. assets
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>137. If it ____ not for Adams quick thinking, we would have lost the client</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="136" value="5041" id="5041" disabled="">
                        <label for="5041">
                            <i class="icon icon_radio"></i>
                            A. is
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5042" id="5042" disabled="">
                        <label for="5042">
                            <i class="icon icon_radio"></i>
                            B. be
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5043" id="5043" disabled="">
                        <label for="5043">
                            <i class="icon icon_radio"></i>
                            C. was
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5044" id="5044" disabled="">
                        <label for="5044">
                            <i class="icon icon_radio"></i>
                            D. had been
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>138. On the ____ of last year's marketing data, I think we should focus our efforts on product three</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="137" value="5045" id="5045" disabled="">
                        <label for="5045">
                            <i class="icon icon_radio"></i>
                            A. basis
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5046" id="5046" disabled="">
                        <label for="5046">
                            <i class="icon icon_radio"></i>
                            B. background
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5047" id="5047" disabled="">
                        <label for="5047">
                            <i class="icon icon_radio"></i>
                            C. bias
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5048" id="5048" disabled="">
                        <label for="5048">
                            <i class="icon icon_radio"></i>
                            D. breadth
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>139. The restaurant where we had lunch had a tranquil ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="138" value="5049" id="5049" disabled="">
                        <label for="5049">
                            <i class="icon icon_radio"></i>
                            A. atmosphere
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5050" id="5050" disabled="">
                        <label for="5050">
                            <i class="icon icon_radio"></i>
                            B. demeanor
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5051" id="5051" disabled="">
                        <label for="5051">
                            <i class="icon icon_radio"></i>
                            C. compliment
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5052" id="5052" disabled="">
                        <label for="5052">
                            <i class="icon icon_radio"></i>
                            D. personality
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>140. This quarter we would like to see our product enjoy a wider ____ , and perhaps even go international</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="139" value="5053" id="5053" disabled="">
                        <label for="5053">
                            <i class="icon icon_radio"></i>
                            A. distribute
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5054" id="5054" disabled="">
                        <label for="5054">
                            <i class="icon icon_radio"></i>
                            B. distributing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5055" id="5055" disabled="">
                        <label for="5055">
                            <i class="icon icon_radio"></i>
                            C. distribution
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5056" id="5056" disabled="">
                        <label for="5056">
                            <i class="icon icon_radio"></i>
                            D. distributional
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>