<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=5">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>101. ____ liberal arts graduates go on to receive graduate degrees</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="100" value="4577" id="4577" disabled="">
                        <label for="4577">
                            <i class="icon icon_radio"></i>
                            A. More than most
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4578" id="4578" disabled="">
                        <label for="4578">
                            <i class="icon icon_radio"></i>
                            B. More and most
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4579" id="4579" disabled="">
                        <label for="4579">
                            <i class="icon icon_radio"></i>
                            C. The majority of
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4580" id="4580" disabled="">
                        <label for="4580">
                            <i class="icon icon_radio"></i>
                            D. The most of
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>102. When is was first invented, people were afraid that the TV would be a dangerous ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="101" value="4581" id="4581" disabled="">
                        <label for="4581">
                            <i class="icon icon_radio"></i>
                            A. accommodation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4582" id="4582" disabled="">
                        <label for="4582">
                            <i class="icon icon_radio"></i>
                            B. luxury
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4583" id="4583" disabled="">
                        <label for="4583">
                            <i class="icon icon_radio"></i>
                            C. quality
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4584" id="4584" disabled="">
                        <label for="4584">
                            <i class="icon icon_radio"></i>
                            D. freight
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>103. Since it is an upscale restaurant, one must ____ a table in advance</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="102" value="4585" id="4585" disabled="">
                        <label for="4585">
                            <i class="icon icon_radio"></i>
                            A. have to reserve
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4586" id="4586" disabled="">
                        <label for="4586">
                            <i class="icon icon_radio"></i>
                            B. be reserved
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4587" id="4587" disabled="">
                        <label for="4587">
                            <i class="icon icon_radio"></i>
                            C. reserve
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4588" id="4588" disabled="">
                        <label for="4588">
                            <i class="icon icon_radio"></i>
                            D. have been reserved
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>104. Ms. Drews felt like she had big shoes to fill since her ____ was so remarkable</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="103" value="4589" id="4589" disabled="">
                        <label for="4589">
                            <i class="icon icon_radio"></i>
                            A. predictor
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4590" id="4590" disabled="">
                        <label for="4590">
                            <i class="icon icon_radio"></i>
                            B. predator
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4591" id="4591" disabled="">
                        <label for="4591">
                            <i class="icon icon_radio"></i>
                            C. preliminary
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4592" id="4592" disabled="">
                        <label for="4592">
                            <i class="icon icon_radio"></i>
                            D. predecessor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>105. Flash photography or video recording ____ in the auditorium</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="104" value="4593" id="4593" disabled="">
                        <label for="4593">
                            <i class="icon icon_radio"></i>
                            A. are not allowing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4594" id="4594" disabled="">
                        <label for="4594">
                            <i class="icon icon_radio"></i>
                            B. will have no rights
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4595" id="4595" disabled="">
                        <label for="4595">
                            <i class="icon icon_radio"></i>
                            C. are not permitted
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4596" id="4596" disabled="">
                        <label for="4596">
                            <i class="icon icon_radio"></i>
                            D. will have no admission
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>106. I'll be out for breakfast as soon as I ____ my hair</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="105" value="4597" id="4597" disabled="">
                        <label for="4597">
                            <i class="icon icon_radio"></i>
                            A. do
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4598" id="4598" disabled="">
                        <label for="4598">
                            <i class="icon icon_radio"></i>
                            B. make
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4599" id="4599" disabled="">
                        <label for="4599">
                            <i class="icon icon_radio"></i>
                            C. take
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4600" id="4600" disabled="">
                        <label for="4600">
                            <i class="icon icon_radio"></i>
                            D. put
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>107. Unfortunately, the Pod200 is currently out of stock; would you like to buy ____ item?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="106" value="4601" id="4601" disabled="">
                        <label for="4601">
                            <i class="icon icon_radio"></i>
                            A. different
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4602" id="4602" disabled="">
                        <label for="4602">
                            <i class="icon icon_radio"></i>
                            B. alternative
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4603" id="4603" disabled="">
                        <label for="4603">
                            <i class="icon icon_radio"></i>
                            C. further
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4604" id="4604" disabled="">
                        <label for="4604">
                            <i class="icon icon_radio"></i>
                            D. another
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>108. The cost of the shuttle bus from the airport to the hotel is ____ $40</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="107" value="4605" id="4605" disabled="">
                        <label for="4605">
                            <i class="icon icon_radio"></i>
                            A. approximately
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4606" id="4606" disabled="">
                        <label for="4606">
                            <i class="icon icon_radio"></i>
                            B. relatively
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4607" id="4607" disabled="">
                        <label for="4607">
                            <i class="icon icon_radio"></i>
                            C. plausibly
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4608" id="4608" disabled="">
                        <label for="4608">
                            <i class="icon icon_radio"></i>
                            D. reliably
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>109. This comfortable couch comes in ____ colors and patterns</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="108" value="4609" id="4609" disabled="">
                        <label for="4609">
                            <i class="icon icon_radio"></i>
                            A. dozens of
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4610" id="4610" disabled="">
                        <label for="4610">
                            <i class="icon icon_radio"></i>
                            B. many of
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4611" id="4611" disabled="">
                        <label for="4611">
                            <i class="icon icon_radio"></i>
                            C. numerous of
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4612" id="4612" disabled="">
                        <label for="4612">
                            <i class="icon icon_radio"></i>
                            D. variety of
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>110. It is unfortunate that she made such a bad first impression when ____ her boss</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="109" value="4613" id="4613" disabled="">
                        <label for="4613">
                            <i class="icon icon_radio"></i>
                            A. she has met
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4614" id="4614" disabled="">
                        <label for="4614">
                            <i class="icon icon_radio"></i>
                            B. met
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4615" id="4615" disabled="">
                        <label for="4615">
                            <i class="icon icon_radio"></i>
                            C. meeting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4616" id="4616" disabled="">
                        <label for="4616">
                            <i class="icon icon_radio"></i>
                            D. she meets
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>111. They all went out for drinks to celebrate completing the most important business ____ of the year</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="110" value="4617" id="4617" disabled="">
                        <label for="4617">
                            <i class="icon icon_radio"></i>
                            A. transaction
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4618" id="4618" disabled="">
                        <label for="4618">
                            <i class="icon icon_radio"></i>
                            B. translation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4619" id="4619" disabled="">
                        <label for="4619">
                            <i class="icon icon_radio"></i>
                            C. transplant
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4620" id="4620" disabled="">
                        <label for="4620">
                            <i class="icon icon_radio"></i>
                            D. transcendence
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>112. The Dragonfly Inn, in downtown Duluth, sits ____ Lake Superior</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="111" value="4621" id="4621" disabled="">
                        <label for="4621">
                            <i class="icon icon_radio"></i>
                            A. overhearing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4622" id="4622" disabled="">
                        <label for="4622">
                            <i class="icon icon_radio"></i>
                            B. overruling
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4623" id="4623" disabled="">
                        <label for="4623">
                            <i class="icon icon_radio"></i>
                            C. overshadowing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4624" id="4624" disabled="">
                        <label for="4624">
                            <i class="icon icon_radio"></i>
                            D. overlooking
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>113. Repairing the fax machine is ____ of utmost importance to those in the administration office</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="112" value="4625" id="4625" disabled="">
                        <label for="4625">
                            <i class="icon icon_radio"></i>
                            A. collectively
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4626" id="4626" disabled="">
                        <label for="4626">
                            <i class="icon icon_radio"></i>
                            B. currently
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4627" id="4627" disabled="">
                        <label for="4627">
                            <i class="icon icon_radio"></i>
                            C. relatively
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4628" id="4628" disabled="">
                        <label for="4628">
                            <i class="icon icon_radio"></i>
                            D. gradually
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>114. Clever advertisements are the most effective may of ____ the consumer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="113" value="4629" id="4629" disabled="">
                        <label for="4629">
                            <i class="icon icon_radio"></i>
                            A. contracting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4630" id="4630" disabled="">
                        <label for="4630">
                            <i class="icon icon_radio"></i>
                            B. warning
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4631" id="4631" disabled="">
                        <label for="4631">
                            <i class="icon icon_radio"></i>
                            C. reaching
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4632" id="4632" disabled="">
                        <label for="4632">
                            <i class="icon icon_radio"></i>
                            D. perceiving
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>115. Dr. Arnold's presentation was ____ by a short introduction of who she was what some of her career highlights had hem</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="114" value="4633" id="4633" disabled="">
                        <label for="4633">
                            <i class="icon icon_radio"></i>
                            A. receded
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4634" id="4634" disabled="">
                        <label for="4634">
                            <i class="icon icon_radio"></i>
                            B. preceded
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4635" id="4635" disabled="">
                        <label for="4635">
                            <i class="icon icon_radio"></i>
                            C. precluded
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4636" id="4636" disabled="">
                        <label for="4636">
                            <i class="icon icon_radio"></i>
                            D. retreated
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>116. We carve give you a cash refund, but we ____ your account</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="115" value="4637" id="4637" disabled="">
                        <label for="4637">
                            <i class="icon icon_radio"></i>
                            A. are to he crecited
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4638" id="4638" disabled="">
                        <label for="4638">
                            <i class="icon icon_radio"></i>
                            B. are going in credit
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4639" id="4639" disabled="">
                        <label for="4639">
                            <i class="icon icon_radio"></i>
                            C. will credit
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4640" id="4640" disabled="">
                        <label for="4640">
                            <i class="icon icon_radio"></i>
                            D. are about crediting
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>117. There are no ____ that the union will retract their demands any time soon</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="116" value="4641" id="4641" disabled="">
                        <label for="4641">
                            <i class="icon icon_radio"></i>
                            A. symptoms
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4642" id="4642" disabled="">
                        <label for="4642">
                            <i class="icon icon_radio"></i>
                            B. displays
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4643" id="4643" disabled="">
                        <label for="4643">
                            <i class="icon icon_radio"></i>
                            C. signs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4644" id="4644" disabled="">
                        <label for="4644">
                            <i class="icon icon_radio"></i>
                            D. features
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>118. Mr. Deldlers resignation came as a ____ to everyone at the firm</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="117" value="4645" id="4645" disabled="">
                        <label for="4645">
                            <i class="icon icon_radio"></i>
                            A. surprise
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4646" id="4646" disabled="">
                        <label for="4646">
                            <i class="icon icon_radio"></i>
                            B. surrender
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4647" id="4647" disabled="">
                        <label for="4647">
                            <i class="icon icon_radio"></i>
                            C. surmise
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4648" id="4648" disabled="">
                        <label for="4648">
                            <i class="icon icon_radio"></i>
                            D. surplus
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>119. You can make an outstanding first impression and improve your credibility as a professional ____ simply wearing a sharp outfit</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="118" value="4649" id="4649" disabled="">
                        <label for="4649">
                            <i class="icon icon_radio"></i>
                            A. as
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4650" id="4650" disabled="">
                        <label for="4650">
                            <i class="icon icon_radio"></i>
                            B. if just
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4651" id="4651" disabled="">
                        <label for="4651">
                            <i class="icon icon_radio"></i>
                            C. that
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4652" id="4652" disabled="">
                        <label for="4652">
                            <i class="icon icon_radio"></i>
                            D. by
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>120. For your ____ , Rainbow Mart will be open on Sundays</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="119" value="4653" id="4653" disabled="">
                        <label for="4653">
                            <i class="icon icon_radio"></i>
                            A. request
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4654" id="4654" disabled="">
                        <label for="4654">
                            <i class="icon icon_radio"></i>
                            B. desire
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4655" id="4655" disabled="">
                        <label for="4655">
                            <i class="icon icon_radio"></i>
                            C. assistance
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4656" id="4656" disabled="">
                        <label for="4656">
                            <i class="icon icon_radio"></i>
                            D. convenience
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>121. Syracuse's new freshman point guard is going to be the one ____ this season</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="120" value="4657" id="4657" disabled="">
                        <label for="4657">
                            <i class="icon icon_radio"></i>
                            A. watching
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4658" id="4658" disabled="">
                        <label for="4658">
                            <i class="icon icon_radio"></i>
                            B. to watch
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4659" id="4659" disabled="">
                        <label for="4659">
                            <i class="icon icon_radio"></i>
                            C. watches
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4660" id="4660" disabled="">
                        <label for="4660">
                            <i class="icon icon_radio"></i>
                            D. who watches
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>122. No one could believe that Sandra and I completed the project ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="121" value="4661" id="4661" disabled="">
                        <label for="4661">
                            <i class="icon icon_radio"></i>
                            A. by us
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4662" id="4662" disabled="">
                        <label for="4662">
                            <i class="icon icon_radio"></i>
                            B. by our own
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4663" id="4663" disabled="">
                        <label for="4663">
                            <i class="icon icon_radio"></i>
                            C. on ourselves
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4664" id="4664" disabled="">
                        <label for="4664">
                            <i class="icon icon_radio"></i>
                            D. ourselves
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>123. ____ the university to approve the research proposal, we would have to the study completed by January 2009</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="122" value="4665" id="4665" disabled="">
                        <label for="4665">
                            <i class="icon icon_radio"></i>
                            A. Providing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4666" id="4666" disabled="">
                        <label for="4666">
                            <i class="icon icon_radio"></i>
                            B. As long as
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4667" id="4667" disabled="">
                        <label for="4667">
                            <i class="icon icon_radio"></i>
                            C. Were
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4668" id="4668" disabled="">
                        <label for="4668">
                            <i class="icon icon_radio"></i>
                            D. Hoping that
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>124. I am so ____ of Paul for all his accomplishments</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="123" value="4669" id="4669" disabled="">
                        <label for="4669">
                            <i class="icon icon_radio"></i>
                            A. proud
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4670" id="4670" disabled="">
                        <label for="4670">
                            <i class="icon icon_radio"></i>
                            B. hope
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4671" id="4671" disabled="">
                        <label for="4671">
                            <i class="icon icon_radio"></i>
                            C. disappointed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4672" id="4672" disabled="">
                        <label for="4672">
                            <i class="icon icon_radio"></i>
                            D. uneasy
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>125. Sexual harassment in the office is more ____ than one might think</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="124" value="4673" id="4673" disabled="">
                        <label for="4673">
                            <i class="icon icon_radio"></i>
                            A. often
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4674" id="4674" disabled="">
                        <label for="4674">
                            <i class="icon icon_radio"></i>
                            B. introvert
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4675" id="4675" disabled="">
                        <label for="4675">
                            <i class="icon icon_radio"></i>
                            C. common
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4676" id="4676" disabled="">
                        <label for="4676">
                            <i class="icon icon_radio"></i>
                            D. normal
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>126. Everyone was shocked to hear Mr. Blum ____ from the job</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="125" value="4677" id="4677" disabled="">
                        <label for="4677">
                            <i class="icon icon_radio"></i>
                            A. fired him
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4678" id="4678" disabled="">
                        <label for="4678">
                            <i class="icon icon_radio"></i>
                            B. had fired
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4679" id="4679" disabled="">
                        <label for="4679">
                            <i class="icon icon_radio"></i>
                            C. who had fired him
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4680" id="4680" disabled="">
                        <label for="4680">
                            <i class="icon icon_radio"></i>
                            D. who was fired
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>127. If you are not satisfied with the DVDs, you can return ____ within forty days for a full refund</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="126" value="4681" id="4681" disabled="">
                        <label for="4681">
                            <i class="icon icon_radio"></i>
                            A. yourselves
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4682" id="4682" disabled="">
                        <label for="4682">
                            <i class="icon icon_radio"></i>
                            B. it
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4683" id="4683" disabled="">
                        <label for="4683">
                            <i class="icon icon_radio"></i>
                            C. yourself
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4684" id="4684" disabled="">
                        <label for="4684">
                            <i class="icon icon_radio"></i>
                            D. them
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>128. He took the jacket ____ to the dry-cleaner's to get it cleaned</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="127" value="4685" id="4685" disabled="">
                        <label for="4685">
                            <i class="icon icon_radio"></i>
                            A. that we bought it
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4686" id="4686" disabled="">
                        <label for="4686">
                            <i class="icon icon_radio"></i>
                            B. that we bought
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4687" id="4687" disabled="">
                        <label for="4687">
                            <i class="icon icon_radio"></i>
                            C. that had bought
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4688" id="4688" disabled="">
                        <label for="4688">
                            <i class="icon icon_radio"></i>
                            D. that bought it
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>129. The Star Gazette is the ____ newspaper in all of Columbus, Ohio</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="128" value="4689" id="4689" disabled="">
                        <label for="4689">
                            <i class="icon icon_radio"></i>
                            A. lead
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4690" id="4690" disabled="">
                        <label for="4690">
                            <i class="icon icon_radio"></i>
                            B. leading
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4691" id="4691" disabled="">
                        <label for="4691">
                            <i class="icon icon_radio"></i>
                            C. leader
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4692" id="4692" disabled="">
                        <label for="4692">
                            <i class="icon icon_radio"></i>
                            D. leadership
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>130. Linda promised not to leave the company until they had found a ____ for her</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="129" value="4693" id="4693" disabled="">
                        <label for="4693">
                            <i class="icon icon_radio"></i>
                            A. reputation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4694" id="4694" disabled="">
                        <label for="4694">
                            <i class="icon icon_radio"></i>
                            B. reprisal
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4695" id="4695" disabled="">
                        <label for="4695">
                            <i class="icon icon_radio"></i>
                            C. repetition
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4696" id="4696" disabled="">
                        <label for="4696">
                            <i class="icon icon_radio"></i>
                            D. replacement
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>131. Not wanting the responsibility, Connie declined the position for head of purchasing ____ and graciously</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="130" value="4697" id="4697" disabled="">
                        <label for="4697">
                            <i class="icon icon_radio"></i>
                            A. barely
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4698" id="4698" disabled="">
                        <label for="4698">
                            <i class="icon icon_radio"></i>
                            B. aggressively
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4699" id="4699" disabled="">
                        <label for="4699">
                            <i class="icon icon_radio"></i>
                            C. respectfully
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4700" id="4700" disabled="">
                        <label for="4700">
                            <i class="icon icon_radio"></i>
                            D. regularly
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>132. The topics of the meeting were carefully outlined in the ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="131" value="4701" id="4701" disabled="">
                        <label for="4701">
                            <i class="icon icon_radio"></i>
                            A. menu
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4702" id="4702" disabled="">
                        <label for="4702">
                            <i class="icon icon_radio"></i>
                            B. curriculm
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4703" id="4703" disabled="">
                        <label for="4703">
                            <i class="icon icon_radio"></i>
                            C. blueprint
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4704" id="4704" disabled="">
                        <label for="4704">
                            <i class="icon icon_radio"></i>
                            D. agenda
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>133. All computers on the company's network have now been ____ with the latest software</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="132" value="4705" id="4705" disabled="">
                        <label for="4705">
                            <i class="icon icon_radio"></i>
                            A. update
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4706" id="4706" disabled="">
                        <label for="4706">
                            <i class="icon icon_radio"></i>
                            B. exhibited
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4707" id="4707" disabled="">
                        <label for="4707">
                            <i class="icon icon_radio"></i>
                            C. downloaded
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4708" id="4708" disabled="">
                        <label for="4708">
                            <i class="icon icon_radio"></i>
                            D. labeled
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>134. Please write your name, home phone number and home ____ on this form legibly, so that we have all the correct information</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="133" value="4709" id="4709" disabled="">
                        <label for="4709">
                            <i class="icon icon_radio"></i>
                            A. direction
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4710" id="4710" disabled="">
                        <label for="4710">
                            <i class="icon icon_radio"></i>
                            B. address
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4711" id="4711" disabled="">
                        <label for="4711">
                            <i class="icon icon_radio"></i>
                            C. route
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4712" id="4712" disabled="">
                        <label for="4712">
                            <i class="icon icon_radio"></i>
                            D. residence
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>135. The most dedicated fans attended the game ____ the pouring rain</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="134" value="4713" id="4713" disabled="">
                        <label for="4713">
                            <i class="icon icon_radio"></i>
                            A. even though
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4714" id="4714" disabled="">
                        <label for="4714">
                            <i class="icon icon_radio"></i>
                            B. although
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4715" id="4715" disabled="">
                        <label for="4715">
                            <i class="icon icon_radio"></i>
                            C. despite
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4716" id="4716" disabled="">
                        <label for="4716">
                            <i class="icon icon_radio"></i>
                            D. regardless
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>136. Not only children ____ adults can enjoy this new animated film</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="135" value="4717" id="4717" disabled="">
                        <label for="4717">
                            <i class="icon icon_radio"></i>
                            A. but also
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4718" id="4718" disabled="">
                        <label for="4718">
                            <i class="icon icon_radio"></i>
                            B. as well as
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4719" id="4719" disabled="">
                        <label for="4719">
                            <i class="icon icon_radio"></i>
                            C. besides
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4720" id="4720" disabled="">
                        <label for="4720">
                            <i class="icon icon_radio"></i>
                            D. and
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>137. Rarely ____ encountered this many difficulties</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="136" value="4721" id="4721" disabled="">
                        <label for="4721">
                            <i class="icon icon_radio"></i>
                            A. that they have
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4722" id="4722" disabled="">
                        <label for="4722">
                            <i class="icon icon_radio"></i>
                            B. have they
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4723" id="4723" disabled="">
                        <label for="4723">
                            <i class="icon icon_radio"></i>
                            C. having had
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4724" id="4724" disabled="">
                        <label for="4724">
                            <i class="icon icon_radio"></i>
                            D. they have
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>138. Members became apprehensive when negotiations reached a(n) ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="137" value="4725" id="4725" disabled="">
                        <label for="4725">
                            <i class="icon icon_radio"></i>
                            A. position
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4726" id="4726" disabled="">
                        <label for="4726">
                            <i class="icon icon_radio"></i>
                            B. standstill
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4727" id="4727" disabled="">
                        <label for="4727">
                            <i class="icon icon_radio"></i>
                            C. arrangement
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4728" id="4728" disabled="">
                        <label for="4728">
                            <i class="icon icon_radio"></i>
                            D. rejection
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>139. Now that the factory has ____ , hundreds of people are out of work</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="138" value="4729" id="4729" disabled="">
                        <label for="4729">
                            <i class="icon icon_radio"></i>
                            A. cut out
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4730" id="4730" disabled="">
                        <label for="4730">
                            <i class="icon icon_radio"></i>
                            B. gone over
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4731" id="4731" disabled="">
                        <label for="4731">
                            <i class="icon icon_radio"></i>
                            C. closed down
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4732" id="4732" disabled="">
                        <label for="4732">
                            <i class="icon icon_radio"></i>
                            D. left out
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>140. The possibility of getting a raise usually serves as a high ____ for workers to do their very best</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="139" value="4733" id="4733" disabled="">
                        <label for="4733">
                            <i class="icon icon_radio"></i>
                            A. incentive
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4734" id="4734" disabled="">
                        <label for="4734">
                            <i class="icon icon_radio"></i>
                            B. interference
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4735" id="4735" disabled="">
                        <label for="4735">
                            <i class="icon icon_radio"></i>
                            C. intention
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4736" id="4736" disabled="">
                        <label for="4736">
                            <i class="icon icon_radio"></i>
                            D. incision
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>