<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Did you see Barry's holiday photos? They were out of this world. It must be that new camera that inspired him. He usually takes very boring shots.</p>

                        <p>M: I have seen them actually and I don't understand what all the fuss is about. Anyone can take good pictures in such a wonderful place. I don't see how you could do otherwise with those dramatic mountains. There's nothing very
                            original about them seeing as he's just done a photography course.</p>

                        <p>W: Well that's typical of you because you know you couldn't take photos as good as that and it annoys you that Barry can.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565922850.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.094%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:01</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. What does the woman think of Barry's photos?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="2657" id="2657" disabled="">
                                <label for="2657">
                            <i class="icon icon_radio"></i>
                            A. She hasn't seen them yet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2658" id="2658" disabled="">
                                <label for="2658">
                            <i class="icon icon_radio"></i>
                            B. He ought to buy a new camera
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2659" id="2659" disabled="">
                                <label for="2659">
                            <i class="icon icon_radio"></i>
                            C. They weren't as good as the last ones he took
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2660" id="2660" disabled="">
                                <label for="2660">
                            <i class="icon icon_radio"></i>
                            D. They are surprisingly good
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. What does the man think?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="2661" id="2661" disabled="">
                                <label for="2661">
                            <i class="icon icon_radio"></i>
                            A. Barry needs to do a photography course
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2662" id="2662" disabled="">
                                <label for="2662">
                            <i class="icon icon_radio"></i>
                            B. Barry isn't particularly talented
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2663" id="2663" disabled="">
                                <label for="2663">
                            <i class="icon icon_radio"></i>
                            C. The photographs are terrible
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2664" id="2664" disabled="">
                                <label for="2664">
                            <i class="icon icon_radio"></i>
                            D. He doesn't even want to see the photos
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. What does the woman think about the man's reaction?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="2665" id="2665" disabled="">
                                <label for="2665">
                            <i class="icon icon_radio"></i>
                            A. He is jealous
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2666" id="2666" disabled="">
                                <label for="2666">
                            <i class="icon icon_radio"></i>
                            B. He is depressed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2667" id="2667" disabled="">
                                <label for="2667">
                            <i class="icon icon_radio"></i>
                            C. He is curious
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2668" id="2668" disabled="">
                                <label for="2668">
                            <i class="icon icon_radio"></i>
                            D. He is confident
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>