<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Hi Susan, I'm afraid I'm a bit under the weather today so I won't be coming in to the office.</p>

                        <p>W: OK Ben, don't worry, the meeting has been cancelled this morning anyway, because too many people are on holiday. We'll sort out a day for next week to hold it.</p>

                        <p>M: Don't book it for Thursday as I'm going to the dentist in the morning.</p>

                        <p>W: OK, I'll try to finish your Jameson project if I get time.</p>

                        <p>M: Thanks Susan, I owe you one.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565927259.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.7703%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:54</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. What is wrong with Ben?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2765" id="2765" disabled="">
                                <label for="2765">
                            <i class="icon icon_radio"></i>
                            A. The bad weather stopped him from going to work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2766" id="2766" disabled="">
                                <label for="2766">
                            <i class="icon icon_radio"></i>
                            B. He is in a meeting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2767" id="2767" disabled="">
                                <label for="2767">
                            <i class="icon icon_radio"></i>
                            C. He is sick
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2768" id="2768" disabled="">
                                <label for="2768">
                            <i class="icon icon_radio"></i>
                            D. He has to go away
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. What will happen about the meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2769" id="2769" disabled="">
                                <label for="2769">
                            <i class="icon icon_radio"></i>
                            A. They'll hold it without Ben
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2770" id="2770" disabled="">
                                <label for="2770">
                            <i class="icon icon_radio"></i>
                            B. It will be cancelled completely
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2771" id="2771" disabled="">
                                <label for="2771">
                            <i class="icon icon_radio"></i>
                            C. It will be postponed until a later date
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2772" id="2772" disabled="">
                                <label for="2772">
                            <i class="icon icon_radio"></i>
                            D. Ben will rearrange it
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What will the man do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2773" id="2773" disabled="">
                                <label for="2773">
                            <i class="icon icon_radio"></i>
                            A. give Susan some money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2774" id="2774" disabled="">
                                <label for="2774">
                            <i class="icon icon_radio"></i>
                            B. help Susan in the future
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2775" id="2775" disabled="">
                                <label for="2775">
                            <i class="icon icon_radio"></i>
                            C. finish the Jameson Project
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2776" id="2776" disabled="">
                                <label for="2776">
                            <i class="icon icon_radio"></i>
                            D. go to the dentist now
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>