<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 44 - 46 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>M: I don't suppose you can work this weekend, can you, Debbie? We really need to get the Blackwood order finished before Monday morning as they are desperate for their order before the holiday.</p>

<p>W: I can work till four but then I have to pick up my son from football practice as my husband is away at a conference this weekend. I can come in early if you like.</p>

<p>M: That's perfect, as Bob is coming in early too. There will be a bonus payment for you both as I really appreciate your loyalty. Right, lunch is on me then. What shall I bring you from the sandwich bar?</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565923220.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 10.8559%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:03</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>44. Why do they need to work on Saturday?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="43" value="2669" id="2669" disabled="">
                        <label for="2669">
                            <i class="icon icon_radio"></i>
                            A. They have been on holiday
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="43" value="2670" id="2670" disabled="">
                        <label for="2670">
                            <i class="icon icon_radio"></i>
                            B. They are desperate for the extra work
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="43" value="2671" id="2671" disabled="">
                        <label for="2671">
                            <i class="icon icon_radio"></i>
                            C. They are short of staff
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="43" value="2672" id="2672" disabled="">
                        <label for="2672">
                            <i class="icon icon_radio"></i>
                            D. They are behind with an order
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>45. What will the woman do on Saturday?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="44" value="2673" id="2673" disabled="">
                        <label for="2673">
                            <i class="icon icon_radio"></i>
                            A. collect her son after work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="44" value="2674" id="2674" disabled="">
                        <label for="2674">
                            <i class="icon icon_radio"></i>
                            B. go to a conference with her husband
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="44" value="2675" id="2675" disabled="">
                        <label for="2675">
                            <i class="icon icon_radio"></i>
                            C. work only in the morning
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="44" value="2676" id="2676" disabled="">
                        <label for="2676">
                            <i class="icon icon_radio"></i>
                            D. work after four o'clock
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>46. What will the woman get?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="45" value="2677" id="2677" disabled="">
                        <label for="2677">
                            <i class="icon icon_radio"></i>
                            A. lunch on Saturday
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="45" value="2678" id="2678" disabled="">
                        <label for="2678">
                            <i class="icon icon_radio"></i>
                            B. some time off work
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="45" value="2679" id="2679" disabled="">
                        <label for="2679">
                            <i class="icon icon_radio"></i>
                            C. free food and extra money
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="45" value="2680" id="2680" disabled="">
                        <label for="2680">
                            <i class="icon icon_radio"></i>
                            D. a trip to a restaurant for lunch
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>