<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: So, what did you think of Mr. Jones? Do you think he has the right personality for the job?</p>

                        <p>M: Well he has been a teacher for years, so he is probably very good at dealing with people and he's into sport, so he's probably quite healthy and energetic.</p>

                        <p>W: I'm not convinced about him. I think he'd make a better estate agent or car salesman than a PR person. He's a bit too sure of himself.</p>

                        <p>M: Well, the director needs to have our input before he makes his decision. We need to tell him what we think before two, as he has a committee meeting at 2.30 about the parking problems.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565923553.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.4288%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. What is Mr. Jones trying to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="2681" id="2681" disabled="">
                                <label for="2681">
                            <i class="icon icon_radio"></i>
                            A. get a job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2682" id="2682" disabled="">
                                <label for="2682">
                            <i class="icon icon_radio"></i>
                            B. join a sports club
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2683" id="2683" disabled="">
                                <label for="2683">
                            <i class="icon icon_radio"></i>
                            C. buy a house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2684" id="2684" disabled="">
                                <label for="2684">
                            <i class="icon icon_radio"></i>
                            D. be a teacher
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. What is the woman's criticism of Mr. Jones?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="2685" id="2685" disabled="">
                                <label for="2685">
                            <i class="icon icon_radio"></i>
                            A. He's too shy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2686" id="2686" disabled="">
                                <label for="2686">
                            <i class="icon icon_radio"></i>
                            B. He's over-confident
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2687" id="2687" disabled="">
                                <label for="2687">
                            <i class="icon icon_radio"></i>
                            C. He has no experience of working with peope
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2688" id="2688" disabled="">
                                <label for="2688">
                            <i class="icon icon_radio"></i>
                            D. He isn't healthy enough
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. Who will make the final decision?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="2689" id="2689" disabled="">
                                <label for="2689">
                            <i class="icon icon_radio"></i>
                            A. the director
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2690" id="2690" disabled="">
                                <label for="2690">
                            <i class="icon icon_radio"></i>
                            B. the woman
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2691" id="2691" disabled="">
                                <label for="2691">
                            <i class="icon icon_radio"></i>
                            C. the two speakers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2692" id="2692" disabled="">
                                <label for="2692">
                            <i class="icon icon_radio"></i>
                            D. a committee
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>