<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 50 - 52 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Hi Jenny. Fancy seeing you here!</p>

                        <p>W: I don't come here very often but I'd arranged to have a coffee with my cousin and I needed to use the photocopier.</p>

                        <p>M: Don't you have one in your office?</p>

                        <p>W: Yes, but it's broken again. What have you been reading then?</p>

                        <p>M: Oh, these aren't mine. Jeremy borrowed them but they were due back today, and I am returning them for him so that he doesn't get a fine.</p>

                        <p>W: Children! Nothing but problems, aren't they? I'll be glad when mine have grown up.</p>

                        <p>M: Me too, but then we'll be like Sally, complaining that the house is quiet because the children have left home.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565924904.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.3424%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>50. What is true of the situation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="49" value="2693" id="2693" disabled="">
                                <label for="2693">
                            <i class="icon icon_radio"></i>
                            A. They often meet in that place
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2694" id="2694" disabled="">
                                <label for="2694">
                            <i class="icon icon_radio"></i>
                            B. They'd arranged to meet for a coffee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2695" id="2695" disabled="">
                                <label for="2695">
                            <i class="icon icon_radio"></i>
                            C. They will go for a coffee now
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2696" id="2696" disabled="">
                                <label for="2696">
                            <i class="icon icon_radio"></i>
                            D. It was an unexpected meeting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>51. Where are they?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="50" value="2697" id="2697" disabled="">
                                <label for="2697">
                            <i class="icon icon_radio"></i>
                            A. cafe
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2698" id="2698" disabled="">
                                <label for="2698">
                            <i class="icon icon_radio"></i>
                            B. office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2699" id="2699" disabled="">
                                <label for="2699">
                            <i class="icon icon_radio"></i>
                            C. shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2700" id="2700" disabled="">
                                <label for="2700">
                            <i class="icon icon_radio"></i>
                            D. library
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>52. What is true about the speakers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="51" value="2701" id="2701" disabled="">
                                <label for="2701">
                            <i class="icon icon_radio"></i>
                            A. Their children have left home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2702" id="2702" disabled="">
                                <label for="2702">
                            <i class="icon icon_radio"></i>
                            B. They both have children living at home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2703" id="2703" disabled="">
                                <label for="2703">
                            <i class="icon icon_radio"></i>
                            C. One of them doesn't have any children
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2704" id="2704" disabled="">
                                <label for="2704">
                            <i class="icon icon_radio"></i>
                            D. They wish they hadn't had children
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>