<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: It looks beautiful. The balcony is huge, isn't it? Are the views good?</p>

                        <p>M: Fantastic! We plan to plant lemon, orange and olive trees in the garden.</p>

                        <p>W: How could you afford it? Did you win the lottery or get a promotion?</p>

                        <p>M: No, I inherited some money from my father and rather than sell our house to buy a bigger one, we decided to buy this house for the summers.</p>

                        <p>W: Even if I saved for years I couldn't afford a place like that.</p>

                        <p>M: You can stay at ours whenever you like. You don't need to pay us as it's good to have people in the house when we can't be there.</p>

                        <p>W: Wow, thanks!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565925596.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 15.8375%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. What has the man done?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="2705" id="2705" disabled="">
                                <label for="2705">
                            <i class="icon icon_radio"></i>
                            A. sold his house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2706" id="2706" disabled="">
                                <label for="2706">
                            <i class="icon icon_radio"></i>
                            B. just returned from an expensive holiday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2707" id="2707" disabled="">
                                <label for="2707">
                            <i class="icon icon_radio"></i>
                            C. bought a holiday home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2708" id="2708" disabled="">
                                <label for="2708">
                            <i class="icon icon_radio"></i>
                            D. booked a holiday
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. How could the man afford the house?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="2709" id="2709" disabled="">
                                <label for="2709">
                            <i class="icon icon_radio"></i>
                            A. His father dided
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2710" id="2710" disabled="">
                                <label for="2710">
                            <i class="icon icon_radio"></i>
                            B. He bought a smaller house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2711" id="2711" disabled="">
                                <label for="2711">
                            <i class="icon icon_radio"></i>
                            C. His father lent him the money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2712" id="2712" disabled="">
                                <label for="2712">
                            <i class="icon icon_radio"></i>
                            D. He sold his house and moved abroad
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. What will the woman do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="2713" id="2713" disabled="">
                                <label for="2713">
                            <i class="icon icon_radio"></i>
                            A. buy a holiday home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2714" id="2714" disabled="">
                                <label for="2714">
                            <i class="icon icon_radio"></i>
                            B. stay at the man's holiday home for free
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2715" id="2715" disabled="">
                                <label for="2715">
                            <i class="icon icon_radio"></i>
                            C. rent the man's holiday home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2716" id="2716" disabled="">
                                <label for="2716">
                            <i class="icon icon_radio"></i>
                            D. start saving money for a holiday home
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>