<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Why don't we try out that new cafe that has been built where the cinema used to be? We could go straight after work today.</p>

                        <p>W: Is that the one next to the bank?</p>

                        <p>M: No, at the entrance to the park.</p>

                        <p>W: Oh yes. I know where you mean, facing the baker's. It doesn't have a very good reputation.</p>

                        <p>M: It's only been open two weeks!</p>

                        <p>W: My brother George said it was overpriced although the food was quite good.</p>

                        <p>M: George is mean though and always complains about the cost of everything even though he earns more than we do. Why don't you see if your husband wants to join us for a drink after our meeting with the boss?&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565925996.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.98915%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. Where is the cafe?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2717" id="2717" disabled="">
                                <label for="2717">
                            <i class="icon icon_radio"></i>
                            A. in the park
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2718" id="2718" disabled="">
                                <label for="2718">
                            <i class="icon icon_radio"></i>
                            B. next to the bank
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2719" id="2719" disabled="">
                                <label for="2719">
                            <i class="icon icon_radio"></i>
                            C. next to the cinema
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2720" id="2720" disabled="">
                                <label for="2720">
                            <i class="icon icon_radio"></i>
                            D. opposite the baker's
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. What does George seem to be like?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2721" id="2721" disabled="">
                                <label for="2721">
                            <i class="icon icon_radio"></i>
                            A. very rich
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2722" id="2722" disabled="">
                                <label for="2722">
                            <i class="icon icon_radio"></i>
                            B. poor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2723" id="2723" disabled="">
                                <label for="2723">
                            <i class="icon icon_radio"></i>
                            C. careful with his money
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2724" id="2724" disabled="">
                                <label for="2724">
                            <i class="icon icon_radio"></i>
                            D. generous
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. What is the relationship between the two speakers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2725" id="2725" disabled="">
                                <label for="2725">
                            <i class="icon icon_radio"></i>
                            A. brother and sister
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2726" id="2726" disabled="">
                                <label for="2726">
                            <i class="icon icon_radio"></i>
                            B. husband and wife
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2727" id="2727" disabled="">
                                <label for="2727">
                            <i class="icon icon_radio"></i>
                            C. colleagues
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2728" id="2728" disabled="">
                                <label for="2728">
                            <i class="icon icon_radio"></i>
                            D. neighbors
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>