<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Did you watch the James Bond film yesterday?</p>

                        <p>M: No, I was studying for my accountancy exams next month. I get hardly any time to myself these days. I'm exhausted all the time and I never go out with my friends.</p>

                        <p>W: Why don't you come to my place for a meal? I'll invite some friends and you can catch up with everyone.</p>

                        <p>M: Ok, I'll bring something sweet and play my new DVD. It's got some great songs on it.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565926343.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.4402%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. What is the man's situation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2729" id="2729" disabled="">
                                <label for="2729">
                            <i class="icon icon_radio"></i>
                            A. He doesn't have any friends
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2730" id="2730" disabled="">
                                <label for="2730">
                            <i class="icon icon_radio"></i>
                            B. He's doesn't have time to relax
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2731" id="2731" disabled="">
                                <label for="2731">
                            <i class="icon icon_radio"></i>
                            C. He's in the middle of his exams
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2732" id="2732" disabled="">
                                <label for="2732">
                            <i class="icon icon_radio"></i>
                            D. He failed his exams
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. What can be said about the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2733" id="2733" disabled="">
                                <label for="2733">
                            <i class="icon icon_radio"></i>
                            A. She is considerate
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2734" id="2734" disabled="">
                                <label for="2734">
                            <i class="icon icon_radio"></i>
                            B. She is annoyed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2735" id="2735" disabled="">
                                <label for="2735">
                            <i class="icon icon_radio"></i>
                            C. She doesn't understand his problems
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2736" id="2736" disabled="">
                                <label for="2736">
                            <i class="icon icon_radio"></i>
                            D. She is not sympathetic
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What will the man do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2737" id="2737" disabled="">
                                <label for="2737">
                            <i class="icon icon_radio"></i>
                            A. sing his new songs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2738" id="2738" disabled="">
                                <label for="2738">
                            <i class="icon icon_radio"></i>
                            B. play games
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2739" id="2739" disabled="">
                                <label for="2739">
                            <i class="icon icon_radio"></i>
                            C. cook dinner
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2740" id="2740" disabled="">
                                <label for="2740">
                            <i class="icon icon_radio"></i>
                            D. bring some food
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>