<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Have you got everything that you need for the conference? You don't want a repeat of what happened last time when you went off without your laptop. Have you got your passport and your credit cards?</p>

                        <p>M: Yes, yes, stop fussing. Now I will probably arrive late in the afternoon but then we will be straight into a meeting so I won't be able to get in touch till last thing. So, don't worry if you don't hear from me till late.</p>

                        <p>W: I don't mind how late it is, dear, as long as you phone. Don't get too involved with all your friends and colleagues and forget.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565926559.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.5854%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:03</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. What didn't the man have at the last conference?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2741" id="2741" disabled="">
                                <label for="2741">
                            <i class="icon icon_radio"></i>
                            A. credit cards
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2742" id="2742" disabled="">
                                <label for="2742">
                            <i class="icon icon_radio"></i>
                            B. luggage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2743" id="2743" disabled="">
                                <label for="2743">
                            <i class="icon icon_radio"></i>
                            C. a computer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2744" id="2744" disabled="">
                                <label for="2744">
                            <i class="icon icon_radio"></i>
                            D. his passport
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. When will the man phone?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2745" id="2745" disabled="">
                                <label for="2745">
                            <i class="icon icon_radio"></i>
                            A. as soon as he arrives
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2746" id="2746" disabled="">
                                <label for="2746">
                            <i class="icon icon_radio"></i>
                            B. later when he is free
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2747" id="2747" disabled="">
                                <label for="2747">
                            <i class="icon icon_radio"></i>
                            C. the next morning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2748" id="2748" disabled="">
                                <label for="2748">
                            <i class="icon icon_radio"></i>
                            D. just before his meeting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. What is the relationship between the two speakers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2749" id="2749" disabled="">
                                <label for="2749">
                            <i class="icon icon_radio"></i>
                            A. husband and wife
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2750" id="2750" disabled="">
                                <label for="2750">
                            <i class="icon icon_radio"></i>
                            B. friends
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2751" id="2751" disabled="">
                                <label for="2751">
                            <i class="icon icon_radio"></i>
                            C. colleagues
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2752" id="2752" disabled="">
                                <label for="2752">
                            <i class="icon icon_radio"></i>
                            D. boss and employee
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>