<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: What seems to be the problem?</p>

                        <p>W: I think my computer has crashed. It's completely dead and since I only bought it two weeks ago, I'm very disappointed.</p>

                        <p>M: Let's see if I can talk you through it. It's always a bit difficult when you don't actually have the computer in front of you. Is there anything on the monitor at all?</p>

                        <p>W: No, I told you, it's dead. I've tried pressing all the buttons and clicking the mouse.</p>

                        <p>M: You don't have a power cut in your area, do you?</p>

                        <p>W: Oh, wait a minute. It's not plugged into the wall. Sorry.</p>

                        <p>M: It's an easy mistake to make, Madam.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665878/1565926833.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.6112%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. Where is the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="2753" id="2753" disabled="">
                                <label for="2753">
                            <i class="icon icon_radio"></i>
                            A. in the woman's home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2754" id="2754" disabled="">
                                <label for="2754">
                            <i class="icon icon_radio"></i>
                            B. on the phone
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2755" id="2755" disabled="">
                                <label for="2755">
                            <i class="icon icon_radio"></i>
                            C. with the woman is a shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2756" id="2756" disabled="">
                                <label for="2756">
                            <i class="icon icon_radio"></i>
                            D. in the woman's office
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. What was the problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="2757" id="2757" disabled="">
                                <label for="2757">
                            <i class="icon icon_radio"></i>
                            A. The computer wasn't connected to the electricity supply
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2758" id="2758" disabled="">
                                <label for="2758">
                            <i class="icon icon_radio"></i>
                            B. The mouse was broken
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2759" id="2759" disabled="">
                                <label for="2759">
                            <i class="icon icon_radio"></i>
                            C. The computer crashed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2760" id="2760" disabled="">
                                <label for="2760">
                            <i class="icon icon_radio"></i>
                            D. They couldn't find out what was wrong with it
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. How does the man react?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="2761" id="2761" disabled="">
                                <label for="2761">
                            <i class="icon icon_radio"></i>
                            A. angrily
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2762" id="2762" disabled="">
                                <label for="2762">
                            <i class="icon icon_radio"></i>
                            B. in a funny way
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2763" id="2763" disabled="">
                                <label for="2763">
                            <i class="icon icon_radio"></i>
                            C. in an unfriendly way
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2764" id="2764" disabled="">
                                <label for="2764">
                            <i class="icon icon_radio"></i>
                            D. patiently
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>