<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Thank you for calling the Quello Clinic. If this is a medical emergency, please hang up and dial 911. Our hours are Monday through Friday 8 am to 6 pm and Saturday 10 am to 2 pm. If you are calling to make an appointment, press
                            1. If you are calling to reschedule or cancel your appointment, press 2. If you wish to speak to a nurse please hold the line and someone will be with you shortly.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1566035217.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.2254%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:03</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. What should you do if you have a medical emergency?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="3605" id="3605" disabled="">
                                <label for="3605">
                            <i class="icon icon_radio"></i>
                            A. show up without an appointment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3606" id="3606" disabled="">
                                <label for="3606">
                            <i class="icon icon_radio"></i>
                            B. dial 911
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3607" id="3607" disabled="">
                                <label for="3607">
                            <i class="icon icon_radio"></i>
                            C. hold the line
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3608" id="3608" disabled="">
                                <label for="3608">
                            <i class="icon icon_radio"></i>
                            D. call a nurse
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. When can you NOT make an appointment at the clinic?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="3609" id="3609" disabled="">
                                <label for="3609">
                            <i class="icon icon_radio"></i>
                            A. Monday at 8:30 am
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3610" id="3610" disabled="">
                                <label for="3610">
                            <i class="icon icon_radio"></i>
                            B. Wednesday at 5 pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3611" id="3611" disabled="">
                                <label for="3611">
                            <i class="icon icon_radio"></i>
                            C. Friday at 6:30 pm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3612" id="3612" disabled="">
                                <label for="3612">
                            <i class="icon icon_radio"></i>
                            D. Saturday at noon
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. What should you do if want to speak to a nurse?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="3613" id="3613" disabled="">
                                <label for="3613">
                            <i class="icon icon_radio"></i>
                            A. dial a different number
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3614" id="3614" disabled="">
                                <label for="3614">
                            <i class="icon icon_radio"></i>
                            B. hold the line
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3615" id="3615" disabled="">
                                <label for="3615">
                            <i class="icon icon_radio"></i>
                            C. press 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3616" id="3616" disabled="">
                                <label for="3616">
                            <i class="icon icon_radio"></i>
                            D. make a appointment
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>