<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Hello and thank you for calling National City Bank. If you are calling to inquire about your balance please press 1. If you are calling to update your account information, please press 2. If you are calling to report a card lost
                            or stolen please press 3. If you wish to speak to an operator, please hold the line and we will answer your call in the order that it's been received. Thank you for calling and please remember to try online banking at www.ncb.com.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1566030736.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.2083%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. What should you do if your card is stolen?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3509" id="3509" disabled="">
                                <label for="3509">
                            <i class="icon icon_radio"></i>
                            A. press 3
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3510" id="3510" disabled="">
                                <label for="3510">
                            <i class="icon icon_radio"></i>
                            B. hang up and call the police
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3511" id="3511" disabled="">
                                <label for="3511">
                            <i class="icon icon_radio"></i>
                            C. wait for the operator
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3512" id="3512" disabled="">
                                <label for="3512">
                            <i class="icon icon_radio"></i>
                            D. press 1
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. In what order will the operator answer your call?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3513" id="3513" disabled="">
                                <label for="3513">
                            <i class="icon icon_radio"></i>
                            A. importance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3514" id="3514" disabled="">
                                <label for="3514">
                            <i class="icon icon_radio"></i>
                            B. when the call was received
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3515" id="3515" disabled="">
                                <label for="3515">
                            <i class="icon icon_radio"></i>
                            C. alphabetical
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3516" id="3516" disabled="">
                                <label for="3516">
                            <i class="icon icon_radio"></i>
                            D. random
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What does National City Bank recommend to its customers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3517" id="3517" disabled="">
                                <label for="3517">
                            <i class="icon icon_radio"></i>
                            A. checking their credit history regularly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3518" id="3518" disabled="">
                                <label for="3518">
                            <i class="icon icon_radio"></i>
                            B. being careful not to lose their card
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3519" id="3519" disabled="">
                                <label for="3519">
                            <i class="icon icon_radio"></i>
                            C. opening a checking account
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3520" id="3520" disabled="">
                                <label for="3520">
                            <i class="icon icon_radio"></i>
                            D. registering for online banking
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>