<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Hello, this is your captain speaking. We should be arriving at our destination in approximately 15 minutes. I have turned the seatbelt sign on, so please fasten your seatbelt for the duration of the flight. Also, please put up
                            your tray tables and return your seats to their straight and upright position. The flight attendants will come through the cabins momentarily and collect any remaining trash. We hope you enjoyed your flight with us and enjoy
                            your stay in New York. Thank you for choosing American Eagle Airways.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1566031725.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.4431%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. Until when will the passengers need to have their seatbelts fastened?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="3533" id="3533" disabled="">
                                <label for="3533">
                            <i class="icon icon_radio"></i>
                            A. until the flight attendants come out
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3534" id="3534" disabled="">
                                <label for="3534">
                            <i class="icon icon_radio"></i>
                            B. until they start to feel uncomfortable
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3535" id="3535" disabled="">
                                <label for="3535">
                            <i class="icon icon_radio"></i>
                            C. until the flight is over
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3536" id="3536" disabled="">
                                <label for="3536">
                            <i class="icon icon_radio"></i>
                            D. until they take off
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. Why will the flight attendants come through the cabins?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="3537" id="3537" disabled="">
                                <label for="3537">
                            <i class="icon icon_radio"></i>
                            A. to fasten people's seatbelts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3538" id="3538" disabled="">
                                <label for="3538">
                            <i class="icon icon_radio"></i>
                            B. to serve lunch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3539" id="3539" disabled="">
                                <label for="3539">
                            <i class="icon icon_radio"></i>
                            C. to collect trash
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3540" id="3540" disabled="">
                                <label for="3540">
                            <i class="icon icon_radio"></i>
                            D. to put the seatbacks upright
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What is this flight's destination?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="3541" id="3541" disabled="">
                                <label for="3541">
                            <i class="icon icon_radio"></i>
                            A. New Jersey
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3542" id="3542" disabled="">
                                <label for="3542">
                            <i class="icon icon_radio"></i>
                            B. Nevada
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3543" id="3543" disabled="">
                                <label for="3543">
                            <i class="icon icon_radio"></i>
                            C. North Carolina
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3544" id="3544" disabled="">
                                <label for="3544">
                            <i class="icon icon_radio"></i>
                            D. New York
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>