<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Winds descending the Cascades Tuesday blocked the cool Pacific sea breeze and sent temperatures to record levels in Washington and Oregon. However, it looks like this record breaking heat will finally subside in the near future.
                            However, for those of you hoping to go to the beach or spend the weekend outside without worrying about heatstroke, never fear. Normal temperatures in the 70's and 80's are forecast to return this weekend.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1566032791.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.3026%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:55</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. What caused the hot weather?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="3557" id="3557" disabled="">
                                <label for="3557">
                            <i class="icon icon_radio"></i>
                            A. The sea breeze was blocked
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3558" id="3558" disabled="">
                                <label for="3558">
                            <i class="icon icon_radio"></i>
                            B. The Pacific ocean was radiating heat
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3559" id="3559" disabled="">
                                <label for="3559">
                            <i class="icon icon_radio"></i>
                            C. Global warming has begun
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3560" id="3560" disabled="">
                                <label for="3560">
                            <i class="icon icon_radio"></i>
                            D. A heat wave came from the Cascades
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. What is significant about the hot weather?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="3561" id="3561" disabled="">
                                <label for="3561">
                            <i class="icon icon_radio"></i>
                            A. Oregon and Washington are usually very cold in the summer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3562" id="3562" disabled="">
                                <label for="3562">
                            <i class="icon icon_radio"></i>
                            B. It's one of the hottest it's ever been in that particular area
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3563" id="3563" disabled="">
                                <label for="3563">
                            <i class="icon icon_radio"></i>
                            C. It's expected to last for weeks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3564" id="3564" disabled="">
                                <label for="3564">
                            <i class="icon icon_radio"></i>
                            D. It's caused a drought
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What will happen this weekend?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="3565" id="3565" disabled="">
                                <label for="3565">
                            <i class="icon icon_radio"></i>
                            A. Temperatures will increase
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3566" id="3566" disabled="">
                                <label for="3566">
                            <i class="icon icon_radio"></i>
                            B. Temperatures will stay the same 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3567" id="3567" disabled="">
                                <label for="3567">
                            <i class="icon icon_radio"></i>
                            C. Temperatures will decrease
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3568" id="3568" disabled="">
                                <label for="3568">
                            <i class="icon icon_radio"></i>
                            D. It's going to rain
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>