<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 89 - 91 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Tonight, the Houston Comets will take on the Utah Starzz in the first round of the play offs! All eyes will be on Houston's new "Big Three." Sheryl Swoopes, Tina Thompson and Jenith Arcain want to show they can win the title without
                            Cynthia Cooper, and the trio pushed Utah all season. Houston averaged 75.3 in its three wins against the Starzz during the sea-son. However, when it comes to the play offs, past records usually don't matter much. It all depends
                            on which team plays with the most heart and determination.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1566033186.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.74826%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>89. When will the basketball game take place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="88" value="3569" id="3569" disabled="">
                                <label for="3569">
                            <i class="icon icon_radio"></i>
                            A. tomorrow afternoon
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3570" id="3570" disabled="">
                                <label for="3570">
                            <i class="icon icon_radio"></i>
                            B. a week from today
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3571" id="3571" disabled="">
                                <label for="3571">
                            <i class="icon icon_radio"></i>
                            C. tonight
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3572" id="3572" disabled="">
                                <label for="3572">
                            <i class="icon icon_radio"></i>
                            D. this afternoom
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>90. How many Houston players will be watched carefully?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="89" value="3573" id="3573" disabled="">
                                <label for="3573">
                            <i class="icon icon_radio"></i>
                            A. 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3574" id="3574" disabled="">
                                <label for="3574">
                            <i class="icon icon_radio"></i>
                            B. 2
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3575" id="3575" disabled="">
                                <label for="3575">
                            <i class="icon icon_radio"></i>
                            C. 3
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3576" id="3576" disabled="">
                                <label for="3576">
                            <i class="icon icon_radio"></i>
                            D. 4
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>91. Who no longer plays for the Houston Comets?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="90" value="3577" id="3577" disabled="">
                                <label for="3577">
                            <i class="icon icon_radio"></i>
                            A. Cynthia Cooper
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3578" id="3578" disabled="">
                                <label for="3578">
                            <i class="icon icon_radio"></i>
                            B. Tina Thompson
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3579" id="3579" disabled="">
                                <label for="3579">
                            <i class="icon icon_radio"></i>
                            C. Sheryl Swoopes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3580" id="3580" disabled="">
                                <label for="3580">
                            <i class="icon icon_radio"></i>
                            D. Jenith Arcain
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>