<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>A veterinarian who contracted the skin form of anthrax from an infected cow has been treated successfully. The veterinarian was infected last month while doing an autopsy on the cow. Anthrax occurs naturally in the soil and can
                            be passed to livestock when they eat grass.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1566034021.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.7186%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:51</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. What is the veterinarian's medical state?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3581" id="3581" disabled="">
                                <label for="3581">
                            <i class="icon icon_radio"></i>
                            A. He is expected to die
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3582" id="3582" disabled="">
                                <label for="3582">
                            <i class="icon icon_radio"></i>
                            B. He is in a serious condition
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3583" id="3583" disabled="">
                                <label for="3583">
                            <i class="icon icon_radio"></i>
                            C. He passed away
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3584" id="3584" disabled="">
                                <label for="3584">
                            <i class="icon icon_radio"></i>
                            D. He is going to be fine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. How did the veterinarian get infected?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3585" id="3585" disabled="">
                                <label for="3585">
                            <i class="icon icon_radio"></i>
                            A. from touching someone's skin
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3586" id="3586" disabled="">
                                <label for="3586">
                            <i class="icon icon_radio"></i>
                            B. from a dead cow
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3587" id="3587" disabled="">
                                <label for="3587">
                            <i class="icon icon_radio"></i>
                            C. from working in soil
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3588" id="3588" disabled="">
                                <label for="3588">
                            <i class="icon icon_radio"></i>
                            D. from his food
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. How do livestock contract Anthrax?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3589" id="3589" disabled="">
                                <label for="3589">
                            <i class="icon icon_radio"></i>
                            A. they are born with it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3590" id="3590" disabled="">
                                <label for="3590">
                            <i class="icon icon_radio"></i>
                            B. by mating with an infected animal
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3591" id="3591" disabled="">
                                <label for="3591">
                            <i class="icon icon_radio"></i>
                            C. by eating contaminated grass
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3592" id="3592" disabled="">
                                <label for="3592">
                            <i class="icon icon_radio"></i>
                            D. by eating a specific kind of grass
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>