<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 95 - 97 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Our public schools' reading scores are among the very worst in the country! This is unacceptable. Our children are our future and we are not only letting them down, but damaging the future of our city if we allow children to graduate
                            from high school without being able to read. These children will not be able to find jobs and ultimately plummet into poverty. It's not just an education problem; it's the entire city's problem. It is OUR problem. Action must
                            be taken immediately!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665857/1566034720.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.7126%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:02</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>95. Who is the speaker probably addressing?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="94" value="3593" id="3593" disabled="">
                                <label for="3593">
                            <i class="icon icon_radio"></i>
                            A. children of the public schools
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3594" id="3594" disabled="">
                                <label for="3594">
                            <i class="icon icon_radio"></i>
                            B. citizens of the city he lives in
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3595" id="3595" disabled="">
                                <label for="3595">
                            <i class="icon icon_radio"></i>
                            C. political representatives of different states
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3596" id="3596" disabled="">
                                <label for="3596">
                            <i class="icon icon_radio"></i>
                            D. teachers of the public schools
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>96. What is the specific problem being addressed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="95" value="3597" id="3597" disabled="">
                                <label for="3597">
                            <i class="icon icon_radio"></i>
                            A. bad teachers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3598" id="3598" disabled="">
                                <label for="3598">
                            <i class="icon icon_radio"></i>
                            B. poor job access
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3599" id="3599" disabled="">
                                <label for="3599">
                            <i class="icon icon_radio"></i>
                            C. low reading scores
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3600" id="3600" disabled="">
                                <label for="3600">
                            <i class="icon icon_radio"></i>
                            D. unfair city elections
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>97. What does the speaker want?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="96" value="3601" id="3601" disabled="">
                                <label for="3601">
                            <i class="icon icon_radio"></i>
                            A. people to stop complaining
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3602" id="3602" disabled="">
                                <label for="3602">
                            <i class="icon icon_radio"></i>
                            B. to move to a city with better education
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3603" id="3603" disabled="">
                                <label for="3603">
                            <i class="icon icon_radio"></i>
                            C. to find a better job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3604" id="3604" disabled="">
                                <label for="3604">
                            <i class="icon icon_radio"></i>
                            D. to make improvements in his city education system
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>