<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 141 - 143 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p>The internaltional system has witnessed dramatic changes in&nbsp;the recent past. Developments around
                    the globe and at home challenge us to rethink the role of the United States in the international
                    __(1)__</p>

                <p>What is the nation's place&nbsp;in the increasingly complex global picture? How do we best promote
                    respect for human rights and the growth of freedom and justice? What can we do to nurture and
                    preserve international security and world
                    peace?<br> Our country __(2)__&nbsp;knowledgeable and thoughtful students like you - the next
                    generation of leaders - to build peace with freedom all justice among nations and peoples.&nbsp;</p>

                <p>In the belief that questions about peace, justice, freedom, and security are __(3)__&nbsp;to civic
                    education, we established the National Peace Essay Contest to expand educational opportunities for
                    America's youth&nbsp;</p>
                    </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>141. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="5729" id="5729" disabled="">
                                <label for="5729">
                                    <i class="icon icon_radio"></i>
                                    A. community
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5730" id="5730" disabled="">
                                <label for="5730">
                                    <i class="icon icon_radio"></i>
                                    B. are
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5731" id="5731" disabled="">
                                <label for="5731">
                                    <i class="icon icon_radio"></i>
                                    C. section
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5732" id="5732" disabled="">
                                <label for="5732">
                                    <i class="icon icon_radio"></i>
                                    D. neighborhood
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="5733" id="5733" disabled="">
                                <label for="5733">
                                    <i class="icon icon_radio"></i>
                                    A. asks to
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5734" id="5734" disabled="">
                                <label for="5734">
                                    <i class="icon icon_radio"></i>
                                    B. relies in
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5735" id="5735" disabled="">
                                <label for="5735">
                                    <i class="icon icon_radio"></i>
                                    C. depends on
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5736" id="5736" disabled="">
                                <label for="5736">
                                    <i class="icon icon_radio"></i>
                                    D. needs for
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>143. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="5737" id="5737" disabled="">
                                <label for="5737">
                                    <i class="icon icon_radio"></i>
                                    A. trivial
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5738" id="5738" disabled="">
                                <label for="5738">
                                    <i class="icon icon_radio"></i>
                                    B. superficial
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5739" id="5739" disabled="">
                                <label for="5739">
                                    <i class="icon icon_radio"></i>
                                    C. vital
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5740" id="5740" disabled="">
                                <label for="5740">
                                    <i class="icon icon_radio"></i>
                                    D. necessary
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>