<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 144 - 146 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>__(1)__ being without Spencer Tollackson for just Saturday's game at Iowa, Gophers coach Jim Molinari said Wednesday that the team's starting center might need three more weeks to recover from two broken bones&nbsp;in his left hand.&nbsp;</p>

                <p>The 6-9 Tollackson was __(2)__&nbsp;in a collision at the end of the first half of Saturday's loss at Wisconsin.<br> Another player ran into Tollackson's outstretched arm and his hand was bent backward.&nbsp;</p>

                <p>A magnetic resonance imaging exam showed that the young player has a broken bone in&nbsp;his thumb and a "crushed" bone in his hand.&nbsp;</p>

                <p>If Tollackson, the&nbsp;team's leading rebounder and third-leading scorer, misses three&nbsp;more weeks, he will miss&nbsp;five very important games.</p>

                <p>"That's a big part of the Big Ten season,"&nbsp;Molinari&nbsp;said "It's unfortunate.&nbsp;It's&nbsp;unfortunate for him, it's unfortunate for us.&nbsp;He was really seeing&nbsp;the __(3)__ of trying to work really hard."&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>144. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="5741" id="5741" disabled="">
                                <label for="5741">
                            <i class="icon icon_radio"></i>
                            A. In addition
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5742" id="5742" disabled="">
                                <label for="5742">
                            <i class="icon icon_radio"></i>
                            B. Otherwise
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5743" id="5743" disabled="">
                                <label for="5743">
                            <i class="icon icon_radio"></i>
                            C. Beforehand
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5744" id="5744" disabled="">
                                <label for="5744">
                            <i class="icon icon_radio"></i>
                            D. Instead of
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="5745" id="5745" disabled="">
                                <label for="5745">
                            <i class="icon icon_radio"></i>
                            A. damaged
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5746" id="5746" disabled="">
                                <label for="5746">
                            <i class="icon icon_radio"></i>
                            B. injured
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5747" id="5747" disabled="">
                                <label for="5747">
                            <i class="icon icon_radio"></i>
                            C. offended
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5748" id="5748" disabled="">
                                <label for="5748">
                            <i class="icon icon_radio"></i>
                            D. wounded
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="5749" id="5749" disabled="">
                                <label for="5749">
                            <i class="icon icon_radio"></i>
                            A. value
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5750" id="5750" disabled="">
                                <label for="5750">
                            <i class="icon icon_radio"></i>
                            B. rate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5751" id="5751" disabled="">
                                <label for="5751">
                            <i class="icon icon_radio"></i>
                            C. cost
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5752" id="5752" disabled="">
                                <label for="5752">
                            <i class="icon icon_radio"></i>
                            D. amount
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=23" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>