<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>In the film, Kevin Costner plays Ray Kinsella, a baseball fan, '60s&nbsp;Berkeley graduate, and lowa&nbsp;farmer. One day, as he is standing in the middle of his expansive corn fields, Ray __(1)__&nbsp;a voice, It tells him: "If you build
                    it, he will&nbsp;come"&nbsp;</p>

                <p>Then Ray has a vision and somehow concludes that if he builds a baseball field in the middle of his corn, Shoeless be Jackson will arise from __(2)__ to play ball once again. And even though it depletes his family's savings and his neighbors
                    think he's crazy, Ray clears away the corn and builds a baseball field, complete with bleachers and flood lights. "If&nbsp;you build&nbsp;it, he will come." And than Shoeless has does come - bringing with him several of his dead team
                    - mates.</p>

                <p>FIELD OF DREAMS is a touching fairy tale,&nbsp;full of life, wonder, mystery, spirit, and humor. But while it generally avoids excessive melodrama, it unfortunately&nbsp;does at times go overboard, and by the end it gets down - right sappy.&nbsp;<br>                    In general, however, FIELD OF DREAMS is an emotionally satisfying fantasy - one I can __(3)__ to everyone but unromantic cynics.&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5753" id="5753" disabled="">
                                <label for="5753">
                            <i class="icon icon_radio"></i>
                            A. heard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5754" id="5754" disabled="">
                                <label for="5754">
                            <i class="icon icon_radio"></i>
                            B. would hear
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5755" id="5755" disabled="">
                                <label for="5755">
                            <i class="icon icon_radio"></i>
                            C. is hearing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5756" id="5756" disabled="">
                                <label for="5756">
                            <i class="icon icon_radio"></i>
                            D. hears
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5757" id="5757" disabled="">
                                <label for="5757">
                            <i class="icon icon_radio"></i>
                            A. the death
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5758" id="5758" disabled="">
                                <label for="5758">
                            <i class="icon icon_radio"></i>
                            B. the dead
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5759" id="5759" disabled="">
                                <label for="5759">
                            <i class="icon icon_radio"></i>
                            C. dead
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5760" id="5760" disabled="">
                                <label for="5760">
                            <i class="icon icon_radio"></i>
                            D. dying
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5761" id="5761" disabled="">
                                <label for="5761">
                            <i class="icon icon_radio"></i>
                            A. contend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5762" id="5762" disabled="">
                                <label for="5762">
                            <i class="icon icon_radio"></i>
                            B. comprehend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5763" id="5763" disabled="">
                                <label for="5763">
                            <i class="icon icon_radio"></i>
                            C. apprehend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5764" id="5764" disabled="">
                                <label for="5764">
                            <i class="icon icon_radio"></i>
                            D. recommend
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>