<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>CSU stands head and shoulders __(1)__ other universities in California when it comes to preparing students to enter the workforce.&nbsp;</p>

                <p>The CSU provides the majority of the skilled professional workers that&nbsp;are critical to the state's knowledge-based industries -&nbsp;industries like agriculture, engineering, business,&nbsp;technology, media and computer science.
                    As you know, a better-educated workforce leads to more higher-paying,&nbsp;knowledge-based jobs, which in turn __(2)__&nbsp;to more growth and benefit for the entire state as well as for the regional and local communities.&nbsp;</p>

                <p>That means that the CSU is a driving force behind California's&nbsp;economic development. In fact, the California State University is&nbsp;vital to California's economic prosperity&nbsp;<br> And the economic benefits are enormous. CSU-related
                    expenditures create over $13&nbsp;bilion in economic impact and support over 207,000 jobs in California. When higher alumni earnings are taken into account, the CSU's impact __(3)__&nbsp;$53 billion, supporting 527.000 jobs in the
                    state.&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5765" id="5765" disabled="">
                                <label for="5765">
                            <i class="icon icon_radio"></i>
                            A. on top
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5766" id="5766" disabled="">
                                <label for="5766">
                            <i class="icon icon_radio"></i>
                            B. under
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5767" id="5767" disabled="">
                                <label for="5767">
                            <i class="icon icon_radio"></i>
                            C. higher
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5768" id="5768" disabled="">
                                <label for="5768">
                            <i class="icon icon_radio"></i>
                            D. above
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5769" id="5769" disabled="">
                                <label for="5769">
                            <i class="icon icon_radio"></i>
                            A. results
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5770" id="5770" disabled="">
                                <label for="5770">
                            <i class="icon icon_radio"></i>
                            B. brings
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5771" id="5771" disabled="">
                                <label for="5771">
                            <i class="icon icon_radio"></i>
                            C. leads
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5772" id="5772" disabled="">
                                <label for="5772">
                            <i class="icon icon_radio"></i>
                            D. guides
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5773" id="5773" disabled="">
                                <label for="5773">
                            <i class="icon icon_radio"></i>
                            A. reaches
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5774" id="5774" disabled="">
                                <label for="5774">
                            <i class="icon icon_radio"></i>
                            B. wreaks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5775" id="5775" disabled="">
                                <label for="5775">
                            <i class="icon icon_radio"></i>
                            C. allows
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5776" id="5776" disabled="">
                                <label for="5776">
                            <i class="icon icon_radio"></i>
                            D. touches
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>