<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Ok Jess, we've tentatively scheduled the conference for the twenty third to the twenty fifth of March. First, I need you to contact the keynote speaker, Professor Cartwright, and just make sure that he can attend on those days.
                            Uh, next, if he agrees, can you make sure that the tentative dates, along with a tentative schedule for the talks, get e-mailed out to all the other speakers too, today, so that we have some time to juggle the talks around
                            if anyone can't make it? Got that? Please give me a call when you return, just to verify that everything's clear. Thanks.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566188218.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.97128%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:11</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. Where would this message likely be heard?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3977" id="3977" disabled="">
                                <label for="3977">
                            <i class="icon icon_radio"></i>
                            A. over a loudspeaker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3978" id="3978" disabled="">
                                <label for="3978">
                            <i class="icon icon_radio"></i>
                            B. on an answering machine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3979" id="3979" disabled="">
                                <label for="3979">
                            <i class="icon icon_radio"></i>
                            C. on the radio
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3980" id="3980" disabled="">
                                <label for="3980">
                            <i class="icon icon_radio"></i>
                            D. at a meeting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. At the time of the message what has been decided for sure?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3981" id="3981" disabled="">
                                <label for="3981">
                            <i class="icon icon_radio"></i>
                            A. the dates of the conference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3982" id="3982" disabled="">
                                <label for="3982">
                            <i class="icon icon_radio"></i>
                            B. the main speaker at the conference
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3983" id="3983" disabled="">
                                <label for="3983">
                            <i class="icon icon_radio"></i>
                            C. the timetable for the talks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3984" id="3984" disabled="">
                                <label for="3984">
                            <i class="icon icon_radio"></i>
                            D. the keynote speaker's availability to attend
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What must Jess do right away when she returns?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3985" id="3985" disabled="">
                                <label for="3985">
                            <i class="icon icon_radio"></i>
                            A. call the person who left the message
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3986" id="3986" disabled="">
                                <label for="3986">
                            <i class="icon icon_radio"></i>
                            B. e-mail all the speakers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3987" id="3987" disabled="">
                                <label for="3987">
                            <i class="icon icon_radio"></i>
                            C. call the keynote speaker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3988" id="3988" disabled="">
                                <label for="3988">
                            <i class="icon icon_radio"></i>
                            D. juggle the talks around
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>