<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Hello, Ms. Kitching. I'm Mary Brown, and I'm calling you from Great Western Hospital, regarding your application for a nursing position. We would like to invite you for our first round of interviews. We'll be interviewing on the
                            24th and the 25th of September, and we've had a huge response from applicants, so they will be very busy days. We have not yet allocated you a time but I wanted to let you know now so that you could keep both days open. We'll
                            be contacting you again next week with your specific interview date and time. Thank you for your interest in the position, and I look forward to meeting you!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566196806.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.07176%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:11</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. Why did Mary Brown call Ms. Kitching?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="4085" id="4085" disabled="">
                                <label for="4085">
                            <i class="icon icon_radio"></i>
                            A. to arrange an appointment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="4086" id="4086" disabled="">
                                <label for="4086">
                            <i class="icon icon_radio"></i>
                            B. because she needs to ask her to work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="4087" id="4087" disabled="">
                                <label for="4087">
                            <i class="icon icon_radio"></i>
                            C. to ask her to keep next week free
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="4088" id="4088" disabled="">
                                <label for="4088">
                            <i class="icon icon_radio"></i>
                            D. because she is being considered for a job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. When will the interview be?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="4089" id="4089" disabled="">
                                <label for="4089">
                            <i class="icon icon_radio"></i>
                            A. on the 24th of September
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="4090" id="4090" disabled="">
                                <label for="4090">
                            <i class="icon icon_radio"></i>
                            B. on the 24th or 25th of September
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="4091" id="4091" disabled="">
                                <label for="4091">
                            <i class="icon icon_radio"></i>
                            C. sometime next week
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="4092" id="4092" disabled="">
                                <label for="4092">
                            <i class="icon icon_radio"></i>
                            D. there is no way to know
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. What can we infer about the interview?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="4093" id="4093" disabled="">
                                <label for="4093">
                            <i class="icon icon_radio"></i>
                            A. It will probably not be successful
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="4094" id="4094" disabled="">
                                <label for="4094">
                            <i class="icon icon_radio"></i>
                            B. It will last for many hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="4095" id="4095" disabled="">
                                <label for="4095">
                            <i class="icon icon_radio"></i>
                            C. it will only be a formality
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="4096" id="4096" disabled="">
                                <label for="4096">
                            <i class="icon icon_radio"></i>
                            D. It will be competitive
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>