<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning, and welcome aboard flight 533. Weather conditions this morning are fair, and we expect to land on schedule in Sydney in approximately 12 hours. In the course of the flight we will be serving you lunch, dinner, and
                            a continental-style breakfast just before our arrival. The duty-free cart will be passing through the aisles shortly after take-off and, if you wish, you may take this opportunity to make purchases. You will find the duty-free
                            magazine in the pocket of the seat in front of you. I would like to remind you, as always, smoking is not allowed anywhere on the plane. Now, as we begin taxiing for takeoff, please give your attention to our safety video.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566188430.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.93682%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:20</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. How many meals will be served?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3989" id="3989" disabled="">
                                <label for="3989">
                            <i class="icon icon_radio"></i>
                            A. one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3990" id="3990" disabled="">
                                <label for="3990">
                            <i class="icon icon_radio"></i>
                            B. two
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3991" id="3991" disabled="">
                                <label for="3991">
                            <i class="icon icon_radio"></i>
                            C. three
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3992" id="3992" disabled="">
                                <label for="3992">
                            <i class="icon icon_radio"></i>
                            D. four
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. What are the listeners asked to pay attention to?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3993" id="3993" disabled="">
                                <label for="3993">
                            <i class="icon icon_radio"></i>
                            A. the duty-free cart
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3994" id="3994" disabled="">
                                <label for="3994">
                            <i class="icon icon_radio"></i>
                            B. the weather conditions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3995" id="3995" disabled="">
                                <label for="3995">
                            <i class="icon icon_radio"></i>
                            C. smoking areas
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3996" id="3996" disabled="">
                                <label for="3996">
                            <i class="icon icon_radio"></i>
                            D. the safety video
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. When was this announcement made?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3997" id="3997" disabled="">
                                <label for="3997">
                            <i class="icon icon_radio"></i>
                            A. before take-off
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3998" id="3998" disabled="">
                                <label for="3998">
                            <i class="icon icon_radio"></i>
                            B. during take-off
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3999" id="3999" disabled="">
                                <label for="3999">
                            <i class="icon icon_radio"></i>
                            C. during the flight
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="4000" id="4000" disabled="">
                                <label for="4000">
                            <i class="icon icon_radio"></i>
                            D. after landing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>