<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Our 3-year International Hospitality and Tourism Management program covers all the major theoretical and practical components of a hotel operation. It also enables the student to acquire the business skills necessary to manage
                            a hotel operation profitably, while at the same time adhering to world-class standards. Two industry placements of 20 weeks each in the first two years of study are an integral part of the program. This degree program equips
                            graduates with intellectual and leadership capabilities, which will allow them to move into a range of international managerial positions within prestigious organizations. If you want an exciting career filled with enormous
                            opportunities, then all you have to do is submit your application now!</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566188934.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.71968%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:21</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. What is the purpose of this announcement?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="4013" id="4013" disabled="">
                                <label for="4013">
                            <i class="icon icon_radio"></i>
                            A. to advise about career choices
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="4014" id="4014" disabled="">
                                <label for="4014">
                            <i class="icon icon_radio"></i>
                            B. to instruct in management
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="4015" id="4015" disabled="">
                                <label for="4015">
                            <i class="icon icon_radio"></i>
                            C. to advertise a course
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="4016" id="4016" disabled="">
                                <label for="4016">
                            <i class="icon icon_radio"></i>
                            D. to introduce a concept
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. Where might this announcement be heard?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="4017" id="4017" disabled="">
                                <label for="4017">
                            <i class="icon icon_radio"></i>
                            A. on the radio
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="4018" id="4018" disabled="">
                                <label for="4018">
                            <i class="icon icon_radio"></i>
                            B. in a lecture theater
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="4019" id="4019" disabled="">
                                <label for="4019">
                            <i class="icon icon_radio"></i>
                            C. on the telephone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="4020" id="4020" disabled="">
                                <label for="4020">
                            <i class="icon icon_radio"></i>
                            D. at a holiday resort
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What does the course prepare students for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="4021" id="4021" disabled="">
                                <label for="4021">
                            <i class="icon icon_radio"></i>
                            A. getting a job in a hotel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="4022" id="4022" disabled="">
                                <label for="4022">
                            <i class="icon icon_radio"></i>
                            B. submitting their application
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="4023" id="4023" disabled="">
                                <label for="4023">
                            <i class="icon icon_radio"></i>
                            C. doing industry placements
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="4024" id="4024" disabled="">
                                <label for="4024">
                            <i class="icon icon_radio"></i>
                            D. managing a hotel
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>