<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 83 - 85 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Uh, yes, hello. I've just received my order of office supplies, and I must say I'm not at all satisfied with the condition they've arrived in. First of all, the white printer paper has been treated so roughly that the packet is
                            ripped and the inner layers of paper are soiled. Even worse, the edges have all been bent; it will get stuck in the printer I'm sure. I've been trying to reach your customer service department all day and I can't get an answer.
                            This is just not acceptable! I hope you will return this call ASAP and suggest what action you will take to rectify the situation.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566189131.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.26952%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:19</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>83. What is the purpose of the message?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="82" value="4025" id="4025" disabled="">
                                <label for="4025">
                            <i class="icon icon_radio"></i>
                            A. to place an order
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="4026" id="4026" disabled="">
                                <label for="4026">
                            <i class="icon icon_radio"></i>
                            B. to cancel an order
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="4027" id="4027" disabled="">
                                <label for="4027">
                            <i class="icon icon_radio"></i>
                            C. to make a complaint
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="4028" id="4028" disabled="">
                                <label for="4028">
                            <i class="icon icon_radio"></i>
                            D. to demand a service
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>84. What is wrong with the paper?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="83" value="4029" id="4029" disabled="">
                                <label for="4029">
                            <i class="icon icon_radio"></i>
                            A. It is not what was purchased
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="4030" id="4030" disabled="">
                                <label for="4030">
                            <i class="icon icon_radio"></i>
                            B. It has broken the printer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="4031" id="4031" disabled="">
                                <label for="4031">
                            <i class="icon icon_radio"></i>
                            C. It is the wrong color
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="4032" id="4032" disabled="">
                                <label for="4032">
                            <i class="icon icon_radio"></i>
                            D. It is in very bad condition
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>85. What does the speaker want?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="84" value="4033" id="4033" disabled="">
                                <label for="4033">
                            <i class="icon icon_radio"></i>
                            A. a response from someone
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="4034" id="4034" disabled="">
                                <label for="4034">
                            <i class="icon icon_radio"></i>
                            B. a full refund
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="4035" id="4035" disabled="">
                                <label for="4035">
                            <i class="icon icon_radio"></i>
                            C. a different kind of paper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="4036" id="4036" disabled="">
                                <label for="4036">
                            <i class="icon icon_radio"></i>
                            D. an opinion on what to do
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>