<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Imagine a dining experience like no other. In a pitch-black dining room, each flavor and texture greets enthusiastic senses hungry for an awareness once brought by sight. This is Opaque, the city's first dark dining restaurant.&nbsp;<br>                            A brilliant experimental dining concept, dark dining allows food to stir the senses in the most unique way. Each burst of spice, each hint of sweetness, each touch of tang stands out, yielding an entirely new appreciation of
                            fine cuisine. Under the expert guidance of Chef Mike Whang, the menu at Opaque cultivates a multi-sensory adventure!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566195720.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.1801%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:17</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. What kind of restaurant is being advertized?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="4037" id="4037" disabled="">
                                <label for="4037">
                            <i class="icon icon_radio"></i>
                            A. a gourmet restaurant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="4038" id="4038" disabled="">
                                <label for="4038">
                            <i class="icon icon_radio"></i>
                            B. a romantic restaurant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="4039" id="4039" disabled="">
                                <label for="4039">
                            <i class="icon icon_radio"></i>
                            C. an experimental restaurant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="4040" id="4040" disabled="">
                                <label for="4040">
                            <i class="icon icon_radio"></i>
                            D. a family-friendly restaurant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. What is unique about dark dining?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="4041" id="4041" disabled="">
                                <label for="4041">
                            <i class="icon icon_radio"></i>
                            A. the way it involves the senses
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="4042" id="4042" disabled="">
                                <label for="4042">
                            <i class="icon icon_radio"></i>
                            B. the type of cuisine served
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="4043" id="4043" disabled="">
                                <label for="4043">
                            <i class="icon icon_radio"></i>
                            C. the extent to which it uses spices
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="4044" id="4044" disabled="">
                                <label for="4044">
                            <i class="icon icon_radio"></i>
                            D. the fact that it mixes sweetness and tang
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What can you NOT experience about the food at Opaque?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="4045" id="4045" disabled="">
                                <label for="4045">
                            <i class="icon icon_radio"></i>
                            A. how it smells
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="4046" id="4046" disabled="">
                                <label for="4046">
                            <i class="icon icon_radio"></i>
                            B. what color it is
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="4047" id="4047" disabled="">
                                <label for="4047">
                            <i class="icon icon_radio"></i>
                            C. if it is spicy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="4048" id="4048" disabled="">
                                <label for="4048">
                            <i class="icon icon_radio"></i>
                            D. what it is made from
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>