<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 89 - 91 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning. It's being reported that UK consumers now believe broadband is as essential a utility as electricity or water, according to a panel of government advisers. Some 73% of those questioned considered a high-speed connection
                            very important. The Communications Consumer Panel's research involved a face-to-face survey with 2,000 people across the UK. It is expected that the report will include a government commitment to provide universal broadband
                            at a speed of 2 megabits per second by 2014. The chair of the Communications Consumer Panel, Anna Bradley, said: "The key message is that people think broadband is at a tipping point. It's fantastically useful for everyone,
                            essential for some now, but will be essential for everyone in the near future."&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566196098.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.87239%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:30</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>89. On which news program would you expect to hear this report?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="88" value="4049" id="4049" disabled="">
                                <label for="4049">
                            <i class="icon icon_radio"></i>
                            A. News of the World
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="4050" id="4050" disabled="">
                                <label for="4050">
                            <i class="icon icon_radio"></i>
                            B. Technology Today
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="4051" id="4051" disabled="">
                                <label for="4051">
                            <i class="icon icon_radio"></i>
                            C. Weekend Arts and Entertainment Report
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="4052" id="4052" disabled="">
                                <label for="4052">
                            <i class="icon icon_radio"></i>
                            D. Business Weekly
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>90. Broadband is very important for how many?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="89" value="4053" id="4053" disabled="">
                                <label for="4053">
                            <i class="icon icon_radio"></i>
                            A. 23 percent of people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="4054" id="4054" disabled="">
                                <label for="4054">
                            <i class="icon icon_radio"></i>
                            B. 17 percent of people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="4055" id="4055" disabled="">
                                <label for="4055">
                            <i class="icon icon_radio"></i>
                            C. 3 percent of people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="4056" id="4056" disabled="">
                                <label for="4056">
                            <i class="icon icon_radio"></i>
                            D. 73 percent of people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>91. What her the government promised to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="90" value="4057" id="4057" disabled="">
                                <label for="4057">
                            <i class="icon icon_radio"></i>
                            A. to research broadband extensively
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="4058" id="4058" disabled="">
                                <label for="4058">
                            <i class="icon icon_radio"></i>
                            B. to keep improving the speed of broadband
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="4059" id="4059" disabled="">
                                <label for="4059">
                            <i class="icon icon_radio"></i>
                            C. to explain why broadband is essential for all
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="4060" id="4060" disabled="">
                                <label for="4060">
                            <i class="icon icon_radio"></i>
                            D. to make broadband available for all
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>