<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Hello, welcome to Cheetah Buses' automatic answering service. We regret to inform you that all bus services for the weekend are cancelled, due to the national bus drivers' strike. I will repeat, all services for the weekend are
                            cancelled. We hope to resume services on Monday morning, and will keep this recording updated with the latest developments. If you have already purchased tickets to travel this weekend, you may call 1 800 454 4995, with your
                            ticket ready, and apply for a refund.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665895/1566196330.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.8529%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:15</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. Why are there no buses running?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="4061" id="4061" disabled="">
                                <label for="4061">
                            <i class="icon icon_radio"></i>
                            A. because it is the weekend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="4062" id="4062" disabled="">
                                <label for="4062">
                            <i class="icon icon_radio"></i>
                            B. because of a national holiday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="4063" id="4063" disabled="">
                                <label for="4063">
                            <i class="icon icon_radio"></i>
                            C. because of a workers' strike
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="4064" id="4064" disabled="">
                                <label for="4064">
                            <i class="icon icon_radio"></i>
                            D. because there are no more tickets
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. When should buses be back to normal?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="4065" id="4065" disabled="">
                                <label for="4065">
                            <i class="icon icon_radio"></i>
                            A. Sunday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="4066" id="4066" disabled="">
                                <label for="4066">
                            <i class="icon icon_radio"></i>
                            B. Monday
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="4067" id="4067" disabled="">
                                <label for="4067">
                            <i class="icon icon_radio"></i>
                            C. Tuesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="4068" id="4068" disabled="">
                                <label for="4068">
                            <i class="icon icon_radio"></i>
                            D. next weekend
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. You have a ticket to travel on Sunday. What can you do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="4069" id="4069" disabled="">
                                <label for="4069">
                            <i class="icon icon_radio"></i>
                            A. get a refund
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="4070" id="4070" disabled="">
                                <label for="4070">
                            <i class="icon icon_radio"></i>
                            B. use it on Monday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="4071" id="4071" disabled="">
                                <label for="4071">
                            <i class="icon icon_radio"></i>
                            C. use it as normal
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="4072" id="4072" disabled="">
                                <label for="4072">
                            <i class="icon icon_radio"></i>
                            D. nothing, you lose
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>