<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=2&amp;questionGroupNum=20">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435154.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 30.3676%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>7. When does the shop close?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="6" value="16650" id="16650" disabled="">
                                        <label for="16650">
                                            <i class="icon icon_radio"></i>
                                            A. Yes, at the workshop
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="6" value="16651" id="16651" disabled="">
                                        <label for="16651">
                                            <i class="icon icon_radio"></i>
                                            B. No, they're new clothes
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="6" value="16652" id="16652" disabled="">
                                        <label for="16652">
                                            <i class="icon icon_radio"></i>
                                            C. At nine o'clock tonight
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer">
                                    <audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435202.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 31.2618%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:15</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>8. Who's scheduled to clean the kitchen?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="7" value="16656" id="16656" disabled="">
                                        <label for="16656">
                                            <i class="icon icon_radio"></i>
                                            A. By the sink
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="7" value="16657" id="16657" disabled="">
                                        <label for="16657">
                                            <i class="icon icon_radio"></i>
                                            B. Yes, every day
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="7" value="16658" id="16658" disabled="">
                                        <label for="16658">
                                            <i class="icon icon_radio"></i>
                                            C. Jack is
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435415.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 28.6085%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>9. How will we get to the hotel from the airport?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="8" value="16659" id="16659" disabled="">
                                        <label for="16659">
                                            <i class="icon icon_radio"></i>
                                            A. We'll take a taxi
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="8" value="16660" id="16660" disabled="">
                                        <label for="16660">
                                            <i class="icon icon_radio"></i>
                                            B. About 45 minutes
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="8" value="16661" id="16661" disabled="">
                                        <label for="16661">
                                            <i class="icon icon_radio"></i>
                                            C. Will that be everything?
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435484.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 26.2124%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>10. Is Teresa out of the office today?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="9" value="16662" id="16662" disabled="">
                                        <label for="16662">
                                            <i class="icon icon_radio"></i>
                                            A. Those tickets are sold out
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="9" value="16663" id="16663" disabled="">
                                        <label for="16663">
                                            <i class="icon icon_radio"></i>
                                            B. No, she's just gone to lunch
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="9" value="16664" id="16664" disabled="">
                                        <label for="16664">
                                            <i class="icon icon_radio"></i>
                                            C. I completed that yesterday
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435540.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 26.3942%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>11. Which food supplier do you use?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="10" value="16665" id="16665" disabled="">
                                        <label for="16665">
                                            <i class="icon icon_radio"></i>
                                            A. In the vegetable aisle
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="10" value="16666" id="16666" disabled="">
                                        <label for="16666">
                                            <i class="icon icon_radio"></i>
                                            B. On a weekly basis
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="10" value="16667" id="16667" disabled="">
                                        <label for="16667">
                                            <i class="icon icon_radio"></i>
                                            C. We use E and G Food Company
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435582.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 29.1685%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>12. Could you help me set up this window display?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="11" value="16668" id="16668" disabled="">
                                        <label for="16668">
                                            <i class="icon icon_radio"></i>
                                            A. A window seat
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="11" value="16669" id="16669" disabled="">
                                        <label for="16669">
                                            <i class="icon icon_radio"></i>
                                            B. Yes, I was in a play
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="11" value="16670" id="16670" disabled="">
                                        <label for="16670">
                                            <i class="icon icon_radio"></i>
                                            C. I'd be happy to
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435780.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.8297%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>13. Why is this package here?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="12" value="16671" id="16671" disabled="">
                                        <label for="16671">
                                            <i class="icon icon_radio"></i>
                                            A. Three dollars and fifty cents
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="12" value="16672" id="16672" disabled="">
                                        <label for="16672">
                                            <i class="icon icon_radio"></i>
                                            B. I'll carry it upstairs
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="12" value="16673" id="16673" disabled="">
                                        <label for="16673">
                                            <i class="icon icon_radio"></i>
                                            C. An online retailer
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435910.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.4196%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>14. Which menu item do you recommend?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="13" value="16674" id="16674" disabled="">
                                        <label for="16674">
                                            <i class="icon icon_radio"></i>
                                            A. I'd suggest the pasta
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="13" value="16675" id="16675" disabled="">
                                        <label for="16675">
                                            <i class="icon icon_radio"></i>
                                            B. Do you have this shirt in blue?
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="13" value="16676" id="16676" disabled="">
                                        <label for="16676">
                                            <i class="icon icon_radio"></i>
                                            C. No, I'm fine, thank you
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580435968.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 25.8674%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>15. Do you know who requested technical support?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="14" value="16677" id="16677" disabled="">
                                        <label for="16677">
                                            <i class="icon icon_radio"></i>
                                            A. Sorry, I just got into the office
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="14" value="16678" id="16678" disabled="">
                                        <label for="16678">
                                            <i class="icon icon_radio"></i>
                                            B. The sports team is doing well
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="14" value="16679" id="16679" disabled="">
                                        <label for="16679">
                                            <i class="icon icon_radio"></i>
                                            C. Two years of technical school
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580436093.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.0263%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>16. Where does Takumi keep the ink cartridges for the printer?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="15" value="16680" id="16680" disabled="">
                                        <label for="16680">
                                            <i class="icon icon_radio"></i>
                                            A. Yes, that'd be great
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="15" value="16681" id="16681" disabled="">
                                        <label for="16681">
                                            <i class="icon icon_radio"></i>
                                            B. To get it replaced
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="15" value="16682" id="16682" disabled="">
                                        <label for="16682">
                                            <i class="icon icon_radio"></i>
                                            C. In the supply room
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580436156.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 24.7339%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>17. Ali is going to Jessica's retirement party, isn't he?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="16" value="16683" id="16683" disabled="">
                                        <label for="16683">
                                            <i class="icon icon_radio"></i>
                                            A. I don't think they worked together
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="16" value="16684" id="16684" disabled="">
                                        <label for="16684">
                                            <i class="icon icon_radio"></i>
                                            B. Brand new tires
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="16" value="16685" id="16685" disabled="">
                                        <label for="16685">
                                            <i class="icon icon_radio"></i>
                                            C. No thanks, I already ate
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580436359.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 24.1851%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>18. Why don't you go to the trade show with Franklin and Jane?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="17" value="16686" id="16686" disabled="">
                                        <label for="16686">
                                            <i class="icon icon_radio"></i>
                                            A. No, I didn't see it
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="17" value="16687" id="16687" disabled="">
                                        <label for="16687">
                                            <i class="icon icon_radio"></i>
                                            B. Because I have a major report to finalize that week
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="17" value="16688" id="16688" disabled="">
                                        <label for="16688">
                                            <i class="icon icon_radio"></i>
                                            C. Usually in San Francisco
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580436439.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 24.9135%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>19. When are we ordering more gloves for the laboratory?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="18" value="16689" id="16689" disabled="">
                                        <label for="16689">
                                            <i class="icon icon_radio"></i>
                                            A. The latest test results
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="18" value="16690" id="16690" disabled="">
                                        <label for="16690">
                                            <i class="icon icon_radio"></i>
                                            B. It's close to the post office
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="18" value="16691" id="16691" disabled="">
                                        <label for="16691">
                                            <i class="icon icon_radio"></i>
                                            C. We've got extras in the cabinet
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580436496.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.3559%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>20. Doesn't this movie theater seat 500 people?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="19" value="16692" id="16692" disabled="">
                                        <label for="16692">
                                            <i class="icon icon_radio"></i>
                                            A. Tickets are fifteen dollars
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="19" value="16693" id="16693" disabled="">
                                        <label for="16693">
                                            <i class="icon icon_radio"></i>
                                            B. Not quite that many, no
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="19" value="16694" id="16694" disabled="">
                                        <label for="16694">
                                            <i class="icon icon_radio"></i>
                                            C. We should be finished soon
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580436806.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.449%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>21. Would you like to make an appointment with the nutritionist?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="20" value="16695" id="16695" disabled="">
                                        <label for="16695">
                                            <i class="icon icon_radio"></i>
                                            A. A client luncheon
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="20" value="16696" id="16696" disabled="">
                                        <label for="16696">
                                            <i class="icon icon_radio"></i>
                                            B. I'm scheduled for the fourteenth
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="20" value="16697" id="16697" disabled="">
                                        <label for="16697">
                                            <i class="icon icon_radio"></i>
                                            C. The fruit is on the table
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580436866.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 24.6307%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>22. Did you know that the Vienna Orchestra's giving a convert here soon?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="21" value="16698" id="16698" disabled="">
                                        <label for="16698">
                                            <i class="icon icon_radio"></i>
                                            A. No, where will it be?
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="21" value="16699" id="16699" disabled="">
                                        <label for="16699">
                                            <i class="icon icon_radio"></i>
                                            B. Classical literature
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="21" value="16700" id="16700" disabled="">
                                        <label for="16700">
                                            <i class="icon icon_radio"></i>
                                            C. The opening piece was great
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437114.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.5234%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>23. What's the marketing department working on?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="22" value="16701" id="16701" disabled="">
                                        <label for="16701">
                                            <i class="icon icon_radio"></i>
                                            A. I'm on the accounting team
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="22" value="16702" id="16702" disabled="">
                                        <label for="16702">
                                            <i class="icon icon_radio"></i>
                                            B. That was a good commercial
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="22" value="16703" id="16703" disabled="">
                                        <label for="16703">
                                            <i class="icon icon_radio"></i>
                                            C. To the second floor
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437241.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 28.4872%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>24. Isn't it hot in here?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="23" value="16704" id="16704" disabled="">
                                        <label for="16704">
                                            <i class="icon icon_radio"></i>
                                            A. A hat and scarf
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="23" value="16705" id="16705" disabled="">
                                        <label for="16705">
                                            <i class="icon icon_radio"></i>
                                            B. For a quick phone call
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="23" value="16706" id="16706" disabled="">
                                        <label for="16706">
                                            <i class="icon icon_radio"></i>
                                            C. The air conditioner's behind me
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437307.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 24.0808%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>25. Do you wan to drive to the convention center, or would you like me to?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="24" value="16707" id="16707" disabled="">
                                        <label for="16707">
                                            <i class="icon icon_radio"></i>
                                            A. That's all we needed
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="24" value="16708" id="16708" disabled="">
                                        <label for="16708">
                                            <i class="icon icon_radio"></i>
                                            B. The first entrance on the left
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="24" value="16709" id="16709" disabled="">
                                        <label for="16709">
                                            <i class="icon icon_radio"></i>
                                            C. I can drive since you did last time
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437366.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 28.1768%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>26. Could you pick up some more paper for the printer?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="25" value="16710" id="16710" disabled="">
                                        <label for="16710">
                                            <i class="icon icon_radio"></i>
                                            A. Alan said that he would
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="25" value="16711" id="16711" disabled="">
                                        <label for="16711">
                                            <i class="icon icon_radio"></i>
                                            B. No, I haven't seen it
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="25" value="16712" id="16712" disabled="">
                                        <label for="16712">
                                            <i class="icon icon_radio"></i>
                                            C. A technician
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437553.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.4957%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>27. I'm about to order lunch now if you're hungry</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="26" value="16713" id="16713" disabled="">
                                        <label for="16713">
                                            <i class="icon icon_radio"></i>
                                            A. Next to the telephone
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="26" value="16714" id="16714" disabled="">
                                        <label for="16714">
                                            <i class="icon icon_radio"></i>
                                            B. Bus number five
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="26" value="16715" id="16715" disabled="">
                                        <label for="16715">
                                            <i class="icon icon_radio"></i>
                                            C. Can I see the menu?
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437610.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 27.3219%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>28. Where's the camera on this computer?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="27" value="16716" id="16716" disabled="">
                                        <label for="16716">
                                            <i class="icon icon_radio"></i>
                                            A. No, I don't think so
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="27" value="16717" id="16717" disabled="">
                                        <label for="16717">
                                            <i class="icon icon_radio"></i>
                                            B. Email it by tomorrow, please
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="27" value="16718" id="16718" disabled="">
                                        <label for="16718">
                                            <i class="icon icon_radio"></i>
                                            C. On the top edge of the monitor
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437674.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 26.2001%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>29. The conference is in Helsinki this year, isn't it?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="28" value="16719" id="16719" disabled="">
                                        <label for="16719">
                                            <i class="icon icon_radio"></i>
                                            A. Here's the itinerary
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="28" value="16720" id="16720" disabled="">
                                        <label for="16720">
                                            <i class="icon icon_radio"></i>
                                            B. About 5000 participants
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="28" value="16721" id="16721" disabled="">
                                        <label for="16721">
                                            <i class="icon icon_radio"></i>
                                            C. I was supposed to call him
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437819.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 26.0574%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>30. Should I schedule the inspection for Monday or Wednesday?</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="29" value="16722" id="16722" disabled="">
                                        <label for="16722">
                                            <i class="icon icon_radio"></i>
                                            A. Yes, I'll have a few
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="29" value="16723" id="16723" disabled="">
                                        <label for="16723">
                                            <i class="icon icon_radio"></i>
                                            B. Mondays are less busy
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="29" value="16724" id="16724" disabled="">
                                        <label for="16724">
                                            <i class="icon icon_radio"></i>
                                            C. Please inspect these boxes
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="answer">
                                <div class="audioplayer"><audio controls=""
                                        style="width: 0px; height: 0px; visibility: hidden;">
                                        <source src="https://toeic24.vn/upload/audio/1579590121/1580437874.mp3"
                                            type="audio/mp3">
                                    </audio>
                                    <div class="audioplayer-playpause" title="">
                                        <a href="#"></a>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                                    <div class="audioplayer-bar">
                                        <div class="audioplayer-bar-loaded" style="width: 26.9297%;"></div>
                                        <div class="audioplayer-bar-played"></div>
                                    </div>
                                    <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                                    <div class="audioplayer-volume">
                                        <div class="audioplayer-volume-button" title="">
                                            <a href="#"></a>
                                        </div>
                                        <div class="audioplayer-volume-adjust">
                                            <div>
                                                <div style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="answer">
                                <p><b>31. Let's talk about how the business trip went</b></p>
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="30" value="16725" id="16725" disabled="">
                                        <label for="16725">
                                            <i class="icon icon_radio"></i>
                                            A. We have a client meeting right now
                                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="30" value="16726" id="16726" disabled="">
                                        <label for="16726">
                                            <i class="icon icon_radio"></i>
                                            B. The travel agency
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="30" value="16727" id="16727" disabled="">
                                        <label for="16727">
                                            <i class="icon icon_radio"></i>
                                            C. I saw it last week
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=2&amp;questionGroupNum=20"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>