<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 147 - 148 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p>
                    <img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-55-07.png"
                        style="width:100%">
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>147. What is being advertised?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="16010" id="16010" disabled="">
                                <label for="16010">
                                    <i class="icon icon_radio"></i>
                                    A. A vacation rental
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="16011" id="16011" disabled="">
                                <label for="16011">
                                    <i class="icon icon_radio"></i>
                                    B. A new hotel
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="16012" id="16012" disabled="">
                                <label for="16012">
                                    <i class="icon icon_radio"></i>
                                    C. An event space
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="16013" id="16013" disabled="">
                                <label for="16013">
                                    <i class="icon icon_radio"></i>
                                    D. A summer camp
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. What will be offered on October 10?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="16014" id="16014" disabled="">
                                <label for="16014">
                                    <i class="icon icon_radio"></i>
                                    A. A discounted reservation rate
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="16015" id="16015" disabled="">
                                <label for="16015">
                                    <i class="icon icon_radio"></i>
                                    B. A special concert
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="16016" id="16016" disabled="">
                                <label for="16016">
                                    <i class="icon icon_radio"></i>
                                    C. A famous recipe book
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="16017" id="16017" disabled="">
                                <label for="16017">
                                    <i class="icon icon_radio"></i>
                                    D. A class by a famous chef
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>