<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 172 - 175 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-56-52.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=38" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>172. Who most likely is Mr. Li?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="16110" id="16110" disabled="">
                                <label for="16110">
                                    <i class="icon icon_radio"></i>
                                    A. A landscaping crew member
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="16111" id="16111" disabled="">
                                <label for="16111">
                                    <i class="icon icon_radio"></i>
                                    B. A delivery coordinator
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="16112" id="16112" disabled="">
                                <label for="16112">
                                    <i class="icon icon_radio"></i>
                                    C. A warehouse worker
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="16113" id="16113" disabled="">
                                <label for="16113">
                                    <i class="icon icon_radio"></i>
                                    D. A facilities supervisor
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. Why will Ms. McGonagle contact Mr. Li?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="16114" id="16114" disabled="">
                                <label for="16114">
                                    <i class="icon icon_radio"></i>
                                    A. To schedule a visit with him
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="16115" id="16115" disabled="">
                                <label for="16115">
                                    <i class="icon icon_radio"></i>
                                    B. To obtain parking assistance
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="16116" id="16116" disabled="">
                                <label for="16116">
                                    <i class="icon icon_radio"></i>
                                    C. To get a list of directions to the office
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="16117" id="16117" disabled="">
                                <label for="16117">
                                    <i class="icon icon_radio"></i>
                                    D. To advise him of transit delays
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. What is likely to happen on May 9?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="16118" id="16118" disabled="">
                                <label for="16118">
                                    <i class="icon icon_radio"></i>
                                    A. Some Derryco employees will work at home
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="16119" id="16119" disabled="">
                                <label for="16119">
                                    <i class="icon icon_radio"></i>
                                    B. Derryco will be closed for business
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="16120" id="16120" disabled="">
                                <label for="16120">
                                    <i class="icon icon_radio"></i>
                                    C. Ms. McGonagle will stay in a local hotel
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="16121" id="16121" disabled="">
                                <label for="16121">
                                    <i class="icon icon_radio"></i>
                                    D. Mr. Deegan will cancel a conference call
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>175. At 9,14 a.m, what does Mr. Li mean when he writes, "the crew comes out rain or
                                shine"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="16122" id="16122" disabled="">
                                <label for="16122">
                                    <i class="icon icon_radio"></i>
                                    A. The weather forecast is probably wrong
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="16123" id="16123" disabled="">
                                <label for="16123">
                                    <i class="icon icon_radio"></i>
                                    B. The outdoor work will proceed as scheduled
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="16124" id="16124" disabled="">
                                <label for="16124">
                                    <i class="icon icon_radio"></i>
                                    C. Larkin Landscaping employs an outstanding group of workers
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="16125" id="16125" disabled="">
                                <label for="16125">
                                    <i class="icon icon_radio"></i>
                                    D. Derryco employees should prepare for bad weather
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=38"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>