<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 181 - 185 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-57-33.png"
                        style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-57-44.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=40" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>181. What is suggested about La Gardina Mall?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="16146" id="16146" disabled="">
                                <label for="16146">
                                    <i class="icon icon_radio"></i>
                                    A. It is located in Bay Shore
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="16147" id="16147" disabled="">
                                <label for="16147">
                                    <i class="icon icon_radio"></i>
                                    B. It is open only in the summer
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="16148" id="16148" disabled="">
                                <label for="16148">
                                    <i class="icon icon_radio"></i>
                                    C. It recently added many new shops
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="16149" id="16149" disabled="">
                                <label for="16149">
                                    <i class="icon icon_radio"></i>
                                    D. It features mainly fashion boutiques
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>182. In the advertisement, the word "occupied" in paragraph 3, line 3, is closest in
                                meaning to </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="16150" id="16150" disabled="">
                                <label for="16150">
                                    <i class="icon icon_radio"></i>
                                    A. filed
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="16151" id="16151" disabled="">
                                <label for="16151">
                                    <i class="icon icon_radio"></i>
                                    B. captured
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="16152" id="16152" disabled="">
                                <label for="16152">
                                    <i class="icon icon_radio"></i>
                                    C. kept busy
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="16153" id="16153" disabled="">
                                <label for="16153">
                                    <i class="icon icon_radio"></i>
                                    D. made steady
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. What is the main purpose of the email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="16154" id="16154" disabled="">
                                <label for="16154">
                                    <i class="icon icon_radio"></i>
                                    A. To promote a new botanical garden
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="16155" id="16155" disabled="">
                                <label for="16155">
                                    <i class="icon icon_radio"></i>
                                    B. To profile a popular company
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="16156" id="16156" disabled="">
                                <label for="16156">
                                    <i class="icon icon_radio"></i>
                                    C. To inquire about a potential business deal
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="16157" id="16157" disabled="">
                                <label for="16157">
                                    <i class="icon icon_radio"></i>
                                    D. To ask about job opportunities at a mall
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>184. What is indicated about Sabatini Leather Goods products?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="16158" id="16158" disabled="">
                                <label for="16158">
                                    <i class="icon icon_radio"></i>
                                    A. They are sold online
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="16159" id="16159" disabled="">
                                <label for="16159">
                                    <i class="icon icon_radio"></i>
                                    B. They are often discounted
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="16160" id="16160" disabled="">
                                <label for="16160">
                                    <i class="icon icon_radio"></i>
                                    C. They are marketed to tourists
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="16161" id="16161" disabled="">
                                <label for="16161">
                                    <i class="icon icon_radio"></i>
                                    D. They are manufactured in Glastonbury
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. What will Mr. Sabatini and Ms. Goncaves most likely have to negotiate?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="16162" id="16162" disabled="">
                                <label for="16162">
                                    <i class="icon icon_radio"></i>
                                    A. The location of a store
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="16163" id="16163" disabled="">
                                <label for="16163">
                                    <i class="icon icon_radio"></i>
                                    B. The length of a contract
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="16164" id="16164" disabled="">
                                <label for="16164">
                                    <i class="icon icon_radio"></i>
                                    C. The size of a retail space
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="16165" id="16165" disabled="">
                                <label for="16165">
                                    <i class="icon icon_radio"></i>
                                    D. The cost of a monthly lease Questions
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=40"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>