<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 186 - 190 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-57-56.png"
                        style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-58-07.png"
                        style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-58-18.png"
                        style="width:100%"></p>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=41" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>186. What does the chart indicate about all the carpets in the Pleiades Collection?</b>
                        </p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="16166" id="16166" disabled="">
                                <label for="16166">
                                    <i class="icon icon_radio"></i>
                                    A. They will be available in 60 days
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="16167" id="16167" disabled="">
                                <label for="16167">
                                    <i class="icon icon_radio"></i>
                                    B. They are currently in stock
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="16168" id="16168" disabled="">
                                <label for="16168">
                                    <i class="icon icon_radio"></i>
                                    C. They have different weights
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="16169" id="16169" disabled="">
                                <label for="16169">
                                    <i class="icon icon_radio"></i>
                                    D. They are the same size
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. What carpet did Mr. Sorrell originally order?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="16170" id="16170" disabled="">
                                <label for="16170">
                                    <i class="icon icon_radio"></i>
                                    A. Artemis
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="16171" id="16171" disabled="">
                                <label for="16171">
                                    <i class="icon icon_radio"></i>
                                    B. Hera
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="16172" id="16172" disabled="">
                                <label for="16172">
                                    <i class="icon icon_radio"></i>
                                    C. Janus
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="16173" id="16173" disabled="">
                                <label for="16173">
                                    <i class="icon icon_radio"></i>
                                    D. Iris
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>188. What does Mr. Sorrell ask Ms. Zuckerman to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="16174" id="16174" disabled="">
                                <label for="16174">
                                    <i class="icon icon_radio"></i>
                                    A. Delay the hotel's opening
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="16175" id="16175" disabled="">
                                <label for="16175">
                                    <i class="icon icon_radio"></i>
                                    B. Select a substitute item
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="16176" id="16176" disabled="">
                                <label for="16176">
                                    <i class="icon icon_radio"></i>
                                    C. Order some different furniture
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="16177" id="16177" disabled="">
                                <label for="16177">
                                    <i class="icon icon_radio"></i>
                                    D. Send photographs of the lobby
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. According to the article, what occupied the building prior to The Pavel Hotel?</b>
                        </p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="16178" id="16178" disabled="">
                                <label for="16178">
                                    <i class="icon icon_radio"></i>
                                    A. A library
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="16179" id="16179" disabled="">
                                <label for="16179">
                                    <i class="icon icon_radio"></i>
                                    B. A visitors center
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="16180" id="16180" disabled="">
                                <label for="16180">
                                    <i class="icon icon_radio"></i>
                                    C. A courthouse
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="16181" id="16181" disabled="">
                                <label for="16181">
                                    <i class="icon icon_radio"></i>
                                    D. A cafe
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. What is indicated about The Pavel Hotel?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="16182" id="16182" disabled="">
                                <label for="16182">
                                    <i class="icon icon_radio"></i>
                                    A. It opened on schedule
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="16183" id="16183" disabled="">
                                <label for="16183">
                                    <i class="icon icon_radio"></i>
                                    B. It was under construction for nine years
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="16184" id="16184" disabled="">
                                <label for="16184">
                                    <i class="icon icon_radio"></i>
                                    C. It is becoming a tourist destination
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="16185" id="16185" disabled="">
                                <label for="16185">
                                    <i class="icon icon_radio"></i>
                                    D. It is managed by Ms. Simpson
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=41"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>