<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 191 - 195 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-58-28.png"
                        style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-58-39.png"
                        style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-58-46.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=42" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>191. What reason is given updating the shuttle bus system?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="16186" id="16186" disabled="">
                                <label for="16186">
                                    <i class="icon icon_radio"></i>
                                    A. Optieris employees provided feedback
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="16187" id="16187" disabled="">
                                <label for="16187">
                                    <i class="icon icon_radio"></i>
                                    B. The current bus fleet is getting old
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="16188" id="16188" disabled="">
                                <label for="16188">
                                    <i class="icon icon_radio"></i>
                                    C. More staff are coming to work by train
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="16189" id="16189" disabled="">
                                <label for="16189">
                                    <i class="icon icon_radio"></i>
                                    D. Optieris has built new facilities on its campus
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>192. What will be one change to the bus system from January 2?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="16190" id="16190" disabled="">
                                <label for="16190">
                                    <i class="icon icon_radio"></i>
                                    A. Buses will create less air pollution
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="16191" id="16191" disabled="">
                                <label for="16191">
                                    <i class="icon icon_radio"></i>
                                    B. Buses will be more frequent
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="16192" id="16192" disabled="">
                                <label for="16192">
                                    <i class="icon icon_radio"></i>
                                    C. Each bus will follow a different route
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="16193" id="16193" disabled="">
                                <label for="16193">
                                    <i class="icon icon_radio"></i>
                                    D. The first morning bus will run earlier
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>193. What bus stop will be added to the route?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="16194" id="16194" disabled="">
                                <label for="16194">
                                    <i class="icon icon_radio"></i>
                                    A. Morbrook Station
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="16195" id="16195" disabled="">
                                <label for="16195">
                                    <i class="icon icon_radio"></i>
                                    B. Nesse Station
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="16196" id="16196" disabled="">
                                <label for="16196">
                                    <i class="icon icon_radio"></i>
                                    C. East Campus
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="16197" id="16197" disabled="">
                                <label for="16197">
                                    <i class="icon icon_radio"></i>
                                    D. West Campus
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. Why will Ms. Edgren visit the Optieris campus?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="16198" id="16198" disabled="">
                                <label for="16198">
                                    <i class="icon icon_radio"></i>
                                    A. To finalize a contract between her company and Optieris
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="16199" id="16199" disabled="">
                                <label for="16199">
                                    <i class="icon icon_radio"></i>
                                    B. To run a quality-control check
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="16200" id="16200" disabled="">
                                <label for="16200">
                                    <i class="icon icon_radio"></i>
                                    C. To attend a training session
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="16201" id="16201" disabled="">
                                <label for="16201">
                                    <i class="icon icon_radio"></i>
                                    D. To pursue an employment opportunity
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. What time does Ms. Edgren expect to get off her bus at Optieris?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="16202" id="16202" disabled="">
                                <label for="16202">
                                    <i class="icon icon_radio"></i>
                                    A. At 7:57 a.m
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="16203" id="16203" disabled="">
                                <label for="16203">
                                    <i class="icon icon_radio"></i>
                                    B. At 8:12 a.m
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="16204" id="16204" disabled="">
                                <label for="16204">
                                    <i class="icon icon_radio"></i>
                                    C. At 8:27 a.m
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="16205" id="16205" disabled="">
                                <label for="16205">
                                    <i class="icon icon_radio"></i>
                                    D. At 8:42 a.m
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=42"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>