<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 196 - 200 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-58-56.png"
                        style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-59-07.png"
                        style="width:100%"></p>

                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-59-18.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=43" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>196. What most likely is Mr. Beeby's job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="16206" id="16206" disabled="">
                                <label for="16206">
                                    <i class="icon icon_radio"></i>
                                    A. Salesclerk
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="16207" id="16207" disabled="">
                                <label for="16207">
                                    <i class="icon icon_radio"></i>
                                    B. Housepainter
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="16208" id="16208" disabled="">
                                <label for="16208">
                                    <i class="icon icon_radio"></i>
                                    C. Delivery driver
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="16209" id="16209" disabled="">
                                <label for="16209">
                                    <i class="icon icon_radio"></i>
                                    D. Real estate agent
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>197. What item did Mr. Beeby need more of?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="16210" id="16210" disabled="">
                                <label for="16210">
                                    <i class="icon icon_radio"></i>
                                    A. Coastland Gray
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="16211" id="16211" disabled="">
                                <label for="16211">
                                    <i class="icon icon_radio"></i>
                                    B. Linwall Gray
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="16212" id="16212" disabled="">
                                <label for="16212">
                                    <i class="icon icon_radio"></i>
                                    C. Brightwyn Green
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="16213" id="16213" disabled="">
                                <label for="16213">
                                    <i class="icon icon_radio"></i>
                                    D. Foxdell Green
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>198. Where did Mr. Beeby pick up the item missing from his order?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="16214" id="16214" disabled="">
                                <label for="16214">
                                    <i class="icon icon_radio"></i>
                                    A. At the northwest store
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="16215" id="16215" disabled="">
                                <label for="16215">
                                    <i class="icon icon_radio"></i>
                                    B. At the northeast store
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="16216" id="16216" disabled="">
                                <label for="16216">
                                    <i class="icon icon_radio"></i>
                                    C. At the southwest store
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="16217" id="16217" disabled="">
                                <label for="16217">
                                    <i class="icon icon_radio"></i>
                                    D. At the southeast store
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>199. What is indicated about Bright Now Home?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="16218" id="16218" disabled="">
                                <label for="16218">
                                    <i class="icon icon_radio"></i>
                                    A. It has design experts in stores
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="16219" id="16219" disabled="">
                                <label for="16219">
                                    <i class="icon icon_radio"></i>
                                    B. It provides same-day delivery service
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="16220" id="16220" disabled="">
                                <label for="16220">
                                    <i class="icon icon_radio"></i>
                                    C. It sells supplies for building maintenance
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="16221" id="16221" disabled="">
                                <label for="16221">
                                    <i class="icon icon_radio"></i>
                                    D. It offers coupons on its Website
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. What is one purpose of Ms. Jones's email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="16222" id="16222" disabled="">
                                <label for="16222">
                                    <i class="icon icon_radio"></i>
                                    A. To introduce a new service
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="16223" id="16223" disabled="">
                                <label for="16223">
                                    <i class="icon icon_radio"></i>
                                    B. To thank a customer
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="16224" id="16224" disabled="">
                                <label for="16224">
                                    <i class="icon icon_radio"></i>
                                    C. To announce a seasonal sale
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="16225" id="16225" disabled="">
                                <label for="16225">
                                    <i class="icon icon_radio"></i>
                                    D. To explain a policy change
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=43"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>