<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 149 - 150 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-55-18.png"
                        style="width:100%"></p>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>149. What is indicated about Sunlight Sugar?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="16018" id="16018" disabled="">
                                <label for="16018">
                                    <i class="icon icon_radio"></i>
                                    A. It is changing the payday schedule
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="16019" id="16019" disabled="">
                                <label for="16019">
                                    <i class="icon icon_radio"></i>
                                    B. It publishes the Sugar Industry Times
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="16020" id="16020" disabled="">
                                <label for="16020">
                                    <i class="icon icon_radio"></i>
                                    C. It was established more than three years ago
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="16021" id="16021" disabled="">
                                <label for="16021">
                                    <i class="icon icon_radio"></i>
                                    D. It was previously the number-one distributor of sugar
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>150. When will plant managers announce an employee bonus?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="16022" id="16022" disabled="">
                                <label for="16022">
                                    <i class="icon icon_radio"></i>
                                    A. On June 1
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="16023" id="16023" disabled="">
                                <label for="16023">
                                    <i class="icon icon_radio"></i>
                                    B. On June 15
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="16024" id="16024" disabled="">
                                <label for="16024">
                                    <i class="icon icon_radio"></i>
                                    C. On July 1
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="16025" id="16025" disabled="">
                                <label for="16025">
                                    <i class="icon icon_radio"></i>
                                    D. On July 15
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>