<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 151 - 152 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-55-30.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>151. What most likely is the Mosella Palladium?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="16026" id="16026" disabled="">
                                <label for="16026">
                                    <i class="icon icon_radio"></i>
                                    A. A sports stadium
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="16027" id="16027" disabled="">
                                <label for="16027">
                                    <i class="icon icon_radio"></i>
                                    B. A performance venue
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="16028" id="16028" disabled="">
                                <label for="16028">
                                    <i class="icon icon_radio"></i>
                                    C. A dance company
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="16029" id="16029" disabled="">
                                <label for="16029">
                                    <i class="icon icon_radio"></i>
                                    D. A theatrical group
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. At 10:08 a.m, what does Ms. Tong mean when she writes, "I can help with that"?</b>
                        </p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="16030" id="16030" disabled="">
                                <label for="16030">
                                    <i class="icon icon_radio"></i>
                                    A. She will send a brochure
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="16031" id="16031" disabled="">
                                <label for="16031">
                                    <i class="icon icon_radio"></i>
                                    B. She will arrange a phone call
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="16032" id="16032" disabled="">
                                <label for="16032">
                                    <i class="icon icon_radio"></i>
                                    C. She can process a refund
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="16033" id="16033" disabled="">
                                <label for="16033">
                                    <i class="icon icon_radio"></i>
                                    D. She can exchange some tickets
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>