<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 154 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-55-43.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>153. What is probably true about Mr. Lee?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="16034" id="16034" disabled="">
                                <label for="16034">
                                    <i class="icon icon_radio"></i>
                                    A. He is moving to a new town
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="16035" id="16035" disabled="">
                                <label for="16035">
                                    <i class="icon icon_radio"></i>
                                    B. He is an experienced electrician
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="16036" id="16036" disabled="">
                                <label for="16036">
                                    <i class="icon icon_radio"></i>
                                    C. He has recently received professional certigication
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="16037" id="16037" disabled="">
                                <label for="16037">
                                    <i class="icon icon_radio"></i>
                                    D. He will be offered a job at the interview
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. When is Mr. Paes most likely NOT available for an interview?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="16038" id="16038" disabled="">
                                <label for="16038">
                                    <i class="icon icon_radio"></i>
                                    A. Tuesday at 3:15 p.m
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="16039" id="16039" disabled="">
                                <label for="16039">
                                    <i class="icon icon_radio"></i>
                                    B. Tuesday at 6:30 p.m
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="16040" id="16040" disabled="">
                                <label for="16040">
                                    <i class="icon icon_radio"></i>
                                    C. Wednesday at 9:30 a.m
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="16041" id="16041" disabled="">
                                <label for="16041">
                                    <i class="icon icon_radio"></i>
                                    D. Wednesday at 11:30 a.m
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>