<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 155 - 157 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-55-53.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=33" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>155. What is true about Mazullo's Bridgeport shop?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="16042" id="16042" disabled="">
                                <label for="16042">
                                    <i class="icon icon_radio"></i>
                                    A. It has recently expanded
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="16043" id="16043" disabled="">
                                <label for="16043">
                                    <i class="icon icon_radio"></i>
                                    B. It is under new management
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="16044" id="16044" disabled="">
                                <label for="16044">
                                    <i class="icon icon_radio"></i>
                                    C. It does not offer delivery
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="16045" id="16045" disabled="">
                                <label for="16045">
                                    <i class="icon icon_radio"></i>
                                    D. It was the first location to open
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>156. What is indicated about Mazullo's pizzas?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="16046" id="16046" disabled="">
                                <label for="16046">
                                    <i class="icon icon_radio"></i>
                                    A. They are reasonably priced
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="16047" id="16047" disabled="">
                                <label for="16047">
                                    <i class="icon icon_radio"></i>
                                    B. They are imported from Chicago
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="16048" id="16048" disabled="">
                                <label for="16048">
                                    <i class="icon icon_radio"></i>
                                    C. Their sauce is made from a family recipe
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="16049" id="16049" disabled="">
                                <label for="16049">
                                    <i class="icon icon_radio"></i>
                                    D. Their vegetable toppings come from Mazullo-owned farms
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. What is NOT included with a deep-dish pizza order?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="16050" id="16050" disabled="">
                                <label for="16050">
                                    <i class="icon icon_radio"></i>
                                    A. Garlic rolls
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="16051" id="16051" disabled="">
                                <label for="16051">
                                    <i class="icon icon_radio"></i>
                                    B. Pasta
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="16052" id="16052" disabled="">
                                <label for="16052">
                                    <i class="icon icon_radio"></i>
                                    C. Toppings
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="16053" id="16053" disabled="">
                                <label for="16053">
                                    <i class="icon icon_radio"></i>
                                    D. A beverage
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=33"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>