<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 158 - 160 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-56-06.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>158. Who most likely is Mr. Stevenson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="16054" id="16054" disabled="">
                                <label for="16054">
                                    <i class="icon icon_radio"></i>
                                    A. A driver
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="16055" id="16055" disabled="">
                                <label for="16055">
                                    <i class="icon icon_radio"></i>
                                    B. A mechanic
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="16056" id="16056" disabled="">
                                <label for="16056">
                                    <i class="icon icon_radio"></i>
                                    C. A medical assistant
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="16057" id="16057" disabled="">
                                <label for="16057">
                                    <i class="icon icon_radio"></i>
                                    D. A city official
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. What is Mr. Stevenson asked to do by phone?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="16058" id="16058" disabled="">
                                <label for="16058">
                                    <i class="icon icon_radio"></i>
                                    A. Extend his medical leave
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="16059" id="16059" disabled="">
                                <label for="16059">
                                    <i class="icon icon_radio"></i>
                                    B. Schedule an examination
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="16060" id="16060" disabled="">
                                <label for="16060">
                                    <i class="icon icon_radio"></i>
                                    C. Contact his supervisor
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="16061" id="16061" disabled="">
                                <label for="16061">
                                    <i class="icon icon_radio"></i>
                                    D. Inquire about weather conditions
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>160. In which of the positions marked [1], [2] , [3] , and [4] does the following sentence
                                best belong? "To that end, we need you to complete one more task before beginning
                                employment with us next month"</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="16062" id="16062" disabled="">
                                <label for="16062">
                                    <i class="icon icon_radio"></i>
                                    A. [1]
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="16063" id="16063" disabled="">
                                <label for="16063">
                                    <i class="icon icon_radio"></i>
                                    B. [2]
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="16064" id="16064" disabled="">
                                <label for="16064">
                                    <i class="icon icon_radio"></i>
                                    C. [3]
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="16065" id="16065" disabled="">
                                <label for="16065">
                                    <i class="icon icon_radio"></i>
                                    D. [4]
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>