<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 164 - 167 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-56-28.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>164. According to the email, when can residents expect to use water again?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="16078" id="16078" disabled="">
                                <label for="16078">
                                    <i class="icon icon_radio"></i>
                                    A. At 7:00 a.m
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="16079" id="16079" disabled="">
                                <label for="16079">
                                    <i class="icon icon_radio"></i>
                                    B. At 11:00 a.m
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="16080" id="16080" disabled="">
                                <label for="16080">
                                    <i class="icon icon_radio"></i>
                                    C. At 3:00 p.m
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="16081" id="16081" disabled="">
                                <label for="16081">
                                    <i class="icon icon_radio"></i>
                                    D. At 5: 00 p.m
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>165. Who most likely is Mr. Kim?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="16082" id="16082" disabled="">
                                <label for="16082">
                                    <i class="icon icon_radio"></i>
                                    A. A plumber
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="16083" id="16083" disabled="">
                                <label for="16083">
                                    <i class="icon icon_radio"></i>
                                    B. A building manager
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="16084" id="16084" disabled="">
                                <label for="16084">
                                    <i class="icon icon_radio"></i>
                                    C. A construction worker
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="16085" id="16085" disabled="">
                                <label for="16085">
                                    <i class="icon icon_radio"></i>
                                    D. A customer-service agent
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. What potential issue does Mr. de la Rue mention?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="16086" id="16086" disabled="">
                                <label for="16086">
                                    <i class="icon icon_radio"></i>
                                    A. There could be an additional
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="16087" id="16087" disabled="">
                                <label for="16087">
                                    <i class="icon icon_radio"></i>
                                    B. There could be a leak in the main water line
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="16088" id="16088" disabled="">
                                <label for="16088">
                                    <i class="icon icon_radio"></i>
                                    C. There might be problems with the water flow
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="16089" id="16089" disabled="">
                                <label for="16089">
                                    <i class="icon icon_radio"></i>
                                    D. There might be a follow-up check in a week
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. What is indicated about the residents of Jigye Apartments?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="16090" id="16090" disabled="">
                                <label for="16090">
                                    <i class="icon icon_radio"></i>
                                    A. They should call a specific number with any concerns
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="16091" id="16091" disabled="">
                                <label for="16091">
                                    <i class="icon icon_radio"></i>
                                    B. They should try to decrease their water usage
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="16092" id="16092" disabled="">
                                <label for="16092">
                                    <i class="icon icon_radio"></i>
                                    C. They have complained to the Customer Service desk
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="16093" id="16093" disabled="">
                                <label for="16093">
                                    <i class="icon icon_radio"></i>
                                    D. They have scheduled a tenant meeting on January 12
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>