<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 168 - 171 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><img alt="" src="/upload/ckfinder/images/ets2020/1/Screenshot%20from%202020-01-20%2014-56-39.png"
                        style="width:100%"></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>168. What is the memo mainly about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="16094" id="16094" disabled="">
                                <label for="16094">
                                    <i class="icon icon_radio"></i>
                                    A. A merger with another company
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="16095" id="16095" disabled="">
                                <label for="16095">
                                    <i class="icon icon_radio"></i>
                                    B. The hiring of several new staff
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="16096" id="16096" disabled="">
                                <label for="16096">
                                    <i class="icon icon_radio"></i>
                                    C. A temporary closing for renovations
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="16097" id="16097" disabled="">
                                <label for="16097">
                                    <i class="icon icon_radio"></i>
                                    D. The opening of a new branch
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. What are staff invited to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="16098" id="16098" disabled="">
                                <label for="16098">
                                    <i class="icon icon_radio"></i>
                                    A. Join a local business group
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="16099" id="16099" disabled="">
                                <label for="16099">
                                    <i class="icon icon_radio"></i>
                                    B. Attend a celebratory gathering
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="16100" id="16100" disabled="">
                                <label for="16100">
                                    <i class="icon icon_radio"></i>
                                    C. Review information on a Website
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="16101" id="16101" disabled="">
                                <label for="16101">
                                    <i class="icon icon_radio"></i>
                                    D. Submit ideas for better customer service
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. What is one achievement Mr. Rees-Yates mentions?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="16102" id="16102" disabled="">
                                <label for="16102">
                                    <i class="icon icon_radio"></i>
                                    A. An award nomination
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="16103" id="16103" disabled="">
                                <label for="16103">
                                    <i class="icon icon_radio"></i>
                                    B. A positive review in a local publication
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="16104" id="16104" disabled="">
                                <label for="16104">
                                    <i class="icon icon_radio"></i>
                                    C. An invitation to popular event
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="16105" id="16105" disabled="">
                                <label for="16105">
                                    <i class="icon icon_radio"></i>
                                    D. An unexpected increase in investment
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. In which of the positions marked [1), [2), [3), and [4) does the following sentence
                                best belong? "Most Leesburg staff have already been recruited"</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="16106" id="16106" disabled="">
                                <label for="16106">
                                    <i class="icon icon_radio"></i>
                                    A. [1]
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="16107" id="16107" disabled="">
                                <label for="16107">
                                    <i class="icon icon_radio"></i>
                                    B. [2]
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="16108" id="16108" disabled="">
                                <label for="16108">
                                    <i class="icon icon_radio"></i>
                                    C. [3]
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="16109" id="16109" disabled="">
                                <label for="16109">
                                    <i class="icon icon_radio"></i>
                                    D. [4]
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>