<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 144 - 146 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>__(1)__ kind of change in your life can cause stress. It does not make a dfference if the change is good, like a promotion at work, or bad, like an illness. Stress can be very useful because it can make us take action and learn new and
                    effective ways of dealing with change. Too much stress can be harmful, though; so it is important to find effective ways of coping with stress.&nbsp;</p>

                <p>One way of coping with stress is exercise. Exercise __(2)__ to physical fitness. People who are more physically&nbsp;fit tend to have fewer stress-ralated health problems. They are likely to have fewer symptoms of depresion, such as trouble&nbsp;sleeping
                    at night, sleeping too much during the day, overeating, or not eating, when they exercise regularly.&nbsp;</p>

                <p>A combination of low fitness and high stress can leave you vulnerable __(3)__&nbsp;more illnesses, Iike&nbsp;colds and flu. Improved&nbsp;fitness and lower stress can help improve both physical and mental health. It is believed that fitness
                    activities, especially aerobic-type exercises, are&nbsp;helpful in improving cardiopulmonary fitness and in reducing anxiety.&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>144. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="5645" id="5645" disabled="">
                                <label for="5645">
                            <i class="icon icon_radio"></i>
                            A. All
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5646" id="5646" disabled="">
                                <label for="5646">
                            <i class="icon icon_radio"></i>
                            B. Any
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5647" id="5647" disabled="">
                                <label for="5647">
                            <i class="icon icon_radio"></i>
                            C. Another
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5648" id="5648" disabled="">
                                <label for="5648">
                            <i class="icon icon_radio"></i>
                            D. Other
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="5649" id="5649" disabled="">
                                <label for="5649">
                            <i class="icon icon_radio"></i>
                            A. distributes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5650" id="5650" disabled="">
                                <label for="5650">
                            <i class="icon icon_radio"></i>
                            B. attributes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5651" id="5651" disabled="">
                                <label for="5651">
                            <i class="icon icon_radio"></i>
                            C. tributes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5652" id="5652" disabled="">
                                <label for="5652">
                            <i class="icon icon_radio"></i>
                            D. contributes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="5653" id="5653" disabled="">
                                <label for="5653">
                            <i class="icon icon_radio"></i>
                            A. to get
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5654" id="5654" disabled="">
                                <label for="5654">
                            <i class="icon icon_radio"></i>
                            B. to getting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5655" id="5655" disabled="">
                                <label for="5655">
                            <i class="icon icon_radio"></i>
                            C. in getting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5656" id="5656" disabled="">
                                <label for="5656">
                            <i class="icon icon_radio"></i>
                            D. for getting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=23" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>