<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>For more than night decades, the name Walt Disney has been preeminent in the fled of family entertainment. From humble __(1)__&nbsp;as a cartoon studio&nbsp;in the 1920s to today's global corporation, The <em>Welt Disney Company&nbsp;</em>continues
                    to proudly, provide quality entertainment for every member of the family, across America and around the world.&nbsp;</p>

                <p>The <em>Disney Legends</em> program was established in 1987 to acknowledge and honor the many individuals whose imagination, talents, and dreams have created the Disney magic. Since its inception, the program has honored many gifted animators,
                    imaginers, song writers, actors and business leaders&nbsp;as __(2)__ a significant impact an the Disney legacy.&nbsp;</p>

                <p>During a 43-year Holhovond career Mat spanned Me development of the motion picture medium&nbsp;as a modern American art, Walter Elias Disney was a pioneer, innovator, and the possessor of one of __(3)__&nbsp;fertile imaginations the world
                    has ever known.&nbsp;</p>
                    </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5657" id="5657" disabled="">
                                <label for="5657">
                            <i class="icon icon_radio"></i>
                            A. beginnings
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5658" id="5658" disabled="">
                                <label for="5658">
                            <i class="icon icon_radio"></i>
                            B. commencements
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5659" id="5659" disabled="">
                                <label for="5659">
                            <i class="icon icon_radio"></i>
                            C. openings
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5660" id="5660" disabled="">
                                <label for="5660">
                            <i class="icon icon_radio"></i>
                            D. introductions
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5661" id="5661" disabled="">
                                <label for="5661">
                            <i class="icon icon_radio"></i>
                            A. to make
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5662" id="5662" disabled="">
                                <label for="5662">
                            <i class="icon icon_radio"></i>
                            B. in making
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5663" id="5663" disabled="">
                                <label for="5663">
                            <i class="icon icon_radio"></i>
                            C. made
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5664" id="5664" disabled="">
                                <label for="5664">
                            <i class="icon icon_radio"></i>
                            D. having made
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5665" id="5665" disabled="">
                                <label for="5665">
                            <i class="icon icon_radio"></i>
                            A. the very
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5666" id="5666" disabled="">
                                <label for="5666">
                            <i class="icon icon_radio"></i>
                            B. many
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5667" id="5667" disabled="">
                                <label for="5667">
                            <i class="icon icon_radio"></i>
                            C. the most
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5668" id="5668" disabled="">
                                <label for="5668">
                            <i class="icon icon_radio"></i>
                            D. some
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>