<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>The challenge at this stage is to &nbsp;the opportunity,&nbsp;to take the risk, to realize an innovative, new, rewarding and productive future. With the strength that&nbsp;has made FIA and the Tech Ed program what it is today, the choice
                    is an easy one -&nbsp;help our community meet the challenges of the 21st century.&nbsp;</p>

                <p>The need for effective computer training and education cannot be overstated. The technical training __(1)__ of our community are&nbsp;overwheIming and mirror the needs of most other inner-city populations. The new program is ready to be
                    launched as a national model&nbsp;for all inner-city community organizations everywhere, for building a future, uplifting indviduals, creating self-sufficiency.&nbsp;</p>

                <p>Thank you for your support and assistance to FIA, and the community residents it serves. We look forward to your __(3)__ of our request and the opportunity to submit a formal proposal for your review. We will be pleased to submit additional
                    information if you so wish. Please do not hesitate to contact us.&nbsp;</p>
                    </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5669" id="5669" disabled="">
                                <label for="5669">
                            <i class="icon icon_radio"></i>
                            A. seize
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5670" id="5670" disabled="">
                                <label for="5670">
                            <i class="icon icon_radio"></i>
                            B. earn
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5671" id="5671" disabled="">
                                <label for="5671">
                            <i class="icon icon_radio"></i>
                            C. make
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5672" id="5672" disabled="">
                                <label for="5672">
                            <i class="icon icon_radio"></i>
                            D. keep
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5673" id="5673" disabled="">
                                <label for="5673">
                            <i class="icon icon_radio"></i>
                            A. retirements
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5674" id="5674" disabled="">
                                <label for="5674">
                            <i class="icon icon_radio"></i>
                            B. measurements
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5675" id="5675" disabled="">
                                <label for="5675">
                            <i class="icon icon_radio"></i>
                            C. requirements
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5676" id="5676" disabled="">
                                <label for="5676">
                            <i class="icon icon_radio"></i>
                            D. monuments
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5677" id="5677" disabled="">
                                <label for="5677">
                            <i class="icon icon_radio"></i>
                            A. hesitation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5678" id="5678" disabled="">
                                <label for="5678">
                            <i class="icon icon_radio"></i>
                            B. consideration
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5679" id="5679" disabled="">
                                <label for="5679">
                            <i class="icon icon_radio"></i>
                            C. revelation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5680" id="5680" disabled="">
                                <label for="5680">
                            <i class="icon icon_radio"></i>
                            D. apprehension
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>