<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Early people had no need for engineering works to supply their water. They camped near natural resources and populations were so small that pollution of the water supply did not pose a problem. But as civilized societies developed
                            and settlements grew into big cities, water management became a major concern, not only to supply the urban areas but to irrigate the farms surrounding them. The solution was to find a way to raise water up from the rivers.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566184336.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.3577%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. Why did early people not have a water supply problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3857" id="3857" disabled="">
                                <label for="3857">
                            <i class="icon icon_radio"></i>
                            A. They were more people to collect the water
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3858" id="3858" disabled="">
                                <label for="3858">
                            <i class="icon icon_radio"></i>
                            B. There were more rivers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3859" id="3859" disabled="">
                                <label for="3859">
                            <i class="icon icon_radio"></i>
                            C. They quickly leaned not to pollute the rivers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3860" id="3860" disabled="">
                                <label for="3860">
                            <i class="icon icon_radio"></i>
                            D. The water was cleaner
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. What happened when cities grew?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3861" id="3861" disabled="">
                                <label for="3861">
                            <i class="icon icon_radio"></i>
                            A. More water was needed for homes and farming
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3862" id="3862" disabled="">
                                <label for="3862">
                            <i class="icon icon_radio"></i>
                            B. There was no water in the countryside
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3863" id="3863" disabled="">
                                <label for="3863">
                            <i class="icon icon_radio"></i>
                            C. They didn't have rivers flowing through them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3864" id="3864" disabled="">
                                <label for="3864">
                            <i class="icon icon_radio"></i>
                            D. Water supplies were stopped by managers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What kind of radio program would this be on?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3865" id="3865" disabled="">
                                <label for="3865">
                            <i class="icon icon_radio"></i>
                            A. a chat show
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3866" id="3866" disabled="">
                                <label for="3866">
                            <i class="icon icon_radio"></i>
                            B. general interest show
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3867" id="3867" disabled="">
                                <label for="3867">
                            <i class="icon icon_radio"></i>
                            C. current affairs show
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3868" id="3868" disabled="">
                                <label for="3868">
                            <i class="icon icon_radio"></i>
                            D. local news
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>