<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Many people were lucky to escape with their lives today when a leaking gas pipe exploded in a major art gallery. The fire that followed destroyed the gallery and many cars parked outside it. Hundreds of irreplaceable works of art
                            were destroyed. A spokesman from the fire brigade said that the building is unsafe and will have to be demolished but it was a miracle that no one died in the incident. He said it looked like the scene of a bomb attack. Sadly,
                            the building had recently been restored and there are no funds left to rebuild the gallery.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566187151.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.78383%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. What was the cause of the tragedy?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="3965" id="3965" disabled="">
                                <label for="3965">
                            <i class="icon icon_radio"></i>
                            A. gas explosion
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3966" id="3966" disabled="">
                                <label for="3966">
                            <i class="icon icon_radio"></i>
                            B. a bomb
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3967" id="3967" disabled="">
                                <label for="3967">
                            <i class="icon icon_radio"></i>
                            C. a car crash
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3968" id="3968" disabled="">
                                <label for="3968">
                            <i class="icon icon_radio"></i>
                            D. bad weather
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. What will happen to the building?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="3969" id="3969" disabled="">
                                <label for="3969">
                            <i class="icon icon_radio"></i>
                            A. It will be pulled down
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3970" id="3970" disabled="">
                                <label for="3970">
                            <i class="icon icon_radio"></i>
                            B. It will be repaired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3971" id="3971" disabled="">
                                <label for="3971">
                            <i class="icon icon_radio"></i>
                            C. It has not yet been decided
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3972" id="3972" disabled="">
                                <label for="3972">
                            <i class="icon icon_radio"></i>
                            D. It will reopen in a few weeks
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. What was a good thing about the tragedy?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="3973" id="3973" disabled="">
                                <label for="3973">
                            <i class="icon icon_radio"></i>
                            A. The art can all be replaced
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3974" id="3974" disabled="">
                                <label for="3974">
                            <i class="icon icon_radio"></i>
                            B. The building needed to be restored anyway
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3975" id="3975" disabled="">
                                <label for="3975">
                            <i class="icon icon_radio"></i>
                            C. No-one was killed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3976" id="3976" disabled="">
                                <label for="3976">
                            <i class="icon icon_radio"></i>
                            D. There is plenty of money to rebuild it
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>