<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Many people travel from this country in search of the sun. The sun should be enjoyed, but overexposure can cause sunburn, leading to premature skin aging and an increased risk of skin cancer. Take care not to burn. It is particularly
                            important to care for your children, and babies should not be placed in direct sunlight at all. Stay out of the sun for at least two hours around midday, use what shade there is at other times, and cover up with a hat and loose
                            clothing. Protective creams suitable for your skin type can help to protect exposed parts of the body. Wear sunglasses to protect your eyes.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566184708.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.4324%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:18</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. Which of the following is NOT mentioned as a negative result of the sun?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3869" id="3869" disabled="">
                                <label for="3869">
                            <i class="icon icon_radio"></i>
                            A. a tan
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3870" id="3870" disabled="">
                                <label for="3870">
                            <i class="icon icon_radio"></i>
                            B. cancer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3871" id="3871" disabled="">
                                <label for="3871">
                            <i class="icon icon_radio"></i>
                            C. burns 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3872" id="3872" disabled="">
                                <label for="3872">
                            <i class="icon icon_radio"></i>
                            D. aging
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. What is recommended?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3873" id="3873" disabled="">
                                <label for="3873">
                            <i class="icon icon_radio"></i>
                            A. Only go out in the sun at midday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3874" id="3874" disabled="">
                                <label for="3874">
                            <i class="icon icon_radio"></i>
                            B. Stay in the sun for a maximum of two hours a day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3875" id="3875" disabled="">
                                <label for="3875">
                            <i class="icon icon_radio"></i>
                            C. Very young children should not be left in the sun
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3876" id="3876" disabled="">
                                <label for="3876">
                            <i class="icon icon_radio"></i>
                            D. Teenagers should avoid the sun
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What is important about protective cream?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3877" id="3877" disabled="">
                                <label for="3877">
                            <i class="icon icon_radio"></i>
                            A. They are not to be used on the face
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3878" id="3878" disabled="">
                                <label for="3878">
                            <i class="icon icon_radio"></i>
                            B. They do not work under clothing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3879" id="3879" disabled="">
                                <label for="3879">
                            <i class="icon icon_radio"></i>
                            C. There are different types for different skin
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3880" id="3880" disabled="">
                                <label for="3880">
                            <i class="icon icon_radio"></i>
                            D. They allow you to stay in the sun for as long as you like with no risk
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>