<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>We've been very happy here but it's just too big for us now that the children have left home. We've decided to move close to the sea so the money from this should buy us a nice cottage. The bedrooms have fitted cupboards and lovely
                            wooden floors. Your fuel bills will be cheap thanks to the solar panels in the roof. You can see the garden from here. Can you see we had a lovely brick barbecue built near the apple tree? Oh and of course it's very convenient
                            for you to get to the airport every day as the train station is a five-minute walk.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566185192.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.988%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:01</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. What does the speaker want to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="3881" id="3881" disabled="">
                                <label for="3881">
                            <i class="icon icon_radio"></i>
                            A. sell the house
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3882" id="3882" disabled="">
                                <label for="3882">
                            <i class="icon icon_radio"></i>
                            B. rent the house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3883" id="3883" disabled="">
                                <label for="3883">
                            <i class="icon icon_radio"></i>
                            C. buy the house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3884" id="3884" disabled="">
                                <label for="3884">
                            <i class="icon icon_radio"></i>
                            D. use the house as a holiday home
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. How is the house environmentally friendly?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="3885" id="3885" disabled="">
                                <label for="3885">
                            <i class="icon icon_radio"></i>
                            A. fitted cupboards
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3886" id="3886" disabled="">
                                <label for="3886">
                            <i class="icon icon_radio"></i>
                            B. hand-made barbecue
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3887" id="3887" disabled="">
                                <label for="3887">
                            <i class="icon icon_radio"></i>
                            C. wooden floors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3888" id="3888" disabled="">
                                <label for="3888">
                            <i class="icon icon_radio"></i>
                            D. solar heating
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. Who is the speaker showing around the house?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="3889" id="3889" disabled="">
                                <label for="3889">
                            <i class="icon icon_radio"></i>
                            A. estate agent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3890" id="3890" disabled="">
                                <label for="3890">
                            <i class="icon icon_radio"></i>
                            B. police officer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3891" id="3891" disabled="">
                                <label for="3891">
                            <i class="icon icon_radio"></i>
                            C. train driver
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3892" id="3892" disabled="">
                                <label for="3892">
                            <i class="icon icon_radio"></i>
                            D. pilot
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>