<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>This is a stunning performance from one of our greatest actors who is recovering from some serious health problems. Starting after the news at seven o'clock this evening, this beautifully written story will have you sitting on
                            the edge of your seat, waiting to see what happens next. It is not really suitable for young children, however, due to some of the very angry scenes shouted out by the main actors in the more dramatic parts of the storyline.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566185484.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.2427%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:55</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. What is the review for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="3893" id="3893" disabled="">
                                <label for="3893">
                            <i class="icon icon_radio"></i>
                            A. documentary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3894" id="3894" disabled="">
                                <label for="3894">
                            <i class="icon icon_radio"></i>
                            B. book
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3895" id="3895" disabled="">
                                <label for="3895">
                            <i class="icon icon_radio"></i>
                            C. TV program
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3896" id="3896" disabled="">
                                <label for="3896">
                            <i class="icon icon_radio"></i>
                            D. play at the theater
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. What is said about the main actor?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="3897" id="3897" disabled="">
                                <label for="3897">
                            <i class="icon icon_radio"></i>
                            A. He is mentally ill
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3898" id="3898" disabled="">
                                <label for="3898">
                            <i class="icon icon_radio"></i>
                            B. He has recently been ill
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3899" id="3899" disabled="">
                                <label for="3899">
                            <i class="icon icon_radio"></i>
                            C. It is his first big part
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3900" id="3900" disabled="">
                                <label for="3900">
                            <i class="icon icon_radio"></i>
                            D. He is not very famous
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What warning is given?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="3901" id="3901" disabled="">
                                <label for="3901">
                            <i class="icon icon_radio"></i>
                            A. There is a lot of strong language
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3902" id="3902" disabled="">
                                <label for="3902">
                            <i class="icon icon_radio"></i>
                            B. It is too long
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3903" id="3903" disabled="">
                                <label for="3903">
                            <i class="icon icon_radio"></i>
                            C. It's hard to understand the story
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3904" id="3904" disabled="">
                                <label for="3904">
                            <i class="icon icon_radio"></i>
                            D. It's on very late
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>