<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 83 - 85 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>A very warm welcome to Blackmore university. Congratulations on being accepted into such a fine university. You will find that there are many opportunities to join a number of societies and clubs during your three years here. In
                            order to find out exactly what's on offer you are invited to go to the gym after lunch to meet the many societies and collect your union cards. This evening there is a welcoming party for you all and after you have seen a short
                            film about the university you will be treated to lunch in the student canteen.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566185836.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.257%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:04</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>83. What is the point of this speech?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="82" value="3905" id="3905" disabled="">
                                <label for="3905">
                            <i class="icon icon_radio"></i>
                            A. to sell things
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3906" id="3906" disabled="">
                                <label for="3906">
                            <i class="icon icon_radio"></i>
                            B. to congratulate students on their graduation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3907" id="3907" disabled="">
                                <label for="3907">
                            <i class="icon icon_radio"></i>
                            C. to open a new university
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3908" id="3908" disabled="">
                                <label for="3908">
                            <i class="icon icon_radio"></i>
                            D. to welcome new students
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>84. Where can students get their student union cards?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="83" value="3909" id="3909" disabled="">
                                <label for="3909">
                            <i class="icon icon_radio"></i>
                            A. canteen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3910" id="3910" disabled="">
                                <label for="3910">
                            <i class="icon icon_radio"></i>
                            B. gym 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3911" id="3911" disabled="">
                                <label for="3911">
                            <i class="icon icon_radio"></i>
                            C. the union office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3912" id="3912" disabled="">
                                <label for="3912">
                            <i class="icon icon_radio"></i>
                            D. from their lecturers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>85. What will happen next?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="84" value="3913" id="3913" disabled="">
                                <label for="3913">
                            <i class="icon icon_radio"></i>
                            A. They will be show a film
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3914" id="3914" disabled="">
                                <label for="3914">
                            <i class="icon icon_radio"></i>
                            B. They will eat
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3915" id="3915" disabled="">
                                <label for="3915">
                            <i class="icon icon_radio"></i>
                            C. They will join the Students' Union
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3916" id="3916" disabled="">
                                <label for="3916">
                            <i class="icon icon_radio"></i>
                            D. They will have a party
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>