<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Are you good with people? Do you enjoy travelling to other countries and organizing things? If yes, then why not join our happy team of holiday representatives? Speaking a foreign language is an advantage and you must be able to
                            get on with people of all ages. We will provide a company car but you must be able to drive. If you think you would enjoy helping people, have a good time, and are confident that you can cope with the stress of working in a
                            foreign country, then give us a call now and arrange an interview.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566186049.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.7254%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:03</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. What is the advertisement for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="3917" id="3917" disabled="">
                                <label for="3917">
                            <i class="icon icon_radio"></i>
                            A. a job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3918" id="3918" disabled="">
                                <label for="3918">
                            <i class="icon icon_radio"></i>
                            B. a holiday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3919" id="3919" disabled="">
                                <label for="3919">
                            <i class="icon icon_radio"></i>
                            C. a house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3920" id="3920" disabled="">
                                <label for="3920">
                            <i class="icon icon_radio"></i>
                            D. a college
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. What must you have?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="3921" id="3921" disabled="">
                                <label for="3921">
                            <i class="icon icon_radio"></i>
                            A. the ability to speak two languages
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3922" id="3922" disabled="">
                                <label for="3922">
                            <i class="icon icon_radio"></i>
                            B. work experience with children
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3923" id="3923" disabled="">
                                <label for="3923">
                            <i class="icon icon_radio"></i>
                            C. a driving licence
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3924" id="3924" disabled="">
                                <label for="3924">
                            <i class="icon icon_radio"></i>
                            D. a good car
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What will be the biggest challenge?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="3925" id="3925" disabled="">
                                <label for="3925">
                            <i class="icon icon_radio"></i>
                            A. having to travel a lot
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3926" id="3926" disabled="">
                                <label for="3926">
                            <i class="icon icon_radio"></i>
                            B. cultural differences
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3927" id="3927" disabled="">
                                <label for="3927">
                            <i class="icon icon_radio"></i>
                            C. meeting lots of people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3928" id="3928" disabled="">
                                <label for="3928">
                            <i class="icon icon_radio"></i>
                            D. organizing entertainment
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>