<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 89 - 91 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>We all know we should be doing more exercise and most of us want to, but somehow, life has a habit of spoiling our good intentions. Let's face it, there's always a reason not to start - too tired, too busy, too much work. But in
                            our campaign we have found ten volunteers who have embarked on a walking program in a bid to improve their health and lose some weight. An expert has designed a walking plan to get everyone moving and we are inviting all of
                            you and your partners, friends and children to join us. As an added incentive, each of our walkers is raising money for their favorite charity which you can do, too.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566186374.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.40298%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:09</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>89. What does the speaker say about getting fit?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="88" value="3929" id="3929" disabled="">
                                <label for="3929">
                            <i class="icon icon_radio"></i>
                            A. Most people don't want to be fit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3930" id="3930" disabled="">
                                <label for="3930">
                            <i class="icon icon_radio"></i>
                            B. People intend to but usually don't
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3931" id="3931" disabled="">
                                <label for="3931">
                            <i class="icon icon_radio"></i>
                            C. It's impossible for most people to do
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3932" id="3932" disabled="">
                                <label for="3932">
                            <i class="icon icon_radio"></i>
                            D. Very few people are unfit these days
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>90. What is the aim of this campaign?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="89" value="3933" id="3933" disabled="">
                                <label for="3933">
                            <i class="icon icon_radio"></i>
                            A. to do some research on ten women
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3934" id="3934" disabled="">
                                <label for="3934">
                            <i class="icon icon_radio"></i>
                            B. to encourage as many people as possible to get involved
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3935" id="3935" disabled="">
                                <label for="3935">
                            <i class="icon icon_radio"></i>
                            C. to show that women are fitter then men
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3936" id="3936" disabled="">
                                <label for="3936">
                            <i class="icon icon_radio"></i>
                            D. to show that there is nothing wrong with being overweight
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>91. What might encourage more people to join this campaign?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="90" value="3937" id="3937" disabled="">
                                <label for="3937">
                            <i class="icon icon_radio"></i>
                            A. winning a prize
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3938" id="3938" disabled="">
                                <label for="3938">
                            <i class="icon icon_radio"></i>
                            B. wearing designer clothes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3939" id="3939" disabled="">
                                <label for="3939">
                            <i class="icon icon_radio"></i>
                            C. getting rid of all their illnesses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3940" id="3940" disabled="">
                                <label for="3940">
                            <i class="icon icon_radio"></i>
                            D. raising money for a good cause
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>