<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Part of the excitement and fear of any holiday is the moment when you discover how much the reality matches the dream. Our hopes were high as we carefully drove along the narrow lanes to our villa. We were all relieved to see that
                            our villa was big and beautiful and very stylish. It had been years since we'd last been to Majorca and we were worried that it would be full of thousands of drunk tourists. The opposite was true though, as it has developed
                            as a resort but now offers music and art festivals and attracts people who want to have a lovely time mixing with the locals in peaceful surroundings</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566186672.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.98441%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:08</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. Where might this talk be from?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3941" id="3941" disabled="">
                                <label for="3941">
                            <i class="icon icon_radio"></i>
                            A. a soap opera
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3942" id="3942" disabled="">
                                <label for="3942">
                            <i class="icon icon_radio"></i>
                            B. an advertisement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3943" id="3943" disabled="">
                                <label for="3943">
                            <i class="icon icon_radio"></i>
                            C. a holiday program
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3944" id="3944" disabled="">
                                <label for="3944">
                            <i class="icon icon_radio"></i>
                            D. a news item
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. What was the speaker's worry?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3945" id="3945" disabled="">
                                <label for="3945">
                            <i class="icon icon_radio"></i>
                            A. they wouldn't be able to find their villa
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3946" id="3946" disabled="">
                                <label for="3946">
                            <i class="icon icon_radio"></i>
                            B. they wouldn't be able to get their car up the road
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3947" id="3947" disabled="">
                                <label for="3947">
                            <i class="icon icon_radio"></i>
                            C. the villa would be too big
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3948" id="3948" disabled="">
                                <label for="3948">
                            <i class="icon icon_radio"></i>
                            D. there would be too many tourists
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. How has Majorca changed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3949" id="3949" disabled="">
                                <label for="3949">
                            <i class="icon icon_radio"></i>
                            A. It has become more cultural
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3950" id="3950" disabled="">
                                <label for="3950">
                            <i class="icon icon_radio"></i>
                            B. It is full of drunk people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3951" id="3951" disabled="">
                                <label for="3951">
                            <i class="icon icon_radio"></i>
                            C. Tourism is not as popular as it was
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3952" id="3952" disabled="">
                                <label for="3952">
                            <i class="icon icon_radio"></i>
                            D. Tourists are not treated well
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>