<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 95 - 97 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>This is an important announcement for all personnel. At approximately 3.30 this afternoon there will be a fire drill to check that all alarm systems are working properly and that all employees know exactly what to do in case of
                            fire or a bomb scare. On hearing the alarm, you should immediately leave the warehouse and go to the far end of the car park. Do not stop to collect your personal belongings. The exercise should take about 10 minutes after
                            which you will be told when you can return to your machines.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665886/1566186898.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.0772%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>95. Where is this announcement taking place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="94" value="3953" id="3953" disabled="">
                                <label for="3953">
                            <i class="icon icon_radio"></i>
                            A. shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3954" id="3954" disabled="">
                                <label for="3954">
                            <i class="icon icon_radio"></i>
                            B. car park
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3955" id="3955" disabled="">
                                <label for="3955">
                            <i class="icon icon_radio"></i>
                            C. factory
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3956" id="3956" disabled="">
                                <label for="3956">
                            <i class="icon icon_radio"></i>
                            D. restaurant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>96. What is happening?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="95" value="3957" id="3957" disabled="">
                                <label for="3957">
                            <i class="icon icon_radio"></i>
                            A. There is a fire
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3958" id="3958" disabled="">
                                <label for="3958">
                            <i class="icon icon_radio"></i>
                            B. It is a safety exercise
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3959" id="3959" disabled="">
                                <label for="3959">
                            <i class="icon icon_radio"></i>
                            C. There is a bomb threat
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3960" id="3960" disabled="">
                                <label for="3960">
                            <i class="icon icon_radio"></i>
                            D. The fire alarm is broken
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>97. What must all employees do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="96" value="3961" id="3961" disabled="">
                                <label for="3961">
                            <i class="icon icon_radio"></i>
                            A. take their bags and coats with them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3962" id="3962" disabled="">
                                <label for="3962">
                            <i class="icon icon_radio"></i>
                            B. return to work after five minutes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3963" id="3963" disabled="">
                                <label for="3963">
                            <i class="icon icon_radio"></i>
                            C. remain in the car park until told otherwise
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3964" id="3964" disabled="">
                                <label for="3964">
                            <i class="icon icon_radio"></i>
                            D. go home when they hear the alarm
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>