<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
                        following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>In local news, residents have long awaited the grand opening of the River City Zoo this
                            Saturday. For this special grand-opening event, hours will be extended until eight P.M. And,
                            the zoo will also be having a photo contest during
                            the event. Be sure to take photos while you walk through the exhibits to submit for the
                            contest. To read the contest rules and regulations, visit the zoo's Web site.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="https://toeic24.vn/upload/audio/1579590121/1580443429.mp3" type="audio/mp3">
                        </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.73793%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. What event is the speaker mainly talking about? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="16884" id="16884" disabled="">
                                <label for="16884">
                                    <i class="icon icon_radio"></i>
                                    A. A sports competition
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="16885" id="16885" disabled="">
                                <label for="16885">
                                    <i class="icon icon_radio"></i>
                                    B. A grand opening
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="16886" id="16886" disabled="">
                                <label for="16886">
                                    <i class="icon icon_radio"></i>
                                    C. A nutrition workshop
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="16887" id="16887" disabled="">
                                <label for="16887">
                                    <i class="icon icon_radio"></i>
                                    D. A community festival
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. What are the listeners encouraged to do during the event? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="16888" id="16888" disabled="">
                                <label for="16888">
                                    <i class="icon icon_radio"></i>
                                    A. Sample different foods
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="16889" id="16889" disabled="">
                                <label for="16889">
                                    <i class="icon icon_radio"></i>
                                    B. Watch a demonstration
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="16890" id="16890" disabled="">
                                <label for="16890">
                                    <i class="icon icon_radio"></i>
                                    C. Purchase souvenirs
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="16891" id="16891" disabled="">
                                <label for="16891">
                                    <i class="icon icon_radio"></i>
                                    D. Take pictures
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What can the listeners find on a Web site? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="16892" id="16892" disabled="">
                                <label for="16892">
                                    <i class="icon icon_radio"></i>
                                    A. A list of sponsors
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="16893" id="16893" disabled="">
                                <label for="16893">
                                    <i class="icon icon_radio"></i>
                                    B. Information about parking
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="16894" id="16894" disabled="">
                                <label for="16894">
                                    <i class="icon icon_radio"></i>
                                    C. Some contest guidelines
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="16895" id="16895" disabled="">
                                <label for="16895">
                                    <i class="icon icon_radio"></i>
                                    D. Some membership options
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=34"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>