<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
                        following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=43" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="text-center"><img src="https://toeic24.vn/upload/img/original/1580452067.png"></div>
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning. We're happy you've joined our team at BG Gardening Service. I'd like to tell
                            you about some of the landscaping you'll be responsible for. Our gardening company maintains
                            the outdoor areas at the Delville Shopping
                            Complex, and you'll be doing your first job over there today. Look at this map of the
                            shopping complex. In the lower left, where Elm Road and Main Street meet, there's a small
                            building. You'll be responsible for the gardens
                            around that building. I'll explain more at the site. Let's head over there now so I can show
                            you in person.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="https://toeic24.vn/upload/audio/1579590121/1580452067.mp3" type="audio/mp3">
                        </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 4.65918%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:36</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. Who most likely are the listeners? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="16992" id="16992" disabled="">
                                <label for="16992">
                                    <i class="icon icon_radio"></i>
                                    A. Gardeners
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="16993" id="16993" disabled="">
                                <label for="16993">
                                    <i class="icon icon_radio"></i>
                                    B. Security guards
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="16994" id="16994" disabled="">
                                <label for="16994">
                                    <i class="icon icon_radio"></i>
                                    C. Sales clerks
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="16995" id="16995" disabled="">
                                <label for="16995">
                                    <i class="icon icon_radio"></i>
                                    D. Postal workers
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. Look at the graphic. Which building does the speaker talk about? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="16996" id="16996" disabled="">
                                <label for="16996">
                                    <i class="icon icon_radio"></i>
                                    A. Building 1
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="16997" id="16997" disabled="">
                                <label for="16997">
                                    <i class="icon icon_radio"></i>
                                    B. Building 2
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="16998" id="16998" disabled="">
                                <label for="16998">
                                    <i class="icon icon_radio"></i>
                                    C. Building 3
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="16999" id="16999" disabled="">
                                <label for="16999">
                                    <i class="icon icon_radio"></i>
                                    D. Building 4
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. What will the listeners most likely do next? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="17000" id="17000" disabled="">
                                <label for="17000">
                                    <i class="icon icon_radio"></i>
                                    A. Complete some paperwork
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="17001" id="17001" disabled="">
                                <label for="17001">
                                    <i class="icon icon_radio"></i>
                                    B. Try on some uniforms
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="17002" id="17002" disabled="">
                                <label for="17002">
                                    <i class="icon icon_radio"></i>
                                    C. Visit a work site
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="17003" id="17003" disabled="">
                                <label for="17003">
                                    <i class="icon icon_radio"></i>
                                    D. Take a lunch break
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=43"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>