<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Attention, passengers flying to Dublin. Since this flight is fully booked and luggage space will be limited, you may check extra bags for free. If you'd like to check your luggage to your final destination at no extra charge, you
                            can speak to an airline representative at the gate desk. We'll begin boarding soon, so please check your ticket for your seat assignment. Thank you for flying with us.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580443810.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.68859%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:06</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. Where most likely does this announcement take place? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="16896" id="16896" disabled="">
                                <label for="16896">
                            <i class="icon icon_radio"></i>
                            A. At a ferry terminal 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="16897" id="16897" disabled="">
                                <label for="16897">
                            <i class="icon icon_radio"></i>
                            B. At an airport 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="16898" id="16898" disabled="">
                                <label for="16898">
                            <i class="icon icon_radio"></i>
                            C. At a train station 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="16899" id="16899" disabled="">
                                <label for="16899">
                            <i class="icon icon_radio"></i>
                            D. At a travel agency 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. According to the speaker, what can the listeners do for free? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="16900" id="16900" disabled="">
                                <label for="16900">
                            <i class="icon icon_radio"></i>
                            A. Check extra luggage
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="16901" id="16901" disabled="">
                                <label for="16901">
                            <i class="icon icon_radio"></i>
                            B. Change a seat assignment 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="16902" id="16902" disabled="">
                                <label for="16902">
                            <i class="icon icon_radio"></i>
                            C. Order a meal 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="16903" id="16903" disabled="">
                                <label for="16903">
                            <i class="icon icon_radio"></i>
                            D. Take a map 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What does the speaker ask the listeners to do? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="16904" id="16904" disabled="">
                                <label for="16904">
                            <i class="icon icon_radio"></i>
                            A. Look at a ticket
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="16905" id="16905" disabled="">
                                <label for="16905">
                            <i class="icon icon_radio"></i>
                            B. Change a reservation 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="16906" id="16906" disabled="">
                                <label for="16906">
                            <i class="icon icon_radio"></i>
                            C. Stand in a line 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="16907" id="16907" disabled="">
                                <label for="16907">
                            <i class="icon icon_radio"></i>
                            D. Provide some identification 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>