<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
                        following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Glad to see everyone's back on the bus. I hope you've enjoyed today's tour of Rosedale so
                            far. City Hall is one of my favorite stops. You may not have heard me say it, but our city
                            hall is notable as the biggest government building
                            in the nation. In a few minutes, we'll arrive at Carpton Market. It has some of the city's
                            best local food. You'II have time to explore the market on your own-but the bus leaves at
                            three P.M. I'll be walking around too, so
                            join me if you'd like to hear more about the market.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="https://toeic24.vn/upload/audio/1579590121/1580443935.mp3" type="audio/mp3">
                        </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.0549%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:13</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. Who most likely is the speaker? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="16908" id="16908" disabled="">
                                <label for="16908">
                                    <i class="icon icon_radio"></i>
                                    A. A tour guide
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="16909" id="16909" disabled="">
                                <label for="16909">
                                    <i class="icon icon_radio"></i>
                                    B. A chef
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="16910" id="16910" disabled="">
                                <label for="16910">
                                    <i class="icon icon_radio"></i>
                                    C. A taxi driver
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="16911" id="16911" disabled="">
                                <label for="16911">
                                    <i class="icon icon_radio"></i>
                                    D. A politician
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. According to the speaker, what is special about Rosedale's city hall? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="16912" id="16912" disabled="">
                                <label for="16912">
                                    <i class="icon icon_radio"></i>
                                    A. Its age
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="16913" id="16913" disabled="">
                                <label for="16913">
                                    <i class="icon icon_radio"></i>
                                    B. Its location
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="16914" id="16914" disabled="">
                                <label for="16914">
                                    <i class="icon icon_radio"></i>
                                    C. Its architecture
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="16915" id="16915" disabled="">
                                <label for="16915">
                                    <i class="icon icon_radio"></i>
                                    D. Its size
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. Why does the speaker say, "the bus leaves at 3:00 P.M."? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="16916" id="16916" disabled="">
                                <label for="16916">
                                    <i class="icon icon_radio"></i>
                                    A. He is unhappy with an itinerary.
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="16917" id="16917" disabled="">
                                <label for="16917">
                                    <i class="icon icon_radio"></i>
                                    B. He cannot accept an invitation.
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="16918" id="16918" disabled="">
                                <label for="16918">
                                    <i class="icon icon_radio"></i>
                                    C. He wants the listeners to be on time.
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="16919" id="16919" disabled="">
                                <label for="16919">
                                    <i class="icon icon_radio"></i>
                                    D. He thinks the listeners should use other transportation.
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=36"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>