<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Recently we conducted a market survey about our new phone application called Minimarket. Well, we found that people of all ages like the idea of using their mobile phones to order groceries. However, there has been one consistent
                            complaint about the app. According to users, the process for ordering groceries with this app is too complicated. So, we invited Lupe Gonzalez here to present some ideas. She's a technology consultant who has designed similar
                            apps before.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580444065.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.50991%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. What is the purpose of the meeting? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="16920" id="16920" disabled="">
                                <label for="16920">
                            <i class="icon icon_radio"></i>
                            A. To delegate projects 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="16921" id="16921" disabled="">
                                <label for="16921">
                            <i class="icon icon_radio"></i>
                            B. To introduce a client 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="16922" id="16922" disabled="">
                                <label for="16922">
                            <i class="icon icon_radio"></i>
                            C. To organize a seminar 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="16923" id="16923" disabled="">
                                <label for="16923">
                            <i class="icon icon_radio"></i>
                            D. To present survey results 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. What is the main complaint about a phone application? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="16924" id="16924" disabled="">
                                <label for="16924">
                            <i class="icon icon_radio"></i>
                            A. It is slow. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="16925" id="16925" disabled="">
                                <label for="16925">
                            <i class="icon icon_radio"></i>
                            B. It is unattractive. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="16926" id="16926" disabled="">
                                <label for="16926">
                            <i class="icon icon_radio"></i>
                            C. It is hard to use. 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="16927" id="16927" disabled="">
                                <label for="16927">
                            <i class="icon icon_radio"></i>
                            D. It has high fees. 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What will happen next? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="16928" id="16928" disabled="">
                                <label for="16928">
                            <i class="icon icon_radio"></i>
                            A. Lunch will be delivered. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="16929" id="16929" disabled="">
                                <label for="16929">
                            <i class="icon icon_radio"></i>
                            B. A schedule will be finalized. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="16930" id="16930" disabled="">
                                <label for="16930">
                            <i class="icon icon_radio"></i>
                            C. A consultant will make a presentation.
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="16931" id="16931" disabled="">
                                <label for="16931">
                            <i class="icon icon_radio"></i>
                            D. Team members will test a new product. 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>