<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=39" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>As you all know, when sales at Henry's Home Furnishings dropped again last year, the executive board decided it was time to reevaluate our brand. Our research revealed that we were missing out on a large market-young adultswho
                            saw our products, especially our living room furniture, as "out-of-date" and "unimaginative''. So we're now launching an updated product line based on the latest trends, called Urban Henry. Some of the furniture will even feature
                            wireless charging for mobile devices. Now, before the official launch in May, I'd like you, our public relations team, to prepare a press release to send to the usual business news outlets.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580444460.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.43204%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:24</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. What does the speaker's company mainly sell? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="16944" id="16944" disabled="">
                                <label for="16944">
                            <i class="icon icon_radio"></i>
                            A. Gardening equipment 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="16945" id="16945" disabled="">
                                <label for="16945">
                            <i class="icon icon_radio"></i>
                            B. Computer accessories 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="16946" id="16946" disabled="">
                                <label for="16946">
                            <i class="icon icon_radio"></i>
                            C. Stationery supplies 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="16947" id="16947" disabled="">
                                <label for="16947">
                            <i class="icon icon_radio"></i>
                            D. Home furniture 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. How has the company addressed a problem? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="16948" id="16948" disabled="">
                                <label for="16948">
                            <i class="icon icon_radio"></i>
                            A. By opening more stores
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="16949" id="16949" disabled="">
                                <label for="16949">
                            <i class="icon icon_radio"></i>
                            B. By lowering prices 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="16950" id="16950" disabled="">
                                <label for="16950">
                            <i class="icon icon_radio"></i>
                            C. By updating a product line 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="16951" id="16951" disabled="">
                                <label for="16951">
                            <i class="icon icon_radio"></i>
                            D. By merging with another company 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What does the speaker ask the listeners to do? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="16952" id="16952" disabled="">
                                <label for="16952">
                            <i class="icon icon_radio"></i>
                            A. Prepare a press release 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="16953" id="16953" disabled="">
                                <label for="16953">
                            <i class="icon icon_radio"></i>
                            B. Revise some designs 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="16954" id="16954" disabled="">
                                <label for="16954">
                            <i class="icon icon_radio"></i>
                            C. Review a financial forecast 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="16955" id="16955" disabled="">
                                <label for="16955">
                            <i class="icon icon_radio"></i>
                            D. Speak to customers 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=39" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>