<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=41" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good afternoon, everyone. I&nbsp;want to compliment you all for your excellent work on the Peterson ad campaign. Their company has already seen a jump in sales from the advertisements we created! Next on the agenda, I want to let
                            you know about a great professional development opportunity. We've decided to start offering reimbursement, covering tuition and other fees, for all employees who take classes at the local business school. And there are lots
                            of great options to choose from. There's an interesting evening course called Creative Advertising and it has earned many awards. If you have any questions, let me know.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580451332.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.55794%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:22</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. Where do the listeners most likely work? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="16968" id="16968" disabled="">
                                <label for="16968">
                            <i class="icon icon_radio"></i>
                            A. At an art gallery 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="16969" id="16969" disabled="">
                                <label for="16969">
                            <i class="icon icon_radio"></i>
                            B. At a fitness center 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="16970" id="16970" disabled="">
                                <label for="16970">
                            <i class="icon icon_radio"></i>
                            C. At a department store 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="16971" id="16971" disabled="">
                                <label for="16971">
                            <i class="icon icon_radio"></i>
                            D. At an advertising agency 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. What will the company do? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="16972" id="16972" disabled="">
                                <label for="16972">
                            <i class="icon icon_radio"></i>
                            A. Require some training 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="16973" id="16973" disabled="">
                                <label for="16973">
                            <i class="icon icon_radio"></i>
                            B. Invest in a system upgrade 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="16974" id="16974" disabled="">
                                <label for="16974">
                            <i class="icon icon_radio"></i>
                            C. Pay for some classes 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="16975" id="16975" disabled="">
                                <label for="16975">
                            <i class="icon icon_radio"></i>
                            D. Add some vacation days 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. Why does the speaker say, "it has earned many awards"? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="16976" id="16976" disabled="">
                                <label for="16976">
                            <i class="icon icon_radio"></i>
                            A. To explain a policy 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="16977" id="16977" disabled="">
                                <label for="16977">
                            <i class="icon icon_radio"></i>
                            B. To make a recommendation 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="16978" id="16978" disabled="">
                                <label for="16978">
                            <i class="icon icon_radio"></i>
                            C. To offer congratulations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="16979" id="16979" disabled="">
                                <label for="16979">
                            <i class="icon icon_radio"></i>
                            D. To correct a mistake 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=41" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>