<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 188 - 191 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>KBD Day 2008 A Huge Success! </strong></p>

                <p style="text-align:justify">Thanks to everyone who participated in the 12<sup>th</sup>&nbsp;Annual <em>Kick Butts</em> <em>Day</em> on March 28. Youth across America stood out, spoke up and seized control in the fight against smoking and tobacco.&nbsp;</p>

                <p style="text-align:justify">This year's <em>Kick Butts Day</em> focused on raising awareness about the more than 4,000 chemicals in cigarette smoke, including at least 69 that cause cancer and many more that are hazardous to health. You can find out more about the
                    dangerous chemicals in cigarettes and what you can do to support effective action to regulate tobacco products at www.whatareyousmoking.org.&nbsp;</p>

                <p style="text-align:justify">KBD&nbsp;events sent a powerful message to elected officials at all levels to step up the fight to reduce tobacco use.&nbsp;</p>

                <p style="text-align:justify"><em>Kick Butts Day</em> may be over, but the fight against tobacco goes on every day across America. The <em>Kick Butts Day</em> <em>Guide</em> includes great idears for events that can be held throughout the year to support action to
                    reduce tobacco use. We hope you'll find the guide to be helpful.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>188. What happened on March 28?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="7453" id="7453" disabled="">
                                <label for="7453">
                            <i class="icon icon_radio"></i>
                            A. Young people alienated themselves
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7454" id="7454" disabled="">
                                <label for="7454">
                            <i class="icon icon_radio"></i>
                            B. Youth attended a conference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7455" id="7455" disabled="">
                                <label for="7455">
                            <i class="icon icon_radio"></i>
                            C. Young people voiced their opinions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7456" id="7456" disabled="">
                                <label for="7456">
                            <i class="icon icon_radio"></i>
                            D. The flight against tobacco was launched
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. How many chemicals in cigarette smoke are cancerous? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="7457" id="7457" disabled="">
                                <label for="7457">
                            <i class="icon icon_radio"></i>
                            A. slightly less than 69
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7458" id="7458" disabled="">
                                <label for="7458">
                            <i class="icon icon_radio"></i>
                            B. only 69
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7459" id="7459" disabled="">
                                <label for="7459">
                            <i class="icon icon_radio"></i>
                            C. definitely more than 69
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7460" id="7460" disabled="">
                                <label for="7460">
                            <i class="icon icon_radio"></i>
                            D. possibly more than 69
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. What effect did the day's events have on public officials?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="7461" id="7461" disabled="">
                                <label for="7461">
                            <i class="icon icon_radio"></i>
                            A. It challenged them to act
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7462" id="7462" disabled="">
                                <label for="7462">
                            <i class="icon icon_radio"></i>
                            B. It put them to shame
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7463" id="7463" disabled="">
                                <label for="7463">
                            <i class="icon icon_radio"></i>
                            C. It caused them to make changes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7464" id="7464" disabled="">
                                <label for="7464">
                            <i class="icon icon_radio"></i>
                            D. It angered them
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>191. What does the guide do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="7465" id="7465" disabled="">
                                <label for="7465">
                            <i class="icon icon_radio"></i>
                            A. suggest ways to plan for the next Kick Butts Day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7466" id="7466" disabled="">
                                <label for="7466">
                            <i class="icon icon_radio"></i>
                            B. discuss the details of tobacco problem across America
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7467" id="7467" disabled="">
                                <label for="7467">
                            <i class="icon icon_radio"></i>
                            C. recommend ways to continually support the cause
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7468" id="7468" disabled="">
                                <label for="7468">
                            <i class="icon icon_radio"></i>
                            D. overview the events of the day
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>