<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 192 - 196 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sarah<br> This may be just what you have been looking for both you and Jimmy. I can help you find out more details if you are interested.<br> Jean&nbsp;
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The Technical Assistance Alliance for Parent Centers is an innovative project that supports a unified technical assistance system for the purpose of developing, assisting and coordinating Parent Training and Information
                                    Projects and Community Parent Resource Centers under the Indviduals with Disabilities Education Act&nbsp;(IDEA). This project is funded by the U.S. Department of Education, Office of Special Education Programs and consists
                                    of 1 national center and 6 regional centers. The project is funded to strengthen the connections to the larger technical assistance network and fortify partnerships between parent centers and state education systems
                                    at regional and national levels.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Parent Training and Information Centers (PTIs) and Community Parent Resource Centers (CPRCs) in each state provide training and information to parents of infants, toddlers, children, and youth with disabilities and to professionals
                                    who work with children. This assistance helps parents to participate more effectively with professionals in meeting the educational needs of children and youth with all disabilities. The Parent Centers work to improve
                                    educational outcomes for children and youth with all disabilities (emotional, learning, mental, and physical).</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The Alliance offers a variety of resources to further strengthen the Parent Centers' abilities to effectively serve the families in their communities whose children have disabilities. There are approximately 100 parent
                                    centers in the United States. Staff members in these centers, as well as at the Alliance office, are likely to he parents of children with disabilities or have disabilities themselves. The common experience with the
                                    families they serve results in uncommon commitment to improving outcomes and results for children with disabilities.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>192. Who is paying for this project?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="7469" id="7469" disabled="">
                                <label for="7469">
                            <i class="icon icon_radio"></i>
                            A. the U.S Department of Education
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7470" id="7470" disabled="">
                                <label for="7470">
                            <i class="icon icon_radio"></i>
                            B. Technical Assistance Alliance for Parent Centers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7471" id="7471" disabled="">
                                <label for="7471">
                            <i class="icon icon_radio"></i>
                            C. Parent Training and Information Centers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7472" id="7472" disabled="">
                                <label for="7472">
                            <i class="icon icon_radio"></i>
                            D. Individuals with Disabilities Education Act
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>193. What two entities are officially allied through this project?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="7473" id="7473" disabled="">
                                <label for="7473">
                            <i class="icon icon_radio"></i>
                            A. regional and national governments
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7474" id="7474" disabled="">
                                <label for="7474">
                            <i class="icon icon_radio"></i>
                            B. PTIs and CPRCs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7475" id="7475" disabled="">
                                <label for="7475">
                            <i class="icon icon_radio"></i>
                            C. parents and their children
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7476" id="7476" disabled="">
                                <label for="7476">
                            <i class="icon icon_radio"></i>
                            D. parent centers and education systems
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. How will disabled children benefit from this project?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="7477" id="7477" disabled="">
                                <label for="7477">
                            <i class="icon icon_radio"></i>
                            A. Their parents will have improved the education system
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7478" id="7478" disabled="">
                                <label for="7478">
                            <i class="icon icon_radio"></i>
                            B. Their parents will be better able to help in their education
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7479" id="7479" disabled="">
                                <label for="7479">
                            <i class="icon icon_radio"></i>
                            C. Their disabilities will be minimized
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7480" id="7480" disabled="">
                                <label for="7480">
                            <i class="icon icon_radio"></i>
                            D. The centers will make the education system more suitable
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. What might most of the staff of the Alliance be able to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="7481" id="7481" disabled="">
                                <label for="7481">
                            <i class="icon icon_radio"></i>
                            A. research the common experiences of parents
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7482" id="7482" disabled="">
                                <label for="7482">
                            <i class="icon icon_radio"></i>
                            B. relate the teacher perspective to parents
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7483" id="7483" disabled="">
                                <label for="7483">
                            <i class="icon icon_radio"></i>
                            C. create new, more effective resources
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7484" id="7484" disabled="">
                                <label for="7484">
                            <i class="icon icon_radio"></i>
                            D. empathize with the parents
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>196. For what reason might this information be passed on to Sarah?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="7485" id="7485" disabled="">
                                <label for="7485">
                            <i class="icon icon_radio"></i>
                            A. She works at a parent center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7486" id="7486" disabled="">
                                <label for="7486">
                            <i class="icon icon_radio"></i>
                            B. She works in education
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7487" id="7487" disabled="">
                                <label for="7487">
                            <i class="icon icon_radio"></i>
                            C. Her son has a disability
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7488" id="7488" disabled="">
                                <label for="7488">
                            <i class="icon icon_radio"></i>
                            D. Jenn needs her help
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>