<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 197 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">I received my Ph.D. from MIT in 1966. I&nbsp;have heard this time described as the 'golden years', because of the many famous graduates. We were all good friends and there was considerable economic discussion amongst us. I believe that
                    there was a rather smug notion that the major economic problems had been solved, especially in macroeconomics, and maybe also in microeconomics.&nbsp;</p>

                <p style="text-align:justify">Macroeconomics was by the neoclassical synthesis, which explained the existence of unemployment by money wages that were slow to change in response to excess demand for labor. Thus wages might be above market clearing, so that some labor
                    would be unemployed. That left the following question unanswered: what were the causes of economic growth? Two seminal papers in this field had been written by Robert&nbsp;Solow. Both of them showed that the previous view, that capital
                    was a leading cause of economic growth, was likely to be false.&nbsp;</p>

                <p style="text-align:justify">First, diminishing returns to capital would eventually limit the contribution of capital deepening to growth. Second, if capital and labor received their respective marginal products, then, empirically, them was a significant "residual'
                    in the explanation of growth: capital could explain only as mall fraction of increases In U.S. productivity.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>197. What is the smug notion mentioned?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="7489" id="7489" disabled="">
                                <label for="7489">
                            <i class="icon icon_radio"></i>
                            A. The graduates had solved all major economic problems
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7490" id="7490" disabled="">
                                <label for="7490">
                            <i class="icon icon_radio"></i>
                            B. The graduates considered themselves famous for solving major problems
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7491" id="7491" disabled="">
                                <label for="7491">
                            <i class="icon icon_radio"></i>
                            C. The graduates did not have to solve major economic problems
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7492" id="7492" disabled="">
                                <label for="7492">
                            <i class="icon icon_radio"></i>
                            D. The graduates were too good of friends to deal with the major problems together
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>198. What is the macroeconomic explanation of unemployment?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="7493" id="7493" disabled="">
                                <label for="7493">
                            <i class="icon icon_radio"></i>
                            A. Payments to employees couldn't keep up with the need for workers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7494" id="7494" disabled="">
                                <label for="7494">
                            <i class="icon icon_radio"></i>
                            B. The lack of demand for labor slowed down wage payment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7495" id="7495" disabled="">
                                <label for="7495">
                            <i class="icon icon_radio"></i>
                            C. Employees were left off due to the demand for high wages
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7496" id="7496" disabled="">
                                <label for="7496">
                            <i class="icon icon_radio"></i>
                            D. The market clearing elevated wages excessively
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>199. What do Robert Solow's papers address?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="7497" id="7497" disabled="">
                                <label for="7497">
                            <i class="icon icon_radio"></i>
                            A. the microeconomic reasons for economic growth
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7498" id="7498" disabled="">
                                <label for="7498">
                            <i class="icon icon_radio"></i>
                            B. why capital was a leading cause of economic growth
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7499" id="7499" disabled="">
                                <label for="7499">
                            <i class="icon icon_radio"></i>
                            C. the falsity that the U.S is achieving economic growth
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7500" id="7500" disabled="">
                                <label for="7500">
                            <i class="icon icon_radio"></i>
                            D. that a previously established view could be incorrect
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. What is NOT something explained by Solow?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="7501" id="7501" disabled="">
                                <label for="7501">
                            <i class="icon icon_radio"></i>
                            A. Capital has a small role in economic growth
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7502" id="7502" disabled="">
                                <label for="7502">
                            <i class="icon icon_radio"></i>
                            B. Capital is actually deepening economic growth
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7503" id="7503" disabled="">
                                <label for="7503">
                            <i class="icon icon_radio"></i>
                            C. Capital would ultimately be restricted by something else
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7504" id="7504" disabled="">
                                <label for="7504">
                            <i class="icon icon_radio"></i>
                            D. Earlier beliefs are probably not true
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>