<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 156 - 159 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>Blueberry Harvest 2011</strong></p>

                <p style="text-align:justify"><strong><em>Got the summertime blues...?</em></strong></p>

                <p style="text-align:justify">Blueberry season 2011 continues with hug and plentiful fruit. Do not miss the best of the season's crop. Join us for live entertainment while you pick Tuesday and Thursday evenings throughout the Blueberry harvest season</p>

                <p style="text-align:justify">Events include bands, magicians, community meals, and pie eating contests</p>

                <p style="text-align:justify">After dark on Fridays, come and enjoy the fireworks display</p>

                <p style="text-align:justify">Picking begins at 5 PM. Evening entertainment begins around 6:30 PM and ends about 8:15 PM</p>

                <p style="text-align:justify">The starting of events in subject to weather and field. If in doubt, call 802-555-3387 for an update before leaving home</p>

                <p style="text-align:justify">We are open Tuesday and Thursday evenings from 5 pm until dark, Wednesday from 10 am until dark, Saturday and Sundays from 9 am until 4 pm. Closed Mondays and Fridays</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>156. What CAN happen at 4 pm on a specific weekday?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="7325" id="7325" disabled="">
                                <label for="7325">
                            <i class="icon icon_radio"></i>
                            A. live band performance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7326" id="7326" disabled="">
                                <label for="7326">
                            <i class="icon icon_radio"></i>
                            B. blueberry picking
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7327" id="7327" disabled="">
                                <label for="7327">
                            <i class="icon icon_radio"></i>
                            C. an early dance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="7328" id="7328" disabled="">
                                <label for="7328">
                            <i class="icon icon_radio"></i>
                            D. a magic performance
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. When is there live entertainment while picking blueberries?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="7329" id="7329" disabled="">
                                <label for="7329">
                            <i class="icon icon_radio"></i>
                            A. every day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7330" id="7330" disabled="">
                                <label for="7330">
                            <i class="icon icon_radio"></i>
                            B. only during the weekend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7331" id="7331" disabled="">
                                <label for="7331">
                            <i class="icon icon_radio"></i>
                            C. on Tuesdays and Thursdays
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="7332" id="7332" disabled="">
                                <label for="7332">
                            <i class="icon icon_radio"></i>
                            D. only on Sundays
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>158. What is implied by the advertisement?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="7333" id="7333" disabled="">
                                <label for="7333">
                            <i class="icon icon_radio"></i>
                            A. Blueberries are the community's favorite fruit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7334" id="7334" disabled="">
                                <label for="7334">
                            <i class="icon icon_radio"></i>
                            B. They experience a lot of bad weather
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7335" id="7335" disabled="">
                                <label for="7335">
                            <i class="icon icon_radio"></i>
                            C. The event lasts multiple weeks
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="7336" id="7336" disabled="">
                                <label for="7336">
                            <i class="icon icon_radio"></i>
                            D. This is biannual event
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. Picking blueberries is suggested for those who</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="7337" id="7337" disabled="">
                                <label for="7337">
                            <i class="icon icon_radio"></i>
                            A. want to flight their gloomy disposition
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7338" id="7338" disabled="">
                                <label for="7338">
                            <i class="icon icon_radio"></i>
                            B. enjoy working indoors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7339" id="7339" disabled="">
                                <label for="7339">
                            <i class="icon icon_radio"></i>
                            C. don't mind working in the rain
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="7340" id="7340" disabled="">
                                <label for="7340">
                            <i class="icon icon_radio"></i>
                            D. see themselves as prospective musicians
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>