<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 160 - 164 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Michael,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">This may be arriving to you a little too late, as I know you 're leaving for your vacation in a week and probably don't want to make any last-minute changes; however, I thought you should read this. I was surfing around
                                    online and found this review of The Seaside Inn and remembered you saying that this is where you were planning on staying. This may be a rare instance, but I thought I should forward it to you, just in case. I would
                                    hate to hear that you didn't have a perfect time on your much-needed vacation</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">See you later,<br> Ed
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>HOTEL REVIEWS&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I visited this hotel in January for one week, lust to take a break from my studies. I believe it to be one of the worst hotels out there. I know that I am not alone in my opinion of this hotet, I overheard at least four
                                    other guests complaining to the representative at the same time I was.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I do not know how it can get away with being called a 5-star hotel. There was no variety in the menu, and we had no other options for food as all the nearby restaurants were closed. This is also true of the movie theaters
                                    and bars.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The bars that were over only had a very limited selection of drinks and no entertainment. There were shops on site - but they were never open. The room was freezing and when I informed the hotel that the heating was not
                                    working they kindy offered me a blanket to keep me warm.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">This was my second visit to the area. The first time, I stayed at the <em>Rossetta</em>, which is only a 3-star hotel, but the accommodation was a thousand times better.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>160. Why might this email be coming to Michael too late?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="7341" id="7341" disabled="">
                                <label for="7341">
                            <i class="icon icon_radio"></i>
                            A. He may have already left for vacation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7342" id="7342" disabled="">
                                <label for="7342">
                            <i class="icon icon_radio"></i>
                            B. He may have everything already planned out
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7343" id="7343" disabled="">
                                <label for="7343">
                            <i class="icon icon_radio"></i>
                            C. It isn't allowed to cancel reservations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="7344" id="7344" disabled="">
                                <label for="7344">
                            <i class="icon icon_radio"></i>
                            D. He is too busy to do anything about the problem
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>161. What does Ed want Michael to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="7345" id="7345" disabled="">
                                <label for="7345">
                            <i class="icon icon_radio"></i>
                            A. consider what is said in the review
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7346" id="7346" disabled="">
                                <label for="7346">
                            <i class="icon icon_radio"></i>
                            B. cancel his reservation at The Seaside Inn
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7347" id="7347" disabled="">
                                <label for="7347">
                            <i class="icon icon_radio"></i>
                            C. leave for his vacation immediately
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="7348" id="7348" disabled="">
                                <label for="7348">
                            <i class="icon icon_radio"></i>
                            D. tell him what he thinks of the review
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. How does the hotel reviewer know that others share her opinion?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="7349" id="7349" disabled="">
                                <label for="7349">
                            <i class="icon icon_radio"></i>
                            A. She read other reviews
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7350" id="7350" disabled="">
                                <label for="7350">
                            <i class="icon icon_radio"></i>
                            B. Others told her their opinions while she was there
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7351" id="7351" disabled="">
                                <label for="7351">
                            <i class="icon icon_radio"></i>
                            C. Her four friends agree with her
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="7352" id="7352" disabled="">
                                <label for="7352">
                            <i class="icon icon_radio"></i>
                            D. She witnessed the complaints happening
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>163. Why does the hotel reviewer say they "kindly" gave her blanket?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="7353" id="7353" disabled="">
                                <label for="7353">
                            <i class="icon icon_radio"></i>
                            A. She is being sarcastic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="7354" id="7354" disabled="">
                                <label for="7354">
                            <i class="icon icon_radio"></i>
                            B. That is the only thing she appreciated about the hotel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="7355" id="7355" disabled="">
                                <label for="7355">
                            <i class="icon icon_radio"></i>
                            C. She misinterpreted their kindness
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="7356" id="7356" disabled="">
                                <label for="7356">
                            <i class="icon icon_radio"></i>
                            D. She is being altruistic
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>164. How many times has the writer stayed at the hotel?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="7357" id="7357" disabled="">
                                <label for="7357">
                            <i class="icon icon_radio"></i>
                            A. 1
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="7358" id="7358" disabled="">
                                <label for="7358">
                            <i class="icon icon_radio"></i>
                            B. 2
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="7359" id="7359" disabled="">
                                <label for="7359">
                            <i class="icon icon_radio"></i>
                            C. 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="7360" id="7360" disabled="">
                                <label for="7360">
                            <i class="icon icon_radio"></i>
                            D. 5
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>