<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 165 - 168 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Choose a Mac&nbsp;</strong></p>

                <p style="text-align:justify">Your toaster doesn't crash. Your kitchen sink doesn't crash. Why should your computer? Think of the countless hours you would save if your PC worked on your time - not the other way around. Then think about a Mac.&nbsp;</p>

                <p style="text-align:justify">Just ask the millions of people who use and love a Mac, why it's become such an integral part of their lives, and most will tell you the some thing: It just works. Letting them do what they want to do. When they want to do it. All the
                    time.</p>

                <p style="text-align:justify">That's because a Mac offers absolutely flawless integration of hardware and software. Only with a Mac do you get a system built by the same people who make the OS, the applications, and the computer itself.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>165. Why is a toaster mentioned?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="7361" id="7361" disabled="">
                                <label for="7361">
                            <i class="icon icon_radio"></i>
                            A. to compare computers to other appliances
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="7362" id="7362" disabled="">
                                <label for="7362">
                            <i class="icon icon_radio"></i>
                            B. to give an example of the quintessential appliance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="7363" id="7363" disabled="">
                                <label for="7363">
                            <i class="icon icon_radio"></i>
                            C. to show how much more important computers are
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="7364" id="7364" disabled="">
                                <label for="7364">
                            <i class="icon icon_radio"></i>
                            D. to exemplify appliances that crash
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. How do most people describe the Mac?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="7365" id="7365" disabled="">
                                <label for="7365">
                            <i class="icon icon_radio"></i>
                            A. functional
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="7366" id="7366" disabled="">
                                <label for="7366">
                            <i class="icon icon_radio"></i>
                            B. defective
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="7367" id="7367" disabled="">
                                <label for="7367">
                            <i class="icon icon_radio"></i>
                            C. conservative
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="7368" id="7368" disabled="">
                                <label for="7368">
                            <i class="icon icon_radio"></i>
                            D. average
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. What does the word integral mean?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="7369" id="7369" disabled="">
                                <label for="7369">
                            <i class="icon icon_radio"></i>
                            A. important
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="7370" id="7370" disabled="">
                                <label for="7370">
                            <i class="icon icon_radio"></i>
                            B. futile
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="7371" id="7371" disabled="">
                                <label for="7371">
                            <i class="icon icon_radio"></i>
                            C. sucessful
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="7372" id="7372" disabled="">
                                <label for="7372">
                            <i class="icon icon_radio"></i>
                            D. lucrative
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>168. What is definitely special about a Mac?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="7373" id="7373" disabled="">
                                <label for="7373">
                            <i class="icon icon_radio"></i>
                            A. the flawless people who build them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="7374" id="7374" disabled="">
                                <label for="7374">
                            <i class="icon icon_radio"></i>
                            B. few people love these computers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="7375" id="7375" disabled="">
                                <label for="7375">
                            <i class="icon icon_radio"></i>
                            C. the quality of the hardware and software
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="7376" id="7376" disabled="">
                                <label for="7376">
                            <i class="icon icon_radio"></i>
                            D. the buildings and applications
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>