<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 169 - 173 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px">My dearest niece,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">This is one of my favorite books and I have a hunch you will love it as well. It will undoubtedly quench your literary thirst for adventure and love... and, to make it even more perfect, it takes place on a Greek island,
                                    a place I know you've always fantasized about. I've read this so many times, so I'm sorry the cover is a bit worn and there are probably a few torn pages, but I think it shows character!&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Happy Birthday and Happy Reading!&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Love,<br> Aunt Lynn&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Extravagant, intentive, emotionally sweeping, <em>Corelli's Mandolin</em> is the story of a timeless place that one day wakes up to find itself in the jaws of history<br> The place is the Greek island of Kephallonia, wherethe
                                    gods dabble in the affairs of men and the local saint periodically rises from his sacophagus to cure the mad. Then, the tide of World War II rolls onto the island's shores in the form of the conquering Italian army<br>                                    Caught in the occupation are Pelagia, a willful, beautiful young woman, and the two suitors vying for her love: Mandra, a gentle fisherman turned ruthless guerrilla, and the charming, mandolin-playing Captain Corelli,
                                    a reluctant officer of the Italian garrison on the island. Rich with loyalties and betrayals, and set against a landscape where the factual blends seamlessly with the fantastic, Corelli's Mandolin is a passionate novel
                                    as rich in ideas as it is genuinely moving</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>169. What does Aunt Lynn mean by "quench your ... thirst"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="7377" id="7377" disabled="">
                                <label for="7377">
                            <i class="icon icon_radio"></i>
                            A. excite your interest
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="7378" id="7378" disabled="">
                                <label for="7378">
                            <i class="icon icon_radio"></i>
                            B. spark your curiosity
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="7379" id="7379" disabled="">
                                <label for="7379">
                            <i class="icon icon_radio"></i>
                            C. satisfy your desire
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="7380" id="7380" disabled="">
                                <label for="7380">
                            <i class="icon icon_radio"></i>
                            D. call your attention to
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. What is Aunt Lynn giving to her niece?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="7381" id="7381" disabled="">
                                <label for="7381">
                            <i class="icon icon_radio"></i>
                            A. a new copy of Corelli's Mandolin
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="7382" id="7382" disabled="">
                                <label for="7382">
                            <i class="icon icon_radio"></i>
                            B. a book she bought from a used-book store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="7383" id="7383" disabled="">
                                <label for="7383">
                            <i class="icon icon_radio"></i>
                            C. an old book she checked out from the library
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="7384" id="7384" disabled="">
                                <label for="7384">
                            <i class="icon icon_radio"></i>
                            D. her old copy of Corelli's Mandolin
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. What changes the rhythm of the island?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="7385" id="7385" disabled="">
                                <label for="7385">
                            <i class="icon icon_radio"></i>
                            A. the meddling of the gods
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7386" id="7386" disabled="">
                                <label for="7386">
                            <i class="icon icon_radio"></i>
                            B. a sudden surge of mad people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7387" id="7387" disabled="">
                                <label for="7387">
                            <i class="icon icon_radio"></i>
                            C. the arrival of soldiers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7388" id="7388" disabled="">
                                <label for="7388">
                            <i class="icon icon_radio"></i>
                            D. a fatal tidal wave
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>172. What best describes Pelagia?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="7389" id="7389" disabled="">
                                <label for="7389">
                            <i class="icon icon_radio"></i>
                            A. a sought-after woman
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7390" id="7390" disabled="">
                                <label for="7390">
                            <i class="icon icon_radio"></i>
                            B. a woman in love with two men
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7391" id="7391" disabled="">
                                <label for="7391">
                            <i class="icon icon_radio"></i>
                            C. Mandra's suitor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="7392" id="7392" disabled="">
                                <label for="7392">
                            <i class="icon icon_radio"></i>
                            D. an irresolute woman
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. Which statement affirms the description: "a landscape where the factual blends seamlessly with the fantastic"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="7393" id="7393" disabled="">
                                <label for="7393">
                            <i class="icon icon_radio"></i>
                            A. "emotionally sweeping"
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7394" id="7394" disabled="">
                                <label for="7394">
                            <i class="icon icon_radio"></i>
                            B. "wakes up to find itself in the jaws of history"
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7395" id="7395" disabled="">
                                <label for="7395">
                            <i class="icon icon_radio"></i>
                            C. "the gods dabble in the affairs of men"
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="7396" id="7396" disabled="">
                                <label for="7396">
                            <i class="icon icon_radio"></i>
                            D. "the tide of World War II rolls onto the island's shores"
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>