<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 174 - 176 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>NAME:</strong><br> To change the name of a program, select the program and then press the RED button<br> Press the "&lt;" and "&gt;" buttons to change the letters. By pressing the RED button you can store the name or press the
                    BLUE button to cancel</p>

                <p style="text-align:justify"><strong>INSERT:</strong><br> Select the program that you want to insert by using the navigation buttons. Press the GREEN button<br> Using the navigations buttons, move the selected program to the decided program space and press the GREEN
                    button again or press the BLUE button to cancel</p>

                <p style="text-align:justify"><strong>DELETE:</strong><br> To delete a program, press the YELLOW button. Pressing the YELLOW button deletes the selected program from the program list and the programs below will shift one level up. Press the BLUE button if you want
                    to cancel</p>

                <p style="text-align:justify"><strong>AUTOSTORE:</strong><br> When you press the BLUE button the AUTOSTORE menu will appear on the screen</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>174. What type of text is this?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="7397" id="7397" disabled="">
                                <label for="7397">
                            <i class="icon icon_radio"></i>
                            A. a set of instructions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="7398" id="7398" disabled="">
                                <label for="7398">
                            <i class="icon icon_radio"></i>
                            B. a set of recommendations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="7399" id="7399" disabled="">
                                <label for="7399">
                            <i class="icon icon_radio"></i>
                            C. an endorsement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="7400" id="7400" disabled="">
                                <label for="7400">
                            <i class="icon icon_radio"></i>
                            D. a contract
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>175. What specifically does the green button do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="7401" id="7401" disabled="">
                                <label for="7401">
                            <i class="icon icon_radio"></i>
                            A. selects a program to insert
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="7402" id="7402" disabled="">
                                <label for="7402">
                            <i class="icon icon_radio"></i>
                            B. places a program in its chosen space
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="7403" id="7403" disabled="">
                                <label for="7403">
                            <i class="icon icon_radio"></i>
                            C. moves the navigation buttons
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="7404" id="7404" disabled="">
                                <label for="7404">
                            <i class="icon icon_radio"></i>
                            D. like the blue button, it cancels the program
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>176. Which button do you press to remove an item from a list?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="7405" id="7405" disabled="">
                                <label for="7405">
                            <i class="icon icon_radio"></i>
                            A. the blue one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="7406" id="7406" disabled="">
                                <label for="7406">
                            <i class="icon icon_radio"></i>
                            B. the yellow one
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="7407" id="7407" disabled="">
                                <label for="7407">
                            <i class="icon icon_radio"></i>
                            C. the green button
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="7408" id="7408" disabled="">
                                <label for="7408">
                            <i class="icon icon_radio"></i>
                            D. a navigation button
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>