<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 177 - 179 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>Dear Ms Stinar:</p>

                <p style="text-align:justify">As a valued customer of A B &amp; B, we couldn't wait to bring you the good news. This letter is to announce the incorporation of our new customer incentive program. Well,&nbsp;maybe we haven't thought of a greet logo for it yet, but&nbsp;if
                    you read on I think you'll agree that&nbsp;no matter what we call it, it's super!</p>

                <p style="text-align:justify">Starting on June 1st, a record of&nbsp;your account with our store will be maintained on a cumulative basis for a period of ors year. Once your purchases have reached $500,&nbsp;you will be automatically entitled to a 5% discount on any
                    order placed. including orders for sale items. When your orders have reached the $1,000 mark. your discount will increase to 10%.&nbsp;A $1,500 accumulation of orders&nbsp;will entitle you to a 15%&nbsp;discount end once you have reached
                    $2,000 you will receive&nbsp;20%, off all merchandise orders. We think if's a great idea end hope that you agree.</p>

                <p style="text-align:justify">Won't you sand us a purchase order today to get you started on your way?&nbsp;If you think of e good name for us to tag onto this new discount program, please let us know!&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>177. What is the purpose of this letter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="7409" id="7409" disabled="">
                                <label for="7409">
                            <i class="icon icon_radio"></i>
                            A. to tell Ms. Stinar about a new store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="7410" id="7410" disabled="">
                                <label for="7410">
                            <i class="icon icon_radio"></i>
                            B. to solicit Ms. Stinar to be a new customer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="7411" id="7411" disabled="">
                                <label for="7411">
                            <i class="icon icon_radio"></i>
                            C. to reward Ms. Stinar for being a valued customer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="7412" id="7412" disabled="">
                                <label for="7412">
                            <i class="icon icon_radio"></i>
                            D. to encourage Ms. Stinar to purchase more things from A B &amp; B
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>178. How does one receive a discount?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="7413" id="7413" disabled="">
                                <label for="7413">
                            <i class="icon icon_radio"></i>
                            A. all your purchases get added up after a year and it is based on the grand total
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="7414" id="7414" disabled="">
                                <label for="7414">
                            <i class="icon icon_radio"></i>
                            B. you have to officially sign up for the program
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="7415" id="7415" disabled="">
                                <label for="7415">
                            <i class="icon icon_radio"></i>
                            C. you must spend a certain amount within a year
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="7416" id="7416" disabled="">
                                <label for="7416">
                            <i class="icon icon_radio"></i>
                            D. you must spend at least $2000
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>179. What is suggested at the conclusion of this letter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="178" value="7417" id="7417" disabled="">
                                <label for="7417">
                            <i class="icon icon_radio"></i>
                            A. going to A B &amp; B and purchasing something
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="7418" id="7418" disabled="">
                                <label for="7418">
                            <i class="icon icon_radio"></i>
                            B. a request for a possible program name
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="7419" id="7419" disabled="">
                                <label for="7419">
                            <i class="icon icon_radio"></i>
                            C. her opinion on the program's offers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="7420" id="7420" disabled="">
                                <label for="7420">
                            <i class="icon icon_radio"></i>
                            D. that Ms. Stinar registers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>