<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 185 - 187 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>LEADERSHIP IN DRAINAGE SOLUTIONS&nbsp;</strong></p>

                <p style="text-align:justify">At ADS we have established a reputation for leadership in the drainage industry by meeting the needs of our customers, employees, shareholders and other stakeholders. We remain committed to the development of state-of-the-art products
                    and services that set industry standards, and help solve water management challenges.&nbsp;</p>

                <p style="text-align:justify">Our reputation is made and supported by our products. Whether the project involves storm and sanitary sewers, agricultural drainage, road and highway construction, residential and commercial development or turf and recreational applications,
                    there is an ADS Corrugated HDPE Pipe solution. In addition, we offer solutions for surface runoff retention/detention systems, on-site leaching chambers and septic systems.&nbsp;</p>

                <p style="text-align:justify">Our Core Values will serve to help us deliver those products, services and innovation that our customers demand.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>185. What is ADS reputation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="7441" id="7441" disabled="">
                                <label for="7441">
                            <i class="icon icon_radio"></i>
                            A. being among the best in that trade
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7442" id="7442" disabled="">
                                <label for="7442">
                            <i class="icon icon_radio"></i>
                            B. recruiting lots of shareholders
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7443" id="7443" disabled="">
                                <label for="7443">
                            <i class="icon icon_radio"></i>
                            C. being innovative
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7444" id="7444" disabled="">
                                <label for="7444">
                            <i class="icon icon_radio"></i>
                            D. being the first of its kind
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>186. Which of the following describe ADS' products?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="7445" id="7445" disabled="">
                                <label for="7445">
                            <i class="icon icon_radio"></i>
                            A. challenging
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7446" id="7446" disabled="">
                                <label for="7446">
                            <i class="icon icon_radio"></i>
                            B. substandard
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7447" id="7447" disabled="">
                                <label for="7447">
                            <i class="icon icon_radio"></i>
                            C. modern
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7448" id="7448" disabled="">
                                <label for="7448">
                            <i class="icon icon_radio"></i>
                            D. dedicated
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. Why are sanitary sewers, agricultural drainage, and recreational applications mentioned?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="7449" id="7449" disabled="">
                                <label for="7449">
                            <i class="icon icon_radio"></i>
                            A. to suggest what ADS could accomplish
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7450" id="7450" disabled="">
                                <label for="7450">
                            <i class="icon icon_radio"></i>
                            B. to show ADS' range of services
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7451" id="7451" disabled="">
                                <label for="7451">
                            <i class="icon icon_radio"></i>
                            C. to establish company goals
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7452" id="7452" disabled="">
                                <label for="7452">
                            <i class="icon icon_radio"></i>
                            D. to slightly amend its reputation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>