<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <div class="ct">
        <p class="text-justify">
            <b>Question 131 - 134 refer to
                following paragraph:</b>
        </p>
        <hr>
        <p style="text-align:center"><strong>Lakeview Railway Onboard Bicycle Policy&nbsp;</strong></p>

        <p style="text-align:justify">Would you like to use your bicycle to explore the Lakeview Corridor Scenic Area?
            Our trains have the __(1)__&nbsp;need to safely transport your bike. When booking your ticket, just remember
            that reservations __(2)__&nbsp;for both you and your bicycle. Reserve your bicycle spot __(3)__.&nbsp;There
            are a limited number of storage racks on each train. You are responsible for stowing your bike securely.
            __(4)__. Lakeview Railway does not take responsibility for bicycles lost or damaged aboard our trains.&nbsp;
        </p>
        </div>
        <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <div class="answer">
                <p><b>131. __(1)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="130" value="15946" id="15946" disabled="">
                        <label for="15946">
                            <i class="icon icon_radio"></i>
                            A. stock
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="15947" id="15947" disabled="">
                        <label for="15947">
                            <i class="icon icon_radio"></i>
                            B. equipment
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="15948" id="15948" disabled="">
                        <label for="15948">
                            <i class="icon icon_radio"></i>
                            C. property
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="15949" id="15949" disabled="">
                        <label for="15949">
                            <i class="icon icon_radio"></i>
                            D. revenue
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>132. __(2)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="131" value="15950" id="15950" disabled="">
                        <label for="15950">
                            <i class="icon icon_radio"></i>
                            A. require
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="15951" id="15951" disabled="">
                        <label for="15951">
                            <i class="icon icon_radio"></i>
                            B. requiring
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="15952" id="15952" disabled="">
                        <label for="15952">
                            <i class="icon icon_radio"></i>
                            C. are required
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="15953" id="15953" disabled="">
                        <label for="15953">
                            <i class="icon icon_radio"></i>
                            D. were required
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>133. __(3)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="132" value="15954" id="15954" disabled="">
                        <label for="15954">
                            <i class="icon icon_radio"></i>
                            A. early
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="15955" id="15955" disabled="">
                        <label for="15955">
                            <i class="icon icon_radio"></i>
                            B. again
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="15956" id="15956" disabled="">
                        <label for="15956">
                            <i class="icon icon_radio"></i>
                            C. more
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="15957" id="15957" disabled="">
                        <label for="15957">
                            <i class="icon icon_radio"></i>
                            D. instead
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>134. __(4)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="133" value="15958" id="15958" disabled="">
                        <label for="15958">
                            <i class="icon icon_radio"></i>
                            A. Folding bicycles have become more common
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="15959" id="15959" disabled="">
                        <label for="15959">
                            <i class="icon icon_radio"></i>
                            B. Additional service fees may apply
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="15960" id="15960" disabled="">
                        <label for="15960">
                            <i class="icon icon_radio"></i>
                            C. You can obtain route maps at most stations
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="15961" id="15961" disabled="">
                        <label for="15961">
                            <i class="icon icon_radio"></i>
                            D. You must also supply your own bike lock
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>