<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                    <p class="text-justify">
                        <b>Question 135 - 138 refer to
                            following paragraph:</b>
                    </p>
                    <hr>
                    <p><strong>Corelli's&nbsp;Bakery<br>
                            15 Middlemass Street<br>
                            Youngstown, Ohio 44515&nbsp;</strong></p>

                    <p>Dear Valued Customer,</p>

                    <p style="text-align:justify">For the last three years we have charged the same wholesale prises for
                        our
                        baked goods, including cakes, pies, cookies, and brownies. We regret that sharply rising prices
                        for
                        Our raw ingredients, such as sugar end fruit, have forced us to raise our prices by 5 percent
                        __(1)__ August 1. We have made every attempt to avoid this price increase. __(2)__, we refuse to
                        compromise on the quality of our products. Using the best ingredients evailable will allow us to
                        provide the delicious desserts your restaurant guests have come to expect. __(3)__.</p>

                    <p style="text-align:justify">We appreciate your __(4)__ and look forward to continuing to serve
                        you.&nbsp;</p>

                    <p style="text-align:justify">Sincerely,&nbsp;</p>

                    <p style="text-align:justify">Tony Corelli, Owner&nbsp;<br>
                        &nbsp;</p>

                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>135. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="134" value="15962" id="15962" disabled="">
                                <label for="15962">
                                    <i class="icon icon_radio"></i>
                                    A. actual
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="15963" id="15963" disabled="">
                                <label for="15963">
                                    <i class="icon icon_radio"></i>
                                    B. future
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="15964" id="15964" disabled="">
                                <label for="15964">
                                    <i class="icon icon_radio"></i>
                                    C. practical
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="15965" id="15965" disabled="">
                                <label for="15965">
                                    <i class="icon icon_radio"></i>
                                    D. effective
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>136. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="135" value="15966" id="15966" disabled="">
                                <label for="15966">
                                    <i class="icon icon_radio"></i>
                                    A. Similarly
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="15967" id="15967" disabled="">
                                <label for="15967">
                                    <i class="icon icon_radio"></i>
                                    B. Therefore
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="15968" id="15968" disabled="">
                                <label for="15968">
                                    <i class="icon icon_radio"></i>
                                    C. However
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="15969" id="15969" disabled="">
                                <label for="15969">
                                    <i class="icon icon_radio"></i>
                                    D. Accordingly
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>137. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="136" value="15970" id="15970" disabled="">
                                <label for="15970">
                                    <i class="icon icon_radio"></i>
                                    A. We believe you will see that our products are still a great value
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="15971" id="15971" disabled="">
                                <label for="15971">
                                    <i class="icon icon_radio"></i>
                                    B. Our efforts to stay profitable have not been successful
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="15972" id="15972" disabled="">
                                <label for="15972">
                                    <i class="icon icon_radio"></i>
                                    C. We hope our competitors will raise their prices too
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="15973" id="15973" disabled="">
                                <label for="15973">
                                    <i class="icon icon_radio"></i>
                                    D. Our products are healthier than traditional baked goods
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>138. __(4)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="137" value="15974" id="15974" disabled="">
                                <label for="15974">
                                    <i class="icon icon_radio"></i>
                                    A. supportive
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="15975" id="15975" disabled="">
                                <label for="15975">
                                    <i class="icon icon_radio"></i>
                                    B. support
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="15976" id="15976" disabled="">
                                <label for="15976">
                                    <i class="icon icon_radio"></i>
                                    C. supporter
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="15977" id="15977" disabled="">
                                <label for="15977">
                                    <i class="icon icon_radio"></i>
                                    D. supports
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=26"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>