<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                    <p class="text-justify">
                        <b>Question 139 - 142 refer to
                            following paragraph:</b>
                    </p>
                    <hr>
                    <p><strong>To: Noora Abadi&nbsp;<br>
                            From: Alexis Palmer<br>
                            Subject: Informational interview<br>
                            Date: 4 February&nbsp;</strong></p>

                    <p>Dear Ms. Abedi:&nbsp;</p>

                    <p style="text-align:justify">Thank you for taking the time to meet with me yesterday about careers
                        in
                        the aerospace industry. Your __(1)__ were helpful and have inspired me to seek additional work
                        experience in the field before l apply to graduate school.&nbsp;</p>

                    <p style="text-align:justify">I will consult the Web sites you recommended for job opportunities. As
                        you
                        also suggested, I will __(2)__&nbsp;a membership in the Eastern Aeronautics Professional
                        Association. __(3)__ I appreciate the information you shared about the organization's conference
                        at
                        the end of the month.&nbsp;<br>
                        Thank you again for your __(4)__ assistance.</p>

                    <p style="text-align:justify">Sincerely,</p>

                    <p style="text-align:justify">Alexis Palmer&nbsp;<br>
                        &nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>139. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="138" value="15978" id="15978" disabled="">
                                <label for="15978">
                                    <i class="icon icon_radio"></i>
                                    A. insights
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="15979" id="15979" disabled="">
                                <label for="15979">
                                    <i class="icon icon_radio"></i>
                                    B. surveys
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="15980" id="15980" disabled="">
                                <label for="15980">
                                    <i class="icon icon_radio"></i>
                                    C. improvements
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="15981" id="15981" disabled="">
                                <label for="15981">
                                    <i class="icon icon_radio"></i>
                                    D. revisions
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>140. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="139" value="15982" id="15982" disabled="">
                                <label for="15982">
                                    <i class="icon icon_radio"></i>
                                    A. resolve
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="15983" id="15983" disabled="">
                                <label for="15983">
                                    <i class="icon icon_radio"></i>
                                    B. predict
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="15984" id="15984" disabled="">
                                <label for="15984">
                                    <i class="icon icon_radio"></i>
                                    C. consider
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="15985" id="15985" disabled="">
                                <label for="15985">
                                    <i class="icon icon_radio"></i>
                                    D. advertise
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>141. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="15986" id="15986" disabled="">
                                <label for="15986">
                                    <i class="icon icon_radio"></i>
                                    A. I look forward to networking with other professionals in the field
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="15987" id="15987" disabled="">
                                <label for="15987">
                                    <i class="icon icon_radio"></i>
                                    B. My membership will expire at the end of the year
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="15988" id="15988" disabled="">
                                <label for="15988">
                                    <i class="icon icon_radio"></i>
                                    C. I will be giving a presentation at the conference
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="15989" id="15989" disabled="">
                                <label for="15989">
                                    <i class="icon icon_radio"></i>
                                    D. I would like to apply for the position soon
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(4)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="15990" id="15990" disabled="">
                                <label for="15990">
                                    <i class="icon icon_radio"></i>
                                    A. generosity
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="15991" id="15991" disabled="">
                                <label for="15991">
                                    <i class="icon icon_radio"></i>
                                    B. generous
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="15992" id="15992" disabled="">
                                <label for="15992">
                                    <i class="icon icon_radio"></i>
                                    C. generously
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="15993" id="15993" disabled="">
                                <label for="15993">
                                    <i class="icon icon_radio"></i>
                                    D. generousness
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=27"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>