<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 143 - 146 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><strong>15 October&nbsp;<br>
                        GPO Box 985<br>
                        CANBERRA ACT 6512&nbsp;</strong></p>

                <p style="text-align:justify">Dear Ma. Wilson,&nbsp;</p>

                <p style="text-align:justify">On behalf of the Australia Wildlife Park Association, thank you for your
                    donation of 40 AUD to our national park. __(1)__ Individual contributions have helped it stay open
                    to visitors for more than 50 years. Our goal is to keep the park system running effectively for
                    future __(2)__ to enjoy.</p>

                <p style="text-align:justify">Enclosed please find a copy of our brochure, which lists various
                    programmes __(3)__ to benefit both park visitors and our wildlife habitats. Please consider
                    __(4)__&nbsp;one of these programmes in the future. The money would be used wisely and would be
                    deeply appreciated.&nbsp;</p>

                <p style="text-align:justify">Sincerely,</p>

                <p style="text-align:justify">Akosua Masika, Membership Chair&nbsp;<br>
                    &nbsp;</p>
                    </div>

                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>143. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="15994" id="15994" disabled="">
                                <label for="15994">
                                    <i class="icon icon_radio"></i>
                                    A. The association grants scholarships for those studying zoology
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="15995" id="15995" disabled="">
                                <label for="15995">
                                    <i class="icon icon_radio"></i>
                                    B. Supporters like you help preserve the park for public use
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="15996" id="15996" disabled="">
                                <label for="15996">
                                    <i class="icon icon_radio"></i>
                                    C. We hope you enjoyed your visit to the park today
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="15997" id="15997" disabled="">
                                <label for="15997">
                                    <i class="icon icon_radio"></i>
                                    D. Interested parties can volunteer to clean wildlife habitats
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>144. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="15998" id="15998" disabled="">
                                <label for="15998">
                                    <i class="icon icon_radio"></i>
                                    A. generations
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="15999" id="15999" disabled="">
                                <label for="15999">
                                    <i class="icon icon_radio"></i>
                                    B. lifestyles
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="16000" id="16000" disabled="">
                                <label for="16000">
                                    <i class="icon icon_radio"></i>
                                    C. committees
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="16001" id="16001" disabled="">
                                <label for="16001">
                                    <i class="icon icon_radio"></i>
                                    D. planners
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="16002" id="16002" disabled="">
                                <label for="16002">
                                    <i class="icon icon_radio"></i>
                                    A. designer
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="16003" id="16003" disabled="">
                                <label for="16003">
                                    <i class="icon icon_radio"></i>
                                    B. designs
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="16004" id="16004" disabled="">
                                <label for="16004">
                                    <i class="icon icon_radio"></i>
                                    C. designing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="16005" id="16005" disabled="">
                                <label for="16005">
                                    <i class="icon icon_radio"></i>
                                    D. designed
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(4)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="16006" id="16006" disabled="">
                                <label for="16006">
                                    <i class="icon icon_radio"></i>
                                    A. researching
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="16007" id="16007" disabled="">
                                <label for="16007">
                                    <i class="icon icon_radio"></i>
                                    B. organizing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="16008" id="16008" disabled="">
                                <label for="16008">
                                    <i class="icon icon_radio"></i>
                                    C. leading
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="16009" id="16009" disabled="">
                                <label for="16009">
                                    <i class="icon icon_radio"></i>
                                    D. funding
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=28"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>