<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: I'm driving to the conference next week.</p>

                        <p>W: Why don't you fly?</p>

                        <p>M: The nearest airport is two hours from the center, so flying ultimately takes longer. Plus, I'd need a rental car.</p>

                        <p>W: Just be sure you record your mileage so you can be reimbursed. And watch out for bad weather!&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565832996.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.0316%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:49</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. Why doesn't the man fly to the conference?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="2057" id="2057" disabled="">
                                <label for="2057">
                            <i class="icon icon_radio"></i>
                            A. It's only a seven-hour drive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2058" id="2058" disabled="">
                                <label for="2058">
                            <i class="icon icon_radio"></i>
                            B. It would take longer than driving
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2059" id="2059" disabled="">
                                <label for="2059">
                            <i class="icon icon_radio"></i>
                            C. Because of bad weather
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2060" id="2060" disabled="">
                                <label for="2060">
                            <i class="icon icon_radio"></i>
                            D. His company won't reimburse an airline ticket
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. How could the man have gotten from the airport to the conference center?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="2061" id="2061" disabled="">
                                <label for="2061">
                            <i class="icon icon_radio"></i>
                            A. by bus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2062" id="2062" disabled="">
                                <label for="2062">
                            <i class="icon icon_radio"></i>
                            B. by tram
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2063" id="2063" disabled="">
                                <label for="2063">
                            <i class="icon icon_radio"></i>
                            C. by plane
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2064" id="2064" disabled="">
                                <label for="2064">
                            <i class="icon icon_radio"></i>
                            D. by car
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. Why should the man keep track of his mileage?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="2065" id="2065" disabled="">
                                <label for="2065">
                            <i class="icon icon_radio"></i>
                            A. so he knows exactly how far he has driven
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2066" id="2066" disabled="">
                                <label for="2066">
                            <i class="icon icon_radio"></i>
                            B. so he can be more alert on the road
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2067" id="2067" disabled="">
                                <label for="2067">
                            <i class="icon icon_radio"></i>
                            C. so his company can pay him for his travel expenses
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2068" id="2068" disabled="">
                                <label for="2068">
                            <i class="icon icon_radio"></i>
                            D. so he can afford to back to his original destination
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>