<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: I have a 3:30 appointment with Dr. Nao. I know it is early, but I was in the neighborhood running errands. Can he see me now?</p>

                        <p>M: He is booked for the hour until your appointment. You can wait in the waiting room where there are magazines and a television.</p>

                        <p>W: That's OK. I'll just go read at the nearby coffee shop.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565837398.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.4135%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:53</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. What time did the woman arrive at the doctor's office?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2165" id="2165" disabled="">
                                <label for="2165">
                            <i class="icon icon_radio"></i>
                            A. 3:30
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2166" id="2166" disabled="">
                                <label for="2166">
                            <i class="icon icon_radio"></i>
                            B. 3:10
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2167" id="2167" disabled="">
                                <label for="2167">
                            <i class="icon icon_radio"></i>
                            C. 2:30
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2168" id="2168" disabled="">
                                <label for="2168">
                            <i class="icon icon_radio"></i>
                            D. 4:30
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. Why did the woman arrive at the office at the time she did?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2169" id="2169" disabled="">
                                <label for="2169">
                            <i class="icon icon_radio"></i>
                            A. She wanted to get in early so she would have time to run errands
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2170" id="2170" disabled="">
                                <label for="2170">
                            <i class="icon icon_radio"></i>
                            B. She was already at a nearby coffee shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2171" id="2171" disabled="">
                                <label for="2171">
                            <i class="icon icon_radio"></i>
                            C. She didn't want to leave the area and then return again
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2172" id="2172" disabled="">
                                <label for="2172">
                            <i class="icon icon_radio"></i>
                            D. She likes to be punctual for appointments
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What is the woman going to do while waiting for her appointment?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2173" id="2173" disabled="">
                                <label for="2173">
                            <i class="icon icon_radio"></i>
                            A. read a book
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2174" id="2174" disabled="">
                                <label for="2174">
                            <i class="icon icon_radio"></i>
                            B. watch television
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2175" id="2175" disabled="">
                                <label for="2175">
                            <i class="icon icon_radio"></i>
                            C. return home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2176" id="2176" disabled="">
                                <label for="2176">
                            <i class="icon icon_radio"></i>
                            D. leaf though a magazine
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>