<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 44 - 46 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Our server, Gus, said you wished to speak with me, I'm the manager.</p>

                        <p>M: Yes. We waited 45 minutes for our food to arrive and all of our orders were incorrect.</p>

                        <p>W: I am so sorry and I will talk to Gus about this. Your meal will be on the house. And I will throw in some free cheesecakes.</p>

                        <p>M: Thank you.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565833218.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.0743%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>44. Where are they?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="43" value="2069" id="2069" disabled="">
                                <label for="2069">
                            <i class="icon icon_radio"></i>
                            A. a hotel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2070" id="2070" disabled="">
                                <label for="2070">
                            <i class="icon icon_radio"></i>
                            B. a convenience store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2071" id="2071" disabled="">
                                <label for="2071">
                            <i class="icon icon_radio"></i>
                            C. a restaurant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2072" id="2072" disabled="">
                                <label for="2072">
                            <i class="icon icon_radio"></i>
                            D. a bakery
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>45. Why did the man want to speak to the manager?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="44" value="2073" id="2073" disabled="">
                                <label for="2073">
                            <i class="icon icon_radio"></i>
                            A. to complain about the service
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2074" id="2074" disabled="">
                                <label for="2074">
                            <i class="icon icon_radio"></i>
                            B. to praise the service
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2075" id="2075" disabled="">
                                <label for="2075">
                            <i class="icon icon_radio"></i>
                            C. to change this order
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2076" id="2076" disabled="">
                                <label for="2076">
                            <i class="icon icon_radio"></i>
                            D. to ask for a new server
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>46. What will the woman do after talking to the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="45" value="2077" id="2077" disabled="">
                                <label for="2077">
                            <i class="icon icon_radio"></i>
                            A. fire Gus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2078" id="2078" disabled="">
                                <label for="2078">
                            <i class="icon icon_radio"></i>
                            B. let the man take his meal to his house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2079" id="2079" disabled="">
                                <label for="2079">
                            <i class="icon icon_radio"></i>
                            C. give the man free dessert
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2080" id="2080" disabled="">
                                <label for="2080">
                            <i class="icon icon_radio"></i>
                            D. give him the food he actually ordered
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>