<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Why should we hire you?</p>

                        <p>W: I have five years of experience doing the same job in Seattle. I am a committed employee and self-motivated.</p>

                        <p>M: Now this job would require you to work sixty hours a week. How do you feel about that?</p>

                        <p>W: That schedule is not for everyone, but I love dedicating myself wholly to something I love.&nbsp;<br> &nbsp;
                        </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565833947.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.6212%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. Who is the man in relationship to the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="2081" id="2081" disabled="">
                                <label for="2081">
                            <i class="icon icon_radio"></i>
                            A. her possible employer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2082" id="2082" disabled="">
                                <label for="2082">
                            <i class="icon icon_radio"></i>
                            B. her current boss
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2083" id="2083" disabled="">
                                <label for="2083">
                            <i class="icon icon_radio"></i>
                            C. her reference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2084" id="2084" disabled="">
                                <label for="2084">
                            <i class="icon icon_radio"></i>
                            D. a candidate for a position
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. Why did the man ask the woman why she should get the job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="2085" id="2085" disabled="">
                                <label for="2085">
                            <i class="icon icon_radio"></i>
                            A. To give her an opportunity to state her strengths
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2086" id="2086" disabled="">
                                <label for="2086">
                            <i class="icon icon_radio"></i>
                            B. He wasn't certain if she was committed to it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2087" id="2087" disabled="">
                                <label for="2087">
                            <i class="icon icon_radio"></i>
                            C. The answer wasn't clear in her resume
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2088" id="2088" disabled="">
                                <label for="2088">
                            <i class="icon icon_radio"></i>
                            D. Her references gave her a poor review
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. How does the woman feel about working long hours?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="2089" id="2089" disabled="">
                                <label for="2089">
                            <i class="icon icon_radio"></i>
                            A. She thinks everyone should want to do it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2090" id="2090" disabled="">
                                <label for="2090">
                            <i class="icon icon_radio"></i>
                            B. She is eager to do it
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2091" id="2091" disabled="">
                                <label for="2091">
                            <i class="icon icon_radio"></i>
                            C. She is not willing to do it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2092" id="2092" disabled="">
                                <label for="2092">
                            <i class="icon icon_radio"></i>
                            D. He hesitant, but willing to commit to them
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>