<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 50 - 52 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: George? This is Moira. I won't be coming in today. I've got a fever.</p>

                        <p>M: Are there any meetings that I should cancel for you?</p>

                        <p>W: Just one. It's with Colleen about the new curriculum changes. Tell her I'll meet as soon as I'm better.</p>

                        <p>M: And I'll tell everyone not to bother you on your cell.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565834269.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 13.7486%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:50</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>50. Where is the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="49" value="2093" id="2093" disabled="">
                                <label for="2093">
                            <i class="icon icon_radio"></i>
                            A. in the office talking to George
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2094" id="2094" disabled="">
                                <label for="2094">
                            <i class="icon icon_radio"></i>
                            B. in her car talking on her cell phone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2095" id="2095" disabled="">
                                <label for="2095">
                            <i class="icon icon_radio"></i>
                            C. in a meeting with Colleen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2096" id="2096" disabled="">
                                <label for="2096">
                            <i class="icon icon_radio"></i>
                            D. in her bedroom at her house
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>51. What is going to happen with the curriculum change meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="50" value="2097" id="2097" disabled="">
                                <label for="2097">
                            <i class="icon icon_radio"></i>
                            A. It has to be cancelled indefinitely
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2098" id="2098" disabled="">
                                <label for="2098">
                            <i class="icon icon_radio"></i>
                            B. It will be rescheduled for a later time
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2099" id="2099" disabled="">
                                <label for="2099">
                            <i class="icon icon_radio"></i>
                            C. George will attend the meeting instead of Moira
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2100" id="2100" disabled="">
                                <label for="2100">
                            <i class="icon icon_radio"></i>
                            D. Moira will go regardless of her illness because it is urgent
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>52. What does the man promise to the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="51" value="2101" id="2101" disabled="">
                                <label for="2101">
                            <i class="icon icon_radio"></i>
                            A. call her on her cell phone in case of an emergency
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2102" id="2102" disabled="">
                                <label for="2102">
                            <i class="icon icon_radio"></i>
                            B. prevent people from calling her at home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2103" id="2103" disabled="">
                                <label for="2103">
                            <i class="icon icon_radio"></i>
                            C. explain the new curriculum changes to everyone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2104" id="2104" disabled="">
                                <label for="2104">
                            <i class="icon icon_radio"></i>
                            D. take all of her phone messages
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>