<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Is Tim enjoying the University?</p>

                        <p>W: He loves it. He's majoring in Economics.</p>

                        <p>M: Wow, that is a lucrative field. Tony is a Literature Major. He loves it, but I worry that he won't make a good living. I think about discussing that with him, but my wife thinks we should let him decide his own path.</p>

                        <p>W: I agree with her 100%.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565835147.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.9698%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. Who are the man and woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="2105" id="2105" disabled="">
                                <label for="2105">
                            <i class="icon icon_radio"></i>
                            A. parents
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2106" id="2106" disabled="">
                                <label for="2106">
                            <i class="icon icon_radio"></i>
                            B. husband and wife
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2107" id="2107" disabled="">
                                <label for="2107">
                            <i class="icon icon_radio"></i>
                            C. college students
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2108" id="2108" disabled="">
                                <label for="2108">
                            <i class="icon icon_radio"></i>
                            D. professors
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. What is the man worried about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="2109" id="2109" disabled="">
                                <label for="2109">
                            <i class="icon icon_radio"></i>
                            A. Tony will never select a major in college
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2110" id="2110" disabled="">
                                <label for="2110">
                            <i class="icon icon_radio"></i>
                            B. Tony will resent his interference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2111" id="2111" disabled="">
                                <label for="2111">
                            <i class="icon icon_radio"></i>
                            C. Tony won't earn enough money in the future
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2112" id="2112" disabled="">
                                <label for="2112">
                            <i class="icon icon_radio"></i>
                            D. Tony doesn't love college as much as Tim
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. What does the woman think?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="2113" id="2113" disabled="">
                                <label for="2113">
                            <i class="icon icon_radio"></i>
                            A. Her son needs to come home more often
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2114" id="2114" disabled="">
                                <label for="2114">
                            <i class="icon icon_radio"></i>
                            B. The man should give Tony career advice
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2115" id="2115" disabled="">
                                <label for="2115">
                            <i class="icon icon_radio"></i>
                            C. Her son should rethink his major
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2116" id="2116" disabled="">
                                <label for="2116">
                            <i class="icon icon_radio"></i>
                            D. The man should let Tony make his own choices
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>