<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: How can I help you?</p>

                        <p>W: My computer just crashed. I'm looking for a laptop, but I am on a budget.</p>

                        <p>M: Will you be installing a lot of programs on the computer?</p>

                        <p>W: Oh no! I just use word processing.</p>

                        <p>M: Then let's take a look at these models over here.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565835499.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.1193%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:49</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. Why does the woman want a new computer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2117" id="2117" disabled="">
                                <label for="2117">
                            <i class="icon icon_radio"></i>
                            A. The one she has now is outdated
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2118" id="2118" disabled="">
                                <label for="2118">
                            <i class="icon icon_radio"></i>
                            B. She just got a new job as a journalist
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2119" id="2119" disabled="">
                                <label for="2119">
                            <i class="icon icon_radio"></i>
                            C. The one she owned previously no longer works
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2120" id="2120" disabled="">
                                <label for="2120">
                            <i class="icon icon_radio"></i>
                            D. She enjoys staying up to date with technological advances
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. What kind of computer does the woman want?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2121" id="2121" disabled="">
                                <label for="2121">
                            <i class="icon icon_radio"></i>
                            A. one at a reasonable price
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2122" id="2122" disabled="">
                                <label for="2122">
                            <i class="icon icon_radio"></i>
                            B. one with all the latest fatures
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2123" id="2123" disabled="">
                                <label for="2123">
                            <i class="icon icon_radio"></i>
                            C. one with free programs already installed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2124" id="2124" disabled="">
                                <label for="2124">
                            <i class="icon icon_radio"></i>
                            D. one that is the same model as her previous computer
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. Why does the man ask the woman a question?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2125" id="2125" disabled="">
                                <label for="2125">
                            <i class="icon icon_radio"></i>
                            A. to understand what happened to her old computer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2126" id="2126" disabled="">
                                <label for="2126">
                            <i class="icon icon_radio"></i>
                            B. to be able to recommend the most appropriate computer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2127" id="2127" disabled="">
                                <label for="2127">
                            <i class="icon icon_radio"></i>
                            C. to learn who can best help meet her needs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2128" id="2128" disabled="">
                                <label for="2128">
                            <i class="icon icon_radio"></i>
                            D. to get an idea of what kind of technological knowledge she possesses
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>