<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: I'm Tyler. I wanted to welcome you to East Publishing. How is your first day going?</p>

                        <p>W: It's a bit overwhelming, but it's not the worst first day I've ever had. Plus, everyone has been very friendly.</p>

                        <p>M: I'd be happy to treat you to lunch if you're interested. The cafeteria is surprisingly quite good. I love their lasagna!</p>

                        <p>W: Sounds great.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565836266.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.1031%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:59</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. Why does the man stop by the woman's desk?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2129" id="2129" disabled="">
                                <label for="2129">
                            <i class="icon icon_radio"></i>
                            A. He knows she is overwhelmed with work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2130" id="2130" disabled="">
                                <label for="2130">
                            <i class="icon icon_radio"></i>
                            B. He wants to confirm their lunch plans
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2131" id="2131" disabled="">
                                <label for="2131">
                            <i class="icon icon_radio"></i>
                            C. He wants to explain the workings of the office to her
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2132" id="2132" disabled="">
                                <label for="2132">
                            <i class="icon icon_radio"></i>
                            D. He wants to help her feel comfortable
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. What is the woman's opinion of her first day of work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2133" id="2133" disabled="">
                                <label for="2133">
                            <i class="icon icon_radio"></i>
                            A. She feels stressed trying to get used to her new tasks
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2134" id="2134" disabled="">
                                <label for="2134">
                            <i class="icon icon_radio"></i>
                            B. It's the worst day of work she's ever had
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2135" id="2135" disabled="">
                                <label for="2135">
                            <i class="icon icon_radio"></i>
                            C. She wishes people would be a little more welcoming
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2136" id="2136" disabled="">
                                <label for="2136">
                            <i class="icon icon_radio"></i>
                            D. She wishes she had taken a different job offer
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What is the man's opinion of the cafeteria food?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2137" id="2137" disabled="">
                                <label for="2137">
                            <i class="icon icon_radio"></i>
                            A. It's full of delicious streats
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2138" id="2138" disabled="">
                                <label for="2138">
                            <i class="icon icon_radio"></i>
                            B. It's tastier than one might expect
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2139" id="2139" disabled="">
                                <label for="2139">
                            <i class="icon icon_radio"></i>
                            C. He'd rather go somewhere else for lunch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2140" id="2140" disabled="">
                                <label for="2140">
                            <i class="icon icon_radio"></i>
                            D. It's not very appetizing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>