<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: We are out, but I can order it and have it in five days.</p>

                        <p>W: The birthday party is in two days.</p>

                        <p>M: We have other works by Dickens like Oliver Twist or other classic authors like Jane Austen.</p>

                        <p>W: I'm afraid she insists on A Tale of Two Cities.</p>

                        <p>M: Then I'd visit our Woodbury store. It's no short trip, but the only option.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565836625.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.6753%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:52</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. Where are they?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2141" id="2141" disabled="">
                                <label for="2141">
                            <i class="icon icon_radio"></i>
                            A. in a library
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2142" id="2142" disabled="">
                                <label for="2142">
                            <i class="icon icon_radio"></i>
                            B. at a birthday party
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2143" id="2143" disabled="">
                                <label for="2143">
                            <i class="icon icon_radio"></i>
                            C. at a music store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2144" id="2144" disabled="">
                                <label for="2144">
                            <i class="icon icon_radio"></i>
                            D. at a bookstore
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. What will the woman probably do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2145" id="2145" disabled="">
                                <label for="2145">
                            <i class="icon icon_radio"></i>
                            A. buy a Jane Austen book
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2146" id="2146" disabled="">
                                <label for="2146">
                            <i class="icon icon_radio"></i>
                            B. buy A Tale of Two Cities from the Woodbury store
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2147" id="2147" disabled="">
                                <label for="2147">
                            <i class="icon icon_radio"></i>
                            C. wait five to seven days for the order to come in 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2148" id="2148" disabled="">
                                <label for="2148">
                            <i class="icon icon_radio"></i>
                            D. buy Oliver Twist instead
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. Why does the man suggest another store?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2149" id="2149" disabled="">
                                <label for="2149">
                            <i class="icon icon_radio"></i>
                            A. It's a short trip
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2150" id="2150" disabled="">
                                <label for="2150">
                            <i class="icon icon_radio"></i>
                            B. They are in charge of ordering books
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2151" id="2151" disabled="">
                                <label for="2151">
                            <i class="icon icon_radio"></i>
                            C. It's the only way to get the desired book in time
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2152" id="2152" disabled="">
                                <label for="2152">
                            <i class="icon icon_radio"></i>
                            D. They carry a larger variety of classic authors
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>