<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: When we retire we can sleep in, take trips, and finally have time to finish the house repairs.</p>

                        <p>W: Retirement? Thinking about it so soon is going to make the time drag on. Besides, you'll miss working.</p>

                        <p>M: I've been working since I was sixteen! I deserve some relaxation time.</p>

                        <p>W: Come or You're always napping on the couch&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1565837108.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.8614%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:60</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. What is NOT a reason why the man wants to retire?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="2153" id="2153" disabled="">
                                <label for="2153">
                            <i class="icon icon_radio"></i>
                            A. He wants to travel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2154" id="2154" disabled="">
                                <label for="2154">
                            <i class="icon icon_radio"></i>
                            B. He's tired of working
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2155" id="2155" disabled="">
                                <label for="2155">
                            <i class="icon icon_radio"></i>
                            C. He doesn't like his job anymore
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2156" id="2156" disabled="">
                                <label for="2156">
                            <i class="icon icon_radio"></i>
                            D. He wants to do home repairs
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. What is the woman's opinion on retiring?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="2157" id="2157" disabled="">
                                <label for="2157">
                            <i class="icon icon_radio"></i>
                            A. The man truly deserves it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2158" id="2158" disabled="">
                                <label for="2158">
                            <i class="icon icon_radio"></i>
                            B. They need to plan for it better
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2159" id="2159" disabled="">
                                <label for="2159">
                            <i class="icon icon_radio"></i>
                            C. She's going to miss her job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2160" id="2160" disabled="">
                                <label for="2160">
                            <i class="icon icon_radio"></i>
                            D. It's too early to start talking about it
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. According to the woman:</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="2161" id="2161" disabled="">
                                <label for="2161">
                            <i class="icon icon_radio"></i>
                            A. The man has more time on his hands than he admits
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2162" id="2162" disabled="">
                                <label for="2162">
                            <i class="icon icon_radio"></i>
                            B. The man is too lazy to accomplish his post-retirement goals
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2163" id="2163" disabled="">
                                <label for="2163">
                            <i class="icon icon_radio"></i>
                            C. The man's job isn't very interesting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2164" id="2164" disabled="">
                                <label for="2164">
                            <i class="icon icon_radio"></i>
                            D. She doesn't want to wait ten years to retire
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>