<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                    <p class="text-justify">
                        <b>Question 141 - 143 refer to
                            following paragraph:</b>
                    </p>
                    <hr>
                    <p>Once again, truth is stranger than fiction, and the enthralling&nbsp;cat-and-mouse game was
                        __(1)__ by the exploits of audacious Frank&nbsp;W. Abagnale Jr., known as the Skywayman. From
                        the time he ran away from his troubled home at age
                        16 to capture at 21, Abagnale passed himself off as a co-pilot on Pan Am, an emergency room
                        physician, a lawyer and a milionaire.&nbsp;</p>

                    <p>He was so skilled at 'paperhanging' (check fraud) -&nbsp;and had such chutzpah - that, for years,
                        he was able to outwit and outmaneuver FBI Agent Carl Hanratty, who patiently pursued
                        him&nbsp;__(2)__ the world while developing a curious
                        surrogate -&nbsp;father/son relationship with the daring identity thief.&nbsp;</p>

                    <p>Perceptively directed by Steven Spielberg from Jeff Nathanson's expertly-potted sreenplay, based
                        on Abagnale's memoir, it's a cockeyed version of the American dream, an ingenious, jet-setting
                        grifter who scammed bad checks in 50 states
                        and 26 countries, bilking barks of $2.5 milion, yet who's still haunted by the sins of his
                        parents which fractured his&nbsp;family. After serving five years, Abagnele was __(3)__ from
                        prison on the condition that he teach law enforcement
                        how to prevent fraud. Now he has his own security firm and lectures at the FBI Academy.&nbsp;
                    </p>
                    </div>
                    <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
                        <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                        <div class="answer">
                            <p><b>141. __(1)__</b></p>
                            <ul class="answer-list">
                                <li>
                                    <input type="radio" name="140" value="5585" id="5585" disabled="">
                                    <label for="5585">
                                        <i class="icon icon_radio"></i>
                                        A. insprired
                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="140" value="5586" id="5586" disabled="">
                                    <label for="5586">
                                        <i class="icon icon_radio"></i>
                                        B. retired
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="140" value="5587" id="5587" disabled="">
                                    <label for="5587">
                                        <i class="icon icon_radio"></i>
                                        C. expired
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="140" value="5588" id="5588" disabled="">
                                    <label for="5588">
                                        <i class="icon icon_radio"></i>
                                        D. wired
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="answer">
                            <p><b>142. __(2)__</b></p>
                            <ul class="answer-list">
                                <li>
                                    <input type="radio" name="141" value="5589" id="5589" disabled="">
                                    <label for="5589">
                                        <i class="icon icon_radio"></i>
                                        A. through
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="141" value="5590" id="5590" disabled="">
                                    <label for="5590">
                                        <i class="icon icon_radio"></i>
                                        B. along
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="141" value="5591" id="5591" disabled="">
                                    <label for="5591">
                                        <i class="icon icon_radio"></i>
                                        C. around
                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="141" value="5592" id="5592" disabled="">
                                    <label for="5592">
                                        <i class="icon icon_radio"></i>
                                        D. into
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="answer">
                            <p><b>143. __(3)__</b></p>
                            <ul class="answer-list">
                                <li>
                                    <input type="radio" name="142" value="5593" id="5593" disabled="">
                                    <label for="5593">
                                        <i class="icon icon_radio"></i>
                                        A. sentenced
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="142" value="5594" id="5594" disabled="">
                                    <label for="5594">
                                        <i class="icon icon_radio"></i>
                                        B. omitted
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="142" value="5595" id="5595" disabled="">
                                    <label for="5595">
                                        <i class="icon icon_radio"></i>
                                        C. kicked out
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="142" value="5596" id="5596" disabled="">
                                    <label for="5596">
                                        <i class="icon icon_radio"></i>
                                        D. released
                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22"
                            class="mc-btn btn-style-6">Next</a>
                    </form>
                </div>
            </div>
        </div>
    </div>