<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                    <p class="text-justify">
                        <b>Question 147 - 149 refer to
                            following paragraph:</b>
                    </p>
                    <hr>
                    <p>l'm&nbsp;glad you are all here today. Obviously, the more communications we can have about issues
                        that worry you,&nbsp;the easier it is for us to __(1)__&nbsp;to problems. Governors are
                        problern-solvers. And so is the President. Our job
                        is to identify problems, and deal with them. And the best way to do so&nbsp;is in the
                        spirit&nbsp;of cooperation.&nbsp;</p>

                    <p>That's sometimes hard in Washington, I readiy admit. This is not a town that thrives upon
                        cooperation, like most state capitals. But we'll __(2)__ to work hard to help you, because by
                        helpilg our governors, we readly help our people. That's
                        the job of a President.&nbsp;</p>

                    <p>Yesterday in my toast, I said the war on drugs goes on, and it does. I wish I __(3)__ otherwise,
                        but that's not a true assessment of the world. We are chasing the Mafia;&nbsp;we're dealing with
                        criminds and proliferation. But this war
                        still goes on. It's important for you to know that.&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5609" id="5609" disabled="">
                                <label for="5609">
                                    <i class="icon icon_radio"></i>
                                    A. answer
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5610" id="5610" disabled="">
                                <label for="5610">
                                    <i class="icon icon_radio"></i>
                                    B. respond
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5611" id="5611" disabled="">
                                <label for="5611">
                                    <i class="icon icon_radio"></i>
                                    C. solve
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5612" id="5612" disabled="">
                                <label for="5612">
                                    <i class="icon icon_radio"></i>
                                    D. resolve
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5613" id="5613" disabled="">
                                <label for="5613">
                                    <i class="icon icon_radio"></i>
                                    A. follow
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5614" id="5614" disabled="">
                                <label for="5614">
                                    <i class="icon icon_radio"></i>
                                    B. continue
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5615" id="5615" disabled="">
                                <label for="5615">
                                    <i class="icon icon_radio"></i>
                                    C. maintain
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5616" id="5616" disabled="">
                                <label for="5616">
                                    <i class="icon icon_radio"></i>
                                    D. remain
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5617" id="5617" disabled="">
                                <label for="5617">
                                    <i class="icon icon_radio"></i>
                                    A. could report
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5618" id="5618" disabled="">
                                <label for="5618">
                                    <i class="icon icon_radio"></i>
                                    B. am reporting
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5619" id="5619" disabled="">
                                <label for="5619">
                                    <i class="icon icon_radio"></i>
                                    C. should report
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5620" id="5620" disabled="">
                                <label for="5620">
                                    <i class="icon icon_radio"></i>
                                    D. might report
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>