<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=5">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>101. If you can't behave ____ , you will lose your job</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="100" value="5217" id="5217" disabled="">
                        <label for="5217">
                            <i class="icon icon_radio"></i>
                            A. sensible
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="5218" id="5218" disabled="">
                        <label for="5218">
                            <i class="icon icon_radio"></i>
                            B. senseless
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="5219" id="5219" disabled="">
                        <label for="5219">
                            <i class="icon icon_radio"></i>
                            C. sensibly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="5220" id="5220" disabled="">
                        <label for="5220">
                            <i class="icon icon_radio"></i>
                            D. sensibility
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>102. I'm very ____ about this new contract</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="101" value="5221" id="5221" disabled="">
                        <label for="5221">
                            <i class="icon icon_radio"></i>
                            A. considered
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="5222" id="5222" disabled="">
                        <label for="5222">
                            <i class="icon icon_radio"></i>
                            B. concerned
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="5223" id="5223" disabled="">
                        <label for="5223">
                            <i class="icon icon_radio"></i>
                            C. conserved
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="5224" id="5224" disabled="">
                        <label for="5224">
                            <i class="icon icon_radio"></i>
                            D. consisted
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>103. We have ____ a room for you at the hotel</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="102" value="5225" id="5225" disabled="">
                        <label for="5225">
                            <i class="icon icon_radio"></i>
                            A. reservations
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="5226" id="5226" disabled="">
                        <label for="5226">
                            <i class="icon icon_radio"></i>
                            B. reservation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="5227" id="5227" disabled="">
                        <label for="5227">
                            <i class="icon icon_radio"></i>
                            C. reserving
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="5228" id="5228" disabled="">
                        <label for="5228">
                            <i class="icon icon_radio"></i>
                            D. reserved
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>104. Has Mr Browning returned my call ____ ?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="103" value="5229" id="5229" disabled="">
                        <label for="5229">
                            <i class="icon icon_radio"></i>
                            A. still
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="5230" id="5230" disabled="">
                        <label for="5230">
                            <i class="icon icon_radio"></i>
                            B. soon
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="5231" id="5231" disabled="">
                        <label for="5231">
                            <i class="icon icon_radio"></i>
                            C. yet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="5232" id="5232" disabled="">
                        <label for="5232">
                            <i class="icon icon_radio"></i>
                            D. once
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>105. I don't think he can handle this project by ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="104" value="5233" id="5233" disabled="">
                        <label for="5233">
                            <i class="icon icon_radio"></i>
                            A. him
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="5234" id="5234" disabled="">
                        <label for="5234">
                            <i class="icon icon_radio"></i>
                            B. himself
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="5235" id="5235" disabled="">
                        <label for="5235">
                            <i class="icon icon_radio"></i>
                            C. his
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="5236" id="5236" disabled="">
                        <label for="5236">
                            <i class="icon icon_radio"></i>
                            D. his own
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>106. All employees are paid on the first ____ month</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="105" value="5237" id="5237" disabled="">
                        <label for="5237">
                            <i class="icon icon_radio"></i>
                            A. at each
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="5238" id="5238" disabled="">
                        <label for="5238">
                            <i class="icon icon_radio"></i>
                            B. of the
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="5239" id="5239" disabled="">
                        <label for="5239">
                            <i class="icon icon_radio"></i>
                            C. for every
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="5240" id="5240" disabled="">
                        <label for="5240">
                            <i class="icon icon_radio"></i>
                            D. with any
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>107. You need to ____ your application on Friday</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="106" value="5241" id="5241" disabled="">
                        <label for="5241">
                            <i class="icon icon_radio"></i>
                            A. submit
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="5242" id="5242" disabled="">
                        <label for="5242">
                            <i class="icon icon_radio"></i>
                            B. reply
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="5243" id="5243" disabled="">
                        <label for="5243">
                            <i class="icon icon_radio"></i>
                            C. respond
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="5244" id="5244" disabled="">
                        <label for="5244">
                            <i class="icon icon_radio"></i>
                            D. reveal
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>108. Make sure you have cleaned the office ____ before you leave</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="107" value="5245" id="5245" disabled="">
                        <label for="5245">
                            <i class="icon icon_radio"></i>
                            A. thorough
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="5246" id="5246" disabled="">
                        <label for="5246">
                            <i class="icon icon_radio"></i>
                            B. thoroughness
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="5247" id="5247" disabled="">
                        <label for="5247">
                            <i class="icon icon_radio"></i>
                            C. thoroughly
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="5248" id="5248" disabled="">
                        <label for="5248">
                            <i class="icon icon_radio"></i>
                            D. more thorough
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>109. Employees are ____ that eating is not allowed in the factory</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="108" value="5249" id="5249" disabled="">
                        <label for="5249">
                            <i class="icon icon_radio"></i>
                            A. remembered
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="5250" id="5250" disabled="">
                        <label for="5250">
                            <i class="icon icon_radio"></i>
                            B. reminded
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="5251" id="5251" disabled="">
                        <label for="5251">
                            <i class="icon icon_radio"></i>
                            C. recalled
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="5252" id="5252" disabled="">
                        <label for="5252">
                            <i class="icon icon_radio"></i>
                            D. memorized
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>110. Head Office is located in the ____ of the country</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="109" value="5253" id="5253" disabled="">
                        <label for="5253">
                            <i class="icon icon_radio"></i>
                            A. region
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="5254" id="5254" disabled="">
                        <label for="5254">
                            <i class="icon icon_radio"></i>
                            B. county
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="5255" id="5255" disabled="">
                        <label for="5255">
                            <i class="icon icon_radio"></i>
                            C. township
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="5256" id="5256" disabled="">
                        <label for="5256">
                            <i class="icon icon_radio"></i>
                            D. capital
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>111. Mrs Green can talk to you now. Thank you for ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="110" value="5257" id="5257" disabled="">
                        <label for="5257">
                            <i class="icon icon_radio"></i>
                            A. waiting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="5258" id="5258" disabled="">
                        <label for="5258">
                            <i class="icon icon_radio"></i>
                            B. waited
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="5259" id="5259" disabled="">
                        <label for="5259">
                            <i class="icon icon_radio"></i>
                            C. to await
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="5260" id="5260" disabled="">
                        <label for="5260">
                            <i class="icon icon_radio"></i>
                            D. the await
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>112. We need to find out ____ this company really belongs</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="111" value="5261" id="5261" disabled="">
                        <label for="5261">
                            <i class="icon icon_radio"></i>
                            A. whose
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="5262" id="5262" disabled="">
                        <label for="5262">
                            <i class="icon icon_radio"></i>
                            B. those who
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="5263" id="5263" disabled="">
                        <label for="5263">
                            <i class="icon icon_radio"></i>
                            C. to whom
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="5264" id="5264" disabled="">
                        <label for="5264">
                            <i class="icon icon_radio"></i>
                            D. whoever
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>113. I have a difficult deadline ____ this week</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="112" value="5265" id="5265" disabled="">
                        <label for="5265">
                            <i class="icon icon_radio"></i>
                            A. having met
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="5266" id="5266" disabled="">
                        <label for="5266">
                            <i class="icon icon_radio"></i>
                            B. to meeting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="5267" id="5267" disabled="">
                        <label for="5267">
                            <i class="icon icon_radio"></i>
                            C. meeting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="5268" id="5268" disabled="">
                        <label for="5268">
                            <i class="icon icon_radio"></i>
                            D. to meet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>114. Industrial pollution is the subject of ____ conferences taking place all over the world</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="113" value="5269" id="5269" disabled="">
                        <label for="5269">
                            <i class="icon icon_radio"></i>
                            A. any
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="5270" id="5270" disabled="">
                        <label for="5270">
                            <i class="icon icon_radio"></i>
                            B. every
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="5271" id="5271" disabled="">
                        <label for="5271">
                            <i class="icon icon_radio"></i>
                            C. several
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="5272" id="5272" disabled="">
                        <label for="5272">
                            <i class="icon icon_radio"></i>
                            D. enough
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>115. He is one of ____ interesting speakers on this subject</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="114" value="5273" id="5273" disabled="">
                        <label for="5273">
                            <i class="icon icon_radio"></i>
                            A. the most
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="5274" id="5274" disabled="">
                        <label for="5274">
                            <i class="icon icon_radio"></i>
                            B. the more
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="5275" id="5275" disabled="">
                        <label for="5275">
                            <i class="icon icon_radio"></i>
                            C. more
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="5276" id="5276" disabled="">
                        <label for="5276">
                            <i class="icon icon_radio"></i>
                            D. more than
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>116. I am amazed they moved your desk next to ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="115" value="5277" id="5277" disabled="">
                        <label for="5277">
                            <i class="icon icon_radio"></i>
                            A. myself
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="5278" id="5278" disabled="">
                        <label for="5278">
                            <i class="icon icon_radio"></i>
                            B. mine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="5279" id="5279" disabled="">
                        <label for="5279">
                            <i class="icon icon_radio"></i>
                            C. mine own
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="5280" id="5280" disabled="">
                        <label for="5280">
                            <i class="icon icon_radio"></i>
                            D. my
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>117. For the expert ____ for the layman, this book has something to offer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="116" value="5281" id="5281" disabled="">
                        <label for="5281">
                            <i class="icon icon_radio"></i>
                            A. in addition
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="5282" id="5282" disabled="">
                        <label for="5282">
                            <i class="icon icon_radio"></i>
                            B. further
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="5283" id="5283" disabled="">
                        <label for="5283">
                            <i class="icon icon_radio"></i>
                            C. as well as
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="5284" id="5284" disabled="">
                        <label for="5284">
                            <i class="icon icon_radio"></i>
                            D. too
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>118. I'm afraid this problem is ____ our control</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="117" value="5285" id="5285" disabled="">
                        <label for="5285">
                            <i class="icon icon_radio"></i>
                            A. underneath
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="5286" id="5286" disabled="">
                        <label for="5286">
                            <i class="icon icon_radio"></i>
                            B. beyond
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="5287" id="5287" disabled="">
                        <label for="5287">
                            <i class="icon icon_radio"></i>
                            C. below
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="5288" id="5288" disabled="">
                        <label for="5288">
                            <i class="icon icon_radio"></i>
                            D. within
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>119. The boss is going to give one of his long ____ again</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="118" value="5289" id="5289" disabled="">
                        <label for="5289">
                            <i class="icon icon_radio"></i>
                            A. speakings
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="5290" id="5290" disabled="">
                        <label for="5290">
                            <i class="icon icon_radio"></i>
                            B. speaks
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="5291" id="5291" disabled="">
                        <label for="5291">
                            <i class="icon icon_radio"></i>
                            C. speakers
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="5292" id="5292" disabled="">
                        <label for="5292">
                            <i class="icon icon_radio"></i>
                            D. speeches
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>120. I have no ____ of this project</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="119" value="5293" id="5293" disabled="">
                        <label for="5293">
                            <i class="icon icon_radio"></i>
                            A. knowledge
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="5294" id="5294" disabled="">
                        <label for="5294">
                            <i class="icon icon_radio"></i>
                            B. idea
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="5295" id="5295" disabled="">
                        <label for="5295">
                            <i class="icon icon_radio"></i>
                            C. thought
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="5296" id="5296" disabled="">
                        <label for="5296">
                            <i class="icon icon_radio"></i>
                            D. concept
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>121. Nobody's application was as impressive as ____ !</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="120" value="5297" id="5297" disabled="">
                        <label for="5297">
                            <i class="icon icon_radio"></i>
                            A. her
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="5298" id="5298" disabled="">
                        <label for="5298">
                            <i class="icon icon_radio"></i>
                            B. herself
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="5299" id="5299" disabled="">
                        <label for="5299">
                            <i class="icon icon_radio"></i>
                            C. hers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="5300" id="5300" disabled="">
                        <label for="5300">
                            <i class="icon icon_radio"></i>
                            D. she
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>122. We need to approach this company with a great deal of ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="121" value="5301" id="5301" disabled="">
                        <label for="5301">
                            <i class="icon icon_radio"></i>
                            A. cautious
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="5302" id="5302" disabled="">
                        <label for="5302">
                            <i class="icon icon_radio"></i>
                            B. cautiously
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="5303" id="5303" disabled="">
                        <label for="5303">
                            <i class="icon icon_radio"></i>
                            C. cautionings
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="5304" id="5304" disabled="">
                        <label for="5304">
                            <i class="icon icon_radio"></i>
                            D. caution
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>123. Please ____ your reservation 24 hours before you arrive</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="122" value="5305" id="5305" disabled="">
                        <label for="5305">
                            <i class="icon icon_radio"></i>
                            A. conduct
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="5306" id="5306" disabled="">
                        <label for="5306">
                            <i class="icon icon_radio"></i>
                            B. conceive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="5307" id="5307" disabled="">
                        <label for="5307">
                            <i class="icon icon_radio"></i>
                            C. confirm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="5308" id="5308" disabled="">
                        <label for="5308">
                            <i class="icon icon_radio"></i>
                            D. conserve
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>124. Brian did ____ job that his boss promoted him</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="123" value="5309" id="5309" disabled="">
                        <label for="5309">
                            <i class="icon icon_radio"></i>
                            A. a such good
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="5310" id="5310" disabled="">
                        <label for="5310">
                            <i class="icon icon_radio"></i>
                            B. such a good
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="5311" id="5311" disabled="">
                        <label for="5311">
                            <i class="icon icon_radio"></i>
                            C. so well
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="5312" id="5312" disabled="">
                        <label for="5312">
                            <i class="icon icon_radio"></i>
                            D. such well a
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>125. Stress is greater at the top of the company ____ the bottom</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="124" value="5313" id="5313" disabled="">
                        <label for="5313">
                            <i class="icon icon_radio"></i>
                            A. than of
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="5314" id="5314" disabled="">
                        <label for="5314">
                            <i class="icon icon_radio"></i>
                            B. from at
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="5315" id="5315" disabled="">
                        <label for="5315">
                            <i class="icon icon_radio"></i>
                            C. than at
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="5316" id="5316" disabled="">
                        <label for="5316">
                            <i class="icon icon_radio"></i>
                            D. as in
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>126. All applicants must send a CV at least five days ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="125" value="5317" id="5317" disabled="">
                        <label for="5317">
                            <i class="icon icon_radio"></i>
                            A. advanced
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="5318" id="5318" disabled="">
                        <label for="5318">
                            <i class="icon icon_radio"></i>
                            B. beforehand
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="5319" id="5319" disabled="">
                        <label for="5319">
                            <i class="icon icon_radio"></i>
                            C. forward
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="5320" id="5320" disabled="">
                        <label for="5320">
                            <i class="icon icon_radio"></i>
                            D. firstly
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>127. A bank loan can ____ a variety of forms</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="126" value="5321" id="5321" disabled="">
                        <label for="5321">
                            <i class="icon icon_radio"></i>
                            A. make
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5322" id="5322" disabled="">
                        <label for="5322">
                            <i class="icon icon_radio"></i>
                            B. receive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5323" id="5323" disabled="">
                        <label for="5323">
                            <i class="icon icon_radio"></i>
                            C. perceive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="5324" id="5324" disabled="">
                        <label for="5324">
                            <i class="icon icon_radio"></i>
                            D. take
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>128. You need a balanced diet to stay ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="127" value="5325" id="5325" disabled="">
                        <label for="5325">
                            <i class="icon icon_radio"></i>
                            A. healthy
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5326" id="5326" disabled="">
                        <label for="5326">
                            <i class="icon icon_radio"></i>
                            B. healthily
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5327" id="5327" disabled="">
                        <label for="5327">
                            <i class="icon icon_radio"></i>
                            C. with health
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="5328" id="5328" disabled="">
                        <label for="5328">
                            <i class="icon icon_radio"></i>
                            D. on healthy
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>129. Unemployment is ____ to affect many countries</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="128" value="5329" id="5329" disabled="">
                        <label for="5329">
                            <i class="icon icon_radio"></i>
                            A. possibly
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5330" id="5330" disabled="">
                        <label for="5330">
                            <i class="icon icon_radio"></i>
                            B. suitably
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5331" id="5331" disabled="">
                        <label for="5331">
                            <i class="icon icon_radio"></i>
                            C. likely
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="5332" id="5332" disabled="">
                        <label for="5332">
                            <i class="icon icon_radio"></i>
                            D. hardly
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>130. The management seems to have very little ____ for the health and safety of the workers</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="129" value="5333" id="5333" disabled="">
                        <label for="5333">
                            <i class="icon icon_radio"></i>
                            A. perception
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5334" id="5334" disabled="">
                        <label for="5334">
                            <i class="icon icon_radio"></i>
                            B. regard
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5335" id="5335" disabled="">
                        <label for="5335">
                            <i class="icon icon_radio"></i>
                            C. belief
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="5336" id="5336" disabled="">
                        <label for="5336">
                            <i class="icon icon_radio"></i>
                            D. manners
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>131. From an early age, his enthusiasm ____ to him being very popular at work</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="130" value="5337" id="5337" disabled="">
                        <label for="5337">
                            <i class="icon icon_radio"></i>
                            A. has led
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5338" id="5338" disabled="">
                        <label for="5338">
                            <i class="icon icon_radio"></i>
                            B. leads
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5339" id="5339" disabled="">
                        <label for="5339">
                            <i class="icon icon_radio"></i>
                            C. leading
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="5340" id="5340" disabled="">
                        <label for="5340">
                            <i class="icon icon_radio"></i>
                            D. did led
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>132. Practically ____ in the group had lived and worked abroad</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="131" value="5341" id="5341" disabled="">
                        <label for="5341">
                            <i class="icon icon_radio"></i>
                            A. no one
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5342" id="5342" disabled="">
                        <label for="5342">
                            <i class="icon icon_radio"></i>
                            B. each one
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5343" id="5343" disabled="">
                        <label for="5343">
                            <i class="icon icon_radio"></i>
                            C. anyone
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="5344" id="5344" disabled="">
                        <label for="5344">
                            <i class="icon icon_radio"></i>
                            D. someone
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>133. Don't be ____ by her aggressive manner; she's a good boss really</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="132" value="5345" id="5345" disabled="">
                        <label for="5345">
                            <i class="icon icon_radio"></i>
                            A. put away
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5346" id="5346" disabled="">
                        <label for="5346">
                            <i class="icon icon_radio"></i>
                            B. put across
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5347" id="5347" disabled="">
                        <label for="5347">
                            <i class="icon icon_radio"></i>
                            C. put through
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="5348" id="5348" disabled="">
                        <label for="5348">
                            <i class="icon icon_radio"></i>
                            D. put off
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>134. Working on Sunday is ____ , but it makes a good impression</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="133" value="5349" id="5349" disabled="">
                        <label for="5349">
                            <i class="icon icon_radio"></i>
                            A. volunteer
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5350" id="5350" disabled="">
                        <label for="5350">
                            <i class="icon icon_radio"></i>
                            B. voluntarily
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5351" id="5351" disabled="">
                        <label for="5351">
                            <i class="icon icon_radio"></i>
                            C. volunteering
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="5352" id="5352" disabled="">
                        <label for="5352">
                            <i class="icon icon_radio"></i>
                            D. voluntary
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>135. We are pleased to inform ____ have been accepted for the position</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="134" value="5353" id="5353" disabled="">
                        <label for="5353">
                            <i class="icon icon_radio"></i>
                            A. you of your
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5354" id="5354" disabled="">
                        <label for="5354">
                            <i class="icon icon_radio"></i>
                            B. you that you
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5355" id="5355" disabled="">
                        <label for="5355">
                            <i class="icon icon_radio"></i>
                            C. you that your
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="5356" id="5356" disabled="">
                        <label for="5356">
                            <i class="icon icon_radio"></i>
                            D. yourself of you
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>136. Replacing the computers every six months seems quite ____ to me</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="135" value="5357" id="5357" disabled="">
                        <label for="5357">
                            <i class="icon icon_radio"></i>
                            A. unnecessary
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5358" id="5358" disabled="">
                        <label for="5358">
                            <i class="icon icon_radio"></i>
                            B. unnecessarily
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5359" id="5359" disabled="">
                        <label for="5359">
                            <i class="icon icon_radio"></i>
                            C. necessitate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="5360" id="5360" disabled="">
                        <label for="5360">
                            <i class="icon icon_radio"></i>
                            D. necessarily
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>137. Our products are superior ____ of our competitors</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="136" value="5361" id="5361" disabled="">
                        <label for="5361">
                            <i class="icon icon_radio"></i>
                            A. than these
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5362" id="5362" disabled="">
                        <label for="5362">
                            <i class="icon icon_radio"></i>
                            B. from those
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5363" id="5363" disabled="">
                        <label for="5363">
                            <i class="icon icon_radio"></i>
                            C. of these
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="5364" id="5364" disabled="">
                        <label for="5364">
                            <i class="icon icon_radio"></i>
                            D. to those
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>138. ____ our profits increase, we will have to fire some workers</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="137" value="5365" id="5365" disabled="">
                        <label for="5365">
                            <i class="icon icon_radio"></i>
                            A. In the case
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5366" id="5366" disabled="">
                        <label for="5366">
                            <i class="icon icon_radio"></i>
                            B. Because
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5367" id="5367" disabled="">
                        <label for="5367">
                            <i class="icon icon_radio"></i>
                            C. Unless
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="5368" id="5368" disabled="">
                        <label for="5368">
                            <i class="icon icon_radio"></i>
                            D. Due to
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>139. I have ____ to this magazine at a very good rate</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="138" value="5369" id="5369" disabled="">
                        <label for="5369">
                            <i class="icon icon_radio"></i>
                            A. received
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5370" id="5370" disabled="">
                        <label for="5370">
                            <i class="icon icon_radio"></i>
                            B. distributed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5371" id="5371" disabled="">
                        <label for="5371">
                            <i class="icon icon_radio"></i>
                            C. subscribed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="5372" id="5372" disabled="">
                        <label for="5372">
                            <i class="icon icon_radio"></i>
                            D. sustained
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>140. Your acceptance for the job ____ on your passing the exam</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="139" value="5373" id="5373" disabled="">
                        <label for="5373">
                            <i class="icon icon_radio"></i>
                            A. has a dependency
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5374" id="5374" disabled="">
                        <label for="5374">
                            <i class="icon icon_radio"></i>
                            B. can dependable
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5375" id="5375" disabled="">
                        <label for="5375">
                            <i class="icon icon_radio"></i>
                            C. it depends
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="5376" id="5376" disabled="">
                        <label for="5376">
                            <i class="icon icon_radio"></i>
                            D. is dependent
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>