<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=5">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>101. Although she was successful writer, she submitted to felling ____ working by herself</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="100" value="4417" id="4417" disabled="">
                                <label for="4417">
                            <i class="icon icon_radio"></i>
                            A. solely
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="4418" id="4418" disabled="">
                                <label for="4418">
                            <i class="icon icon_radio"></i>
                            B. lonely
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="4419" id="4419" disabled="">
                                <label for="4419">
                            <i class="icon icon_radio"></i>
                            C. only
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="4420" id="4420" disabled="">
                                <label for="4420">
                            <i class="icon icon_radio"></i>
                            D. individually
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>102. With online banking, people can ____ bills with a few simple clicks of the mouse</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="101" value="4421" id="4421" disabled="">
                                <label for="4421">
                            <i class="icon icon_radio"></i>
                            A. be paid
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="4422" id="4422" disabled="">
                                <label for="4422">
                            <i class="icon icon_radio"></i>
                            B. to paid
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="4423" id="4423" disabled="">
                                <label for="4423">
                            <i class="icon icon_radio"></i>
                            C. have paid
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="4424" id="4424" disabled="">
                                <label for="4424">
                            <i class="icon icon_radio"></i>
                            D. pay
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>103. More evidence reveals that Eastern Medicine cures diseases ____ Western Medicine, but without the risk of serious side effects</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="102" value="4425" id="4425" disabled="">
                                <label for="4425">
                            <i class="icon icon_radio"></i>
                            A. as good as
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="4426" id="4426" disabled="">
                                <label for="4426">
                            <i class="icon icon_radio"></i>
                            B. best of
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="4427" id="4427" disabled="">
                                <label for="4427">
                            <i class="icon icon_radio"></i>
                            C. better of
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="4428" id="4428" disabled="">
                                <label for="4428">
                            <i class="icon icon_radio"></i>
                            D. as well as
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>104. Although they are sometimes difficult to listen to, complaints can provide valuable ____ that can help a company's method of operation</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="103" value="4429" id="4429" disabled="">
                                <label for="4429">
                            <i class="icon icon_radio"></i>
                            A. feedback
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="4430" id="4430" disabled="">
                                <label for="4430">
                            <i class="icon icon_radio"></i>
                            B. calculation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="4431" id="4431" disabled="">
                                <label for="4431">
                            <i class="icon icon_radio"></i>
                            C. review
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="4432" id="4432" disabled="">
                                <label for="4432">
                            <i class="icon icon_radio"></i>
                            D. consideration
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>105. Before starting the job, all new hires must ____ a drug test</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="104" value="4433" id="4433" disabled="">
                                <label for="4433">
                            <i class="icon icon_radio"></i>
                            A. undergo
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="4434" id="4434" disabled="">
                                <label for="4434">
                            <i class="icon icon_radio"></i>
                            B. underline
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="4435" id="4435" disabled="">
                                <label for="4435">
                            <i class="icon icon_radio"></i>
                            C. undertake
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="4436" id="4436" disabled="">
                                <label for="4436">
                            <i class="icon icon_radio"></i>
                            D. undermine
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>106. ____ have been slight improvements in jobless rates this last month, the highest unemployment figures in fifty years were recorded this year</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="105" value="4437" id="4437" disabled="">
                                <label for="4437">
                            <i class="icon icon_radio"></i>
                            A. Because of the
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="4438" id="4438" disabled="">
                                <label for="4438">
                            <i class="icon icon_radio"></i>
                            B. Despite the
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="4439" id="4439" disabled="">
                                <label for="4439">
                            <i class="icon icon_radio"></i>
                            C. Although there
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="4440" id="4440" disabled="">
                                <label for="4440">
                            <i class="icon icon_radio"></i>
                            D. However there
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>107. The conference room is ____ to Ms. Danner's office on the first floor</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="106" value="4441" id="4441" disabled="">
                                <label for="4441">
                            <i class="icon icon_radio"></i>
                            A. beside
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="4442" id="4442" disabled="">
                                <label for="4442">
                            <i class="icon icon_radio"></i>
                            B. above
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="4443" id="4443" disabled="">
                                <label for="4443">
                            <i class="icon icon_radio"></i>
                            C. desides
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="4444" id="4444" disabled="">
                                <label for="4444">
                            <i class="icon icon_radio"></i>
                            D. next
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>108. ____ doctor's offices ask that you cancel your appointment at least 24 hours in advance</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="107" value="4445" id="4445" disabled="">
                                <label for="4445">
                            <i class="icon icon_radio"></i>
                            A. The more
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="4446" id="4446" disabled="">
                                <label for="4446">
                            <i class="icon icon_radio"></i>
                            B. Most of
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="4447" id="4447" disabled="">
                                <label for="4447">
                            <i class="icon icon_radio"></i>
                            C. Most
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="4448" id="4448" disabled="">
                                <label for="4448">
                            <i class="icon icon_radio"></i>
                            D. More of
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>109. The graduate wrote her last name phonetically, so that it wouldn't be ____ at the commencement ceremony</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="108" value="4449" id="4449" disabled="">
                                <label for="4449">
                            <i class="icon icon_radio"></i>
                            A. misdirected
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="4450" id="4450" disabled="">
                                <label for="4450">
                            <i class="icon icon_radio"></i>
                            B. misused
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="4451" id="4451" disabled="">
                                <label for="4451">
                            <i class="icon icon_radio"></i>
                            C. misguided
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="4452" id="4452" disabled="">
                                <label for="4452">
                            <i class="icon icon_radio"></i>
                            D. mispronounced
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>110. ____ of the bad weather, the meeting has been postponed</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="109" value="4453" id="4453" disabled="">
                                <label for="4453">
                            <i class="icon icon_radio"></i>
                            A. Because
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="4454" id="4454" disabled="">
                                <label for="4454">
                            <i class="icon icon_radio"></i>
                            B. Consequently
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="4455" id="4455" disabled="">
                                <label for="4455">
                            <i class="icon icon_radio"></i>
                            C. Due to
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="4456" id="4456" disabled="">
                                <label for="4456">
                            <i class="icon icon_radio"></i>
                            D. Although there was
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>111. The interns used to meet with Mr. Calkins weekly to discuss ____ progress</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="110" value="4457" id="4457" disabled="">
                                <label for="4457">
                            <i class="icon icon_radio"></i>
                            A. its
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="4458" id="4458" disabled="">
                                <label for="4458">
                            <i class="icon icon_radio"></i>
                            B. their
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="4459" id="4459" disabled="">
                                <label for="4459">
                            <i class="icon icon_radio"></i>
                            C. theirs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="4460" id="4460" disabled="">
                                <label for="4460">
                            <i class="icon icon_radio"></i>
                            D. them
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>112. Job candidates are ____ interviewed more than once to ensure their competence</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="111" value="4461" id="4461" disabled="">
                                <label for="4461">
                            <i class="icon icon_radio"></i>
                            A. often
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="4462" id="4462" disabled="">
                                <label for="4462">
                            <i class="icon icon_radio"></i>
                            B. nearly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="4463" id="4463" disabled="">
                                <label for="4463">
                            <i class="icon icon_radio"></i>
                            C. somehow
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="4464" id="4464" disabled="">
                                <label for="4464">
                            <i class="icon icon_radio"></i>
                            D. ever
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>113. The seminar began so early in the morning that most of the attendees ____ during the first presentation</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="112" value="4465" id="4465" disabled="">
                                <label for="4465">
                            <i class="icon icon_radio"></i>
                            A. slept it off
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="4466" id="4466" disabled="">
                                <label for="4466">
                            <i class="icon icon_radio"></i>
                            B. shook it off
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="4467" id="4467" disabled="">
                                <label for="4467">
                            <i class="icon icon_radio"></i>
                            C. dozed ogg
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="4468" id="4468" disabled="">
                                <label for="4468">
                            <i class="icon icon_radio"></i>
                            D. pumped up
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>114. The evaluation is based ____ productivity, attitude an improvements as an employee</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="113" value="4469" id="4469" disabled="">
                                <label for="4469">
                            <i class="icon icon_radio"></i>
                            A. at your
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="4470" id="4470" disabled="">
                                <label for="4470">
                            <i class="icon icon_radio"></i>
                            B. on your
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="4471" id="4471" disabled="">
                                <label for="4471">
                            <i class="icon icon_radio"></i>
                            C. at yours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="4472" id="4472" disabled="">
                                <label for="4472">
                            <i class="icon icon_radio"></i>
                            D. on yours
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>115. Detective Mark Raas will oversee the murder ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="114" value="4473" id="4473" disabled="">
                                <label for="4473">
                            <i class="icon icon_radio"></i>
                            A. invention
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="4474" id="4474" disabled="">
                                <label for="4474">
                            <i class="icon icon_radio"></i>
                            B. interference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="4475" id="4475" disabled="">
                                <label for="4475">
                            <i class="icon icon_radio"></i>
                            C. inception
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="4476" id="4476" disabled="">
                                <label for="4476">
                            <i class="icon icon_radio"></i>
                            D. investigation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>116. Philadelphia is one of the United States' ____ and most historic cities</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="115" value="4477" id="4477" disabled="">
                                <label for="4477">
                            <i class="icon icon_radio"></i>
                            A. archaic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="4478" id="4478" disabled="">
                                <label for="4478">
                            <i class="icon icon_radio"></i>
                            B. antique
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="4479" id="4479" disabled="">
                                <label for="4479">
                            <i class="icon icon_radio"></i>
                            C. aged
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="4480" id="4480" disabled="">
                                <label for="4480">
                            <i class="icon icon_radio"></i>
                            D. oldest
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>117. ____ crucial decisions that affect the whole company is of the CEO's many responsibilities</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="116" value="4481" id="4481" disabled="">
                                <label for="4481">
                            <i class="icon icon_radio"></i>
                            A. Receiving
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="4482" id="4482" disabled="">
                                <label for="4482">
                            <i class="icon icon_radio"></i>
                            B. Doing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="4483" id="4483" disabled="">
                                <label for="4483">
                            <i class="icon icon_radio"></i>
                            C. Making
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="4484" id="4484" disabled="">
                                <label for="4484">
                            <i class="icon icon_radio"></i>
                            D. Asking
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>118. New, up and coming business can be risky endeavors, but the challenge really ____ to young entrepreneurs</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="117" value="4485" id="4485" disabled="">
                                <label for="4485">
                            <i class="icon icon_radio"></i>
                            A. attracts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="4486" id="4486" disabled="">
                                <label for="4486">
                            <i class="icon icon_radio"></i>
                            B. draws
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="4487" id="4487" disabled="">
                                <label for="4487">
                            <i class="icon icon_radio"></i>
                            C. appeals
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="4488" id="4488" disabled="">
                                <label for="4488">
                            <i class="icon icon_radio"></i>
                            D. interests
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>119. Fellow researchers at the lab were amazed to find out that Mr. Palmer had written this 100-page thesis by ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="118" value="4489" id="4489" disabled="">
                                <label for="4489">
                            <i class="icon icon_radio"></i>
                            A. themselves
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="4490" id="4490" disabled="">
                                <label for="4490">
                            <i class="icon icon_radio"></i>
                            B. himself
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="4491" id="4491" disabled="">
                                <label for="4491">
                            <i class="icon icon_radio"></i>
                            C. itself
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="4492" id="4492" disabled="">
                                <label for="4492">
                            <i class="icon icon_radio"></i>
                            D. myself
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>120. The company held a dinner in order to thank Ms. Vossen for her generous ____ investment in the company that enabled them to hire 50 more employees</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="119" value="4493" id="4493" disabled="">
                                <label for="4493">
                            <i class="icon icon_radio"></i>
                            A. financial
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="4494" id="4494" disabled="">
                                <label for="4494">
                            <i class="icon icon_radio"></i>
                            B. finances
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="4495" id="4495" disabled="">
                                <label for="4495">
                            <i class="icon icon_radio"></i>
                            C. financier
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="4496" id="4496" disabled="">
                                <label for="4496">
                            <i class="icon icon_radio"></i>
                            D. financing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>121. Neither Jerry's speech ____ Helen's presentation impressed the potential clients</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="120" value="4497" id="4497" disabled="">
                                <label for="4497">
                            <i class="icon icon_radio"></i>
                            A. also
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="4498" id="4498" disabled="">
                                <label for="4498">
                            <i class="icon icon_radio"></i>
                            B. nor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="4499" id="4499" disabled="">
                                <label for="4499">
                            <i class="icon icon_radio"></i>
                            C. but
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="4500" id="4500" disabled="">
                                <label for="4500">
                            <i class="icon icon_radio"></i>
                            D. and
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>122. All company meal plans ____ at the end of the year and new ones will need to be issued</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="121" value="4501" id="4501" disabled="">
                                <label for="4501">
                            <i class="icon icon_radio"></i>
                            A. terminate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="4502" id="4502" disabled="">
                                <label for="4502">
                            <i class="icon icon_radio"></i>
                            B. fail
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="4503" id="4503" disabled="">
                                <label for="4503">
                            <i class="icon icon_radio"></i>
                            C. lose
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="4504" id="4504" disabled="">
                                <label for="4504">
                            <i class="icon icon_radio"></i>
                            D. expire
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>123. Some bosses intentionally place their employees in high-stress situations in order to ____ their ability to work under pressure</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="122" value="4505" id="4505" disabled="">
                                <label for="4505">
                            <i class="icon icon_radio"></i>
                            A. locate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="4506" id="4506" disabled="">
                                <label for="4506">
                            <i class="icon icon_radio"></i>
                            B. test
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="4507" id="4507" disabled="">
                                <label for="4507">
                            <i class="icon icon_radio"></i>
                            C. extract
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="4508" id="4508" disabled="">
                                <label for="4508">
                            <i class="icon icon_radio"></i>
                            D. attempt
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>124. In order to keep things running smoothly, representatives will be seated in alphabetical ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="123" value="4509" id="4509" disabled="">
                                <label for="4509">
                            <i class="icon icon_radio"></i>
                            A. sequence
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="4510" id="4510" disabled="">
                                <label for="4510">
                            <i class="icon icon_radio"></i>
                            B. system
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="4511" id="4511" disabled="">
                                <label for="4511">
                            <i class="icon icon_radio"></i>
                            C. order
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="4512" id="4512" disabled="">
                                <label for="4512">
                            <i class="icon icon_radio"></i>
                            D. rank
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>125. Before he left the company for retirement, Mr. Roshon wrote meticulous notes on his duties so that his ____ would feel prepared</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="124" value="4513" id="4513" disabled="">
                                <label for="4513">
                            <i class="icon icon_radio"></i>
                            A. predecessor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="4514" id="4514" disabled="">
                                <label for="4514">
                            <i class="icon icon_radio"></i>
                            B. successor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="4515" id="4515" disabled="">
                                <label for="4515">
                            <i class="icon icon_radio"></i>
                            C. descendant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="4516" id="4516" disabled="">
                                <label for="4516">
                            <i class="icon icon_radio"></i>
                            D. inheritor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>126. Jonathan asked that we all acquaint ourselves with the notes ____ , so we didn't have to waste any of the meeting time with explanations</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="125" value="4517" id="4517" disabled="">
                                <label for="4517">
                            <i class="icon icon_radio"></i>
                            A. beforehand
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="4518" id="4518" disabled="">
                                <label for="4518">
                            <i class="icon icon_radio"></i>
                            B. previously
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="4519" id="4519" disabled="">
                                <label for="4519">
                            <i class="icon icon_radio"></i>
                            C. forward
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="4520" id="4520" disabled="">
                                <label for="4520">
                            <i class="icon icon_radio"></i>
                            D. ahead
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>127. Mattress King is ____ its prices for the entire month before Christmas</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="126" value="4521" id="4521" disabled="">
                                <label for="4521">
                            <i class="icon icon_radio"></i>
                            A. sweeping
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="4522" id="4522" disabled="">
                                <label for="4522">
                            <i class="icon icon_radio"></i>
                            B. swarming
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="4523" id="4523" disabled="">
                                <label for="4523">
                            <i class="icon icon_radio"></i>
                            C. slitting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="4524" id="4524" disabled="">
                                <label for="4524">
                            <i class="icon icon_radio"></i>
                            D. slashing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>128. The number of girls who play soccer in the U.S ____ substantially since the women's national team won the World Cup</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="127" value="4525" id="4525" disabled="">
                                <label for="4525">
                            <i class="icon icon_radio"></i>
                            A. rises
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="4526" id="4526" disabled="">
                                <label for="4526">
                            <i class="icon icon_radio"></i>
                            B. have risen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="4527" id="4527" disabled="">
                                <label for="4527">
                            <i class="icon icon_radio"></i>
                            C. has risen
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="4528" id="4528" disabled="">
                                <label for="4528">
                            <i class="icon icon_radio"></i>
                            D. is risen
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>129. George failed to meet his deadline and was ____ given a warning by his editor</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="128" value="4529" id="4529" disabled="">
                                <label for="4529">
                            <i class="icon icon_radio"></i>
                            A. consequently
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="4530" id="4530" disabled="">
                                <label for="4530">
                            <i class="icon icon_radio"></i>
                            B. evidently
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="4531" id="4531" disabled="">
                                <label for="4531">
                            <i class="icon icon_radio"></i>
                            C. lastly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="4532" id="4532" disabled="">
                                <label for="4532">
                            <i class="icon icon_radio"></i>
                            D. secondly
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>130. ____ the interview going well, I still don't feel confident that they will offer me the job</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="129" value="4533" id="4533" disabled="">
                                <label for="4533">
                            <i class="icon icon_radio"></i>
                            A. Despite
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="4534" id="4534" disabled="">
                                <label for="4534">
                            <i class="icon icon_radio"></i>
                            B. Even though
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="4535" id="4535" disabled="">
                                <label for="4535">
                            <i class="icon icon_radio"></i>
                            C. Although
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="4536" id="4536" disabled="">
                                <label for="4536">
                            <i class="icon icon_radio"></i>
                            D. While
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>131. Employees know that they will always be held ____ for their work and therefore never mess around</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="130" value="4537" id="4537" disabled="">
                                <label for="4537">
                            <i class="icon icon_radio"></i>
                            A. accounted
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="4538" id="4538" disabled="">
                                <label for="4538">
                            <i class="icon icon_radio"></i>
                            B. accountant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="4539" id="4539" disabled="">
                                <label for="4539">
                            <i class="icon icon_radio"></i>
                            C. uncountable
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="4540" id="4540" disabled="">
                                <label for="4540">
                            <i class="icon icon_radio"></i>
                            D. accountable
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>132. Mr. Jannsons, to ____ the parcel was addressed, forwarded the package to the company president</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="131" value="4541" id="4541" disabled="">
                                <label for="4541">
                            <i class="icon icon_radio"></i>
                            A. him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="4542" id="4542" disabled="">
                                <label for="4542">
                            <i class="icon icon_radio"></i>
                            B. whose
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="4543" id="4543" disabled="">
                                <label for="4543">
                            <i class="icon icon_radio"></i>
                            C. his
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="4544" id="4544" disabled="">
                                <label for="4544">
                            <i class="icon icon_radio"></i>
                            D. whom
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>133. Technological ____ has allowed offices to work much more efficiently</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="132" value="4545" id="4545" disabled="">
                                <label for="4545">
                            <i class="icon icon_radio"></i>
                            A. movement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="4546" id="4546" disabled="">
                                <label for="4546">
                            <i class="icon icon_radio"></i>
                            B. advancement
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="4547" id="4547" disabled="">
                                <label for="4547">
                            <i class="icon icon_radio"></i>
                            C. culmination
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="4548" id="4548" disabled="">
                                <label for="4548">
                            <i class="icon icon_radio"></i>
                            D. action
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>134. The conference hall has a room ____ of two hundred people</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="133" value="4549" id="4549" disabled="">
                                <label for="4549">
                            <i class="icon icon_radio"></i>
                            A. capacity
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="4550" id="4550" disabled="">
                                <label for="4550">
                            <i class="icon icon_radio"></i>
                            B. ability
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="4551" id="4551" disabled="">
                                <label for="4551">
                            <i class="icon icon_radio"></i>
                            C. faculty
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="4552" id="4552" disabled="">
                                <label for="4552">
                            <i class="icon icon_radio"></i>
                            D. agility
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>135. The factory is currently ____ to see if they are following all healthy and safety regulations</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="134" value="4553" id="4553" disabled="">
                                <label for="4553">
                            <i class="icon icon_radio"></i>
                            A. is inspecting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="4554" id="4554" disabled="">
                                <label for="4554">
                            <i class="icon icon_radio"></i>
                            B. to inspect
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="4555" id="4555" disabled="">
                                <label for="4555">
                            <i class="icon icon_radio"></i>
                            C. having been inspected
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="4556" id="4556" disabled="">
                                <label for="4556">
                            <i class="icon icon_radio"></i>
                            D. being inspected
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>136. Highly stressed individuals ____ by doctors to exercise, in order to relieve tension and prevent heart disease or stress-related illnesses</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="135" value="4557" id="4557" disabled="">
                                <label for="4557">
                            <i class="icon icon_radio"></i>
                            A. are encouraging
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="4558" id="4558" disabled="">
                                <label for="4558">
                            <i class="icon icon_radio"></i>
                            B. encourage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="4559" id="4559" disabled="">
                                <label for="4559">
                            <i class="icon icon_radio"></i>
                            C. encouraged
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="4560" id="4560" disabled="">
                                <label for="4560">
                            <i class="icon icon_radio"></i>
                            D. are encouraged
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>137. The union said the ____ would continue until the CEO met their demands to provide better health benefits</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="136" value="4561" id="4561" disabled="">
                                <label for="4561">
                            <i class="icon icon_radio"></i>
                            A. clash
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="4562" id="4562" disabled="">
                                <label for="4562">
                            <i class="icon icon_radio"></i>
                            B. quarrel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="4563" id="4563" disabled="">
                                <label for="4563">
                            <i class="icon icon_radio"></i>
                            C. disagreement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="4564" id="4564" disabled="">
                                <label for="4564">
                            <i class="icon icon_radio"></i>
                            D. strike
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>138. Please take a seat and the doctor will see you ____ she is done with her current patient</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="137" value="4565" id="4565" disabled="">
                                <label for="4565">
                            <i class="icon icon_radio"></i>
                            A. as soon
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="4566" id="4566" disabled="">
                                <label for="4566">
                            <i class="icon icon_radio"></i>
                            B. when
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="4567" id="4567" disabled="">
                                <label for="4567">
                            <i class="icon icon_radio"></i>
                            C. after that
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="4568" id="4568" disabled="">
                                <label for="4568">
                            <i class="icon icon_radio"></i>
                            D. while
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>139. The manager was impressed that the new employee ____ in reaching his sales goal on the first day</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="138" value="4569" id="4569" disabled="">
                                <label for="4569">
                            <i class="icon icon_radio"></i>
                            A. achieved
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="4570" id="4570" disabled="">
                                <label for="4570">
                            <i class="icon icon_radio"></i>
                            B. managed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="4571" id="4571" disabled="">
                                <label for="4571">
                            <i class="icon icon_radio"></i>
                            C. succeeded
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="4572" id="4572" disabled="">
                                <label for="4572">
                            <i class="icon icon_radio"></i>
                            D. accomplished
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>140. The downtown hotel has a ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="139" value="4573" id="4573" disabled="">
                                <label for="4573">
                            <i class="icon icon_radio"></i>
                            A. 3-night minimum reservation policy
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="4574" id="4574" disabled="">
                                <label for="4574">
                            <i class="icon icon_radio"></i>
                            B. policy 3-night reservation minimum
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="4575" id="4575" disabled="">
                                <label for="4575">
                            <i class="icon icon_radio"></i>
                            C. minimum policy 3-night reservation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="4576" id="4576" disabled="">
                                <label for="4576">
                            <i class="icon icon_radio"></i>
                            D. 3-night reservation policy minimum
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>