<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <img src="https://toeic24.vn/upload/img/resized/1565670837.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565670837.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 31.7555%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:20</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="891" id="891" disabled="">
                                <label for="891">
                            <i class="icon icon_radio"></i>
                            A. She is in her car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="892" id="892" disabled="">
                                <label for="892">
                            <i class="icon icon_radio"></i>
                            B. She is writing a ticket
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="893" id="893" disabled="">
                                <label for="893">
                            <i class="icon icon_radio"></i>
                            C. She is opening the car door
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="894" id="894" disabled="">
                                <label for="894">
                            <i class="icon icon_radio"></i>
                            D. She is breaking the law
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565670942.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565670943.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 34.5478%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="895" id="895" disabled="">
                                <label for="895">
                            <i class="icon icon_radio"></i>
                            A. She is talking to an individual
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="896" id="896" disabled="">
                                <label for="896">
                            <i class="icon icon_radio"></i>
                            B. She has long hair
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="897" id="897" disabled="">
                                <label for="897">
                            <i class="icon icon_radio"></i>
                            C. Her hands are on the podium
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="898" id="898" disabled="">
                                <label for="898">
                            <i class="icon icon_radio"></i>
                            D. There are three microphones
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565671163.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565671163.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.82%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:22</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="899" id="899" disabled="">
                                <label for="899">
                            <i class="icon icon_radio"></i>
                            A. The woman is sitting between the two men
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="900" id="900" disabled="">
                                <label for="900">
                            <i class="icon icon_radio"></i>
                            B. The man is the middle is drinking water
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="901" id="901" disabled="">
                                <label for="901">
                            <i class="icon icon_radio"></i>
                            C. The man on the right is speaking
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="902" id="902" disabled="">
                                <label for="902">
                            <i class="icon icon_radio"></i>
                            D. The woman's elbows are on the table
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565671255.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565671255.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 33.4619%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="903" id="903" disabled="">
                                <label for="903">
                            <i class="icon icon_radio"></i>
                            A. The man's ears are covered
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="904" id="904" disabled="">
                                <label for="904">
                            <i class="icon icon_radio"></i>
                            B. The man is flying an airplane
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="905" id="905" disabled="">
                                <label for="905">
                            <i class="icon icon_radio"></i>
                            C. The man is looking toward the sky
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="906" id="906" disabled="">
                                <label for="906">
                            <i class="icon icon_radio"></i>
                            D. The man is in the open air
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565671329.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565671329.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.7038%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:22</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="907" id="907" disabled="">
                                <label for="907">
                            <i class="icon icon_radio"></i>
                            A. The older man is wearing a robe
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="908" id="908" disabled="">
                                <label for="908">
                            <i class="icon icon_radio"></i>
                            B. The officers are arresting someone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="909" id="909" disabled="">
                                <label for="909">
                            <i class="icon icon_radio"></i>
                            C. One man's hands are on his waist
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="910" id="910" disabled="">
                                <label for="910">
                            <i class="icon icon_radio"></i>
                            D. They are talking around a table
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565671426.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565671426.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 31.4514%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="911" id="911" disabled="">
                                <label for="911">
                            <i class="icon icon_radio"></i>
                            A. The man is the suit is holding the book with both hands
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="912" id="912" disabled="">
                                <label for="912">
                            <i class="icon icon_radio"></i>
                            B. The woman is listening to the story
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="913" id="913" disabled="">
                                <label for="913">
                            <i class="icon icon_radio"></i>
                            C. The man in the middle is wearing a sweatshirt
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="914" id="914" disabled="">
                                <label for="914">
                            <i class="icon icon_radio"></i>
                            D. They are writing a children's story
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565671499.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565671499.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 25.2454%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>7. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="915" id="915" disabled="">
                                <label for="915">
                            <i class="icon icon_radio"></i>
                            A. The animal is in a cage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="916" id="916" disabled="">
                                <label for="916">
                            <i class="icon icon_radio"></i>
                            B. The child is frightened of the animal
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="917" id="917" disabled="">
                                <label for="917">
                            <i class="icon icon_radio"></i>
                            C. The woman is holding the child
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="918" id="918" disabled="">
                                <label for="918">
                            <i class="icon icon_radio"></i>
                            D. The child is reaching towards the animal
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565671564.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565671564.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 37.0783%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>8. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="919" id="919" disabled="">
                                <label for="919">
                            <i class="icon icon_radio"></i>
                            A. It is light outside
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="920" id="920" disabled="">
                                <label for="920">
                            <i class="icon icon_radio"></i>
                            B. The car is not moving
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="921" id="921" disabled="">
                                <label for="921">
                            <i class="icon icon_radio"></i>
                            C. The women are out of the car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="922" id="922" disabled="">
                                <label for="922">
                            <i class="icon icon_radio"></i>
                            D. A man is signaling to the car
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565671662.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565671662.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.368%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:22</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>9. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="923" id="923" disabled="">
                                <label for="923">
                            <i class="icon icon_radio"></i>
                            A. There is a window at the back of the room
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="924" id="924" disabled="">
                                <label for="924">
                            <i class="icon icon_radio"></i>
                            B. The market is not inside
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="925" id="925" disabled="">
                                <label for="925">
                            <i class="icon icon_radio"></i>
                            C. There is a small number of people in the building
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="926" id="926" disabled="">
                                <label for="926">
                            <i class="icon icon_radio"></i>
                            D. The items are displayed on a shelf
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1565676466.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665847/1565676466.mp3" type="audio/mp3">
                </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 31.0909%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>10. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="927" id="927" disabled="">
                                <label for="927">
                            <i class="icon icon_radio"></i>
                            A. The woman is handing cash to the cashier
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="928" id="928" disabled="">
                                <label for="928">
                            <i class="icon icon_radio"></i>
                            B. The woman is waiting in line
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="929" id="929" disabled="">
                                <label for="929">
                            <i class="icon icon_radio"></i>
                            C. The woman's jacket is buttoned
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="930" id="930" disabled="">
                                <label for="930">
                            <i class="icon icon_radio"></i>
                            D. The woman is at a hardware store
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>