<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=5">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <div class="answer">
                        <p><b>101. Departmental restructuring will be discussed at the ____ monthly meeting</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="100" value="15826" id="15826" disabled="">
                                <label for="15826">
                                    <i class="icon icon_radio"></i>
                                    A. next
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="15827" id="15827" disabled="">
                                <label for="15827">
                                    <i class="icon icon_radio"></i>
                                    B. always
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="15828" id="15828" disabled="">
                                <label for="15828">
                                    <i class="icon icon_radio"></i>
                                    C. soon
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="15829" id="15829" disabled="">
                                <label for="15829">
                                    <i class="icon icon_radio"></i>
                                    D. like
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>102. To keep ____ park beautiful, please place your nonrecyclables in the available trash
                                cans</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="101" value="15830" id="15830" disabled="">
                                <label for="15830">
                                    <i class="icon icon_radio"></i>
                                    A. our
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="15831" id="15831" disabled="">
                                <label for="15831">
                                    <i class="icon icon_radio"></i>
                                    B. we
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="15832" id="15832" disabled="">
                                <label for="15832">
                                    <i class="icon icon_radio"></i>
                                    C. us
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="15833" id="15833" disabled="">
                                <label for="15833">
                                    <i class="icon icon_radio"></i>
                                    D. ours
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>103. Mr. Hardin ____ additional images of the office building he is interested in
                                leasing</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="102" value="15834" id="15834" disabled="">
                                <label for="15834">
                                    <i class="icon icon_radio"></i>
                                    A. informed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="15835" id="15835" disabled="">
                                <label for="15835">
                                    <i class="icon icon_radio"></i>
                                    B. asked
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="15836" id="15836" disabled="">
                                <label for="15836">
                                    <i class="icon icon_radio"></i>
                                    C. advised
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="15837" id="15837" disabled="">
                                <label for="15837">
                                    <i class="icon icon_radio"></i>
                                    D. requested
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>104. A team of agricultural experts will be brought ____ to try to improve crop
                                harvests</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="103" value="15838" id="15838" disabled="">
                                <label for="15838">
                                    <i class="icon icon_radio"></i>
                                    A. because
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="15839" id="15839" disabled="">
                                <label for="15839">
                                    <i class="icon icon_radio"></i>
                                    B. either
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="15840" id="15840" disabled="">
                                <label for="15840">
                                    <i class="icon icon_radio"></i>
                                    C. between
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="15841" id="15841" disabled="">
                                <label for="15841">
                                    <i class="icon icon_radio"></i>
                                    D. together
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>105. The board of Galaxipharm ____ Mr. Kwon's successor at yesterday's meeting</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="104" value="15842" id="15842" disabled="">
                                <label for="15842">
                                    <i class="icon icon_radio"></i>
                                    A. named
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="15843" id="15843" disabled="">
                                <label for="15843">
                                    <i class="icon icon_radio"></i>
                                    B. granted
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="15844" id="15844" disabled="">
                                <label for="15844">
                                    <i class="icon icon_radio"></i>
                                    C. founded
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="15845" id="15845" disabled="">
                                <label for="15845">
                                    <i class="icon icon_radio"></i>
                                    D. proved
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>106. If your parking permit is damaged, bring it to the entrance station for a ____</b>
                        </p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="105" value="15846" id="15846" disabled="">
                                <label for="15846">
                                    <i class="icon icon_radio"></i>
                                    A. replacement
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="15847" id="15847" disabled="">
                                <label for="15847">
                                    <i class="icon icon_radio"></i>
                                    B. replacing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="15848" id="15848" disabled="">
                                <label for="15848">
                                    <i class="icon icon_radio"></i>
                                    C. replace
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="15849" id="15849" disabled="">
                                <label for="15849">
                                    <i class="icon icon_radio"></i>
                                    D. replaces
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>107. Mr. Ahmad decided to reserve a private room for the awards dinner ____ the restaurant
                                was noisy</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="106" value="15850" id="15850" disabled="">
                                <label for="15850">
                                    <i class="icon icon_radio"></i>
                                    A. rather than
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="15851" id="15851" disabled="">
                                <label for="15851">
                                    <i class="icon icon_radio"></i>
                                    B. in case
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="15852" id="15852" disabled="">
                                <label for="15852">
                                    <i class="icon icon_radio"></i>
                                    C. such as
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="15853" id="15853" disabled="">
                                <label for="15853">
                                    <i class="icon icon_radio"></i>
                                    D. unless
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>108. Ms. Jones has provided a ____ estimate of the costs of expanding distribution
                                statewide</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="107" value="15854" id="15854" disabled="">
                                <label for="15854">
                                    <i class="icon icon_radio"></i>
                                    A. conserve
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="15855" id="15855" disabled="">
                                <label for="15855">
                                    <i class="icon icon_radio"></i>
                                    B. conserves
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="15856" id="15856" disabled="">
                                <label for="15856">
                                    <i class="icon icon_radio"></i>
                                    C. conservative
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="15857" id="15857" disabled="">
                                <label for="15857">
                                    <i class="icon icon_radio"></i>
                                    D. conservatively
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>109. Each quarter, Acaba Exports sets ____ sales goals for its staff</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="108" value="15858" id="15858" disabled="">
                                <label for="15858">
                                    <i class="icon icon_radio"></i>
                                    A. compact
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="15859" id="15859" disabled="">
                                <label for="15859">
                                    <i class="icon icon_radio"></i>
                                    B. wealthy
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="15860" id="15860" disabled="">
                                <label for="15860">
                                    <i class="icon icon_radio"></i>
                                    C. faithful
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="15861" id="15861" disabled="">
                                <label for="15861">
                                    <i class="icon icon_radio"></i>
                                    D. realistic
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>110. Ms. Garcia was delighted to receive ____ that her company soon will be featured in
                                the In Town Times magazine</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="109" value="15862" id="15862" disabled="">
                                <label for="15862">
                                    <i class="icon icon_radio"></i>
                                    A. notify
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="15863" id="15863" disabled="">
                                <label for="15863">
                                    <i class="icon icon_radio"></i>
                                    B. notification
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="15864" id="15864" disabled="">
                                <label for="15864">
                                    <i class="icon icon_radio"></i>
                                    C. notifying
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="15865" id="15865" disabled="">
                                <label for="15865">
                                    <i class="icon icon_radio"></i>
                                    D. notifies
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>111. Children under five years of age are eligible ____ free vision tests</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="110" value="15866" id="15866" disabled="">
                                <label for="15866">
                                    <i class="icon icon_radio"></i>
                                    A. over
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="15867" id="15867" disabled="">
                                <label for="15867">
                                    <i class="icon icon_radio"></i>
                                    B. down
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="15868" id="15868" disabled="">
                                <label for="15868">
                                    <i class="icon icon_radio"></i>
                                    C. for
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="15869" id="15869" disabled="">
                                <label for="15869">
                                    <i class="icon icon_radio"></i>
                                    D. out
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>112. Drivers on the Partan Expressway are reminded to drive ____ throughout July because
                                of the ongoing construction work</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="111" value="15870" id="15870" disabled="">
                                <label for="15870">
                                    <i class="icon icon_radio"></i>
                                    A. caution
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="15871" id="15871" disabled="">
                                <label for="15871">
                                    <i class="icon icon_radio"></i>
                                    B. cautiously
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="15872" id="15872" disabled="">
                                <label for="15872">
                                    <i class="icon icon_radio"></i>
                                    C. cautious
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="15873" id="15873" disabled="">
                                <label for="15873">
                                    <i class="icon icon_radio"></i>
                                    D. cautiousness
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>113. The committee will resume its weekly meetings ____ Ms. Cheon returns from Scotland on
                                September 17</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="112" value="15874" id="15874" disabled="">
                                <label for="15874">
                                    <i class="icon icon_radio"></i>
                                    A. that
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="15875" id="15875" disabled="">
                                <label for="15875">
                                    <i class="icon icon_radio"></i>
                                    B. once
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="15876" id="15876" disabled="">
                                <label for="15876">
                                    <i class="icon icon_radio"></i>
                                    C. as well
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="15877" id="15877" disabled="">
                                <label for="15877">
                                    <i class="icon icon_radio"></i>
                                    D. then
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>114. The ____ initiative aims to provide public transportation for commuters living in the
                                outer suburbs</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="113" value="15878" id="15878" disabled="">
                                <label for="15878">
                                    <i class="icon icon_radio"></i>
                                    A. proposed
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="15879" id="15879" disabled="">
                                <label for="15879">
                                    <i class="icon icon_radio"></i>
                                    B. proposing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="15880" id="15880" disabled="">
                                <label for="15880">
                                    <i class="icon icon_radio"></i>
                                    C. proposal
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="15881" id="15881" disabled="">
                                <label for="15881">
                                    <i class="icon icon_radio"></i>
                                    D. propose
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>115. Yesterday's storm ____ interrupted the services of the Duddula, Inc, satellite
                                communications system</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="114" value="15882" id="15882" disabled="">
                                <label for="15882">
                                    <i class="icon icon_radio"></i>
                                    A. annually
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="15883" id="15883" disabled="">
                                <label for="15883">
                                    <i class="icon icon_radio"></i>
                                    B. anytime
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="15884" id="15884" disabled="">
                                <label for="15884">
                                    <i class="icon icon_radio"></i>
                                    C. whenever
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="15885" id="15885" disabled="">
                                <label for="15885">
                                    <i class="icon icon_radio"></i>
                                    D. temporarily
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>116. Even though Cabrera Pictures and Marcella Images make very different films, ____ are
                                successful movie studios</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="115" value="15886" id="15886" disabled="">
                                <label for="15886">
                                    <i class="icon icon_radio"></i>
                                    A. serveral
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="15887" id="15887" disabled="">
                                <label for="15887">
                                    <i class="icon icon_radio"></i>
                                    B. everybody
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="15888" id="15888" disabled="">
                                <label for="15888">
                                    <i class="icon icon_radio"></i>
                                    C. some
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="15889" id="15889" disabled="">
                                <label for="15889">
                                    <i class="icon icon_radio"></i>
                                    D. both
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>117. ____ of tasks can make a manager's job easier and help other employees learn new
                                skills</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="116" value="15890" id="15890" disabled="">
                                <label for="15890">
                                    <i class="icon icon_radio"></i>
                                    A. Reputation
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="15891" id="15891" disabled="">
                                <label for="15891">
                                    <i class="icon icon_radio"></i>
                                    B. Foundation
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="15892" id="15892" disabled="">
                                <label for="15892">
                                    <i class="icon icon_radio"></i>
                                    C. Delegation
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="15893" id="15893" disabled="">
                                <label for="15893">
                                    <i class="icon icon_radio"></i>
                                    D. Permission
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>118. Proceeds from the sale of Delcrest Corporation were equally ____ among the founder's
                                three daughters</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="117" value="15894" id="15894" disabled="">
                                <label for="15894">
                                    <i class="icon icon_radio"></i>
                                    A. divisions
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="15895" id="15895" disabled="">
                                <label for="15895">
                                    <i class="icon icon_radio"></i>
                                    B. dividing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="15896" id="15896" disabled="">
                                <label for="15896">
                                    <i class="icon icon_radio"></i>
                                    C. divide
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="15897" id="15897" disabled="">
                                <label for="15897">
                                    <i class="icon icon_radio"></i>
                                    D. divided
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>119. ____ higher than average ticket prices, every performance of Aiden North's new play
                                is sold out for the next six months</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="118" value="15898" id="15898" disabled="">
                                <label for="15898">
                                    <i class="icon icon_radio"></i>
                                    A. Throughout
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="15899" id="15899" disabled="">
                                <label for="15899">
                                    <i class="icon icon_radio"></i>
                                    B. Except for
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="15900" id="15900" disabled="">
                                <label for="15900">
                                    <i class="icon icon_radio"></i>
                                    C. Despite
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="15901" id="15901" disabled="">
                                <label for="15901">
                                    <i class="icon icon_radio"></i>
                                    D. Prior to
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>120. Ricardo Sosa, executive chef at Restaurant Ninal, responds to guests' suggestions
                                ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="119" value="15902" id="15902" disabled="">
                                <label for="15902">
                                    <i class="icon icon_radio"></i>
                                    A. respect
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="15903" id="15903" disabled="">
                                <label for="15903">
                                    <i class="icon icon_radio"></i>
                                    B. respects
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="15904" id="15904" disabled="">
                                <label for="15904">
                                    <i class="icon icon_radio"></i>
                                    C. respectfully
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="15905" id="15905" disabled="">
                                <label for="15905">
                                    <i class="icon icon_radio"></i>
                                    D. respected
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>121. Mr. Koster is negotiating the ____ of the new contract with Arban, Inc</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="120" value="15906" id="15906" disabled="">
                                <label for="15906">
                                    <i class="icon icon_radio"></i>
                                    A. scope
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="15907" id="15907" disabled="">
                                <label for="15907">
                                    <i class="icon icon_radio"></i>
                                    B. turn
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="15908" id="15908" disabled="">
                                <label for="15908">
                                    <i class="icon icon_radio"></i>
                                    C. grip
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="15909" id="15909" disabled="">
                                <label for="15909">
                                    <i class="icon icon_radio"></i>
                                    D. drive
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>122. The equiment-use guidelines ____ on our internal corporate Website</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="121" value="15910" id="15910" disabled="">
                                <label for="15910">
                                    <i class="icon icon_radio"></i>
                                    A. may find
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="15911" id="15911" disabled="">
                                <label for="15911">
                                    <i class="icon icon_radio"></i>
                                    B. can be found
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="15912" id="15912" disabled="">
                                <label for="15912">
                                    <i class="icon icon_radio"></i>
                                    C. have found
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="15913" id="15913" disabled="">
                                <label for="15913">
                                    <i class="icon icon_radio"></i>
                                    D. have to find
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>123. Professor Han created spreadsheets to calculate the farm's irrigation needs ____</b>
                        </p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="122" value="15914" id="15914" disabled="">
                                <label for="15914">
                                    <i class="icon icon_radio"></i>
                                    A. dominantly
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="15915" id="15915" disabled="">
                                <label for="15915">
                                    <i class="icon icon_radio"></i>
                                    B. precisely
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="15916" id="15916" disabled="">
                                <label for="15916">
                                    <i class="icon icon_radio"></i>
                                    C. relatively
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="15917" id="15917" disabled="">
                                <label for="15917">
                                    <i class="icon icon_radio"></i>
                                    D. widely
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>124. For hiring purposes, five years of professional experience is ____ to having achieved
                                certification</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="123" value="15918" id="15918" disabled="">
                                <label for="15918">
                                    <i class="icon icon_radio"></i>
                                    A. reasonable
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="15919" id="15919" disabled="">
                                <label for="15919">
                                    <i class="icon icon_radio"></i>
                                    B. appropriate
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="15920" id="15920" disabled="">
                                <label for="15920">
                                    <i class="icon icon_radio"></i>
                                    C. equivalent
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="15921" id="15921" disabled="">
                                <label for="15921">
                                    <i class="icon icon_radio"></i>
                                    D. significant
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>125. South Regent Aviation is adopting measures to reduce fuel expenses by ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="124" value="15922" id="15922" disabled="">
                                <label for="15922">
                                    <i class="icon icon_radio"></i>
                                    A. light
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="15923" id="15923" disabled="">
                                <label for="15923">
                                    <i class="icon icon_radio"></i>
                                    B. lighten
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="15924" id="15924" disabled="">
                                <label for="15924">
                                    <i class="icon icon_radio"></i>
                                    C. lightly
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="15925" id="15925" disabled="">
                                <label for="15925">
                                    <i class="icon icon_radio"></i>
                                    D. lightening
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>126. ____ the most challenging aspect of accepting a new position is negotiating a salary
                                that is both fair and satisfying</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="125" value="15926" id="15926" disabled="">
                                <label for="15926">
                                    <i class="icon icon_radio"></i>
                                    A. Perhaps
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="15927" id="15927" disabled="">
                                <label for="15927">
                                    <i class="icon icon_radio"></i>
                                    B. Outside
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="15928" id="15928" disabled="">
                                <label for="15928">
                                    <i class="icon icon_radio"></i>
                                    C. Every
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="15929" id="15929" disabled="">
                                <label for="15929">
                                    <i class="icon icon_radio"></i>
                                    D. While
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>127. Complaints about its new line of kitchen appliances led Loxevo, Inc., to adopt higher
                                ____ for assessing quality</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="126" value="15930" id="15930" disabled="">
                                <label for="15930">
                                    <i class="icon icon_radio"></i>
                                    A. standards
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="15931" id="15931" disabled="">
                                <label for="15931">
                                    <i class="icon icon_radio"></i>
                                    B. features
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="15932" id="15932" disabled="">
                                <label for="15932">
                                    <i class="icon icon_radio"></i>
                                    C. risks
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="15933" id="15933" disabled="">
                                <label for="15933">
                                    <i class="icon icon_radio"></i>
                                    D. institutions
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>128. The chief engineer noted that constructing another bridge would be more ____ than
                                repairing the existing structure</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="127" value="15934" id="15934" disabled="">
                                <label for="15934">
                                    <i class="icon icon_radio"></i>
                                    A. economy
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="15935" id="15935" disabled="">
                                <label for="15935">
                                    <i class="icon icon_radio"></i>
                                    B. economics
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="15936" id="15936" disabled="">
                                <label for="15936">
                                    <i class="icon icon_radio"></i>
                                    C. economically
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="15937" id="15937" disabled="">
                                <label for="15937">
                                    <i class="icon icon_radio"></i>
                                    D. economical
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>129. Jansen Bus Company drivers are expected to complete regular trainings ____
                                maintaining their state licenses</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="128" value="15938" id="15938" disabled="">
                                <label for="15938">
                                    <i class="icon icon_radio"></i>
                                    A. in addition to
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="15939" id="15939" disabled="">
                                <label for="15939">
                                    <i class="icon icon_radio"></i>
                                    B. according to
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="15940" id="15940" disabled="">
                                <label for="15940">
                                    <i class="icon icon_radio"></i>
                                    C. inside
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="15941" id="15941" disabled="">
                                <label for="15941">
                                    <i class="icon icon_radio"></i>
                                    D. within
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>130. Ms. Desoto ____ all employees to come to last week's budget meeting even though only
                                officers were obligated to attend</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="129" value="15942" id="15942" disabled="">
                                <label for="15942">
                                    <i class="icon icon_radio"></i>
                                    A. to have urged
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="15943" id="15943" disabled="">
                                <label for="15943">
                                    <i class="icon icon_radio"></i>
                                    B. had urged
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="15944" id="15944" disabled="">
                                <label for="15944">
                                    <i class="icon icon_radio"></i>
                                    C. will have urged
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="15945" id="15945" disabled="">
                                <label for="15945">
                                    <i class="icon icon_radio"></i>
                                    D. was urged
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>