<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Now the original building dates back to 1758 when it was built as a family home for one of the richest families in the country, the Fords. At one point it became a hospital and then an army barracks. I'm sure you will agree that
                            it makes a fine place to exhibit all these fine works of art. Now the thing about the Ford family is that they were great art lovers and bought many wonderful paintings, but it was over a painting that a fight started between
                            two of the brothers which ended with the youngest boy killing his big brother. The boy disappeared and was never seen again although it is thought that he ran away to Africa where he lived in the jungle for many years.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566178233.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.65425%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:15</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. What is the building now?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3617" id="3617" disabled="">
                                <label for="3617">
                            <i class="icon icon_radio"></i>
                            A. family home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3618" id="3618" disabled="">
                                <label for="3618">
                            <i class="icon icon_radio"></i>
                            B. army barrachs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3619" id="3619" disabled="">
                                <label for="3619">
                            <i class="icon icon_radio"></i>
                            C. museum
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3620" id="3620" disabled="">
                                <label for="3620">
                            <i class="icon icon_radio"></i>
                            D. hospital
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. Why are the Ford family famous?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3621" id="3621" disabled="">
                                <label for="3621">
                            <i class="icon icon_radio"></i>
                            A. There are murder in the family
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3622" id="3622" disabled="">
                                <label for="3622">
                            <i class="icon icon_radio"></i>
                            B. They were famous artists
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3623" id="3623" disabled="">
                                <label for="3623">
                            <i class="icon icon_radio"></i>
                            C. They were very rich
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3624" id="3624" disabled="">
                                <label for="3624">
                            <i class="icon icon_radio"></i>
                            D. They had lots of accident
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What happened to the youngest son?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3625" id="3625" disabled="">
                                <label for="3625">
                            <i class="icon icon_radio"></i>
                            A. he was killed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3626" id="3626" disabled="">
                                <label for="3626">
                            <i class="icon icon_radio"></i>
                            B. he died very young
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3627" id="3627" disabled="">
                                <label for="3627">
                            <i class="icon icon_radio"></i>
                            C. no one knows for sure
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3628" id="3628" disabled="">
                                <label for="3628">
                            <i class="icon icon_radio"></i>
                            D. he was sent to Afica
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>