<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Thank you all so much for this wonderful party. I feel like it's my birthday with all the presents I have received and I don't think I have danced so much since my wedding day. Of course I will miss you all very much at the hospital,
                            particularly all the wonderful nurses who do such a good job but don't get the glory that we do. I'll miss this old building but not the canteen, I must admit. I'll be poorer than I have been but now I'll have time to spend
                            in my garden and I'm intending to take my spouse away for a lovely holiday on our anniversary in the summer.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566180477.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.1869%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:60</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. Who is speaking?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="3725" id="3725" disabled="">
                                <label for="3725">
                            <i class="icon icon_radio"></i>
                            A. a doctor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3726" id="3726" disabled="">
                                <label for="3726">
                            <i class="icon icon_radio"></i>
                            B. a teacher
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3727" id="3727" disabled="">
                                <label for="3727">
                            <i class="icon icon_radio"></i>
                            C. a nurse
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3728" id="3728" disabled="">
                                <label for="3728">
                            <i class="icon icon_radio"></i>
                            D. a gardener
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. What is the occasion?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="3729" id="3729" disabled="">
                                <label for="3729">
                            <i class="icon icon_radio"></i>
                            A. a birthday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3730" id="3730" disabled="">
                                <label for="3730">
                            <i class="icon icon_radio"></i>
                            B. an anniversary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3731" id="3731" disabled="">
                                <label for="3731">
                            <i class="icon icon_radio"></i>
                            C. a retirement
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3732" id="3732" disabled="">
                                <label for="3732">
                            <i class="icon icon_radio"></i>
                            D. a wedding
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. What won't they miss?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="3733" id="3733" disabled="">
                                <label for="3733">
                            <i class="icon icon_radio"></i>
                            A. the people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3734" id="3734" disabled="">
                                <label for="3734">
                            <i class="icon icon_radio"></i>
                            B. the working enviroment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3735" id="3735" disabled="">
                                <label for="3735">
                            <i class="icon icon_radio"></i>
                            C. the food
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3736" id="3736" disabled="">
                                <label for="3736">
                            <i class="icon icon_radio"></i>
                            D. the money
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>