<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>I'll try to show you as much of the building as I can today but it will take you a day or two to find your way around properly. I'm sure you will enjoy being part of the team, and you'll find everyone very friendly, especially
                            the canteen staff when you go for lunch. You were lucky to get this position as a lot of people applied. Your previous work experience will be of great help as we have some important clients. It's a great working environment
                            and interesting work, I've moved departments twice as they are very open to people widening their experience and trying new things if that's what you want to do.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566178493.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.6192%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:03</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. Who is the speaker showing around?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3629" id="3629" disabled="">
                                <label for="3629">
                            <i class="icon icon_radio"></i>
                            A. a new employee
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3630" id="3630" disabled="">
                                <label for="3630">
                            <i class="icon icon_radio"></i>
                            B. a chef
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3631" id="3631" disabled="">
                                <label for="3631">
                            <i class="icon icon_radio"></i>
                            C. an athlete
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3632" id="3632" disabled="">
                                <label for="3632">
                            <i class="icon icon_radio"></i>
                            D. a student
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. What is the speaker's attitude?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3633" id="3633" disabled="">
                                <label for="3633">
                            <i class="icon icon_radio"></i>
                            A. unfriendly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3634" id="3634" disabled="">
                                <label for="3634">
                            <i class="icon icon_radio"></i>
                            B. lucky
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3635" id="3635" disabled="">
                                <label for="3635">
                            <i class="icon icon_radio"></i>
                            C. aggressive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3636" id="3636" disabled="">
                                <label for="3636">
                            <i class="icon icon_radio"></i>
                            D. enthusiastic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What does the speaker say about the company?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3637" id="3637" disabled="">
                                <label for="3637">
                            <i class="icon icon_radio"></i>
                            A. They don't like people to change departments
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3638" id="3638" disabled="">
                                <label for="3638">
                            <i class="icon icon_radio"></i>
                            B. The work can be quite boring
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3639" id="3639" disabled="">
                                <label for="3639">
                            <i class="icon icon_radio"></i>
                            C. If offers variety
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3640" id="3640" disabled="">
                                <label for="3640">
                            <i class="icon icon_radio"></i>
                            D. People don't work there for a long time
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>