<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Would all passengers for Paris please make their way to gate 7 for the delayed 16:40 hours. We apologize for any inconvenience you may have suffered but the delay has been caused by extreme weather conditions. We are pleased to
                            announce that the strong wind has helped to clear the fog and flights will be resuming in the next half an hour. There is also a slight problem in that some bags have been checked in but the labels have fallen off them so if
                            all passengers on the flight to Rome could come back to the checkin number three, we would appreciate it.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566178686.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.92046%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. Where is the announcement being made?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="3641" id="3641" disabled="">
                                <label for="3641">
                            <i class="icon icon_radio"></i>
                            A. train station
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3642" id="3642" disabled="">
                                <label for="3642">
                            <i class="icon icon_radio"></i>
                            B. bus station
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3643" id="3643" disabled="">
                                <label for="3643">
                            <i class="icon icon_radio"></i>
                            C. airport
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3644" id="3644" disabled="">
                                <label for="3644">
                            <i class="icon icon_radio"></i>
                            D. harbor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. Why were there delays?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="3645" id="3645" disabled="">
                                <label for="3645">
                            <i class="icon icon_radio"></i>
                            A. the cold
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3646" id="3646" disabled="">
                                <label for="3646">
                            <i class="icon icon_radio"></i>
                            B. heavy rain
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3647" id="3647" disabled="">
                                <label for="3647">
                            <i class="icon icon_radio"></i>
                            C. wind
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3648" id="3648" disabled="">
                                <label for="3648">
                            <i class="icon icon_radio"></i>
                            D. lack of clean skies
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. What is the problem with the luggage?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="3649" id="3649" disabled="">
                                <label for="3649">
                            <i class="icon icon_radio"></i>
                            A. It has been lost
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3650" id="3650" disabled="">
                                <label for="3650">
                            <i class="icon icon_radio"></i>
                            B. They don't know who it belong to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3651" id="3651" disabled="">
                                <label for="3651">
                            <i class="icon icon_radio"></i>
                            C. It has gone to the wrong destination
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3652" id="3652" disabled="">
                                <label for="3652">
                            <i class="icon icon_radio"></i>
                            D. It has been damaged
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>