<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Thank you for coming here tonight. I appreciate that you are probably very busy people but I can't stress the importance of tonight's meeting enough. Global warming is something that affects us all and tonight we have a number
                            of experts to answer your questions and to tell you how you can make your home more energy efficient. First, we are going to show a video made by a top American politician that highlights the effects of global warming. Some
                            of it may leave you feeling shocked and uncomfortable but we make no apologies for that. Before we watch the video and have a question and answer session, we invite you to get a drink from the bar. At the end of the evening
                            there will be a light buffet free of charge in case you are hungry.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566178888.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.39864%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:18</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. Who is the talk directed at?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="3653" id="3653" disabled="">
                                <label for="3653">
                            <i class="icon icon_radio"></i>
                            A. environmentalists
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3654" id="3654" disabled="">
                                <label for="3654">
                            <i class="icon icon_radio"></i>
                            B. householders
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3655" id="3655" disabled="">
                                <label for="3655">
                            <i class="icon icon_radio"></i>
                            C. politicians
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3656" id="3656" disabled="">
                                <label for="3656">
                            <i class="icon icon_radio"></i>
                            D. energy experts
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. How might the audience feel by the end of the evening?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="3657" id="3657" disabled="">
                                <label for="3657">
                            <i class="icon icon_radio"></i>
                            A. relaxed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3658" id="3658" disabled="">
                                <label for="3658">
                            <i class="icon icon_radio"></i>
                            B. excited
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3659" id="3659" disabled="">
                                <label for="3659">
                            <i class="icon icon_radio"></i>
                            C. worried
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3660" id="3660" disabled="">
                                <label for="3660">
                            <i class="icon icon_radio"></i>
                            D. apologetic
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What will happen next?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="3661" id="3661" disabled="">
                                <label for="3661">
                            <i class="icon icon_radio"></i>
                            A. They will have a drink
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3662" id="3662" disabled="">
                                <label for="3662">
                            <i class="icon icon_radio"></i>
                            B. They will eat from a buffet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3663" id="3663" disabled="">
                                <label for="3663">
                            <i class="icon icon_radio"></i>
                            C. They will watch the video
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3664" id="3664" disabled="">
                                <label for="3664">
                            <i class="icon icon_radio"></i>
                            D. They will have a question and answer session
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>