<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 83 - 85 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning everyone. Just a few announcements this morning. As you know there have been a lot of car thefts and burglaries lately so we all need to be extra vigilant. The newspapers are getting more interested so we need to do
                            something positive. The general opinion is that it's mostly down to a group of youths who hang around the estate, especially during the week when most householders are at work. It's particularly worrying for the older people
                            on the estate. I know there is a lot of unemployment and quite a few one-parent families living here but there's no excuse for this sudden rise in the local crime rate. If you see anything suspicious, don't hesitate to bring
                            people in for questioning.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566179052.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 14.1785%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:09</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>83. Where is the meeting probably taking place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="82" value="3665" id="3665" disabled="">
                                <label for="3665">
                            <i class="icon icon_radio"></i>
                            A. a school
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3666" id="3666" disabled="">
                                <label for="3666">
                            <i class="icon icon_radio"></i>
                            B. a police station
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3667" id="3667" disabled="">
                                <label for="3667">
                            <i class="icon icon_radio"></i>
                            C. a newspaper office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3668" id="3668" disabled="">
                                <label for="3668">
                            <i class="icon icon_radio"></i>
                            D. a house
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>84. Who is causing the problems?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="83" value="3669" id="3669" disabled="">
                                <label for="3669">
                            <i class="icon icon_radio"></i>
                            A. young people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3670" id="3670" disabled="">
                                <label for="3670">
                            <i class="icon icon_radio"></i>
                            B. journalists
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3671" id="3671" disabled="">
                                <label for="3671">
                            <i class="icon icon_radio"></i>
                            C. householders
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3672" id="3672" disabled="">
                                <label for="3672">
                            <i class="icon icon_radio"></i>
                            D. old people
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>85. What is a feature of the estate?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="84" value="3673" id="3673" disabled="">
                                <label for="3673">
                            <i class="icon icon_radio"></i>
                            A. suspicious neighbors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3674" id="3674" disabled="">
                                <label for="3674">
                            <i class="icon icon_radio"></i>
                            B. too many cars
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3675" id="3675" disabled="">
                                <label for="3675">
                            <i class="icon icon_radio"></i>
                            C. many people out of work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3676" id="3676" disabled="">
                                <label for="3676">
                            <i class="icon icon_radio"></i>
                            D. too many old people
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>