<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>It was around 3500 BC that the Egyptians thought it would be a useful idea to divide day-light into chunks of time. They achieved this by building tall obelisks and noting how the shadows fell throughout the day. 2000 years later
                            they came up with the sundial, possibly the first portable timepiece, which they used to divide each sunlit day into 10 parts plus two 'twilight hours' in the morning and evening. But it was not until 325 BC that the Greeks
                            started using water clocks that mankind managed to measure time without the guidance of the heavens.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566179265.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.83704%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:06</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. What is this talk about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="3677" id="3677" disabled="">
                                <label for="3677">
                            <i class="icon icon_radio"></i>
                            A. literature
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3678" id="3678" disabled="">
                                <label for="3678">
                            <i class="icon icon_radio"></i>
                            B. history
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3679" id="3679" disabled="">
                                <label for="3679">
                            <i class="icon icon_radio"></i>
                            C. geography
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3680" id="3680" disabled="">
                                <label for="3680">
                            <i class="icon icon_radio"></i>
                            D. biology
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. Why did the Egyptians want to measure time?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="3681" id="3681" disabled="">
                                <label for="3681">
                            <i class="icon icon_radio"></i>
                            A. practical reasons
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3682" id="3682" disabled="">
                                <label for="3682">
                            <i class="icon icon_radio"></i>
                            B. romantic reasons
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3683" id="3683" disabled="">
                                <label for="3683">
                            <i class="icon icon_radio"></i>
                            C. artistic reasons
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3684" id="3684" disabled="">
                                <label for="3684">
                            <i class="icon icon_radio"></i>
                            D. historical reasons
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What was special about the sundial?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="3685" id="3685" disabled="">
                                <label for="3685">
                            <i class="icon icon_radio"></i>
                            A. It only worked in the evening
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3686" id="3686" disabled="">
                                <label for="3686">
                            <i class="icon icon_radio"></i>
                            B. It was invented by the Greeks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3687" id="3687" disabled="">
                                <label for="3687">
                            <i class="icon icon_radio"></i>
                            C. It used both the sun and water
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3688" id="3688" disabled="">
                                <label for="3688">
                            <i class="icon icon_radio"></i>
                            D. It could be moved
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>