<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 89 - 91 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Osteoporosis, or thinning of the bones, now affects one woman in three, compared to only one in twelve in men. Studies have linked a lack of exercise coupled with frequent low-fat crash dieting in women aged 25-45 and an increase
                            in the disease, which can lead to multiple fractures. A daily intake of at least 1,000mg of calcium is recommended and can be found in milk, cheese and other dairy products as well as calcium supplements. But exercise for a
                            minimum of 20 minutes, three times a week, is the most effective way of strengthening your bones. Ideally, women should be taking these steps in their 30s in order to build healthy bones before the major risk period.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566179786.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.9112%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:21</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>89. How many women are affected by osteoporosis?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="88" value="3689" id="3689" disabled="">
                                <label for="3689">
                            <i class="icon icon_radio"></i>
                            A. 3 percent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3690" id="3690" disabled="">
                                <label for="3690">
                            <i class="icon icon_radio"></i>
                            B. one in twelve
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3691" id="3691" disabled="">
                                <label for="3691">
                            <i class="icon icon_radio"></i>
                            C. a twelfth
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3692" id="3692" disabled="">
                                <label for="3692">
                            <i class="icon icon_radio"></i>
                            D. a third
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>90. What is thought to cause the disease?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="89" value="3693" id="3693" disabled="">
                                <label for="3693">
                            <i class="icon icon_radio"></i>
                            A. broken bones
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3694" id="3694" disabled="">
                                <label for="3694">
                            <i class="icon icon_radio"></i>
                            B. excessive exercise
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3695" id="3695" disabled="">
                                <label for="3695">
                            <i class="icon icon_radio"></i>
                            C. dieting too much
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3696" id="3696" disabled="">
                                <label for="3696">
                            <i class="icon icon_radio"></i>
                            D. accidents
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>91. What should woman do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="90" value="3697" id="3697" disabled="">
                                <label for="3697">
                            <i class="icon icon_radio"></i>
                            A. Exercise for three hours a week
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3698" id="3698" disabled="">
                                <label for="3698">
                            <i class="icon icon_radio"></i>
                            B. Exercise regularly and drink more milk
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3699" id="3699" disabled="">
                                <label for="3699">
                            <i class="icon icon_radio"></i>
                            C. Eat mainly dairy products
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3700" id="3700" disabled="">
                                <label for="3700">
                            <i class="icon icon_radio"></i>
                            D. Reduce fats found in milk and cheese
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>