<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Ladies and gentlemen, we are pleased to announce a number of special offers today. The Music Shop has the latest CD by The Rockers in store today at a discount price. Crusty Bread Bakers are offering three loaves of bread for the
                            price of two and there are lots of new toys in at Toyland. The Shoe Factory has lots of new winter boots in store this week and it also has a good selection of leather bags at special prices. For a real bargain in women's clothes
                            go to Glamour fashions for a 50% discount on dresses and 25% off all skirts. Why not treat yourself to a free coffee and cake in the Pantry after?&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566180039.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.63207%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:14</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. Where would this announcement most likely be heard?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3701" id="3701" disabled="">
                                <label for="3701">
                            <i class="icon icon_radio"></i>
                            A. supermarket
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3702" id="3702" disabled="">
                                <label for="3702">
                            <i class="icon icon_radio"></i>
                            B. shopping center
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3703" id="3703" disabled="">
                                <label for="3703">
                            <i class="icon icon_radio"></i>
                            C. leisure center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3704" id="3704" disabled="">
                                <label for="3704">
                            <i class="icon icon_radio"></i>
                            D. restaurant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. Where can you get something for free?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3705" id="3705" disabled="">
                                <label for="3705">
                            <i class="icon icon_radio"></i>
                            A. music shop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3706" id="3706" disabled="">
                                <label for="3706">
                            <i class="icon icon_radio"></i>
                            B. Toyland
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3707" id="3707" disabled="">
                                <label for="3707">
                            <i class="icon icon_radio"></i>
                            C. The Shoe Factory
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3708" id="3708" disabled="">
                                <label for="3708">
                            <i class="icon icon_radio"></i>
                            D. restaurant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. What is half price today?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3709" id="3709" disabled="">
                                <label for="3709">
                            <i class="icon icon_radio"></i>
                            A. skirts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3710" id="3710" disabled="">
                                <label for="3710">
                            <i class="icon icon_radio"></i>
                            B. boots
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3711" id="3711" disabled="">
                                <label for="3711">
                            <i class="icon icon_radio"></i>
                            C. dresses
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3712" id="3712" disabled="">
                                <label for="3712">
                            <i class="icon icon_radio"></i>
                            D. bags
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>