<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 95 - 97 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning. I'm sorry you aren't in to receive our call but this is Harvard's Electrics here. I'm afraid that the digital radio you ordered won't be delivered tomorrow. This isn't due to the bad weather as you'd expect but the
                            model you ordered is out of stock. Now I understand that you need the radio by the weekend for a birthday present and we are going to send you a similar model that is more expensive but we will charge you the same as the original
                            model that you wanted. We can get it to you Friday morning and hope that you will be pleased with the superior model, Thank you.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1566180339.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.6218%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:57</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>95. What is the problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="94" value="3713" id="3713" disabled="">
                                <label for="3713">
                            <i class="icon icon_radio"></i>
                            A. There is no one at home to accept the delivery
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3714" id="3714" disabled="">
                                <label for="3714">
                            <i class="icon icon_radio"></i>
                            B. Bad weather has prevented a delivery
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3715" id="3715" disabled="">
                                <label for="3715">
                            <i class="icon icon_radio"></i>
                            C. The price of the radio has gone up
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3716" id="3716" disabled="">
                                <label for="3716">
                            <i class="icon icon_radio"></i>
                            D. The ordered radio is sold out
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>96. What is the caller's attitude?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="95" value="3717" id="3717" disabled="">
                                <label for="3717">
                            <i class="icon icon_radio"></i>
                            A. impatient
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3718" id="3718" disabled="">
                                <label for="3718">
                            <i class="icon icon_radio"></i>
                            B. bored
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3719" id="3719" disabled="">
                                <label for="3719">
                            <i class="icon icon_radio"></i>
                            C. sympathetic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3720" id="3720" disabled="">
                                <label for="3720">
                            <i class="icon icon_radio"></i>
                            D. confused
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>97. What will happen?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="96" value="3721" id="3721" disabled="">
                                <label for="3721">
                            <i class="icon icon_radio"></i>
                            A. A similar radio will be delivered in time
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3722" id="3722" disabled="">
                                <label for="3722">
                            <i class="icon icon_radio"></i>
                            B. The order will be cancelled
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3723" id="3723" disabled="">
                                <label for="3723">
                            <i class="icon icon_radio"></i>
                            C. The radio won't get there in time for the birthday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3724" id="3724" disabled="">
                                <label for="3724">
                            <i class="icon icon_radio"></i>
                            D. The customer will have to pay more
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>