<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Mark your answer on your answer sheet:</b>
        </p>
        <hr>
        <form method="post" action="https://toeic24.vn/exam/submit?part=2&amp;questionGroupNum=1">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579322007.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 28.5364%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>7. Who wants to organize the patient files?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="6" value="15475" id="15475" disabled="">
                                <label for="15475">
                                    <i class="icon icon_radio"></i>
                                    A. Min-Su would like to
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="15476" id="15476" disabled="">
                                <label for="15476">
                                    <i class="icon icon_radio"></i>
                                    B. Our phone number has changed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="6" value="15477" id="15477" disabled="">
                                <label for="15477">
                                    <i class="icon icon_radio"></i>
                                    C. A well-run organization
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579322080.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.3988%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>8. Why didn't Miranda shut down the computers yesterday?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="7" value="15478" id="15478" disabled="">
                                <label for="15478">
                                    <i class="icon icon_radio"></i>
                                    A. Yes, my new laptop
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="15479" id="15479" disabled="">
                                <label for="15479">
                                    <i class="icon icon_radio"></i>
                                    B. Outside of office 101
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="7" value="15480" id="15480" disabled="">
                                <label for="15480">
                                    <i class="icon icon_radio"></i>
                                    C. Because she left early
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579322146.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 28.8143%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>9. Would you like the pie or the pudding for dessert?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="8" value="15481" id="15481" disabled="">
                                <label for="15481">
                                    <i class="icon icon_radio"></i>
                                    A. About five dollars
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="15482" id="15482" disabled="">
                                <label for="15482">
                                    <i class="icon icon_radio"></i>
                                    B. The pie sounds delicious
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="8" value="15483" id="15483" disabled="">
                                <label for="15483">
                                    <i class="icon icon_radio"></i>
                                    C. I just put it on
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579322272.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 29.5726%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>10. Didn't you read Mr.Kim's memo?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="9" value="15484" id="15484" disabled="">
                                <label for="15484">
                                    <i class="icon icon_radio"></i>
                                    A. He used to live there
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="15485" id="15485" disabled="">
                                <label for="15485">
                                    <i class="icon icon_radio"></i>
                                    B. A newspaper article
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="9" value="15486" id="15486" disabled="">
                                <label for="15486">
                                    <i class="icon icon_radio"></i>
                                    C. Yes, I read it this morning
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579322373.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 25.9907%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>11. We can put a seafood dish on the menu, can't we?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="10" value="15487" id="15487" disabled="">
                                <label for="15487">
                                    <i class="icon icon_radio"></i>
                                    A. They're in a stack over there
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="10" value="15488" id="15488" disabled="">
                                <label for="15488">
                                    <i class="icon icon_radio"></i>
                                    B. A restaurant with a view of the ocean
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="10" value="15489" id="15489" disabled="">
                                <label for="15489">
                                    <i class="icon icon_radio"></i>
                                    C. We can if you'd like
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579322429.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.8862%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>12. Who managed the flower store last year?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="11" value="15490" id="15490" disabled="">
                                <label for="15490">
                                    <i class="icon icon_radio"></i>
                                    A. No, a monthly order
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="11" value="15491" id="15491" disabled="">
                                <label for="15491">
                                    <i class="icon icon_radio"></i>
                                    B. Some yellow roses, please
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="11" value="15492" id="15492" disabled="">
                                <label for="15492">
                                    <i class="icon icon_radio"></i>
                                    C. Marta did it
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579322500.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 25.0638%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>13. Do you mind filling out our customer satisfaction survey?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="12" value="15493" id="15493" disabled="">
                                <label for="15493">
                                    <i class="icon icon_radio"></i>
                                    A. I filled the tank in the car yesterday
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="12" value="15494" id="15494" disabled="">
                                <label for="15494">
                                    <i class="icon icon_radio"></i>
                                    B. Sure, I can do that
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="12" value="15495" id="15495" disabled="">
                                <label for="15495">
                                    <i class="icon icon_radio"></i>
                                    C. The stairs are around the corner
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579327894.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 25.7209%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>14. Why aren't those workers swearing their uniforms?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="13" value="15496" id="15496" disabled="">
                                <label for="15496">
                                    <i class="icon icon_radio"></i>
                                    A. Because they just finished their shift
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="13" value="15497" id="15497" disabled="">
                                <label for="15497">
                                    <i class="icon icon_radio"></i>
                                    B. I did work in manufacturing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="13" value="15498" id="15498" disabled="">
                                <label for="15498">
                                    <i class="icon icon_radio"></i>
                                    C. A green shirt and jacket
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579327999.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.6154%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>15. Do you want me to ask Jake about the report?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="14" value="15499" id="15499" disabled="">
                                <label for="15499">
                                    <i class="icon icon_radio"></i>
                                    A. Yes, that's a good idea
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="14" value="15500" id="15500" disabled="">
                                <label for="15500">
                                    <i class="icon icon_radio"></i>
                                    B. Somewhere on your desk
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="14" value="15501" id="15501" disabled="">
                                <label for="15501">
                                    <i class="icon icon_radio"></i>
                                    C. How was the conference?
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579328080.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 24.3588%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>16. Should I display the data on a chart or on a graph?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="15" value="15502" id="15502" disabled="">
                                <label for="15502">
                                    <i class="icon icon_radio"></i>
                                    A. They're more energy efficient
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="15" value="15503" id="15503" disabled="">
                                <label for="15503">
                                    <i class="icon icon_radio"></i>
                                    B. No, that can't be right
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="15" value="15504" id="15504" disabled="">
                                <label for="15504">
                                    <i class="icon icon_radio"></i>
                                    C. A graph would be better
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579328210.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 56.8354%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>17. Where can I get breakfast near this hotel?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="16" value="15505" id="15505" disabled="">
                                <label for="15505">
                                    <i class="icon icon_radio"></i>
                                    A. Cream and sugar, please
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="16" value="15506" id="15506" disabled="">
                                <label for="15506">
                                    <i class="icon icon_radio"></i>
                                    B. Well, you have a few options
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="16" value="15507" id="15507" disabled="">
                                <label for="15507">
                                    <i class="icon icon_radio"></i>
                                    C. I believe so
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579328272.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.459%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>18. What was our net profit for the second quarter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="17" value="15508" id="15508" disabled="">
                                <label for="15508">
                                    <i class="icon icon_radio"></i>
                                    A. No, he arrived first
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="17" value="15509" id="15509" disabled="">
                                <label for="15509">
                                    <i class="icon icon_radio"></i>
                                    B. At the new tennis club
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="17" value="15510" id="15510" disabled="">
                                <label for="15510">
                                    <i class="icon icon_radio"></i>
                                    C. Ten thousand dollars
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579328457.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.1867%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>19. Why don't you check the prices at a different paint store?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="18" value="15511" id="15511" disabled="">
                                <label for="15511">
                                    <i class="icon icon_radio"></i>
                                    A. Is there one that you suggest?
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="18" value="15512" id="15512" disabled="">
                                <label for="15512">
                                    <i class="icon icon_radio"></i>
                                    B. Check-in is at eleven o'clock
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="18" value="15513" id="15513" disabled="">
                                <label for="15513">
                                    <i class="icon icon_radio"></i>
                                    C. No, she's a photographer
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579328522.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.048%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>20. When will the presentation begin?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="19" value="15514" id="15514" disabled="">
                                <label for="15514">
                                    <i class="icon icon_radio"></i>
                                    A. Actually, I'm not presenting today
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="19" value="15515" id="15515" disabled="">
                                <label for="15515">
                                    <i class="icon icon_radio"></i>
                                    B. The production numbers
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="19" value="15516" id="15516" disabled="">
                                <label for="15516">
                                    <i class="icon icon_radio"></i>
                                    C. A screen and a projector
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579328583.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.714%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>21. We're trying to cut our delivery times</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="20" value="15517" id="15517" disabled="">
                                <label for="15517">
                                    <i class="icon icon_radio"></i>
                                    A. The cords are too long
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="20" value="15518" id="15518" disabled="">
                                <label for="15518">
                                    <i class="icon icon_radio"></i>
                                    B. Our customers will appreciate that
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="20" value="15519" id="15519" disabled="">
                                <label for="15519">
                                    <i class="icon icon_radio"></i>
                                    C. The boxes in the closet
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579328673.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 23.3116%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:20</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>22. How much juice should I buy for the staff meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="21" value="15520" id="15520" disabled="">
                                <label for="15520">
                                    <i class="icon icon_radio"></i>
                                    A. Sure, I'll take the receipt to accounting
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="21" value="15521" id="15521" disabled="">
                                <label for="15521">
                                    <i class="icon icon_radio"></i>
                                    B. Everyone from the department's attending
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="21" value="15522" id="15522" disabled="">
                                <label for="15522">
                                    <i class="icon icon_radio"></i>
                                    C. Do you want to get some lunch now?
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579329123.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.5992%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>23. Shouldn't you have left for your trip already?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="22" value="15523" id="15523" disabled="">
                                <label for="15523">
                                    <i class="icon icon_radio"></i>
                                    A. A couple of suitcases
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="22" value="15524" id="15524" disabled="">
                                <label for="15524">
                                    <i class="icon icon_radio"></i>
                                    B. The flight was delayed
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="22" value="15525" id="15525" disabled="">
                                <label for="15525">
                                    <i class="icon icon_radio"></i>
                                    C. Actually, it's on the right
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579329423.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 24.2733%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>24. Has the warranty expired for our solar powered lights?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="23" value="15526" id="15526" disabled="">
                                <label for="15526">
                                    <i class="icon icon_radio"></i>
                                    A. No, we still have two more months
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="23" value="15527" id="15527" disabled="">
                                <label for="15527">
                                    <i class="icon icon_radio"></i>
                                    B. On the wall beneath the whiteboard
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="23" value="15528" id="15528" disabled="">
                                <label for="15528">
                                    <i class="icon icon_radio"></i>
                                    C. The session starts at 10 a.m
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579329499.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.3668%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>25. You've placed the supply order, haven't you?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="24" value="15529" id="15529" disabled="">
                                <label for="15529">
                                    <i class="icon icon_radio"></i>
                                    A. On the desk is fine
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="24" value="15530" id="15530" disabled="">
                                <label for="15530">
                                    <i class="icon icon_radio"></i>
                                    B. It was a surprise party
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="24" value="15531" id="15531" disabled="">
                                <label for="15531">
                                    <i class="icon icon_radio"></i>
                                    C. I just submitted the payment
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579329729.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.2933%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>26. When are you showing your clients the house on Bell Street?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="25" value="15532" id="15532" disabled="">
                                <label for="15532">
                                    <i class="icon icon_radio"></i>
                                    A. On the third floor
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="25" value="15533" id="15533" disabled="">
                                <label for="15533">
                                    <i class="icon icon_radio"></i>
                                    B. Tomorrow afternoon
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="25" value="15534" id="15534" disabled="">
                                <label for="15534">
                                    <i class="icon icon_radio"></i>
                                    C. It's playing at the downtown theater
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579329789.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 27.6789%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:17</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>27. How long will the building addition take to complete?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="26" value="15535" id="15535" disabled="">
                                <label for="15535">
                                    <i class="icon icon_radio"></i>
                                    A. I'm reviewing the plans now
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="26" value="15536" id="15536" disabled="">
                                <label for="15536">
                                    <i class="icon icon_radio"></i>
                                    B. You can take that
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="26" value="15537" id="15537" disabled="">
                                <label for="15537">
                                    <i class="icon icon_radio"></i>
                                    C. In the back of the truck
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579329985.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 26.8027%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>28. Which envelope should I use to mail these photos?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="27" value="15538" id="15538" disabled="">
                                <label for="15538">
                                    <i class="icon icon_radio"></i>
                                    A. No, I'm not using it
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="27" value="15539" id="15539" disabled="">
                                <label for="15539">
                                    <i class="icon icon_radio"></i>
                                    B. By the post office
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="27" value="15540" id="15540" disabled="">
                                <label for="15540">
                                    <i class="icon icon_radio"></i>
                                    C. Are you sending them express?
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579330066.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 53.3468%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:18</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>29. The quality - control team is inspecting the factory soon</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="28" value="15541" id="15541" disabled="">
                                <label for="15541">
                                    <i class="icon icon_radio"></i>
                                    A. Some spare parts
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="28" value="15542" id="15542" disabled="">
                                <label for="15542">
                                    <i class="icon icon_radio"></i>
                                    B. Thanks, it went well
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="28" value="15543" id="15543" disabled="">
                                <label for="15543">
                                    <i class="icon icon_radio"></i>
                                    C. Everything is ready
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579330138.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 59.8424%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:16</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>30. Where's the nearest bus stop?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="29" value="15544" id="15544" disabled="">
                                <label for="15544">
                                    <i class="icon icon_radio"></i>
                                    A. They work closely together
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="29" value="15545" id="15545" disabled="">
                                <label for="15545">
                                    <i class="icon icon_radio"></i>
                                    B. He left it at home
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="29" value="15546" id="15546" disabled="">
                                <label for="15546">
                                    <i class="icon icon_radio"></i>
                                    C. I'm going there now
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579330233.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 50.0708%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:19</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="answer">
                        <p><b>31. Could I come to your office today to sign the rental contract?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="30" value="15547" id="15547" disabled="">
                                <label for="15547">
                                    <i class="icon icon_radio"></i>
                                    A. A one-bedroom apartment
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="30" value="15548" id="15548" disabled="">
                                <label for="15548">
                                    <i class="icon icon_radio"></i>
                                    B. I'll be here until five o'clock
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="30" value="15549" id="15549" disabled="">
                                <label for="15549">
                                    <i class="icon icon_radio"></i>
                                    C. Two thousand dollars a month
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=2&amp;questionGroupNum=1"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>