<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 155 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>ALL TRAILS LEAD TO THE SUNSET GRILLE AND TAP ROOM</strong></p>

                <p style="text-align:center"><em>Lakeville's favorite family restaurant!</em></p>

                <p style="text-align:center"><strong>WESTERN STYLE BARBECUE</strong></p>

                <p style="text-align:center"><strong>*STEAKS *RIBS *SEAFOOD *GREAT KIDS MENU</strong></p>

                <ul>
                    <li>10 dinners under $10!</li>
                    <li>Satellite sports on multiple TVs and our big screen.</li>
                    <li>Ski Videos, Games, CD Jukebox</li>
                    <li>Lakewille's largest domestic beer selection</li>
                </ul>

                <p>Open 7 days a week: lunch, dinner, late-night and take out.</p>

                <p>*For this week only, come with a party of eight or more and we will throw in a free dessert for everyone!*</p>

                <p><em>"To find a spot that both the locals and your pocket can feel&nbsp;comfortable with... you'll need the Sunset Grille."</em><br>
                    <em>Brackets Crossing Magazine, 2008</em><br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>153. What is the limited offer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="6161" id="6161" disabled="">
                                <label for="6161">
                            <i class="icon icon_radio"></i>
                            A. a party will be thrown every day for a week
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6162" id="6162" disabled="">
                                <label for="6162">
                            <i class="icon icon_radio"></i>
                            B. satellite sports will be shown on the big screen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6163" id="6163" disabled="">
                                <label for="6163">
                            <i class="icon icon_radio"></i>
                            C. free desserts for those who come with a lot of people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6164" id="6164" disabled="">
                                <label for="6164">
                            <i class="icon icon_radio"></i>
                            D. the amount of domestic beers being sold
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. Who are probably the most suitable customers for this restaurant?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="6165" id="6165" disabled="">
                                <label for="6165">
                            <i class="icon icon_radio"></i>
                            A. business associates
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6166" id="6166" disabled="">
                                <label for="6166">
                            <i class="icon icon_radio"></i>
                            B. parents and their children
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6167" id="6167" disabled="">
                                <label for="6167">
                            <i class="icon icon_radio"></i>
                            C. people with a lot of money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6168" id="6168" disabled="">
                                <label for="6168">
                            <i class="icon icon_radio"></i>
                            D. party planners
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>155. What time would the restaurant probably NOT be open?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="6169" id="6169" disabled="">
                                <label for="6169">
                            <i class="icon icon_radio"></i>
                            A. 10:00 PM
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6170" id="6170" disabled="">
                                <label for="6170">
                            <i class="icon icon_radio"></i>
                            B. 4:30 PM
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6171" id="6171" disabled="">
                                <label for="6171">
                            <i class="icon icon_radio"></i>
                            C. noon
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6172" id="6172" disabled="">
                                <label for="6172">
                            <i class="icon icon_radio"></i>
                            D. 9:30 AM
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>