<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 189 - 191 refer to
    following paragraph:</b>
</p>
<hr>
<p style="text-align:right"><strong>23 Roanoke Street<br>
Blacksburg, VA 24060<br>
(540) 555-1123<br>
email: K.Walker@vt.edu</strong></p>

<p style="text-align:right"><strong>October 23</strong></p>

<p style="text-align:justify">Mr. James G. Webb<br>
Delon Hampton &amp; Associates<br>
800 K Street, N.W., Stuite 720<br>
Washington, DC 20001-8000</p>

<p style="text-align:justify">Dear Mr. Webb,</p>

<p style="text-align:justify">I will be graduating from Virginia Tech with a Bachelor's degree in Architecture next May. and I am researching employment opportunities in the Washington area. I obtained your name from VT CareerLink Career Services' Alumni database" very much appreciate your volunteering to help students with job search information, and I hope that your schedule will permit you to provide me with some advice. I am particularly interested in historic preservation and understand that your firm does work in this area. I am also interested in learning how the architects in you firm began their careers.&nbsp;My&nbsp;resume is enclosed simply to give you some information about my background and project work</p>

<p style="text-align:justify">I will call you in two weeks to arange a time to speak&nbsp;to you by telephone or perhaps visit your office if&nbsp;that would be convenient. I&nbsp;will be in the Washington area during the week of November 21st.&nbsp;I very much appreciate your time&nbsp;and consideration&nbsp;of my&nbsp;request. and I look forward to talking with you.&nbsp;</p>

<p style="text-align:justify">Sincerely,<br>
Kristen Walker</p>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>189. How did Kristen find out about Delon Hampton &amp; Associates?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="188" value="6305" id="6305" disabled="">
                        <label for="6305">
                            <i class="icon icon_radio"></i>
                            A. at the career center at her college
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="188" value="6306" id="6306" disabled="">
                        <label for="6306">
                            <i class="icon icon_radio"></i>
                            B. Mr. Webb recruited her as an employee
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="188" value="6307" id="6307" disabled="">
                        <label for="6307">
                            <i class="icon icon_radio"></i>
                            C. an alumnus suggested it as a career opportunity
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="188" value="6308" id="6308" disabled="">
                        <label for="6308">
                            <i class="icon icon_radio"></i>
                            D. a computer program had it listed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>190. Why does Kristen write to Mr. Webb?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="189" value="6309" id="6309" disabled="">
                        <label for="6309">
                            <i class="icon icon_radio"></i>
                            A. to follow up after a job interview
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="189" value="6310" id="6310" disabled="">
                        <label for="6310">
                            <i class="icon icon_radio"></i>
                            B. to create an opportunity to talk to him
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="189" value="6311" id="6311" disabled="">
                        <label for="6311">
                            <i class="icon icon_radio"></i>
                            C. to apply for a job at his firm
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="189" value="6312" id="6312" disabled="">
                        <label for="6312">
                            <i class="icon icon_radio"></i>
                            D. to request that he contact her so they can speak
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>191. When would Kristen be available to meet Mr. Webb?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="190" value="6313" id="6313" disabled="">
                        <label for="6313">
                            <i class="icon icon_radio"></i>
                            A. in two weeks
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="190" value="6314" id="6314" disabled="">
                        <label for="6314">
                            <i class="icon icon_radio"></i>
                            B. the week of November 21
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="190" value="6315" id="6315" disabled="">
                        <label for="6315">
                            <i class="icon icon_radio"></i>
                            C. sometime in May
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="190" value="6316" id="6316" disabled="">
                        <label for="6316">
                            <i class="icon icon_radio"></i>
                            D. on October 23
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>