<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 192 - 195 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>ONE STUDENT'S STORY</strong></p>

                <p style="text-align:justify">Matt Xiong always knew he'd go to college. After all, he's the olders of twelve kids. "I'm the guinea pig," he laughs. I'll have to be the positive role model. "More seriously, Matt adds," I knew that if I worked hard, I'd make it. If
                    you really want college you can do it. Just work hard. Stand out. Don't be afraid to go after what you want"</p>

                <p style="text-align:justify">Any tips? "Put yourself in a position to get opportunities that open doors for you. In high school, be involved in student government, sports, the math team..."</p>

                <p style="text-align:justify">As for college costs, "You can get grants from your church, from your college. You have to have a sense of maturity, you have to really want it. The money will follow"</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>192. What does Matt mean when he says he's the "guinea pig"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="6317" id="6317" disabled="">
                                <label for="6317">
                            <i class="icon icon_radio"></i>
                            A. He is the one that has to work the hardest
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6318" id="6318" disabled="">
                                <label for="6318">
                            <i class="icon icon_radio"></i>
                            B. He regrets having to take care of all his siblings
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6319" id="6319" disabled="">
                                <label for="6319">
                            <i class="icon icon_radio"></i>
                            C. He has to do everything first and do it well
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6320" id="6320" disabled="">
                                <label for="6320">
                            <i class="icon icon_radio"></i>
                            D. He is fearless
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>193. Why should you be involved in high school various activities?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="6321" id="6321" disabled="">
                                <label for="6321">
                            <i class="icon icon_radio"></i>
                            A. It impresses your high-school teachers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6322" id="6322" disabled="">
                                <label for="6322">
                            <i class="icon icon_radio"></i>
                            B. It will help you get experience and meet people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6323" id="6323" disabled="">
                                <label for="6323">
                            <i class="icon icon_radio"></i>
                            C. It gives you the necessary degree for college
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6324" id="6324" disabled="">
                                <label for="6324">
                            <i class="icon icon_radio"></i>
                            D. It makes you a more careless student
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. What skill does Matt think people need to afford college?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="6325" id="6325" disabled="">
                                <label for="6325">
                            <i class="icon icon_radio"></i>
                            A. courage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6326" id="6326" disabled="">
                                <label for="6326">
                            <i class="icon icon_radio"></i>
                            B. determination
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6327" id="6327" disabled="">
                                <label for="6327">
                            <i class="icon icon_radio"></i>
                            C. sensitivity
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6328" id="6328" disabled="">
                                <label for="6328">
                            <i class="icon icon_radio"></i>
                            D. flexibility
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. What is the tone of this article?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="6329" id="6329" disabled="">
                                <label for="6329">
                            <i class="icon icon_radio"></i>
                            A. stimulating
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6330" id="6330" disabled="">
                                <label for="6330">
                            <i class="icon icon_radio"></i>
                            B. challenging
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6331" id="6331" disabled="">
                                <label for="6331">
                            <i class="icon icon_radio"></i>
                            C. inspiring
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6332" id="6332" disabled="">
                                <label for="6332">
                            <i class="icon icon_radio"></i>
                            D. disheartening
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>