<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 196 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Dear SOCY101 Class,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I thought that while you were writing your final papers, it&nbsp;might interest and perhaps even help you to&nbsp;look at the latest unemployment survey results.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Try to analyze these findings keeping in mind all we've discussed about&nbsp;gender and race.&nbsp;What may have caused these numbers? In what ways is quantitative&nbsp;survey limited?&nbsp;How do these results agree with
                                    or contradict&nbsp;what we have discussed in class? Don't forget the basic theories studied at the beginning of our time together&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Attached is the survey. Good luck with my final and with others. I'll look forward to reading your papers, and to those I don't see, enjoy your summer vacations.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>THE EMPLOYMENT SITUATION: DECEMBER</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Nonfarm employment increased by 167,000 in December, and the unemployment rate was unchanged at 4.5 percent, the Bureau&nbsp;of Labor Statistics of the U.S. Department of Labor reported today.<br> Job gains occurred in
                                    several service-providing industries, including professional and business services, health care, and food services. Average hourly earring rose by 8 cents, or 0.5 percent, in December.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Unemployment</strong> <em>(Household Survey Data) </em><br> The number of unemployed persons (6.8 million) was almost unchanged in December, and the unemployment rate held et 4.5 percent.<br> So, in December, unemployment
                                    rates for the major worker groups - adult men (4.0 percent), adult women (3.9 percent). teenagers (15.2 percent), whites (4.0 per-cent), blacks (8.4 percent), and Hispanics (4.9 percent) -showed little or no change.
                                    The unemployment rate for Asians was 2.4 percent, not seasonally adjusted.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>196. Why are the survey results given to the class?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="6333" id="6333" disabled="">
                                <label for="6333">
                            <i class="icon icon_radio"></i>
                            A. It's meant to give them a break from finals
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="6334" id="6334" disabled="">
                                <label for="6334">
                            <i class="icon icon_radio"></i>
                            B. It's directly relevant to what they've studied
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="6335" id="6335" disabled="">
                                <label for="6335">
                            <i class="icon icon_radio"></i>
                            C. It gives a contradictory opinion of what they've studied
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="6336" id="6336" disabled="">
                                <label for="6336">
                            <i class="icon icon_radio"></i>
                            D. It's an assignment for finals
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>197. When was this email sent?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="6337" id="6337" disabled="">
                                <label for="6337">
                            <i class="icon icon_radio"></i>
                            A. at the beginning of the school year
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="6338" id="6338" disabled="">
                                <label for="6338">
                            <i class="icon icon_radio"></i>
                            B. at around the end of the first semester
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="6339" id="6339" disabled="">
                                <label for="6339">
                            <i class="icon icon_radio"></i>
                            C. at around the end of the school year
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="6340" id="6340" disabled="">
                                <label for="6340">
                            <i class="icon icon_radio"></i>
                            D. during summer vacation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>198. How was this data accumulated?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="6341" id="6341" disabled="">
                                <label for="6341">
                            <i class="icon icon_radio"></i>
                            A. A large, selected group answered certain questions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="6342" id="6342" disabled="">
                                <label for="6342">
                            <i class="icon icon_radio"></i>
                            B. People searched databases on the Internet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="6343" id="6343" disabled="">
                                <label for="6343">
                            <i class="icon icon_radio"></i>
                            C. They were extracted from basic sociological theories
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="6344" id="6344" disabled="">
                                <label for="6344">
                            <i class="icon icon_radio"></i>
                            D. Places of employment were observed
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>199. What did NOT increase?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="6345" id="6345" disabled="">
                                <label for="6345">
                            <i class="icon icon_radio"></i>
                            A. hourly earnings
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="6346" id="6346" disabled="">
                                <label for="6346">
                            <i class="icon icon_radio"></i>
                            B. nonfarm employment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="6347" id="6347" disabled="">
                                <label for="6347">
                            <i class="icon icon_radio"></i>
                            C. the unemployment rate
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="6348" id="6348" disabled="">
                                <label for="6348">
                            <i class="icon icon_radio"></i>
                            D. jobs in healthcare
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. Which group has the smallest proportion of people without jobs?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="6349" id="6349" disabled="">
                                <label for="6349">
                            <i class="icon icon_radio"></i>
                            A. adult men
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="6350" id="6350" disabled="">
                                <label for="6350">
                            <i class="icon icon_radio"></i>
                            B. adult women
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="6351" id="6351" disabled="">
                                <label for="6351">
                            <i class="icon icon_radio"></i>
                            C. Hispanics
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="6352" id="6352" disabled="">
                                <label for="6352">
                            <i class="icon icon_radio"></i>
                            D. teenagers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>