<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 165 - 168 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>FREELANCE BENEFITS AND DRAWBACKS&nbsp;</strong></p>

                <p style="text-align:justify">Freelancers generally enjoy a greater variety of assignments than in regular employment, and almost always have more freedom to choose their work schedule. The experience also allows the opportunity to build up a portfolio of work and
                    cultivate a network of clients in hopes of obtaining a permanent position.&nbsp;</p>

                <p style="text-align:justify">A major drawback is the uncertainty of work - and thus income -&nbsp;and lack of company benefits such as health insurance or retirement pay.&nbsp;</p>

                <p style="text-align:justify">Another drawback is that freelancers often must&nbsp;handle contracts, legal issues, accounting, marketing, and other business functions by themselves. If they do choose to pay for professional services. they can sometimes turn into significant
                    out-of-pocket expenses. Working hours can extend beyond the standard working day and working week.&nbsp;<br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>165. What does freelancing afford?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="6209" id="6209" disabled="">
                                <label for="6209">
                            <i class="icon icon_radio"></i>
                            A. regular employment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6210" id="6210" disabled="">
                                <label for="6210">
                            <i class="icon icon_radio"></i>
                            B. an assortment of projects
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6211" id="6211" disabled="">
                                <label for="6211">
                            <i class="icon icon_radio"></i>
                            C. freedom to refuse a permanent position
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6212" id="6212" disabled="">
                                <label for="6212">
                            <i class="icon icon_radio"></i>
                            D. opportunities to employ clients
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. What could possibly be a negative aspect of freelance work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="6213" id="6213" disabled="">
                                <label for="6213">
                            <i class="icon icon_radio"></i>
                            A. an unimpressive portfolio
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6214" id="6214" disabled="">
                                <label for="6214">
                            <i class="icon icon_radio"></i>
                            B. a rigorous schedule
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6215" id="6215" disabled="">
                                <label for="6215">
                            <i class="icon icon_radio"></i>
                            C. a possibility of not earning enough money
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6216" id="6216" disabled="">
                                <label for="6216">
                            <i class="icon icon_radio"></i>
                            D. working a minimal amount of hours
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. If freelancers decide they need somebody to help them</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="6217" id="6217" disabled="">
                                <label for="6217">
                            <i class="icon icon_radio"></i>
                            A. they won't be able to make any money
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6218" id="6218" disabled="">
                                <label for="6218">
                            <i class="icon icon_radio"></i>
                            B. they will have the same advantages as if they own a company
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6219" id="6219" disabled="">
                                <label for="6219">
                            <i class="icon icon_radio"></i>
                            C. the quality of their work will be affected
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6220" id="6220" disabled="">
                                <label for="6220">
                            <i class="icon icon_radio"></i>
                            D. their clients won't be pleased
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>168. What is the purpose of this leaflet?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="6221" id="6221" disabled="">
                                <label for="6221">
                            <i class="icon icon_radio"></i>
                            A. to balance the pros and cons of freelance work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6222" id="6222" disabled="">
                                <label for="6222">
                            <i class="icon icon_radio"></i>
                            B. to encourage professionals to freelance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6223" id="6223" disabled="">
                                <label for="6223">
                            <i class="icon icon_radio"></i>
                            C. to show how the negatives outweigh the positives in freelancing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6224" id="6224" disabled="">
                                <label for="6224">
                            <i class="icon icon_radio"></i>
                            D. to give a detailed definition of freelance work
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>