<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 169 - 173 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Hi Josh,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I know you've had to work long hours these last few weeks, so I thought I'd forward you something to laugh about at your office.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The attachment is pretty funny, so enjoy it&nbsp;(I don't think a short email&nbsp;break should keep you from meeting your deadline!)</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Also. if you want a lunch break, just hit reply and tell me when I should come. I'll walk downstairs to your office.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Good luck.<br> Kelly&nbsp;
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>The sweet old couple</strong><br>
                                    <em>(dangers of making assumptions, understand before you intervene)</em></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">A little old couple walked into a fast food restaurant. The little old man walked up to the counter, ordered the food, paid, and took the tray back to the table where the little old lady sat. On the tray there was a hamburger,
                                    a small bag of fries and a drink. Carefully the old man cut the hamburger in two, and divided the fries into two neat piles. He sipped the drink and passed it to the little old lady, who took a sip and passed it back.
                                    A young man on a nearby table had watched the old couple and felt sorry for them. He offered to buy them another meal, but the old man politely declined, saying that they were used to sharing everything. The old man
                                    began to eat his food, but his wife sat still, not eating. The young man continued to watch the couple. He still felt he should be offering to help. As the little old man finished eating, the old lady had still not
                                    started on her food. "Ma'am, why aren't you eating?" asked the young man sympathetically.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The old lady looked up and said politely, "I'm waiting for the teeth."&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>169. Why is Josh working longer than normal?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="6225" id="6225" disabled="">
                                <label for="6225">
                            <i class="icon icon_radio"></i>
                            A. He needs to earn extra money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6226" id="6226" disabled="">
                                <label for="6226">
                            <i class="icon icon_radio"></i>
                            B. He wants to impress his boss
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6227" id="6227" disabled="">
                                <label for="6227">
                            <i class="icon icon_radio"></i>
                            C. He wants to get ahead on his work before he goes on vacation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6228" id="6228" disabled="">
                                <label for="6228">
                            <i class="icon icon_radio"></i>
                            D. He has to turn something in a a scheduled date
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. Who is Kelly in relation to Josh?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="6229" id="6229" disabled="">
                                <label for="6229">
                            <i class="icon icon_radio"></i>
                            A. his wife
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6230" id="6230" disabled="">
                                <label for="6230">
                            <i class="icon icon_radio"></i>
                            B. his professor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6231" id="6231" disabled="">
                                <label for="6231">
                            <i class="icon icon_radio"></i>
                            C. his colleague
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6232" id="6232" disabled="">
                                <label for="6232">
                            <i class="icon icon_radio"></i>
                            D. his best friend
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. How did Kelly deliver the note and story to Josh?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="6233" id="6233" disabled="">
                                <label for="6233">
                            <i class="icon icon_radio"></i>
                            A. She faxed it to him
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6234" id="6234" disabled="">
                                <label for="6234">
                            <i class="icon icon_radio"></i>
                            B. She emailed it to him
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6235" id="6235" disabled="">
                                <label for="6235">
                            <i class="icon icon_radio"></i>
                            C. She left it on his desk
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6236" id="6236" disabled="">
                                <label for="6236">
                            <i class="icon icon_radio"></i>
                            D. She had it delivered by a courier
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>172. How did the young man in the store feel when he first saw the couple?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="6237" id="6237" disabled="">
                                <label for="6237">
                            <i class="icon icon_radio"></i>
                            A. He felt pity for them and their situation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6238" id="6238" disabled="">
                                <label for="6238">
                            <i class="icon icon_radio"></i>
                            B. He was envious of their sweet relationship
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6239" id="6239" disabled="">
                                <label for="6239">
                            <i class="icon icon_radio"></i>
                            C. He was perturbed by their public solicitation of food
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6240" id="6240" disabled="">
                                <label for="6240">
                            <i class="icon icon_radio"></i>
                            D. He felt self-conscious that they were watching him eat
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. What, besides their meal, is the couple in the story sharing?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="6241" id="6241" disabled="">
                                <label for="6241">
                            <i class="icon icon_radio"></i>
                            A. a toupee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6242" id="6242" disabled="">
                                <label for="6242">
                            <i class="icon icon_radio"></i>
                            B. detures
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6243" id="6243" disabled="">
                                <label for="6243">
                            <i class="icon icon_radio"></i>
                            C. a pair of eyeglasses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6244" id="6244" disabled="">
                                <label for="6244">
                            <i class="icon icon_radio"></i>
                            D. a hearing aid
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>