<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 174 - 178 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><em>To Whom It May Concern:&nbsp;</em></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">My name is&nbsp;Robert Thomas and I am interested M volunteeing for your program. However, I have a few questions I would like to ask before I make my final decision&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">First of all, I am proficient in&nbsp;Spanish and would like to work in a Spanish-speaking country. What Spanish-speaking countries does your program work in? I'm afraid those are the only ones I would be interested in.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Secondy, how long of a commitment wodd this be? Is it for a few weeks, the summer, for a year, or as long as you choose? My preference is to work for the entire year, but I am flexible and I could adapt to your needs.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Finally, are there specific qualifications you are looking for? I am straight out of college and have no professional experience However, I spent most of my academic career volunteering in the surrounding community. For
                                    example, I volunteered at a senior citizen living center.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">You may respond to this letter by email or telephone. All that informaton is on the following page along with a list of&nbsp;references.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thank you for your time.<br> Sincerely,&nbsp;
                                    <br> Robert Thomas</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>Volunteer for International Service - Learning</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Your service of 15-25 hourse a week at an established agency, supervised by professtionals will make a difference to people in need</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Care for:</strong> the poor, the young, the disabled, the ill, the old, and the trouble</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Teach:</strong> children, teens, adults, job skills, literacy, recreation, and ESL</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Community development:</strong> economic assistance, human rights, healthcare, cultural heritage, enviroment, and women's issues</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>174. What does the community development component entail?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="6245" id="6245" disabled="">
                                <label for="6245">
                            <i class="icon icon_radio"></i>
                            A. one-on-one mentoring with the poor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6246" id="6246" disabled="">
                                <label for="6246">
                            <i class="icon icon_radio"></i>
                            B. dealing with broad social issues
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6247" id="6247" disabled="">
                                <label for="6247">
                            <i class="icon icon_radio"></i>
                            C. building homes in the community
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6248" id="6248" disabled="">
                                <label for="6248">
                            <i class="icon icon_radio"></i>
                            D. recruiting more people to volunteer
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>175. Which of the program components does Robert have experience in?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="6249" id="6249" disabled="">
                                <label for="6249">
                            <i class="icon icon_radio"></i>
                            A. teaching teens
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6250" id="6250" disabled="">
                                <label for="6250">
                            <i class="icon icon_radio"></i>
                            B. working with environmentally safe living conditions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6251" id="6251" disabled="">
                                <label for="6251">
                            <i class="icon icon_radio"></i>
                            C. caring for old people
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6252" id="6252" disabled="">
                                <label for="6252">
                            <i class="icon icon_radio"></i>
                            D. teaching recreation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>176. What is Robert's opinion of where he prefers to work?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="6253" id="6253" disabled="">
                                <label for="6253">
                            <i class="icon icon_radio"></i>
                            A. He wants to go to Spain
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6254" id="6254" disabled="">
                                <label for="6254">
                            <i class="icon icon_radio"></i>
                            B. He's afraid to go to another country
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6255" id="6255" disabled="">
                                <label for="6255">
                            <i class="icon icon_radio"></i>
                            C. He has a preference, but would be happy anywhere
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6256" id="6256" disabled="">
                                <label for="6256">
                            <i class="icon icon_radio"></i>
                            D. He is limited in where he is willing to go
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>177. What are Robert's thoughts on his time commitment?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="6257" id="6257" disabled="">
                                <label for="6257">
                            <i class="icon icon_radio"></i>
                            A. He is willing to work for just a summer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6258" id="6258" disabled="">
                                <label for="6258">
                            <i class="icon icon_radio"></i>
                            B. He only wants to work for one year
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6259" id="6259" disabled="">
                                <label for="6259">
                            <i class="icon icon_radio"></i>
                            C. He would like to choose his time span at a letter date
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6260" id="6260" disabled="">
                                <label for="6260">
                            <i class="icon icon_radio"></i>
                            D. He prefers to work for less than a year
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>178. What information is NOT on the following page of Robert's letter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="6261" id="6261" disabled="">
                                <label for="6261">
                            <i class="icon icon_radio"></i>
                            A. people's names
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6262" id="6262" disabled="">
                                <label for="6262">
                            <i class="icon icon_radio"></i>
                            B. his telephone number
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6263" id="6263" disabled="">
                                <label for="6263">
                            <i class="icon icon_radio"></i>
                            C. his home address
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6264" id="6264" disabled="">
                                <label for="6264">
                            <i class="icon icon_radio"></i>
                            D. his email address
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>