<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 179 - 181 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>WHAT YOUR CLOTHES SAY ABOUT YOU&nbsp;</strong></p>

                <ul>
                    <li style="text-align: justify;">Appropriate attire supports your image as a person who takes the interview process seriously and understands the nature of the industry in which you are trying to become employed.&nbsp;</li>
                    <li style="text-align: justify;">Be aware that In some industries, customer contact and image presented to the customer is critical. In such industries, your attire will be judged more critically.&nbsp;</li>
                    <li style="text-align: justify;">Your attire should be noticed as being appropriate and well-fitting, but it should not take center stage.&nbsp;</li>
                    <li style="text-align: justify;">If you are primarily remembered for your interview attire, this is probably because you made an error in judgment!&nbsp;</li>
                    <li style="text-align: justify;">Dressing nicely and appropriately is a compliment to the person you meet, so if&nbsp;in doubt, err on the side of dressing better than you might need to&nbsp;</li>
                    <li style="text-align: justify;">Even if you are aware that employees of an organization dress casually on the job, dress up for the interview unless you are specifically told otherwise by the employer.&nbsp;</li>
                    <li style="text-align: justify;">Never confuse an interview or business function with a social event. Dont dress for a party or a date.&nbsp;</li>
                    <li style="text-align: justify;">Not every contact with an employer requires interview attire. For some occasions business casual is appropriate. See business casual for when to wear it and what it is.&nbsp;</li>
                </ul>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>179. What does it mean if the interviewer remembers your outfit better than anything?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="178" value="6265" id="6265" disabled="">
                                <label for="6265">
                            <i class="icon icon_radio"></i>
                            A. You must have dressed inappropriately
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6266" id="6266" disabled="">
                                <label for="6266">
                            <i class="icon icon_radio"></i>
                            B. You complimented the interviewer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6267" id="6267" disabled="">
                                <label for="6267">
                            <i class="icon icon_radio"></i>
                            C. You dressed appropriately
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6268" id="6268" disabled="">
                                <label for="6268">
                            <i class="icon icon_radio"></i>
                            D. You were judged unfairly
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>180. What should you do if you know the employees where you are being interviewed dress casually?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="6269" id="6269" disabled="">
                                <label for="6269">
                            <i class="icon icon_radio"></i>
                            A. call ahead of time and ask the employer what to wear
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6270" id="6270" disabled="">
                                <label for="6270">
                            <i class="icon icon_radio"></i>
                            B. dress similarly to the employees
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6271" id="6271" disabled="">
                                <label for="6271">
                            <i class="icon icon_radio"></i>
                            C. wear clothes that say you are a person who takes this process seriously
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6272" id="6272" disabled="">
                                <label for="6272">
                            <i class="icon icon_radio"></i>
                            D. dress in a way that proves you are aware of what employees wear
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>181. What should you never do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="6273" id="6273" disabled="">
                                <label for="6273">
                            <i class="icon icon_radio"></i>
                            A. dress casually like the pmployers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6274" id="6274" disabled="">
                                <label for="6274">
                            <i class="icon icon_radio"></i>
                            B. dress better than you need to
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6275" id="6275" disabled="">
                                <label for="6275">
                            <i class="icon icon_radio"></i>
                            C. dress for a social gathering
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6276" id="6276" disabled="">
                                <label for="6276">
                            <i class="icon icon_radio"></i>
                            D. take center stage in the interview
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>