<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 182 - 184 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>PLAYER BIO: MEGHAN MONTGOMERY </strong></p>

                <p style="text-align:justify">She was an All-Big Ten first team selection, an Academic All-Big Ten and was voted team captain for a second straight season. She's a versatile athlete, who played and started at outside back, outside midfield and forward. She left Purdue
                    as its all-time leader with 84 matches played and is only one of four Boilermakers to play in over 80 matches. She broke the program record for matches played with a start against Ohio State in the first round of the Big Ten Tournament
                    and was one of only two Boilermakers to play and start all 20 matches.</p>

                <p style="text-align:justify">She set personal season bests in several offensive categories, including shots, shots on goal, goals and points scored. She was the first and only Big Ten player to score against Penn State during the regular season and scored against
                    the Nittany Lions in the eighth minute off a midfield assist from Parrissa Eyorokon&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=33" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>182. Why is Montgomery described as a "versatile athlete"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="6277" id="6277" disabled="">
                                <label for="6277">
                            <i class="icon icon_radio"></i>
                            A. she can do many things
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6278" id="6278" disabled="">
                                <label for="6278">
                            <i class="icon icon_radio"></i>
                            B. she is determined
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6279" id="6279" disabled="">
                                <label for="6279">
                            <i class="icon icon_radio"></i>
                            C. she is a good leader
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6280" id="6280" disabled="">
                                <label for="6280">
                            <i class="icon icon_radio"></i>
                            D. she has broken records
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. How many Boilermakers have played in at least 80 matches?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="6281" id="6281" disabled="">
                                <label for="6281">
                            <i class="icon icon_radio"></i>
                            A. 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6282" id="6282" disabled="">
                                <label for="6282">
                            <i class="icon icon_radio"></i>
                            B. 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6283" id="6283" disabled="">
                                <label for="6283">
                            <i class="icon icon_radio"></i>
                            C. 4
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6284" id="6284" disabled="">
                                <label for="6284">
                            <i class="icon icon_radio"></i>
                            D. 5
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>184. When did Montgomery break the record for matches played?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="6285" id="6285" disabled="">
                                <label for="6285">
                            <i class="icon icon_radio"></i>
                            A. her first game against the State of Ohio
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6286" id="6286" disabled="">
                                <label for="6286">
                            <i class="icon icon_radio"></i>
                            B. the second season
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6287" id="6287" disabled="">
                                <label for="6287">
                            <i class="icon icon_radio"></i>
                            C. the championship of a tournament
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6288" id="6288" disabled="">
                                <label for="6288">
                            <i class="icon icon_radio"></i>
                            D. one of the first game of a tournament
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=33" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>