<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 185 - 188 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>INTERVIEW TIP I: </strong>PLAN AHEAD - Do a little homework! Research the company and the position if possible. Review your work experiences and be ready to support past career accomplishments with specific information targeted
                    toward the company s needs.</p>

                <p style="text-align:justify"><strong>INTERVIEW TIP 2:</strong> ROLE PLAY- Once you have finished studying, begin role playing (rehearsing). Use&nbsp;the general questions provided below in the Interview Preparation Area. Write down answers if it helps to make your
                    presentation more concise. Try to keep your answers to the information your new employer will want to know.&nbsp;</p>

                <p style="text-align:justify"><strong>INTERVIEW TIP 3:</strong> ADAPT - Be sensitive to the style of the interviewer. Pay attention to those details of dress, office furniture, and general decor which will afford helpful clues to assist you in tailoring your presentation.&nbsp;</p>

                <p style="text-align:justify"><strong>INTERVIEW TIP 4:</strong> RELATE - Try to relate your answers to the interviewer and his or her company. Focus on achievements relevant to the position.&nbsp;</p>

                <p style="text-align:justify"><strong>INTERVIEW TIP 5:</strong> ENCOURAGE - Encourage the interviewer to share information about his or her company. Demonstrate your interest.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>185. What is the point of Tip 1?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="6289" id="6289" disabled="">
                                <label for="6289">
                            <i class="icon icon_radio"></i>
                            A. to ensure you remember all your work experiences
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6290" id="6290" disabled="">
                                <label for="6290">
                            <i class="icon icon_radio"></i>
                            B. to find a way to link your experience to what the company wants
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6291" id="6291" disabled="">
                                <label for="6291">
                            <i class="icon icon_radio"></i>
                            C. to improve your research skills before the interview
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6292" id="6292" disabled="">
                                <label for="6292">
                            <i class="icon icon_radio"></i>
                            D. to tailor your resume with appropriate pass experiences
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>186. In which tips is it suggested that you pretend that you are being interviewed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="6293" id="6293" disabled="">
                                <label for="6293">
                            <i class="icon icon_radio"></i>
                            A. Tip 4
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6294" id="6294" disabled="">
                                <label for="6294">
                            <i class="icon icon_radio"></i>
                            B. Tip 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6295" id="6295" disabled="">
                                <label for="6295">
                            <i class="icon icon_radio"></i>
                            C. Tip 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6296" id="6296" disabled="">
                                <label for="6296">
                            <i class="icon icon_radio"></i>
                            D. Tip 2
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. In which tip is it suggested that you provoke answers from the interviewer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="6297" id="6297" disabled="">
                                <label for="6297">
                            <i class="icon icon_radio"></i>
                            A. Tip 3
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6298" id="6298" disabled="">
                                <label for="6298">
                            <i class="icon icon_radio"></i>
                            B. Tip 5
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6299" id="6299" disabled="">
                                <label for="6299">
                            <i class="icon icon_radio"></i>
                            C. Tip 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6300" id="6300" disabled="">
                                <label for="6300">
                            <i class="icon icon_radio"></i>
                            D. Tip 2
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>188. Why should you pay attention to office furniture?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="6301" id="6301" disabled="">
                                <label for="6301">
                            <i class="icon icon_radio"></i>
                            A. It could suggest how to modify your questions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6302" id="6302" disabled="">
                                <label for="6302">
                            <i class="icon icon_radio"></i>
                            B. It could tell you if you are an appropriate candidate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6303" id="6303" disabled="">
                                <label for="6303">
                            <i class="icon icon_radio"></i>
                            C. It could suggest how much money you would earn
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6304" id="6304" disabled="">
                                <label for="6304">
                            <i class="icon icon_radio"></i>
                            D. It could tell you if you need to adapt your presentation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>