<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                            <p class="text-justify">
<b>Question 141 - 143 refer to
    following paragraph:</b>
</p>
<hr>
<p><strong>To: Bill Fletcher<br>
Front Michelle Reid<br>
Date: June 7<br>
Re: Request for information</strong></p>

<p>Dear Mr. Fletcher,<br>
I am e-mailing you concerning your job application for the position of assistant set designer at Big Sky Studios. Your application interests us, but we need some other __(1)__ documents.</p>

<p>First of all, in the portfolio section of your application you __(2)__&nbsp;several amateur productions for which you were responsible for the set design</p>

<p>We would like to see photographs, or other visual evidence, of the work that you did. If you do not have this, you may want to ask the venue where the performance was held. They often keep video records.</p>

<p>Also, you said that references could be provided on your CV. We would indeed like to receive the names and contact information for two referees.</p>

<p>Please provide us with the above information as soon as possible. If you have any questions or need assistance, you __(3)__ contact me at this e-mail address, or call 345 388 8978.</p>

<p>Sincerely,<br>
Michelle Reid,<br>
Human Resources<br>
&nbsp;</p>
</div>
<form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>141. __(1)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="140" value="5921" id="5921" disabled="">
                        <label for="5921">
                            <i class="icon icon_radio"></i>
                            A. supporting
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="140" value="5922" id="5922" disabled="">
                        <label for="5922">
                            <i class="icon icon_radio"></i>
                            B. support
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="140" value="5923" id="5923" disabled="">
                        <label for="5923">
                            <i class="icon icon_radio"></i>
                            C. supported
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="140" value="5924" id="5924" disabled="">
                        <label for="5924">
                            <i class="icon icon_radio"></i>
                            D. supporter
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>142. __(2)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="141" value="5925" id="5925" disabled="">
                        <label for="5925">
                            <i class="icon icon_radio"></i>
                            A. claim
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="141" value="5926" id="5926" disabled="">
                        <label for="5926">
                            <i class="icon icon_radio"></i>
                            B. list
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="141" value="5927" id="5927" disabled="">
                        <label for="5927">
                            <i class="icon icon_radio"></i>
                            C. tell
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="141" value="5928" id="5928" disabled="">
                        <label for="5928">
                            <i class="icon icon_radio"></i>
                            D. arrange
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>143. __(3)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="142" value="5929" id="5929" disabled="">
                        <label for="5929">
                            <i class="icon icon_radio"></i>
                            A. must
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="142" value="5930" id="5930" disabled="">
                        <label for="5930">
                            <i class="icon icon_radio"></i>
                            B. may
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="142" value="5931" id="5931" disabled="">
                        <label for="5931">
                            <i class="icon icon_radio"></i>
                            C. ought
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="142" value="5932" id="5932" disabled="">
                        <label for="5932">
                            <i class="icon icon_radio"></i>
                            D. would
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>