<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 144 - 146 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><br> You have no job security, even if you think you do. Consultants, even good consultants, are often considered a necessary evil by customers use them, and it's __(1)__ easy to stop using one. It doesn't require firing or confrontation,
                    just "we don't&nbsp;need you any more" or even just<br> not calling.</p>

                <p>This has happened to me several times: a sure&nbsp;thing, with many years of history, stopped or a dime when a customer's customer canceled a project, or when another customer was bought by a bigger enterprise.</p>

                <p>This is not personal to your customer; it's just business but when your gravy train __(2)__ without notice, it's very personal. And terrifying.</p>

                <p>The best way to approach this is to dversify. If you have only one ongoing project, you can find yourself out of work with no more notice than the time it takes the phone to ring. __(3)__ being aggressive about finding more than one customer,
                    and even making it a point to value a backlog of work, you have a fighting chance at dodging the vaporizing-custorner bullet.<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>144. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="5933" id="5933" disabled="">
                                <label for="5933">
                            <i class="icon icon_radio"></i>
                            A. excepting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5934" id="5934" disabled="">
                                <label for="5934">
                            <i class="icon icon_radio"></i>
                            B. an exception
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5935" id="5935" disabled="">
                                <label for="5935">
                            <i class="icon icon_radio"></i>
                            C. exceptional
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5936" id="5936" disabled="">
                                <label for="5936">
                            <i class="icon icon_radio"></i>
                            D. exceptionally
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="5937" id="5937" disabled="">
                                <label for="5937">
                            <i class="icon icon_radio"></i>
                            A. explodes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5938" id="5938" disabled="">
                                <label for="5938">
                            <i class="icon icon_radio"></i>
                            B. evaporates
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5939" id="5939" disabled="">
                                <label for="5939">
                            <i class="icon icon_radio"></i>
                            C. precipitates
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5940" id="5940" disabled="">
                                <label for="5940">
                            <i class="icon icon_radio"></i>
                            D. appears
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="5941" id="5941" disabled="">
                                <label for="5941">
                            <i class="icon icon_radio"></i>
                            A. But
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5942" id="5942" disabled="">
                                <label for="5942">
                            <i class="icon icon_radio"></i>
                            B. Therefore
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5943" id="5943" disabled="">
                                <label for="5943">
                            <i class="icon icon_radio"></i>
                            C. Either
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5944" id="5944" disabled="">
                                <label for="5944">
                            <i class="icon icon_radio"></i>
                            D. By
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=23" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>