<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>QUALIFICATIONS - Assistant Budget and Accounts Officer</strong></p>

                <p><strong>Education</strong><br> This position requires an advanced tniversity degree (Master's degree or equivalent) in business administration, finance, economics or related field. __(1)__ , a first-level university degree with a relevant
                    combination of academic qualifications and relevant extensive experience may be accepted in lieu of the advanced university degree.</p>

                <p><strong>Work Experience</strong><br> A minimum of 7 years __(2)__ responsible administrative experience is required. Experience in health insurance administration, preferably in the United States health and life insurance environment,
                    or in international or intergovernmental organizations, is desirable.</p>

                <p><strong>Languages</strong><br> English and French are the __(3)__ languages of the organization. For this post, fluency in spoken and written English is required. Knowledge of the other language is an advantage.</p>

                <p><strong>Other Skills</strong><br> Advanced computer skills including spreadsheet and database applications are required.</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5945" id="5945" disabled="">
                                <label for="5945">
                            <i class="icon icon_radio"></i>
                            A. However
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5946" id="5946" disabled="">
                                <label for="5946">
                            <i class="icon icon_radio"></i>
                            B. Therefore
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5947" id="5947" disabled="">
                                <label for="5947">
                            <i class="icon icon_radio"></i>
                            C. In addition
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5948" id="5948" disabled="">
                                <label for="5948">
                            <i class="icon icon_radio"></i>
                            D. Indeed
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5949" id="5949" disabled="">
                                <label for="5949">
                            <i class="icon icon_radio"></i>
                            A. progressively
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5950" id="5950" disabled="">
                                <label for="5950">
                            <i class="icon icon_radio"></i>
                            B. progressive
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5951" id="5951" disabled="">
                                <label for="5951">
                            <i class="icon icon_radio"></i>
                            C. progressing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5952" id="5952" disabled="">
                                <label for="5952">
                            <i class="icon icon_radio"></i>
                            D. progress
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5953" id="5953" disabled="">
                                <label for="5953">
                            <i class="icon icon_radio"></i>
                            A. serious
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5954" id="5954" disabled="">
                                <label for="5954">
                            <i class="icon icon_radio"></i>
                            B. secondary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5955" id="5955" disabled="">
                                <label for="5955">
                            <i class="icon icon_radio"></i>
                            C. essential
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5956" id="5956" disabled="">
                                <label for="5956">
                            <i class="icon icon_radio"></i>
                            D. working
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>