<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>May 24<br>
Maryann Larson<br>
4563 West Larch Drive</strong></p>

                <p>Dear Ms. Larson,</p>

                <p>I was very sorry to hear that you were not satisfied with your purchase. We take great pride in creating high quality and dependable cameras, and so it is a cause of __(1)__ concern to hear that a customer purchased a defective product.
                    I was also dismayed to learn that the outlet where you purchased the camera would not accept a return because you purchased the item on sale.</p>

                <p>As you know, I'm sure, our cameras have an outstanding reputation and we have many satisfied customer. So, if you would like to give us another chance, and exchange the camera you purchased for another of the same model, you may give the
                    enclosed form to the retailer where you bought the camera, and they are __(2)__ to fill out the form, return your camera to us, and immediately issue you with a new camera.</p>

                <p>Or, if you __(3)__ faith in our product and would prefer to receive your money back, please send the camera to us, and when we receive it we will issue to you a complete refund.</p>

                <p>Sincerely,</p>

                <p>Bob Balfour,<br> Customer Service Department<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5957" id="5957" disabled="">
                                <label for="5957">
                            <i class="icon icon_radio"></i>
                            A. considerate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5958" id="5958" disabled="">
                                <label for="5958">
                            <i class="icon icon_radio"></i>
                            B. considerable
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5959" id="5959" disabled="">
                                <label for="5959">
                            <i class="icon icon_radio"></i>
                            C. considerably
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5960" id="5960" disabled="">
                                <label for="5960">
                            <i class="icon icon_radio"></i>
                            D. considering
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5961" id="5961" disabled="">
                                <label for="5961">
                            <i class="icon icon_radio"></i>
                            A. ordered
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5962" id="5962" disabled="">
                                <label for="5962">
                            <i class="icon icon_radio"></i>
                            B. appeased
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5963" id="5963" disabled="">
                                <label for="5963">
                            <i class="icon icon_radio"></i>
                            C. obligated
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5964" id="5964" disabled="">
                                <label for="5964">
                            <i class="icon icon_radio"></i>
                            D. automated
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5965" id="5965" disabled="">
                                <label for="5965">
                            <i class="icon icon_radio"></i>
                            A. are losing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5966" id="5966" disabled="">
                                <label for="5966">
                            <i class="icon icon_radio"></i>
                            B. will lose
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5967" id="5967" disabled="">
                                <label for="5967">
                            <i class="icon icon_radio"></i>
                            C. have lost
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5968" id="5968" disabled="">
                                <label for="5968">
                            <i class="icon icon_radio"></i>
                            D. lose
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>