<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Question 71 - 73 refer to
                following conversation:</b>
        </p>
        <hr>
        <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <p><b>Transcript:</b></p>
            <div class="text-justify">
                <p>OK, let's get the monthly staff meeting staffed. First off, this&nbsp;Saturday is the annual holiday
                    parade. And as many of you know, the parade go&nbsp;right down our street. It's always one of our
                    busiest days... lots&nbsp;of people will&nbsp;stop by for lunch, and the line can get
                    quite&nbsp;long. So we'll need a few extra&nbsp;cooks and servers, and everyone who works that
                    day'lI get overyime pay. Let me know soon if you're able to work on Saturday. Oh... and
                    I&nbsp;strongly recommend taking&nbsp;the bus or train if&nbsp;you can. Remember that it'll be very
                    difficult&nbsp;to park on Saturday during the event.&nbsp;<br>
                    &nbsp;</p>

                <div id="gtx-trans" style="left:-60px; position:absolute; top:-6px">
                    <div class="gtx-trans-icon">&nbsp;</div>
                </div>
            </div>
            <p><b>Audio:</b></p>
            <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1579320667/1579490400.mp3" type="audio/mp3">
                </audio>
                <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                <div class="audioplayer-time audioplayer-time-current">00:00</div>
                <div class="audioplayer-bar">
                    <div class="audioplayer-bar-loaded" style="width: 8.59781%;"></div>
                    <div class="audioplayer-bar-played"></div>
                </div>
                <div class="audioplayer-time audioplayer-time-duration">01:16</div>
                <div class="audioplayer-volume">
                    <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                    <div class="audioplayer-volume-adjust">
                        <div>
                            <div style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <p><b>71. According to the speaker, what will take place on Saturday?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="70" value="15706" id="15706" disabled="">
                        <label for="15706">
                            <i class="icon icon_radio"></i>
                            A. A retirement party
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="70" value="15707" id="15707" disabled="">
                        <label for="15707">
                            <i class="icon icon_radio"></i>
                            B. A holiday parade
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="70" value="15708" id="15708" disabled="">
                        <label for="15708">
                            <i class="icon icon_radio"></i>
                            C. A business workshop
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="70" value="15709" id="15709" disabled="">
                        <label for="15709">
                            <i class="icon icon_radio"></i>
                            D. A company picnic
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>72. Where do the listeners work?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="71" value="15710" id="15710" disabled="">
                        <label for="15710">
                            <i class="icon icon_radio"></i>
                            A. At a bank
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="71" value="15711" id="15711" disabled="">
                        <label for="15711">
                            <i class="icon icon_radio"></i>
                            B. At an amusement park
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="71" value="15712" id="15712" disabled="">
                        <label for="15712">
                            <i class="icon icon_radio"></i>
                            C. At a restaurant
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="71" value="15713" id="15713" disabled="">
                        <label for="15713">
                            <i class="icon icon_radio"></i>
                            D. At police station
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>73. What does the speaker suggest that the listeners do?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="72" value="15714" id="15714" disabled="">
                        <label for="15714">
                            <i class="icon icon_radio"></i>
                            A. Wear warm clothing
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="72" value="15715" id="15715" disabled="">
                        <label for="15715">
                            <i class="icon icon_radio"></i>
                            B. Use public transportation
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="72" value="15716" id="15716" disabled="">
                        <label for="15716">
                            <i class="icon icon_radio"></i>
                            C. Pack a lunch
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="72" value="15717" id="15717" disabled="">
                        <label for="15717">
                            <i class="icon icon_radio"></i>
                            D. Bring identification
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>