<div class="question-content">
    <p class="text-justify">
        <b>Question 98 - 100 refer to
            following conversation:</b>
    </p>
    <hr>
    <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=24" method="post">
        <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
        <div class="text-center"><img src="https://toeic24.vn/upload/img/original/1579501436.png"></div>
        <p><b>Transcript:</b></p>
        <div class="text-justify">
            <p>Thanks for attending this planning meeting for the new neighborhood garden. I'm Chao, and I'm
                coordingting this project. Here's the layout for the new garden. We'll mostly be planting vegetables,
                but we will have a herb garden, too, and we're going to plant that first. The herbs are going to go in
                the plot between the picnic area and the toolshed. Also, I need volunteers to help me on Saturday. I'd
                like to put up a fence around the perimeter of the garden. The wood for the fence will be delivered that
                morning</p>
        </div>
        <p><b>Audio:</b></p>
        <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                <source src="https://toeic24.vn/upload/audio/1579320667/1579501436.mp3" type="audio/mp3">
            </audio>
            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
            <div class="audioplayer-time audioplayer-time-current">00:00</div>
            <div class="audioplayer-bar">
                <div class="audioplayer-bar-loaded" style="width: 5.72877%;"></div>
                <div class="audioplayer-bar-played"></div>
            </div>
            <div class="audioplayer-time audioplayer-time-duration">01:15</div>
            <div class="audioplayer-volume">
                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                <div class="audioplayer-volume-adjust">
                    <div>
                        <div style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="answer">
            <p><b>98. Who is the speaker?</b></p>
            <ul class="answer-list">
                <li>
                    <input type="radio" name="97" value="15814" id="15814" disabled="">
                    <label for="15814">
                        <i class="icon icon_radio"></i>
                        A. A security guard
                    </label>
                </li>
                <li>
                    <input type="radio" name="97" value="15815" id="15815" disabled="">
                    <label for="15815">
                        <i class="icon icon_radio"></i>
                        B. A project coordinator
                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                    </label>
                </li>
                <li>
                    <input type="radio" name="97" value="15816" id="15816" disabled="">
                    <label for="15816">
                        <i class="icon icon_radio"></i>
                        C. A course instructor
                    </label>
                </li>
                <li>
                    <input type="radio" name="97" value="15817" id="15817" disabled="">
                    <label for="15817">
                        <i class="icon icon_radio"></i>
                        D. A news journalist
                    </label>
                </li>
            </ul>
        </div>
        <div class="answer">
            <p><b>99. Look at the graphic. Where will herbs be planted?</b></p>
            <ul class="answer-list">
                <li>
                    <input type="radio" name="98" value="15818" id="15818" disabled="">
                    <label for="15818">
                        <i class="icon icon_radio"></i>
                        A. Plot 1
                    </label>
                </li>
                <li>
                    <input type="radio" name="98" value="15819" id="15819" disabled="">
                    <label for="15819">
                        <i class="icon icon_radio"></i>
                        B. Plot 2
                    </label>
                </li>
                <li>
                    <input type="radio" name="98" value="15820" id="15820" disabled="">
                    <label for="15820">
                        <i class="icon icon_radio"></i>
                        C. Plot 3
                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                    </label>
                </li>
                <li>
                    <input type="radio" name="98" value="15821" id="15821" disabled="">
                    <label for="15821">
                        <i class="icon icon_radio"></i>
                        D. Plot 4
                    </label>
                </li>
            </ul>
        </div>
        <div class="answer">
            <p><b>100. What does the speaker plan to do Saturday?</b></p>
            <ul class="answer-list">
                <li>
                    <input type="radio" name="99" value="15822" id="15822" disabled="">
                    <label for="15822">
                        <i class="icon icon_radio"></i>
                        A. Lead a tour
                    </label>
                </li>
                <li>
                    <input type="radio" name="99" value="15823" id="15823" disabled="">
                    <label for="15823">
                        <i class="icon icon_radio"></i>
                        B. Attend a picnic
                    </label>
                </li>
                <li>
                    <input type="radio" name="99" value="15824" id="15824" disabled="">
                    <label for="15824">
                        <i class="icon icon_radio"></i>
                        C. Take some photographs
                    </label>
                </li>
                <li>
                    <input type="radio" name="99" value="15825" id="15825" disabled="">
                    <label for="15825">
                        <i class="icon icon_radio"></i>
                        D. Install a fence
                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                    </label>
                </li>
            </ul>
        </div>
        <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
    </form>
</div>