<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Question 74 - 76 refer to
                following conversation:</b>
        </p>
        <hr>
        <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <p><b>Transcript:</b></p>
            <div class="text-justify">
                <p>Hi, Jamie. I&nbsp;really like the suggestion you&nbsp;gave et yesterday's staff meeting for promoting
                    our electronics store. I think holding aphotography contest is a great idea, especially sInce we
                    mainly sell cameras and&nbsp;camera equipment. There&nbsp;are several things we'd have&nbsp;to do to
                    prepare for&nbsp;it, though, like decide on a submission deadline and outline the basic rules
                    for&nbsp;the contest. We could even consider offering a prize for the first-place winner. Let's meet
                    sometimes&nbsp;thiis week to get started. I'll take look at our schedules this morning and book a
                    time for us to get&nbsp;together.&nbsp;</p>
            </div>
            <p><b>Audio:</b></p>
            <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1579320667/1579491044.mp3" type="audio/mp3">
                </audio>
                <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                <div class="audioplayer-time audioplayer-time-current">00:00</div>
                <div class="audioplayer-bar">
                    <div class="audioplayer-bar-loaded" style="width: 5.97964%;"></div>
                    <div class="audioplayer-bar-played"></div>
                </div>
                <div class="audioplayer-time audioplayer-time-duration">01:13</div>
                <div class="audioplayer-volume">
                    <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                    <div class="audioplayer-volume-adjust">
                        <div>
                            <div style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <p><b>74. Where does the speaker most likely work?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="73" value="15718" id="15718" disabled="">
                        <label for="15718">
                            <i class="icon icon_radio"></i>
                            A. At an advertising agency
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="73" value="15719" id="15719" disabled="">
                        <label for="15719">
                            <i class="icon icon_radio"></i>
                            B. At a technology firm
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="73" value="15720" id="15720" disabled="">
                        <label for="15720">
                            <i class="icon icon_radio"></i>
                            C. At an art museum
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="73" value="15721" id="15721" disabled="">
                        <label for="15721">
                            <i class="icon icon_radio"></i>
                            D. At an electronics store
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>75. What is the talk mainly about?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="74" value="15722" id="15722" disabled="">
                        <label for="15722">
                            <i class="icon icon_radio"></i>
                            A. Updating a logo
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="74" value="15723" id="15723" disabled="">
                        <label for="15723">
                            <i class="icon icon_radio"></i>
                            B. Changing a display
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="74" value="15724" id="15724" disabled="">
                        <label for="15724">
                            <i class="icon icon_radio"></i>
                            C. Organizing a contents
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="74" value="15725" id="15725" disabled="">
                        <label for="15725">
                            <i class="icon icon_radio"></i>
                            D. Offering a seminar
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>76. What does the speaker say he will do this morning?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="75" value="15726" id="15726" disabled="">
                        <label for="15726">
                            <i class="icon icon_radio"></i>
                            A. Set up a meeting
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="75" value="15727" id="15727" disabled="">
                        <label for="15727">
                            <i class="icon icon_radio"></i>
                            B. Submit a supply order
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="75" value="15728" id="15728" disabled="">
                        <label for="15728">
                            <i class="icon icon_radio"></i>
                            C. Update a Web site
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="75" value="15729" id="15729" disabled="">
                        <label for="15729">
                            <i class="icon icon_radio"></i>
                            D. Print some posters
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>