<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Question 80 - 82 refer to
                following conversation:</b>
        </p>
        <hr>
        <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <p><b>Transcript:</b></p>
            <div class="text-justify">
                <p>Hello, Kwang-Ho. Listen, I hate to bother you after you've left the office for the day, but I just
                    took a look at the materials for the health insurance orientation we're doing for our new employees
                    on Wednesday morning. Andre was supposed to finish preparing the new employee benefits packets, but
                    he's been out sick, so they're not done. I know you're going to be busy, but I don't have any
                    appointment tomorrow. I do have a couple of questions about some of the materials though, so give me
                    a call back, thanks</p>
            </div>
            <p><b>Audio:</b></p>
            <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1579320667/1579492945.mp3" type="audio/mp3">
                </audio>
                <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                <div class="audioplayer-time audioplayer-time-current">00:00</div>
                <div class="audioplayer-bar">
                    <div class="audioplayer-bar-loaded" style="width: 5.95743%;"></div>
                    <div class="audioplayer-bar-played"></div>
                </div>
                <div class="audioplayer-time audioplayer-time-duration">01:14</div>
                <div class="audioplayer-volume">
                    <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                    <div class="audioplayer-volume-adjust">
                        <div>
                            <div style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <p><b>80. According to the speaker, what will happen on Wednesday?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="79" value="15742" id="15742" disabled="">
                        <label for="15742">
                            <i class="icon icon_radio"></i>
                            A. A career fair
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="79" value="15743" id="15743" disabled="">
                        <label for="15743">
                            <i class="icon icon_radio"></i>
                            B. A promotional sale
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="79" value="15744" id="15744" disabled="">
                        <label for="15744">
                            <i class="icon icon_radio"></i>
                            C. A work site inspection
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="79" value="15745" id="15745" disabled="">
                        <label for="15745">
                            <i class="icon icon_radio"></i>
                            D. An employee orientation
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>81. What does the speaker imply when she says, "I don't have any appointments tomorrow"?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="80" value="15746" id="15746" disabled="">
                        <label for="15746">
                            <i class="icon icon_radio"></i>
                            A. She has not been successful with a client
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="80" value="15747" id="15747" disabled="">
                        <label for="15747">
                            <i class="icon icon_radio"></i>
                            B. She thinks a schedule is wrong
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="80" value="15748" id="15748" disabled="">
                        <label for="15748">
                            <i class="icon icon_radio"></i>
                            C. She has time to take over a task
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="80" value="15749" id="15749" disabled="">
                        <label for="15749">
                            <i class="icon icon_radio"></i>
                            D. She needs to leave work early
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>82. What does the speaker ask the listener to do?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="81" value="15750" id="15750" disabled="">
                        <label for="15750">
                            <i class="icon icon_radio"></i>
                            A. Call her back
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="81" value="15751" id="15751" disabled="">
                        <label for="15751">
                            <i class="icon icon_radio"></i>
                            B. Check a calendar
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="81" value="15752" id="15752" disabled="">
                        <label for="15752">
                            <i class="icon icon_radio"></i>
                            C. Reserve a booth
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="81" value="15753" id="15753" disabled="">
                        <label for="15753">
                            <i class="icon icon_radio"></i>
                            D. Cancel an event
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>