<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Question 83 - 85 refer to
                following conversation:</b>
        </p>
        <hr>
        <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <p><b>Transcript:</b></p>
            <div class="text-justify">
                <p>Do you work in the technology industry? Want to stay updated on the latest industry trends? Want to
                    stay updated on the lates industry trends? Subscribe to our online magazine, Tech Now. This month's
                    issue is devoted to women who are leaders in the technology field. We're pleased to present a
                    exclusive interview with Erika Cliffton, the founder and CEO of Cliffton Technology Solutions. Erika
                    gives advice for women starting their own businesses and shares her personal success story. If you
                    subscribe to Tech Now today, you'll receive a free padded carrying case for your laptop. But hurry -
                    the promotion expires in a week!</p>
            </div>
            <p><b>Audio:</b></p>
            <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1579320667/1579493549.mp3" type="audio/mp3">
                </audio>
                <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                <div class="audioplayer-time audioplayer-time-current">00:00</div>
                <div class="audioplayer-bar">
                    <div class="audioplayer-bar-loaded" style="width: 5.6875%;"></div>
                    <div class="audioplayer-bar-played"></div>
                </div>
                <div class="audioplayer-time audioplayer-time-duration">01:18</div>
                <div class="audioplayer-volume">
                    <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                    <div class="audioplayer-volume-adjust">
                        <div>
                            <div style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <p><b>83. According to the speaker, what is special about this month's issue of Tech Now?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="82" value="15754" id="15754" disabled="">
                        <label for="15754">
                            <i class="icon icon_radio"></i>
                            A. It is free for university students
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="82" value="15755" id="15755" disabled="">
                        <label for="15755">
                            <i class="icon icon_radio"></i>
                            B. It is about women in technology
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="82" value="15756" id="15756" disabled="">
                        <label for="15756">
                            <i class="icon icon_radio"></i>
                            C. It is the magazine's first issue
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="82" value="15757" id="15757" disabled="">
                        <label for="15757">
                            <i class="icon icon_radio"></i>
                            D. It has a reader survey
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>84. Who is Erika Cliffton?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="83" value="15758" id="15758" disabled="">
                        <label for="15758">
                            <i class="icon icon_radio"></i>
                            A. A company's founder
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="83" value="15759" id="15759" disabled="">
                        <label for="15759">
                            <i class="icon icon_radio"></i>
                            B. A journalist
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="83" value="15760" id="15760" disabled="">
                        <label for="15760">
                            <i class="icon icon_radio"></i>
                            C. An athlete
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="83" value="15761" id="15761" disabled="">
                        <label for="15761">
                            <i class="icon icon_radio"></i>
                            D. A financial consultant
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>85. What does the magazine offer this week with a subscription?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="84" value="15762" id="15762" disabled="">
                        <label for="15762">
                            <i class="icon icon_radio"></i>
                            A. A laptop case
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="84" value="15763" id="15763" disabled="">
                        <label for="15763">
                            <i class="icon icon_radio"></i>
                            B. An umbrella
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="84" value="15764" id="15764" disabled="">
                        <label for="15764">
                            <i class="icon icon_radio"></i>
                            C. Access to job listings
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="84" value="15765" id="15765" disabled="">
                        <label for="15765">
                            <i class="icon icon_radio"></i>
                            D. A discount coupon for a store
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>