<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Question 86 - 88 refer to
                following conversation:</b>
        </p>
        <hr>
        <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <p><b>Transcript:</b></p>
            <div class="text-justify">
                <p>This is Health on the Go, a weekly broadcast that gives you advice about your eating habits. Today
                    we're talking about salt. Who's heard that salt is not good for you? Well... this negative view of
                    salt is surprising because it's simply not true. You actually do need some salt in your diet to
                    remain healthy. But remember - salt occurs naturally in most foods, so you don't need to add extra
                    salt to your diet. In fact, even fruits and vegetables contain salt. I know you're all interested in
                    trying more recipes that use fruits and vegetable. We'll be talking about that on next week's
                    broadcast</p>
            </div>
            <p><b>Audio:</b></p>
            <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1579320667/1579494112.mp3" type="audio/mp3">
                </audio>
                <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                <div class="audioplayer-time audioplayer-time-current">00:00</div>
                <div class="audioplayer-bar">
                    <div class="audioplayer-bar-loaded" style="width: 7.94558%;"></div>
                    <div class="audioplayer-bar-played"></div>
                </div>
                <div class="audioplayer-time audioplayer-time-duration">01:23</div>
                <div class="audioplayer-volume">
                    <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                    <div class="audioplayer-volume-adjust">
                        <div>
                            <div style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <p><b>86. What is the broadcast mainly about?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="85" value="15766" id="15766" disabled="">
                        <label for="15766">
                            <i class="icon icon_radio"></i>
                            A. Diet advice
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="85" value="15767" id="15767" disabled="">
                        <label for="15767">
                            <i class="icon icon_radio"></i>
                            B. Exercise tips
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="85" value="15768" id="15768" disabled="">
                        <label for="15768">
                            <i class="icon icon_radio"></i>
                            C. Improving sleep
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="85" value="15769" id="15769" disabled="">
                        <label for="15769">
                            <i class="icon icon_radio"></i>
                            D. Reducing stress
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>87. Why does the speaker say she is surprised?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="86" value="15770" id="15770" disabled="">
                        <label for="15770">
                            <i class="icon icon_radio"></i>
                            A. A task can be very time-consuming
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="86" value="15771" id="15771" disabled="">
                        <label for="15771">
                            <i class="icon icon_radio"></i>
                            B. A popular view is incorrect
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="86" value="15772" id="15772" disabled="">
                        <label for="15772">
                            <i class="icon icon_radio"></i>
                            C. A local business is closing
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="86" value="15773" id="15773" disabled="">
                        <label for="15773">
                            <i class="icon icon_radio"></i>
                            D. A speaker is arriving late
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>88. Why does the speaker say, "We'll be talking about that on next week's broadcast"?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="87" value="15774" id="15774" disabled="">
                        <label for="15774">
                            <i class="icon icon_radio"></i>
                            A. To change a schedule
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="87" value="15775" id="15775" disabled="">
                        <label for="15775">
                            <i class="icon icon_radio"></i>
                            B. To make a complaint
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="87" value="15776" id="15776" disabled="">
                        <label for="15776">
                            <i class="icon icon_radio"></i>
                            C. To refuse a request
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="87" value="15777" id="15777" disabled="">
                        <label for="15777">
                            <i class="icon icon_radio"></i>
                            D. To publicize a future episode
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>