<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Question 92 - 94 refer to
                following conversation:</b>
        </p>
        <hr>
        <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=22" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <p><b>Transcript:</b></p>
            <div class="text-justify">
                <p>Hi, everyone. My name is Paul Bautista and this is History with Raul, the weekly podcast where we
                    investigate little-known historical facts that have had a huge impact on todav's world.
                    Today&nbsp;we'll be discussing a topic from art history. We'll hear about the mysterious,
                    disappearance of some paintings from museum in saventeenth-century Euro. Professor
                    Ignacio&nbsp;Ortega from Westland University will explain what happened. But before we speak to
                    Professor Ortega - please remember, this&nbsp;program is only made possible by the financial support
                    of our members. Visit historywithraul org today</p>
            </div>
            <p><b>Audio:</b></p>
            <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1579320667/1579495537.mp3" type="audio/mp3">
                </audio>
                <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                <div class="audioplayer-time audioplayer-time-current">00:00</div>
                <div class="audioplayer-bar">
                    <div class="audioplayer-bar-loaded" style="width: 5.45331%;"></div>
                    <div class="audioplayer-bar-played"></div>
                </div>
                <div class="audioplayer-time audioplayer-time-duration">01:21</div>
                <div class="audioplayer-volume">
                    <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                    <div class="audioplayer-volume-adjust">
                        <div>
                            <div style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <p><b>92. What is the topic of this week's podcast?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="91" value="15790" id="15790" disabled="">
                        <label for="15790">
                            <i class="icon icon_radio"></i>
                            A. Historical monuments
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="91" value="15791" id="15791" disabled="">
                        <label for="15791">
                            <i class="icon icon_radio"></i>
                            B. Some missing paintings
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="91" value="15792" id="15792" disabled="">
                        <label for="15792">
                            <i class="icon icon_radio"></i>
                            C. Classical literature
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="91" value="15793" id="15793" disabled="">
                        <label for="15793">
                            <i class="icon icon_radio"></i>
                            D. European composers
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>93. Who is the guest on this week's podcast?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="92" value="15794" id="15794" disabled="">
                        <label for="15794">
                            <i class="icon icon_radio"></i>
                            A. An actor
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="92" value="15795" id="15795" disabled="">
                        <label for="15795">
                            <i class="icon icon_radio"></i>
                            B. A t ravel agent
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="92" value="15796" id="15796" disabled="">
                        <label for="15796">
                            <i class="icon icon_radio"></i>
                            C. A politician
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="92" value="15797" id="15797" disabled="">
                        <label for="15797">
                            <i class="icon icon_radio"></i>
                            D. A professor
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>94. Why does the speaker say, "this program is only made possible by the financial support of our
                        members"?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="93" value="15798" id="15798" disabled="">
                        <label for="15798">
                            <i class="icon icon_radio"></i>
                            A. To encourage the listeners to make a donation
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="93" value="15799" id="15799" disabled="">
                        <label for="15799">
                            <i class="icon icon_radio"></i>
                            B. To apologize for a limited number of episodes
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="93" value="15800" id="15800" disabled="">
                        <label for="15800">
                            <i class="icon icon_radio"></i>
                            C. To prevent people from getting a bonus
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="93" value="15801" id="15801" disabled="">
                        <label for="15801">
                            <i class="icon icon_radio"></i>
                            D. To express concern about a proposal
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=22"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>