<div class="col-md-10 col-md-push-1">
    <div class="question-content">
        <p class="text-justify">
            <b>Question 95 - 97 refer to
                following conversation:</b>
        </p>
        <hr>
        <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=23" method="post">
            <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
            <div class="text-center"><img src="https://toeic24.vn/upload/img/original/1579501066.png"></div>
            <p><b>Transcript:</b></p>
            <div class="text-justify">
                <p>Welcome back, everyone. At tonight's session, we'll pick up where we left off and go right into a
                    discussion of the different types of interviews in person, by phone, et cetera. After a brief break,
                    I'll split you into small groups so you can practice being in an actual inverview situation. I'll
                    walk around the room and listen to each group in order to give you individual feedback. Now, before
                    we start, please sign your name on the attendance sheet on my desk</p>
            </div>
            <p><b>Audio:</b></p>
            <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1579320667/1579501066.mp3" type="audio/mp3">
                </audio>
                <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                <div class="audioplayer-time audioplayer-time-current">00:00</div>
                <div class="audioplayer-bar">
                    <div class="audioplayer-bar-loaded" style="width: 5.80657%;"></div>
                    <div class="audioplayer-bar-played"></div>
                </div>
                <div class="audioplayer-time audioplayer-time-duration">01:15</div>
                <div class="audioplayer-volume">
                    <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                    <div class="audioplayer-volume-adjust">
                        <div>
                            <div style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <p><b>95. Look at graphic. On which date is the talk being given?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="94" value="15802" id="15802" disabled="">
                        <label for="15802">
                            <i class="icon icon_radio"></i>
                            A. June 3
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="94" value="15803" id="15803" disabled="">
                        <label for="15803">
                            <i class="icon icon_radio"></i>
                            B. June 10
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="94" value="15804" id="15804" disabled="">
                        <label for="15804">
                            <i class="icon icon_radio"></i>
                            C. June 17
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="94" value="15805" id="15805" disabled="">
                        <label for="15805">
                            <i class="icon icon_radio"></i>
                            D. June 24
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>96. What will the listeners do after the break?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="95" value="15806" id="15806" disabled="">
                        <label for="15806">
                            <i class="icon icon_radio"></i>
                            A. Answer survey questions
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="95" value="15807" id="15807" disabled="">
                        <label for="15807">
                            <i class="icon icon_radio"></i>
                            B. Participate in group work
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="95" value="15808" id="15808" disabled="">
                        <label for="15808">
                            <i class="icon icon_radio"></i>
                            C. Review some résumé
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="95" value="15809" id="15809" disabled="">
                        <label for="15809">
                            <i class="icon icon_radio"></i>
                            D. Watch a video
                        </label>
                    </li>
                </ul>
            </div>
            <div class="answer">
                <p><b>97. What does the speaker remind the listeners about?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="96" value="15810" id="15810" disabled="">
                        <label for="15810">
                            <i class="icon icon_radio"></i>
                            A. Some research questions
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="96" value="15811" id="15811" disabled="">
                        <label for="15811">
                            <i class="icon icon_radio"></i>
                            B. Some schedule changes
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="96" value="15812" id="15812" disabled="">
                        <label for="15812">
                            <i class="icon icon_radio"></i>
                            C. A payment method
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="96" value="15813" id="15813" disabled="">
                        <label for="15813">
                            <i class="icon icon_radio"></i>
                            D. A sign-in sheet
                            <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                        </label>
                    </li>
                </ul>
            </div>
            <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=23"
                class="mc-btn btn-style-6">Next</a>
        </form>
    </div>
</div>