<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                    <p class="text-justify">
                        <b>Question 131 - 134 refer to
                            following paragraph:</b>
                    </p>
                    <hr>
                    <p><strong>To: Bai Chang &lt;bchang@lexrg.com&gt;<br>
                            From: customerservice@sprtech.com<br>
                            Date: September 28<br>
                            Subject: Order 255646</strong></p>

                    <p>Dear Ms. Chang:&nbsp;</p>

                    <p style="text-align:justify">Thank you for your purchase on September 27. Your package has shipped
                        and
                        is due to arrive on October 1. __(1)__ Simply visit&nbsp;www.sprtech.com/shipping/stalus, enter
                        your
                        order number, and press&nbsp;"Search."</p>

                    <p style="text-align:justify">When you receive your package, we __(2)__&nbsp;you to take a short
                        survey
                        at www.sprtech.com/survey. It is through customer feedback that we are __(3)__ to monitor our
                        level
                        of service. Upon __(4)__ of the survey, you will receive a 10%
                        discount toward your next order.&nbsp;</p>

                    <p style="text-align:justify">Sprtech.com Customer Service&nbsp;</p>

                    <div id="gtx-trans" style="left:1px; position:absolute; top:-6px">
                        <div class="gtx-trans-icon">&nbsp;</div>
                    </div>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=0" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>131. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="130" value="16346" id="16346" disabled="">
                                <label for="16346">
                                    <i class="icon icon_radio"></i>
                                    A. You will receive a full refund
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="16347" id="16347" disabled="">
                                <label for="16347">
                                    <i class="icon icon_radio"></i>
                                    B. A replacement is on back order
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="16348" id="16348" disabled="">
                                <label for="16348">
                                    <i class="icon icon_radio"></i>
                                    C. Tracking your order is easy
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="16349" id="16349" disabled="">
                                <label for="16349">
                                    <i class="icon icon_radio"></i>
                                    D. We will answer your question soon
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>132. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="131" value="16350" id="16350" disabled="">
                                <label for="16350">
                                    <i class="icon icon_radio"></i>
                                    A. invited
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="16351" id="16351" disabled="">
                                <label for="16351">
                                    <i class="icon icon_radio"></i>
                                    B. invite
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="16352" id="16352" disabled="">
                                <label for="16352">
                                    <i class="icon icon_radio"></i>
                                    C. were inviting
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="16353" id="16353" disabled="">
                                <label for="16353">
                                    <i class="icon icon_radio"></i>
                                    D. have invited
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>133. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="132" value="16354" id="16354" disabled="">
                                <label for="16354">
                                    <i class="icon icon_radio"></i>
                                    A. able
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="16355" id="16355" disabled="">
                                <label for="16355">
                                    <i class="icon icon_radio"></i>
                                    B. skillful
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="16356" id="16356" disabled="">
                                <label for="16356">
                                    <i class="icon icon_radio"></i>
                                    C. suitable
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="16357" id="16357" disabled="">
                                <label for="16357">
                                    <i class="icon icon_radio"></i>
                                    D. equal
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>134. __(4)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="133" value="16358" id="16358" disabled="">
                                <label for="16358">
                                    <i class="icon icon_radio"></i>
                                    A. publication
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="16359" id="16359" disabled="">
                                <label for="16359">
                                    <i class="icon icon_radio"></i>
                                    B. production
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="16360" id="16360" disabled="">
                                <label for="16360">
                                    <i class="icon icon_radio"></i>
                                    C. introduction
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="16361" id="16361" disabled="">
                                <label for="16361">
                                    <i class="icon icon_radio"></i>
                                    D. completion
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=0"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>