<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 135 - 138 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p>Conference Room 120 can be booked for meetings and conference calls. First, make a reservation
                    request online at www.gzpoffice.com/confroom. When your request __(1)__ , the system automatically
                    checks for availability. Your request will
                    be accepted if no other event is scheduled at that time. The system will then immediately send you
                    an a-mall message to __(2)__ your reservation. However, if another meeting is scheduled that
                    conflicts with yours, you will be notified
                    that the request has been declined. __(3)__ . It is therefore __(4)__ that you schedule your event
                    well ahead of time. This way, if a given time slot is already reserved, you will be able to
                    reschedule your meeting.&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=1" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>135. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="134" value="16362" id="16362" disabled="">
                                <label for="16362">
                                    <i class="icon icon_radio"></i>
                                    A. is received
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="16363" id="16363" disabled="">
                                <label for="16363">
                                    <i class="icon icon_radio"></i>
                                    B. receiving
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="16364" id="16364" disabled="">
                                <label for="16364">
                                    <i class="icon icon_radio"></i>
                                    C. to receive
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="16365" id="16365" disabled="">
                                <label for="16365">
                                    <i class="icon icon_radio"></i>
                                    D. received
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>136. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="135" value="16366" id="16366" disabled="">
                                <label for="16366">
                                    <i class="icon icon_radio"></i>
                                    A. move
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="16367" id="16367" disabled="">
                                <label for="16367">
                                    <i class="icon icon_radio"></i>
                                    B. cancel
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="16368" id="16368" disabled="">
                                <label for="16368">
                                    <i class="icon icon_radio"></i>
                                    C. change
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="16369" id="16369" disabled="">
                                <label for="16369">
                                    <i class="icon icon_radio"></i>
                                    D. confirm
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>137. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="136" value="16370" id="16370" disabled="">
                                <label for="16370">
                                    <i class="icon icon_radio"></i>
                                    A. Thank you for accepting our invitation to the event
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="16371" id="16371" disabled="">
                                <label for="16371">
                                    <i class="icon icon_radio"></i>
                                    B. Please prepare discussion points before the meeting
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="16372" id="16372" disabled="">
                                <label for="16372">
                                    <i class="icon icon_radio"></i>
                                    C. Note that reservations are on a first come, first served basis
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="16373" id="16373" disabled="">
                                <label for="16373">
                                    <i class="icon icon_radio"></i>
                                    D. The time of the next meeting will be announced in due course
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>138. __(4)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="137" value="16374" id="16374" disabled="">
                                <label for="16374">
                                    <i class="icon icon_radio"></i>
                                    A. fortunate
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="16375" id="16375" disabled="">
                                <label for="16375">
                                    <i class="icon icon_radio"></i>
                                    B. advisable
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="16376" id="16376" disabled="">
                                <label for="16376">
                                    <i class="icon icon_radio"></i>
                                    C. previous
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="16377" id="16377" disabled="">
                                <label for="16377">
                                    <i class="icon icon_radio"></i>
                                    D. flexible
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=1"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>