<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 139 - 142 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p>From: Karel Authier &lt;k.authier@codetouchmag.com&gt;&nbsp;<br> To: Honorato Quinones
                    &lt;quincnes@voyacon.com.es&gt;<br> Date: Tuesday, July 18 11:04 A.M.<br> Subject Voyacon
                    Feature&nbsp;</p>

                <p>Dear Mr. Quinones:</p>

                <p>I am delighted to inform you that Voyacon has been selected as one of this year's Code Touch
                    Magazine's Top 25 Emerging Technology Firms. We will be __(1)__&nbsp;your company in our September
                    issue. This is considered a great honor by
                    our readers, as our list includes only __(2)__ that advance the industry in significant
                    ways.&nbsp;<br> As Voyacon's founder, could you e-mail us a digital photograph of yourself to use in
                    the article? __(3)__ We would need to receive
                    it __(4)__ August 5. Otherwise, we will use a public-domain photo. Thanks for your help, and
                    congratulations.</p>

                <p>Sincerely,&nbsp;</p>

                <p>Karel Authier<br> Editor-in-Chief&nbsp;
                    <br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>139. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="138" value="16378" id="16378" disabled="">
                                <label for="16378">
                                    <i class="icon icon_radio"></i>
                                    A. profile
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="16379" id="16379" disabled="">
                                <label for="16379">
                                    <i class="icon icon_radio"></i>
                                    B. profiling
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="16380" id="16380" disabled="">
                                <label for="16380">
                                    <i class="icon icon_radio"></i>
                                    C. profiles
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="16381" id="16381" disabled="">
                                <label for="16381">
                                    <i class="icon icon_radio"></i>
                                    D. profiled
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>140. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="139" value="16382" id="16382" disabled="">
                                <label for="16382">
                                    <i class="icon icon_radio"></i>
                                    A. publications
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="16383" id="16383" disabled="">
                                <label for="16383">
                                    <i class="icon icon_radio"></i>
                                    B. machines
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="16384" id="16384" disabled="">
                                <label for="16384">
                                    <i class="icon icon_radio"></i>
                                    C. techniques
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="16385" id="16385" disabled="">
                                <label for="16385">
                                    <i class="icon icon_radio"></i>
                                    D. enterprises
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>141. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="16386" id="16386" disabled="">
                                <label for="16386">
                                    <i class="icon icon_radio"></i>
                                    A. Hundreds of companies were initially considered
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="16387" id="16387" disabled="">
                                <label for="16387">
                                    <i class="icon icon_radio"></i>
                                    B. We will forward several copies as soon as possible
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="16388" id="16388" disabled="">
                                <label for="16388">
                                    <i class="icon icon_radio"></i>
                                    C. The is the fifth year we will be publishing this list
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="16389" id="16389" disabled="">
                                <label for="16389">
                                    <i class="icon icon_radio"></i>
                                    D. It should be a high-resolution, full-color image
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(4)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="16390" id="16390" disabled="">
                                <label for="16390">
                                    <i class="icon icon_radio"></i>
                                    A. by
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="16391" id="16391" disabled="">
                                <label for="16391">
                                    <i class="icon icon_radio"></i>
                                    B. at
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="16392" id="16392" disabled="">
                                <label for="16392">
                                    <i class="icon icon_radio"></i>
                                    C. within
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="16393" id="16393" disabled="">
                                <label for="16393">
                                    <i class="icon icon_radio"></i>
                                    D. among
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=2"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>