<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 143 - 146 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p>To: All Employees<br> From: Carmen Phelps, Central City Museum Director<br> Re: Special Exhibitions
                    Curator<br> Date: November 15</p>

                <p>To All Staff,</p>

                <p>Please note that an advertisement will be placed in this Wednesday's newspaper regarding a new
                    position at the Central City Museum. After the __(1)__ of Bloom Outside the Box, our recent
                    exhibition showcasing the artwork of local sculptor
                    Leanne Bloom, the museum board has deeded to allocate a new position dedicated to creating new
                    quarterly exhibitions. The position title Is Special Exhibitions Curator. The successful applicant
                    __(2)__ work on January 2.</p>

                <p>__(3)__ Proven knowledge of local and regional artists is preferred. __(4)__ museum staff are
                    encouraged to apply. Please contact&nbsp;Liliana Wells at extension 449 with questions.</p>

                <p>Thank you.<br> Carmen
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=3" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>143. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="16394" id="16394" disabled="">
                                <label for="16394">
                                    <i class="icon icon_radio"></i>
                                    A. popularity
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="16395" id="16395" disabled="">
                                <label for="16395">
                                    <i class="icon icon_radio"></i>
                                    B. winner
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="16396" id="16396" disabled="">
                                <label for="16396">
                                    <i class="icon icon_radio"></i>
                                    C. goal
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="16397" id="16397" disabled="">
                                <label for="16397">
                                    <i class="icon icon_radio"></i>
                                    D. awareness
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>144. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="16398" id="16398" disabled="">
                                <label for="16398">
                                    <i class="icon icon_radio"></i>
                                    A. started
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="16399" id="16399" disabled="">
                                <label for="16399">
                                    <i class="icon icon_radio"></i>
                                    B. will start
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="16400" id="16400" disabled="">
                                <label for="16400">
                                    <i class="icon icon_radio"></i>
                                    C. has started
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="16401" id="16401" disabled="">
                                <label for="16401">
                                    <i class="icon icon_radio"></i>
                                    D. was starting
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="16402" id="16402" disabled="">
                                <label for="16402">
                                    <i class="icon icon_radio"></i>
                                    A. Board nominations close at the end of the day on Friday
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="16403" id="16403" disabled="">
                                <label for="16403">
                                    <i class="icon icon_radio"></i>
                                    B. Critic Tony Watanabe gave the exhibition a five-star review
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="16404" id="16404" disabled="">
                                <label for="16404">
                                    <i class="icon icon_radio"></i>
                                    C. The position requires extensive experience
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="16405" id="16405" disabled="">
                                <label for="16405">
                                    <i class="icon icon_radio"></i>
                                    D. We look forward to hosting this event
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(4)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="16406" id="16406" disabled="">
                                <label for="16406">
                                    <i class="icon icon_radio"></i>
                                    A. Expressed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="16407" id="16407" disabled="">
                                <label for="16407">
                                    <i class="icon icon_radio"></i>
                                    B. Observed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="16408" id="16408" disabled="">
                                <label for="16408">
                                    <i class="icon icon_radio"></i>
                                    C. Depended
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="16409" id="16409" disabled="">
                                <label for="16409">
                                    <i class="icon icon_radio"></i>
                                    D. Qualified
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=3"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>