<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=5">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>101. If you want to have a successful interview you must make a good ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="100" value="4097" id="4097" disabled="">
                        <label for="4097">
                            <i class="icon icon_radio"></i>
                            A. impatience
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4098" id="4098" disabled="">
                        <label for="4098">
                            <i class="icon icon_radio"></i>
                            B. implication
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4099" id="4099" disabled="">
                        <label for="4099">
                            <i class="icon icon_radio"></i>
                            C. impression
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4100" id="4100" disabled="">
                        <label for="4100">
                            <i class="icon icon_radio"></i>
                            D. inspiration
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>102. Tim was always helpful and cheerful with customers; ____ , he was declared employee of the month</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="101" value="4101" id="4101" disabled="">
                        <label for="4101">
                            <i class="icon icon_radio"></i>
                            A. nevertheless
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4102" id="4102" disabled="">
                        <label for="4102">
                            <i class="icon icon_radio"></i>
                            B. therefore
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4103" id="4103" disabled="">
                        <label for="4103">
                            <i class="icon icon_radio"></i>
                            C. however
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4104" id="4104" disabled="">
                        <label for="4104">
                            <i class="icon icon_radio"></i>
                            D. because
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>103. Lea did a ____ job on the advertising campaign; she didn't miss a single detail</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="102" value="4105" id="4105" disabled="">
                        <label for="4105">
                            <i class="icon icon_radio"></i>
                            A. through
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4106" id="4106" disabled="">
                        <label for="4106">
                            <i class="icon icon_radio"></i>
                            B. swift
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4107" id="4107" disabled="">
                        <label for="4107">
                            <i class="icon icon_radio"></i>
                            C. thorough
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4108" id="4108" disabled="">
                        <label for="4108">
                            <i class="icon icon_radio"></i>
                            D. detailing
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>104. Maureen gave a talk when ____ the conference last week</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="103" value="4109" id="4109" disabled="">
                        <label for="4109">
                            <i class="icon icon_radio"></i>
                            A. she attended
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4110" id="4110" disabled="">
                        <label for="4110">
                            <i class="icon icon_radio"></i>
                            B. was attending
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4111" id="4111" disabled="">
                        <label for="4111">
                            <i class="icon icon_radio"></i>
                            C. attended
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4112" id="4112" disabled="">
                        <label for="4112">
                            <i class="icon icon_radio"></i>
                            D. she had attended
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>105. His first novel was ____ by a story he heard from his grandmother</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="104" value="4113" id="4113" disabled="">
                        <label for="4113">
                            <i class="icon icon_radio"></i>
                            A. acquired
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4114" id="4114" disabled="">
                        <label for="4114">
                            <i class="icon icon_radio"></i>
                            B. indicated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4115" id="4115" disabled="">
                        <label for="4115">
                            <i class="icon icon_radio"></i>
                            C. applied
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4116" id="4116" disabled="">
                        <label for="4116">
                            <i class="icon icon_radio"></i>
                            D. inspired
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>106. One of the main reasons people attend conferences is for the ____ opportunities</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="105" value="4117" id="4117" disabled="">
                        <label for="4117">
                            <i class="icon icon_radio"></i>
                            A. greeting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4118" id="4118" disabled="">
                        <label for="4118">
                            <i class="icon icon_radio"></i>
                            B. partnering
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4119" id="4119" disabled="">
                        <label for="4119">
                            <i class="icon icon_radio"></i>
                            C. networking
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4120" id="4120" disabled="">
                        <label for="4120">
                            <i class="icon icon_radio"></i>
                            D. programming
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>107. ____ hard work is important, so it spending time with family and friends</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="106" value="4121" id="4121" disabled="">
                        <label for="4121">
                            <i class="icon icon_radio"></i>
                            A. Since
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4122" id="4122" disabled="">
                        <label for="4122">
                            <i class="icon icon_radio"></i>
                            B. Likewise
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4123" id="4123" disabled="">
                        <label for="4123">
                            <i class="icon icon_radio"></i>
                            C. In spite
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4124" id="4124" disabled="">
                        <label for="4124">
                            <i class="icon icon_radio"></i>
                            D. While
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>108. The ____ opinion of the delegates was that the conference was a great success</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="107" value="4125" id="4125" disabled="">
                        <label for="4125">
                            <i class="icon icon_radio"></i>
                            A. collect
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4126" id="4126" disabled="">
                        <label for="4126">
                            <i class="icon icon_radio"></i>
                            B. collected
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4127" id="4127" disabled="">
                        <label for="4127">
                            <i class="icon icon_radio"></i>
                            C. collective
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4128" id="4128" disabled="">
                        <label for="4128">
                            <i class="icon icon_radio"></i>
                            D. collecting
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>109. Did you hear that Mr. Richards proposed ____ corporate strategy at the meeting yesterday?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="108" value="4129" id="4129" disabled="">
                        <label for="4129">
                            <i class="icon icon_radio"></i>
                            A. a whole new
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4130" id="4130" disabled="">
                        <label for="4130">
                            <i class="icon icon_radio"></i>
                            B. a new all
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4131" id="4131" disabled="">
                        <label for="4131">
                            <i class="icon icon_radio"></i>
                            C. wholly new
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4132" id="4132" disabled="">
                        <label for="4132">
                            <i class="icon icon_radio"></i>
                            D. a new wholly
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>110. In regard ____ your enquiry, we have no vacancies at this time</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="109" value="4133" id="4133" disabled="">
                        <label for="4133">
                            <i class="icon icon_radio"></i>
                            A. about
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4134" id="4134" disabled="">
                        <label for="4134">
                            <i class="icon icon_radio"></i>
                            B. from
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4135" id="4135" disabled="">
                        <label for="4135">
                            <i class="icon icon_radio"></i>
                            C. with
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4136" id="4136" disabled="">
                        <label for="4136">
                            <i class="icon icon_radio"></i>
                            D. to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>111. Trevor chose to be a lawyer because he likes the ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="110" value="4137" id="4137" disabled="">
                        <label for="4137">
                            <i class="icon icon_radio"></i>
                            A. adversity
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4138" id="4138" disabled="">
                        <label for="4138">
                            <i class="icon icon_radio"></i>
                            B. struggle
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4139" id="4139" disabled="">
                        <label for="4139">
                            <i class="icon icon_radio"></i>
                            C. tribulation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4140" id="4140" disabled="">
                        <label for="4140">
                            <i class="icon icon_radio"></i>
                            D. challenge
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>112. All parties were happy with the results of the meeting because it was a ____ situation</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="111" value="4141" id="4141" disabled="">
                        <label for="4141">
                            <i class="icon icon_radio"></i>
                            A. win-win
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4142" id="4142" disabled="">
                        <label for="4142">
                            <i class="icon icon_radio"></i>
                            B. no-win
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4143" id="4143" disabled="">
                        <label for="4143">
                            <i class="icon icon_radio"></i>
                            C. win-lose
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4144" id="4144" disabled="">
                        <label for="4144">
                            <i class="icon icon_radio"></i>
                            D. lose-lose
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>113. Some say the light bulb was the most significant ____ in history</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="112" value="4145" id="4145" disabled="">
                        <label for="4145">
                            <i class="icon icon_radio"></i>
                            A. innovation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4146" id="4146" disabled="">
                        <label for="4146">
                            <i class="icon icon_radio"></i>
                            B. inspiration
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4147" id="4147" disabled="">
                        <label for="4147">
                            <i class="icon icon_radio"></i>
                            C. implication
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4148" id="4148" disabled="">
                        <label for="4148">
                            <i class="icon icon_radio"></i>
                            D. instigation
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>114. The goals of the two CEOs were different so it was not easy for them to reach a(n) ____ which they were both happy with</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="113" value="4149" id="4149" disabled="">
                        <label for="4149">
                            <i class="icon icon_radio"></i>
                            A. dialogue
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4150" id="4150" disabled="">
                        <label for="4150">
                            <i class="icon icon_radio"></i>
                            B. compromise
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4151" id="4151" disabled="">
                        <label for="4151">
                            <i class="icon icon_radio"></i>
                            C. negotiation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4152" id="4152" disabled="">
                        <label for="4152">
                            <i class="icon icon_radio"></i>
                            D. obligation
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>115. I thought Louise ____ here this afternoon. Where is she?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="114" value="4153" id="4153" disabled="">
                        <label for="4153">
                            <i class="icon icon_radio"></i>
                            A. is
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4154" id="4154" disabled="">
                        <label for="4154">
                            <i class="icon icon_radio"></i>
                            B. was being
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4155" id="4155" disabled="">
                        <label for="4155">
                            <i class="icon icon_radio"></i>
                            C. would be
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4156" id="4156" disabled="">
                        <label for="4156">
                            <i class="icon icon_radio"></i>
                            D. will be
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>116. After making some changes, both the ____ and the profits of the company increased</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="115" value="4157" id="4157" disabled="">
                        <label for="4157">
                            <i class="icon icon_radio"></i>
                            A. productivity
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4158" id="4158" disabled="">
                        <label for="4158">
                            <i class="icon icon_radio"></i>
                            B. producers
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4159" id="4159" disabled="">
                        <label for="4159">
                            <i class="icon icon_radio"></i>
                            C. producing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4160" id="4160" disabled="">
                        <label for="4160">
                            <i class="icon icon_radio"></i>
                            D. product
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>117. This factory has the ____ to produce 10.000 television sets per year</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="116" value="4161" id="4161" disabled="">
                        <label for="4161">
                            <i class="icon icon_radio"></i>
                            A. skill
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4162" id="4162" disabled="">
                        <label for="4162">
                            <i class="icon icon_radio"></i>
                            B. infrastructure
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4163" id="4163" disabled="">
                        <label for="4163">
                            <i class="icon icon_radio"></i>
                            C. capacity
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4164" id="4164" disabled="">
                        <label for="4164">
                            <i class="icon icon_radio"></i>
                            D. pace
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>118. I ____ to inform you that your application for the job has not been successful</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="117" value="4165" id="4165" disabled="">
                        <label for="4165">
                            <i class="icon icon_radio"></i>
                            A. scorn
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4166" id="4166" disabled="">
                        <label for="4166">
                            <i class="icon icon_radio"></i>
                            B. hesitate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4167" id="4167" disabled="">
                        <label for="4167">
                            <i class="icon icon_radio"></i>
                            C. regret
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4168" id="4168" disabled="">
                        <label for="4168">
                            <i class="icon icon_radio"></i>
                            D. grieve
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>119. I would suggest you ____ with personnel before buying the plane ticket</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="118" value="4169" id="4169" disabled="">
                        <label for="4169">
                            <i class="icon icon_radio"></i>
                            A. have checked
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4170" id="4170" disabled="">
                        <label for="4170">
                            <i class="icon icon_radio"></i>
                            B. checking
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4171" id="4171" disabled="">
                        <label for="4171">
                            <i class="icon icon_radio"></i>
                            C. checked
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4172" id="4172" disabled="">
                        <label for="4172">
                            <i class="icon icon_radio"></i>
                            D. check
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>120. Leila is ____ ; I know she will rise to the top quickly</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="119" value="4173" id="4173" disabled="">
                        <label for="4173">
                            <i class="icon icon_radio"></i>
                            A. ambitious
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4174" id="4174" disabled="">
                        <label for="4174">
                            <i class="icon icon_radio"></i>
                            B. advantageous
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4175" id="4175" disabled="">
                        <label for="4175">
                            <i class="icon icon_radio"></i>
                            C. ambiguous
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4176" id="4176" disabled="">
                        <label for="4176">
                            <i class="icon icon_radio"></i>
                            D. ambidextrous
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>121. After ____ a nice lunch, Bob felt like taking a nap</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="120" value="4177" id="4177" disabled="">
                        <label for="4177">
                            <i class="icon icon_radio"></i>
                            A. has had
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4178" id="4178" disabled="">
                        <label for="4178">
                            <i class="icon icon_radio"></i>
                            B. he was having
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4179" id="4179" disabled="">
                        <label for="4179">
                            <i class="icon icon_radio"></i>
                            C. having
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4180" id="4180" disabled="">
                        <label for="4180">
                            <i class="icon icon_radio"></i>
                            D. he has
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>122. Having worked for ten years as an accountant, Tom suffered a ____ and decided to change careers</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="121" value="4181" id="4181" disabled="">
                        <label for="4181">
                            <i class="icon icon_radio"></i>
                            A. breakthrough
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4182" id="4182" disabled="">
                        <label for="4182">
                            <i class="icon icon_radio"></i>
                            B. burnout
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4183" id="4183" disabled="">
                        <label for="4183">
                            <i class="icon icon_radio"></i>
                            C. breakout
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4184" id="4184" disabled="">
                        <label for="4184">
                            <i class="icon icon_radio"></i>
                            D. blackout
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>123. Robert is always smiley and ____ when he first meets someone</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="122" value="4185" id="4185" disabled="">
                        <label for="4185">
                            <i class="icon icon_radio"></i>
                            A. cheering
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4186" id="4186" disabled="">
                        <label for="4186">
                            <i class="icon icon_radio"></i>
                            B. cheers
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4187" id="4187" disabled="">
                        <label for="4187">
                            <i class="icon icon_radio"></i>
                            C. cheerful
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4188" id="4188" disabled="">
                        <label for="4188">
                            <i class="icon icon_radio"></i>
                            D. cheer up
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>124. It proved to be Lisa's big ____ when her photographs were discovered by the advertising agency</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="123" value="4189" id="4189" disabled="">
                        <label for="4189">
                            <i class="icon icon_radio"></i>
                            A. bounce
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4190" id="4190" disabled="">
                        <label for="4190">
                            <i class="icon icon_radio"></i>
                            B. benefit
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4191" id="4191" disabled="">
                        <label for="4191">
                            <i class="icon icon_radio"></i>
                            C. break
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4192" id="4192" disabled="">
                        <label for="4192">
                            <i class="icon icon_radio"></i>
                            D. bomb
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>125. I specifically asked you ____ here by 8am! What is your excuse this time?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="124" value="4193" id="4193" disabled="">
                        <label for="4193">
                            <i class="icon icon_radio"></i>
                            A. to be
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4194" id="4194" disabled="">
                        <label for="4194">
                            <i class="icon icon_radio"></i>
                            B. would be
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4195" id="4195" disabled="">
                        <label for="4195">
                            <i class="icon icon_radio"></i>
                            C. are
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4196" id="4196" disabled="">
                        <label for="4196">
                            <i class="icon icon_radio"></i>
                            D. being
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>126. The security guard was made ____ when the bank installed a high tech new alarm system</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="125" value="4197" id="4197" disabled="">
                        <label for="4197">
                            <i class="icon icon_radio"></i>
                            A. reduntant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4198" id="4198" disabled="">
                        <label for="4198">
                            <i class="icon icon_radio"></i>
                            B. surplus
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4199" id="4199" disabled="">
                        <label for="4199">
                            <i class="icon icon_radio"></i>
                            C. excessive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4200" id="4200" disabled="">
                        <label for="4200">
                            <i class="icon icon_radio"></i>
                            D. retiree
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>127. Jennifer was one of only three candidates ____ for an interview</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="126" value="4201" id="4201" disabled="">
                        <label for="4201">
                            <i class="icon icon_radio"></i>
                            A. offered
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4202" id="4202" disabled="">
                        <label for="4202">
                            <i class="icon icon_radio"></i>
                            B. employed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4203" id="4203" disabled="">
                        <label for="4203">
                            <i class="icon icon_radio"></i>
                            C. invited
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4204" id="4204" disabled="">
                        <label for="4204">
                            <i class="icon icon_radio"></i>
                            D. hired
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>128. The first aid seminar is ____ ; you must attend</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="127" value="4205" id="4205" disabled="">
                        <label for="4205">
                            <i class="icon icon_radio"></i>
                            A. obligated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4206" id="4206" disabled="">
                        <label for="4206">
                            <i class="icon icon_radio"></i>
                            B. obligation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4207" id="4207" disabled="">
                        <label for="4207">
                            <i class="icon icon_radio"></i>
                            C. obligatory
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4208" id="4208" disabled="">
                        <label for="4208">
                            <i class="icon icon_radio"></i>
                            D. obliging
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>129. Alexander is a superb architect but his ____ are rather high so we gave the job to someone else</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="128" value="4209" id="4209" disabled="">
                        <label for="4209">
                            <i class="icon icon_radio"></i>
                            A. salary
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4210" id="4210" disabled="">
                        <label for="4210">
                            <i class="icon icon_radio"></i>
                            B. costs
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4211" id="4211" disabled="">
                        <label for="4211">
                            <i class="icon icon_radio"></i>
                            C. dues
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4212" id="4212" disabled="">
                        <label for="4212">
                            <i class="icon icon_radio"></i>
                            D. fees
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>130. It was ____ of Judy to quit her job because she will probably be sorry later</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="129" value="4213" id="4213" disabled="">
                        <label for="4213">
                            <i class="icon icon_radio"></i>
                            A. rash
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4214" id="4214" disabled="">
                        <label for="4214">
                            <i class="icon icon_radio"></i>
                            B. negligent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4215" id="4215" disabled="">
                        <label for="4215">
                            <i class="icon icon_radio"></i>
                            C. handy
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4216" id="4216" disabled="">
                        <label for="4216">
                            <i class="icon icon_radio"></i>
                            D. inconsiderate
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>131. In the long term, property can be an excellent ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="130" value="4217" id="4217" disabled="">
                        <label for="4217">
                            <i class="icon icon_radio"></i>
                            A. purchase
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4218" id="4218" disabled="">
                        <label for="4218">
                            <i class="icon icon_radio"></i>
                            B. investment
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4219" id="4219" disabled="">
                        <label for="4219">
                            <i class="icon icon_radio"></i>
                            C. inclination
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4220" id="4220" disabled="">
                        <label for="4220">
                            <i class="icon icon_radio"></i>
                            D. profit
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>132. If ____ Bob nor Julie have the file it must truly be lost</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="131" value="4221" id="4221" disabled="">
                        <label for="4221">
                            <i class="icon icon_radio"></i>
                            A. neither
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4222" id="4222" disabled="">
                        <label for="4222">
                            <i class="icon icon_radio"></i>
                            B. either
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4223" id="4223" disabled="">
                        <label for="4223">
                            <i class="icon icon_radio"></i>
                            C. rather
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4224" id="4224" disabled="">
                        <label for="4224">
                            <i class="icon icon_radio"></i>
                            D. other
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>133. The theory supply and demand is ____ to our business strategy</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="132" value="4225" id="4225" disabled="">
                        <label for="4225">
                            <i class="icon icon_radio"></i>
                            A. neutral
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4226" id="4226" disabled="">
                        <label for="4226">
                            <i class="icon icon_radio"></i>
                            B. central
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4227" id="4227" disabled="">
                        <label for="4227">
                            <i class="icon icon_radio"></i>
                            C. subsequent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4228" id="4228" disabled="">
                        <label for="4228">
                            <i class="icon icon_radio"></i>
                            D. excessive
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>134. I hope by this next week the whole project ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="133" value="4229" id="4229" disabled="">
                        <label for="4229">
                            <i class="icon icon_radio"></i>
                            A. completes
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4230" id="4230" disabled="">
                        <label for="4230">
                            <i class="icon icon_radio"></i>
                            B. will complete
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4231" id="4231" disabled="">
                        <label for="4231">
                            <i class="icon icon_radio"></i>
                            C. is completed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4232" id="4232" disabled="">
                        <label for="4232">
                            <i class="icon icon_radio"></i>
                            D. will be completed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>135. We had to call in an expert because the manual for the new software made no ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="134" value="4233" id="4233" disabled="">
                        <label for="4233">
                            <i class="icon icon_radio"></i>
                            A. sense
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4234" id="4234" disabled="">
                        <label for="4234">
                            <i class="icon icon_radio"></i>
                            B. nonsense
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4235" id="4235" disabled="">
                        <label for="4235">
                            <i class="icon icon_radio"></i>
                            C. logic
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4236" id="4236" disabled="">
                        <label for="4236">
                            <i class="icon icon_radio"></i>
                            D. use
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>136. It is critical that you are ____ time for the flight</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="135" value="4237" id="4237" disabled="">
                        <label for="4237">
                            <i class="icon icon_radio"></i>
                            A. at the
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4238" id="4238" disabled="">
                        <label for="4238">
                            <i class="icon icon_radio"></i>
                            B. on
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4239" id="4239" disabled="">
                        <label for="4239">
                            <i class="icon icon_radio"></i>
                            C. by the
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4240" id="4240" disabled="">
                        <label for="4240">
                            <i class="icon icon_radio"></i>
                            D. with
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>137. Did Mrs. Smith ____ anything about the new client?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="136" value="4241" id="4241" disabled="">
                        <label for="4241">
                            <i class="icon icon_radio"></i>
                            A. mention
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4242" id="4242" disabled="">
                        <label for="4242">
                            <i class="icon icon_radio"></i>
                            B. argue
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4243" id="4243" disabled="">
                        <label for="4243">
                            <i class="icon icon_radio"></i>
                            C. discuss
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4244" id="4244" disabled="">
                        <label for="4244">
                            <i class="icon icon_radio"></i>
                            D. reason
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>138. Would you ____ working with Chemco even though they manufacture pesticides?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="137" value="4245" id="4245" disabled="">
                        <label for="4245">
                            <i class="icon icon_radio"></i>
                            A. contradict
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4246" id="4246" disabled="">
                        <label for="4246">
                            <i class="icon icon_radio"></i>
                            B. condescend
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4247" id="4247" disabled="">
                        <label for="4247">
                            <i class="icon icon_radio"></i>
                            C. condent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4248" id="4248" disabled="">
                        <label for="4248">
                            <i class="icon icon_radio"></i>
                            D. consider
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>139. You ____ take the bills to the post office; I'll do it tomorrow morning</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="138" value="4249" id="4249" disabled="">
                        <label for="4249">
                            <i class="icon icon_radio"></i>
                            A. couldn't
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4250" id="4250" disabled="">
                        <label for="4250">
                            <i class="icon icon_radio"></i>
                            B. should
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4251" id="4251" disabled="">
                        <label for="4251">
                            <i class="icon icon_radio"></i>
                            C. needn't
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4252" id="4252" disabled="">
                        <label for="4252">
                            <i class="icon icon_radio"></i>
                            D. might
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>140. What is the safety ____ in case of fire?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="139" value="4253" id="4253" disabled="">
                        <label for="4253">
                            <i class="icon icon_radio"></i>
                            A. procedure
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4254" id="4254" disabled="">
                        <label for="4254">
                            <i class="icon icon_radio"></i>
                            B. protocol
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4255" id="4255" disabled="">
                        <label for="4255">
                            <i class="icon icon_radio"></i>
                            C. behavior
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4256" id="4256" disabled="">
                        <label for="4256">
                            <i class="icon icon_radio"></i>
                            D. benchmark
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>