<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 157 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>Victoria Conference Centre</strong></p>

                                <p style="text-align:center"><strong>SHARE IDEAS, BE INSPIRED</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">In the heart of
                                    downtown Victoria, British Columbia, by the spectacular Inner Harbour is the
                                    Victoria Conference Centre; a bright modern and technically advanced meeting place
                                    that is most inviting&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The average size of
                                    the conferences we host is 450-1,000 delegates. However, we have hosted groups as
                                    large as 2,500 delegates. Since conferences have distinct design and function space
                                    requirements, defining a "maximum"&nbsp;size is truly dependent on the event. We
                                    work to make the space fit your conference program. We are creative thinkers and
                                    enjoy working closely with clients to fashion the perfect venue.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>May 18<br>
                                        Mary Ann Fisher<br>
                                        34 Victoria Street<br>
                                        Bristol, UK&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Dear Mc Fisher,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thank you for your
                                    enquiry about our company, <em>Tourism Victoria</em>. I am&nbsp;delighted to hear
                                    you have chosen our city to host your conference. Let me tell you a little about
                                    what our company can offer you.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">We con plan special
                                    events, entertainment and excursions such as eco-adventures, symphony concerts end
                                    tours, for your delegates. We'll be happy to provide you with information on how to
                                    arrange pre- end post-event activities to suit your needs.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Tourism Victoria can
                                    also assist in promoting your organization's conference to stimulate delegate
                                    attendance with brochures and lure pieces. We'II act as liaison between our 900-plus
                                    member businesses and your planning committee.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I have enclosed an
                                    information leaflet on the Victoria Conference Center, which I highly recommend as a
                                    venue for your conference.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Please contact me
                                    If&nbsp;you have any questions.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Bob Whitehall<br>
                                    Marketing<br>
                                    Tourism Victoria,&nbsp;Canada&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>153. What is the purpose of the leaflet?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="579" id="579" disabled="">
                                <label for="579">
                                    <i class="icon icon_radio"></i>
                                    A. to educate people
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="580" id="580" disabled="">
                                <label for="580">
                                    <i class="icon icon_radio"></i>
                                    B. to promote something
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="581" id="581" disabled="">
                                <label for="581">
                                    <i class="icon icon_radio"></i>
                                    C. it is an invitation
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="582" id="582" disabled="">
                                <label for="582">
                                    <i class="icon icon_radio"></i>
                                    D. it is a coupon
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. What is true of the letter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="583" id="583" disabled="">
                                <label for="583">
                                    <i class="icon icon_radio"></i>
                                    A. It was unsolicited
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="584" id="584" disabled="">
                                <label for="584">
                                    <i class="icon icon_radio"></i>
                                    B. It answers an enquiry
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="585" id="585" disabled="">
                                <label for="585">
                                    <i class="icon icon_radio"></i>
                                    C. It follows a purchase
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="586" id="586" disabled="">
                                <label for="586">
                                    <i class="icon icon_radio"></i>
                                    D. It requests a service
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>155. What has been decided for sure by Ms Fisher?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="587" id="587" disabled="">
                                <label for="587">
                                    <i class="icon icon_radio"></i>
                                    A. She will work with Tourism Victoria
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="588" id="588" disabled="">
                                <label for="588">
                                    <i class="icon icon_radio"></i>
                                    B. She will have a conference in the city of Victoria
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="589" id="589" disabled="">
                                <label for="589">
                                    <i class="icon icon_radio"></i>
                                    C. She will hold the conference at the Victoria Conference Center
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="590" id="590" disabled="">
                                <label for="590">
                                    <i class="icon icon_radio"></i>
                                    D. She will arrange an eco-adventure
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>156. Where is the Victoria Conference Center located?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="591" id="591" disabled="">
                                <label for="591">
                                    <i class="icon icon_radio"></i>
                                    A. in the downtown area
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="592" id="592" disabled="">
                                <label for="592">
                                    <i class="icon icon_radio"></i>
                                    B. near the downtown area
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="593" id="593" disabled="">
                                <label for="593">
                                    <i class="icon icon_radio"></i>
                                    C. by the sea, outside town
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="594" id="594" disabled="">
                                <label for="594">
                                    <i class="icon icon_radio"></i>
                                    D. 900 meters from the town
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. Where is Ms. Fisher from?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="595" id="595" disabled="">
                                <label for="595">
                                    <i class="icon icon_radio"></i>
                                    A. England
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="596" id="596" disabled="">
                                <label for="596">
                                    <i class="icon icon_radio"></i>
                                    B. Canada
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="597" id="597" disabled="">
                                <label for="597">
                                    <i class="icon icon_radio"></i>
                                    C. United States
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="598" id="598" disabled="">
                                <label for="598">
                                    <i class="icon icon_radio"></i>
                                    D. Australia
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>