<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 183 - 185 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>FIRE PROCEDURE </strong></p>

                <p style="text-align:justify"><strong>If you detect FIRE or SMOKE, do this at once: </strong></p>

                <ol>
                    <li style="text-align: justify;">STAY CALM and use common sense</li>
                    <li style="text-align: justify;">Close the door to CONFINE the fire and smoke&nbsp;</li>
                    <li style="text-align: justify;">ACTIVATE THE FIRE ALARM -&nbsp;a small red box located on the well near each exit. Follow the instructions on the alarm.&nbsp;</li>
                    <li style="text-align: justify;">REPORT THE FIRE. Call UAB Police at 911 or use HELP PHONE, identify yourself and tell the dispatcher the exact location of the fire or smoke and what is burning.&nbsp;</li>
                    <li style="text-align: justify;">EVACUATE. All building occupants should proceed to the nearest exit, move away from the building and assemble in a location predetermined by your supervisor. This will provide a quick and easy way to account for all personnel. It is
                        also important that the fire department has clear and unobstructed access to the building.&nbsp;<br> &nbsp;
                    </li>
                </ol>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>183. During a fire, why should you close doors?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="699" id="699" disabled="">
                                <label for="699">
                            <i class="icon icon_radio"></i>
                            A. to demonstrate that you art calm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="700" id="700" disabled="">
                                <label for="700">
                            <i class="icon icon_radio"></i>
                            B. to help facilitate evacuation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="701" id="701" disabled="">
                                <label for="701">
                            <i class="icon icon_radio"></i>
                            C. to give the fire department clear access
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="702" id="702" disabled="">
                                <label for="702">
                            <i class="icon icon_radio"></i>
                            D. to stop the fire from spreading
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>184. What is NOT mentioned as something that you should tell the dispatcher after dialing 911?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="703" id="703" disabled="">
                                <label for="703">
                            <i class="icon icon_radio"></i>
                            A. who you are
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="704" id="704" disabled="">
                                <label for="704">
                            <i class="icon icon_radio"></i>
                            B. where the fire is
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="705" id="705" disabled="">
                                <label for="705">
                            <i class="icon icon_radio"></i>
                            C. what is on fire
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="706" id="706" disabled="">
                                <label for="706">
                            <i class="icon icon_radio"></i>
                            D. how he fire started
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. What should you plan before a fire happens?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="707" id="707" disabled="">
                                <label for="707">
                            <i class="icon icon_radio"></i>
                            A. where to go after evacuating
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="708" id="708" disabled="">
                                <label for="708">
                            <i class="icon icon_radio"></i>
                            B. who is responsible for calling the fire service
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="709" id="709" disabled="">
                                <label for="709">
                            <i class="icon icon_radio"></i>
                            C. how to work the fire alarm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="710" id="710" disabled="">
                                <label for="710">
                            <i class="icon icon_radio"></i>
                            D. what to take with you
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>