<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 186 - 187 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>Jasmine Wilson<br>
12 B 44th Street Apt. 14<br>
New York, NY </strong></p>

                <p style="text-align:justify">Dear Ms. Wilson,&nbsp;</p>

                <p style="text-align:justify">Thank you for your application expressing interest in working with on at the Central Hospital. Unfortunately, we have a&nbsp;full staff of nursing professionals at this time, and there is not an opening available for someone with your
                    skills and qualifications. However. we have put your resume on file, as positions regularly come up.&nbsp;</p>

                <p style="text-align:justify">Thank you again for your interest, and good luck.</p>

                <p style="text-align:justify">Sincerely,<br> Katherine Jones,<br> Hiring and Personnel&nbsp;<br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>186. What did Jasmine Wilson do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="711" id="711" disabled="">
                                <label for="711">
                            <i class="icon icon_radio"></i>
                            A. ask for a job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="712" id="712" disabled="">
                                <label for="712">
                            <i class="icon icon_radio"></i>
                            B. turn down a job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="713" id="713" disabled="">
                                <label for="713">
                            <i class="icon icon_radio"></i>
                            C. accept a job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="714" id="714" disabled="">
                                <label for="714">
                            <i class="icon icon_radio"></i>
                            D. offer a job
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. How often does the Hospital have job openings?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="715" id="715" disabled="">
                                <label for="715">
                            <i class="icon icon_radio"></i>
                            A. never
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="716" id="716" disabled="">
                                <label for="716">
                            <i class="icon icon_radio"></i>
                            B. very rarely
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="717" id="717" disabled="">
                                <label for="717">
                            <i class="icon icon_radio"></i>
                            C. quite often
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="718" id="718" disabled="">
                                <label for="718">
                            <i class="icon icon_radio"></i>
                            D. always
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>