<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 190 - 194 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>ONLINE BANKING COURSE</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">How can you find the he online bank&nbsp;for you? Within the last decade, online banking&nbsp;has&nbsp;exploded in popularity, and revolutionized the industry, but some banks offer better services than others. In this course&nbsp;we
                                    look at some things you should consider when you choose an online bank, including&nbsp;account access, security, online bill paying, account aggregation and fees.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Learn how to use online banking to your advantage.&nbsp;</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Mr. George Woodhouse<br>
74 Meadow lane<br>
San Diego, CA 44613 </strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Dear Mr. Woodhouse,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thank you for your into in our course. Yes, there are still places available. You have two options; we have an intensive weekend course which runs for two weekends in the beginning of September, both Saturday and Sunday
                                    mornings, for 8&nbsp;hours each day, and we also have evening courses that meet from 7 - 9pm on Tuesdays or Thursdays for three months. Both courses cost 900 dollars. The courses are held at the Community College, and
                                    you would need to go there to register.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I would recommend you register as soon as possible as the courses are filling up quickly!</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">If you have further questions, you can call me at 376 330 0524 between 8am&nbsp;and 4pm.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Karen Miller<br> Admissions
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=38" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>190. What does the course teach?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="727" id="727" disabled="">
                                <label for="727">
                            <i class="icon icon_radio"></i>
                            A. how to start an online bank
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="728" id="728" disabled="">
                                <label for="728">
                            <i class="icon icon_radio"></i>
                            B. how to use online banking
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="729" id="729" disabled="">
                                <label for="729">
                            <i class="icon icon_radio"></i>
                            C. how to use the internet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="730" id="730" disabled="">
                                <label for="730">
                            <i class="icon icon_radio"></i>
                            D. how to succeed as a banker
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>191. Why did Mr. Woodhouse contact Karen Miller?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="731" id="731" disabled="">
                                <label for="731">
                            <i class="icon icon_radio"></i>
                            A. to ask for information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="732" id="732" disabled="">
                                <label for="732">
                            <i class="icon icon_radio"></i>
                            B. to answer a question
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="733" id="733" disabled="">
                                <label for="733">
                            <i class="icon icon_radio"></i>
                            C. to register for a course
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="734" id="734" disabled="">
                                <label for="734">
                            <i class="icon icon_radio"></i>
                            D. to set up a bank account
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>192. When could Mr. Woodhouse take the course?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="735" id="735" disabled="">
                                <label for="735">
                            <i class="icon icon_radio"></i>
                            A. Saturday evenings
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="736" id="736" disabled="">
                                <label for="736">
                            <i class="icon icon_radio"></i>
                            B. all day Tuesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="737" id="737" disabled="">
                                <label for="737">
                            <i class="icon icon_radio"></i>
                            C. Thursday evennings
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="738" id="738" disabled="">
                                <label for="738">
                            <i class="icon icon_radio"></i>
                            D. Tuesday mornings
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>193. What is true of the weekend courses?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="739" id="739" disabled="">
                                <label for="739">
                            <i class="icon icon_radio"></i>
                            A. They are cheaper than the evening courses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="740" id="740" disabled="">
                                <label for="740">
                            <i class="icon icon_radio"></i>
                            B. They are full
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="741" id="741" disabled="">
                                <label for="741">
                            <i class="icon icon_radio"></i>
                            C. They last for two hours per day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="742" id="742" disabled="">
                                <label for="742">
                            <i class="icon icon_radio"></i>
                            D. They last for 4 days
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. What time can Karen Miller be contacted?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="743" id="743" disabled="">
                                <label for="743">
                            <i class="icon icon_radio"></i>
                            A. 9 pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="744" id="744" disabled="">
                                <label for="744">
                            <i class="icon icon_radio"></i>
                            B. 3 am
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="745" id="745" disabled="">
                                <label for="745">
                            <i class="icon icon_radio"></i>
                            C. 5 pm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="746" id="746" disabled="">
                                <label for="746">
                            <i class="icon icon_radio"></i>
                            D. 10 pm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=38" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>