<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 195 - 196 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>09 December 2009<br>
8:26 p.m. </strong></p>

                <p style="text-align:justify"><strong>Your server is Anna </strong></p>

                <ul>
                    <li style="text-align:justify">1 large spring water: $1.50</li>
                    <li style="text-align:justify">1 coke: $1.00</li>
                    <li style="text-align:justify">2 chef's salads: 2 x $4.00 = $8.00</li>
                    <li style="text-align:justify">1 jacket potato with cheese:&nbsp;$4.50</li>
                    <li style="text-align:justify">1 lasagna: $8.99</li>
                    <li style="text-align:justify">1 chocolate ice cream:&nbsp;$3.50</li>
                </ul>

                <p style="text-align:justify"><em>Subtotal: $27.49 </em></p>

                <p style="text-align:justify"><em>Tax (7.75%): $2.13 </em></p>

                <p style="text-align:justify"><em>Total: $29.62 </em></p>

                <p style="text-align:justify"><em>Paid cash: $30.00 </em></p>

                <p style="text-align:justify"><em>Change: $0.38&nbsp;</em></p>

                <p style="text-align:justify"><em><strong>Thank you for your business!&nbsp;</strong></em><br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=39" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>195. Which meal of the day was this receipt for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="747" id="747" disabled="">
                                <label for="747">
                            <i class="icon icon_radio"></i>
                            A. breakfast
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="748" id="748" disabled="">
                                <label for="748">
                            <i class="icon icon_radio"></i>
                            B. lunch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="749" id="749" disabled="">
                                <label for="749">
                            <i class="icon icon_radio"></i>
                            C. afternoon snack
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="750" id="750" disabled="">
                                <label for="750">
                            <i class="icon icon_radio"></i>
                            D. dinner
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>196. How many desserts were ordered?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="751" id="751" disabled="">
                                <label for="751">
                            <i class="icon icon_radio"></i>
                            A. none
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="752" id="752" disabled="">
                                <label for="752">
                            <i class="icon icon_radio"></i>
                            B. one
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="753" id="753" disabled="">
                                <label for="753">
                            <i class="icon icon_radio"></i>
                            C. two
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="754" id="754" disabled="">
                                <label for="754">
                            <i class="icon icon_radio"></i>
                            D. three
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=39" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>