<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 197 - 198 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>FLIGHT INFORMATION </strong></p>

                <p><strong>ARRIVALS</strong></p>

                <table border="0" cellpadding="5" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td><strong>FLIGHT</strong></td>
                            <td><strong>SCHEDULE ARRIVAL</strong></td>
                            <td><strong>ARRIVING FROM</strong></td>
                            <td><strong>STATUS</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>SK2549</td>
                            <td>17:50</td>
                            <td>Stockholm</td>
                            <td>Arrived</td>
                            <td>17:48</td>
                        </tr>
                        <tr>
                            <td>LX380</td>
                            <td>18:10</td>
                            <td>Zurich</td>
                            <td>Expected</td>
                            <td>18:00</td>
                        </tr>
                        <tr>
                            <td>CF005</td>
                            <td>18:50</td>
                            <td>Gothenburg</td>
                            <td>Arrived</td>
                            <td>17:51</td>
                        </tr>
                        <tr>
                            <td>SK8677</td>
                            <td>18:50</td>
                            <td>Gothenburg</td>
                            <td>Expected</td>
                            <td>18:55</td>
                        </tr>
                        <tr>
                            <td>TCX20L</td>
                            <td>18:20</td>
                            <td>Paphos</td>
                            <td>Expected</td>
                            <td>18:35</td>
                        </tr>
                        <tr>
                            <td>3W709</td>
                            <td>18:25</td>
                            <td>Isle Of Man</td>
                            <td>Expected</td>
                            <td>18:20</td>
                        </tr>
                        <tr>
                            <td>SK541</td>
                            <td>18:25</td>
                            <td>Copenhagen</td>
                            <td>Expected</td>
                            <td>18:30</td>
                        </tr>
                        <tr>
                            <td>BD38</td>
                            <td>18:30</td>
                            <td>Copenhagen</td>
                            <td>Expected</td>
                            <td>18:30</td>
                        </tr>
                        <tr>
                            <td>LH4886</td>
                            <td>18:30</td>
                            <td>Dusseldorf</td>
                            <td>Expected</td>
                            <td>18:30</td>
                        </tr>
                        <tr>
                            <td>LH4872</td>
                            <td>18:40</td>
                            <td>Guernsey</td>
                            <td>Expected</td>
                            <td>18:25</td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=40" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>197. Where is the last plane expected to arrive coming from?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="755" id="755" disabled="">
                                <label for="755">
                                    <i class="icon icon_radio"></i>
                                    A. Gothenburg
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="756" id="756" disabled="">
                                <label for="756">
                                    <i class="icon icon_radio"></i>
                                    B. Guernsey
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="757" id="757" disabled="">
                                <label for="757">
                                    <i class="icon icon_radio"></i>
                                    C. Copenhagen
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="758" id="758" disabled="">
                                <label for="758">
                                    <i class="icon icon_radio"></i>
                                    D. Paphos
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>198. What time is it now?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="759" id="759" disabled="">
                                <label for="759">
                                    <i class="icon icon_radio"></i>
                                    A. 17:50
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="760" id="760" disabled="">
                                <label for="760">
                                    <i class="icon icon_radio"></i>
                                    B. 17:53
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="761" id="761" disabled="">
                                <label for="761">
                                    <i class="icon icon_radio"></i>
                                    C. 17:55
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="762" id="762" disabled="">
                                <label for="762">
                                    <i class="icon icon_radio"></i>
                                    D. 18:52
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=40"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>