<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 199 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>PROGRAM OVERVIEW </strong></p>

                <p style="text-align:justify">Metra's <em>Bikes</em> <em>on Trains</em> program is designed to enable cyclists to bring their stan-dard-form bicycles on board trains during weekday off-peak hours and on weekends. Three bicycles are allowed in the priority seating area
                    in each accessible diesel railcar; two in each electric railcar. There is no additional charge to your Metra fare to take&nbsp;bicycle on board the train.&nbsp;<br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=41" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>199. How many bicycles are allowed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="763" id="763" disabled="">
                                <label for="763">
                            <i class="icon icon_radio"></i>
                            A. three in each train
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="764" id="764" disabled="">
                                <label for="764">
                            <i class="icon icon_radio"></i>
                            B. three in each electric railcar
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="765" id="765" disabled="">
                                <label for="765">
                            <i class="icon icon_radio"></i>
                            C. two in each electric railcar
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="766" id="766" disabled="">
                                <label for="766">
                            <i class="icon icon_radio"></i>
                            D. two in each diesel railcar
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. How much do you pay to travel with a bicycle?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="767" id="767" disabled="">
                                <label for="767">
                            <i class="icon icon_radio"></i>
                            A. your usual fare
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="768" id="768" disabled="">
                                <label for="768">
                            <i class="icon icon_radio"></i>
                            B. your fare and a charge
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="769" id="769" disabled="">
                                <label for="769">
                            <i class="icon icon_radio"></i>
                            C. you travel free with the bike
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="770" id="770" disabled="">
                                <label for="770">
                            <i class="icon icon_radio"></i>
                            D. you get a discount
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=41" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>