<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 158 - 159 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">In case of an emergency, if oxygen levels in the cabin become too low, an
                    oxygen mask will be automatically released from the area above your head. Pull the mask gently
                    towards you to begin the flow of oxygen. The bag will not fully inflate.
                    Always put on your own mask before attempting to help others.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>158. Where would this card most likely be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="599" id="599" disabled="">
                                <label for="599">
                                    <i class="icon icon_radio"></i>
                                    A. on a train
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="600" id="600" disabled="">
                                <label for="600">
                                    <i class="icon icon_radio"></i>
                                    B. in an office
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="601" id="601" disabled="">
                                <label for="601">
                                    <i class="icon icon_radio"></i>
                                    C. on an airplane
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="602" id="602" disabled="">
                                <label for="602">
                                    <i class="icon icon_radio"></i>
                                    D. in a hotel room
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. Which of the following actions are correct?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="603" id="603" disabled="">
                                <label for="603">
                                    <i class="icon icon_radio"></i>
                                    A. call for assistance if the bag does not inflate
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="604" id="604" disabled="">
                                <label for="604">
                                    <i class="icon icon_radio"></i>
                                    B. remove the mask from a compartment above you
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="605" id="605" disabled="">
                                <label for="605">
                                    <i class="icon icon_radio"></i>
                                    C. put on your child's mask and then your own
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="606" id="606" disabled="">
                                <label for="606">
                                    <i class="icon icon_radio"></i>
                                    D. carefully pull the mask downward
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>