<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 163 - 164 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>Agincourt District Library </strong><br> 155 Bonis Ave.<br> Toronto, Ontario<br> M1T 3W6<br> Tel: 416 396 8943&nbsp;</p>

                <p style="text-align:justify"><strong>OPENING TIMES<br>
Mon:</strong> 12:30 p.m -&nbsp;8:30 p.m&nbsp;<br>
                    <strong>Tues:</strong> 9:00 a.m&nbsp;- 8:30 p.m&nbsp;<br>
                    <strong>Wed:</strong> 9:00 a.m&nbsp;- 8:30 p.m&nbsp;<br>
                    <strong>Thu:</strong> 9:00 a.m&nbsp;- 8:30 p.m&nbsp;<br>
                    <strong>Fri:</strong> 9:00 a.m&nbsp;- 8:30 p.m &amp;&nbsp;9:00 a.m&nbsp;- 6:00 pm (<em>July and Aug</em>)<br>
                    <strong>Sat:</strong> 9:00 a.m&nbsp;-&nbsp;5:00 p.m&nbsp;<br>
                    <strong>Sun: </strong>1:30 a.m -&nbsp;5:00 p.m&nbsp;(<em>Sep to Jun only</em>)&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>163. In which of the following ways are you NOT able to contact the Library if you have a question?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="619" id="619" disabled="">
                                <label for="619">
                            <i class="icon icon_radio"></i>
                            A. by telephone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="620" id="620" disabled="">
                                <label for="620">
                            <i class="icon icon_radio"></i>
                            B. by e-mail
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="621" id="621" disabled="">
                                <label for="621">
                            <i class="icon icon_radio"></i>
                            C. by letter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="622" id="622" disabled="">
                                <label for="622">
                            <i class="icon icon_radio"></i>
                            D. by dropping in
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>164. What time does the Library close on Fridays in June?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="623" id="623" disabled="">
                                <label for="623">
                            <i class="icon icon_radio"></i>
                            A. 5:00 p.m
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="624" id="624" disabled="">
                                <label for="624">
                            <i class="icon icon_radio"></i>
                            B. 6:00 p.m
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="625" id="625" disabled="">
                                <label for="625">
                            <i class="icon icon_radio"></i>
                            C. 8:30 p.m
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="626" id="626" disabled="">
                                <label for="626">
                            <i class="icon icon_radio"></i>
                            D. 9:00 p.m
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>