<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 165 - 167 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Sydney Opera House High Tea</strong></p>

                <p style="text-align:justify">Australia's celebrated Chef. Guillaume Brahimi, Michelin-trained with Two Chef Hats, has created a sophisticated High Tea in quintessential Sydney style.<br> You will be welcomed with a glass of fine Australian sparkling wine, then&nbsp;presented
                    with an assortment of beautiful teas, exquisite savories, pastries&nbsp;and petit fours.<br> The crescendo of this perfect Sydney afternoon is an intimate and private performance by an acclaimed opera singer that will leave you entranced.</p>

                <p style="text-align:right"><strong>Cost $145 per person&nbsp;</strong></p>

                <p><strong>Hight Teas are from 2.pm - 4.pm on the following dates:</strong></p>

                <ul>
                    <li>Wed, 10 October 2008</li>
                    <li>Wed, 24 October 2008</li>
                    <li>Wed, 7 November 2008</li>
                    <li>Wed, 21 November 2008</li>
                    <li>Wed, 5 December 2008</li>
                    <li>Wed, 2 January&nbsp;2009</li>
                    <li>Wed, 9 January 2009</li>
                    <li>Wed, 16 January 2009</li>
                    <li>Wed, 23 January 2009</li>
                    <li>Wed, 30 January 2009</li>
                    <li>Wed, 6 February 2009</li>
                    <li>Wed, 13 February 2009</li>
                    <li>Wed, 20 February 2009</li>
                    <li>Wed, 27 February 2009&nbsp;</li>
                </ul>

                <p><em>Bookings are assented&nbsp;</em></p>

                <p><strong>Call:</strong> +61 2 9250 7250<br>
                    <strong>Email:</strong> <u>tourism@sydneyoperahouse</u></p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>165. What is the purpose of this leaflet?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="627" id="627" disabled="">
                                <label for="627">
                            <i class="icon icon_radio"></i>
                            A. to attract customers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="628" id="628" disabled="">
                                <label for="628">
                            <i class="icon icon_radio"></i>
                            B. to spread information
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="629" id="629" disabled="">
                                <label for="629">
                            <i class="icon icon_radio"></i>
                            C. to give a warning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="630" id="630" disabled="">
                                <label for="630">
                            <i class="icon icon_radio"></i>
                            D. to recruit employees
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. What is NOT included in the event?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="631" id="631" disabled="">
                                <label for="631">
                            <i class="icon icon_radio"></i>
                            A. coffee
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="632" id="632" disabled="">
                                <label for="632">
                            <i class="icon icon_radio"></i>
                            B. live music
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="633" id="633" disabled="">
                                <label for="633">
                            <i class="icon icon_radio"></i>
                            C. food
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="634" id="634" disabled="">
                                <label for="634">
                            <i class="icon icon_radio"></i>
                            D. alcohol
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. Which of the following statements is most accurate?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="635" id="635" disabled="">
                                <label for="635">
                            <i class="icon icon_radio"></i>
                            A. You can't book in advance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="636" id="636" disabled="">
                                <label for="636">
                            <i class="icon icon_radio"></i>
                            B. You don't have to book in advance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="637" id="637" disabled="">
                                <label for="637">
                            <i class="icon icon_radio"></i>
                            C. You should book in advance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="638" id="638" disabled="">
                                <label for="638">
                            <i class="icon icon_radio"></i>
                            D. You must book in advance
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>