<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 168 - 172 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Resident </strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">24 Ravencroft Lane<br> Portland, OR 34227&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Dear Sir or Madam,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">We are contacting you to inform you that due to work on the electricity grid, your area will&nbsp;be without electricity for approximately 4 hours in the morning of September 12th, We hope that you understand that this
                                    maintenance is necessary and we suggest that you read the insert on how to survive a power cut in order to minimize your inconvenience.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,<br> Wiliam Tyler,<br> Municipal Electricity&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align:center"><strong>SURVIVING A POWER CUT&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>How you should prepare: </strong></p>

                                <ul style="margin-left:10px; margin-right:10px">
                                    <li style="text-align:justify">Have a battery-powered radio tuned into a news station to receive updates.</li>
                                    <li style="text-align:justify">Keep a supply of candles, but don't leave candles or heaters unattended. Place them where you won't knock&nbsp;them over. A flash-light may be a safer alternative and keep the batteries renewed.</li>
                                </ul>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>It power is interrupted:</strong></p>

                                <ul style="margin-left:10px; margin-right:10px">
                                    <li style="text-align:justify">Switch off and unplug sensitive electronic appliances such as personal computers, video players, satellite receivers, answering machines etc.</li>
                                    <li style="text-align:justify">Don't&nbsp;open freezers and fridges more than absolutely necessary.</li>
                                    <li style="text-align:justify">Leave a light on on you know when the power has been restored.</li>
                                    <li style="text-align:justify">Check to see if your neighbors are okay.</li>
                                    <li style="text-align:justify">Keep a flask of hot drink near you.</li>
                                    <li style="text-align:justify">Wrap up warm.</li>
                                    <li style="text-align:justify">Keep one room warm and stay in it.&nbsp;</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>168. What is the purpose of the letter?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="639" id="639" disabled="">
                                <label for="639">
                            <i class="icon icon_radio"></i>
                            A. to sell a product
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="640" id="640" disabled="">
                                <label for="640">
                            <i class="icon icon_radio"></i>
                            B. to make an apology
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="641" id="641" disabled="">
                                <label for="641">
                            <i class="icon icon_radio"></i>
                            C. to give a warning
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="642" id="642" disabled="">
                                <label for="642">
                            <i class="icon icon_radio"></i>
                            D. to make a request
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. What is true about the power cut?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="643" id="643" disabled="">
                                <label for="643">
                            <i class="icon icon_radio"></i>
                            A. it is due to an accident
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="644" id="644" disabled="">
                                <label for="644">
                            <i class="icon icon_radio"></i>
                            B. it is unknown how long it will last
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="645" id="645" disabled="">
                                <label for="645">
                            <i class="icon icon_radio"></i>
                            C. it was planned in advance
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="646" id="646" disabled="">
                                <label for="646">
                            <i class="icon icon_radio"></i>
                            D. it involves the whole city
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. What may not be completely safe?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="647" id="647" disabled="">
                                <label for="647">
                            <i class="icon icon_radio"></i>
                            A. a battery-powered radio
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="648" id="648" disabled="">
                                <label for="648">
                            <i class="icon icon_radio"></i>
                            B. leaving a light on
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="649" id="649" disabled="">
                                <label for="649">
                            <i class="icon icon_radio"></i>
                            C. a torch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="650" id="650" disabled="">
                                <label for="650">
                            <i class="icon icon_radio"></i>
                            D. candles
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. What should NOT be turned on during a power cut?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="651" id="651" disabled="">
                                <label for="651">
                            <i class="icon icon_radio"></i>
                            A. electric lights
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="652" id="652" disabled="">
                                <label for="652">
                            <i class="icon icon_radio"></i>
                            B. computers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="653" id="653" disabled="">
                                <label for="653">
                            <i class="icon icon_radio"></i>
                            C. heaters
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="654" id="654" disabled="">
                                <label for="654">
                            <i class="icon icon_radio"></i>
                            D. the telephone
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>172. What is NOT recommended that you do during a power cut?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="655" id="655" disabled="">
                                <label for="655">
                            <i class="icon icon_radio"></i>
                            A. help your neighbors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="656" id="656" disabled="">
                                <label for="656">
                            <i class="icon icon_radio"></i>
                            B. defrost your fridge
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="657" id="657" disabled="">
                                <label for="657">
                            <i class="icon icon_radio"></i>
                            C. keep warm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="658" id="658" disabled="">
                                <label for="658">
                            <i class="icon icon_radio"></i>
                            D. listen for updates
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>