<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 173 - 174 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>BC FERRIES </strong></p>

                <p style="text-align:center"><strong>Tsawwassen - Swartz Bay Schedule&nbsp;</strong></p>

                <p style="text-align:justify"><strong>Crossing time: </strong>1 hour 35 minutes<br>
                    <strong>Distance:</strong> 24 nautical miles&nbsp;</p>

                <p style="text-align:justify">Current schedule in effect September 10, 2007 to October 9, 2007 Sailing time&nbsp;</p>

                <p style="text-align:justify"><strong>Leave Tsawwassen: </strong></p>

                <ul>
                    <li style="text-align:justify">6:00 am -&nbsp;Oct 9 only</li>
                    <li style="text-align:justify">7:00 am -&nbsp;Daily</li>
                    <li style="text-align:justify">8:00&nbsp;am - Oct 5, 6 &amp; 8&nbsp;only</li>
                    <li style="text-align:justify">9:00 am - Daily</li>
                    <li style="text-align:justify">10:00 am - Sep 21 - 22, 24,&nbsp; 27 - 29, Oct 1, 5, 6, 8 &amp; 9 only</li>
                    <li style="text-align:justify">1:00 pm -&nbsp;Daily</li>
                    <li style="text-align:justify">3:00 pm - Daily</li>
                    <li style="text-align:justify">5:00 pm - Daily</li>
                    <li style="text-align:justify">6:00 pm - Fri, Sun &amp; Oct 4 &amp; 8 only</li>
                    <li style="text-align:justify">7:00 pm -&nbsp;Daily</li>
                    <li style="text-align:justify">9:00 pm - Daily</li>
                </ul>

                <p style="text-align:justify"><strong>Leave Swartz Bay:</strong></p>

                <ul>
                    <li style="text-align:justify">7:00 am -&nbsp;Daily</li>
                    <li style="text-align:justify">8:00 am -&nbsp;Sep 21 - 22, 24, 27 - 29, Oct 1, 5, 6, 8 &amp; 9 only</li>
                    <li style="text-align:justify">9:00 am - Daily</li>
                    <li style="text-align:justify">10:00 am -&nbsp;Oct 5, 6 &amp; 8 only</li>
                    <li style="text-align:justify">1:00 pm -&nbsp;Daily</li>
                    <li style="text-align:justify">3:00 pm -&nbsp;Daily</li>
                    <li style="text-align:justify">5:00 pm -&nbsp;Daily</li>
                    <li style="text-align:justify">6:00 pm - Fri, Sun &amp; Oct 8 only</li>
                    <li style="text-align:justify">7:00 pm - Daily</li>
                    <li style="text-align:justify">9:00 pm -&nbsp;Daily&nbsp;<br> &nbsp;
                    </li>
                </ul>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>173. How long does the journey take?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="659" id="659" disabled="">
                                <label for="659">
                            <i class="icon icon_radio"></i>
                            A. almost a day and a half
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="660" id="660" disabled="">
                                <label for="660">
                            <i class="icon icon_radio"></i>
                            B. about an hour and a half
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="661" id="661" disabled="">
                                <label for="661">
                            <i class="icon icon_radio"></i>
                            C. almost tow hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="662" id="662" disabled="">
                                <label for="662">
                            <i class="icon icon_radio"></i>
                            D. just over half an hour
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. Where would you be most likely to see this schedule?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="663" id="663" disabled="">
                                <label for="663">
                            <i class="icon icon_radio"></i>
                            A. at a port
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="664" id="664" disabled="">
                                <label for="664">
                            <i class="icon icon_radio"></i>
                            B. at an airport
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="665" id="665" disabled="">
                                <label for="665">
                            <i class="icon icon_radio"></i>
                            C. in a newspaper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="666" id="666" disabled="">
                                <label for="666">
                            <i class="icon icon_radio"></i>
                            D. at a bus station
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>