<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 175 - 177 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>To: All Employees<br>
From: Jason Byrne<br>
CC: Brian Weston<br>
Subject: Software Training Session&nbsp;</strong></p>

                <p style="text-align:justify">I'm sending out this reminder that we are holding Software Training Sessions this Friday in the Computer Lab. There will be a morning session and an afternoon session, so be sure to sign up for your preference in the IT office if you haven't
                    already. Each session should take about four hours.</p>

                <p style="text-align:justify">I'm sure you realize the importance of these sessions, as there has been considerable discussion of our company's decision m change from Windows to Linux&nbsp;running systems, and concern about making a smooth transition. I want to say
                    again that we are not expecting any difficulties. Utrans is a very user-friendly program. Dr. Brian Weston will be doing the training, and you will be in&nbsp;good hands.&nbsp;</p>

                <p style="text-align:justify"><strong>Jason Byrne, Manager, IT Department&nbsp;</strong><br> &nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=33" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>175. What is the e-mail's purpose?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="667" id="667" disabled="">
                                <label for="667">
                            <i class="icon icon_radio"></i>
                            A. an announcement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="668" id="668" disabled="">
                                <label for="668">
                            <i class="icon icon_radio"></i>
                            B. a reminder
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="669" id="669" disabled="">
                                <label for="669">
                            <i class="icon icon_radio"></i>
                            C. a warning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="670" id="670" disabled="">
                                <label for="670">
                            <i class="icon icon_radio"></i>
                            D. a guide
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>176. How do employees know which session to go to?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="671" id="671" disabled="">
                                <label for="671">
                            <i class="icon icon_radio"></i>
                            A. They just turn up when they can
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="672" id="672" disabled="">
                                <label for="672">
                            <i class="icon icon_radio"></i>
                            B. They ask at the IT office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="673" id="673" disabled="">
                                <label for="673">
                            <i class="icon icon_radio"></i>
                            C. They are informed in the e-mail
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="674" id="674" disabled="">
                                <label for="674">
                            <i class="icon icon_radio"></i>
                            D. They choose themselves
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>177. Approximately how much of the workday do the training session fill?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="675" id="675" disabled="">
                                <label for="675">
                            <i class="icon icon_radio"></i>
                            A. all day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="676" id="676" disabled="">
                                <label for="676">
                            <i class="icon icon_radio"></i>
                            B. half a day
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="677" id="677" disabled="">
                                <label for="677">
                            <i class="icon icon_radio"></i>
                            C. a couple of hours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="678" id="678" disabled="">
                                <label for="678">
                            <i class="icon icon_radio"></i>
                            D. approximately four minutes
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=33" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>