<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 178 - 182 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>To: Richard Brown<br>
From: Tara Larson<br>
Cc: -<br>
Subject: restaurant booking?&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px">Hi&nbsp;Richard,</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I've found a promising-looking restaurant for our company lunch; it's <em>Bells Diner</em>. I went yesterday with my cousin and her husband, and the food was really something. It's&nbsp;not the typical diner you might think
                                    of! It has an informal, friendly atmosphere, sophisticated yet rustic decor, equally sophisticated modern European menu and rather elegant clientele. It is housed in a Victorian building split into two rooms, and I
                                    think one is available for group reservations, so that would be ideal</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Shall I go ahead and make a reservation?&nbsp;Lunch goes on rather late in the afternoon, as you can see from the information I've attached, so there shouldn't be any problem if the design meetings run a little over time&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px">Tara Larson<br> Reception&nbsp;
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>Cuisine:</strong> Modern European<br>
                                    <strong>Times:</strong> <em>Lunch</em> Tues - Sat Midday - 3pm. <em>Dinner</em> Mon - Sat 7pm - 10.30pm. Closed Sundays.<br>
                                    <strong>Dress cede: </strong>None<br>
                                    <strong>Payment:</strong> All methods of payment accepted except Diners<br>
                                    <strong>Av.&nbsp;price</strong>: £24 and Under&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>178. How does Tara Larson know the restaurant is good?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="679" id="679" disabled="">
                                <label for="679">
                            <i class="icon icon_radio"></i>
                            A. She knew from experience
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="680" id="680" disabled="">
                                <label for="680">
                            <i class="icon icon_radio"></i>
                            B. A friend recommended it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="681" id="681" disabled="">
                                <label for="681">
                            <i class="icon icon_radio"></i>
                            C. She saw an advertisement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="682" id="682" disabled="">
                                <label for="682">
                            <i class="icon icon_radio"></i>
                            D. She was told by Mr. Brown
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>179. What did Tara Larson think of the food?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="178" value="683" id="683" disabled="">
                                <label for="683">
                            <i class="icon icon_radio"></i>
                            A. She absolutely hated it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="684" id="684" disabled="">
                                <label for="684">
                            <i class="icon icon_radio"></i>
                            B. She didn't have an opinion about it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="685" id="685" disabled="">
                                <label for="685">
                            <i class="icon icon_radio"></i>
                            C. She thought it was okay
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="686" id="686" disabled="">
                                <label for="686">
                            <i class="icon icon_radio"></i>
                            D. She liked it very much
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>180. The people eating in the restaurant are described as</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="687" id="687" disabled="">
                                <label for="687">
                            <i class="icon icon_radio"></i>
                            A. Victorian
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="688" id="688" disabled="">
                                <label for="688">
                            <i class="icon icon_radio"></i>
                            B. well dressed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="689" id="689" disabled="">
                                <label for="689">
                            <i class="icon icon_radio"></i>
                            C. informally dressed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="690" id="690" disabled="">
                                <label for="690">
                            <i class="icon icon_radio"></i>
                            D. typical diner customers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>181. What is Tara Lauson's job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="691" id="691" disabled="">
                                <label for="691">
                            <i class="icon icon_radio"></i>
                            A. waitress
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="692" id="692" disabled="">
                                <label for="692">
                            <i class="icon icon_radio"></i>
                            B. promoter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="693" id="693" disabled="">
                                <label for="693">
                            <i class="icon icon_radio"></i>
                            C. secretary
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="694" id="694" disabled="">
                                <label for="694">
                            <i class="icon icon_radio"></i>
                            D. designer
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>182. What is the earliest they could go for lunch?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="695" id="695" disabled="">
                                <label for="695">
                            <i class="icon icon_radio"></i>
                            A. 11:00
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="696" id="696" disabled="">
                                <label for="696">
                            <i class="icon icon_radio"></i>
                            B. 12:00
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="697" id="697" disabled="">
                                <label for="697">
                            <i class="icon icon_radio"></i>
                            C. 1:00
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="698" id="698" disabled="">
                                <label for="698">
                            <i class="icon icon_radio"></i>
                            D. 3:00
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>