<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 141 - 143 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>To:</strong> Sales Staff<br>
                    <strong>From:</strong>&nbsp;John Johnson<br>
                    <strong>Date:</strong> October 12<br>
                    <strong>Re:</strong>&nbsp;Bonus&nbsp;</p>

                <p>Deer Employees,&nbsp;</p>

                <p>Now that the figures are in, I can __(1)__ that we've had the most successful summer season yet.&nbsp;</p>

                <p>This is, of course, in a large part, thanks to you, <em>Flyaway</em>&nbsp;<em>Travel's</em> dedicated sales staff. We at management would like to recognize the __(2)__ you have made to our successful season, so we are issuing a bonus.&nbsp;</p>

                <p>The bonus will appear in your November paycheck, and will be calculated __(3)__ a percentage of your salary.&nbsp;</p>

                <p>Thanks to all of you for making the summer season such a success!&nbsp;</p>

                <p>Sincerely,</p>

                <p>John Johnson,<br> Personnel Division<br> Flyaway Travel&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>141. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="5777" id="5777" disabled="">
                                <label for="5777">
                            <i class="icon icon_radio"></i>
                            A. reply
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5778" id="5778" disabled="">
                                <label for="5778">
                            <i class="icon icon_radio"></i>
                            B. confirm
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5779" id="5779" disabled="">
                                <label for="5779">
                            <i class="icon icon_radio"></i>
                            C. rely
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5780" id="5780" disabled="">
                                <label for="5780">
                            <i class="icon icon_radio"></i>
                            D. assure
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="5781" id="5781" disabled="">
                                <label for="5781">
                            <i class="icon icon_radio"></i>
                            A. contributive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5782" id="5782" disabled="">
                                <label for="5782">
                            <i class="icon icon_radio"></i>
                            B. contribution
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5783" id="5783" disabled="">
                                <label for="5783">
                            <i class="icon icon_radio"></i>
                            C. contributor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5784" id="5784" disabled="">
                                <label for="5784">
                            <i class="icon icon_radio"></i>
                            D. contributing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>143. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="5785" id="5785" disabled="">
                                <label for="5785">
                            <i class="icon icon_radio"></i>
                            A. as
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5786" id="5786" disabled="">
                                <label for="5786">
                            <i class="icon icon_radio"></i>
                            B. of
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5787" id="5787" disabled="">
                                <label for="5787">
                            <i class="icon icon_radio"></i>
                            C. with
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5788" id="5788" disabled="">
                                <label for="5788">
                            <i class="icon icon_radio"></i>
                            D. for
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>