<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 144 - 146 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>Some of America's largest banks are expected to announce plans&nbsp;later to form a $75bn joint fund to invest in US sub-prime mortgage debt.&nbsp;</p>

                <p>The banks, including Citigroup and JP Morgan, are seeking to&nbsp;__(1)__ confidence in the sector and prevent a further&nbsp;dip in&nbsp;the price of such investments. The banks are said to fear more cuts in&nbsp;the price of sub-prime
                    mortgage debt, which is hitting her balance sheets.&nbsp;</p>

                <p>Higher mortgage rates have sparked a record number&nbsp;of sb-prime home loan defaults. This has caused a wider credit squeeze as banks and other investors have been less __(2)__&nbsp;to lend to each other.&nbsp;</p>

                <p>Analysts say the big US banks hope their move will prevent&nbsp;the current holders of sub-prime mortgage securities __(3)__ dumping them on the market at knock-down prices. Such a "fire sale"&nbsp;could intensify&nbsp;the credit crisis.&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>144. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="5789" id="5789" disabled="">
                                <label for="5789">
                            <i class="icon icon_radio"></i>
                            A. finance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5790" id="5790" disabled="">
                                <label for="5790">
                            <i class="icon icon_radio"></i>
                            B. lead
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5791" id="5791" disabled="">
                                <label for="5791">
                            <i class="icon icon_radio"></i>
                            C. deflate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5792" id="5792" disabled="">
                                <label for="5792">
                            <i class="icon icon_radio"></i>
                            D. boost
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="5793" id="5793" disabled="">
                                <label for="5793">
                            <i class="icon icon_radio"></i>
                            A. willing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5794" id="5794" disabled="">
                                <label for="5794">
                            <i class="icon icon_radio"></i>
                            B. optimistic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5795" id="5795" disabled="">
                                <label for="5795">
                            <i class="icon icon_radio"></i>
                            C. realistic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5796" id="5796" disabled="">
                                <label for="5796">
                            <i class="icon icon_radio"></i>
                            D. patient
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="5797" id="5797" disabled="">
                                <label for="5797">
                            <i class="icon icon_radio"></i>
                            A. by
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5798" id="5798" disabled="">
                                <label for="5798">
                            <i class="icon icon_radio"></i>
                            B. with
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5799" id="5799" disabled="">
                                <label for="5799">
                            <i class="icon icon_radio"></i>
                            C. from
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5800" id="5800" disabled="">
                                <label for="5800">
                            <i class="icon icon_radio"></i>
                            D. of
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=23" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>