<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>Dear Ms. Clark&nbsp;</p>

                <p>We are sorry to hear that you have been experiencing problems with your new digital camera.&nbsp;</p>

                <p>Who we do ask that our customers contact their dealer in the event of a problem, we recognize that, in your case, ths would he impossible. Therefore, if&nbsp;you will carefully package the __(1)__ in its original carton and send it to
                    us, our "doctors"&nbsp;will put it through a thorough examination to determine the source of the problem&nbsp;</p>

                <p>If the problem turns out to be a minor __(2)__ we shall&nbsp;make the repair and then return the camera to you within thirty days. If our determination is that the&nbsp;unit is defective, we will send you an immediate replacement.&nbsp;</p>

                <p>Again, I am&nbsp;sorry that you experienced the difficulty and wish to thank you for your patience and for __(3)__ our product.&nbsp;</p>

                <p>Sincerely,<br> Thomas Vining<br> Service Department&nbsp;<br> &nbsp;
                </p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5801" id="5801" disabled="">
                                <label for="5801">
                            <i class="icon icon_radio"></i>
                            A. unit
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5802" id="5802" disabled="">
                                <label for="5802">
                            <i class="icon icon_radio"></i>
                            B. piece
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5803" id="5803" disabled="">
                                <label for="5803">
                            <i class="icon icon_radio"></i>
                            C. fragment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5804" id="5804" disabled="">
                                <label for="5804">
                            <i class="icon icon_radio"></i>
                            D. entity
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5805" id="5805" disabled="">
                                <label for="5805">
                            <i class="icon icon_radio"></i>
                            A. refurbishment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5806" id="5806" disabled="">
                                <label for="5806">
                            <i class="icon icon_radio"></i>
                            B. inconvenience
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5807" id="5807" disabled="">
                                <label for="5807">
                            <i class="icon icon_radio"></i>
                            C. renewal
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5808" id="5808" disabled="">
                                <label for="5808">
                            <i class="icon icon_radio"></i>
                            D. adjustment
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5809" id="5809" disabled="">
                                <label for="5809">
                            <i class="icon icon_radio"></i>
                            A. purchasing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5810" id="5810" disabled="">
                                <label for="5810">
                            <i class="icon icon_radio"></i>
                            B. earning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5811" id="5811" disabled="">
                                <label for="5811">
                            <i class="icon icon_radio"></i>
                            C. gaining
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5812" id="5812" disabled="">
                                <label for="5812">
                            <i class="icon icon_radio"></i>
                            D. requiring
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>