<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>ESSENTIAL DUTIES AND RESPONSIBILITIES </strong><br> For Post number ZT34559&nbsp;</p>

                <ul>
                    <li>Install Brink's Home Security authorized equipment in customer homes and businesses in accordance __(1)__ established standards and procedures. Design layouts of the&nbsp;security system utilizing thorough knowledge of the equipment&nbsp;and
                        its capabilities. Assist in the promotion and sale of extra equipment.&nbsp;</li>
                    <li>Test backup batteries, keypad programming and all security features in order to ensure proper functioning, and to diagnose malfunctions.&nbsp;</li>
                    <li>Demonstrate systems for customers, and explain details such as the __(2)__ end consequences of false alarms.</li>
                    <li>Keep informed of new products and developments.&nbsp;</li>
                    <li>__(3)__ a thorough explanation of the Protective Service Agreement, system capablities and system operation&nbsp;to the customer.&nbsp;</li>
                </ul>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5813" id="5813" disabled="">
                                <label for="5813">
                            <i class="icon icon_radio"></i>
                            A. with
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5814" id="5814" disabled="">
                                <label for="5814">
                            <i class="icon icon_radio"></i>
                            B. to 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5815" id="5815" disabled="">
                                <label for="5815">
                            <i class="icon icon_radio"></i>
                            C. of
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5816" id="5816" disabled="">
                                <label for="5816">
                            <i class="icon icon_radio"></i>
                            D. from
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5817" id="5817" disabled="">
                                <label for="5817">
                            <i class="icon icon_radio"></i>
                            A. aims
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5818" id="5818" disabled="">
                                <label for="5818">
                            <i class="icon icon_radio"></i>
                            B. rules
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5819" id="5819" disabled="">
                                <label for="5819">
                            <i class="icon icon_radio"></i>
                            C. happenings
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5820" id="5820" disabled="">
                                <label for="5820">
                            <i class="icon icon_radio"></i>
                            D. causes
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5821" id="5821" disabled="">
                                <label for="5821">
                            <i class="icon icon_radio"></i>
                            A. Distribute
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5822" id="5822" disabled="">
                                <label for="5822">
                            <i class="icon icon_radio"></i>
                            B. Provide
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5823" id="5823" disabled="">
                                <label for="5823">
                            <i class="icon icon_radio"></i>
                            C. Avail
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5824" id="5824" disabled="">
                                <label for="5824">
                            <i class="icon icon_radio"></i>
                            D. Arrange
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>