<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=5">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>101. Jerry was surprised that the projects were completed ____ quickly</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="100" value="4257" id="4257" disabled="">
                        <label for="4257">
                            <i class="icon icon_radio"></i>
                            A. almost
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4258" id="4258" disabled="">
                        <label for="4258">
                            <i class="icon icon_radio"></i>
                            B. so
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4259" id="4259" disabled="">
                        <label for="4259">
                            <i class="icon icon_radio"></i>
                            C. much
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="100" value="4260" id="4260" disabled="">
                        <label for="4260">
                            <i class="icon icon_radio"></i>
                            D. too
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>102. The company must ____ fifty new employees by September 15, next year</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="101" value="4261" id="4261" disabled="">
                        <label for="4261">
                            <i class="icon icon_radio"></i>
                            A. be hired
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4262" id="4262" disabled="">
                        <label for="4262">
                            <i class="icon icon_radio"></i>
                            B. have hired
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4263" id="4263" disabled="">
                        <label for="4263">
                            <i class="icon icon_radio"></i>
                            C. hire
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="101" value="4264" id="4264" disabled="">
                        <label for="4264">
                            <i class="icon icon_radio"></i>
                            D. to hire
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>103. Unfortunately, due to the company's financial problems, they will have to severely ____ on staff</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="102" value="4265" id="4265" disabled="">
                        <label for="4265">
                            <i class="icon icon_radio"></i>
                            A. cut back
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4266" id="4266" disabled="">
                        <label for="4266">
                            <i class="icon icon_radio"></i>
                            B. look out
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4267" id="4267" disabled="">
                        <label for="4267">
                            <i class="icon icon_radio"></i>
                            C. fall down
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="102" value="4268" id="4268" disabled="">
                        <label for="4268">
                            <i class="icon icon_radio"></i>
                            D. fire off
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>104. Personal phone calls ____ from the office telephone</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="103" value="4269" id="4269" disabled="">
                        <label for="4269">
                            <i class="icon icon_radio"></i>
                            A. will not consent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4270" id="4270" disabled="">
                        <label for="4270">
                            <i class="icon icon_radio"></i>
                            B. have no permission
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4271" id="4271" disabled="">
                        <label for="4271">
                            <i class="icon icon_radio"></i>
                            C. cannot be made
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="103" value="4272" id="4272" disabled="">
                        <label for="4272">
                            <i class="icon icon_radio"></i>
                            D. haven't allowed
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>105. The pharmacist couldn't fill the prescription because the doctor's handwriting was ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="104" value="4273" id="4273" disabled="">
                        <label for="4273">
                            <i class="icon icon_radio"></i>
                            A. illiterate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4274" id="4274" disabled="">
                        <label for="4274">
                            <i class="icon icon_radio"></i>
                            B. illegible
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4275" id="4275" disabled="">
                        <label for="4275">
                            <i class="icon icon_radio"></i>
                            C. illuminated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="104" value="4276" id="4276" disabled="">
                        <label for="4276">
                            <i class="icon icon_radio"></i>
                            D. illimitable
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>106. We cleaned the restaurant all night in order to ____ all the health code regulations</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="105" value="4277" id="4277" disabled="">
                        <label for="4277">
                            <i class="icon icon_radio"></i>
                            A. defeat
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4278" id="4278" disabled="">
                        <label for="4278">
                            <i class="icon icon_radio"></i>
                            B. satisfy
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4279" id="4279" disabled="">
                        <label for="4279">
                            <i class="icon icon_radio"></i>
                            C. originate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="105" value="4280" id="4280" disabled="">
                        <label for="4280">
                            <i class="icon icon_radio"></i>
                            D. bypass
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>107. Rarely ____ this much in November</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="106" value="4281" id="4281" disabled="">
                        <label for="4281">
                            <i class="icon icon_radio"></i>
                            A. snows
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4282" id="4282" disabled="">
                        <label for="4282">
                            <i class="icon icon_radio"></i>
                            B. it does snow
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4283" id="4283" disabled="">
                        <label for="4283">
                            <i class="icon icon_radio"></i>
                            C. does it snow
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="106" value="4284" id="4284" disabled="">
                        <label for="4284">
                            <i class="icon icon_radio"></i>
                            D. has snowed
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>108. ____ our competitors, our store is open 24 hours a day for your convenience</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="107" value="4285" id="4285" disabled="">
                        <label for="4285">
                            <i class="icon icon_radio"></i>
                            A. Unlike
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4286" id="4286" disabled="">
                        <label for="4286">
                            <i class="icon icon_radio"></i>
                            B. Instead of
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4287" id="4287" disabled="">
                        <label for="4287">
                            <i class="icon icon_radio"></i>
                            C. Likely to
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="107" value="4288" id="4288" disabled="">
                        <label for="4288">
                            <i class="icon icon_radio"></i>
                            D. Similar
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>109. If your subscription to US Today expires, you may ____ it online</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="108" value="4289" id="4289" disabled="">
                        <label for="4289">
                            <i class="icon icon_radio"></i>
                            A. renew
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4290" id="4290" disabled="">
                        <label for="4290">
                            <i class="icon icon_radio"></i>
                            B. reveal
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4291" id="4291" disabled="">
                        <label for="4291">
                            <i class="icon icon_radio"></i>
                            C. repossess
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="108" value="4292" id="4292" disabled="">
                        <label for="4292">
                            <i class="icon icon_radio"></i>
                            D. renovate
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>110. Kate Fox has been ____ to the board of directors</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="109" value="4293" id="4293" disabled="">
                        <label for="4293">
                            <i class="icon icon_radio"></i>
                            A. designed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4294" id="4294" disabled="">
                        <label for="4294">
                            <i class="icon icon_radio"></i>
                            B. appointed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4295" id="4295" disabled="">
                        <label for="4295">
                            <i class="icon icon_radio"></i>
                            C. campaigned
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="109" value="4296" id="4296" disabled="">
                        <label for="4296">
                            <i class="icon icon_radio"></i>
                            D. contacted
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>111. All the sponsors ____ by the organization president</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="110" value="4297" id="4297" disabled="">
                        <label for="4297">
                            <i class="icon icon_radio"></i>
                            A. will be recognized
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4298" id="4298" disabled="">
                        <label for="4298">
                            <i class="icon icon_radio"></i>
                            B. will recognize
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4299" id="4299" disabled="">
                        <label for="4299">
                            <i class="icon icon_radio"></i>
                            C. recognized
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="110" value="4300" id="4300" disabled="">
                        <label for="4300">
                            <i class="icon icon_radio"></i>
                            D. recognizing
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>112. ____ consumer demand, our products will be packaged using recycled products</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="111" value="4301" id="4301" disabled="">
                        <label for="4301">
                            <i class="icon icon_radio"></i>
                            A. Therefore
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4302" id="4302" disabled="">
                        <label for="4302">
                            <i class="icon icon_radio"></i>
                            B. Due to the fact that
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4303" id="4303" disabled="">
                        <label for="4303">
                            <i class="icon icon_radio"></i>
                            C. Because
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="111" value="4304" id="4304" disabled="">
                        <label for="4304">
                            <i class="icon icon_radio"></i>
                            D. In response to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>113. This state-of-the-art air mattress comes with a two-year ____ of quality</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="112" value="4305" id="4305" disabled="">
                        <label for="4305">
                            <i class="icon icon_radio"></i>
                            A. grant
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4306" id="4306" disabled="">
                        <label for="4306">
                            <i class="icon icon_radio"></i>
                            B. guardian
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4307" id="4307" disabled="">
                        <label for="4307">
                            <i class="icon icon_radio"></i>
                            C. gratuity
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="112" value="4308" id="4308" disabled="">
                        <label for="4308">
                            <i class="icon icon_radio"></i>
                            D. guarantee
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>114. So far, everyone who has heard the news is thrilled ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="113" value="4309" id="4309" disabled="">
                        <label for="4309">
                            <i class="icon icon_radio"></i>
                            A. about them
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4310" id="4310" disabled="">
                        <label for="4310">
                            <i class="icon icon_radio"></i>
                            B. by them
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4311" id="4311" disabled="">
                        <label for="4311">
                            <i class="icon icon_radio"></i>
                            C. about it
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="113" value="4312" id="4312" disabled="">
                        <label for="4312">
                            <i class="icon icon_radio"></i>
                            D. by then
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>115. Establishing a good working relationship ____ management and the workforce is a challenge</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="114" value="4313" id="4313" disabled="">
                        <label for="4313">
                            <i class="icon icon_radio"></i>
                            A. between
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4314" id="4314" disabled="">
                        <label for="4314">
                            <i class="icon icon_radio"></i>
                            B. among
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4315" id="4315" disabled="">
                        <label for="4315">
                            <i class="icon icon_radio"></i>
                            C. amid
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="114" value="4316" id="4316" disabled="">
                        <label for="4316">
                            <i class="icon icon_radio"></i>
                            D. within
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>116. CD prices are dramatically ____ this year than they were in the previous three years</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="115" value="4317" id="4317" disabled="">
                        <label for="4317">
                            <i class="icon icon_radio"></i>
                            A. more
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4318" id="4318" disabled="">
                        <label for="4318">
                            <i class="icon icon_radio"></i>
                            B. higher
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4319" id="4319" disabled="">
                        <label for="4319">
                            <i class="icon icon_radio"></i>
                            C. expensive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="115" value="4320" id="4320" disabled="">
                        <label for="4320">
                            <i class="icon icon_radio"></i>
                            D. taller
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>117. The conference's turnout has nearly ____ in the last few years</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="116" value="4321" id="4321" disabled="">
                        <label for="4321">
                            <i class="icon icon_radio"></i>
                            A. consumed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4322" id="4322" disabled="">
                        <label for="4322">
                            <i class="icon icon_radio"></i>
                            B. twice
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4323" id="4323" disabled="">
                        <label for="4323">
                            <i class="icon icon_radio"></i>
                            C. replicated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="116" value="4324" id="4324" disabled="">
                        <label for="4324">
                            <i class="icon icon_radio"></i>
                            D. doubled
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>118. The regional vice president is ____ conducting company evaluations</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="117" value="4325" id="4325" disabled="">
                        <label for="4325">
                            <i class="icon icon_radio"></i>
                            A. delegated for
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4326" id="4326" disabled="">
                        <label for="4326">
                            <i class="icon icon_radio"></i>
                            B. responsible to
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4327" id="4327" disabled="">
                        <label for="4327">
                            <i class="icon icon_radio"></i>
                            C. in charge of
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="117" value="4328" id="4328" disabled="">
                        <label for="4328">
                            <i class="icon icon_radio"></i>
                            D. obligated by
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>119. Although my office is beautifully decorated, it is too small for my filing cabinet ____ desk chair</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="118" value="4329" id="4329" disabled="">
                        <label for="4329">
                            <i class="icon icon_radio"></i>
                            A. nor
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4330" id="4330" disabled="">
                        <label for="4330">
                            <i class="icon icon_radio"></i>
                            B. and
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4331" id="4331" disabled="">
                        <label for="4331">
                            <i class="icon icon_radio"></i>
                            C. or
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="118" value="4332" id="4332" disabled="">
                        <label for="4332">
                            <i class="icon icon_radio"></i>
                            D. but
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>120. This new computer was very expensive, so please handle it with ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="119" value="4333" id="4333" disabled="">
                        <label for="4333">
                            <i class="icon icon_radio"></i>
                            A. care
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4334" id="4334" disabled="">
                        <label for="4334">
                            <i class="icon icon_radio"></i>
                            B. careful
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4335" id="4335" disabled="">
                        <label for="4335">
                            <i class="icon icon_radio"></i>
                            C. carefully
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="119" value="4336" id="4336" disabled="">
                        <label for="4336">
                            <i class="icon icon_radio"></i>
                            D. carelessness
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>121. Ms. Barkume's ____ will explain the details of the new mail policy</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="120" value="4337" id="4337" disabled="">
                        <label for="4337">
                            <i class="icon icon_radio"></i>
                            A. complementary
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4338" id="4338" disabled="">
                        <label for="4338">
                            <i class="icon icon_radio"></i>
                            B. assistant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4339" id="4339" disabled="">
                        <label for="4339">
                            <i class="icon icon_radio"></i>
                            C. commuter
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="120" value="4340" id="4340" disabled="">
                        <label for="4340">
                            <i class="icon icon_radio"></i>
                            D. extra
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>122. ____ possible, Mr. Brown tries to visit all of the company's offices</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="121" value="4341" id="4341" disabled="">
                        <label for="4341">
                            <i class="icon icon_radio"></i>
                            A. Whether
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4342" id="4342" disabled="">
                        <label for="4342">
                            <i class="icon icon_radio"></i>
                            B. Whatever
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4343" id="4343" disabled="">
                        <label for="4343">
                            <i class="icon icon_radio"></i>
                            C. Whenever
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="121" value="4344" id="4344" disabled="">
                        <label for="4344">
                            <i class="icon icon_radio"></i>
                            D. However
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>123. ____ Mr. Arnold replace Mr. Dendler, his salary would be doubled</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="122" value="4345" id="4345" disabled="">
                        <label for="4345">
                            <i class="icon icon_radio"></i>
                            A. Were
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4346" id="4346" disabled="">
                        <label for="4346">
                            <i class="icon icon_radio"></i>
                            B. Although
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4347" id="4347" disabled="">
                        <label for="4347">
                            <i class="icon icon_radio"></i>
                            C. However
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="122" value="4348" id="4348" disabled="">
                        <label for="4348">
                            <i class="icon icon_radio"></i>
                            D. Should
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>124. Tutors are nice because they are qualified teachers that are devoted ____ to one student</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="123" value="4349" id="4349" disabled="">
                        <label for="4349">
                            <i class="icon icon_radio"></i>
                            A. solely
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4350" id="4350" disabled="">
                        <label for="4350">
                            <i class="icon icon_radio"></i>
                            B. lonely
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4351" id="4351" disabled="">
                        <label for="4351">
                            <i class="icon icon_radio"></i>
                            C. unique
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="123" value="4352" id="4352" disabled="">
                        <label for="4352">
                            <i class="icon icon_radio"></i>
                            D. individual
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>125. The conference room ____ for the meeting was on the sixth floor</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="124" value="4353" id="4353" disabled="">
                        <label for="4353">
                            <i class="icon icon_radio"></i>
                            A. selected him
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4354" id="4354" disabled="">
                        <label for="4354">
                            <i class="icon icon_radio"></i>
                            B. which selected
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4355" id="4355" disabled="">
                        <label for="4355">
                            <i class="icon icon_radio"></i>
                            C. he selected
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="124" value="4356" id="4356" disabled="">
                        <label for="4356">
                            <i class="icon icon_radio"></i>
                            D. that selected
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>126. The two electrical companies announced plans for a joint ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="125" value="4357" id="4357" disabled="">
                        <label for="4357">
                            <i class="icon icon_radio"></i>
                            A. venture
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4358" id="4358" disabled="">
                        <label for="4358">
                            <i class="icon icon_radio"></i>
                            B. apparition
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4359" id="4359" disabled="">
                        <label for="4359">
                            <i class="icon icon_radio"></i>
                            C. cooperation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="125" value="4360" id="4360" disabled="">
                        <label for="4360">
                            <i class="icon icon_radio"></i>
                            D. advantage
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>127. Henry ____ last week from conductor to supervisor</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="126" value="4361" id="4361" disabled="">
                        <label for="4361">
                            <i class="icon icon_radio"></i>
                            A. promoted
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4362" id="4362" disabled="">
                        <label for="4362">
                            <i class="icon icon_radio"></i>
                            B. had promoted
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4363" id="4363" disabled="">
                        <label for="4363">
                            <i class="icon icon_radio"></i>
                            C. was promoted
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="126" value="4364" id="4364" disabled="">
                        <label for="4364">
                            <i class="icon icon_radio"></i>
                            D. was promoting
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>128. The manager ordered new uniforms for the ____ last month</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="127" value="4365" id="4365" disabled="">
                        <label for="4365">
                            <i class="icon icon_radio"></i>
                            A. personal
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4366" id="4366" disabled="">
                        <label for="4366">
                            <i class="icon icon_radio"></i>
                            B. staff
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4367" id="4367" disabled="">
                        <label for="4367">
                            <i class="icon icon_radio"></i>
                            C. stuff
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="127" value="4368" id="4368" disabled="">
                        <label for="4368">
                            <i class="icon icon_radio"></i>
                            D. directors
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>129. Every once ____ a while, Patrick treats his customers to a free dessert</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="128" value="4369" id="4369" disabled="">
                        <label for="4369">
                            <i class="icon icon_radio"></i>
                            A. in
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4370" id="4370" disabled="">
                        <label for="4370">
                            <i class="icon icon_radio"></i>
                            B. for
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4371" id="4371" disabled="">
                        <label for="4371">
                            <i class="icon icon_radio"></i>
                            C. to
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="128" value="4372" id="4372" disabled="">
                        <label for="4372">
                            <i class="icon icon_radio"></i>
                            D. until
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>130. Please list your e-mail address and fax number with all ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="129" value="4373" id="4373" disabled="">
                        <label for="4373">
                            <i class="icon icon_radio"></i>
                            A. persuasion
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4374" id="4374" disabled="">
                        <label for="4374">
                            <i class="icon icon_radio"></i>
                            B. correspondence
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4375" id="4375" disabled="">
                        <label for="4375">
                            <i class="icon icon_radio"></i>
                            C. expedition
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="129" value="4376" id="4376" disabled="">
                        <label for="4376">
                            <i class="icon icon_radio"></i>
                            D. commotion
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>131. The proposals for tomorrow's meeting are ____ the record books on the bottom shelf</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="130" value="4377" id="4377" disabled="">
                        <label for="4377">
                            <i class="icon icon_radio"></i>
                            A. overall
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4378" id="4378" disabled="">
                        <label for="4378">
                            <i class="icon icon_radio"></i>
                            B. besides
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4379" id="4379" disabled="">
                        <label for="4379">
                            <i class="icon icon_radio"></i>
                            C. underneath
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="130" value="4380" id="4380" disabled="">
                        <label for="4380">
                            <i class="icon icon_radio"></i>
                            D. to the left
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>132. Members of the hiring committee all agreed that his resume was ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="131" value="4381" id="4381" disabled="">
                        <label for="4381">
                            <i class="icon icon_radio"></i>
                            A. imoressed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4382" id="4382" disabled="">
                        <label for="4382">
                            <i class="icon icon_radio"></i>
                            B. impressing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4383" id="4383" disabled="">
                        <label for="4383">
                            <i class="icon icon_radio"></i>
                            C. impressive
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="131" value="4384" id="4384" disabled="">
                        <label for="4384">
                            <i class="icon icon_radio"></i>
                            D. left an impression
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>133. This year's high turnover rate was extremely ____ the company's directors</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="132" value="4385" id="4385" disabled="">
                        <label for="4385">
                            <i class="icon icon_radio"></i>
                            A. disappointment
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4386" id="4386" disabled="">
                        <label for="4386">
                            <i class="icon icon_radio"></i>
                            B. disappointed in
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4387" id="4387" disabled="">
                        <label for="4387">
                            <i class="icon icon_radio"></i>
                            C. disappointing to
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="132" value="4388" id="4388" disabled="">
                        <label for="4388">
                            <i class="icon icon_radio"></i>
                            D. disappointed by
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>134. Selecting the location of a new restaurant is ____ to its success</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="133" value="4389" id="4389" disabled="">
                        <label for="4389">
                            <i class="icon icon_radio"></i>
                            A. critical
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4390" id="4390" disabled="">
                        <label for="4390">
                            <i class="icon icon_radio"></i>
                            B. dependent
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4391" id="4391" disabled="">
                        <label for="4391">
                            <i class="icon icon_radio"></i>
                            C. existential
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="133" value="4392" id="4392" disabled="">
                        <label for="4392">
                            <i class="icon icon_radio"></i>
                            D. reliant
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>135. You have two ____ to choose from, you can either leave tonight or wait for the evening flight tomorrow</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="134" value="4393" id="4393" disabled="">
                        <label for="4393">
                            <i class="icon icon_radio"></i>
                            A. suggestions
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4394" id="4394" disabled="">
                        <label for="4394">
                            <i class="icon icon_radio"></i>
                            B. options
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4395" id="4395" disabled="">
                        <label for="4395">
                            <i class="icon icon_radio"></i>
                            C. proposals
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="134" value="4396" id="4396" disabled="">
                        <label for="4396">
                            <i class="icon icon_radio"></i>
                            D. departures
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>136. My illness really ____ my ability to work effciently</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="135" value="4397" id="4397" disabled="">
                        <label for="4397">
                            <i class="icon icon_radio"></i>
                            A. addressed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4398" id="4398" disabled="">
                        <label for="4398">
                            <i class="icon icon_radio"></i>
                            B. accelerated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4399" id="4399" disabled="">
                        <label for="4399">
                            <i class="icon icon_radio"></i>
                            C. dispensed
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="135" value="4400" id="4400" disabled="">
                        <label for="4400">
                            <i class="icon icon_radio"></i>
                            D. impeded
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>137. His tense tone made it very ____ that Joe was feeling very stressed</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="136" value="4401" id="4401" disabled="">
                        <label for="4401">
                            <i class="icon icon_radio"></i>
                            A. sure
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4402" id="4402" disabled="">
                        <label for="4402">
                            <i class="icon icon_radio"></i>
                            B. clear
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4403" id="4403" disabled="">
                        <label for="4403">
                            <i class="icon icon_radio"></i>
                            C. accurate
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="136" value="4404" id="4404" disabled="">
                        <label for="4404">
                            <i class="icon icon_radio"></i>
                            D. hopeless
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>138. Brooke was hired by our company because she was intelligent and ____</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="137" value="4405" id="4405" disabled="">
                        <label for="4405">
                            <i class="icon icon_radio"></i>
                            A. dismal
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4406" id="4406" disabled="">
                        <label for="4406">
                            <i class="icon icon_radio"></i>
                            B. prejudiced
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4407" id="4407" disabled="">
                        <label for="4407">
                            <i class="icon icon_radio"></i>
                            C. reliable
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="137" value="4408" id="4408" disabled="">
                        <label for="4408">
                            <i class="icon icon_radio"></i>
                            D. urgent
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>139. The cheese and crackers are snacks that the associates ____ during the seminar tomorrow</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="138" value="4409" id="4409" disabled="">
                        <label for="4409">
                            <i class="icon icon_radio"></i>
                            A. can eat
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4410" id="4410" disabled="">
                        <label for="4410">
                            <i class="icon icon_radio"></i>
                            B. to eat
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4411" id="4411" disabled="">
                        <label for="4411">
                            <i class="icon icon_radio"></i>
                            C. are eating on
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="138" value="4412" id="4412" disabled="">
                        <label for="4412">
                            <i class="icon icon_radio"></i>
                            D. are eaten
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>140. When accepting her award, Meghan thanked her husband for being so ____ throughout her career</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="139" value="4413" id="4413" disabled="">
                        <label for="4413">
                            <i class="icon icon_radio"></i>
                            A. obstructive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4414" id="4414" disabled="">
                        <label for="4414">
                            <i class="icon icon_radio"></i>
                            B. surreptitious
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4415" id="4415" disabled="">
                        <label for="4415">
                            <i class="icon icon_radio"></i>
                            C. intrusive
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="139" value="4416" id="4416" disabled="">
                        <label for="4416">
                            <i class="icon icon_radio"></i>
                            D. supportive
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>