<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=19">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <img src="https://toeic24.vn/upload/img/resized/1580434191.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579590121/1580434192.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 22.2562%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:21</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="16626" id="16626" disabled="">
                                <label for="16626">
                                    <i class="icon icon_radio"></i>
                                    A. He's hanging up a shirt
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="16627" id="16627" disabled="">
                                <label for="16627">
                                    <i class="icon icon_radio"></i>
                                    B. He's sweeping a floor
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="16628" id="16628" disabled="">
                                <label for="16628">
                                    <i class="icon icon_radio"></i>
                                    C. He's fixing a light
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="16629" id="16629" disabled="">
                                <label for="16629">
                                    <i class="icon icon_radio"></i>
                                    D. He's holding some clothes
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1580434399.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579590121/1580434399.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 17.7778%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:25</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="16630" id="16630" disabled="">
                                <label for="16630">
                                    <i class="icon icon_radio"></i>
                                    A. She's putting paper in a copy machine
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="16631" id="16631" disabled="">
                                <label for="16631">
                                    <i class="icon icon_radio"></i>
                                    B. She's wiping the outside of a file cabinet
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="16632" id="16632" disabled="">
                                <label for="16632">
                                    <i class="icon icon_radio"></i>
                                    C. She's stapling some documents together
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="16633" id="16633" disabled="">
                                <label for="16633">
                                    <i class="icon icon_radio"></i>
                                    D. She's closing the door to an office
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1580434492.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579590121/1580434492.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 19.9273%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="16634" id="16634" disabled="">
                                <label for="16634">
                                    <i class="icon icon_radio"></i>
                                    A. The woman is sawing some wood
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="16635" id="16635" disabled="">
                                <label for="16635">
                                    <i class="icon icon_radio"></i>
                                    B. The woman is lifting a box
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="16636" id="16636" disabled="">
                                <label for="16636">
                                    <i class="icon icon_radio"></i>
                                    C. The man is using a hammer
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="16637" id="16637" disabled="">
                                <label for="16637">
                                    <i class="icon icon_radio"></i>
                                    D. The man is organizing a toolbox
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1580434545.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579590121/1580434545.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 18.7832%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:25</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="16638" id="16638" disabled="">
                                <label for="16638">
                                    <i class="icon icon_radio"></i>
                                    A. A man is standing in front of a group
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="16639" id="16639" disabled="">
                                <label for="16639">
                                    <i class="icon icon_radio"></i>
                                    B. A man is reaching into a bag
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="16640" id="16640" disabled="">
                                <label for="16640">
                                    <i class="icon icon_radio"></i>
                                    C. Some people are entering a building
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="16641" id="16641" disabled="">
                                <label for="16641">
                                    <i class="icon icon_radio"></i>
                                    D. Some people are getting onto a bus
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1580434758.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579590121/1580434758.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 17.8484%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:25</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="16642" id="16642" disabled="">
                                <label for="16642">
                                    <i class="icon icon_radio"></i>
                                    A. She's setting a glass bottle on a shelf
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="16643" id="16643" disabled="">
                                <label for="16643">
                                    <i class="icon icon_radio"></i>
                                    B. She's pressing a button on a device
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="16644" id="16644" disabled="">
                                <label for="16644">
                                    <i class="icon icon_radio"></i>
                                    C. She's removing her safety gloves
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="16645" id="16645" disabled="">
                                <label for="16645">
                                    <i class="icon icon_radio"></i>
                                    D. She's taking a lab coat off of a book
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1580434859.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579590121/1580434860.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 16.9182%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:27</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title="">
                                    <a href="#"></a>
                                </div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="16646" id="16646" disabled="">
                                <label for="16646">
                                    <i class="icon icon_radio"></i>
                                    A. A banner is suspended from a window
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="16647" id="16647" disabled="">
                                <label for="16647">
                                    <i class="icon icon_radio"></i>
                                    B. An umbrella has been opened to provide shade
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="16648" id="16648" disabled="">
                                <label for="16648">
                                    <i class="icon icon_radio"></i>
                                    C. Some potted plants have been placed in a courtyard
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="16649" id="16649" disabled="">
                                <label for="16649">
                                    <i class="icon icon_radio"></i>
                                    D. Some leaves have fallen on a walkway
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=19"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>