<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 153 - 154 refer to
    following paragraph:</b>
</p>
<hr>
<p><strong>The Hotel<br>
301 Collins Avenue,<br>
Miami Beach, Florida, 33139<br>
tel 305 531 2222<br>
fax 305 531 3222&nbsp;</strong></p>

<p style="text-align:justify">In the heart of South Beach is an art deco hotel where high-style meets history, luxurious accommodations are filled with warmth, and AAA Four Diamond award-winning hospitality and service are second to none.&nbsp;</p>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>153. Where would this card most likely be found?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="152" value="6929" id="6929" disabled="">
                        <label for="6929">
                            <i class="icon icon_radio"></i>
                            A. in a tourist office
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="152" value="6930" id="6930" disabled="">
                        <label for="6930">
                            <i class="icon icon_radio"></i>
                            B. in a hotel room
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="152" value="6931" id="6931" disabled="">
                        <label for="6931">
                            <i class="icon icon_radio"></i>
                            C. in an office building
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="152" value="6932" id="6932" disabled="">
                        <label for="6932">
                            <i class="icon icon_radio"></i>
                            D. in a restaurant
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>154. What is the purpose of this card?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="153" value="6933" id="6933" disabled="">
                        <label for="6933">
                            <i class="icon icon_radio"></i>
                            A. to give information
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="153" value="6934" id="6934" disabled="">
                        <label for="6934">
                            <i class="icon icon_radio"></i>
                            B. to attract customers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="153" value="6935" id="6935" disabled="">
                        <label for="6935">
                            <i class="icon icon_radio"></i>
                            C. to announce an event
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="153" value="6936" id="6936" disabled="">
                        <label for="6936">
                            <i class="icon icon_radio"></i>
                            D. to make an introduction
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>