<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 180 - 181 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><em>Cloud Nine </em>is now unveiling handsets better suited for use as multimedia players.&nbsp;</p>

                <p style="text-align:justify">We predict that the market for such phones, which can be used to surf the web, play music and games, and even make calls, is set to grow by 50% to 120 million units this year.&nbsp;</p>

                <p style="text-align:justify">Looking into the future, we will deliver great devices, combined with compelling experiences and services, to make it easy for people to unlock the potential of the Internet.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>180. Who is this card aimed at?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="7037" id="7037" disabled="">
                                <label for="7037">
                            <i class="icon icon_radio"></i>
                            A. someone who might buy a Cloud Nine phone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="7038" id="7038" disabled="">
                                <label for="7038">
                            <i class="icon icon_radio"></i>
                            B. Cloud Nine employees
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="7039" id="7039" disabled="">
                                <label for="7039">
                            <i class="icon icon_radio"></i>
                            C. someone who might invest in Cloud Nine
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="7040" id="7040" disabled="">
                                <label for="7040">
                            <i class="icon icon_radio"></i>
                            D. someone who is learning about the internet
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>181. Why do they say the phone can "even make calls"?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="7041" id="7041" disabled="">
                                <label for="7041">
                            <i class="icon icon_radio"></i>
                            A. It is a use of humor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7042" id="7042" disabled="">
                                <label for="7042">
                            <i class="icon icon_radio"></i>
                            B. It is unusual for these phones
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7043" id="7043" disabled="">
                                <label for="7043">
                            <i class="icon icon_radio"></i>
                            C. This is the main use of the phone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="7044" id="7044" disabled="">
                                <label for="7044">
                            <i class="icon icon_radio"></i>
                            D. It shows they are advanced
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>