<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 182 - 186 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px">Dear Mr. Atkinson&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thank you for giving Professional Travel Inc. the opportunity to make your travel arrangements for your forthcoming trip to Canada. Your electronic ticket for your flight is attached.<br> Please print it out and take it
                                    with you to the airport.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">We hope that you are pleased with the air travel and the hotel accommodation that we arranged for you. We encourage your comments, insofar as that is the best means that we have for learning first hand if the representations
                                    of quality that are made to us&nbsp;are accurate.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">We hope that you have a pleasant and successful trip, and that will afford us the opportunity to help you plan your next vacation or business trip.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,<br> Maria Constantine<br> Professional Travel Inc.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>E-Ticket/Voucher </strong><br> Booking Number: 7050543<br> Invoice Number: 471016<br> Invoice Date: 27-May-07&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Zoom Airlines Inc</strong><br> Suite 200 380 Hunt Club Road<br> Ottawa, Ontario K1C1V1<br> Canada
                                    <br> Tel: 613-235-9666&nbsp;<br> Fax: 613-231-7340&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px"><strong>Flight Information&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px"><strong>1.Flight Number: ZA 523</strong></p>

                                <ul>
                                    <li>Departure Date:&nbsp;20 June 07</li>
                                    <li>Departure Day:&nbsp;Friday</li>
                                    <li>From:&nbsp;London</li>
                                    <li>Departure Time:&nbsp;15:05</li>
                                    <li>To:&nbsp;Vancouver</li>
                                    <li>ArrivalTime:&nbsp;16:10</li>
                                </ul>

                                <p style="margin-left:10px; margin-right:10px"><strong>2.Flight Number: ZA 722</strong></p>

                                <ul>
                                    <li>Departure Date:&nbsp;29 June 07</li>
                                    <li>Departure Day:&nbsp;Sunday</li>
                                    <li>From:&nbsp;Vancouver</li>
                                    <li>Departure Time:&nbsp;16:00</li>
                                    <li>To:&nbsp;London</li>
                                    <li>ArrivalTime:&nbsp;09:00</li>
                                </ul>

                                <p style="margin-left:10px; margin-right:10px"><strong>Seat Information: </strong>Business<br>
                                    <strong>Baggage allowance:</strong> 2 pieces total weight 20kg</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><em>This ticket is not transferable/refundable to any other flight or person<br>
This receipt may be required at check-in and must be presented to customs and immigration if requested</em></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>182. What is the number of the invoice for the ticket?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="7045" id="7045" disabled="">
                                <label for="7045">
                            <i class="icon icon_radio"></i>
                            A. 471016
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7046" id="7046" disabled="">
                                <label for="7046">
                            <i class="icon icon_radio"></i>
                            B. 7050543
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7047" id="7047" disabled="">
                                <label for="7047">
                            <i class="icon icon_radio"></i>
                            C. 27-May-07
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="7048" id="7048" disabled="">
                                <label for="7048">
                            <i class="icon icon_radio"></i>
                            D. K1C 1V1
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. Why does Professional Travel Inc. like receiving comments?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="7049" id="7049" disabled="">
                                <label for="7049">
                            <i class="icon icon_radio"></i>
                            A. to get an idea of how helpful their employees are
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7050" id="7050" disabled="">
                                <label for="7050">
                            <i class="icon icon_radio"></i>
                            B. because they enjoy positive feedback
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7051" id="7051" disabled="">
                                <label for="7051">
                            <i class="icon icon_radio"></i>
                            C. so they know if the hotels they recommend are good
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="7052" id="7052" disabled="">
                                <label for="7052">
                            <i class="icon icon_radio"></i>
                            D. because this represents their quality
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>184. What does Mr. Atkinson need to do with the ticket?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="7053" id="7053" disabled="">
                                <label for="7053">
                            <i class="icon icon_radio"></i>
                            A. print it out
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7054" id="7054" disabled="">
                                <label for="7054">
                            <i class="icon icon_radio"></i>
                            B. put it in a safe place
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7055" id="7055" disabled="">
                                <label for="7055">
                            <i class="icon icon_radio"></i>
                            C. transfer it to another person
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="7056" id="7056" disabled="">
                                <label for="7056">
                            <i class="icon icon_radio"></i>
                            D. pay for it
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. At what time will Mr. Atkinson arrive back in London?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="7057" id="7057" disabled="">
                                <label for="7057">
                            <i class="icon icon_radio"></i>
                            A. 15:05
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7058" id="7058" disabled="">
                                <label for="7058">
                            <i class="icon icon_radio"></i>
                            B. 16:10
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7059" id="7059" disabled="">
                                <label for="7059">
                            <i class="icon icon_radio"></i>
                            C. 09:00
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="7060" id="7060" disabled="">
                                <label for="7060">
                            <i class="icon icon_radio"></i>
                            D. 16:00
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>186. How much baggage can Mr. Atkinson take?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="7061" id="7061" disabled="">
                                <label for="7061">
                            <i class="icon icon_radio"></i>
                            A. two 20kg bags
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7062" id="7062" disabled="">
                                <label for="7062">
                            <i class="icon icon_radio"></i>
                            B. two bags each weighing 10kg
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7063" id="7063" disabled="">
                                <label for="7063">
                            <i class="icon icon_radio"></i>
                            C. four bags each weighing 5kg
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="7064" id="7064" disabled="">
                                <label for="7064">
                            <i class="icon icon_radio"></i>
                            D. one 25kg bag
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>