<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 187 - 189 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>KEW GARDENS LONDON </strong></p>

                <p><strong>NEW Tree Identification Tours </strong></p>

                <p style="text-align:justify">11.30am every Saturday starting 6th October, 2011<br> Starting from the Plants + People Exhibition, Museum No. 1 (the large Victorian building opposite the Palm House)<br> Tours last 1<sup>1/2</sup> hours. Limited to 15 people.<br> £5
                    per person (This does not include entry to the gardens)</p>

                <p style="text-align:justify">On this special weekly tour with one of Kew's Volunteer Guides, you will learn to identify common trees, whatever the season.&nbsp;</p>

                <p style="text-align:justify">You will need to wear suitable outdoor clothing and footwear because these tours will take place in all but the most inclement weather (at the Guide's discretion on the day).&nbsp;</p>

                <p style="text-align:justify"><strong>Pre-booking essential</strong></p>

                <p style="text-align:justify">Tel: 0208&nbsp;332 5604 (weekdays only)<br> Email:&nbsp;tours@kew.org&nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>187. How much should you expect to pay altogether if you are going on the tour?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="7065" id="7065" disabled="">
                                <label for="7065">
                            <i class="icon icon_radio"></i>
                            A. less than £5
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7066" id="7066" disabled="">
                                <label for="7066">
                            <i class="icon icon_radio"></i>
                            B. £5 exactly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7067" id="7067" disabled="">
                                <label for="7067">
                            <i class="icon icon_radio"></i>
                            C. more than £5
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="7068" id="7068" disabled="">
                                <label for="7068">
                            <i class="icon icon_radio"></i>
                            D. no more than £15
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>188. What should you do if you want to take the tour?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="7069" id="7069" disabled="">
                                <label for="7069">
                            <i class="icon icon_radio"></i>
                            A. sign up at the Plants + People Exhibition
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7070" id="7070" disabled="">
                                <label for="7070">
                            <i class="icon icon_radio"></i>
                            B. book a place in advance
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7071" id="7071" disabled="">
                                <label for="7071">
                            <i class="icon icon_radio"></i>
                            C. go only on a sunny day
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="7072" id="7072" disabled="">
                                <label for="7072">
                            <i class="icon icon_radio"></i>
                            D. wait for the guide in the Palm House
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. If the weather is rainy, what will happen?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="7073" id="7073" disabled="">
                                <label for="7073">
                            <i class="icon icon_radio"></i>
                            A. The tour will probably take place
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7074" id="7074" disabled="">
                                <label for="7074">
                            <i class="icon icon_radio"></i>
                            B. The tour will probably not take place
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7075" id="7075" disabled="">
                                <label for="7075">
                            <i class="icon icon_radio"></i>
                            C. The tour will definitely be canceld
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="7076" id="7076" disabled="">
                                <label for="7076">
                            <i class="icon icon_radio"></i>
                            D. The people who booked will decide
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>