<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 190 - 192 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify"><strong>TO: All Employees<br>
FROM: Management<br>
SUBJECT: Vacations</strong></p>

                <p style="text-align:justify">This is to provide notice to all ComCast employees of our new company policy in regards to vacations</p>

                <p style="text-align:justify">Notice of your intention to take a vacation must be given to the company no less than a month prior to your vacation. This will enable us to employ temporary help, if necessary, and to schedule vacations in a manner that will not be disruptive
                    to the company</p>

                <p style="text-align:justify">There is a form that you must fill out to provide notice, which you may pick up in the Personnel Office</p>

                <p style="text-align:justify">Thank you for your co-operation</p>

                <p style="text-align:justify">Bill Chambers<br> Personnel
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=38" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>190. What was the policy on vacations probably like before?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="7077" id="7077" disabled="">
                                <label for="7077">
                            <i class="icon icon_radio"></i>
                            A. Vacations were not allowed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7078" id="7078" disabled="">
                                <label for="7078">
                            <i class="icon icon_radio"></i>
                            B. More notice was required
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7079" id="7079" disabled="">
                                <label for="7079">
                            <i class="icon icon_radio"></i>
                            C. Less notice was required
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="7080" id="7080" disabled="">
                                <label for="7080">
                            <i class="icon icon_radio"></i>
                            D. Vacations were scheduled by the company
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>191. What is a reason the company gives for making the changes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="7081" id="7081" disabled="">
                                <label for="7081">
                            <i class="icon icon_radio"></i>
                            A. to make the process fairer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7082" id="7082" disabled="">
                                <label for="7082">
                            <i class="icon icon_radio"></i>
                            B. to have time to hire extra workers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7083" id="7083" disabled="">
                                <label for="7083">
                            <i class="icon icon_radio"></i>
                            C. to save the company money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="7084" id="7084" disabled="">
                                <label for="7084">
                            <i class="icon icon_radio"></i>
                            D. to limit the choice of vacation times
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>192. How do you give notice of the vacation you wish to take?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="7085" id="7085" disabled="">
                                <label for="7085">
                            <i class="icon icon_radio"></i>
                            A. tell Bill Chambers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7086" id="7086" disabled="">
                                <label for="7086">
                            <i class="icon icon_radio"></i>
                            B. post it on your office door
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7087" id="7087" disabled="">
                                <label for="7087">
                            <i class="icon icon_radio"></i>
                            C. fill out a form
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="7088" id="7088" disabled="">
                                <label for="7088">
                            <i class="icon icon_radio"></i>
                            D. tell your manager
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=38" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>