<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 193 - 197 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>Stepping Hill Hospital, Stockport </strong><br>
                                    <em><strong>Cardiologist jobs -&nbsp;2 positions vacant&nbsp;</strong></em></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Two jobs, are&nbsp;available for cardiologists al Stepping Hill Hospital, Stockport. Both jobs are Band 5 and offered on a temporary basis until the end of Match 08&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Job number I is full time, 37.5&nbsp;hours&nbsp;- Job reference number 212/05/JTS</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Joh number 2 is&nbsp;part, time, 18.25 hours - Job reference number 213/05/JTS&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The closing date&nbsp;for both jobs, is the 23rd September and interviews will be&nbsp;held on the 30th September.&nbsp;The jobline number is 0161 419 5462. To register an interest or for an informal discussion, please
                                    contact Liz Waddell, Acting Head Cardiologist, on 0161 419 5357</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>To:</strong> i.benson@worldnet.com<br>
                                    <strong>From: </strong>waddelliz@steppinghillcom&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px">Ian Benson,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Thank you for your interest in the jobs at our hospital. I received the message you left on my answering machine, and as you were out when I returned your call, I have decided to respond to the e-mail address you left.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Regarding your first question, I think you would find the working conditions at Stepping Hill Hospital satisfactory. We are a small hospital, and the workload is less overwhelming than some city hospitals. Some of our equipment
                                    is not the newest, but we've secured funding to remedy that in the next year.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Regarding your second question, I see&nbsp;no reason&nbsp;why you couldn't apply for both positions.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Regards,<br> Liz Waddell&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=39" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>193. What is different about the two jobs?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="7089" id="7089" disabled="">
                                <label for="7089">
                            <i class="icon icon_radio"></i>
                            A. the qualifications of the person required
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7090" id="7090" disabled="">
                                <label for="7090">
                            <i class="icon icon_radio"></i>
                            B. the place of work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7091" id="7091" disabled="">
                                <label for="7091">
                            <i class="icon icon_radio"></i>
                            C. the number of hours required
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="7092" id="7092" disabled="">
                                <label for="7092">
                            <i class="icon icon_radio"></i>
                            D. the date of interviews
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. What reference number should you quote if you want to apply for a part time job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="7093" id="7093" disabled="">
                                <label for="7093">
                            <i class="icon icon_radio"></i>
                            A. 3.12/05/JTS
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7094" id="7094" disabled="">
                                <label for="7094">
                            <i class="icon icon_radio"></i>
                            B. 213/05/JTS
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7095" id="7095" disabled="">
                                <label for="7095">
                            <i class="icon icon_radio"></i>
                            C. 0161 419 5462
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="7096" id="7096" disabled="">
                                <label for="7096">
                            <i class="icon icon_radio"></i>
                            D. 212/05/JTS
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. What kind of job does Liz Waddell do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="7097" id="7097" disabled="">
                                <label for="7097">
                            <i class="icon icon_radio"></i>
                            A. She is a doctor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7098" id="7098" disabled="">
                                <label for="7098">
                            <i class="icon icon_radio"></i>
                            B. She is a manager of a hospital
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7099" id="7099" disabled="">
                                <label for="7099">
                            <i class="icon icon_radio"></i>
                            C. She works in the Personnel Department
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="7100" id="7100" disabled="">
                                <label for="7100">
                            <i class="icon icon_radio"></i>
                            D. She is a teacher
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>196. Why did Liz Waddell write to lan Benson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="195" value="7101" id="7101" disabled="">
                                <label for="7101">
                            <i class="icon icon_radio"></i>
                            A. to encourage him to apply
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7102" id="7102" disabled="">
                                <label for="7102">
                            <i class="icon icon_radio"></i>
                            B. to answer an enquiry
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7103" id="7103" disabled="">
                                <label for="7103">
                            <i class="icon icon_radio"></i>
                            C. to submit an application
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="195" value="7104" id="7104" disabled="">
                                <label for="7104">
                            <i class="icon icon_radio"></i>
                            D. to announce that she secured funding
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>197. What is most likely the first question Ian Benson asked?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="196" value="7105" id="7105" disabled="">
                                <label for="7105">
                            <i class="icon icon_radio"></i>
                            A. Is Stepping Hill a city hospital?
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7106" id="7106" disabled="">
                                <label for="7106">
                            <i class="icon icon_radio"></i>
                            B. How up to date is the equipment?
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7107" id="7107" disabled="">
                                <label for="7107">
                            <i class="icon icon_radio"></i>
                            C. Can I apply for both jobs?
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="196" value="7108" id="7108" disabled="">
                                <label for="7108">
                            <i class="icon icon_radio"></i>
                            D. What are the working conditions like?
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=39" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>