<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 198 - 200 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">The US President is due to meet the Dalai Lama, despite strong objections from the Chinese government. It will be the first time a sitting president will have appeared in public with the 72-year-old Buddhist leader.&nbsp;</p>

                <p style="text-align:justify">On Wednesday the president will attend a ceremony at the US Capitol where the Dalai Lama will receive a Congressional Gold Medal, the top US civilian award.&nbsp;</p>

                <p style="text-align:justify">A Chinese spokesman said Beijing would like the US "to correct the mistakes and to cancel the arrangements". A White House spokeswoman said that the US President understood Beijing's concerns, but "we would hope that the Chinese leaders
                    would get to know the Dalai Lama as the president sees him - as a spiritual leader and someone who wants peace", she said.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=40" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>198. What is unique about the meeting?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="197" value="7109" id="7109" disabled="">
                                <label for="7109">
                            <i class="icon icon_radio"></i>
                            A. A president has never appeared in public with the Dalai Lama before
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7110" id="7110" disabled="">
                                <label for="7110">
                            <i class="icon icon_radio"></i>
                            B. It is occurring in order to give the Dalai Lama a very prestigious award
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7111" id="7111" disabled="">
                                <label for="7111">
                            <i class="icon icon_radio"></i>
                            C. It is supporting the cause of peace
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="197" value="7112" id="7112" disabled="">
                                <label for="7112">
                            <i class="icon icon_radio"></i>
                            D. It is the first time the Dalai Lama will be in the US capital
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>199. What is true about the Dalai Lama?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="198" value="7113" id="7113" disabled="">
                                <label for="7113">
                            <i class="icon icon_radio"></i>
                            A. He is an important spiritual leader in China
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7114" id="7114" disabled="">
                                <label for="7114">
                            <i class="icon icon_radio"></i>
                            B. He is in his seventies
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7115" id="7115" disabled="">
                                <label for="7115">
                            <i class="icon icon_radio"></i>
                            C. He was an enemy of the US in the past
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="198" value="7116" id="7116" disabled="">
                                <label for="7116">
                            <i class="icon icon_radio"></i>
                            D. He is respected by everyone
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>200. How does China feel about this event?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="199" value="7117" id="7117" disabled="">
                                <label for="7117">
                            <i class="icon icon_radio"></i>
                            A. supportive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7118" id="7118" disabled="">
                                <label for="7118">
                            <i class="icon icon_radio"></i>
                            B. indifferent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7119" id="7119" disabled="">
                                <label for="7119">
                            <i class="icon icon_radio"></i>
                            C. puzzled
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="199" value="7120" id="7120" disabled="">
                                <label for="7120">
                            <i class="icon icon_radio"></i>
                            D. angry
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=40" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>