<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 155 - 156 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">Australia has seen its jobless rate fall to its lowest level in 33 years in September, official data shows, raising chances of an interest rate rise.<br> Employers created 13,000 new jobs for the month, sending the unemployment rate down
                    to 4.2% from 4.3%. The job rise was lower than forecast but came after August's figures which were revised significantly up by 34,300.<br> The government raised interest rates to their highest in 10 years in August, at 6.5%, in a bid
                    to contain inflation.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>155. What is true about jobs in Australia?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="6937" id="6937" disabled="">
                                <label for="6937">
                            <i class="icon icon_radio"></i>
                            A. There are less than there have been in more than 30 years
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6938" id="6938" disabled="">
                                <label for="6938">
                            <i class="icon icon_radio"></i>
                            B. There are more than there have been in more than 30 years
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6939" id="6939" disabled="">
                                <label for="6939">
                            <i class="icon icon_radio"></i>
                            C. There were more than were expected
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6940" id="6940" disabled="">
                                <label for="6940">
                            <i class="icon icon_radio"></i>
                            D. They are not related to interest rates at all
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>156. In what section of an Australian newspaper would this article most likely be found?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="6941" id="6941" disabled="">
                                <label for="6941">
                            <i class="icon icon_radio"></i>
                            A. the international section
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6942" id="6942" disabled="">
                                <label for="6942">
                            <i class="icon icon_radio"></i>
                            B. the sports section
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6943" id="6943" disabled="">
                                <label for="6943">
                            <i class="icon icon_radio"></i>
                            C. the cultural section
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6944" id="6944" disabled="">
                                <label for="6944">
                            <i class="icon icon_radio"></i>
                            D. the financial section
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>