<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 157 - 159 refer to
    following paragraph:</b>
</p>
<hr>
<p><strong>29th August 2010&nbsp;</strong></p>

<p><strong>The Manager<br>
Travelsafe Insurance<br>
217 26th Ave<br>
Portland, Oregon 76029&nbsp;</strong></p>

<p><strong>Policy No. R3990007<br>
Valid up to: August 1st, 2011&nbsp;</strong></p>

<p>Dear Sir or Madam,&nbsp;</p>

<p style="text-align:justify">This is to bring to your notice that my luggage, insured with your office under the above mentioned travel insurance policy, was lost on the 12 of August, 2010 on a flight from the UK to Spain with Globetrotter Airlines.&nbsp;</p>

<p style="text-align:justify">Because the luggage was lost at the beginning of the holiday, it was necessary to replace it. This included clothing, personal items, and camping and climbing equipment. Enclosed, please find estimate of replacement costs.&nbsp;</p>

<p style="text-align:justify">Yours truly,<br>
James A. Witman&nbsp;</p>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>157. What is the purpose of the letter?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="156" value="6945" id="6945" disabled="">
                        <label for="6945">
                            <i class="icon icon_radio"></i>
                            A. to report an insurance payout
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="156" value="6946" id="6946" disabled="">
                        <label for="6946">
                            <i class="icon icon_radio"></i>
                            B. to acquire travel insurance
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="156" value="6947" id="6947" disabled="">
                        <label for="6947">
                            <i class="icon icon_radio"></i>
                            C. to make an insurance claim
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="156" value="6948" id="6948" disabled="">
                        <label for="6948">
                            <i class="icon icon_radio"></i>
                            D. to respond to a question
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>158. When does the insurance policy expire?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="157" value="6949" id="6949" disabled="">
                        <label for="6949">
                            <i class="icon icon_radio"></i>
                            A. 12th August 2010
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="157" value="6950" id="6950" disabled="">
                        <label for="6950">
                            <i class="icon icon_radio"></i>
                            B. 29th August 2010
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="157" value="6951" id="6951" disabled="">
                        <label for="6951">
                            <i class="icon icon_radio"></i>
                            C. 1st August 2011
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="157" value="6952" id="6952" disabled="">
                        <label for="6952">
                            <i class="icon icon_radio"></i>
                            D. 12th August 2011
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>159. What item did Mr. Witman NOT have to replace?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="158" value="6953" id="6953" disabled="">
                        <label for="6953">
                            <i class="icon icon_radio"></i>
                            A. sleeping bag
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="158" value="6954" id="6954" disabled="">
                        <label for="6954">
                            <i class="icon icon_radio"></i>
                            B. laptop
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="158" value="6955" id="6955" disabled="">
                        <label for="6955">
                            <i class="icon icon_radio"></i>
                            C. trousers
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="158" value="6956" id="6956" disabled="">
                        <label for="6956">
                            <i class="icon icon_radio"></i>
                            D. climbing ropes
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>