<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 160 - 161 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Madame Tussauds London </strong></p>

                <p style="text-align:justify">Everience the glittering world of fame for a day at Madame Tussauds, an ever-changing attraction with several wax&nbsp;figure launches every year. There is always something new to experience for everyone.</p>

                <p style="text-align:justify">You'll find our very best ticket offers online. With ticket prices costing from a little&nbsp;as £10 for children and £12.50 for adults there really isn't much to keep you from meeting your favorite celebrities, or their likenesses in
                    wax&nbsp;that is. So what are you waiting for, book your tickets online now &amp; you're one step closer to the stars.</p>

                <p style="text-align:justify">The discounted online tickets are only valid for admissions after 5pm and you need to book your tickets online at least 24 hours in advance. Tickets bought on the day of your visit will be charged at normal rates, which vary depending
                    on what time you arrive.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>160. What is implied about Madame Tussauds?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="6957" id="6957" disabled="">
                                <label for="6957">
                            <i class="icon icon_radio"></i>
                            A. It has a long tradition
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6958" id="6958" disabled="">
                                <label for="6958">
                            <i class="icon icon_radio"></i>
                            B. It is dynamic
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6959" id="6959" disabled="">
                                <label for="6959">
                            <i class="icon icon_radio"></i>
                            C. It can make you famous
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6960" id="6960" disabled="">
                                <label for="6960">
                            <i class="icon icon_radio"></i>
                            D. It is educational
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>161. To obtain a discounted ticket, what must you do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="6961" id="6961" disabled="">
                                <label for="6961">
                            <i class="icon icon_radio"></i>
                            A. go at a certain time of day
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6962" id="6962" disabled="">
                                <label for="6962">
                            <i class="icon icon_radio"></i>
                            B. buy it on the internet the day you will go
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6963" id="6963" disabled="">
                                <label for="6963">
                            <i class="icon icon_radio"></i>
                            C. buy it at the door
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6964" id="6964" disabled="">
                                <label for="6964">
                            <i class="icon icon_radio"></i>
                            D. vary the time that you arrive
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>