<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 162 - 163 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Do You Need Office Space?</strong></p>

                <p style="text-align:justify">If you are looking to lease, rent or buy office space you've come to the right place! Since our start in 1995, the OfficeFinder&nbsp;team has personally assisted requests from over 140,000 businesses - of all sizes -&nbsp;looking for office
                    space. If your goal is to find the right office space, make sure you get the best deal possible and to avoid costly mistakes, we can help with our network of local professionals in over 450 markets!&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>162. Who would be most interested in this notice?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="6965" id="6965" disabled="">
                                <label for="6965">
                            <i class="icon icon_radio"></i>
                            A. someone who wants a job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6966" id="6966" disabled="">
                                <label for="6966">
                            <i class="icon icon_radio"></i>
                            B. someone starting a business
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6967" id="6967" disabled="">
                                <label for="6967">
                            <i class="icon icon_radio"></i>
                            C. someone with a local business
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6968" id="6968" disabled="">
                                <label for="6968">
                            <i class="icon icon_radio"></i>
                            D. someone involved in marketing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>163. What is implied about choosing the wrong office?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="6969" id="6969" disabled="">
                                <label for="6969">
                            <i class="icon icon_radio"></i>
                            A. It could ruin your career
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6970" id="6970" disabled="">
                                <label for="6970">
                            <i class="icon icon_radio"></i>
                            B. It could be expensive
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6971" id="6971" disabled="">
                                <label for="6971">
                            <i class="icon icon_radio"></i>
                            C. It is very easy to do
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6972" id="6972" disabled="">
                                <label for="6972">
                            <i class="icon icon_radio"></i>
                            D. It can disrupt the network
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>