<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 164 - 168 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>BORDERS BOOKS&nbsp;</strong></p>

                <p><strong>23 Pine Avenue<br>
Ventura. CA 94553<br>
April 25</strong>&nbsp;</p>

                <p>Dear neighbor,</p>

                <p style="text-align:justify">A new store is opening near you! On Monday 4th August doors are opening on our new Pine Avenue Branch of Borders Books.</p>

                <p style="text-align:justify">Our premises are spacious and light to make your shopping experience pleasant, and of course, we offer our signature Borders Cafe coffee shop on the second floor, so you can sit with a coffee or tea while looking over potential purchases.</p>

                <p style="text-align:justify">And of course, as you've come to expect from Borders, we have the largest selection of books around.</p>

                <p style="text-align:justify">Because you are a neighbor, we are enclosing a special coupon to encourage you to come and get to know us.</p>

                <p style="text-align:justify">Regards,<br> The Borders Team&nbsp;</p>

                <p style="text-align:center"><strong>Come and meet us at Borders Books!&nbsp;</strong></p>

                <p style="text-align:justify">This coupon is good for ___ one hat drink and one pastry ___ at the Pine Avenue Branch of Borders Bookshop.</p>

                <p style="text-align:right"><em>Valid until 25 May</em>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>164. How can Borders Books best be described?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="6973" id="6973" disabled="">
                                <label for="6973">
                            <i class="icon icon_radio"></i>
                            A. a local business
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6974" id="6974" disabled="">
                                <label for="6974">
                            <i class="icon icon_radio"></i>
                            B. a chain of stores
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6975" id="6975" disabled="">
                                <label for="6975">
                            <i class="icon icon_radio"></i>
                            C. a multinational corporation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6976" id="6976" disabled="">
                                <label for="6976">
                            <i class="icon icon_radio"></i>
                            D. a new business venture
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>165. When was the letter sent?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="6977" id="6977" disabled="">
                                <label for="6977">
                            <i class="icon icon_radio"></i>
                            A. 25th April
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6978" id="6978" disabled="">
                                <label for="6978">
                            <i class="icon icon_radio"></i>
                            B. 4th August
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6979" id="6979" disabled="">
                                <label for="6979">
                            <i class="icon icon_radio"></i>
                            C. 28th August
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6980" id="6980" disabled="">
                                <label for="6980">
                            <i class="icon icon_radio"></i>
                            D. 25th May
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. Where does the person who received the letter probably live?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="6981" id="6981" disabled="">
                                <label for="6981">
                            <i class="icon icon_radio"></i>
                            A. on or near Pine Avenue
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6982" id="6982" disabled="">
                                <label for="6982">
                            <i class="icon icon_radio"></i>
                            B. anywhere in Ventura
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6983" id="6983" disabled="">
                                <label for="6983">
                            <i class="icon icon_radio"></i>
                            C. anywhere in California
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6984" id="6984" disabled="">
                                <label for="6984">
                            <i class="icon icon_radio"></i>
                            D. anywhere with a Borders branch
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>167. What is Borders known for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="6985" id="6985" disabled="">
                                <label for="6985">
                            <i class="icon icon_radio"></i>
                            A. the Borders Cafe coffee shops
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6986" id="6986" disabled="">
                                <label for="6986">
                            <i class="icon icon_radio"></i>
                            B. the kind of books they have
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6987" id="6987" disabled="">
                                <label for="6987">
                            <i class="icon icon_radio"></i>
                            C. the architecture of their shops
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6988" id="6988" disabled="">
                                <label for="6988">
                            <i class="icon icon_radio"></i>
                            D. their generous promotional activities
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>168. What can you get with the coupon?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="6989" id="6989" disabled="">
                                <label for="6989">
                            <i class="icon icon_radio"></i>
                            A. hot drinks for you and a friend
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6990" id="6990" disabled="">
                                <label for="6990">
                            <i class="icon icon_radio"></i>
                            B. a meal on August 4th
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6991" id="6991" disabled="">
                                <label for="6991">
                            <i class="icon icon_radio"></i>
                            C. a tea and a pastry
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6992" id="6992" disabled="">
                                <label for="6992">
                            <i class="icon icon_radio"></i>
                            D. a coffee and a book
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>