<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 169 - 171 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td><strong>Departure station</strong></td>
                            <td>CHX</td>
                            <td>CHX</td>
                            <td>CHX</td>
                            <td>CHX</td>
                            <td>CHX</td>
                        </tr>
                        <tr>
                            <td><strong>Train number</strong></td>
                            <td>V344</td>
                            <td>G56</td>
                            <td>G983</td>
                            <td>HJ89</td>
                            <td>G211</td>
                        </tr>
                        <tr>
                            <td><strong>Arrival station</strong></td>
                            <td>MCO</td>
                            <td>MCO</td>
                            <td>MCO</td>
                            <td>MCO</td>
                            <td>MCO</td>
                        </tr>
                        <tr>
                            <td><strong>Departs</strong></td>
                            <td>08:14</td>
                            <td>09:22</td>
                            <td>09:47</td>
                            <td>09:51</td>
                            <td>10:22</td>
                        </tr>
                        <tr>
                            <td><strong>Arrives</strong></td>
                            <td>13:39</td>
                            <td>14:05</td>
                            <td>14:39</td>
                            <td>14:39</td>
                            <td>15:05</td>
                        </tr>
                        <tr>
                            <td><strong>Duration</strong></td>
                            <td>5:25</td>
                            <td>4:43</td>
                            <td>4:52</td>
                            <td>4:48</td>
                            <td>4:43</td>
                        </tr>
                        <tr>
                            <td><strong>Changes</strong></td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>

                <p><strong>CHX</strong> = London Charing Cross<br>
                    <strong>MCO</strong> = Manchester Oxford Road</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>169. Which train has the longest journey time?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="6993" id="6993" disabled="">
                                <label for="6993">
                            <i class="icon icon_radio"></i>
                            A. G56
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6994" id="6994" disabled="">
                                <label for="6994">
                            <i class="icon icon_radio"></i>
                            B. HJ89
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6995" id="6995" disabled="">
                                <label for="6995">
                            <i class="icon icon_radio"></i>
                            C. V344
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6996" id="6996" disabled="">
                                <label for="6996">
                            <i class="icon icon_radio"></i>
                            D. G211
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. To be in Manchester by 2pm, which train should you take?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="6997" id="6997" disabled="">
                                <label for="6997">
                            <i class="icon icon_radio"></i>
                            A. G983 or HJ89
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6998" id="6998" disabled="">
                                <label for="6998">
                            <i class="icon icon_radio"></i>
                            B. G56
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6999" id="6999" disabled="">
                                <label for="6999">
                            <i class="icon icon_radio"></i>
                            C. V344
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="7000" id="7000" disabled="">
                                <label for="7000">
                            <i class="icon icon_radio"></i>
                            D. any of them
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. What is a disadvantage to taking train HJ89?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="7001" id="7001" disabled="">
                                <label for="7001">
                            <i class="icon icon_radio"></i>
                            A. It has a longer journey time
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7002" id="7002" disabled="">
                                <label for="7002">
                            <i class="icon icon_radio"></i>
                            B. You must change trains more often
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7003" id="7003" disabled="">
                                <label for="7003">
                            <i class="icon icon_radio"></i>
                            C. It arrives earlier than train G983
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="7004" id="7004" disabled="">
                                <label for="7004">
                            <i class="icon icon_radio"></i>
                            D. It leaves earliest in the morning
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>