<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 175 - 179 refer to
    following paragraph:</b>
</p>
<hr>
<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
<tr>
<td>
<p style="margin-left:10px; margin-right:10px"><strong>To: rogers@westways.com<br>
From: la_air@mariott.com<br>
Subject: internet access<br>
Date: 12 June&nbsp;</strong></p>

<p style="margin-left:10px; margin-right:10px">Dear Mr. Rogers,</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Thanks for your enquiry about staying with us. We do have rooms available on the 24th and 25th.</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Regarding your question about availability of the internet, we do have wireless internet access available in all public spaces in the hotel, for standard connection fees.<br>
But let me recommend our Wired-for-Business Plan which offers you internet access in your room at great savings. I've attached a leaflet that gives you a bit more information about the plan</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">If we can be of any further assistance, please do not hesitate to contact us.</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Los Angeles Airport Marriott<br>
5855 West Century Boulevard<br>
Los Angeles, California 90045 USA<br>
Sales phone:<br>
1-310-337-5331<br>
Sales fax<br>
1-310-337-8084&nbsp;</p>
</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
<tr>
<td>
<p style="margin-left:10px; margin-right:10px; text-align:center"><strong>WIRED FOR BUSINESS<br>
Connecting you to the world!&nbsp;</strong></p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">For a set daily rate of 12.95 USD, you get, in your guest room:</p>

<ol>
    <li style="margin-left: 10px; margin-right: 10px; text-align: justify;">High-speed Internet access</li>
    <li style="margin-left: 10px; margin-right: 10px; text-align: justify;">Unlimited local phone calls</li>
    <li style="margin-left: 10px; margin-right: 10px; text-align: justify;">Unlimited long-distance calls (within the US)</li>
</ol>

<p style="margin-left:10px; margin-right:10px; text-align:justify"><em>This offer is good only in Business Suites</em></p>
</td>
</tr>
</tbody>
</table>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>175. Why was this e-mail sent?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="174" value="7017" id="7017" disabled="">
                        <label for="7017">
                            <i class="icon icon_radio"></i>
                            A. to offer a service
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="174" value="7018" id="7018" disabled="">
                        <label for="7018">
                            <i class="icon icon_radio"></i>
                            B. to answer an enquiry
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="174" value="7019" id="7019" disabled="">
                        <label for="7019">
                            <i class="icon icon_radio"></i>
                            C. to recommend accommodation
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="174" value="7020" id="7020" disabled="">
                        <label for="7020">
                            <i class="icon icon_radio"></i>
                            D. to acknowledge a booking
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>176. When is Mr. Rogers thinking of staying at the hotel?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="175" value="7021" id="7021" disabled="">
                        <label for="7021">
                            <i class="icon icon_radio"></i>
                            A. the 12th of June
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="175" value="7022" id="7022" disabled="">
                        <label for="7022">
                            <i class="icon icon_radio"></i>
                            B. the 12th to the 25th of June
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="175" value="7023" id="7023" disabled="">
                        <label for="7023">
                            <i class="icon icon_radio"></i>
                            C. the 24th of June
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="175" value="7024" id="7024" disabled="">
                        <label for="7024">
                            <i class="icon icon_radio"></i>
                            D. the 24th and 25th of June
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>177. If Mr. Rogers does not use the Wired-For-Business plan, where can he use the internet?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="176" value="7025" id="7025" disabled="">
                        <label for="7025">
                            <i class="icon icon_radio"></i>
                            A. in a public park
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="176" value="7026" id="7026" disabled="">
                        <label for="7026">
                            <i class="icon icon_radio"></i>
                            B. in the hotel lobby
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="176" value="7027" id="7027" disabled="">
                        <label for="7027">
                            <i class="icon icon_radio"></i>
                            C. in his hotel room
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="176" value="7028" id="7028" disabled="">
                        <label for="7028">
                            <i class="icon icon_radio"></i>
                            D. he will have to go to an internet cafe
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>178. What is most likely true about Mr. Rogers?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="177" value="7029" id="7029" disabled="">
                        <label for="7029">
                            <i class="icon icon_radio"></i>
                            A. He is going on holiday
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="177" value="7030" id="7030" disabled="">
                        <label for="7030">
                            <i class="icon icon_radio"></i>
                            B. He is visiting L.A for business
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="177" value="7031" id="7031" disabled="">
                        <label for="7031">
                            <i class="icon icon_radio"></i>
                            C. He is from L.A
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="177" value="7032" id="7032" disabled="">
                        <label for="7032">
                            <i class="icon icon_radio"></i>
                            D. He will arrive in L.A by train
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>179. If you have purchased the Wired-For-Business Plan, what do you have to pay extra for?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="178" value="7033" id="7033" disabled="">
                        <label for="7033">
                            <i class="icon icon_radio"></i>
                            A. wireless internet
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="178" value="7034" id="7034" disabled="">
                        <label for="7034">
                            <i class="icon icon_radio"></i>
                            B. internet in your own room
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="178" value="7035" id="7035" disabled="">
                        <label for="7035">
                            <i class="icon icon_radio"></i>
                            C. local phone calls
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="178" value="7036" id="7036" disabled="">
                        <label for="7036">
                            <i class="icon icon_radio"></i>
                            D. international phone calls
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>