<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M-Cn: Ms. Sorensen. It's Tony Reed calling from e-Energy Insight. I appreciate having the opportunity to tell you about our energy management software.</p>

                        <p>W-Br: Sure. As the manager of a large bank, I know that our energy bills are quite substantial. We're always looking for ways to cut energy costs.</p>

                        <p>M-Cn: Well, our software automatically controls the lighting, heating, and cooling of multiple rooms, as well as the energy needed for operating machines. It redirects the energy where it's needed, so that there's no waste.</p>

                        <p>W-Br: lnteresting. Would it be possible for you to give us a demonstration of how it all works?</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580442055.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.86527%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:16</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. Why is the man calling? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="16836" id="16836" disabled="">
                                <label for="16836">
                            <i class="icon icon_radio"></i>
                            A. To conduct a survey 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="16837" id="16837" disabled="">
                                <label for="16837">
                            <i class="icon icon_radio"></i>
                            B. To inquire about a convention 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="16838" id="16838" disabled="">
                                <label for="16838">
                            <i class="icon icon_radio"></i>
                            C. To provide some feedback 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="16839" id="16839" disabled="">
                                <label for="16839">
                            <i class="icon icon_radio"></i>
                            D. To promote a product 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. What does the woman say she is interested in? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="16840" id="16840" disabled="">
                                <label for="16840">
                            <i class="icon icon_radio"></i>
                            A. Making online payments 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="16841" id="16841" disabled="">
                                <label for="16841">
                            <i class="icon icon_radio"></i>
                            B. Buying a membership 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="16842" id="16842" disabled="">
                                <label for="16842">
                            <i class="icon icon_radio"></i>
                            C. Reducing energy costs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="16843" id="16843" disabled="">
                                <label for="16843">
                            <i class="icon icon_radio"></i>
                            D. Funding a research project 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What does the woman request? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="16844" id="16844" disabled="">
                                <label for="16844">
                            <i class="icon icon_radio"></i>
                            A. A demonstration 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="16845" id="16845" disabled="">
                                <label for="16845">
                            <i class="icon icon_radio"></i>
                            B. A site visit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="16846" id="16846" disabled="">
                                <label for="16846">
                            <i class="icon icon_radio"></i>
                            C. A registration form 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="16847" id="16847" disabled="">
                                <label for="16847">
                            <i class="icon icon_radio"></i>
                            D. A financing plan 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>