<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="text-center"><img src="https://toeic24.vn/upload/img/original/1580442618.png"></div>
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W-Am: Thanks for calling the Forester Hotel. How can I help you?</p>

                        <p>M-Cn: Hi, I'm arranging the annual awards banquet for my company. I checked your Web site ... Can I reserve the Rose Hall for May fifteenth?</p>

                        <p>W-Am: Let me check the schedule... I'm afraid the Rose Hall's unavailable that day. The Sunflower Hall is available. It's 50 dollars more expensive than the Rose Hall, but it's larger.</p>

                        <p>M-Cn: Hmm, that's OK. The Sunflower Hall should be fine. I also had a question about food for the dinner. Can you recommend a good caterer?</p>

                        <p>W-Am: Oh, I'd recommend Sammy's Catering. It's popular because of the variety of vegetarian options they offer</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580442618.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.08891%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:28</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. What event is the man calling about? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="16848" id="16848" disabled="">
                                <label for="16848">
                            <i class="icon icon_radio"></i>
                            A. A trade show 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="16849" id="16849" disabled="">
                                <label for="16849">
                            <i class="icon icon_radio"></i>
                            B. A training workshop 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="16850" id="16850" disabled="">
                                <label for="16850">
                            <i class="icon icon_radio"></i>
                            C. An awards dinner 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="16851" id="16851" disabled="">
                                <label for="16851">
                            <i class="icon icon_radio"></i>
                            D. A retirement celebration 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. Look at the graphic. How much will the man's reservation cost? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="16852" id="16852" disabled="">
                                <label for="16852">
                            <i class="icon icon_radio"></i>
                            A. $200
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="16853" id="16853" disabled="">
                                <label for="16853">
                            <i class="icon icon_radio"></i>
                            B. $250 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="16854" id="16854" disabled="">
                                <label for="16854">
                            <i class="icon icon_radio"></i>
                            C. $350 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="16855" id="16855" disabled="">
                                <label for="16855">
                            <i class="icon icon_radio"></i>
                            D. $150 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. According to the woman, why is a catering business popular?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="16856" id="16856" disabled="">
                                <label for="16856">
                            <i class="icon icon_radio"></i>
                            A. It offers vegetarian dishes. 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="16857" id="16857" disabled="">
                                <label for="16857">
                            <i class="icon icon_radio"></i>
                            B. It uses local ingredients. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="16858" id="16858" disabled="">
                                <label for="16858">
                            <i class="icon icon_radio"></i>
                            C. The prices are reasonable. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="16859" id="16859" disabled="">
                                <label for="16859">
                            <i class="icon icon_radio"></i>
                            D. The chef is famous. 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>