<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="text-center"><img src="https://toeic24.vn/upload/img/original/1580442885.png"></div>
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M-Au: Michelle, thanks for agreeing to lead this afternoon's meeting with me. One topic I think we should discuss with the staff is factory productivity. We haven't met our quotas for lightbulbs for a few months.</p>

                        <p>W-Br: I know. Productivity hasn't been stable recently. We had a month of strong production, but the next month was the lowest we've had in a year!</p>

                        <p>M-Au: Right... So at today's meeting, let's focus on the month when productivity was very low.</p>

                        <p>W-Br: I know that our bulb manufacturing machines broke down several times that month. We should probably have all of them inspected.</p>

                        <p>M-Au: I agree. What else should we discuss at the staff meeting?</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580442885.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.3194%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:23</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. What will the speakers do this afternoon? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="16860" id="16860" disabled="">
                                <label for="16860">
                            <i class="icon icon_radio"></i>
                            A. Order replacement parts 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="16861" id="16861" disabled="">
                                <label for="16861">
                            <i class="icon icon_radio"></i>
                            B. Lead a staff meeting 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="16862" id="16862" disabled="">
                                <label for="16862">
                            <i class="icon icon_radio"></i>
                            C. Host a client lunch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="16863" id="16863" disabled="">
                                <label for="16863">
                            <i class="icon icon_radio"></i>
                            D. Conduct a facility tour 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. Look at the graphic. Which month do the speakers agree to discuss? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="16864" id="16864" disabled="">
                                <label for="16864">
                            <i class="icon icon_radio"></i>
                            A. March 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="16865" id="16865" disabled="">
                                <label for="16865">
                            <i class="icon icon_radio"></i>
                            B. April 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="16866" id="16866" disabled="">
                                <label for="16866">
                            <i class="icon icon_radio"></i>
                            C. May
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="16867" id="16867" disabled="">
                                <label for="16867">
                            <i class="icon icon_radio"></i>
                            D. June
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. What does the woman suggest doing? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="16868" id="16868" disabled="">
                                <label for="16868">
                            <i class="icon icon_radio"></i>
                            A. Improving security
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="16869" id="16869" disabled="">
                                <label for="16869">
                            <i class="icon icon_radio"></i>
                            B. Hiring qualified employees
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="16870" id="16870" disabled="">
                                <label for="16870">
                            <i class="icon icon_radio"></i>
                            C. Building another warehouse 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="16871" id="16871" disabled="">
                                <label for="16871">
                            <i class="icon icon_radio"></i>
                            D. Inspecting some machines 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>