<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
                        following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=33" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="text-center"><img src="https://toeic24.vn/upload/img/original/1580443199.png"></div>
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W-Am: Hi, Corey. I wanted to talk to you about the way we currently conduct hiring for the
                            firm. I was thinking that we could reduce our workload in the human resources department by
                            reducing the number of steps in the hiring process.</p>

                        <p>M-Au: Well, we have to be sure we hire the right people. We can't eliminate the phone call...
                            That's the best way to decide who we should bring in for interviews. But we could stop doing
                            a group interview.</p>

                        <p>W-Am: I&nbsp;agree. Honestly, those haven't provided much information about job candidates in
                            the past.</p>

                        <p>M-Au: Good point.</p>

                        <p>W-Am: OK, Let's work on a presentation to show Mr. Kobayashi our idea.</p>

                        <p>M-Au: All right.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="https://toeic24.vn/upload/audio/1579590121/1580443199.mp3" type="audio/mp3">
                        </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.16797%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:26</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. According to the woman, what is the benefit of changing a process?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="16872" id="16872" disabled="">
                                <label for="16872">
                                    <i class="icon icon_radio"></i>
                                    A. It will decrease the workload.
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="16873" id="16873" disabled="">
                                <label for="16873">
                                    <i class="icon icon_radio"></i>
                                    B. It will make the company more competitive.
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="16874" id="16874" disabled="">
                                <label for="16874">
                                    <i class="icon icon_radio"></i>
                                    C. It will help prevent mistakes
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="16875" id="16875" disabled="">
                                <label for="16875">
                                    <i class="icon icon_radio"></i>
                                    D. It will save money.
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. Look at the graphic. Which step do the speakers agree should be removed? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="16876" id="16876" disabled="">
                                <label for="16876">
                                    <i class="icon icon_radio"></i>
                                    A. Step 1
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="16877" id="16877" disabled="">
                                <label for="16877">
                                    <i class="icon icon_radio"></i>
                                    B. Step 2
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="16878" id="16878" disabled="">
                                <label for="16878">
                                    <i class="icon icon_radio"></i>
                                    C. Step 3
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="16879" id="16879" disabled="">
                                <label for="16879">
                                    <i class="icon icon_radio"></i>
                                    D. Step 4
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What will the speakers do next? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="16880" id="16880" disabled="">
                                <label for="16880">
                                    <i class="icon icon_radio"></i>
                                    A. Review a budget
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="16881" id="16881" disabled="">
                                <label for="16881">
                                    <i class="icon icon_radio"></i>
                                    B. Prepare a presentation
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="16882" id="16882" disabled="">
                                <label for="16882">
                                    <i class="icon icon_radio"></i>
                                    C. Print out some resumes
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="16883" id="16883" disabled="">
                                <label for="16883">
                                    <i class="icon icon_radio"></i>
                                    D. Hire a consultant
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=33"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>