<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 35 - 37 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=22" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M-Cn: Hi, Lucia. I&nbsp;think we're almost ready for the cooking class tomorrow. We have a lot of people signed up, even though it's the first one we've held here at the store.</p>

                        <p>W-Br: I know. I&nbsp;really hope this will help boost our sales. The chef teaching the class will be using a lot of the equipment we sell here in the store, so hopefully the students will buy it to use at home.</p>

                        <p>M-Cn: Yes, you're right. Oh, that reminds me. We got a shipment of new cookware this morning. I'll go put everything on the shelves now.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580439483.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.70829%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>35. What is taking place tomorrow? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="34" value="16740" id="16740" disabled="">
                                <label for="16740">
                            <i class="icon icon_radio"></i>
                            A. A cooking class 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="34" value="16741" id="16741" disabled="">
                                <label for="16741">
                            <i class="icon icon_radio"></i>
                            B. A grand opening 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="34" value="16742" id="16742" disabled="">
                                <label for="16742">
                            <i class="icon icon_radio"></i>
                            C.  A company dinner 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="34" value="16743" id="16743" disabled="">
                                <label for="16743">
                            <i class="icon icon_radio"></i>
                            D. A music festival 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>36. What does the woman hope will happen? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="35" value="16744" id="16744" disabled="">
                                <label for="16744">
                            <i class="icon icon_radio"></i>
                            A. A job will become available
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="35" value="16745" id="16745" disabled="">
                                <label for="16745">
                            <i class="icon icon_radio"></i>
                            B. An event will begin on time
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="35" value="16746" id="16746" disabled="">
                                <label for="16746">
                            <i class="icon icon_radio"></i>
                            C. Store sales will increase
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="35" value="16747" id="16747" disabled="">
                                <label for="16747">
                            <i class="icon icon_radio"></i>
                            D. Tourism to an area will improve
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>37. What does the man say he will do next? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="36" value="16748" id="16748" disabled="">
                                <label for="16748">
                            <i class="icon icon_radio"></i>
                            A. Print out some coupons 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="36" value="16749" id="16749" disabled="">
                                <label for="16749">
                            <i class="icon icon_radio"></i>
                            B. Design a flyer 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="36" value="16750" id="16750" disabled="">
                                <label for="16750">
                            <i class="icon icon_radio"></i>
                            C. Decorate a room 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="36" value="16751" id="16751" disabled="">
                                <label for="16751">
                            <i class="icon icon_radio"></i>
                            D. Stock some shelves
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=22" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>