<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 38 - 40 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W-Am: Dave, have you had a chance to meet Yanmei Li, the new head of marketing, yet?</p>

                        <p>M-Cn: No, I haven't had time. I&nbsp;was busy with the launch of our new smartphone last week. Have you met her?</p>

                        <p>W-Am: Yeah, she seems very approachable. Her last job was with a computer manufacturer, so I think she's a really good fit for the company. So, how did the new product launch go?</p>

                        <p>M-Cn: Really well. We started in Europe and 40we'II expand to North America. I'm actually going there next week.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580439647.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.79749%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>38. According to the speakers, what happened last week? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="37" value="16752" id="16752" disabled="">
                                <label for="16752">
                            <i class="icon icon_radio"></i>
                            A. A new product was launched. 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="37" value="16753" id="16753" disabled="">
                                <label for="16753">
                            <i class="icon icon_radio"></i>
                            B. A software package was purchased. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="37" value="16754" id="16754" disabled="">
                                <label for="16754">
                            <i class="icon icon_radio"></i>
                            C. A technical issue was resolved. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="37" value="16755" id="16755" disabled="">
                                <label for="16755">
                            <i class="icon icon_radio"></i>
                            D. A regional office was closed. 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>39. What industry do the speakers work in?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="38" value="16756" id="16756" disabled="">
                                <label for="16756">
                            <i class="icon icon_radio"></i>
                            A. Health care 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="38" value="16757" id="16757" disabled="">
                                <label for="16757">
                            <i class="icon icon_radio"></i>
                            B. Finance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="38" value="16758" id="16758" disabled="">
                                <label for="16758">
                            <i class="icon icon_radio"></i>
                            C. Technology 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="38" value="16759" id="16759" disabled="">
                                <label for="16759">
                            <i class="icon icon_radio"></i>
                            D.  Education 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>40. What will the man do next week? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="39" value="16760" id="16760" disabled="">
                                <label for="16760">
                            <i class="icon icon_radio"></i>
                            A. Attend a training 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="39" value="16761" id="16761" disabled="">
                                <label for="16761">
                            <i class="icon icon_radio"></i>
                            B. Travel for business 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="39" value="16762" id="16762" disabled="">
                                <label for="16762">
                            <i class="icon icon_radio"></i>
                            C. Prepare a slideshow 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="39" value="16763" id="16763" disabled="">
                                <label for="16763">
                            <i class="icon icon_radio"></i>
                            D. Revise a contract
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=23" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>