<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 44 - 46 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W-Br: Hi. I&nbsp;saw an advertisement for the Piceasy camera in today's newspaper, but the price shown on the display here in your store is different than what was listed in the ad.</p>

                        <p>M-Au: Oh... OK. My manager here can help you. Mr. Jensen?</p>

                        <p>M-Cn: Sure. Sorry about the confusion. That camera just went on sale today, and we haven't changed the price on our display yet.</p>

                        <p>W-Br: Oh, that's good to hear. I'd like to buy it then.</p>

                        <p>M-Cn: Great. And that camera comes with a two-year warranty, but for another 25 dollars, you can extend it to five years. Would you like to do that?</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580440557.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.88434%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:15</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>44. What product are the speakers discussing? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="43" value="16776" id="16776" disabled="">
                                <label for="16776">
                            <i class="icon icon_radio"></i>
                            A. A camera 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="16777" id="16777" disabled="">
                                <label for="16777">
                            <i class="icon icon_radio"></i>
                            B. A printer 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="16778" id="16778" disabled="">
                                <label for="16778">
                            <i class="icon icon_radio"></i>
                            C. A television 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="16779" id="16779" disabled="">
                                <label for="16779">
                            <i class="icon icon_radio"></i>
                            D. A mobile phone
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>45. What problem does the woman mention? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="44" value="16780" id="16780" disabled="">
                                <label for="16780">
                            <i class="icon icon_radio"></i>
                            A. An item is damaged. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="16781" id="16781" disabled="">
                                <label for="16781">
                            <i class="icon icon_radio"></i>
                            B. An item is out of stock. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="16782" id="16782" disabled="">
                                <label for="16782">
                            <i class="icon icon_radio"></i>
                            C. A display price is incorrect. 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="16783" id="16783" disabled="">
                                <label for="16783">
                            <i class="icon icon_radio"></i>
                            D. A delivery was not received. 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>46. What does the manager offer the woman? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="45" value="16784" id="16784" disabled="">
                                <label for="16784">
                            <i class="icon icon_radio"></i>
                            A. A refund
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="16785" id="16785" disabled="">
                                <label for="16785">
                            <i class="icon icon_radio"></i>
                            B. An extended warranty 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="16786" id="16786" disabled="">
                                <label for="16786">
                            <i class="icon icon_radio"></i>
                            C. Free membership 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="16787" id="16787" disabled="">
                                <label for="16787">
                            <i class="icon icon_radio"></i>
                            D. Express shipping 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>