<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M-Cn: OK, I've finished examining your teeth. Everything looks healthy. Do you have any concerns?</p>

                        <p>W-Br: Yes, actually. It's nothing serious, but sometimes my teeth hurt a little when I brush them.</p>

                        <p>M-Cn: Maybe you're brushing too hard or you're using the wrong type of toothbrush. I&nbsp;have a pamphlet about that... uh, here you go. This has some useful recommendations.</p>

                        <p>W-Br: Thanks, I'll read it. And by the way, I recently moved, so I need to update my patient file.</p>

                        <p>M-Cn: OK, please give your new address to our receptionist on your way out.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580441269.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.07045%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:13</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. Where does the conversation most likely take place? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="16788" id="16788" disabled="">
                                <label for="16788">
                            <i class="icon icon_radio"></i>
                            A. At a drug store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="16789" id="16789" disabled="">
                                <label for="16789">
                            <i class="icon icon_radio"></i>
                            B. At a fitness center 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="16790" id="16790" disabled="">
                                <label for="16790">
                            <i class="icon icon_radio"></i>
                            C. At a research laboratory
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="16791" id="16791" disabled="">
                                <label for="16791">
                            <i class="icon icon_radio"></i>
                            D. At a dentist's office 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. What does the man give to the woman? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="16792" id="16792" disabled="">
                                <label for="16792">
                            <i class="icon icon_radio"></i>
                            A. A toothbrush 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="16793" id="16793" disabled="">
                                <label for="16793">
                            <i class="icon icon_radio"></i>
                            B. A pamphlet 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="16794" id="16794" disabled="">
                                <label for="16794">
                            <i class="icon icon_radio"></i>
                            C. A water bottle 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="16795" id="16795" disabled="">
                                <label for="16795">
                            <i class="icon icon_radio"></i>
                            D. A receipt 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. What does the man ask the woman to do? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="16796" id="16796" disabled="">
                                <label for="16796">
                            <i class="icon icon_radio"></i>
                            A. Pay a fee 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="16797" id="16797" disabled="">
                                <label for="16797">
                            <i class="icon icon_radio"></i>
                            B. Sign a form 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="16798" id="16798" disabled="">
                                <label for="16798">
                            <i class="icon icon_radio"></i>
                            C. Provide an address
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="16799" id="16799" disabled="">
                                <label for="16799">
                            <i class="icon icon_radio"></i>
                            D. Make an appointment 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>