<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 50 - 52 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W-Am: Hi, Charlie. This is Cora from Thomasville Marketing. We're impressed with your qualifications, and we'd like to offer you the position at our Chicago office.</p>

                        <p>M-Au: Thank you. That's exciting news. Moving to Chicago would be a big decision for me, though, so I'll&nbsp;need to think about it.</p>

                        <p>W-Am: Well, we'd really like to fill the position this week.</p>

                        <p>M-Au: OK, I understand.</p>

                        <p>W-Am: If you accept the position, we'd like you to come to Chicago soon to meet the team you'd be working with. And, of course, Thomasville Marketing always pays for business-related air travel and taxi expenses.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580441435.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.62283%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:21</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>50. What type of business does the woman work for? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="49" value="16800" id="16800" disabled="">
                                <label for="16800">
                            <i class="icon icon_radio"></i>
                            A. A grocery store 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="16801" id="16801" disabled="">
                                <label for="16801">
                            <i class="icon icon_radio"></i>
                            B. A publishing company 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="16802" id="16802" disabled="">
                                <label for="16802">
                            <i class="icon icon_radio"></i>
                            C. A marketing firm 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="16803" id="16803" disabled="">
                                <label for="16803">
                            <i class="icon icon_radio"></i>
                            D. A travel agency 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>51. What does the woman mean when she says, "we'd really like to fill the position this week"? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="50" value="16804" id="16804" disabled="">
                                <label for="16804">
                            <i class="icon icon_radio"></i>
                            A. A candidate should decide quickly. 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="16805" id="16805" disabled="">
                                <label for="16805">
                            <i class="icon icon_radio"></i>
                            B. An alternative plan needs to be approved. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="16806" id="16806" disabled="">
                                <label for="16806">
                            <i class="icon icon_radio"></i>
                            C. Additional funding will be required. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="16807" id="16807" disabled="">
                                <label for="16807">
                            <i class="icon icon_radio"></i>
                            D. A manager will change a timeline. 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>52. According to the woman, what does the company always pay for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="51" value="16808" id="16808" disabled="">
                                <label for="16808">
                            <i class="icon icon_radio"></i>
                            A. Housing 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="16809" id="16809" disabled="">
                                <label for="16809">
                            <i class="icon icon_radio"></i>
                            B. Equipment 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="16810" id="16810" disabled="">
                                <label for="16810">
                            <i class="icon icon_radio"></i>
                            C. Clothing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="16811" id="16811" disabled="">
                                <label for="16811">
                            <i class="icon icon_radio"></i>
                            D. Transportation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>