<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W-Br: Kumiko, what are you posting on the notice board?</p>

                        <p>W-Am: Hi, Amelia. I'm organizing a company team for a charity event next weekend. It's a ten-kilometer run through the city. The money raised will be used for a neighborhood playground.</p>

                        <p>W-Br: Sounds good! By the way, I&nbsp;usually run with some of our colleagues during lunch. I'll talk to them tomorrow about joining the team.</p>

                        <p>W-Am: Great, thanks Amelia! We need ten people to make a full team.</p>

                        <p>W-Br: Hey, there's Martin. He likes running too. Martin, want to join our team? We're participating in a ten-kilometer run for charity. It's next weekend.</p>

                        <p>M-Cn: Next weekend? I wish I could! But I'll&nbsp;be in Washington for a conference then.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580441659.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 5.24399%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:26</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. What are the speakers mainly talking about?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="16812" id="16812" disabled="">
                                <label for="16812">
                            <i class="icon icon_radio"></i>
                            A. A holiday parade 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="16813" id="16813" disabled="">
                                <label for="16813">
                            <i class="icon icon_radio"></i>
                            B. A charity event 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="16814" id="16814" disabled="">
                                <label for="16814">
                            <i class="icon icon_radio"></i>
                            C. A health seminar 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="16815" id="16815" disabled="">
                                <label for="16815">
                            <i class="icon icon_radio"></i>
                            D. A company picnic 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. What does Amelia offer to do tomorrow? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="16816" id="16816" disabled="">
                                <label for="16816">
                            <i class="icon icon_radio"></i>
                            A. Speak with some colleagues 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="16817" id="16817" disabled="">
                                <label for="16817">
                            <i class="icon icon_radio"></i>
                            B. Pick up some supplies
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="16818" id="16818" disabled="">
                                <label for="16818">
                            <i class="icon icon_radio"></i>
                            C. Finalize a travel itinerary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="16819" id="16819" disabled="">
                                <label for="16819">
                            <i class="icon icon_radio"></i>
                            D. Contact a news reporter 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. Why will the man be in Washington? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="16820" id="16820" disabled="">
                                <label for="16820">
                            <i class="icon icon_radio"></i>
                            A. To inspect a building 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="16821" id="16821" disabled="">
                                <label for="16821">
                            <i class="icon icon_radio"></i>
                            B. To accept an award 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="16822" id="16822" disabled="">
                                <label for="16822">
                            <i class="icon icon_radio"></i>
                            C. To attend a conference
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="16823" id="16823" disabled="">
                                <label for="16823">
                            <i class="icon icon_radio"></i>
                            D. To interview for a job 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>