<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W-Am: John, a customer is looking for this winter boot in a size ten. Could you find that for me, please?</p>

                        <p>M-Au: Actually, l'm just finishing my shift now.</p>

                        <p>W-Am: I'd really appreciate it if you could get this one last thing before you go.</p>

                        <p>M-Au: OK, sure. Oh... Last time I was in the stockroom, I noticed that we've sold out of a lot of sizes in this style. I'll go look, but it might be a good idea to ask the customer if she'd be interested in a different style.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1579590121/1580441841.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.1379%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. Where do the speakers most likely work? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="16824" id="16824" disabled="">
                                <label for="16824">
                            <i class="icon icon_radio"></i>
                            A. At a shoe store
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="16825" id="16825" disabled="">
                                <label for="16825">
                            <i class="icon icon_radio"></i>
                            B. At a furniture store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="16826" id="16826" disabled="">
                                <label for="16826">
                            <i class="icon icon_radio"></i>
                            C. At an auto repair shop 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="16827" id="16827" disabled="">
                                <label for="16827">
                            <i class="icon icon_radio"></i>
                            D. At a kitchen appliance store 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. Why does the man decline the woman's request at first? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="16828" id="16828" disabled="">
                                <label for="16828">
                            <i class="icon icon_radio"></i>
                            A. He is on a short break. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="16829" id="16829" disabled="">
                                <label for="16829">
                            <i class="icon icon_radio"></i>
                            B. He is preparing a display. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="16830" id="16830" disabled="">
                                <label for="16830">
                            <i class="icon icon_radio"></i>
                            C. He is about to leave work. 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="16831" id="16831" disabled="">
                                <label for="16831">
                            <i class="icon icon_radio"></i>
                            D. He is assisting another client. 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. What does the man say about an item? </b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="16832" id="16832" disabled="">
                                <label for="16832">
                            <i class="icon icon_radio"></i>
                            A. It is broken. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="16833" id="16833" disabled="">
                                <label for="16833">
                            <i class="icon icon_radio"></i>
                            B. It is discounted. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="16834" id="16834" disabled="">
                                <label for="16834">
                            <i class="icon icon_radio"></i>
                            C. It is easy to operate. 
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="16835" id="16835" disabled="">
                                <label for="16835">
                            <i class="icon icon_radio"></i>
                            D. It is probably unavailable. 
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>