<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Mark your answer on your answer sheet:</b>
</p>
<hr>
<form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <img src="https://toeic24.vn/upload/img/resized/1565677624.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565677624.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 36.3039%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:17</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>1. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="0" value="971" id="971" disabled="">
                        <label for="971">
                            <i class="icon icon_radio"></i>
                            A. They are boarding
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="0" value="972" id="972" disabled="">
                        <label for="972">
                            <i class="icon icon_radio"></i>
                            B. They are disembarking
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="0" value="973" id="973" disabled="">
                        <label for="973">
                            <i class="icon icon_radio"></i>
                            C. They are traveling with luggage
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="0" value="974" id="974" disabled="">
                        <label for="974">
                            <i class="icon icon_radio"></i>
                            D. The train is moving
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565677691.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565677691.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 36.1605%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:21</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>2. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="1" value="975" id="975" disabled="">
                        <label for="975">
                            <i class="icon icon_radio"></i>
                            A. They are singing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="1" value="976" id="976" disabled="">
                        <label for="976">
                            <i class="icon icon_radio"></i>
                            B. Only one is wearing a t-shirt
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="1" value="977" id="977" disabled="">
                        <label for="977">
                            <i class="icon icon_radio"></i>
                            C. They are all playing guitars
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="1" value="978" id="978" disabled="">
                        <label for="978">
                            <i class="icon icon_radio"></i>
                            D. Two musicians are sharing a microphone
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565677764.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565677764.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 69.6499%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:20</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>3. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="2" value="979" id="979" disabled="">
                        <label for="979">
                            <i class="icon icon_radio"></i>
                            A. His back is to the flags
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="2" value="980" id="980" disabled="">
                        <label for="980">
                            <i class="icon icon_radio"></i>
                            B. He is facing the flags
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="2" value="981" id="981" disabled="">
                        <label for="981">
                            <i class="icon icon_radio"></i>
                            C. He is in between the flags
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="2" value="982" id="982" disabled="">
                        <label for="982">
                            <i class="icon icon_radio"></i>
                            D. The flags are blocking him from view
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565677849.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565677849.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 52.2391%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:20</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>4. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="3" value="983" id="983" disabled="">
                        <label for="983">
                            <i class="icon icon_radio"></i>
                            A. The car is moving quickly
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="3" value="984" id="984" disabled="">
                        <label for="984">
                            <i class="icon icon_radio"></i>
                            B. The cones have been knocked over
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="3" value="985" id="985" disabled="">
                        <label for="985">
                            <i class="icon icon_radio"></i>
                            C. The sirens on the top are bright
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="3" value="986" id="986" disabled="">
                        <label for="986">
                            <i class="icon icon_radio"></i>
                            D. The car appears to be stationary
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565677934.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565677934.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 33.375%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:22</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>5. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="4" value="987" id="987" disabled="">
                        <label for="987">
                            <i class="icon icon_radio"></i>
                            A. Glass is on a round table
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="4" value="988" id="988" disabled="">
                        <label for="988">
                            <i class="icon icon_radio"></i>
                            B. Both men with tools are wearing gloves
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="4" value="989" id="989" disabled="">
                        <label for="989">
                            <i class="icon icon_radio"></i>
                            C. The man with the hat is leaning forward
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="4" value="990" id="990" disabled="">
                        <label for="990">
                            <i class="icon icon_radio"></i>
                            D. They are all wearing protective goggles
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565677982.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565677982.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 64.82%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:19</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>6. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="5" value="991" id="991" disabled="">
                        <label for="991">
                            <i class="icon icon_radio"></i>
                            A. The seats are being filled
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="5" value="992" id="992" disabled="">
                        <label for="992">
                            <i class="icon icon_radio"></i>
                            B. He is alone on the plane
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="5" value="993" id="993" disabled="">
                        <label for="993">
                            <i class="icon icon_radio"></i>
                            C. He is seated
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="5" value="994" id="994" disabled="">
                        <label for="994">
                            <i class="icon icon_radio"></i>
                            D. He is carrying luggage
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565678054.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565678054.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 44.5732%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:21</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>7. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="6" value="995" id="995" disabled="">
                        <label for="995">
                            <i class="icon icon_radio"></i>
                            A. The older woman's arms are crossed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="6" value="996" id="996" disabled="">
                        <label for="996">
                            <i class="icon icon_radio"></i>
                            B. A girl is wearing a skirt
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="6" value="997" id="997" disabled="">
                        <label for="997">
                            <i class="icon icon_radio"></i>
                            C. A girl is holding a red briefcase
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="6" value="998" id="998" disabled="">
                        <label for="998">
                            <i class="icon icon_radio"></i>
                            D. They are having a formal discussion
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565678117.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565678117.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 33.1228%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:23</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>8. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="7" value="999" id="999" disabled="">
                        <label for="999">
                            <i class="icon icon_radio"></i>
                            A. Only the women are singing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="7" value="1000" id="1000" disabled="">
                        <label for="1000">
                            <i class="icon icon_radio"></i>
                            B. Both women are wearing earrings
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="7" value="1001" id="1001" disabled="">
                        <label for="1001">
                            <i class="icon icon_radio"></i>
                            C. The man is singing a solo
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="7" value="1002" id="1002" disabled="">
                        <label for="1002">
                            <i class="icon icon_radio"></i>
                            D. This is a profile shot of the singers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565678170.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565678170.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 78.237%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:19</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>9. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="8" value="1003" id="1003" disabled="">
                        <label for="1003">
                            <i class="icon icon_radio"></i>
                            A. Both men are standing
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="8" value="1004" id="1004" disabled="">
                        <label for="1004">
                            <i class="icon icon_radio"></i>
                            B. A man has hurt his elbow
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="8" value="1005" id="1005" disabled="">
                        <label for="1005">
                            <i class="icon icon_radio"></i>
                            C. A man is treating an injury
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="8" value="1006" id="1006" disabled="">
                        <label for="1006">
                            <i class="icon icon_radio"></i>
                            D. Both men are wearing shorts
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                                                                                                <img src="https://toeic24.vn/upload/img/resized/1565678246.png" style="width: 100%">
            <div class="answer">
                <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="https://toeic24.vn/upload/audio/1565665868/1565678246.mp3" type="audio/mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 34.073%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:23</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                <p><b>10. Select the answer</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="9" value="1007" id="1007" disabled="">
                        <label for="1007">
                            <i class="icon icon_radio"></i>
                            A. The waiter has appetizers on his tray
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="9" value="1008" id="1008" disabled="">
                        <label for="1008">
                            <i class="icon icon_radio"></i>
                            B. A woman is wearing a headscarf
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="9" value="1009" id="1009" disabled="">
                        <label for="1009">
                            <i class="icon icon_radio"></i>
                            C. The women are across from one another
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="9" value="1010" id="1010" disabled="">
                        <label for="1010">
                            <i class="icon icon_radio"></i>
                            D. The waiter is pouring drinks
                                                                                                        </label>
                    </li>
                </ul>
            </div>
            <br>
                                        <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>