<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 141 - 143 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>Dear Mr. Chambers&nbsp;</p>

                <p>Thank you for your letter of 14th Jure in which&nbsp;you explained the circumstances behind your request for an __(1)__ of time to remit&nbsp;your Payment on invoice #44596.&nbsp;</p>

                <p>We do appreciate your straightforwardness and have noted on your&nbsp;account that your payment will be made on 1st November.<br> You have been a loyal customer of ours for quite some time and if this gesture on our part helps to __(2)__&nbsp;your
                    current situation, we are certainly pleased to __(3)__ assistance.&nbsp;</p>

                <p>Sincerely,<br> Martha Brookside<br> Fairmile Auto&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>141. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="5825" id="5825" disabled="">
                                <label for="5825">
                            <i class="icon icon_radio"></i>
                            A. extent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5826" id="5826" disabled="">
                                <label for="5826">
                            <i class="icon icon_radio"></i>
                            B. extending
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5827" id="5827" disabled="">
                                <label for="5827">
                            <i class="icon icon_radio"></i>
                            C. extension
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="5828" id="5828" disabled="">
                                <label for="5828">
                            <i class="icon icon_radio"></i>
                            D. extendable
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="5829" id="5829" disabled="">
                                <label for="5829">
                            <i class="icon icon_radio"></i>
                            A. silence
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5830" id="5830" disabled="">
                                <label for="5830">
                            <i class="icon icon_radio"></i>
                            B. appease
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5831" id="5831" disabled="">
                                <label for="5831">
                            <i class="icon icon_radio"></i>
                            C. prevent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="5832" id="5832" disabled="">
                                <label for="5832">
                            <i class="icon icon_radio"></i>
                            D. ease
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>143. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="5833" id="5833" disabled="">
                                <label for="5833">
                            <i class="icon icon_radio"></i>
                            A. give as
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5834" id="5834" disabled="">
                                <label for="5834">
                            <i class="icon icon_radio"></i>
                            B. help with
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5835" id="5835" disabled="">
                                <label for="5835">
                            <i class="icon icon_radio"></i>
                            C. be of
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="5836" id="5836" disabled="">
                                <label for="5836">
                            <i class="icon icon_radio"></i>
                            D. offer for
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>