<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 144 - 146 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Sainsbury's in light bulb giveaway&nbsp;</strong></p>

                <p>Supermarket __(1)__ <em>Sainsbury's</em> wil give away one million&nbsp;energy-saving light bulbs at its&nbsp;stores on Saturday.&nbsp;</p>

                <p>Timed for when the clocks go back, <em>Sainsbury's</em> said it&nbsp;wanted to __(2)__ people to save electricity during the dark months ahead. To claim&nbsp;their bulb,&nbsp;customers will have to take an energy-saving&nbsp;pledge to
                    try to recycle bags and switch to showers from baths. The chain will also be urging customers to unplug their mobile phone chargers, dry clothes outside instead of in tumble dryers and keep the fridge and freezer running more efficiently.&nbsp;</p>

                <p><em>Sainsbury's</em> will be handing out Philips 11W energy saver bulbs, equivalent to a regular 60&nbsp;watt bulb, that usually retail for £2.&nbsp;</p>

                <p>Switching to just one energy-saving light&nbsp;bulb, which uses 80% less energy __(3)__ traditional bulbs, saves in the region of £7 every year.&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>144. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="5837" id="5837" disabled="">
                                <label for="5837">
                            <i class="icon icon_radio"></i>
                            A. outlet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5838" id="5838" disabled="">
                                <label for="5838">
                            <i class="icon icon_radio"></i>
                            B. branch
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5839" id="5839" disabled="">
                                <label for="5839">
                            <i class="icon icon_radio"></i>
                            C. chain
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="5840" id="5840" disabled="">
                                <label for="5840">
                            <i class="icon icon_radio"></i>
                            D. link
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="5841" id="5841" disabled="">
                                <label for="5841">
                            <i class="icon icon_radio"></i>
                            A. require
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5842" id="5842" disabled="">
                                <label for="5842">
                            <i class="icon icon_radio"></i>
                            B. force
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5843" id="5843" disabled="">
                                <label for="5843">
                            <i class="icon icon_radio"></i>
                            C. reward
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="5844" id="5844" disabled="">
                                <label for="5844">
                            <i class="icon icon_radio"></i>
                            D. encourage
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="5845" id="5845" disabled="">
                                <label for="5845">
                            <i class="icon icon_radio"></i>
                            A. from
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5846" id="5846" disabled="">
                                <label for="5846">
                            <i class="icon icon_radio"></i>
                            B. rather than
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5847" id="5847" disabled="">
                                <label for="5847">
                            <i class="icon icon_radio"></i>
                            C. than the
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="5848" id="5848" disabled="">
                                <label for="5848">
                            <i class="icon icon_radio"></i>
                            D. instead of
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=23" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>