<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 147 - 149 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>February 21<br>
Josephine Brown<br>
81 Yew Crescent<br>
York YH3 8GE&nbsp;</strong></p>

                <p>Dear Ms. Brown</p>

                <p>Following&nbsp;on from our interviews an the 5th of February, we would like to inform you that you have been chosen as one of 20 candidates to move on to our second __(1)__ of interviewing on the 12th of March. You interview is scheduled
                    for 1pm.&nbsp;Please let us know if you will be able to attend.&nbsp;</p>

                <p>All&nbsp;the interviews will be held in the main meeting rooms of the Grand Hotel on Regents Street. If you do require travel expenses, bring your&nbsp;receipts __(2)__ interview, and please give them to Ms. Simpson who will be signing&nbsp;the
                    candidates in&nbsp;</p>

                <p>We wish you luck, and will point out that whatever the __(3)__ of the interviews, we were highly impressed with your CV as you were chosen from out of&nbsp;over 200 candidates.&nbsp;</p>

                <p>Sincerely,</p>

                <p>Alan&nbsp;Wright,<br> Director
                    <br> Recruitment&nbsp;
                    <br> &nbsp;
                </p></div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>147. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="146" value="5849" id="5849" disabled="">
                                <label for="5849">
                            <i class="icon icon_radio"></i>
                            A. screen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5850" id="5850" disabled="">
                                <label for="5850">
                            <i class="icon icon_radio"></i>
                            B. term
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5851" id="5851" disabled="">
                                <label for="5851">
                            <i class="icon icon_radio"></i>
                            C. round
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="146" value="5852" id="5852" disabled="">
                                <label for="5852">
                            <i class="icon icon_radio"></i>
                            D. attempt
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>148. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="147" value="5853" id="5853" disabled="">
                                <label for="5853">
                            <i class="icon icon_radio"></i>
                            A. to the
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5854" id="5854" disabled="">
                                <label for="5854">
                            <i class="icon icon_radio"></i>
                            B. into
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5855" id="5855" disabled="">
                                <label for="5855">
                            <i class="icon icon_radio"></i>
                            C. for you
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="147" value="5856" id="5856" disabled="">
                                <label for="5856">
                            <i class="icon icon_radio"></i>
                            D. with your
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>149. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="148" value="5857" id="5857" disabled="">
                                <label for="5857">
                            <i class="icon icon_radio"></i>
                            A. turnover
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5858" id="5858" disabled="">
                                <label for="5858">
                            <i class="icon icon_radio"></i>
                            B. turnout
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5859" id="5859" disabled="">
                                <label for="5859">
                            <i class="icon icon_radio"></i>
                            C. outset
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="148" value="5860" id="5860" disabled="">
                                <label for="5860">
                            <i class="icon icon_radio"></i>
                            D. outcome
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>