<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 150 - 152 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p>A report by <em>Barclays Wealth</em> questioned 790&nbsp;wealthy indviduals from around the world on they investment __(1)__ . It found that only 48% of respondents planned to buy further investments In stocks over the next three years,
                    down from 64% over the past 36 months.&nbsp;</p>

                <p>This comes following recent __(2)__ on the world-wide stock markets,&nbsp;sparked by record loan defaults in the US mortgage market and a resulting shortfall in global credit, which has affected two continents.&nbsp;</p>

                <p>By contrast, 15% of respondents said they planned to invest in private equity funds, up from 11% over the past three years; while 21% said they expected to invest in hedge funds, up from 20%.&nbsp;</p>

                <p>The report added that __(3)__ the increase in popularity of such alternative investments, just 27% of respondents said they understood how hedge funds worked, while&nbsp;only 36% said they knew how private equity schemes operated.&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=25" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>150. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="149" value="5861" id="5861" disabled="">
                                <label for="5861">
                            <i class="icon icon_radio"></i>
                            A. preferred
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5862" id="5862" disabled="">
                                <label for="5862">
                            <i class="icon icon_radio"></i>
                            B. preferences
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5863" id="5863" disabled="">
                                <label for="5863">
                            <i class="icon icon_radio"></i>
                            C. preferential
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="149" value="5864" id="5864" disabled="">
                                <label for="5864">
                            <i class="icon icon_radio"></i>
                            D. preferably
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>151. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="150" value="5865" id="5865" disabled="">
                                <label for="5865">
                            <i class="icon icon_radio"></i>
                            A. demand
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5866" id="5866" disabled="">
                                <label for="5866">
                            <i class="icon icon_radio"></i>
                            B. consciousness
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5867" id="5867" disabled="">
                                <label for="5867">
                            <i class="icon icon_radio"></i>
                            C. turbulence
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="150" value="5868" id="5868" disabled="">
                                <label for="5868">
                            <i class="icon icon_radio"></i>
                            D. clarity
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>152. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="151" value="5869" id="5869" disabled="">
                                <label for="5869">
                            <i class="icon icon_radio"></i>
                            A. despite
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5870" id="5870" disabled="">
                                <label for="5870">
                            <i class="icon icon_radio"></i>
                            B. however
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5871" id="5871" disabled="">
                                <label for="5871">
                            <i class="icon icon_radio"></i>
                            C. although
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="151" value="5872" id="5872" disabled="">
                                <label for="5872">
                            <i class="icon icon_radio"></i>
                            D. therefore
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=25" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>