<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                    <p class="text-justify">
                        <b>Question 141 - 143 refer to
                            following paragraph:</b>
                    </p>
                    <hr>
                    <p style="text-align:center"><strong>MEMO </strong></p>

                    <p><strong>To: All Employees </strong></p>

                    <p><strong>From: Jane Anders, Personnel</strong></p>

                    <p><strong>Date: Thursday 29 Oct </strong></p>

                    <p><strong>Subject: CHARITY BARBECUE&nbsp;</strong></p>

                    <p>Just a reminder&nbsp;that the charity barbecue is happening this Friday! It is for a good cause;
                        we're __(1)__ money for the children's charity <em>Future Horizons</em>&nbsp;to buy computers
                        for
                        community centers in disadvantaged neighborhoods,
                        so please come along and help out!</p>

                    <p>It will be at 7:30 at Oak Park, next to the gazebo by the west gate. Dinner will be 15 dollars
                        and
                        there will be hamburgers, hotdogs, or veggie burgers, and of course a lots&nbsp;of
                        salads&nbsp;and
                        desserts! Bring your&nbsp;family and
                        friends; everyone __(2)__ welcome. Please get tickets&nbsp;from me or from Sophia&nbsp;Johnson.
                    </p>

                    <p>I hope __(3)__ you there!</p>

                    <p>Jane Anderson&nbsp;</p>
                </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=22" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>141. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="140" value="531" id="531" disabled="">
                                <label for="531">
                                    <i class="icon icon_radio"></i>
                                    A. taking
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="532" id="532" disabled="">
                                <label for="532">
                                    <i class="icon icon_radio"></i>
                                    B. raising
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="533" id="533" disabled="">
                                <label for="533">
                                    <i class="icon icon_radio"></i>
                                    C. earning
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="140" value="534" id="534" disabled="">
                                <label for="534">
                                    <i class="icon icon_radio"></i>
                                    D. giving
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>142. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="141" value="535" id="535" disabled="">
                                <label for="535">
                                    <i class="icon icon_radio"></i>
                                    A. are
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="536" id="536" disabled="">
                                <label for="536">
                                    <i class="icon icon_radio"></i>
                                    B. to be
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="537" id="537" disabled="">
                                <label for="537">
                                    <i class="icon icon_radio"></i>
                                    C. were
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="141" value="538" id="538" disabled="">
                                <label for="538">
                                    <i class="icon icon_radio"></i>
                                    D. is
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>143. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="142" value="539" id="539" disabled="">
                                <label for="539">
                                    <i class="icon icon_radio"></i>
                                    A. to see
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="540" id="540" disabled="">
                                <label for="540">
                                    <i class="icon icon_radio"></i>
                                    B. will see
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="541" id="541" disabled="">
                                <label for="541">
                                    <i class="icon icon_radio"></i>
                                    C. seeing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="142" value="542" id="542" disabled="">
                                <label for="542">
                                    <i class="icon icon_radio"></i>
                                    D. to seeing
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=22"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>