<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                <p class="text-justify">
                    <b>Question 144 - 146 refer to
                        following paragraph:</b>
                </p>
                <hr>
                <p><strong>WHAT IS TUBERCULOSIS?</strong></p>

                <p>Tuberculosis is a bacterial disease which causes infection, most commonly in the lungs, but
                    __(1)__&nbsp;in other body organs It is transmitted by inhaling bacteria coughed or sneezed into the
                    air by infected persons.&nbsp;</p>

                <p><strong>WHAT IS A MANTOUX TEST? </strong></p>

                <p>A substance called tuberculin is injected into the skin on the forearm to find out whether or not
                    there are tuberculosis bacteria&nbsp;present in the body.&nbsp;</p>

                <p><strong>HOW IS THIS READ?</strong></p>

                <p>48 to 72 hours after the injection, the forearm is examined. For most individuals, a swelling that
                    measures 10 mm or more, __(2)__ that the person has been in contact with tuberculosis. This is a
                    positive result.&nbsp;</p>

                <p>No reaction, or only slight redness or bruising indicates that the person has not been in contact
                    with tuberculosis. This&nbsp;is a negative result.</p>

                <p><strong>PEOPLE REQUIRING MANTOUX TESTS:</strong></p>

                <p>Mantoux tests may __(3)__ for new employees, volunteers, residents and clients of some organizations
                    and institutions. All people who have come in contact with a person with active tuberculosis should
                    he tested as soon as possible, and
                    again, three months after the date of last contact.&nbsp;<br> &nbsp;
                </p>
            </div>
                <form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=23" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>144. __(1)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="143" value="543" id="543" disabled="">
                                <label for="543">
                                    <i class="icon icon_radio"></i>
                                    A. more commonly
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="544" id="544" disabled="">
                                <label for="544">
                                    <i class="icon icon_radio"></i>
                                    B. nervertheless
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="545" id="545" disabled="">
                                <label for="545">
                                    <i class="icon icon_radio"></i>
                                    C. never
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="143" value="546" id="546" disabled="">
                                <label for="546">
                                    <i class="icon icon_radio"></i>
                                    D. occasionally
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>145. __(2)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="144" value="547" id="547" disabled="">
                                <label for="547">
                                    <i class="icon icon_radio"></i>
                                    A. involves
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="548" id="548" disabled="">
                                <label for="548">
                                    <i class="icon icon_radio"></i>
                                    B. indicates
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="549" id="549" disabled="">
                                <label for="549">
                                    <i class="icon icon_radio"></i>
                                    C. inclines
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="144" value="550" id="550" disabled="">
                                <label for="550">
                                    <i class="icon icon_radio"></i>
                                    D. infers
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>146. __(3)__</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="145" value="551" id="551" disabled="">
                                <label for="551">
                                    <i class="icon icon_radio"></i>
                                    A. be required
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="552" id="552" disabled="">
                                <label for="552">
                                    <i class="icon icon_radio"></i>
                                    B. be requiring
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="553" id="553" disabled="">
                                <label for="553">
                                    <i class="icon icon_radio"></i>
                                    C. required
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="145" value="554" id="554" disabled="">
                                <label for="554">
                                    <i class="icon icon_radio"></i>
                                    D. are required
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=23"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>