<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <div class="ct">
                            <p class="text-justify">
<b>Question 147 - 149 refer to
    following paragraph:</b>
</p>
<hr>
<p><strong>From: Mary Richardson&nbsp;</strong></p>

<p><strong>To:&nbsp;Torrence Jones&nbsp;</strong></p>

<p><strong>Cc:</strong></p>

<p><strong>Subject: Job Opening&nbsp;</strong></p>

<p>Mr. Jones,</p>

<p>I am emailing to bring to your attention the opening a our department that is advertised on our website. I would like to recommend that you __(1)__ applying, since the work that you have already done for our company on a freelance basis makes you highly __(2)__ for the position because of your experience.&nbsp;</p>

<p>The job offers flexible working hours,&nbsp;as __(3)__ comprehensive health benefits. If you have any questions or would like more information please feel free to contact me by email, or, at 247 775 5674 ext&nbsp;239.&nbsp;</p>

<p>Regards,&nbsp;</p>

<p>Mary Richardson,&nbsp;Personnel&nbsp;<br>
&nbsp;</p>
</div>

<form action="https://toeic24.vn/exam/submit?part=6&amp;questionGroupNum=24" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>147. __(1)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="146" value="555" id="555" disabled="">
                        <label for="555">
                            <i class="icon icon_radio"></i>
                            A. withhold
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="146" value="556" id="556" disabled="">
                        <label for="556">
                            <i class="icon icon_radio"></i>
                            B. retract
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="146" value="557" id="557" disabled="">
                        <label for="557">
                            <i class="icon icon_radio"></i>
                            C. comprehend
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="146" value="558" id="558" disabled="">
                        <label for="558">
                            <i class="icon icon_radio"></i>
                            D. consider
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>148. __(2)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="147" value="559" id="559" disabled="">
                        <label for="559">
                            <i class="icon icon_radio"></i>
                            A. talented
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="147" value="560" id="560" disabled="">
                        <label for="560">
                            <i class="icon icon_radio"></i>
                            B. inclined
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="147" value="561" id="561" disabled="">
                        <label for="561">
                            <i class="icon icon_radio"></i>
                            C. invited
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="147" value="562" id="562" disabled="">
                        <label for="562">
                            <i class="icon icon_radio"></i>
                            D. qualified
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>149. __(3)__</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="148" value="563" id="563" disabled="">
                        <label for="563">
                            <i class="icon icon_radio"></i>
                            A. such
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="148" value="564" id="564" disabled="">
                        <label for="564">
                            <i class="icon icon_radio"></i>
                            B. some
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="148" value="565" id="565" disabled="">
                        <label for="565">
                            <i class="icon icon_radio"></i>
                            C. well as
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="148" value="566" id="566" disabled="">
                        <label for="566">
                            <i class="icon icon_radio"></i>
                            D. plenty
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=6&amp;questionGroupNum=24" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>