<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 188 - 192 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px"><strong>December 21&nbsp;</strong></p>

                                <p style="margin-left:10px; margin-right:10px"><strong>Jennifer Stein<br>
675 Market Road<br>
Tacoma, WA </strong></p>

                                <p style="margin-left:10px; margin-right:10px">Dear Ms. Stein&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I have received your letter of December 12 regarding your recent stay at One Tree Hotel. I am very sorry that you did not have a pleasant experience. You are certainly correct that it is unacreptable to come to a room&nbsp;that
                                    has not been cleaned and also to not receive your wake-up call. Please know that this was an isolated incident and that our customers usually have an extraordinary and problem-free stay at our hotel.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">In an effort to remedy this unfortunate situation, I have enclosed a voucher for a one-night stay, breakfast inclusive, at our hotel. I&nbsp;encourage you to return to One Tree and experience the comfort, service and elegance
                                    that we are known for. If there is any way 1 can be of further assistance, please do not hesitate to&nbsp;contact me by telephone or mail.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Kent Pedersen<br> Owner&nbsp;
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>ONE TREE HOTEL</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Jennifer Stein and guest are entitled to one night in our Deluxe Suite, free of charge. This includes a complimentary breakfast brought to the room at the time specified by guests</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Expires: June 21, 2015</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">For customer service or inquiries, please contact One Tree Hotel by telephone at (506) 555-9506</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=35" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>188. Why did Ken Pedersen write to Jennifer Stein?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="187" value="6877" id="6877" disabled="">
                                <label for="6877">
                            <i class="icon icon_radio"></i>
                            A. to thank her for staying at his hotel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6878" id="6878" disabled="">
                                <label for="6878">
                            <i class="icon icon_radio"></i>
                            B. to inquire about her stay
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6879" id="6879" disabled="">
                                <label for="6879">
                            <i class="icon icon_radio"></i>
                            C. to ask her to take a survey
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="187" value="6880" id="6880" disabled="">
                                <label for="6880">
                            <i class="icon icon_radio"></i>
                            D. to apologize for poor service
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>189. What is suggested about Jennifer Stein?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="188" value="6881" id="6881" disabled="">
                                <label for="6881">
                            <i class="icon icon_radio"></i>
                            A. She wants to stay at One Tree Hotel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6882" id="6882" disabled="">
                                <label for="6882">
                            <i class="icon icon_radio"></i>
                            B. She spoke to Kent Pedersen on the telephone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6883" id="6883" disabled="">
                                <label for="6883">
                            <i class="icon icon_radio"></i>
                            C. She wrote a letter of complaint
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="188" value="6884" id="6884" disabled="">
                                <label for="6884">
                            <i class="icon icon_radio"></i>
                            D. She had a problem-free stay
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>190. What is Kent Pedersen offering?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="189" value="6885" id="6885" disabled="">
                                <label for="6885">
                            <i class="icon icon_radio"></i>
                            A. a refund for her previous stay
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6886" id="6886" disabled="">
                                <label for="6886">
                            <i class="icon icon_radio"></i>
                            B. another hotel recommendation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6887" id="6887" disabled="">
                                <label for="6887">
                            <i class="icon icon_radio"></i>
                            C. a free stay and meal
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="189" value="6888" id="6888" disabled="">
                                <label for="6888">
                            <i class="icon icon_radio"></i>
                            D. a discounted lunch
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>191. What time could Jenifer Stein eat her complimentary breakfast?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="190" value="6889" id="6889" disabled="">
                                <label for="6889">
                            <i class="icon icon_radio"></i>
                            A. anytime she chooses
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="6890" id="6890" disabled="">
                                <label for="6890">
                            <i class="icon icon_radio"></i>
                            B. at the time selected by Ken Pedersen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="6891" id="6891" disabled="">
                                <label for="6891">
                            <i class="icon icon_radio"></i>
                            C. at the time of her wake-up call
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="190" value="6892" id="6892" disabled="">
                                <label for="6892">
                            <i class="icon icon_radio"></i>
                            D. at the scheduled food delivery time
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>192. What is the significance of June 21, 2015?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="191" value="6893" id="6893" disabled="">
                                <label for="6893">
                            <i class="icon icon_radio"></i>
                            A. It is the day for which Jennifer Stein has reserved a room
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6894" id="6894" disabled="">
                                <label for="6894">
                            <i class="icon icon_radio"></i>
                            B. It is the day the voucher becomes valid
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6895" id="6895" disabled="">
                                <label for="6895">
                            <i class="icon icon_radio"></i>
                            C. It is the day that Jennifer Stein complained about
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="191" value="6896" id="6896" disabled="">
                                <label for="6896">
                            <i class="icon icon_radio"></i>
                            D. It is the last day the voucher can be used
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=35" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>