<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 193 - 195 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>LET'S RECONNECT</strong></p>

                <p style="text-align:justify">Buy a Magnifica Class ticket with your&nbsp;Emit Express Card and bring a friend for just $99.</p>

                <p style="text-align:justify">Experience&nbsp;the passion and style of Italy by taking advantage of this friendly Alitaliano deal. Just buy a Magnifica Class ticket with your Emit Express Card to any of Alitaliano's destinations in Europe, North Africa, the Middle
                    East or Bombay and get a second Magnifica Class ticket for only $99. Magnifica Class provides world-class food and wine, spacious legroom and Italian-designed seats so you can he back in ultimate comfort. Celebrate your friendship
                    with the only airline that celebrates the very best of Italy. Tickets must be purchased by September 25,&nbsp;2009 so call your travel professional or Alitaliano Airlines at 80.555.4326.&nbsp;</p>

                <p style="text-align:justify">*Boston-ltaly utlizes alternate aircraft with Coral Class instead of Magranifly Class service during the month of November.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>193. What does this advertisement offer?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="192" value="6897" id="6897" disabled="">
                                <label for="6897">
                            <i class="icon icon_radio"></i>
                            A. a free trip with the purchase of an Emit Express Card
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6898" id="6898" disabled="">
                                <label for="6898">
                            <i class="icon icon_radio"></i>
                            B. $99 worth of credit on an Emit Express Card
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6899" id="6899" disabled="">
                                <label for="6899">
                            <i class="icon icon_radio"></i>
                            C. two tickets for $99 each
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="192" value="6900" id="6900" disabled="">
                                <label for="6900">
                            <i class="icon icon_radio"></i>
                            D. one ticket for $99 along with another ticket at full price
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>194. What does the phrase "taking advantage" mean in this advertisement?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="193" value="6901" id="6901" disabled="">
                                <label for="6901">
                            <i class="icon icon_radio"></i>
                            A. mistreating someone or something
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6902" id="6902" disabled="">
                                <label for="6902">
                            <i class="icon icon_radio"></i>
                            B. seizing an opportunity
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6903" id="6903" disabled="">
                                <label for="6903">
                            <i class="icon icon_radio"></i>
                            C. doing better than someone else
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="193" value="6904" id="6904" disabled="">
                                <label for="6904">
                            <i class="icon icon_radio"></i>
                            D. getting excited about something
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>195. What is unique about Alitaliano?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="194" value="6905" id="6905" disabled="">
                                <label for="6905">
                            <i class="icon icon_radio"></i>
                            A. It travels to Italy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6906" id="6906" disabled="">
                                <label for="6906">
                            <i class="icon icon_radio"></i>
                            B. It serves wine
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6907" id="6907" disabled="">
                                <label for="6907">
                            <i class="icon icon_radio"></i>
                            C. It honors Italy on board
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="194" value="6908" id="6908" disabled="">
                                <label for="6908">
                            <i class="icon icon_radio"></i>
                            D. It holds parties on board
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>