<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 196 - 200 refer to
    following paragraph:</b>
</p>
<hr>
<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
<tr>
<td>
<p style="margin-left:10px; margin-right:10px; text-align:center"><strong>Now Hiring at THINK Together! </strong></p>

<p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>THINK Together</strong> is a non-profit afterschool learning&nbsp;program for students in Southern California. Due to change in&nbsp;California's legislation&nbsp;through Prop. 49, THINK Together is going through some unprecedented growth in terms of the number of sites we will&nbsp;operate and have open for kids in Southern California. Because of this growth we will be hiring an extremely large number of qualified candidates in a variety of positions that serve the youth in our programs.</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">In these parttime&nbsp;positions, the Program Leaders will supervise all&nbsp;students within a classroom setting in the program at that particular site. The candidate will provide one-on-one and small group homework assistance, curriculum instruction, and recreation leadership to students as requested by the site coordinator. This is a great experience for those who intend on becoming teachers, or just love working with kids. The rate for this position is $11-$13&nbsp;an hour. No previous experience is needed, but it does help. All candidates must at least have a bachelor's degree.&nbsp;</p>
</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
<tr>
<td>
<p style="margin-left:10px; margin-right:10px; text-align:center"><strong>CANDIDATE PROFILE:<br>
Candidate A</strong></p>

<ul>
    <li style="margin-left: 10px; margin-right: 10px;">Bachelor's degree in Child Psychology</li>
    <li style="margin-left: 10px; margin-right: 10px;">Willing to work flexible hours</li>
    <li style="margin-left: 10px; margin-right: 10px;">1 year of student teaching experience at Lincoln Elementary School</li>
    <li style="margin-left: 10px; margin-right: 10px;">passionate about children</li>
    <li style="margin-left: 10px; margin-right: 10px;">Would like to be an elementary school teacher in the next couple of years</li>
</ul>
</td>
</tr>
</tbody>
</table>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>196. When would a THINK employee need to work?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="195" value="6909" id="6909" disabled="">
                        <label for="6909">
                            <i class="icon icon_radio"></i>
                            A. only weekday mornings
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="195" value="6910" id="6910" disabled="">
                        <label for="6910">
                            <i class="icon icon_radio"></i>
                            B. weekdays, 8 hours a day
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="195" value="6911" id="6911" disabled="">
                        <label for="6911">
                            <i class="icon icon_radio"></i>
                            C. weekday afternoons
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="195" value="6912" id="6912" disabled="">
                        <label for="6912">
                            <i class="icon icon_radio"></i>
                            D. weekend afternoons
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>197. Why is THINK currently hiring a lot of employees?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="196" value="6913" id="6913" disabled="">
                        <label for="6913">
                            <i class="icon icon_radio"></i>
                            A. It is a brand new program
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="196" value="6914" id="6914" disabled="">
                        <label for="6914">
                            <i class="icon icon_radio"></i>
                            B. They fired all their former employees
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="196" value="6915" id="6915" disabled="">
                        <label for="6915">
                            <i class="icon icon_radio"></i>
                            C. There are more THINK sites than in the past
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="196" value="6916" id="6916" disabled="">
                        <label for="6916">
                            <i class="icon icon_radio"></i>
                            D. They are required to do so by a new law
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>198. What is something that is NOT part of the job description?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="197" value="6917" id="6917" disabled="">
                        <label for="6917">
                            <i class="icon icon_radio"></i>
                            A. creating lesson curriculums
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="197" value="6918" id="6918" disabled="">
                        <label for="6918">
                            <i class="icon icon_radio"></i>
                            B. working with students individually
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="197" value="6919" id="6919" disabled="">
                        <label for="6919">
                            <i class="icon icon_radio"></i>
                            C. helping with homework
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="197" value="6920" id="6920" disabled="">
                        <label for="6920">
                            <i class="icon icon_radio"></i>
                            D. being in charge of fun activities
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>199. Which of Candidate A's qualifications exceeds what is required?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="198" value="6921" id="6921" disabled="">
                        <label for="6921">
                            <i class="icon icon_radio"></i>
                            A. her degree
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="198" value="6922" id="6922" disabled="">
                        <label for="6922">
                            <i class="icon icon_radio"></i>
                            B. her teaching experience
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="198" value="6923" id="6923" disabled="">
                        <label for="6923">
                            <i class="icon icon_radio"></i>
                            C. her attitude toward children
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="198" value="6924" id="6924" disabled="">
                        <label for="6924">
                            <i class="icon icon_radio"></i>
                            D. her career ambitions
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>200. How long does Candidate A hope to work for THINK?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="199" value="6925" id="6925" disabled="">
                        <label for="6925">
                            <i class="icon icon_radio"></i>
                            A. indefinitely
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="199" value="6926" id="6926" disabled="">
                        <label for="6926">
                            <i class="icon icon_radio"></i>
                            B. no more than two years
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="199" value="6927" id="6927" disabled="">
                        <label for="6927">
                            <i class="icon icon_radio"></i>
                            C. at least 5 years
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="199" value="6928" id="6928" disabled="">
                        <label for="6928">
                            <i class="icon icon_radio"></i>
                            D. just the summer
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>