<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 156 - 158 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Elizabeth Welders&nbsp;</strong></p>

                <p style="text-align:justify">Elizabeth Wahlers is&nbsp;an award-winning watercolorist who has always enjoyed art and the creative process. Growing up in the Netherlands, she developed a true love and appreciation for flowers, many varieties of which are now depicted
                    in her works. Other subject matter includes still-tiles of edibles, and more recently, the addition of cities and landscapes.&nbsp;</p>

                <p style="text-align:justify">Her work has bean featured in <em>The Seafood Leader Catalog</em>, a global corporate calendar, a Vermont company's annual holiday card, the cover of <em>The Burlington Free</em> <em>Press Dining Guide</em> and other publications. Her
                    paintings can be seen in various venues across the state, including <em>Spencer Gallery</em>, North Oaks; <em>The Deer Hill Inn</em>, West Bloomington, The <em>Southern Vermont Art Center,</em>&nbsp;Manchester,&nbsp;among other juried&nbsp;shows.
                    Wahlers' watercolors are In private and corporate collections worldwide.&nbsp;</p>

                <p style="text-align:justify">For more information call her at 555-3489.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>156. What is the purpose of this article?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="6749" id="6749" disabled="">
                                <label for="6749">
                            <i class="icon icon_radio"></i>
                            A. to announce the opening of a new art gallery
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6750" id="6750" disabled="">
                                <label for="6750">
                            <i class="icon icon_radio"></i>
                            B. to bring public attention to Wahlers and her work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6751" id="6751" disabled="">
                                <label for="6751">
                            <i class="icon icon_radio"></i>
                            C. to advertise Wahlers' newest art exhibition
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6752" id="6752" disabled="">
                                <label for="6752">
                            <i class="icon icon_radio"></i>
                            D. to encourage readers to enroll in Wahlers' art class
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. What is something that Wahlers would NOT paint?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="6753" id="6753" disabled="">
                                <label for="6753">
                            <i class="icon icon_radio"></i>
                            A. a field of sunflowers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6754" id="6754" disabled="">
                                <label for="6754">
                            <i class="icon icon_radio"></i>
                            B. a busy street in Manchester
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6755" id="6755" disabled="">
                                <label for="6755">
                            <i class="icon icon_radio"></i>
                            C. a bowl of fruit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6756" id="6756" disabled="">
                                <label for="6756">
                            <i class="icon icon_radio"></i>
                            D. a self-portrait
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>158. What triggered Wahlers' appreciation for flowers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="6757" id="6757" disabled="">
                                <label for="6757">
                            <i class="icon icon_radio"></i>
                            A. Her first true love always gave her flowers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6758" id="6758" disabled="">
                                <label for="6758">
                            <i class="icon icon_radio"></i>
                            B. There are a lot of them in the native country
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6759" id="6759" disabled="">
                                <label for="6759">
                            <i class="icon icon_radio"></i>
                            C. Paintings of flowers are the biggest money earners
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6760" id="6760" disabled="">
                                <label for="6760">
                            <i class="icon icon_radio"></i>
                            D. It is a subject she studied in art school
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>