<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 159 - 162 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>Jane Fieldstone<br>
87 Washington<br>
Street Smithfield, CA 88055<br>
(909) 555-5657<br>
June 15&nbsp;</strong></p>

                <p>Dear Mr. Barnes,&nbsp;</p>

                <p style="text-align:justify">As we discussed on the phone, I are very pleased to accept the position of Marketing Manager with Smithfield Pottery. Thank you for the opportunity. I am eager to make a positive contribution to the company and to work with everyone on
                    the Smithfield team.&nbsp;</p>

                <p style="text-align:justify">As we discussed, my starting salary will be $30,000 and health and life insurance benefits will be provided after 90 days of employment.&nbsp;</p>

                <p style="text-align:justify">I look forward to starting employment on July 1. If there is any additional information or paperwork you need prior to then, please let me know.<br> Again, thank you.&nbsp;</p>

                <p style="text-align:justify">Jane Fieldstone&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>159. Why did Jane Fieldstone write to Mr. Barnes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="6761" id="6761" disabled="">
                                <label for="6761">
                            <i class="icon icon_radio"></i>
                            A. to offer him a job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6762" id="6762" disabled="">
                                <label for="6762">
                            <i class="icon icon_radio"></i>
                            B. to say yes to a job offer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6763" id="6763" disabled="">
                                <label for="6763">
                            <i class="icon icon_radio"></i>
                            C. to refuse a job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6764" id="6764" disabled="">
                                <label for="6764">
                            <i class="icon icon_radio"></i>
                            D. to request a job interview
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>160. How did Jane learn she got the job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="6765" id="6765" disabled="">
                                <label for="6765">
                            <i class="icon icon_radio"></i>
                            A. Mr. Barnes told her at the end of the interview
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6766" id="6766" disabled="">
                                <label for="6766">
                            <i class="icon icon_radio"></i>
                            B. Mr. Barnes sent her an email
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6767" id="6767" disabled="">
                                <label for="6767">
                            <i class="icon icon_radio"></i>
                            C. Br. Barnes called her
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6768" id="6768" disabled="">
                                <label for="6768">
                            <i class="icon icon_radio"></i>
                            D. She received a letter in the mail
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>161. What does Jane tell Mr. Barnes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="6769" id="6769" disabled="">
                                <label for="6769">
                            <i class="icon icon_radio"></i>
                            A. She will only take the job if her salary is raised to $30,000
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6770" id="6770" disabled="">
                                <label for="6770">
                            <i class="icon icon_radio"></i>
                            B. She wants to meet with him to discuss her health and life insurance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6771" id="6771" disabled="">
                                <label for="6771">
                            <i class="icon icon_radio"></i>
                            C. She is nervous to join such a successful company
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6772" id="6772" disabled="">
                                <label for="6772">
                            <i class="icon icon_radio"></i>
                            D. She is grateful for and happy to have this opportunity
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. What does Jane request of Mr. Barnes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="6773" id="6773" disabled="">
                                <label for="6773">
                            <i class="icon icon_radio"></i>
                            A. that he tells her what he needs from her
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6774" id="6774" disabled="">
                                <label for="6774">
                            <i class="icon icon_radio"></i>
                            B. that she doesn't start until July 1
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6775" id="6775" disabled="">
                                <label for="6775">
                            <i class="icon icon_radio"></i>
                            C. that he gives her more information
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6776" id="6776" disabled="">
                                <label for="6776">
                            <i class="icon icon_radio"></i>
                            D. that he forwards her important company emails
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>