<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 163 - 166 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:justify">Minnesotans who might have forgotten about windchill are about to get a refresher.<br> Ending a five-week stretch temperatures well above normal, a low-pressure system from Saskatchewan surged Into northwestern&nbsp;Minnesota an Thursday,&nbsp;dragging
                    temperatures below zero and windchills toward 40 below zero.&nbsp;</p>

                <p style="text-align:justify">Bemidji reported 4 below at 8:30 p.m., with strong winds. Mid-evening readings ranged from 5 above in Marshall to 6 below in Roseau. The Twin Cities should get off&nbsp;easy by comparison, though residents&nbsp;might still want to search
                    for extra layers and face coverings. Temperatures were expected to fall overnght from Thursday's high of 37, and a predicted high in the teens today will feel closer to zero. Tonight's predicted low of 1&nbsp;above would be the lowest
                    temperature since a low of I below on Dec. 7.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=29" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>163. What does the phrase "get a refresher" mean in the first line?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="6777" id="6777" disabled="">
                                <label for="6777">
                            <i class="icon icon_radio"></i>
                            A. to be surprised
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6778" id="6778" disabled="">
                                <label for="6778">
                            <i class="icon icon_radio"></i>
                            B. to be reminded
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6779" id="6779" disabled="">
                                <label for="6779">
                            <i class="icon icon_radio"></i>
                            C. to be panicked
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6780" id="6780" disabled="">
                                <label for="6780">
                            <i class="icon icon_radio"></i>
                            D. to be windy
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>164. What has the weather been like during the previous 5 weeks?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="163" value="6781" id="6781" disabled="">
                                <label for="6781">
                            <i class="icon icon_radio"></i>
                            A. colder than average
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6782" id="6782" disabled="">
                                <label for="6782">
                            <i class="icon icon_radio"></i>
                            B. warmer than average
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6783" id="6783" disabled="">
                                <label for="6783">
                            <i class="icon icon_radio"></i>
                            C. average
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="163" value="6784" id="6784" disabled="">
                                <label for="6784">
                            <i class="icon icon_radio"></i>
                            D. warmer than it's ever been
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>165. Which place was the coldest on Thursday?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="164" value="6785" id="6785" disabled="">
                                <label for="6785">
                            <i class="icon icon_radio"></i>
                            A. Bemidji
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6786" id="6786" disabled="">
                                <label for="6786">
                            <i class="icon icon_radio"></i>
                            B. Saskatchewan
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6787" id="6787" disabled="">
                                <label for="6787">
                            <i class="icon icon_radio"></i>
                            C. Roseau
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="164" value="6788" id="6788" disabled="">
                                <label for="6788">
                            <i class="icon icon_radio"></i>
                            D. Twin Cities
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>166. What does the article recommend to Twin Cities residents?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="165" value="6789" id="6789" disabled="">
                                <label for="6789">
                            <i class="icon icon_radio"></i>
                            A. comparing themselves to the colder cities
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6790" id="6790" disabled="">
                                <label for="6790">
                            <i class="icon icon_radio"></i>
                            B. being grateful for their warmer weather
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6791" id="6791" disabled="">
                                <label for="6791">
                            <i class="icon icon_radio"></i>
                            C. searching for ways to help the colder cities
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="165" value="6792" id="6792" disabled="">
                                <label for="6792">
                            <i class="icon icon_radio"></i>
                            D. dressing appropriately for could weather
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=29" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>