<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 167 - 169 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><em><strong>LETTER TO THE EDITOR </strong></em></p>

                <p>Re "Cold comfort on the street," Jan. 7</p>

                <p style="text-align:justify"><em>Thanks for the ongoing ankles on downtown L.A.'s mosaic of peopk who compose the homeless population. Although we may often paint the homeless with a broad brush&nbsp;dipped in prejudice, these&nbsp;articles allow us to see why people end up losing their houses and how the majority&nbsp;of the homeless end up in downtown Los Angeles, Hollywood or Santa Monica, where the majority of homeless services are located. It might be interesting to point out the myriad laws that allow such cities as Beverly Hills, Rancho Palos Verdes and San Marino to cast out the homeless from their boundaries. </em></p>

                <p style="text-align:justify"><em>ANDREW P. CRANE </em></p>

                <p style="text-align:justify"><em>Los Angeles</em>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>167. What is Andrew P. Crane's attitude toward the newspaper's articles on the homeless?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="166" value="6793" id="6793" disabled="">
                                <label for="6793">
                            <i class="icon icon_radio"></i>
                            A. He appreciates them
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6794" id="6794" disabled="">
                                <label for="6794">
                            <i class="icon icon_radio"></i>
                            B. He finds them appalling
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6795" id="6795" disabled="">
                                <label for="6795">
                            <i class="icon icon_radio"></i>
                            C. He's frustrated with them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="166" value="6796" id="6796" disabled="">
                                <label for="6796">
                            <i class="icon icon_radio"></i>
                            D. He disagrees with them
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>168. According to Andrew P. Crane, what do the articles reveal?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="6797" id="6797" disabled="">
                                <label for="6797">
                            <i class="icon icon_radio"></i>
                            A. the public's prejudice toward the homeless
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6798" id="6798" disabled="">
                                <label for="6798">
                            <i class="icon icon_radio"></i>
                            B. the cities that throw out the homeless
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6799" id="6799" disabled="">
                                <label for="6799">
                            <i class="icon icon_radio"></i>
                            C. that there are many paintings of the homeless
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6800" id="6800" disabled="">
                                <label for="6800">
                            <i class="icon icon_radio"></i>
                            D. the reasons why people become homeless
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. What do Beverly Hills' laws do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="6801" id="6801" disabled="">
                                <label for="6801">
                            <i class="icon icon_radio"></i>
                            A. allow the homeless to settle in certain areas
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6802" id="6802" disabled="">
                                <label for="6802">
                            <i class="icon icon_radio"></i>
                            B. remove the homeless from where they were staying
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6803" id="6803" disabled="">
                                <label for="6803">
                            <i class="icon icon_radio"></i>
                            C. ban the homeless from downtown only
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6804" id="6804" disabled="">
                                <label for="6804">
                            <i class="icon icon_radio"></i>
                            D. protect the homeless boundaries
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>