<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 170 - 174 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>Plot summary for Runaway Bride</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Ike Graham, New York columnist, always writes his text at the last minute. This time, a drunken man in his favorite bar tells Ike about Maggie Carpenter, a woman who always flees from her grooms in&nbsp;the last possible
                                    moment. Ike, who does not have the best opinion about females anyway, writes an offensive column without researching&nbsp;the subject thoroughly. The next day, Ike gets fired by his publisher (and former wife), because
                                    he went too far and faked the facts, which real journalists don't do. Ike's only way back into the business now is to do a fact-based report on Maggie and her upcoming fourth wedding attempt, which Ike predicts to fail
                                    again. So, as Ike&nbsp;circles Maggie, his prey-to-be, like a vulture, her opinion of him sinks to below zero. Not only is Ike waiting for her to fail again but the whole town is poking fun at Maggie about her mistakes.
                                    But that is a point which Ike doesn't like.&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>REVIEW FOR RUNAWAY BRIDE</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">RUNAWAY BRIDE begins with an&nbsp;interesting enough concept&nbsp;and that's&nbsp;where it stays. It's pretty obvious to the audience,&nbsp;and would be to any women with a brain, why "the bride" keeps leaving men standing&nbsp;like
                                    idiots at the altar. It's not&nbsp;hard to figure out. She's going to keep running&nbsp;until she finally discovers&nbsp;who SHE really is and stops trying to be what the men she chooses want her to be. If I figured
                                    this out in the first 5 minutes, why do I have to watch the rest of the film? Why exactly? This film never even tries to scratch the surface of these characters, replying on the premise that a bride running from the
                                    church, using various modes of transportation, will be engaging and funny enough to keep the audience interested. It's not. There was no suspense about whether or not she would actually go through with the ceremonies
                                    because it was obvious she wouldn't until she found herself, even after she found the man for her</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>170. What does Ike Graham work for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="6805" id="6805" disabled="">
                                <label for="6805">
                            <i class="icon icon_radio"></i>
                            A. a TV station
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6806" id="6806" disabled="">
                                <label for="6806">
                            <i class="icon icon_radio"></i>
                            B. his ex-wife's bar
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6807" id="6807" disabled="">
                                <label for="6807">
                            <i class="icon icon_radio"></i>
                            C. a newspaper
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6808" id="6808" disabled="">
                                <label for="6808">
                            <i class="icon icon_radio"></i>
                            D. an advertisement agency
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. Why did Ike get fire from his job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="6809" id="6809" disabled="">
                                <label for="6809">
                            <i class="icon icon_radio"></i>
                            A. He failed to reach a deadline
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6810" id="6810" disabled="">
                                <label for="6810">
                            <i class="icon icon_radio"></i>
                            B. He did not depict the truth
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6811" id="6811" disabled="">
                                <label for="6811">
                            <i class="icon icon_radio"></i>
                            C. He got drunk on the job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6812" id="6812" disabled="">
                                <label for="6812">
                            <i class="icon icon_radio"></i>
                            D. He had a low opinion of women
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>172. How many times has Maggie Carpenter been married?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="6813" id="6813" disabled="">
                                <label for="6813">
                            <i class="icon icon_radio"></i>
                            A. zero
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6814" id="6814" disabled="">
                                <label for="6814">
                            <i class="icon icon_radio"></i>
                            B. twice
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6815" id="6815" disabled="">
                                <label for="6815">
                            <i class="icon icon_radio"></i>
                            C. three times
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6816" id="6816" disabled="">
                                <label for="6816">
                            <i class="icon icon_radio"></i>
                            D. four times
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>173. According to the review, what is the positive aspect of the movie?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="6817" id="6817" disabled="">
                                <label for="6817">
                            <i class="icon icon_radio"></i>
                            A. the funny use of transportation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6818" id="6818" disabled="">
                                <label for="6818">
                            <i class="icon icon_radio"></i>
                            B. the main idea
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6819" id="6819" disabled="">
                                <label for="6819">
                            <i class="icon icon_radio"></i>
                            C. the characters
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6820" id="6820" disabled="">
                                <label for="6820">
                            <i class="icon icon_radio"></i>
                            D. the first five minutes
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. What is the reviewer's opinion of the movie?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="6821" id="6821" disabled="">
                                <label for="6821">
                            <i class="icon icon_radio"></i>
                            A. It's hard to understand
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6822" id="6822" disabled="">
                                <label for="6822">
                            <i class="icon icon_radio"></i>
                            B. It's humorous
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6823" id="6823" disabled="">
                                <label for="6823">
                            <i class="icon icon_radio"></i>
                            C. It's predictable
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6824" id="6824" disabled="">
                                <label for="6824">
                            <i class="icon icon_radio"></i>
                            D. It's interesting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>