<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 175 - 179 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:center"><strong>HOW TO WRITE A 'THANK YOU' EMAIL</strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Writing a 'thank you' note after an employment interview, can be the key to getting a job offer. In these days of electronic communication, is it appropriate to send thank you letters by email? In most cases, yes.&nbsp;You
                                    can get your thank you letter out immediately, rather than have to wait for the postal service to deliver it. If the employer&nbsp;is making a quick hiring decious, time is of the essence. If there is no sense of urgency,&nbsp;you
                                    may still want to send a quick thank you email,&nbsp;along with a triaditional letter or note. You'll be reiterating your interest in the position sooner rather than later&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>SAMPLE LETTER </strong></p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Dear Mr. Gilmore</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">It was very enjoyable to speak with you today about the Assistant Account Executive position at the Smith Agency. The job seems to be an excellent match for my skills and interests. The creative approach to acount&nbsp;management
                                    that you described confirmed my desire to work with you.</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">In addition to my enthusiasm, I will bring to the position strong writing skills, assertiveness, and the ability to encourage others to work cooperatively with the department.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">I appreciate the time you took to interview me. I am very interested in working for you and look forward to hearing from you regarding this position.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,<br> Emily Lawson<br> elawson@spotmail.com
                                    <br> 270 Elm St.<br> Ann Arbor, MI 44555&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>175. What is the benefit of sending a thank you letter via email?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="6825" id="6825" disabled="">
                                <label for="6825">
                            <i class="icon icon_radio"></i>
                            A. It is more professional
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6826" id="6826" disabled="">
                                <label for="6826">
                            <i class="icon icon_radio"></i>
                            B. It is less traditional
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6827" id="6827" disabled="">
                                <label for="6827">
                            <i class="icon icon_radio"></i>
                            C. It is quicker
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6828" id="6828" disabled="">
                                <label for="6828">
                            <i class="icon icon_radio"></i>
                            D. It is more interesting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>176. What is the purpose of a thank you letter after an interview?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="6829" id="6829" disabled="">
                                <label for="6829">
                            <i class="icon icon_radio"></i>
                            A. to give more information
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6830" id="6830" disabled="">
                                <label for="6830">
                            <i class="icon icon_radio"></i>
                            B. to restate your interest
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6831" id="6831" disabled="">
                                <label for="6831">
                            <i class="icon icon_radio"></i>
                            C. to get a second interview
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6832" id="6832" disabled="">
                                <label for="6832">
                            <i class="icon icon_radio"></i>
                            D. to create a sense of urgency
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>177. Who is Mr. Gilmore?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="6833" id="6833" disabled="">
                                <label for="6833">
                            <i class="icon icon_radio"></i>
                            A. the Assistant Account Executive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6834" id="6834" disabled="">
                                <label for="6834">
                            <i class="icon icon_radio"></i>
                            B. the accountant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6835" id="6835" disabled="">
                                <label for="6835">
                            <i class="icon icon_radio"></i>
                            C. the interviewer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6836" id="6836" disabled="">
                                <label for="6836">
                            <i class="icon icon_radio"></i>
                            D. an applicant for the Smith Agency
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>178. What did the described approach to account management do to Emily Lawson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="6837" id="6837" disabled="">
                                <label for="6837">
                            <i class="icon icon_radio"></i>
                            A. It made her want the job even more than before
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6838" id="6838" disabled="">
                                <label for="6838">
                            <i class="icon icon_radio"></i>
                            B. It made her doubt her desire for the job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6839" id="6839" disabled="">
                                <label for="6839">
                            <i class="icon icon_radio"></i>
                            C. It elicited more questions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6840" id="6840" disabled="">
                                <label for="6840">
                            <i class="icon icon_radio"></i>
                            D. It reassured her that she wanted the job
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>179. What does Emily Lawson describe in the second paragraph?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="178" value="6841" id="6841" disabled="">
                                <label for="6841">
                            <i class="icon icon_radio"></i>
                            A. what she hopes to get out of the job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6842" id="6842" disabled="">
                                <label for="6842">
                            <i class="icon icon_radio"></i>
                            B. her strengths
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6843" id="6843" disabled="">
                                <label for="6843">
                            <i class="icon icon_radio"></i>
                            C. her core values
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="178" value="6844" id="6844" disabled="">
                                <label for="6844">
                            <i class="icon icon_radio"></i>
                            D. her reservations
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>