<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 180 - 183 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>The U.S. Department of Energy and its Prime Contractors<br>
PLEASE JOIN US! </strong></p>

                <p style="text-align:center"><strong>7TH ANNUAL SMALL BUSINESS CONFERENCE </strong></p>

                <p style="text-align:center"><strong>THE WASHINGTON STATE CONVENTION AND TRADE CENTER SEATTLE, WASHINGTON</strong></p>

                <p><strong>June 27-30&nbsp;</strong></p>

                <p><strong>KEY HIGHLIGHTS OF THE 7TH ANNUAL SMALL BUSINESS CONFERENCE ARE:&nbsp;</strong></p>

                <p style="text-align:justify"><strong>PLENARY SESSIONS featuring prominent government, corporate and business leaders who will discuss ways small businesses can have better access to DOE procurement opportunities.&nbsp;</strong></p>

                <p style="text-align:justify"><strong>BUSINESS EXPO providing an opportunity for businesses to showcase their products and services to hundreds of corporate and government attendees.&nbsp;</strong></p>

                <p style="text-align:justify"><strong>FOR HOTEL RESERVATIONS, CALL 888.877.0255<br>
WHEN MAKING YOUR RESERVATION PLEASE MENTION THE NAME OF THE CONFERENCE FOR MORE INFORMATION, CALL 888.246.2460 OR VISIT OUR WEBSITE www.energy.gov</strong>&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=33" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>180. What is the purpose of this notice?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="179" value="6845" id="6845" disabled="">
                                <label for="6845">
                            <i class="icon icon_radio"></i>
                            A. to publicize a conference
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6846" id="6846" disabled="">
                                <label for="6846">
                            <i class="icon icon_radio"></i>
                            B. to stress the importance of energy conservation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6847" id="6847" disabled="">
                                <label for="6847">
                            <i class="icon icon_radio"></i>
                            C. to summarize the outcomes of the conference
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="179" value="6848" id="6848" disabled="">
                                <label for="6848">
                            <i class="icon icon_radio"></i>
                            D. to protest a conference
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>181. Who is organizing the conference?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="180" value="6849" id="6849" disabled="">
                                <label for="6849">
                            <i class="icon icon_radio"></i>
                            A. small businesses
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6850" id="6850" disabled="">
                                <label for="6850">
                            <i class="icon icon_radio"></i>
                            B. the Washington State Convention and Trade Center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6851" id="6851" disabled="">
                                <label for="6851">
                            <i class="icon icon_radio"></i>
                            C. the city of Seattle
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="180" value="6852" id="6852" disabled="">
                                <label for="6852">
                            <i class="icon icon_radio"></i>
                            D. the U.S Department of Energy and its Prime Contractors
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>182. What should attendees mention when calling to get a hotel room?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="181" value="6853" id="6853" disabled="">
                                <label for="6853">
                            <i class="icon icon_radio"></i>
                            A. They are with the Small Business Conference
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6854" id="6854" disabled="">
                                <label for="6854">
                            <i class="icon icon_radio"></i>
                            B. They need more information about the lodging
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6855" id="6855" disabled="">
                                <label for="6855">
                            <i class="icon icon_radio"></i>
                            C. They need directions to the Convention and Trade Center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="181" value="6856" id="6856" disabled="">
                                <label for="6856">
                            <i class="icon icon_radio"></i>
                            D. Their level of interest in the seminar
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>183. What are plenary sessions?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="182" value="6857" id="6857" disabled="">
                                <label for="6857">
                            <i class="icon icon_radio"></i>
                            A. the main seminars on the topic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6858" id="6858" disabled="">
                                <label for="6858">
                            <i class="icon icon_radio"></i>
                            B. a particularly interesting aspect
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6859" id="6859" disabled="">
                                <label for="6859">
                            <i class="icon icon_radio"></i>
                            C. ways businesses can access procurements
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="182" value="6860" id="6860" disabled="">
                                <label for="6860">
                            <i class="icon icon_radio"></i>
                            D. types of government
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=33" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>