<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 184 - 187 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>ROOMING at St. Michael's&nbsp;</strong></p>

                <p><strong>Room Size:</strong> Approximate standard double room sizes are as follows:</p>

                <ul>
                    <li>Lyon's Hall-192 square feet</li>
                    <li>Joyce Ha11.192 square feet</li>
                    <li>Ryan Hall-198 square feet</li>
                </ul>

                <p style="text-align:justify"><strong>Twin Red Size:</strong> Standard twin size beds are provided. Extra long twin size beds are available by requesting them on the First&nbsp;Year Housing and Meal Contract or by requesting them in writing to Sheryl Backstrom (sback@smcvt.edu).&nbsp;</p>

                <p style="text-align:justify"><strong>Window Size:</strong> Window sizes&nbsp;vary by floor, room and building, We suggest waiting until you arrive to buy curtains. Venetian blinds are provided.&nbsp;</p>

                <p style="text-align:justify"><strong>Voicemail:</strong> Voicemail is established for each student. Answering machines are not necessary, but students may bring one if they desire.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>184. What is the purpose of this note?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="6861" id="6861" disabled="">
                                <label for="6861">
                            <i class="icon icon_radio"></i>
                            A. to advertise rooms to rent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6862" id="6862" disabled="">
                                <label for="6862">
                            <i class="icon icon_radio"></i>
                            B. to introduce students to their future living situation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6863" id="6863" disabled="">
                                <label for="6863">
                            <i class="icon icon_radio"></i>
                            C. to sell beds
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6864" id="6864" disabled="">
                                <label for="6864">
                            <i class="icon icon_radio"></i>
                            D. to promote living on campus
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. Why would you write an email to Sheryl Backstrom?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="6865" id="6865" disabled="">
                                <label for="6865">
                            <i class="icon icon_radio"></i>
                            A. to complain about your bed size
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6866" id="6866" disabled="">
                                <label for="6866">
                            <i class="icon icon_radio"></i>
                            B. to get a meal contract
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6867" id="6867" disabled="">
                                <label for="6867">
                            <i class="icon icon_radio"></i>
                            C. to ask for a different bed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6868" id="6868" disabled="">
                                <label for="6868">
                            <i class="icon icon_radio"></i>
                            D.  to retrieve your standard bed
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>186. What are optional?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="6869" id="6869" disabled="">
                                <label for="6869">
                            <i class="icon icon_radio"></i>
                            A. Venetian blinds
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6870" id="6870" disabled="">
                                <label for="6870">
                            <i class="icon icon_radio"></i>
                            B. answering machines
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6871" id="6871" disabled="">
                                <label for="6871">
                            <i class="icon icon_radio"></i>
                            C. windows
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6872" id="6872" disabled="">
                                <label for="6872">
                            <i class="icon icon_radio"></i>
                            D. voicemail systems
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. Why should students wait to buy curtains?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="6873" id="6873" disabled="">
                                <label for="6873">
                            <i class="icon icon_radio"></i>
                            A. They don't know what size to purchase
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6874" id="6874" disabled="">
                                <label for="6874">
                            <i class="icon icon_radio"></i>
                            B. They already have Venetian blinds
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6875" id="6875" disabled="">
                                <label for="6875">
                            <i class="icon icon_radio"></i>
                            C. Not all rooms have windows
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6876" id="6876" disabled="">
                                <label for="6876">
                            <i class="icon icon_radio"></i>
                            D. They may not be allowed
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>