<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>I will now start distributing the evaluation forms. Please take the time to write a thorough evaluation on this lecture. Your feedback is extremely important to us. I am constantly searching for ways to become more effective in
                            what I do. So please answer honestly. It is completely anonymous; however, should you wish to write your name, you may do so. I am to leave the room, while you are filling them out, so I've already asked June to collect all
                            evaluations and return them to the administration office. Take all the time you need. Thank you.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566012235.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.70141%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. What is the speaker passing out?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3257" id="3257" disabled="">
                                <label for="3257">
                            <i class="icon icon_radio"></i>
                            A. A final exam
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3258" id="3258" disabled="">
                                <label for="3258">
                            <i class="icon icon_radio"></i>
                            B. A form to assess something
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3259" id="3259" disabled="">
                                <label for="3259">
                            <i class="icon icon_radio"></i>
                            C. Lecture notes to study
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3260" id="3260" disabled="">
                                <label for="3260">
                            <i class="icon icon_radio"></i>
                            D. A survey to research something
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. Why are the results important to the speaker?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3261" id="3261" disabled="">
                                <label for="3261">
                            <i class="icon icon_radio"></i>
                            A. To improve on something
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3262" id="3262" disabled="">
                                <label for="3262">
                            <i class="icon icon_radio"></i>
                            B. To discover something
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3263" id="3263" disabled="">
                                <label for="3263">
                            <i class="icon icon_radio"></i>
                            C. To confirm previous results
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3264" id="3264" disabled="">
                                <label for="3264">
                            <i class="icon icon_radio"></i>
                            D. To receive a research grant
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What is true of the situation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3265" id="3265" disabled="">
                                <label for="3265">
                            <i class="icon icon_radio"></i>
                            A. The speaker must stay in the room to evaluate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3266" id="3266" disabled="">
                                <label for="3266">
                            <i class="icon icon_radio"></i>
                            B. The is a time limit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3267" id="3267" disabled="">
                                <label for="3267">
                            <i class="icon icon_radio"></i>
                            C. They are in the administration office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3268" id="3268" disabled="">
                                <label for="3268">
                            <i class="icon icon_radio"></i>
                            D. People do not have to write their names
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>