<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>It's amazing how powerful and useful the smallest products on the block can be. Namely, the new Tarjeta recently put on the market by Mell. This smart card, a plastic rectangle that looks like a standard credit card contains a
                            micro-processor which transforms it into a mini-computer with impressive capabilities. A Tarjeta can keep track of travel reservations and tickets, hotel reservations and information, debit and credit cards, as well as electronic
                            money.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566016267.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.84198%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. What is the Tarjeta?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="3365" id="3365" disabled="">
                                <label for="3365">
                            <i class="icon icon_radio"></i>
                            A. Traveler's insurance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3366" id="3366" disabled="">
                                <label for="3366">
                            <i class="icon icon_radio"></i>
                            B. A credit card
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3367" id="3367" disabled="">
                                <label for="3367">
                            <i class="icon icon_radio"></i>
                            C. A computerized card
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3368" id="3368" disabled="">
                                <label for="3368">
                            <i class="icon icon_radio"></i>
                            D. A word processor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. What transforms the card?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="3369" id="3369" disabled="">
                                <label for="3369">
                            <i class="icon icon_radio"></i>
                            A. A micro-processor
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3370" id="3370" disabled="">
                                <label for="3370">
                            <i class="icon icon_radio"></i>
                            B. A remote control
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3371" id="3371" disabled="">
                                <label for="3371">
                            <i class="icon icon_radio"></i>
                            C. A plastic rectangle
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3372" id="3372" disabled="">
                                <label for="3372">
                            <i class="icon icon_radio"></i>
                            D. A voice recognition chip
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. Which of the following can the Tarjeta hold?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="3373" id="3373" disabled="">
                                <label for="3373">
                            <i class="icon icon_radio"></i>
                            A. Driving directions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3374" id="3374" disabled="">
                                <label for="3374">
                            <i class="icon icon_radio"></i>
                            B. Hotel information
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3375" id="3375" disabled="">
                                <label for="3375">
                            <i class="icon icon_radio"></i>
                            C. Routing plans
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3376" id="3376" disabled="">
                                <label for="3376">
                            <i class="icon icon_radio"></i>
                            D. Electric gadgets
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>