<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>In the business world, Quest Communications said Tuesday that the U.S. Attorney's Office is investigating accounting issues that are also under scrutiny by the Securities and Exchange Commission. Quest previously acknowledged the
                            Justice Department investigation, but said it didn't know the subject of the probe. The U.S. Attorney's Office requested that Quest make presentations similar to those that it made to the SEC.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566012887.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.4379%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:59</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. What is true of this news report?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3269" id="3269" disabled="">
                                <label for="3269">
                            <i class="icon icon_radio"></i>
                            A. Something is being looked at more closely
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3270" id="3270" disabled="">
                                <label for="3270">
                            <i class="icon icon_radio"></i>
                            B. A company is being shut down by the government
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3271" id="3271" disabled="">
                                <label for="3271">
                            <i class="icon icon_radio"></i>
                            C. Something is being honored publicly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3272" id="3272" disabled="">
                                <label for="3272">
                            <i class="icon icon_radio"></i>
                            D. The Justice Department is having money problems
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. Who is to give a presentation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3273" id="3273" disabled="">
                                <label for="3273">
                            <i class="icon icon_radio"></i>
                            A. The U.S Attorney's office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3274" id="3274" disabled="">
                                <label for="3274">
                            <i class="icon icon_radio"></i>
                            B. The Justice Department
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3275" id="3275" disabled="">
                                <label for="3275">
                            <i class="icon icon_radio"></i>
                            C. Quest
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3276" id="3276" disabled="">
                                <label for="3276">
                            <i class="icon icon_radio"></i>
                            D. The Securities and Exchange Department
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What kind of problem is being reported?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3277" id="3277" disabled="">
                                <label for="3277">
                            <i class="icon icon_radio"></i>
                            A. Money issues
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3278" id="3278" disabled="">
                                <label for="3278">
                            <i class="icon icon_radio"></i>
                            B. A misdemeanor crime investigation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3279" id="3279" disabled="">
                                <label for="3279">
                            <i class="icon icon_radio"></i>
                            C. A fraudulent employee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3280" id="3280" disabled="">
                                <label for="3280">
                            <i class="icon icon_radio"></i>
                            D. Competing businesses at odds
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>