<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>May I have your attention, please? Flight 418 departing at 8:12 PM to Lima is overbooked. If you have an assigned seat on this flight and would be willing to give it up, please approach the ticket counter immediately. You will
                            be scheduled to leave on tomorrow's flight departing at 9:27 AM. As compensation for your generosity we will pay for your overnight accommodation and give you a free round trip to anywhere in the U.S.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566013167.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.79677%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. Why are people being asked to give up their seats?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="3281" id="3281" disabled="">
                                <label for="3281">
                            <i class="icon icon_radio"></i>
                            A. The later flight has fewer passengers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3282" id="3282" disabled="">
                                <label for="3282">
                            <i class="icon icon_radio"></i>
                            B. There are not enough seats for all those with tickets
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3283" id="3283" disabled="">
                                <label for="3283">
                            <i class="icon icon_radio"></i>
                            C. The flight is now going to a different destination
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3284" id="3284" disabled="">
                                <label for="3284">
                            <i class="icon icon_radio"></i>
                            D. The plane is having a mechanical problem
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. What will someone who gives up a seat get?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="3285" id="3285" disabled="">
                                <label for="3285">
                            <i class="icon icon_radio"></i>
                            A. A free trip to anywhere in the world
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3286" id="3286" disabled="">
                                <label for="3286">
                            <i class="icon icon_radio"></i>
                            B. A first class seat in the next flight
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3287" id="3287" disabled="">
                                <label for="3287">
                            <i class="icon icon_radio"></i>
                            C. A night at a fancy hotel and a discounted ticket
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3288" id="3288" disabled="">
                                <label for="3288">
                            <i class="icon icon_radio"></i>
                            D. A free place to stay and a trip
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. What time will someone who does NOT give up their seat leave?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="3289" id="3289" disabled="">
                                <label for="3289">
                            <i class="icon icon_radio"></i>
                            A. 10:30 AM
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3290" id="3290" disabled="">
                                <label for="3290">
                            <i class="icon icon_radio"></i>
                            B. 4:18 PM
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3291" id="3291" disabled="">
                                <label for="3291">
                            <i class="icon icon_radio"></i>
                            C. 9:27 AM
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3292" id="3292" disabled="">
                                <label for="3292">
                            <i class="icon icon_radio"></i>
                            D. 8:12 PM
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>