<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>As the sole caregiver of my wife, a victim of Huntington's chorea disease, I am appalled by the President's resistance to full-fledged stem-cell and therapeutic-cloning research. Doctors say such cloning is the best chance for
                            a cure of this horrible disease. That anyone would hinder or limit the research brings me to anger and tears. For the sake of my wife's life and, because the disease is genetic, the lives of our children and grandchildren,
                            we must sup-port stem-cell and therapeutic research. Thank you for your time.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566013472.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.95374%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:06</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. Who has Huntington's chorea disease?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="3293" id="3293" disabled="">
                                <label for="3293">
                            <i class="icon icon_radio"></i>
                            A. The speaker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3294" id="3294" disabled="">
                                <label for="3294">
                            <i class="icon icon_radio"></i>
                            B. The speaker's child
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3295" id="3295" disabled="">
                                <label for="3295">
                            <i class="icon icon_radio"></i>
                            C. The speaker's grandchildren
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3296" id="3296" disabled="">
                                <label for="3296">
                            <i class="icon icon_radio"></i>
                            D. The speaker's wife
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. What is the speaker's attitude toward the president's actions?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="3297" id="3297" disabled="">
                                <label for="3297">
                            <i class="icon icon_radio"></i>
                            A. He is very displeased
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3298" id="3298" disabled="">
                                <label for="3298">
                            <i class="icon icon_radio"></i>
                            B. He is in full support of them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3299" id="3299" disabled="">
                                <label for="3299">
                            <i class="icon icon_radio"></i>
                            C. He is apprehensive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3300" id="3300" disabled="">
                                <label for="3300">
                            <i class="icon icon_radio"></i>
                            D. He is hopeful
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What is true of stem-cell research?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="3301" id="3301" disabled="">
                                <label for="3301">
                            <i class="icon icon_radio"></i>
                            A. It is high on the president's agenda
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3302" id="3302" disabled="">
                                <label for="3302">
                            <i class="icon icon_radio"></i>
                            B. It is a horrible disease
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3303" id="3303" disabled="">
                                <label for="3303">
                            <i class="icon icon_radio"></i>
                            C. It could kill the speaker's wife
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3304" id="3304" disabled="">
                                <label for="3304">
                            <i class="icon icon_radio"></i>
                            D. It could discover a cure
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>