<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 89 - 91 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>Job fairs are extremely useful in that they afford you opportunities to speak with many employers at one time in one space. However, they are not for the shy or even the overly confident for that matter. You need to make a good impression in person and look prepared. You're not necessarily learning about every opportunity in each organization - you are learning where the major hiring needs are. These are once a year events, so don't miss the ones you need. Along with fairs, I would also recommend looking at job listings online or in print. Of course, what is by far the most useful thing in job searching is good networking and knowing people in the desired field. Who you know doesn't necessarily outweigh WHAT you know; however, it sure does play an important role.</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566015033.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 6.66828%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:33</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>89. Why are job fairs a good option?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="88" value="3329" id="3329" disabled="">
                        <label for="3329">
                            <i class="icon icon_radio"></i>
                            A. There are many possible employers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="88" value="3330" id="3330" disabled="">
                        <label for="3330">
                            <i class="icon icon_radio"></i>
                            B. They give you confidence
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="88" value="3331" id="3331" disabled="">
                        <label for="3331">
                            <i class="icon icon_radio"></i>
                            C. They give you the most detail about the jobs
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="88" value="3332" id="3332" disabled="">
                        <label for="3332">
                            <i class="icon icon_radio"></i>
                            D. They take place frequently
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>90. What is the best way to obtain a job?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="89" value="3333" id="3333" disabled="">
                        <label for="3333">
                            <i class="icon icon_radio"></i>
                            A. Looking at job listings online
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="89" value="3334" id="3334" disabled="">
                        <label for="3334">
                            <i class="icon icon_radio"></i>
                            B. Looking at job listings in print
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="89" value="3335" id="3335" disabled="">
                        <label for="3335">
                            <i class="icon icon_radio"></i>
                            C. Job fairs
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="89" value="3336" id="3336" disabled="">
                        <label for="3336">
                            <i class="icon icon_radio"></i>
                            D. Networking
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>91. What is the speaker giving to the listeners?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="90" value="3337" id="3337" disabled="">
                        <label for="3337">
                            <i class="icon icon_radio"></i>
                            A. Directions
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="90" value="3338" id="3338" disabled="">
                        <label for="3338">
                            <i class="icon icon_radio"></i>
                            B. Orders
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="90" value="3339" id="3339" disabled="">
                        <label for="3339">
                            <i class="icon icon_radio"></i>
                            C. Advice
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="90" value="3340" id="3340" disabled="">
                        <label for="3340">
                            <i class="icon icon_radio"></i>
                            D. Inquiries
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>