<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>The entire West Side of Lexington has been deemed a disaster area and will remain so for at least another week. Over 10,000 families have been without power since Sunday evening when the storm hit. All vehicles, with the exception
                            of those used for emergencies are asked to stay off the roads. The flooding and the hail from the storm toppled trees and electric power lines. Emergency shelters have been set up throughout the city. Police are currently doing
                            all in their power to transport residents to these shelters. The shelters are crowded and full of anxious individuals, but heat and food are available to all. If you are interested in helping in any way, please call the hotline
                            at 1-800-342-8439.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566015268.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.43698%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:22</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. For how long will West Lexington be deemed a disaster area?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3341" id="3341" disabled="">
                                <label for="3341">
                            <i class="icon icon_radio"></i>
                            A. At least another week
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3342" id="3342" disabled="">
                                <label for="3342">
                            <i class="icon icon_radio"></i>
                            B. Until Sunday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3343" id="3343" disabled="">
                                <label for="3343">
                            <i class="icon icon_radio"></i>
                            C. Less than a week
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3344" id="3344" disabled="">
                                <label for="3344">
                            <i class="icon icon_radio"></i>
                            D. At least two weeks
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. What vehicle CANNOT be on the road?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3345" id="3345" disabled="">
                                <label for="3345">
                            <i class="icon icon_radio"></i>
                            A. Police car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3346" id="3346" disabled="">
                                <label for="3346">
                            <i class="icon icon_radio"></i>
                            B. Taxicab
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3347" id="3347" disabled="">
                                <label for="3347">
                            <i class="icon icon_radio"></i>
                            C. Ambulance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3348" id="3348" disabled="">
                                <label for="3348">
                            <i class="icon icon_radio"></i>
                            D. Fire truck
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. What is true of the emergency shelters?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3349" id="3349" disabled="">
                                <label for="3349">
                            <i class="icon icon_radio"></i>
                            A. There are a lot of people staying in them
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3350" id="3350" disabled="">
                                <label for="3350">
                            <i class="icon icon_radio"></i>
                            B. There's a shortage of food
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3351" id="3351" disabled="">
                                <label for="3351">
                            <i class="icon icon_radio"></i>
                            C. They have plenty of fans to keep cool
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3352" id="3352" disabled="">
                                <label for="3352">
                            <i class="icon icon_radio"></i>
                            D. They are without power
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>