<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 95 - 97 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Hollywood has now conquered the perfume world. They've all conquered movies, television, and have produced platinum albums and they are joining forces with department stores to make us all smell a little bit better. Capturing all
                            Hollywood themes, the stars are selling perfumes named Diamonds and Riches. When leafing through a perfume catalogue, one might easily think they are reading their favorite tabloid! </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665831/1566015645.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.1591%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:56</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>95. Who are producing the perfumes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="94" value="3353" id="3353" disabled="">
                                <label for="3353">
                            <i class="icon icon_radio"></i>
                            A. Movie directors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3354" id="3354" disabled="">
                                <label for="3354">
                            <i class="icon icon_radio"></i>
                            B. Tabloid magazines
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3355" id="3355" disabled="">
                                <label for="3355">
                            <i class="icon icon_radio"></i>
                            C. Celebrities
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3356" id="3356" disabled="">
                                <label for="3356">
                            <i class="icon icon_radio"></i>
                            D. Producers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>96. What is a common theme of the perfume names?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="95" value="3357" id="3357" disabled="">
                                <label for="3357">
                            <i class="icon icon_radio"></i>
                            A. Fruit
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3358" id="3358" disabled="">
                                <label for="3358">
                            <i class="icon icon_radio"></i>
                            B. Movies
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3359" id="3359" disabled="">
                                <label for="3359">
                            <i class="icon icon_radio"></i>
                            C. Extravagence
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3360" id="3360" disabled="">
                                <label for="3360">
                            <i class="icon icon_radio"></i>
                            D. Simplicity
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>97. Where can people read about the perfumes they want to buy?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="96" value="3361" id="3361" disabled="">
                                <label for="3361">
                            <i class="icon icon_radio"></i>
                            A. Tabloids
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3362" id="3362" disabled="">
                                <label for="3362">
                            <i class="icon icon_radio"></i>
                            B. Catalogues
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3363" id="3363" disabled="">
                                <label for="3363">
                            <i class="icon icon_radio"></i>
                            C. Newspapers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3364" id="3364" disabled="">
                                <label for="3364">
                            <i class="icon icon_radio"></i>
                            D. Pamphlets
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>