<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=1&amp;questionGroupNum=0">
                    <input type="hidden" name="_token" value="1lcvmba2We8QA71feARfdnXhrU8Qv6SOlBFMBPsw">
                    <img src="https://toeic24.vn/upload/img/resized/1579321422.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579321422.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 20.8586%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:22</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>1. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="0" value="15451" id="15451" disabled="">
                                <label for="15451">
                                    <i class="icon icon_radio"></i>
                                    A. A woman is painting a house
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="15452" id="15452" disabled="">
                                <label for="15452">
                                    <i class="icon icon_radio"></i>
                                    B. A woman is watering a plant
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="15453" id="15453" disabled="">
                                <label for="15453">
                                    <i class="icon icon_radio"></i>
                                    C. A woman is fixing a door
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="0" value="15454" id="15454" disabled="">
                                <label for="15454">
                                    <i class="icon icon_radio"></i>
                                    D. A woman is sweeping a walkway
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1579321545.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579321545.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 21.0499%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:21</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>2. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="1" value="15455" id="15455" disabled="">
                                <label for="15455">
                                    <i class="icon icon_radio"></i>
                                    A. They're folding some papers
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="15456" id="15456" disabled="">
                                <label for="15456">
                                    <i class="icon icon_radio"></i>
                                    B. They're putting a picture in a frame
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="15457" id="15457" disabled="">
                                <label for="15457">
                                    <i class="icon icon_radio"></i>
                                    C. They're studying a drawing
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="1" value="15458" id="15458" disabled="">
                                <label for="15458">
                                    <i class="icon icon_radio"></i>
                                    D. They're closing a window
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1579321614.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579321614.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 20.1887%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>3. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="2" value="15459" id="15459" disabled="">
                                <label for="15459">
                                    <i class="icon icon_radio"></i>
                                    A. The man is turning on a light
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="15460" id="15460" disabled="">
                                <label for="15460">
                                    <i class="icon icon_radio"></i>
                                    B. The man is giving the woman a book
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="15461" id="15461" disabled="">
                                <label for="15461">
                                    <i class="icon icon_radio"></i>
                                    C. The woman is posting signs on a wall
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="2" value="15462" id="15462" disabled="">
                                <label for="15462">
                                    <i class="icon icon_radio"></i>
                                    D. The woman is typing on a keyboard
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1579321701.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579321701.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 19.1362%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:23</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>4. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="3" value="15463" id="15463" disabled="">
                                <label for="15463">
                                    <i class="icon icon_radio"></i>
                                    A. Some clothing has been hung up
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="15464" id="15464" disabled="">
                                <label for="15464">
                                    <i class="icon icon_radio"></i>
                                    B. Some boxes are stacked on a cart
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="15465" id="15465" disabled="">
                                <label for="15465">
                                    <i class="icon icon_radio"></i>
                                    C. A bag has fallen on the floor
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="3" value="15466" id="15466" disabled="">
                                <label for="15466">
                                    <i class="icon icon_radio"></i>
                                    D. A chair has been pushed under a desk
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1579321809.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579321809.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 18.442%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:25</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>5. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="4" value="15467" id="15467" disabled="">
                                <label for="15467">
                                    <i class="icon icon_radio"></i>
                                    A. Some customers are paying for their meals
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="15468" id="15468" disabled="">
                                <label for="15468">
                                    <i class="icon icon_radio"></i>
                                    B. Some workers are washing dishes
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="15469" id="15469" disabled="">
                                <label for="15469">
                                    <i class="icon icon_radio"></i>
                                    C. Some food is being placed in a refrigerator
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="4" value="15470" id="15470" disabled="">
                                <label for="15470">
                                    <i class="icon icon_radio"></i>
                                    D. Some large cooking pots are on a counter
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <img src="https://toeic24.vn/upload/img/resized/1579321898.png" style="width: 100%">
                    <div class="answer">
                        <div class="audioplayer"><audio controls=""
                                style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="https://toeic24.vn/upload/audio/1579320667/1579321899.mp3"
                                    type="audio/mp3">
                            </audio>
                            <div class="audioplayer-playpause" title=""><a href="#"></a></div>
                            <div class="audioplayer-time audioplayer-time-current">00:00</div>
                            <div class="audioplayer-bar">
                                <div class="audioplayer-bar-loaded" style="width: 17.671%;"></div>
                                <div class="audioplayer-bar-played"></div>
                            </div>
                            <div class="audioplayer-time audioplayer-time-duration">00:25</div>
                            <div class="audioplayer-volume">
                                <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
                                <div class="audioplayer-volume-adjust">
                                    <div>
                                        <div style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>6. Select the answer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="5" value="15471" id="15471" disabled="">
                                <label for="15471">
                                    <i class="icon icon_radio"></i>
                                    A. Runners are lined up for the start of a race
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="15472" id="15472" disabled="">
                                <label for="15472">
                                    <i class="icon icon_radio"></i>
                                    B. Some people are cheering for a sports team
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="15473" id="15473" disabled="">
                                <label for="15473">
                                    <i class="icon icon_radio"></i>
                                    C. An athletic field is located near some trees
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="5" value="15474" id="15474" disabled="">
                                <label for="15474">
                                    <i class="icon icon_radio"></i>
                                    D. Lawn mowers are being used to cut the grass
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <a href="https://toeic24.vn/exam/next-page?part=1&amp;questionGroupNum=0"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>