<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=5">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>101. ____ John found Maria hard to get along with, he did the best he could</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="100" value="371" id="371" disabled="">
                                <label for="371">
                                    <i class="icon icon_radio"></i>
                                    A. However difficult
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="372" id="372" disabled="">
                                <label for="372">
                                    <i class="icon icon_radio"></i>
                                    B. Because of
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="373" id="373" disabled="">
                                <label for="373">
                                    <i class="icon icon_radio"></i>
                                    C. Nevertheless
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="374" id="374" disabled="">
                                <label for="374">
                                    <i class="icon icon_radio"></i>
                                    D. Although
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>102. He was forced to declare ____ two years after purchasing the property because he
                                couldn't make payments</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="101" value="375" id="375" disabled="">
                                <label for="375">
                                    <i class="icon icon_radio"></i>
                                    A. eligibility
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="376" id="376" disabled="">
                                <label for="376">
                                    <i class="icon icon_radio"></i>
                                    B. candidacy
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="377" id="377" disabled="">
                                <label for="377">
                                    <i class="icon icon_radio"></i>
                                    C. bankruptcy
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="378" id="378" disabled="">
                                <label for="378">
                                    <i class="icon icon_radio"></i>
                                    D. bail
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>103. Although his new job had long hours, Mike was pleased with his higher ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="102" value="379" id="379" disabled="">
                                <label for="379">
                                    <i class="icon icon_radio"></i>
                                    A. dues
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="380" id="380" disabled="">
                                <label for="380">
                                    <i class="icon icon_radio"></i>
                                    B. salary
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="381" id="381" disabled="">
                                <label for="381">
                                    <i class="icon icon_radio"></i>
                                    C. fees
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="382" id="382" disabled="">
                                <label for="382">
                                    <i class="icon icon_radio"></i>
                                    D. earns
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>104. Be sure to submit your application form by the 20th of March ____ you wish to be
                                considered for the post</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="103" value="383" id="383" disabled="">
                                <label for="383">
                                    <i class="icon icon_radio"></i>
                                    A. unless that
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="384" id="384" disabled="">
                                <label for="384">
                                    <i class="icon icon_radio"></i>
                                    B. whether
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="385" id="385" disabled="">
                                <label for="385">
                                    <i class="icon icon_radio"></i>
                                    C. if
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="386" id="386" disabled="">
                                <label for="386">
                                    <i class="icon icon_radio"></i>
                                    D. in case of
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>105. I ____ the report now; I'll be with you in a second</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="104" value="387" id="387" disabled="">
                                <label for="387">
                                    <i class="icon icon_radio"></i>
                                    A. finish
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="388" id="388" disabled="">
                                <label for="388">
                                    <i class="icon icon_radio"></i>
                                    B. finished
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="389" id="389" disabled="">
                                <label for="389">
                                    <i class="icon icon_radio"></i>
                                    C. would finish
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="390" id="390" disabled="">
                                <label for="390">
                                    <i class="icon icon_radio"></i>
                                    D. am finishing
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>106. The day of the meeting has been changed; it has been ____ for Thursday</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="105" value="391" id="391" disabled="">
                                <label for="391">
                                    <i class="icon icon_radio"></i>
                                    A. reserved
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="392" id="392" disabled="">
                                <label for="392">
                                    <i class="icon icon_radio"></i>
                                    B. cancelled
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="393" id="393" disabled="">
                                <label for="393">
                                    <i class="icon icon_radio"></i>
                                    C. rectified
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="394" id="394" disabled="">
                                <label for="394">
                                    <i class="icon icon_radio"></i>
                                    D. rescheduled
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>107. On one hand we've had a bit of a setback, but on ____ hand it's a chance to show that
                                we're determined</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="106" value="395" id="395" disabled="">
                                <label for="395">
                                    <i class="icon icon_radio"></i>
                                    A. the other
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="396" id="396" disabled="">
                                <label for="396">
                                    <i class="icon icon_radio"></i>
                                    B. another
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="397" id="397" disabled="">
                                <label for="397">
                                    <i class="icon icon_radio"></i>
                                    C. the second
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="398" id="398" disabled="">
                                <label for="398">
                                    <i class="icon icon_radio"></i>
                                    D. that
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>108. Be sure to let me know if I can be of any ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="107" value="399" id="399" disabled="">
                                <label for="399">
                                    <i class="icon icon_radio"></i>
                                    A. assistance
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="400" id="400" disabled="">
                                <label for="400">
                                    <i class="icon icon_radio"></i>
                                    B. enlightenment
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="401" id="401" disabled="">
                                <label for="401">
                                    <i class="icon icon_radio"></i>
                                    C. inclination
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="402" id="402" disabled="">
                                <label for="402">
                                    <i class="icon icon_radio"></i>
                                    D. clarification
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>109. Due to a ____ in security, hackers got access to the company's files</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="108" value="403" id="403" disabled="">
                                <label for="403">
                                    <i class="icon icon_radio"></i>
                                    A. rebate
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="404" id="404" disabled="">
                                <label for="404">
                                    <i class="icon icon_radio"></i>
                                    B. rip
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="405" id="405" disabled="">
                                <label for="405">
                                    <i class="icon icon_radio"></i>
                                    C. spam
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="406" id="406" disabled="">
                                <label for="406">
                                    <i class="icon icon_radio"></i>
                                    D. lapse
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>110. Lunch ____ in the dining room at midday</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="109" value="407" id="407" disabled="">
                                <label for="407">
                                    <i class="icon icon_radio"></i>
                                    A. will serve
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="408" id="408" disabled="">
                                <label for="408">
                                    <i class="icon icon_radio"></i>
                                    B. to be served
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="409" id="409" disabled="">
                                <label for="409">
                                    <i class="icon icon_radio"></i>
                                    C. will be served
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="410" id="410" disabled="">
                                <label for="410">
                                    <i class="icon icon_radio"></i>
                                    D. is serving
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>111. Although one of the two candidates has more experience, ____ has great enthusiasm and
                                energy</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="110" value="411" id="411" disabled="">
                                <label for="411">
                                    <i class="icon icon_radio"></i>
                                    A. eight
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="412" id="412" disabled="">
                                <label for="412">
                                    <i class="icon icon_radio"></i>
                                    B. the one
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="413" id="413" disabled="">
                                <label for="413">
                                    <i class="icon icon_radio"></i>
                                    C. another
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="414" id="414" disabled="">
                                <label for="414">
                                    <i class="icon icon_radio"></i>
                                    D. the other
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>112. The bus is departing ____ so please hurry up</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="111" value="415" id="415" disabled="">
                                <label for="415">
                                    <i class="icon icon_radio"></i>
                                    A. promptly
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="416" id="416" disabled="">
                                <label for="416">
                                    <i class="icon icon_radio"></i>
                                    B. prompt
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="417" id="417" disabled="">
                                <label for="417">
                                    <i class="icon icon_radio"></i>
                                    C. prompted
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="418" id="418" disabled="">
                                <label for="418">
                                    <i class="icon icon_radio"></i>
                                    D. prompting
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>113. Does the position include any ____ , such as retirement or health insurance?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="112" value="419" id="419" disabled="">
                                <label for="419">
                                    <i class="icon icon_radio"></i>
                                    A. bonuses
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="420" id="420" disabled="">
                                <label for="420">
                                    <i class="icon icon_radio"></i>
                                    B. benefits
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="421" id="421" disabled="">
                                <label for="421">
                                    <i class="icon icon_radio"></i>
                                    C. breaks
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="422" id="422" disabled="">
                                <label for="422">
                                    <i class="icon icon_radio"></i>
                                    D. brackets
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>114. Many were worried the country would suffer a ____ because of the rise in interest
                                rates</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="113" value="423" id="423" disabled="">
                                <label for="423">
                                    <i class="icon icon_radio"></i>
                                    A. digression
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="424" id="424" disabled="">
                                <label for="424">
                                    <i class="icon icon_radio"></i>
                                    B. regression
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="425" id="425" disabled="">
                                <label for="425">
                                    <i class="icon icon_radio"></i>
                                    C. recession
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="426" id="426" disabled="">
                                <label for="426">
                                    <i class="icon icon_radio"></i>
                                    D. depletion
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>115. The folder, ____ you will find the report, is on the top shelf</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="114" value="427" id="427" disabled="">
                                <label for="427">
                                    <i class="icon icon_radio"></i>
                                    A. which
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="428" id="428" disabled="">
                                <label for="428">
                                    <i class="icon icon_radio"></i>
                                    B. in which
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="429" id="429" disabled="">
                                <label for="429">
                                    <i class="icon icon_radio"></i>
                                    C. where is
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="430" id="430" disabled="">
                                <label for="430">
                                    <i class="icon icon_radio"></i>
                                    D. wherever
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>116. It is important that you ____ any concerns you might have so we can address them</b>
                        </p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="115" value="431" id="431" disabled="">
                                <label for="431">
                                    <i class="icon icon_radio"></i>
                                    A. rally
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="432" id="432" disabled="">
                                <label for="432">
                                    <i class="icon icon_radio"></i>
                                    B. raise
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="433" id="433" disabled="">
                                <label for="433">
                                    <i class="icon icon_radio"></i>
                                    C. rage
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="434" id="434" disabled="">
                                <label for="434">
                                    <i class="icon icon_radio"></i>
                                    D. rule
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>117. James always seems to dress to ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="116" value="435" id="435" disabled="">
                                <label for="435">
                                    <i class="icon icon_radio"></i>
                                    A. impress
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="436" id="436" disabled="">
                                <label for="436">
                                    <i class="icon icon_radio"></i>
                                    B. impressed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="437" id="437" disabled="">
                                <label for="437">
                                    <i class="icon icon_radio"></i>
                                    C. impressive
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="438" id="438" disabled="">
                                <label for="438">
                                    <i class="icon icon_radio"></i>
                                    D. impressively
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>118. Michelle felt like she was kept on the ____ and was not really considered part of the
                                team</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="117" value="439" id="439" disabled="">
                                <label for="439">
                                    <i class="icon icon_radio"></i>
                                    A. outline
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="440" id="440" disabled="">
                                <label for="440">
                                    <i class="icon icon_radio"></i>
                                    B. sidelines
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="441" id="441" disabled="">
                                <label for="441">
                                    <i class="icon icon_radio"></i>
                                    C. off line
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="442" id="442" disabled="">
                                <label for="442">
                                    <i class="icon icon_radio"></i>
                                    D. guidelines
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>119. Amy decided to ____ in cardiology after graduating from medical school</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="118" value="443" id="443" disabled="">
                                <label for="443">
                                    <i class="icon icon_radio"></i>
                                    A. investigate
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="444" id="444" disabled="">
                                <label for="444">
                                    <i class="icon icon_radio"></i>
                                    B. detail
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="445" id="445" disabled="">
                                <label for="445">
                                    <i class="icon icon_radio"></i>
                                    C. explore
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="446" id="446" disabled="">
                                <label for="446">
                                    <i class="icon icon_radio"></i>
                                    D. specialize
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>120. The hierarchy ____ the company was very comolex</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="119" value="447" id="447" disabled="">
                                <label for="447">
                                    <i class="icon icon_radio"></i>
                                    A. within
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="448" id="448" disabled="">
                                <label for="448">
                                    <i class="icon icon_radio"></i>
                                    B. on
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="449" id="449" disabled="">
                                <label for="449">
                                    <i class="icon icon_radio"></i>
                                    C. around
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="450" id="450" disabled="">
                                <label for="450">
                                    <i class="icon icon_radio"></i>
                                    D. among
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>121. Anna was concerned about keeping her job because the company was ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="120" value="451" id="451" disabled="">
                                <label for="451">
                                    <i class="icon icon_radio"></i>
                                    A. expanding
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="452" id="452" disabled="">
                                <label for="452">
                                    <i class="icon icon_radio"></i>
                                    B. condensing
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="453" id="453" disabled="">
                                <label for="453">
                                    <i class="icon icon_radio"></i>
                                    C. downsizing
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="454" id="454" disabled="">
                                <label for="454">
                                    <i class="icon icon_radio"></i>
                                    D. backdating
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>122. Profits were ____ ; better than last year, but still short of our goal</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="121" value="455" id="455" disabled="">
                                <label for="455">
                                    <i class="icon icon_radio"></i>
                                    A. morbid
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="456" id="456" disabled="">
                                <label for="456">
                                    <i class="icon icon_radio"></i>
                                    B. marginal
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="457" id="457" disabled="">
                                <label for="457">
                                    <i class="icon icon_radio"></i>
                                    C. menial
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="458" id="458" disabled="">
                                <label for="458">
                                    <i class="icon icon_radio"></i>
                                    D. meaningless
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>123. I'm afraid I'm ____ ; I've been working in the office since 7am</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="122" value="459" id="459" disabled="">
                                <label for="459">
                                    <i class="icon icon_radio"></i>
                                    A. exhausted
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="460" id="460" disabled="">
                                <label for="460">
                                    <i class="icon icon_radio"></i>
                                    B. invigorated
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="461" id="461" disabled="">
                                <label for="461">
                                    <i class="icon icon_radio"></i>
                                    C. extended
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="462" id="462" disabled="">
                                <label for="462">
                                    <i class="icon icon_radio"></i>
                                    D. incensed
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>124. Mario felt that he did not get enough ____ for his hard work</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="123" value="463" id="463" disabled="">
                                <label for="463">
                                    <i class="icon icon_radio"></i>
                                    A. recognition
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="464" id="464" disabled="">
                                <label for="464">
                                    <i class="icon icon_radio"></i>
                                    B. stimulation
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="465" id="465" disabled="">
                                <label for="465">
                                    <i class="icon icon_radio"></i>
                                    C. consideration
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="466" id="466" disabled="">
                                <label for="466">
                                    <i class="icon icon_radio"></i>
                                    D. obligation
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>125. Alison, like her sister Jessica, ____ studying to be a lawyer</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="124" value="467" id="467" disabled="">
                                <label for="467">
                                    <i class="icon icon_radio"></i>
                                    A. also
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="468" id="468" disabled="">
                                <label for="468">
                                    <i class="icon icon_radio"></i>
                                    B. have been
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="469" id="469" disabled="">
                                <label for="469">
                                    <i class="icon icon_radio"></i>
                                    C. are
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="470" id="470" disabled="">
                                <label for="470">
                                    <i class="icon icon_radio"></i>
                                    D. is
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>126. I would like to thank you for your ____ in reaching a speedy solution</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="125" value="471" id="471" disabled="">
                                <label for="471">
                                    <i class="icon icon_radio"></i>
                                    A. trust
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="472" id="472" disabled="">
                                <label for="472">
                                    <i class="icon icon_radio"></i>
                                    B. coopertation
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="473" id="473" disabled="">
                                <label for="473">
                                    <i class="icon icon_radio"></i>
                                    C. inclination
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="474" id="474" disabled="">
                                <label for="474">
                                    <i class="icon icon_radio"></i>
                                    D. resistance
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>127. Mary Ann ____ for an audition for a play on Thursday</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="126" value="475" id="475" disabled="">
                                <label for="475">
                                    <i class="icon icon_radio"></i>
                                    A. is going
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="476" id="476" disabled="">
                                <label for="476">
                                    <i class="icon icon_radio"></i>
                                    B. goes
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="477" id="477" disabled="">
                                <label for="477">
                                    <i class="icon icon_radio"></i>
                                    C. has gone
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="478" id="478" disabled="">
                                <label for="478">
                                    <i class="icon icon_radio"></i>
                                    D. is going to
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>128. ____ you were working under pressure, you have done an excellent job!</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="127" value="479" id="479" disabled="">
                                <label for="479">
                                    <i class="icon icon_radio"></i>
                                    A. However
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="480" id="480" disabled="">
                                <label for="480">
                                    <i class="icon icon_radio"></i>
                                    B. Although
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="481" id="481" disabled="">
                                <label for="481">
                                    <i class="icon icon_radio"></i>
                                    C. In spite of
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="482" id="482" disabled="">
                                <label for="482">
                                    <i class="icon icon_radio"></i>
                                    D. No wonder
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>129. The check ____ because the account was empty and he was charged a fee</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="128" value="483" id="483" disabled="">
                                <label for="483">
                                    <i class="icon icon_radio"></i>
                                    A. failed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="484" id="484" disabled="">
                                <label for="484">
                                    <i class="icon icon_radio"></i>
                                    B. rolled
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="485" id="485" disabled="">
                                <label for="485">
                                    <i class="icon icon_radio"></i>
                                    C. slid
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="486" id="486" disabled="">
                                <label for="486">
                                    <i class="icon icon_radio"></i>
                                    D. bounced
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>130. In order to be efficient you must ____ on the task at hand</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="129" value="487" id="487" disabled="">
                                <label for="487">
                                    <i class="icon icon_radio"></i>
                                    A. strive
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="488" id="488" disabled="">
                                <label for="488">
                                    <i class="icon icon_radio"></i>
                                    B. focus
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="489" id="489" disabled="">
                                <label for="489">
                                    <i class="icon icon_radio"></i>
                                    C. aim
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="490" id="490" disabled="">
                                <label for="490">
                                    <i class="icon icon_radio"></i>
                                    D. grasp
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>131. We expect you to be in the office ____ from 9am to 5pm</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="130" value="491" id="491" disabled="">
                                <label for="491">
                                    <i class="icon icon_radio"></i>
                                    A. clearly
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="492" id="492" disabled="">
                                <label for="492">
                                    <i class="icon icon_radio"></i>
                                    B. steady
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="493" id="493" disabled="">
                                <label for="493">
                                    <i class="icon icon_radio"></i>
                                    C. hourly
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="130" value="494" id="494" disabled="">
                                <label for="494">
                                    <i class="icon icon_radio"></i>
                                    D. daily
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>132. Excuse me, can you tell me ____ to 29th Street?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="131" value="495" id="495" disabled="">
                                <label for="495">
                                    <i class="icon icon_radio"></i>
                                    A. where is
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="496" id="496" disabled="">
                                <label for="496">
                                    <i class="icon icon_radio"></i>
                                    B. the way for
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="497" id="497" disabled="">
                                <label for="497">
                                    <i class="icon icon_radio"></i>
                                    C. where to go
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="131" value="498" id="498" disabled="">
                                <label for="498">
                                    <i class="icon icon_radio"></i>
                                    D. how to get
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>133. Mr. Smith was late for the meeting because his flight was ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="132" value="499" id="499" disabled="">
                                <label for="499">
                                    <i class="icon icon_radio"></i>
                                    A. dismissed
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="500" id="500" disabled="">
                                <label for="500">
                                    <i class="icon icon_radio"></i>
                                    B. lengthened
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="501" id="501" disabled="">
                                <label for="501">
                                    <i class="icon icon_radio"></i>
                                    C. delayed
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="132" value="502" id="502" disabled="">
                                <label for="502">
                                    <i class="icon icon_radio"></i>
                                    D. lost
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>134. "Can I help you?" - "Thanks, but I'm already ____ "</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="133" value="503" id="503" disabled="">
                                <label for="503">
                                    <i class="icon icon_radio"></i>
                                    A. helped
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="504" id="504" disabled="">
                                <label for="504">
                                    <i class="icon icon_radio"></i>
                                    B. being helped
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="505" id="505" disabled="">
                                <label for="505">
                                    <i class="icon icon_radio"></i>
                                    C. having helped
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="133" value="506" id="506" disabled="">
                                <label for="506">
                                    <i class="icon icon_radio"></i>
                                    D. helping
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>135. Do you think that I can ____ on him to get the job done?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="134" value="507" id="507" disabled="">
                                <label for="507">
                                    <i class="icon icon_radio"></i>
                                    A. count
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="508" id="508" disabled="">
                                <label for="508">
                                    <i class="icon icon_radio"></i>
                                    B. relieve
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="509" id="509" disabled="">
                                <label for="509">
                                    <i class="icon icon_radio"></i>
                                    C. look
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="134" value="510" id="510" disabled="">
                                <label for="510">
                                    <i class="icon icon_radio"></i>
                                    D. base
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>136. I'm sorry; I didn't understand. Can you please ___ what you just said?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="135" value="511" id="511" disabled="">
                                <label for="511">
                                    <i class="icon icon_radio"></i>
                                    A. rectify
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="512" id="512" disabled="">
                                <label for="512">
                                    <i class="icon icon_radio"></i>
                                    B. clarify
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="513" id="513" disabled="">
                                <label for="513">
                                    <i class="icon icon_radio"></i>
                                    C. objectify
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="135" value="514" id="514" disabled="">
                                <label for="514">
                                    <i class="icon icon_radio"></i>
                                    D. justify
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>137. The noise of the roadworks was so ____ that no one could concentrate</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="136" value="515" id="515" disabled="">
                                <label for="515">
                                    <i class="icon icon_radio"></i>
                                    A. upsetting
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="516" id="516" disabled="">
                                <label for="516">
                                    <i class="icon icon_radio"></i>
                                    B. distracting
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="517" id="517" disabled="">
                                <label for="517">
                                    <i class="icon icon_radio"></i>
                                    C. insistent
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="136" value="518" id="518" disabled="">
                                <label for="518">
                                    <i class="icon icon_radio"></i>
                                    D. unpleasant
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>138. Tim became a doctor because he wanted his father ____ proud of him</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="137" value="519" id="519" disabled="">
                                <label for="519">
                                    <i class="icon icon_radio"></i>
                                    A. to be
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="520" id="520" disabled="">
                                <label for="520">
                                    <i class="icon icon_radio"></i>
                                    B. being
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="521" id="521" disabled="">
                                <label for="521">
                                    <i class="icon icon_radio"></i>
                                    C. would be
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="137" value="522" id="522" disabled="">
                                <label for="522">
                                    <i class="icon icon_radio"></i>
                                    D. will be
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>139. There was a growing sense of ____ as the deadline approached</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="138" value="523" id="523" disabled="">
                                <label for="523">
                                    <i class="icon icon_radio"></i>
                                    A. excitement
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="524" id="524" disabled="">
                                <label for="524">
                                    <i class="icon icon_radio"></i>
                                    B. suspicion
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="525" id="525" disabled="">
                                <label for="525">
                                    <i class="icon icon_radio"></i>
                                    C. anticipation
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="138" value="526" id="526" disabled="">
                                <label for="526">
                                    <i class="icon icon_radio"></i>
                                    D. tension
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>140. Okay, the first step is ____ the quarterly report</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="139" value="527" id="527" disabled="">
                                <label for="527">
                                    <i class="icon icon_radio"></i>
                                    A. finish
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="528" id="528" disabled="">
                                <label for="528">
                                    <i class="icon icon_radio"></i>
                                    B. to finish
                                    <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="529" id="529" disabled="">
                                <label for="529">
                                    <i class="icon icon_radio"></i>
                                    C. finished
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="139" value="530" id="530" disabled="">
                                <label for="530">
                                    <i class="icon icon_radio"></i>
                                    D. finish
                                </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0"
                        class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>