<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>And now for the economy. The latest round of flight cuts by major airlines could lead to higher fares. Airlines officials say excess capacity has pushed inflation-adjusted average fares to levels unseen since the late 1980s, resulting
                            in billions of dollars in annual losses for the industry. With fewer seats to sell, airlines will try to reduce the number of seats that they sell at rock-bottom prices through Internet discounters as they concentrate on bringing
                            back higher-paying business travelers.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565943903.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.49948%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:08</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. What might flight cuts result in?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3017" id="3017" disabled="">
                                <label for="3017">
                            <i class="icon icon_radio"></i>
                            A. the selling of the company
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3018" id="3018" disabled="">
                                <label for="3018">
                            <i class="icon icon_radio"></i>
                            B. lowered salaries
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3019" id="3019" disabled="">
                                <label for="3019">
                            <i class="icon icon_radio"></i>
                            C. being sold to another airline
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3020" id="3020" disabled="">
                                <label for="3020">
                            <i class="icon icon_radio"></i>
                            D. a higher ticket selling-price
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. In what year might airlines have experienced the same problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3021" id="3021" disabled="">
                                <label for="3021">
                            <i class="icon icon_radio"></i>
                            A. 1980
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3022" id="3022" disabled="">
                                <label for="3022">
                            <i class="icon icon_radio"></i>
                            B. 1994
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3023" id="3023" disabled="">
                                <label for="3023">
                            <i class="icon icon_radio"></i>
                            C. 1989
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3024" id="3024" disabled="">
                                <label for="3024">
                            <i class="icon icon_radio"></i>
                            D. never
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. What will airlines now make an effort to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3025" id="3025" disabled="">
                                <label for="3025">
                            <i class="icon icon_radio"></i>
                            A. discourage business travelers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3026" id="3026" disabled="">
                                <label for="3026">
                            <i class="icon icon_radio"></i>
                            B. reduce the number of seats they sell
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3027" id="3027" disabled="">
                                <label for="3027">
                            <i class="icon icon_radio"></i>
                            C. sell fewers cheap tickets via the internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3028" id="3028" disabled="">
                                <label for="3028">
                            <i class="icon icon_radio"></i>
                            D. sell more seats than usual
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>