<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 98 - 100 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=21" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Want a good teachable moment about our footprint on the earth? Try packing with your family for a trip to Mexico. Once we're in the country, we'll be taking a small airline to a tiny and remote place near the Gulf Coast. But we're
                            only allowed 22 pounds of luggage per person. This family of four will be testing the claim on the camping towel bag - that you can wring it out and immediately reuse it. And of the hoped-for entertainment from home, such as
                            laptops, handheld games, etc., only the deck of cards is likely to make the weight cut. What we just may learn is how little we actually need, perhaps how much more we'll gain from the experience by traveling lightly.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565949977.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.09451%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:14</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>98. What is the family's problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="97" value="3125" id="3125" disabled="">
                                <label for="3125">
                            <i class="icon icon_radio"></i>
                            A. They can't agree on what to pack
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3126" id="3126" disabled="">
                                <label for="3126">
                            <i class="icon icon_radio"></i>
                            B. They packed too much
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3127" id="3127" disabled="">
                                <label for="3127">
                            <i class="icon icon_radio"></i>
                            C. They aren't allowed to pack much
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="97" value="3128" id="3128" disabled="">
                                <label for="3128">
                            <i class="icon icon_radio"></i>
                            D. They find the luggage rule unfair
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>99. What form of entertainment will the family bring with them?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="98" value="3129" id="3129" disabled="">
                                <label for="3129">
                            <i class="icon icon_radio"></i>
                            A. a deck of playing cards
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3130" id="3130" disabled="">
                                <label for="3130">
                            <i class="icon icon_radio"></i>
                            B. a laptop
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3131" id="3131" disabled="">
                                <label for="3131">
                            <i class="icon icon_radio"></i>
                            C. a camping towel
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="98" value="3132" id="3132" disabled="">
                                <label for="3132">
                            <i class="icon icon_radio"></i>
                            D. handheld games
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>100. What does the speaker anticipate?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="99" value="3133" id="3133" disabled="">
                                <label for="3133">
                            <i class="icon icon_radio"></i>
                            A. they won't make the weight cut
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3134" id="3134" disabled="">
                                <label for="3134">
                            <i class="icon icon_radio"></i>
                            B. a lesson about their attachment to things
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3135" id="3135" disabled="">
                                <label for="3135">
                            <i class="icon icon_radio"></i>
                            C. they'll regret packing so much
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="99" value="3136" id="3136" disabled="">
                                <label for="3136">
                            <i class="icon icon_radio"></i>
                            D. an adventurous ecperience
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=21" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>