<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Your attention please. There is a Red Ford Taurus parked blocking the building's entryway. Will the owner of this vehicle please move it immediately? This area is meant for shuttle buses and taxis ONLY. You may move your car to
                            either parking lot on the east or west side of the building. Again, this is a Red Ford Taurus, license plate number 173 FTU. If it is still blocking the entrance ten minutes from now, I am afraid we will have no choice but
                            to call the towing company and have it removed. So please, will the owner of this Red Ford Taurus move your vehicle immediately?&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565944629.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.03882%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:25</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. What kind of vehicle could be blocking the entryway?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3029" id="3029" disabled="">
                                <label for="3029">
                            <i class="icon icon_radio"></i>
                            A. shuttle bus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3030" id="3030" disabled="">
                                <label for="3030">
                            <i class="icon icon_radio"></i>
                            B. taxi
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3031" id="3031" disabled="">
                                <label for="3031">
                            <i class="icon icon_radio"></i>
                            C. car
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3032" id="3032" disabled="">
                                <label for="3032">
                            <i class="icon icon_radio"></i>
                            D. city bus
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. Where is the Ford Taurus allowed to be parked?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3033" id="3033" disabled="">
                                <label for="3033">
                            <i class="icon icon_radio"></i>
                            A. west side parking lot
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3034" id="3034" disabled="">
                                <label for="3034">
                            <i class="icon icon_radio"></i>
                            B. off the premises
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3035" id="3035" disabled="">
                                <label for="3035">
                            <i class="icon icon_radio"></i>
                            C. a few meters away from where it is now
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3036" id="3036" disabled="">
                                <label for="3036">
                            <i class="icon icon_radio"></i>
                            D. south side parking lot
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What will happen if it is not moved in ten minutes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3037" id="3037" disabled="">
                                <label for="3037">
                            <i class="icon icon_radio"></i>
                            A. The police will be called
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3038" id="3038" disabled="">
                                <label for="3038">
                            <i class="icon icon_radio"></i>
                            B. It will be removed by another vehicle
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3039" id="3039" disabled="">
                                <label for="3039">
                            <i class="icon icon_radio"></i>
                            C. The owner will pay a fee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3040" id="3040" disabled="">
                                <label for="3040">
                            <i class="icon icon_radio"></i>
                            D. The entryway will continued to be blocked
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>