<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>America loves to shop and there's no place better than New Hampshire, where the shopping is sales tax-free and the choice is exceptional! Come browse through the interesting and unique shops from old-fashioned 5 cent and 10 cent
                            stores to ski and sports shops featuring the latest equipment and fashions, nationally known name and brand factory outlets, and one-of-a-kind boutiques. A bonus: many stores will ship your purchases so it's easy to say "yes"
                            to that once-in-a-lifetime find. New Hampshire has a story to tell in the tradition of small home-based businesses and bustling workshops where craftspeople create items that reflect and contain the human spirit. For more on
                            shopping, see listings by town within each region.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565946314.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.84435%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:34</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. Besides variety, what else is heralded as being unique about shopping in New Hampshire?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="3041" id="3041" disabled="">
                                <label for="3041">
                            <i class="icon icon_radio"></i>
                            A. No tax is added to their purchases
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3042" id="3042" disabled="">
                                <label for="3042">
                            <i class="icon icon_radio"></i>
                            B. They sell nationally known name brands
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3043" id="3043" disabled="">
                                <label for="3043">
                            <i class="icon icon_radio"></i>
                            C. They specialize in sports equipment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3044" id="3044" disabled="">
                                <label for="3044">
                            <i class="icon icon_radio"></i>
                            D. All stores are old-fashioned
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. What service do many stores provide?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="3045" id="3045" disabled="">
                                <label for="3045">
                            <i class="icon icon_radio"></i>
                            A. They help you find exactly what you are looking for
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3046" id="3046" disabled="">
                                <label for="3046">
                            <i class="icon icon_radio"></i>
                            B. They will tell you the story behind your purchase
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3047" id="3047" disabled="">
                                <label for="3047">
                            <i class="icon icon_radio"></i>
                            C. They giftwrap your purchases for you
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3048" id="3048" disabled="">
                                <label for="3048">
                            <i class="icon icon_radio"></i>
                            D. They will send purchases to you
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. What tradition does New Hampshire uphold?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="3049" id="3049" disabled="">
                                <label for="3049">
                            <i class="icon icon_radio"></i>
                            A. telling oral stories about their past
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3050" id="3050" disabled="">
                                <label for="3050">
                            <i class="icon icon_radio"></i>
                            B. listing their stores by region
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3051" id="3051" disabled="">
                                <label for="3051">
                            <i class="icon icon_radio"></i>
                            C. making items that reveal people's souls
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3052" id="3052" disabled="">
                                <label for="3052">
                            <i class="icon icon_radio"></i>
                            D. expanding their businesses from their home to workshops
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>