<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>When you get a haircut at a hairdresser, or take your clothes to a dry cleaner, or ask a garage to repair your car, you're buying a service. When you buy a service, you have the right to expect certain standards. First of all,
                            the service must be completed within a reasonable time. This applies even if you and the person supplying the service have not agreed a time for the work to be finished by. Secondly, anyone who provides a service must do so
                            with reasonable care and skill, to a proper standard of workmanship. If you paid someone to fix your roof because it was letting in water, it should not still leak after the work has been completed. Lastly, reliable and appropriate
                            materials or goods should be used for the service. The same law covers goods and materials as if you were buying them directly.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565946725.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.91934%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:30</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. Why are haircuts and car repairs mentioned?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="3053" id="3053" disabled="">
                                <label for="3053">
                            <i class="icon icon_radio"></i>
                            A. They are being promoted
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3054" id="3054" disabled="">
                                <label for="3054">
                            <i class="icon icon_radio"></i>
                            B. They usually provide substandard service
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3055" id="3055" disabled="">
                                <label for="3055">
                            <i class="icon icon_radio"></i>
                            C. They are examples of a service
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3056" id="3056" disabled="">
                                <label for="3056">
                            <i class="icon icon_radio"></i>
                            D. They are being argued against
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. When can reasonable timing of the service be expected?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="3057" id="3057" disabled="">
                                <label for="3057">
                            <i class="icon icon_radio"></i>
                            A. when a time has to be worked out
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3058" id="3058" disabled="">
                                <label for="3058">
                            <i class="icon icon_radio"></i>
                            B. in the less complicated services
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3059" id="3059" disabled="">
                                <label for="3059">
                            <i class="icon icon_radio"></i>
                            C. when the place providing the service is not busy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3060" id="3060" disabled="">
                                <label for="3060">
                            <i class="icon icon_radio"></i>
                            D. in all cases
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. Why is a leaky roof mentioned?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="3061" id="3061" disabled="">
                                <label for="3061">
                            <i class="icon icon_radio"></i>
                            A. to illustrate unacceptable substandard service
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3062" id="3062" disabled="">
                                <label for="3062">
                            <i class="icon icon_radio"></i>
                            B. to demonstrate how often things go wrong in services
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3063" id="3063" disabled="">
                                <label for="3063">
                            <i class="icon icon_radio"></i>
                            C. to show that service will never be perfect
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3064" id="3064" disabled="">
                                <label for="3064">
                            <i class="icon icon_radio"></i>
                            D. to show that services often use low quality materials
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>