<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 83 - 85 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Every time you breathe in, your lungs take in oxygen - the food for your brain and body cells. This is absorbed into your blood. Your heart pumps the blood around your body, where the cells take up the oxygen and get rid of the
                            carbon dioxide and other waste products. The blood goes back via the heart to the lungs. In the lungs, blood gives up carbon dioxide (which you breathe out) and takes up more oxygen for the process to start again. Understanding
                            how our body works can help us protect ourselves from heart attacks and strokes. Today though, things are much better and heart attack and stroke victims can benefit from new medications and treatments unavailable to patients
                            in years past.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565947401.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.8676%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:20</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>83. What is considered as food for our brain?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="82" value="3065" id="3065" disabled="">
                                <label for="3065">
                            <i class="icon icon_radio"></i>
                            A. oxygen
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3066" id="3066" disabled="">
                                <label for="3066">
                            <i class="icon icon_radio"></i>
                            B. cells
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3067" id="3067" disabled="">
                                <label for="3067">
                            <i class="icon icon_radio"></i>
                            C. blood
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3068" id="3068" disabled="">
                                <label for="3068">
                            <i class="icon icon_radio"></i>
                            D. the food you take in
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>84. When is the lungs what does the blood give away?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="83" value="3069" id="3069" disabled="">
                                <label for="3069">
                            <i class="icon icon_radio"></i>
                            A. oxygen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3070" id="3070" disabled="">
                                <label for="3070">
                            <i class="icon icon_radio"></i>
                            B. carbon dioxide
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3071" id="3071" disabled="">
                                <label for="3071">
                            <i class="icon icon_radio"></i>
                            C. cells
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3072" id="3072" disabled="">
                                <label for="3072">
                            <i class="icon icon_radio"></i>
                            D. air
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>85. What is the purpose of this text?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="84" value="3073" id="3073" disabled="">
                                <label for="3073">
                            <i class="icon icon_radio"></i>
                            A. to help patients improve their lives
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3074" id="3074" disabled="">
                                <label for="3074">
                            <i class="icon icon_radio"></i>
                            B. to inform doctors on blood diseases
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3075" id="3075" disabled="">
                                <label for="3075">
                            <i class="icon icon_radio"></i>
                            C. to help people understand their blood system
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3076" id="3076" disabled="">
                                <label for="3076">
                            <i class="icon icon_radio"></i>
                            D. to inform parents about children's blood diseases
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>