<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Business names are no longer registered with any government departments. But there are laws about using certain names and disclosing certain details of ownership. Before 1982 many business names had to be registered under the Registration
                            of Business Names Act 1916. The act was then repealed when new rules on business names came into force. This law was replaced by the Business Names Act 1985. This allows the Secretary of State to have certain controls over
                            the name you choose for your business and what you must tell others about the ownership of the business. Some words and expressions are controlled by other laws. These rules protect the rights which per-sons may have in relation
                            to names or words.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565948172.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.76509%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:34</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. When was Registration of Business Names Act repealed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="3077" id="3077" disabled="">
                                <label for="3077">
                            <i class="icon icon_radio"></i>
                            A. 1916
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3078" id="3078" disabled="">
                                <label for="3078">
                            <i class="icon icon_radio"></i>
                            B. 1985
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3079" id="3079" disabled="">
                                <label for="3079">
                            <i class="icon icon_radio"></i>
                            C. 1982
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3080" id="3080" disabled="">
                                <label for="3080">
                            <i class="icon icon_radio"></i>
                            D. never
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. What does the Business Names Act allow?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="3081" id="3081" disabled="">
                                <label for="3081">
                            <i class="icon icon_radio"></i>
                            A. complete freedom in choosing a name for your business
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3082" id="3082" disabled="">
                                <label for="3082">
                            <i class="icon icon_radio"></i>
                            B. for the government to have some say in your business' name
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3083" id="3083" disabled="">
                                <label for="3083">
                            <i class="icon icon_radio"></i>
                            C. the right to not tell others the name of your business
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3084" id="3084" disabled="">
                                <label for="3084">
                            <i class="icon icon_radio"></i>
                            D. the business to choose its name without government consultation
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What is the main purpose of the mentioned rules?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="3085" id="3085" disabled="">
                                <label for="3085">
                            <i class="icon icon_radio"></i>
                            A. to maintain a variety of business names
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3086" id="3086" disabled="">
                                <label for="3086">
                            <i class="icon icon_radio"></i>
                            B. to ensure socially acceptable business names
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3087" id="3087" disabled="">
                                <label for="3087">
                            <i class="icon icon_radio"></i>
                            C. to keep the government involved in business life
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3088" id="3088" disabled="">
                                <label for="3088">
                            <i class="icon icon_radio"></i>
                            D. to protect people's ownership of names
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>