<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 89 - 91 refer to
    following conversation:</b>
</p>
<hr>
<form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                            <p><b>Transcript:</b></p>
    <div class="text-justify"><p>The very first modern Olympic Games opened in the first week of April 1896. Pole vaulting, sprints, shot put, weight lifting, swimming, cycling, target shooting, tennis, marathon and gymnastics were all events at the first Olympics. The swimming events were held in the Bay of Zea in the Aegean Sea. Gold medalist, Alfred Hoyos Guttmann described it: "I won ahead of the others with a big lead, but my greatest struggle was against the towering twelve-foot waves and the terribly cold water." Approximately 300 athletes participated, representing thirteen countries.</p></div>
    <p><b>Audio:</b></p>
    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565948562.mp3" type="audio/mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 8.26694%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">01:18</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                                                                                            <div class="answer">
                <p><b>89. What is NOT a mentioned event at the first modern Olympics?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="88" value="3089" id="3089" disabled="">
                        <label for="3089">
                            <i class="icon icon_radio"></i>
                            A. pole vaulting
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="88" value="3090" id="3090" disabled="">
                        <label for="3090">
                            <i class="icon icon_radio"></i>
                            B. tennis
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="88" value="3091" id="3091" disabled="">
                        <label for="3091">
                            <i class="icon icon_radio"></i>
                            C. soccer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="88" value="3092" id="3092" disabled="">
                        <label for="3092">
                            <i class="icon icon_radio"></i>
                            D. gymnastics
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>90. What was Alfred Hoyos Guttmann's biggest difficulty?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="89" value="3093" id="3093" disabled="">
                        <label for="3093">
                            <i class="icon icon_radio"></i>
                            A. coming in first
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="89" value="3094" id="3094" disabled="">
                        <label for="3094">
                            <i class="icon icon_radio"></i>
                            B. enduring the cold water
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="89" value="3095" id="3095" disabled="">
                        <label for="3095">
                            <i class="icon icon_radio"></i>
                            C. maintaining a big lead
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="89" value="3096" id="3096" disabled="">
                        <label for="3096">
                            <i class="icon icon_radio"></i>
                            D. swimming along with the current
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>91. How many individuals participated in the first modern Games?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="90" value="3097" id="3097" disabled="">
                        <label for="3097">
                            <i class="icon icon_radio"></i>
                            A. 13
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="90" value="3098" id="3098" disabled="">
                        <label for="3098">
                            <i class="icon icon_radio"></i>
                            B. less than 300
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="90" value="3099" id="3099" disabled="">
                        <label for="3099">
                            <i class="icon icon_radio"></i>
                            C. 300 exactly
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="90" value="3100" id="3100" disabled="">
                        <label for="3100">
                            <i class="icon icon_radio"></i>
                            D. around 300
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>