<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Our plane leaves at seven thirty tomorrow morning, so we will leave the house at six o'clock sharp in order to get there an hour before departure time. I know it's early, so be sure to set your alarm so you don't oversleep. It
                            is a 9-hour plane ride from New York to Greece. You have to remain seated during the trip, but there are many ways to entertain yourself. You could watch a movie, read a book, walk around or take a nap. Once the plane lands
                            in Greece, we will get our passports stamped. After that, we will get our luggage from the baggage claim and then catch a taxi and have it take us to Hotel Poseidon in Athens. </p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565948768.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.8365%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:15</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. What time do they need to arrive at the airport?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3101" id="3101" disabled="">
                                <label for="3101">
                            <i class="icon icon_radio"></i>
                            A. 7:30 sharp
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3102" id="3102" disabled="">
                                <label for="3102">
                            <i class="icon icon_radio"></i>
                            B. 6:30
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3103" id="3103" disabled="">
                                <label for="3103">
                            <i class="icon icon_radio"></i>
                            C. 6:00 sharp
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3104" id="3104" disabled="">
                                <label for="3104">
                            <i class="icon icon_radio"></i>
                            D. around 6:00
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. Which is NOT a mentioned way they can entertain themselves on the plane?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3105" id="3105" disabled="">
                                <label for="3105">
                            <i class="icon icon_radio"></i>
                            A. walk around
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3106" id="3106" disabled="">
                                <label for="3106">
                            <i class="icon icon_radio"></i>
                            B. take a snack
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3107" id="3107" disabled="">
                                <label for="3107">
                            <i class="icon icon_radio"></i>
                            C. read a book
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3108" id="3108" disabled="">
                                <label for="3108">
                            <i class="icon icon_radio"></i>
                            D. take a nap
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. What is the first thing they will do once they exit the plane?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3109" id="3109" disabled="">
                                <label for="3109">
                            <i class="icon icon_radio"></i>
                            A. get their luggage
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3110" id="3110" disabled="">
                                <label for="3110">
                            <i class="icon icon_radio"></i>
                            B. have their passports stamped
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3111" id="3111" disabled="">
                                <label for="3111">
                            <i class="icon icon_radio"></i>
                            C. catch a taxi
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3112" id="3112" disabled="">
                                <label for="3112">
                            <i class="icon icon_radio"></i>
                            D. go to the baggage claim area
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>