<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 95 - 97 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>All animals, but humans especially, adapt to their environments aided by learning. Through classical conditioning, we learn to anticipate events such as being fed or experiencing pain. Through operant conditioning, we learn to
                            repeat acts that bring desired results and avoid acts that bring punishment. Through observational learning, we learn from the experience and example of others. Observational learning, where behaviors are observed and imitated,
                            is a process found among higher animal groups such as humans. Modeling is the process of observing and imitating a specific behavior or action.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665795/1565949353.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.65743%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:26</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>95. How do we learn how to prepare for events such as pain?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="94" value="3113" id="3113" disabled="">
                                <label for="3113">
                            <i class="icon icon_radio"></i>
                            A. Operant Conditioning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3114" id="3114" disabled="">
                                <label for="3114">
                            <i class="icon icon_radio"></i>
                            B. Classical Conditioning
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3115" id="3115" disabled="">
                                <label for="3115">
                            <i class="icon icon_radio"></i>
                            C. Observational Learning
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3116" id="3116" disabled="">
                                <label for="3116">
                            <i class="icon icon_radio"></i>
                            D. Modeling
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>96. What do we learn to avoid through Operant Conditioning?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="95" value="3117" id="3117" disabled="">
                                <label for="3117">
                            <i class="icon icon_radio"></i>
                            A. repetition
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3118" id="3118" disabled="">
                                <label for="3118">
                            <i class="icon icon_radio"></i>
                            B. excessive anticipation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3119" id="3119" disabled="">
                                <label for="3119">
                            <i class="icon icon_radio"></i>
                            C. being mimicked
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3120" id="3120" disabled="">
                                <label for="3120">
                            <i class="icon icon_radio"></i>
                            D. unfavorable consequences
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>97. How are humans classified?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="96" value="3121" id="3121" disabled="">
                                <label for="3121">
                            <i class="icon icon_radio"></i>
                            A. as being in a higher group than animals
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3122" id="3122" disabled="">
                                <label for="3122">
                            <i class="icon icon_radio"></i>
                            B. as being non-imitative
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3123" id="3123" disabled="">
                                <label for="3123">
                            <i class="icon icon_radio"></i>
                            C. as a more sophisticated animal
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3124" id="3124" disabled="">
                                <label for="3124">
                            <i class="icon icon_radio"></i>
                            D. as immune to modeling
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>