<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 153 - 155 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>The Employee-of-the-Month Award </strong></p>

                <p style="text-align:justify">The Employee-of-the-Month Award is&nbsp;given for the "most outstanding contribution during the preceding month." The company awards these at the departmental level. We have eight depart-ments. Therefore, company-wide, there are eight
                    Employees-of-the-Month awardees. Each month, the Department Leader selects one person.&nbsp;</p>

                <p style="text-align:justify">Wouldn't you expect that, in a single department with about 25 staff members, at least a few of the employees would be selected as Employee-of-the-Month more than once each year? This hasn't yet happened. The Department Leaders seem to
                    have an informal rule that every employee will receive the award. Therefore, most of the staff will receive the free dinner on the average of once every two years.&nbsp;</p>

                <p style="text-align:justify">You may see my complaining as just fussing over nothing. However, innovation requires "out-starting' contributions. If&nbsp;the company focuses on keeping everyone happy, ignoring special efforts and special contributions, it ís&nbsp;likely
                    that the incentive to do something outstanding is going to diminish. Then, we certainly aren't going to be very competitive - no matter how many doors are closed&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=26" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>153. What is the writer's opinion on the Award?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="152" value="6353" id="6353" disabled="">
                                <label for="6353">
                            <i class="icon icon_radio"></i>
                            A. It is very generous
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6354" id="6354" disabled="">
                                <label for="6354">
                            <i class="icon icon_radio"></i>
                            B. It honors a lot of outstanding efforts
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6355" id="6355" disabled="">
                                <label for="6355">
                            <i class="icon icon_radio"></i>
                            C. It doesn't necessarily hold much value
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="152" value="6356" id="6356" disabled="">
                                <label for="6356">
                            <i class="icon icon_radio"></i>
                            D. It's to selective in it recipients
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>154. What does the writer complain about in the second paragraph?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="153" value="6357" id="6357" disabled="">
                                <label for="6357">
                            <i class="icon icon_radio"></i>
                            A. Only a few people from each department have received the award
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6358" id="6358" disabled="">
                                <label for="6358">
                            <i class="icon icon_radio"></i>
                            B. Some people haven't received the award
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6359" id="6359" disabled="">
                                <label for="6359">
                            <i class="icon icon_radio"></i>
                            C. The Department Leaders disobey their own rule
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="153" value="6360" id="6360" disabled="">
                                <label for="6360">
                            <i class="icon icon_radio"></i>
                            D. The Department Leaders distribute the award equally
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>155. According to the writer, what is the outcome of the award as it is now?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="154" value="6361" id="6361" disabled="">
                                <label for="6361">
                            <i class="icon icon_radio"></i>
                            A. It doesn't motivate people to work hard
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6362" id="6362" disabled="">
                                <label for="6362">
                            <i class="icon icon_radio"></i>
                            B. It makes people too competitive with one another
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6363" id="6363" disabled="">
                                <label for="6363">
                            <i class="icon icon_radio"></i>
                            C. It highlights special efforts and contributions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="154" value="6364" id="6364" disabled="">
                                <label for="6364">
                            <i class="icon icon_radio"></i>
                            D. It unites the company
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=26" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>