<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 193 - 195 refer to
    following paragraph:</b>
</p>
<hr>
<p style="text-align:center"><strong>Checking Account Information</strong></p>

<p style="text-align:justify">Your monthly bank statement is now updated and available for you to see online. Please click the link at the bottom of this page and you will be directed to the log-in page.&nbsp;Protect your identity and don't&nbsp;let anyone see your password. If you are making an electronic payment, follow the instructions located at the end or your statement. Should you choose to mail your payment, the address is located at the top of your statement page. Do not send cash. Payments received after 12:30 pm,&nbsp;or, on weekends or holidays may not be credited until the next&nbsp;businnes day.&nbsp;</p>

<p style="text-align:justify"><strong>Lost or Stolen Checking Cards</strong></p>

<p style="text-align:justify">If your card is lost or stolen in the United States call us immediately at 1-800-555-5432. Outside the U.S. contact our nearest office or call us collect. You are fully proteded against any fraudulent use of the card when you notify us immediately. Your maximum liability is $50 should you fail to report Ioss&nbsp;or theft.&nbsp;</p>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=36" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>193. What is written at the end of the bank statement?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="192" value="6513" id="6513" disabled="">
                        <label for="6513">
                            <i class="icon icon_radio"></i>
                            A. electronic payment instructions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="192" value="6514" id="6514" disabled="">
                        <label for="6514">
                            <i class="icon icon_radio"></i>
                            B. the link to the log-in page
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="192" value="6515" id="6515" disabled="">
                        <label for="6515">
                            <i class="icon icon_radio"></i>
                            C. the mailing address
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="192" value="6516" id="6516" disabled="">
                        <label for="6516">
                            <i class="icon icon_radio"></i>
                            D. your password
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>194. Which payment will be credited on the same business day?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="193" value="6517" id="6517" disabled="">
                        <label for="6517">
                            <i class="icon icon_radio"></i>
                            A. a payment made on Christmas day
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="193" value="6518" id="6518" disabled="">
                        <label for="6518">
                            <i class="icon icon_radio"></i>
                            B. a payment on Wednesday at 2:30 PM
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="193" value="6519" id="6519" disabled="">
                        <label for="6519">
                            <i class="icon icon_radio"></i>
                            C. a payment made on Saturday
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="193" value="6520" id="6520" disabled="">
                        <label for="6520">
                            <i class="icon icon_radio"></i>
                            D. a payment made on Friday at 11:15 AM
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>195. Why would someone be charged $50?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="194" value="6521" id="6521" disabled="">
                        <label for="6521">
                            <i class="icon icon_radio"></i>
                            A. for stealing a card
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="194" value="6522" id="6522" disabled="">
                        <label for="6522">
                            <i class="icon icon_radio"></i>
                            B. for sending cash
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="194" value="6523" id="6523" disabled="">
                        <label for="6523">
                            <i class="icon icon_radio"></i>
                            C. for fraudulently using a card
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="194" value="6524" id="6524" disabled="">
                        <label for="6524">
                            <i class="icon icon_radio"></i>
                            D. for failing to report a lost card
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=36" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>