<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                            <p class="text-justify">
<b>Question 196 - 200 refer to
    following paragraph:</b>
</p>
<hr>
<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
<tr>
<td>
<p style="margin-left:10px; margin-right:10px; text-align:center"><strong>LETTER OF RESIGNATION</strong></p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">When writing a letter of resignation, it's important to keep your resignation letter as simple, brief, and focused as possible. It should also be positive. Once you have made the decision to move on, there's no point in criticizing your employer or your job. Your letter of resignation should include information on when you are leaving. You can also let the employer know you appreciate your time with the company. When you're not sure what to write, review resignnation letter samples to get some ideas. Here is a letter submitted a few years ago. The names have been changed to protect the individual's privacy</p>
</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
<tr>
<td>
<p style="margin-left:10px; margin-right:10px"><strong>September 1<br>
Kenneth Gomez<br>
Supervisor<br>
Anderson Inc<br>
418 W. Corporate Drive<br>
Madison, WI 5432</strong></p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Dear Mr. Gomez,</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Please accept this letter as formal notification that I am leaving my position with Anderson Inc. in exactly two weeks from today.</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Thank you for the opportunities you have provided me during my time with the company</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">If I can be of any assistance during this transition, please let me know. I would be happy to meet with you tomorrow if you should so desire</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Sincerely,</p>

<p style="margin-left:10px; margin-right:10px; text-align:justify">Jonathan Hughes</p>
</td>
</tr>
</tbody>
</table>
<form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=37" method="post">
<input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                                                                                                        <div class="answer">
                <p><b>196. What is NOT a quality that a resignation letter must possess?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="195" value="6525" id="6525" disabled="">
                        <label for="6525">
                            <i class="icon icon_radio"></i>
                            A. being optimistic
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="195" value="6526" id="6526" disabled="">
                        <label for="6526">
                            <i class="icon icon_radio"></i>
                            B. being straightforward
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="195" value="6527" id="6527" disabled="">
                        <label for="6527">
                            <i class="icon icon_radio"></i>
                            C. being short
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="195" value="6528" id="6528" disabled="">
                        <label for="6528">
                            <i class="icon icon_radio"></i>
                            D. being elaborate
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>197. What piece of useful information is given?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="196" value="6529" id="6529" disabled="">
                        <label for="6529">
                            <i class="icon icon_radio"></i>
                            A. Bosses react poorly to criticism
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="196" value="6530" id="6530" disabled="">
                        <label for="6530">
                            <i class="icon icon_radio"></i>
                            B. Disparaging remarks have no helpful purpose
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="196" value="6531" id="6531" disabled="">
                        <label for="6531">
                            <i class="icon icon_radio"></i>
                            C. You should include information on why you are leaving
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="196" value="6532" id="6532" disabled="">
                        <label for="6532">
                            <i class="icon icon_radio"></i>
                            D. You should move out of the office as a quickly as possible
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>198. When will Jonathan Hughes no longer be an employee at Anderson Inc.?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="197" value="6533" id="6533" disabled="">
                        <label for="6533">
                            <i class="icon icon_radio"></i>
                            A. September 1
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="197" value="6534" id="6534" disabled="">
                        <label for="6534">
                            <i class="icon icon_radio"></i>
                            B. September 3
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="197" value="6535" id="6535" disabled="">
                        <label for="6535">
                            <i class="icon icon_radio"></i>
                            C. September 13
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="197" value="6536" id="6536" disabled="">
                        <label for="6536">
                            <i class="icon icon_radio"></i>
                            D. September 15
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>199. What should you do if you are not sure what to write?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="198" value="6537" id="6537" disabled="">
                        <label for="6537">
                            <i class="icon icon_radio"></i>
                            A. ask your current employer
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="198" value="6538" id="6538" disabled="">
                        <label for="6538">
                            <i class="icon icon_radio"></i>
                            B. copy a resignation letter sample
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="198" value="6539" id="6539" disabled="">
                        <label for="6539">
                            <i class="icon icon_radio"></i>
                            C. model a similar letter
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="198" value="6540" id="6540" disabled="">
                        <label for="6540">
                            <i class="icon icon_radio"></i>
                            D. focus on the positive aspect of the job
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                                                                                                <div class="answer">
                <p><b>200. Who actually wrote the sample letter?</b></p>
                <ul class="answer-list">
                    <li>
                        <input type="radio" name="199" value="6541" id="6541" disabled="">
                        <label for="6541">
                            <i class="icon icon_radio"></i>
                            A. someone whose name cannot be revealed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="199" value="6542" id="6542" disabled="">
                        <label for="6542">
                            <i class="icon icon_radio"></i>
                            B. Jonathan Hughes
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="199" value="6543" id="6543" disabled="">
                        <label for="6543">
                            <i class="icon icon_radio"></i>
                            C. Kenneth Gomez
                                                                                                        </label>
                    </li>
                    <li>
                        <input type="radio" name="199" value="6544" id="6544" disabled="">
                        <label for="6544">
                            <i class="icon icon_radio"></i>
                            D. the same person who wrote the first text
                                                                                                        </label>
                    </li>
                </ul>
            </div>
                                        <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=37" class="mc-btn btn-style-6">Next</a>
        </form>
                </div>
        </div>
    </div>
</div>