<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 156 - 159 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p><strong>December 12<br>
Mr. Robert Burns<br>
President, Template Division<br>
MEGATEK Corporation<br>
9845 Technical Way<br>
Arlington, VA 22207<br>
burns@megatelscom&nbsp;</strong></p>

                <p style="text-align:justify">Dear Mr. Burns,&nbsp;</p>

                <p style="text-align:justify">I learned of MEGATEK through onine research using the CareerSearch database through Career Services at the University of Michigan where I am completing my Master's degree in Mechanical Engineering. From my research on your website, I believe
                    there would be a good it between my skills and interests and your reeds. I am interested in a software engineering position upon completion of my degree next May.&nbsp;</p>

                <p style="text-align:justify">As a graduate student I am one of six members on a software development team which is writing a computer aided aircraft design program for NASA. My&nbsp;responsibilities include designing, coding and testing of a graphical portion of the
                    program which requires the use of GIARO for graphics input and output. I have a strong background in computer aided design, software development and engineering and I believe that these skills would benefit the design and manufacturing
                    aspects of Template software.&nbsp;</p>

                <p style="text-align:justify">All of the above make me well suited to the project areas in which your dviision of MEGATEK is expanding efforts. I would appreciate the opportunity to discuss a position with you, and may contact you by phone in a week or ten days to
                    answer any questions you may have and to see if you need any other information from me, such as a company application form or transcripts. Thank you for your consideration.&nbsp;</p>

                <p style="text-align:justify">Sincerely,<br> William Stevens<br> 123 Ascot Lane<br> Ann Arbor, MI 24060<br> (540) 555-2556<br> WStevens@umn.edu&nbsp;
                </p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=27" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>156. What kind of letter is this?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="155" value="6365" id="6365" disabled="">
                                <label for="6365">
                            <i class="icon icon_radio"></i>
                            A. acceptance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6366" id="6366" disabled="">
                                <label for="6366">
                            <i class="icon icon_radio"></i>
                            B. inquiry
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6367" id="6367" disabled="">
                                <label for="6367">
                            <i class="icon icon_radio"></i>
                            C. application
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="155" value="6368" id="6368" disabled="">
                                <label for="6368">
                            <i class="icon icon_radio"></i>
                            D. rejection
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>157. How did William Stevens find out about MEGATEK?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="156" value="6369" id="6369" disabled="">
                                <label for="6369">
                            <i class="icon icon_radio"></i>
                            A. the internet
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6370" id="6370" disabled="">
                                <label for="6370">
                            <i class="icon icon_radio"></i>
                            B. the CareerSearch counselor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6371" id="6371" disabled="">
                                <label for="6371">
                            <i class="icon icon_radio"></i>
                            C. one of his group members
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="156" value="6372" id="6372" disabled="">
                                <label for="6372">
                            <i class="icon icon_radio"></i>
                            D. a career book
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>158. What is the purpose of the second paragraph?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="157" value="6373" id="6373" disabled="">
                                <label for="6373">
                            <i class="icon icon_radio"></i>
                            A. to outline his qualifications
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6374" id="6374" disabled="">
                                <label for="6374">
                            <i class="icon icon_radio"></i>
                            B. to brag about his accomplishments
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6375" id="6375" disabled="">
                                <label for="6375">
                            <i class="icon icon_radio"></i>
                            C. to describe his interests
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="157" value="6376" id="6376" disabled="">
                                <label for="6376">
                            <i class="icon icon_radio"></i>
                            D. to express his desire for an interview
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>159. What will William Stevens do next?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="158" value="6377" id="6377" disabled="">
                                <label for="6377">
                            <i class="icon icon_radio"></i>
                            A. have an interview with the company
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6378" id="6378" disabled="">
                                <label for="6378">
                            <i class="icon icon_radio"></i>
                            B. discuss the possibilities with Mr. Burns
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6379" id="6379" disabled="">
                                <label for="6379">
                            <i class="icon icon_radio"></i>
                            C. call Mr. Burns to answer questions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="158" value="6380" id="6380" disabled="">
                                <label for="6380">
                            <i class="icon icon_radio"></i>
                            D. mail his transcript
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=27" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>