<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 160 - 163 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Saludos Hispanos </strong></p>

                <p style="text-align:justify"><em>Saludas Hispanos Magazine</em> is a bilingual career and education publication dedicated to encouraging Hispanic youth to strive for excellence in both career and academic pursuits. Our publication is distributed to Colleges and Universities
                    nationwide. <em>Saludos Hspanos</em> can also be found in the offices of state, county and city officials; state boards of education;&nbsp;career placement centers and other organizations who champion the causes of workplace diversity,
                    Hispanic recruitment and supplier diversity.</p>

                <p style="text-align:justify">Each beautifully designed issue of <em>Saludos Hispanos</em> offers inspirational role models, valuable career information, informative college and university profiles, as well as contemporary articles about art, music, self-development,
                    community affairs and cultural pride. Our factual, up-to-date information about educational programs and career opportunities assists our readers in opening the doors to success.</p>

                <p style="text-align:justify">Our in-depth career profiles provide students with the information they need to procure the career of their dreams. Our business to business section highlights the exciting possibilities of owning your own business and gives you the opportunity
                    to connect with top public and private organizations that want to do business with YOU! Our mission in producing <em>Saludos Hípanos</em>&nbsp;<em>Magazine</em> is to educate, motivate and inspire young people to stay in school, pursue
                    career goals and be the best they can be&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=28" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>160. Who is the target demographic of Saludos Hispanos Magazine?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="159" value="6381" id="6381" disabled="">
                                <label for="6381">
                            <i class="icon icon_radio"></i>
                            A. College and University
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6382" id="6382" disabled="">
                                <label for="6382">
                            <i class="icon icon_radio"></i>
                            B. retired Hispanics
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6383" id="6383" disabled="">
                                <label for="6383">
                            <i class="icon icon_radio"></i>
                            C. young Hispanics
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="159" value="6384" id="6384" disabled="">
                                <label for="6384">
                            <i class="icon icon_radio"></i>
                            D. bilingual Employee Recruiters
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>161. Where is Waludos Hispanos Magazine NOT distributed?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="160" value="6385" id="6385" disabled="">
                                <label for="6385">
                            <i class="icon icon_radio"></i>
                            A. governmental offices
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6386" id="6386" disabled="">
                                <label for="6386">
                            <i class="icon icon_radio"></i>
                            B. troubled youth rehabilitation centers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6387" id="6387" disabled="">
                                <label for="6387">
                            <i class="icon icon_radio"></i>
                            C. organizations that hire from a variety of backgrounds
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="160" value="6388" id="6388" disabled="">
                                <label for="6388">
                            <i class="icon icon_radio"></i>
                            D. job guidance centers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>162. What does the information in the magazine do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="161" value="6389" id="6389" disabled="">
                                <label for="6389">
                            <i class="icon icon_radio"></i>
                            A. helps the readers find cultural identity
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6390" id="6390" disabled="">
                                <label for="6390">
                            <i class="icon icon_radio"></i>
                            B. encourages readers to become role models
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6391" id="6391" disabled="">
                                <label for="6391">
                            <i class="icon icon_radio"></i>
                            C. schedules meetings and interviews with colleges
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="161" value="6392" id="6392" disabled="">
                                <label for="6392">
                            <i class="icon icon_radio"></i>
                            D. helps the readers create opportunities to do well in life
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>163. What is NOT something Saludos Hispanos aims to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="162" value="6393" id="6393" disabled="">
                                <label for="6393">
                            <i class="icon icon_radio"></i>
                            A. draw attention to business opportunities
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6394" id="6394" disabled="">
                                <label for="6394">
                            <i class="icon icon_radio"></i>
                            B. push people to continue with their studies
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6395" id="6395" disabled="">
                                <label for="6395">
                            <i class="icon icon_radio"></i>
                            C. encourage people to reach their potential
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="162" value="6396" id="6396" disabled="">
                                <label for="6396">
                            <i class="icon icon_radio"></i>
                            D. place people in the career of their dreams
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=28" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>