<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 168 - 172 refer to
    following paragraph:</b>
                </p>
                <hr>
                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">If you're a mother who is an employee, you have the statutory right to a minimum amount of maternity leave. Your employer may also offer their own maternity leave scheme.&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">The basics of maternity leave:&nbsp;</p>

                                <ul>
                                    <li style="margin-left: 10px; margin-right: 10px; text-align: justify;">Statutory maternity leave is for 52 weeks (if&nbsp;the week your baby is expected to be born starts before 1st April, it is for 26 weeks, with an extra 26 weeks if you meet certain conditions).</li>
                                    <li style="margin-left: 10px; margin-right: 10px; text-align: justify;">You may be entitled to receive Statutory Maternity Pay for up to 39 weeks of the leave.</li>
                                    <li style="margin-left: 10px; margin-right: 10px; text-align: justify;">You get personalized help on what you may qualify for by using the Tailored Interactive Guidance on Employment Rights (TIGER)&nbsp;tool. The tool will produce a personalized statement of the maternity leave and pay
                                        what you may qualify for, along with an interactive calendar to help you plan your leave.&nbsp;</li>
                                </ul>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify"><strong>Company schemes</strong></p>

                                <ul>
                                    <li style="margin-left: 10px; margin-right: 10px; text-align: justify;">Your employer may have their own scheme which could he more generous than the statutory scheme. Check your contract of employment or staff handbook for details or ask your employer. Your employer can't offer you less
                                        than the statutory scheme.&nbsp;</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Katie,<br> Congratulations on the great news! You&nbsp;must be so excited! I wanted to send&nbsp;you this information and some links I'm not sure how it is at your office, but I had a few misunderstanding with my boss regarding
                                    my own maternity leave last year.<br> Make sure to go over all these things with your boss. Don't&nbsp;be shy; you are entitled to all of them<br> Ok, I'II see you tomorrow at Mom and Dad's&nbsp;</p>

                                <p style="margin-left:10px; margin-right:10px; text-align:justify">Stephanie&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=30" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>168. What is the great news?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="167" value="6413" id="6413" disabled="">
                                <label for="6413">
                            <i class="icon icon_radio"></i>
                            A. Katie got a new job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6414" id="6414" disabled="">
                                <label for="6414">
                            <i class="icon icon_radio"></i>
                            B. Stephanie is pregnant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6415" id="6415" disabled="">
                                <label for="6415">
                            <i class="icon icon_radio"></i>
                            C. Katie is pregnant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="167" value="6416" id="6416" disabled="">
                                <label for="6416">
                            <i class="icon icon_radio"></i>
                            D. Stephanie got a new job
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>169. What is the relationship between Katie and Stephanie?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="168" value="6417" id="6417" disabled="">
                                <label for="6417">
                            <i class="icon icon_radio"></i>
                            A. boss and employee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6418" id="6418" disabled="">
                                <label for="6418">
                            <i class="icon icon_radio"></i>
                            B. co-workers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6419" id="6419" disabled="">
                                <label for="6419">
                            <i class="icon icon_radio"></i>
                            C. siblings
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="168" value="6420" id="6420" disabled="">
                                <label for="6420">
                            <i class="icon icon_radio"></i>
                            D. lawyer and client
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>170. What are the bulleted points?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="169" value="6421" id="6421" disabled="">
                                <label for="6421">
                            <i class="icon icon_radio"></i>
                            A. the ideal maternity leave plan
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6422" id="6422" disabled="">
                                <label for="6422">
                            <i class="icon icon_radio"></i>
                            B. a mock maternity leave plan
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6423" id="6423" disabled="">
                                <label for="6423">
                            <i class="icon icon_radio"></i>
                            C. the basic rights for maternity leave
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="169" value="6424" id="6424" disabled="">
                                <label for="6424">
                            <i class="icon icon_radio"></i>
                            D. someone's request for maternity leave
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>171. For how long can be paid during your leave?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="170" value="6425" id="6425" disabled="">
                                <label for="6425">
                            <i class="icon icon_radio"></i>
                            A. at least 52 weeks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6426" id="6426" disabled="">
                                <label for="6426">
                            <i class="icon icon_radio"></i>
                            B. no more than 26 weeks
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6427" id="6427" disabled="">
                                <label for="6427">
                            <i class="icon icon_radio"></i>
                            C. no payment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="170" value="6428" id="6428" disabled="">
                                <label for="6428">
                            <i class="icon icon_radio"></i>
                            D. no more than 39 weeks
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>172. What is the purpose of the last bullet?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="171" value="6429" id="6429" disabled="">
                                <label for="6429">
                            <i class="icon icon_radio"></i>
                            A. to check that at least you get the minimum amount of maternity leave
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6430" id="6430" disabled="">
                                <label for="6430">
                            <i class="icon icon_radio"></i>
                            B. to warn you that your boss may try to deny your rights
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6431" id="6431" disabled="">
                                <label for="6431">
                            <i class="icon icon_radio"></i>
                            C. to say that the previously outlined plan is a bit generous
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="171" value="6432" id="6432" disabled="">
                                <label for="6432">
                            <i class="icon icon_radio"></i>
                            D. to say that the previously outlined plan is the maximum offered
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=30" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>