<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 173 - 175 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>Southdale Center&nbsp;</strong></p>

                <p style="text-align:justify">A visit to Columbus wouldn't be complete without a stop at Southdale Center, the city's newest and most elegant shopping center.&nbsp;</p>

                <p style="text-align:justify">Easily accessible by the city's train, them is also a ten-story parking garage.</p>

                <p style="text-align:justify">The mall includes three floors of shopping, featuring the most exclusive retail shops in the country. Our twelve-screen movie theater is located on the top floor. We also have ten outstanding restaurants to choose from spread throughout
                    the mall.&nbsp;</p>

                <p style="text-align:justify">The mall is open Monday through Saturday 9 AM to 11 PM.<br> Sundays from 11 AM to 6 PM&nbsp;</p>

                <p style="text-align:justify">Children under the age of 18 must be accompanied by an adult.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=31" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>173. What is Southdale Center?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="172" value="6433" id="6433" disabled="">
                                <label for="6433">
                            <i class="icon icon_radio"></i>
                            A. a movie theater
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6434" id="6434" disabled="">
                                <label for="6434">
                            <i class="icon icon_radio"></i>
                            B. a restaurant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6435" id="6435" disabled="">
                                <label for="6435">
                            <i class="icon icon_radio"></i>
                            C. a mall
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="172" value="6436" id="6436" disabled="">
                                <label for="6436">
                            <i class="icon icon_radio"></i>
                            D. a hardware shop
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>174. How many movies could possibly be showing</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="173" value="6437" id="6437" disabled="">
                                <label for="6437">
                            <i class="icon icon_radio"></i>
                            A. 6
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6438" id="6438" disabled="">
                                <label for="6438">
                            <i class="icon icon_radio"></i>
                            B. 10
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6439" id="6439" disabled="">
                                <label for="6439">
                            <i class="icon icon_radio"></i>
                            C. 12
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="173" value="6440" id="6440" disabled="">
                                <label for="6440">
                            <i class="icon icon_radio"></i>
                            D. 18
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>175. On which day does Southdale Center close early?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="174" value="6441" id="6441" disabled="">
                                <label for="6441">
                            <i class="icon icon_radio"></i>
                            A. Tuesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6442" id="6442" disabled="">
                                <label for="6442">
                            <i class="icon icon_radio"></i>
                            B. Sunday
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6443" id="6443" disabled="">
                                <label for="6443">
                            <i class="icon icon_radio"></i>
                            C. Friday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="174" value="6444" id="6444" disabled="">
                                <label for="6444">
                            <i class="icon icon_radio"></i>
                            D. Saturday
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=31" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>