<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 176 - 178 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>The Children's Science Museum&nbsp;</strong></p>

                <p style="text-align:justify">The Children's Science Museum is designed for young people to experience science at work. Visitors are encouraged to use, test, and handle the objects on display. With its modern look catered to the new generation, children may feel like
                    they are at a futuristic playground.</p>

                <p style="text-align:justify">Special demonstrations are scheduled for the first and second Wednesday of each month at 1:30 PM</p>

                <p style="text-align:justify">Open Tuesday through Friday, 2:30-4:30 PM, Saturday 11 AM-4:30 PM and Sunday 1-4:30.</p>

                <p style="text-align:justify">Guaranteed fun&nbsp;(and learning) for the whole family.&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=32" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>176. In what way is the museum tailored for its target population?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="175" value="6445" id="6445" disabled="">
                                <label for="6445">
                            <i class="icon icon_radio"></i>
                            A. It makes learning fun
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6446" id="6446" disabled="">
                                <label for="6446">
                            <i class="icon icon_radio"></i>
                            B. It has a playground in the building
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6447" id="6447" disabled="">
                                <label for="6447">
                            <i class="icon icon_radio"></i>
                            C. It only focuses on modern scientific innovations
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="175" value="6448" id="6448" disabled="">
                                <label for="6448">
                            <i class="icon icon_radio"></i>
                            D. It has demonstrations for adults
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>177. What is encouraged?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="176" value="6449" id="6449" disabled="">
                                <label for="6449">
                            <i class="icon icon_radio"></i>
                            A. caution
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6450" id="6450" disabled="">
                                <label for="6450">
                            <i class="icon icon_radio"></i>
                            B. an open mind
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6451" id="6451" disabled="">
                                <label for="6451">
                            <i class="icon icon_radio"></i>
                            C. suggestions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="176" value="6452" id="6452" disabled="">
                                <label for="6452">
                            <i class="icon icon_radio"></i>
                            D. participation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>178. When, during the month, can visitors see special demonstrations?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="177" value="6453" id="6453" disabled="">
                                <label for="6453">
                            <i class="icon icon_radio"></i>
                            A. the first two Wednesdays
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6454" id="6454" disabled="">
                                <label for="6454">
                            <i class="icon icon_radio"></i>
                            B. three days a week
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6455" id="6455" disabled="">
                                <label for="6455">
                            <i class="icon icon_radio"></i>
                            C. every other Wednesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="177" value="6456" id="6456" disabled="">
                                <label for="6456">
                            <i class="icon icon_radio"></i>
                            D. the last Wednesday of every month
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=32" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>