<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 184 - 187 refer to
    following paragraph:</b>
                </p>
                <hr>
                <p style="text-align:center"><strong>The Star Tribune's TODAY'S MARKET&nbsp;</strong></p>

                <p style="text-align:justify">The Star Tribune's&nbsp;TODAY'S&nbsp;MARKET regularly features&nbsp;two pages of classified advertisements for:</p>

                <p style="text-align:justify"><strong>Monday:</strong> Business Opportunities, Franchises, Commercial Real Estate, Telecommunications, Automotive, Entertainment&nbsp;</p>

                <p style="text-align:justify"><strong>Wednesday: </strong>Arts, Friendship, Petsitters, Nannies and Domestics</p>

                <p style="text-align:justify"><strong>Friday:</strong> Recruitment,&nbsp;Education, Administrational, Internet Services</p>

                <p style="text-align:justify"><strong>Saturday:</strong> Vacations, Travel, Residential Real Estate, Dining</p>

                <p style="text-align:justify">Questions? Call, fax, or email Vicky Nelson at (953) 555-5675, vnel@strib.com&nbsp;</p>
                <form action="https://toeic24.vn/exam/submit?part=7&amp;questionGroupNum=34" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <div class="answer">
                        <p><b>184. What is the Star Tribune?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="183" value="6477" id="6477" disabled="">
                                <label for="6477">
                            <i class="icon icon_radio"></i>
                            A. a traveler's guide
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6478" id="6478" disabled="">
                                <label for="6478">
                            <i class="icon icon_radio"></i>
                            B. an open market
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6479" id="6479" disabled="">
                                <label for="6479">
                            <i class="icon icon_radio"></i>
                            C. a telephone directory
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="183" value="6480" id="6480" disabled="">
                                <label for="6480">
                            <i class="icon icon_radio"></i>
                            D. a newspaper
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>185. On which day of the week would someone look for a child caretaker?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="184" value="6481" id="6481" disabled="">
                                <label for="6481">
                            <i class="icon icon_radio"></i>
                            A. Monday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6482" id="6482" disabled="">
                                <label for="6482">
                            <i class="icon icon_radio"></i>
                            B. Wednesday
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6483" id="6483" disabled="">
                                <label for="6483">
                            <i class="icon icon_radio"></i>
                            C. Friday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="184" value="6484" id="6484" disabled="">
                                <label for="6484">
                            <i class="icon icon_radio"></i>
                            D. Saturday
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>186. On which day of the week would someone look for airline tickets?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="185" value="6485" id="6485" disabled="">
                                <label for="6485">
                            <i class="icon icon_radio"></i>
                            A. Monday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6486" id="6486" disabled="">
                                <label for="6486">
                            <i class="icon icon_radio"></i>
                            B. Wednesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6487" id="6487" disabled="">
                                <label for="6487">
                            <i class="icon icon_radio"></i>
                            C. Friday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="185" value="6488" id="6488" disabled="">
                                <label for="6488">
                            <i class="icon icon_radio"></i>
                            D. Saturday
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>187. Which is NOT mentioned as a way to contact Vicky Nelson?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="186" value="6489" id="6489" disabled="">
                                <label for="6489">
                            <i class="icon icon_radio"></i>
                            A. by the Internet
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6490" id="6490" disabled="">
                                <label for="6490">
                            <i class="icon icon_radio"></i>
                            B. by letter
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6491" id="6491" disabled="">
                                <label for="6491">
                            <i class="icon icon_radio"></i>
                            C. by telephone
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="186" value="6492" id="6492" disabled="">
                                <label for="6492">
                            <i class="icon icon_radio"></i>
                            D. by fax
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=7&amp;questionGroupNum=34" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>