<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 71 - 73 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=12" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>I was asked to speak to you future entrepreneurs about choosing a location for your business. I guess I would start out by suggesting that you find out if local zoning laws permit your kind of business at the site that you desire.
                            It's also important to determine if there's adequate, affordable transportation. Can your employees get to work? Remember to consider the surrounding community. If you're a high-end retailer, for example, are there sufficient
                            high-income households nearby to support your business? And lastly, look at the other businesses in the area. Decide whether or not having direct competitors will be helpful.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566006236.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.64942%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:15</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>71. What do all people listening to the speech have in common?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="70" value="3137" id="3137" disabled="">
                                <label for="3137">
                            <i class="icon icon_radio"></i>
                            A. They all want to start their own business
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3138" id="3138" disabled="">
                                <label for="3138">
                            <i class="icon icon_radio"></i>
                            B. They are all employed by the speaker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3139" id="3139" disabled="">
                                <label for="3139">
                            <i class="icon icon_radio"></i>
                            C. They own businesses in the community
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="70" value="3140" id="3140" disabled="">
                                <label for="3140">
                            <i class="icon icon_radio"></i>
                            D. They are all high-end retailers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>72. Why is it important to ensure there's good transportation?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="71" value="3141" id="3141" disabled="">
                                <label for="3141">
                            <i class="icon icon_radio"></i>
                            A. So your customers ca arrive effortlessly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3142" id="3142" disabled="">
                                <label for="3142">
                            <i class="icon icon_radio"></i>
                            B. So it's not just high-income customers who come
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3143" id="3143" disabled="">
                                <label for="3143">
                            <i class="icon icon_radio"></i>
                            C. So your employees have a means of getting to their jobs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="71" value="3144" id="3144" disabled="">
                                <label for="3144">
                            <i class="icon icon_radio"></i>
                            D. So you don't have to only hire from the surrounding community
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>73. Why are high-income houses in the neighborhood important?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="72" value="3145" id="3145" disabled="">
                                <label for="3145">
                            <i class="icon icon_radio"></i>
                            A. They prevent interference of direct competitors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3146" id="3146" disabled="">
                                <label for="3146">
                            <i class="icon icon_radio"></i>
                            B. They have enough money to sustain the business
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3147" id="3147" disabled="">
                                <label for="3147">
                            <i class="icon icon_radio"></i>
                            C. They do not have problems with transportation
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="72" value="3148" id="3148" disabled="">
                                <label for="3148">
                            <i class="icon icon_radio"></i>
                            D. They adhere to local zoning laws
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=12" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>