<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 74 - 76 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=13" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good evening, Twin Cities. This is Paul Douglas with the national weather update. The forecast is shaping up, and the southerners can expect a mild and calm week ahead. That is great news to many in Oklahoma where thousands are
                            still without power because of a crippling ice storm that passed through over a week ago. It seems that if you want to find snow this winter you actually have to head south instead of north. The storm brushed the Twin Cities,
                            most of the Metro ended up with about a half an inch to an inch of new snow. We can expect plenty of sunshine this afternoon. Your drive home from work could be slowed by a little light snow. This fast moving clipper will be
                            out of here by Wednesday morning and the rest of the workweek is looking dry.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566007050.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.34058%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:18</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>74. What happened in Oklahoma?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="73" value="3149" id="3149" disabled="">
                                <label for="3149">
                            <i class="icon icon_radio"></i>
                            A. The weather was surprisingly mild and calm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3150" id="3150" disabled="">
                                <label for="3150">
                            <i class="icon icon_radio"></i>
                            B. Many people were crippled by a dangerous storm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3151" id="3151" disabled="">
                                <label for="3151">
                            <i class="icon icon_radio"></i>
                            C. People were trapped in their homes due to a heavy snow storm
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="73" value="3152" id="3152" disabled="">
                                <label for="3152">
                            <i class="icon icon_radio"></i>
                            D. People were without electricity
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>75. Where should you go if you want to see snow?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="74" value="3153" id="3153" disabled="">
                                <label for="3153">
                            <i class="icon icon_radio"></i>
                            A. North
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3154" id="3154" disabled="">
                                <label for="3154">
                            <i class="icon icon_radio"></i>
                            B. South
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3155" id="3155" disabled="">
                                <label for="3155">
                            <i class="icon icon_radio"></i>
                            C. East
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="74" value="3156" id="3156" disabled="">
                                <label for="3156">
                            <i class="icon icon_radio"></i>
                            D. West
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>76. What will the local weather be like in a few days?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="75" value="3157" id="3157" disabled="">
                                <label for="3157">
                            <i class="icon icon_radio"></i>
                            A. It will be without precipitation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3158" id="3158" disabled="">
                                <label for="3158">
                            <i class="icon icon_radio"></i>
                            B. It will be cloudy
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3159" id="3159" disabled="">
                                <label for="3159">
                            <i class="icon icon_radio"></i>
                            C. There will be light snow
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="75" value="3160" id="3160" disabled="">
                                <label for="3160">
                            <i class="icon icon_radio"></i>
                            D. A clipper will be moving in
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=13" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>