<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 77 - 79 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=14" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>I appreciate your president having made me an honorary visiting professor, and I assure you that my first lecture will be very brief. I am delighted to be here and I'm particularly delighted to be here on this occasion. The space
                            effort has already created a great number of new companies, and tens of thousands of new jobs. Space and related industries are generating new demands in investment and skilled personnel, and this city and this state, and this
                            region, will share greatly in this growth. What was once the furthest outpost on the old frontier of the West will be the furthest outpost on the new frontier of science and space. Houston, your city of Houston, with its Manned
                            Spacecraft Center, will become the heart of a large scientific and engineering community.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566007474.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 6.97707%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:30</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>77. What does the speaker guarantee to the listeners?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="76" value="3161" id="3161" disabled="">
                                <label for="3161">
                            <i class="icon icon_radio"></i>
                            A. His speech will be interesting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3162" id="3162" disabled="">
                                <label for="3162">
                            <i class="icon icon_radio"></i>
                            B. He will not talk very long
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3163" id="3163" disabled="">
                                <label for="3163">
                            <i class="icon icon_radio"></i>
                            C. He will delight them with the news he has
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="76" value="3164" id="3164" disabled="">
                                <label for="3164">
                            <i class="icon icon_radio"></i>
                            D. Working on the spacecraft center will take effort
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>78. What has their work already accomplished?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="77" value="3165" id="3165" disabled="">
                                <label for="3165">
                            <i class="icon icon_radio"></i>
                            A. It's become the furthest outpost on the new frontier of science and space
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3166" id="3166" disabled="">
                                <label for="3166">
                            <i class="icon icon_radio"></i>
                            B. It became the largest scientific and engineering community
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3167" id="3167" disabled="">
                                <label for="3167">
                            <i class="icon icon_radio"></i>
                            C. It has joined forces with a lot of major companies
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="77" value="3168" id="3168" disabled="">
                                <label for="3168">
                            <i class="icon icon_radio"></i>
                            D. It has generated new positions in the field
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>79. What will happen to Houston?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="78" value="3169" id="3169" disabled="">
                                <label for="3169">
                            <i class="icon icon_radio"></i>
                            A. It will be play a vital role in the space effort
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3170" id="3170" disabled="">
                                <label for="3170">
                            <i class="icon icon_radio"></i>
                            B. It will be home to the largest scientific community
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3171" id="3171" disabled="">
                                <label for="3171">
                            <i class="icon icon_radio"></i>
                            C. It will construct the Manned Spacecraft Center in the city center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="78" value="3172" id="3172" disabled="">
                                <label for="3172">
                            <i class="icon icon_radio"></i>
                            D. It will create new frontiers to keep the economy afloat
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=14" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>