<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 80 - 82 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=15" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>This is such an exciting meal that can be made in no time. And the best part about it is that it is just as delicious as it is healthy. Ok, first of all, in a big bowl, combine cherry tomatoes, green olives, black olives, and spring
                            onions. Then, in a dry skillet, toast pine nuts over medium heat until golden brown, turning frequently. Then, stir it into tomato mixture. Next, in a small bowl, mix together olive oil, red wine, vinegar, sugar, and oregano.
                            Season to taste with salt and pepper. And lastly, pour the sauce over the vegetables, and gently stir it so it coats.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566007664.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.53905%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:09</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>80. What is NOT true of the meal being prepared?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="79" value="3173" id="3173" disabled="">
                                <label for="3173">
                            <i class="icon icon_radio"></i>
                            A. It contains two types of olives
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3174" id="3174" disabled="">
                                <label for="3174">
                            <i class="icon icon_radio"></i>
                            B. It's good for your health
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3175" id="3175" disabled="">
                                <label for="3175">
                            <i class="icon icon_radio"></i>
                            C. It takes a lot of time to make
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="79" value="3176" id="3176" disabled="">
                                <label for="3176">
                            <i class="icon icon_radio"></i>
                            D. It's very tasty
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>81. What needs to be put over heat?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="80" value="3177" id="3177" disabled="">
                                <label for="3177">
                            <i class="icon icon_radio"></i>
                            A. Onions
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3178" id="3178" disabled="">
                                <label for="3178">
                            <i class="icon icon_radio"></i>
                            B. Nuts
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3179" id="3179" disabled="">
                                <label for="3179">
                            <i class="icon icon_radio"></i>
                            C. The sauce
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="80" value="3180" id="3180" disabled="">
                                <label for="3180">
                            <i class="icon icon_radio"></i>
                            D. The final product
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>82. What is being prepared?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="81" value="3181" id="3181" disabled="">
                                <label for="3181">
                            <i class="icon icon_radio"></i>
                            A. A seafood platter
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3182" id="3182" disabled="">
                                <label for="3182">
                            <i class="icon icon_radio"></i>
                            B. A seasoned steak
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3183" id="3183" disabled="">
                                <label for="3183">
                            <i class="icon icon_radio"></i>
                            C. A salad dish
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="81" value="3184" id="3184" disabled="">
                                <label for="3184">
                            <i class="icon icon_radio"></i>
                            D. A cherry tomato sauce
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=15" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>