<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 83 - 85 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=16" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>These points are simple, but extremely important. Remember to speak with conviction as if you really believe in what you are saying. Persuade your audience effectively. The material you present orally should have the same ingredients
                            as those which are required for a written research paper: for example, have an introduction, body and conclusion. Do not read from notes for any extended length of time although it is quite acceptable to glance at your notes
                            infrequently. Speak loudly and clearly. Sound confident. Do not mumble. If you make an error, correct it, and continue. No need to make excuses or apologize profusely.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566008560.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.43678%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:17</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>83. What is the point of the speech?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="82" value="3185" id="3185" disabled="">
                                <label for="3185">
                            <i class="icon icon_radio"></i>
                            A. To explain how to write a research paper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3186" id="3186" disabled="">
                                <label for="3186">
                            <i class="icon icon_radio"></i>
                            B. To criticize someone's speech
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3187" id="3187" disabled="">
                                <label for="3187">
                            <i class="icon icon_radio"></i>
                            C. To advise people on how to speak to a crowd
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="82" value="3188" id="3188" disabled="">
                                <label for="3188">
                            <i class="icon icon_radio"></i>
                            D. To persuade the audience to become public speakers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>84. What should speakers do with their notes?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="83" value="3189" id="3189" disabled="">
                                <label for="3189">
                            <i class="icon icon_radio"></i>
                            A. Read them word by word
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3190" id="3190" disabled="">
                                <label for="3190">
                            <i class="icon icon_radio"></i>
                            B. Memorize them so they don't have to hold them
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3191" id="3191" disabled="">
                                <label for="3191">
                            <i class="icon icon_radio"></i>
                            C. Look at them for an extended amount of time beforehand
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="83" value="3192" id="3192" disabled="">
                                <label for="3192">
                            <i class="icon icon_radio"></i>
                            D. Look at them occasionally
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>85. What should speakers do if they make a mistake?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="84" value="3193" id="3193" disabled="">
                                <label for="3193">
                            <i class="icon icon_radio"></i>
                            A. Correct it and continue
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3194" id="3194" disabled="">
                                <label for="3194">
                            <i class="icon icon_radio"></i>
                            B. Ignore it and continue speaking
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3195" id="3195" disabled="">
                                <label for="3195">
                            <i class="icon icon_radio"></i>
                            C. Apologize and then correct it
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="84" value="3196" id="3196" disabled="">
                                <label for="3196">
                            <i class="icon icon_radio"></i>
                            D. Excuse yourself and start your speech over again
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=16" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>