<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 86 - 88 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=17" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Are you someone who wants to get a quality education without having to commit your entire life to obtaining it? Perhaps you need to work. Perhaps you have a family. Perhaps you learn better in a freer environment. Perhaps you need
                            to study at your own pace. If these things are true, then American Community College is for you. We specifically only offer weekday evening classes, weekend classes, or even classes via the internet from the comfort of your
                            home. Call or email to enroll and start your journey to a successful life!&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566009157.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 10.0415%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:05</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>86. What does the class schedule enable you to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="85" value="3197" id="3197" disabled="">
                                <label for="3197">
                            <i class="icon icon_radio"></i>
                            A. Earn a living and study
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3198" id="3198" disabled="">
                                <label for="3198">
                            <i class="icon icon_radio"></i>
                            B. Take class journeys
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3199" id="3199" disabled="">
                                <label for="3199">
                            <i class="icon icon_radio"></i>
                            C. Finish your education more quickly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="85" value="3200" id="3200" disabled="">
                                <label for="3200">
                            <i class="icon icon_radio"></i>
                            D. Commit yourself wholly to education
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>87. What type of class could you NOT take at the school?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="86" value="3201" id="3201" disabled="">
                                <label for="3201">
                            <i class="icon icon_radio"></i>
                            A. A class at 7:00 PM, Wednesday
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3202" id="3202" disabled="">
                                <label for="3202">
                            <i class="icon icon_radio"></i>
                            B. An online class
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3203" id="3203" disabled="">
                                <label for="3203">
                            <i class="icon icon_radio"></i>
                            C. A Saturday morning business class
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="86" value="3204" id="3204" disabled="">
                                <label for="3204">
                            <i class="icon icon_radio"></i>
                            D. A group session at your home
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>88. What part of the school does the advertisement focus on?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="87" value="3205" id="3205" disabled="">
                                <label for="3205">
                            <i class="icon icon_radio"></i>
                            A. The subjects that the school offers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3206" id="3206" disabled="">
                                <label for="3206">
                            <i class="icon icon_radio"></i>
                            B. Its ability to accommodate different lifestyles
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3207" id="3207" disabled="">
                                <label for="3207">
                            <i class="icon icon_radio"></i>
                            C. Its past successes in educating a variety of people
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="87" value="3208" id="3208" disabled="">
                                <label for="3208">
                            <i class="icon icon_radio"></i>
                            D. They quality of education the school offers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=17" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>