<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 89 - 91 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=18" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Thank you for your patience. The mechanical problem has now been taken care of. We will now start preboarding for flight 717 to Tampa, Florida. If you need extra assistance boarding the plane or have a child or infant, you may
                            now begin the boarding process. Momentarily we will begin boarding those passengers seated in the first class section, and then we will board alphabetically by zones. Please locate your zone on your ticket. We have a full flight
                            today, so please be sure to only board when your zone is called. Lastly, would passengers Engel and Drews please approach the ticket counter? Thank you.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566009968.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.07449%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:11</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>89. Who will board the plane first?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="88" value="3209" id="3209" disabled="">
                                <label for="3209">
                            <i class="icon icon_radio"></i>
                            A. Passengers Engel and Drews
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3210" id="3210" disabled="">
                                <label for="3210">
                            <i class="icon icon_radio"></i>
                            B. Zone A
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3211" id="3211" disabled="">
                                <label for="3211">
                            <i class="icon icon_radio"></i>
                            C. First class passengers
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="88" value="3212" id="3212" disabled="">
                                <label for="3212">
                            <i class="icon icon_radio"></i>
                            D. Parents with small children
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>90. What is NOT true of the plane?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="89" value="3213" id="3213" disabled="">
                                <label for="3213">
                            <i class="icon icon_radio"></i>
                            A. It is in Tampa, Florida
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3214" id="3214" disabled="">
                                <label for="3214">
                            <i class="icon icon_radio"></i>
                            B. There will be no empty seats
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3215" id="3215" disabled="">
                                <label for="3215">
                            <i class="icon icon_radio"></i>
                            C. It accommodates those with special needs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="89" value="3216" id="3216" disabled="">
                                <label for="3216">
                            <i class="icon icon_radio"></i>
                            D. It has not yet taken off
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>91. Why must passengers only board when called to do so?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="90" value="3217" id="3217" disabled="">
                                <label for="3217">
                            <i class="icon icon_radio"></i>
                            A. To abide by airline laws
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3218" id="3218" disabled="">
                                <label for="3218">
                            <i class="icon icon_radio"></i>
                            B. To avoid chaos
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3219" id="3219" disabled="">
                                <label for="3219">
                            <i class="icon icon_radio"></i>
                            C. The aircraft is having mechanical problems
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="90" value="3220" id="3220" disabled="">
                                <label for="3220">
                            <i class="icon icon_radio"></i>
                            D. To fill the flight to capacity 
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=18" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>