<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 92 - 94 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=19" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Excuse me, sir. I've noticed that you are just leaving the State Fair. I'm Shelly O'Brien with Channel 8 and was hoping you would have a few minutes to tell our viewers at home about your time at the fair. We, along with the entire
                            tri-state, are very interested in learning what people's highlights were. For example, what rides and musical entertainment did you enjoy most? And we are of course most interested in knowing what the tastiest thing you ate
                            was! So could you please share some of your thoughts with us before you head for your car?</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566010654.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.4671%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:58</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>92. Where is this encounter taking place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="91" value="3221" id="3221" disabled="">
                                <label for="3221">
                            <i class="icon icon_radio"></i>
                            A. At a food booth
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3222" id="3222" disabled="">
                                <label for="3222">
                            <i class="icon icon_radio"></i>
                            B. At Chanel 8's studio
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3223" id="3223" disabled="">
                                <label for="3223">
                            <i class="icon icon_radio"></i>
                            C. Near the fair's exit
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="91" value="3224" id="3224" disabled="">
                                <label for="3224">
                            <i class="icon icon_radio"></i>
                            D. Outside the man's car
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>93. What does Shelly work for?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="92" value="3225" id="3225" disabled="">
                                <label for="3225">
                            <i class="icon icon_radio"></i>
                            A. A radio station
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3226" id="3226" disabled="">
                                <label for="3226">
                            <i class="icon icon_radio"></i>
                            B. A newspaper
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3227" id="3227" disabled="">
                                <label for="3227">
                            <i class="icon icon_radio"></i>
                            C. A poll center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="92" value="3228" id="3228" disabled="">
                                <label for="3228">
                            <i class="icon icon_radio"></i>
                            D. A TV station
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>94. What highlight is Shelly especially interested in?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="93" value="3229" id="3229" disabled="">
                                <label for="3229">
                            <i class="icon icon_radio"></i>
                            A. His favorite ride
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3230" id="3230" disabled="">
                                <label for="3230">
                            <i class="icon icon_radio"></i>
                            B. His favorite food
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3231" id="3231" disabled="">
                                <label for="3231">
                            <i class="icon icon_radio"></i>
                            C. His favorite music concert
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="93" value="3232" id="3232" disabled="">
                                <label for="3232">
                            <i class="icon icon_radio"></i>
                            D. His favorite TV channel
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=19" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>