<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 95 - 97 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=4&amp;questionGroupNum=20" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>Good morning everyone and I hope you all enjoyed your breakfast-I know I did. As always, I just have a few general announcements before the sessions begin at nine. As you all know, today is our last day, which of course means we
                            need to end with a little bit of fun. The meetings will end an hour earlier than usual. So we will be done at 5:30, today. Then dinner will be served at the dining hall in the Radcliffe Building, not here in Stowe Hall where
                            we usually eat. Our final party will be in the Olmstead Room right next to the dining hall and will commence immediately following the meal. Finally, the shuttle buses will be in the parking lot awaiting us at eight sharp tomorrow
                            morning to take us to the airport.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665813/1566011201.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 7.51983%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:25</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>95. Where is this announcement taking place?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="94" value="3233" id="3233" disabled="">
                                <label for="3233">
                            <i class="icon icon_radio"></i>
                            A. Stowe Hall
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3234" id="3234" disabled="">
                                <label for="3234">
                            <i class="icon icon_radio"></i>
                            B. The Radcliffe Building
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3235" id="3235" disabled="">
                                <label for="3235">
                            <i class="icon icon_radio"></i>
                            C. The Olmstead Room
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="94" value="3236" id="3236" disabled="">
                                <label for="3236">
                            <i class="icon icon_radio"></i>
                            D. The parking lot
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>96. When do the meetings normally conclude?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="95" value="3237" id="3237" disabled="">
                                <label for="3237">
                            <i class="icon icon_radio"></i>
                            A. 8:00
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3238" id="3238" disabled="">
                                <label for="3238">
                            <i class="icon icon_radio"></i>
                            B. 6:30
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3239" id="3239" disabled="">
                                <label for="3239">
                            <i class="icon icon_radio"></i>
                            C. 5:30
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="95" value="3240" id="3240" disabled="">
                                <label for="3240">
                            <i class="icon icon_radio"></i>
                            D. 4:30
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>97. When will the party begin?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="96" value="3241" id="3241" disabled="">
                                <label for="3241">
                            <i class="icon icon_radio"></i>
                            A. Immediately after the announcement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3242" id="3242" disabled="">
                                <label for="3242">
                            <i class="icon icon_radio"></i>
                            B. At 5:30 that evening
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3243" id="3243" disabled="">
                                <label for="3243">
                            <i class="icon icon_radio"></i>
                            C. As soon as the final meeting concludes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="96" value="3244" id="3244" disabled="">
                                <label for="3244">
                            <i class="icon icon_radio"></i>
                            D. Right after dinner
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=4&amp;questionGroupNum=20" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>