<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Mark your answer on your answer sheet:</b>
                </p>
                <hr>
                <form method="post" action="https://toeic24.vn/exam/submit?part=5">
                    <input type="hidden" name="_token" value="6dlhXau5mZfd0Zc9rOrIPR6o9zsNtFE8dxVrSj8q">
                    <div class="answer">
                        <p><b>101. The new interns have been very mindful of ____ parking regulations</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="100" value="16226" id="16226" disabled="">
                                <label for="16226">
                            <i class="icon icon_radio"></i>
                            A. theirs
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="16227" id="16227" disabled="">
                                <label for="16227">
                            <i class="icon icon_radio"></i>
                            B. ours
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="16228" id="16228" disabled="">
                                <label for="16228">
                            <i class="icon icon_radio"></i>
                            C. our
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="16229" id="16229" disabled="">
                                <label for="16229">
                            <i class="icon icon_radio"></i>
                            D. they
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>102. To help the arts center improve its programming, please indicate which aspect of the workshop was most ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="101" value="16230" id="16230" disabled="">
                                <label for="16230">
                            <i class="icon icon_radio"></i>
                            A. informative
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="16231" id="16231" disabled="">
                                <label for="16231">
                            <i class="icon icon_radio"></i>
                            B. primary
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="16232" id="16232" disabled="">
                                <label for="16232">
                            <i class="icon icon_radio"></i>
                            C. enthusiastic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="101" value="16233" id="16233" disabled="">
                                <label for="16233">
                            <i class="icon icon_radio"></i>
                            D. financial
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>103. Mr. Gupta explained the ____ of the upgraded customer database to the sales team</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="102" value="16234" id="16234" disabled="">
                                <label for="16234">
                            <i class="icon icon_radio"></i>
                            A. beneficial
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="16235" id="16235" disabled="">
                                <label for="16235">
                            <i class="icon icon_radio"></i>
                            B. benefits
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="16236" id="16236" disabled="">
                                <label for="16236">
                            <i class="icon icon_radio"></i>
                            C. benefited
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="102" value="16237" id="16237" disabled="">
                                <label for="16237">
                            <i class="icon icon_radio"></i>
                            D. benefiting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>104. Buses leaving the city terminal were delayed due to icy conditions ____ the roads</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="103" value="16238" id="16238" disabled="">
                                <label for="16238">
                            <i class="icon icon_radio"></i>
                            A. on
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="16239" id="16239" disabled="">
                                <label for="16239">
                            <i class="icon icon_radio"></i>
                            B. out
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="16240" id="16240" disabled="">
                                <label for="16240">
                            <i class="icon icon_radio"></i>
                            C. from
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="103" value="16241" id="16241" disabled="">
                                <label for="16241">
                            <i class="icon icon_radio"></i>
                            D. until
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>105. If you have recently ____ a digital camera and want to learn how to use it, this course is for you</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="104" value="16242" id="16242" disabled="">
                                <label for="16242">
                            <i class="icon icon_radio"></i>
                            A. purchased
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="16243" id="16243" disabled="">
                                <label for="16243">
                            <i class="icon icon_radio"></i>
                            B. purchase
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="16244" id="16244" disabled="">
                                <label for="16244">
                            <i class="icon icon_radio"></i>
                            C. purchasing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="104" value="16245" id="16245" disabled="">
                                <label for="16245">
                            <i class="icon icon_radio"></i>
                            D. to purchase
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>106. The upcoming ____ of Tantino Airport will ease congestion and modernize guest accommodations</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="105" value="16246" id="16246" disabled="">
                                <label for="16246">
                            <i class="icon icon_radio"></i>
                            A. performance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="16247" id="16247" disabled="">
                                <label for="16247">
                            <i class="icon icon_radio"></i>
                            B. supplement
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="16248" id="16248" disabled="">
                                <label for="16248">
                            <i class="icon icon_radio"></i>
                            C. deadline
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="105" value="16249" id="16249" disabled="">
                                <label for="16249">
                            <i class="icon icon_radio"></i>
                            D. renovation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>107. The study showed that customers aged 35 to 44 paid with a Sonoka credit card ____ than customers in any other age-group</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="106" value="16250" id="16250" disabled="">
                                <label for="16250">
                            <i class="icon icon_radio"></i>
                            A. frequently
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="16251" id="16251" disabled="">
                                <label for="16251">
                            <i class="icon icon_radio"></i>
                            B. frequent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="16252" id="16252" disabled="">
                                <label for="16252">
                            <i class="icon icon_radio"></i>
                            C. more frequently
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="106" value="16253" id="16253" disabled="">
                                <label for="16253">
                            <i class="icon icon_radio"></i>
                            D. frequency
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>108. You need to ____ a business plan before your loan application can be processed</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="107" value="16254" id="16254" disabled="">
                                <label for="16254">
                            <i class="icon icon_radio"></i>
                            A. donate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="16255" id="16255" disabled="">
                                <label for="16255">
                            <i class="icon icon_radio"></i>
                            B. request
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="16256" id="16256" disabled="">
                                <label for="16256">
                            <i class="icon icon_radio"></i>
                            C. confess
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="107" value="16257" id="16257" disabled="">
                                <label for="16257">
                            <i class="icon icon_radio"></i>
                            D. submit
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>109. The hotel's ____ shuttle bus will take guests to Hong Kong's major landmarks</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="108" value="16258" id="16258" disabled="">
                                <label for="16258">
                            <i class="icon icon_radio"></i>
                            A. compliments
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="16259" id="16259" disabled="">
                                <label for="16259">
                            <i class="icon icon_radio"></i>
                            B. complimentary
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="16260" id="16260" disabled="">
                                <label for="16260">
                            <i class="icon icon_radio"></i>
                            C. compliment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="108" value="16261" id="16261" disabled="">
                                <label for="16261">
                            <i class="icon icon_radio"></i>
                            D. complimenting
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>110. ____ months of work to sell the Apton Building, the realtor finally succeeded last week</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="109" value="16262" id="16262" disabled="">
                                <label for="16262">
                            <i class="icon icon_radio"></i>
                            A. Besides
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="16263" id="16263" disabled="">
                                <label for="16263">
                            <i class="icon icon_radio"></i>
                            B. After
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="16264" id="16264" disabled="">
                                <label for="16264">
                            <i class="icon icon_radio"></i>
                            C. Still
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="109" value="16265" id="16265" disabled="">
                                <label for="16265">
                            <i class="icon icon_radio"></i>
                            D. For
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>111. We will review all four custodial-service bids and choose ____ that suits our needs</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="110" value="16266" id="16266" disabled="">
                                <label for="16266">
                            <i class="icon icon_radio"></i>
                            A. some
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="16267" id="16267" disabled="">
                                <label for="16267">
                            <i class="icon icon_radio"></i>
                            B. one
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="16268" id="16268" disabled="">
                                <label for="16268">
                            <i class="icon icon_radio"></i>
                            C. others
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="110" value="16269" id="16269" disabled="">
                                <label for="16269">
                            <i class="icon icon_radio"></i>
                            D. either
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>112. The client asked for ____ to the images in the advertising text</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="111" value="16270" id="16270" disabled="">
                                <label for="16270">
                            <i class="icon icon_radio"></i>
                            A. standards
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="16271" id="16271" disabled="">
                                <label for="16271">
                            <i class="icon icon_radio"></i>
                            B. drawings
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="16272" id="16272" disabled="">
                                <label for="16272">
                            <i class="icon icon_radio"></i>
                            C. revisions
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="111" value="16273" id="16273" disabled="">
                                <label for="16273">
                            <i class="icon icon_radio"></i>
                            D. duplications
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>113. Please be advised ____ we have had to cancel your order because of a difficulty with our shipping agent</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="112" value="16274" id="16274" disabled="">
                                <label for="16274">
                            <i class="icon icon_radio"></i>
                            A. that
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="16275" id="16275" disabled="">
                                <label for="16275">
                            <i class="icon icon_radio"></i>
                            B. of
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="16276" id="16276" disabled="">
                                <label for="16276">
                            <i class="icon icon_radio"></i>
                            C. whether
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="112" value="16277" id="16277" disabled="">
                                <label for="16277">
                            <i class="icon icon_radio"></i>
                            D. between
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>114. Tin Creek Corporation ____ that its paper towels are the most absorbent on the market</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="113" value="16278" id="16278" disabled="">
                                <label for="16278">
                            <i class="icon icon_radio"></i>
                            A. obtains
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="16279" id="16279" disabled="">
                                <label for="16279">
                            <i class="icon icon_radio"></i>
                            B. competes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="16280" id="16280" disabled="">
                                <label for="16280">
                            <i class="icon icon_radio"></i>
                            C. inquires
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="113" value="16281" id="16281" disabled="">
                                <label for="16281">
                            <i class="icon icon_radio"></i>
                            D. claims
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>115. KCLN Associates will enter into to a business ____ with the contractor as soon as some of the teams are renegotiated</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="114" value="16282" id="16282" disabled="">
                                <label for="16282">
                            <i class="icon icon_radio"></i>
                            A. agreed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="16283" id="16283" disabled="">
                                <label for="16283">
                            <i class="icon icon_radio"></i>
                            B. agreement
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="16284" id="16284" disabled="">
                                <label for="16284">
                            <i class="icon icon_radio"></i>
                            C. agreeable
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="114" value="16285" id="16285" disabled="">
                                <label for="16285">
                            <i class="icon icon_radio"></i>
                            D. agreeing
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>116. ____ registering for online banking is not required, we strongly recommend it to all of our customers</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="115" value="16286" id="16286" disabled="">
                                <label for="16286">
                            <i class="icon icon_radio"></i>
                            A. Although
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="16287" id="16287" disabled="">
                                <label for="16287">
                            <i class="icon icon_radio"></i>
                            B. Instead
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="16288" id="16288" disabled="">
                                <label for="16288">
                            <i class="icon icon_radio"></i>
                            C. Regardless
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="115" value="16289" id="16289" disabled="">
                                <label for="16289">
                            <i class="icon icon_radio"></i>
                            D. Despite
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>117. Viewers can easily ____ to the main character in the popular television series Autumn Mystery</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="116" value="16290" id="16290" disabled="">
                                <label for="16290">
                            <i class="icon icon_radio"></i>
                            A. related
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="16291" id="16291" disabled="">
                                <label for="16291">
                            <i class="icon icon_radio"></i>
                            B. relatable
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="16292" id="16292" disabled="">
                                <label for="16292">
                            <i class="icon icon_radio"></i>
                            C. relating
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="116" value="16293" id="16293" disabled="">
                                <label for="16293">
                            <i class="icon icon_radio"></i>
                            D. relate
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>118. Fairlawn Medical Clinic offers a full ____ of services as part of its community wellness programs</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="117" value="16294" id="16294" disabled="">
                                <label for="16294">
                            <i class="icon icon_radio"></i>
                            A. center
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="16295" id="16295" disabled="">
                                <label for="16295">
                            <i class="icon icon_radio"></i>
                            B. surplus
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="16296" id="16296" disabled="">
                                <label for="16296">
                            <i class="icon icon_radio"></i>
                            C. range
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="117" value="16297" id="16297" disabled="">
                                <label for="16297">
                            <i class="icon icon_radio"></i>
                            D. type
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>119. The rear entrance to RC Bank will be closed for repairs and not ____ next Monday</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="118" value="16298" id="16298" disabled="">
                                <label for="16298">
                            <i class="icon icon_radio"></i>
                            A. accessible
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="16299" id="16299" disabled="">
                                <label for="16299">
                            <i class="icon icon_radio"></i>
                            B. accessing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="16300" id="16300" disabled="">
                                <label for="16300">
                            <i class="icon icon_radio"></i>
                            C. access
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="118" value="16301" id="16301" disabled="">
                                <label for="16301">
                            <i class="icon icon_radio"></i>
                            D. accesses
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>120. Mr. Carson wants to see Carson audio products ____ , even in remote regions of the world</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="119" value="16302" id="16302" disabled="">
                                <label for="16302">
                            <i class="icon icon_radio"></i>
                            A. decidedly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="16303" id="16303" disabled="">
                                <label for="16303">
                            <i class="icon icon_radio"></i>
                            B. furthermore
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="16304" id="16304" disabled="">
                                <label for="16304">
                            <i class="icon icon_radio"></i>
                            C. rather
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="119" value="16305" id="16305" disabled="">
                                <label for="16305">
                            <i class="icon icon_radio"></i>
                            D. everywhere
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>121. We can buy office ____ such as desks and printers from any of our company's approved vendors</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="120" value="16306" id="16306" disabled="">
                                <label for="16306">
                            <i class="icon icon_radio"></i>
                            A. equip
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="16307" id="16307" disabled="">
                                <label for="16307">
                            <i class="icon icon_radio"></i>
                            B. equipping
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="16308" id="16308" disabled="">
                                <label for="16308">
                            <i class="icon icon_radio"></i>
                            C. equipment
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="120" value="16309" id="16309" disabled="">
                                <label for="16309">
                            <i class="icon icon_radio"></i>
                            D. equipped
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>122. When taking a book order, agents must record the customer's name and the ____ price of each item</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="121" value="16310" id="16310" disabled="">
                                <label for="16310">
                            <i class="icon icon_radio"></i>
                            A. assembled
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="16311" id="16311" disabled="">
                                <label for="16311">
                            <i class="icon icon_radio"></i>
                            B. listed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="16312" id="16312" disabled="">
                                <label for="16312">
                            <i class="icon icon_radio"></i>
                            C. addressed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="121" value="16313" id="16313" disabled="">
                                <label for="16313">
                            <i class="icon icon_radio"></i>
                            D. earned
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>123. The building will be furnished ____ the supervisors do their inspection</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="122" value="16314" id="16314" disabled="">
                                <label for="16314">
                            <i class="icon icon_radio"></i>
                            A. with
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="16315" id="16315" disabled="">
                                <label for="16315">
                            <i class="icon icon_radio"></i>
                            B. these
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="16316" id="16316" disabled="">
                                <label for="16316">
                            <i class="icon icon_radio"></i>
                            C. once
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="122" value="16317" id="16317" disabled="">
                                <label for="16317">
                            <i class="icon icon_radio"></i>
                            D. just
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>124. In a strong display of confidence, the firm's board of directors ____ approved the merge</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="123" value="16318" id="16318" disabled="">
                                <label for="16318">
                            <i class="icon icon_radio"></i>
                            A. superficially
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="16319" id="16319" disabled="">
                                <label for="16319">
                            <i class="icon icon_radio"></i>
                            B. regularly
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="16320" id="16320" disabled="">
                                <label for="16320">
                            <i class="icon icon_radio"></i>
                            C. magnificently
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="123" value="16321" id="16321" disabled="">
                                <label for="16321">
                            <i class="icon icon_radio"></i>
                            D. unanimously
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>125. When recently ____ , residents of Mill Creek Park said that street disrepair is the issue that concerns them most</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="124" value="16322" id="16322" disabled="">
                                <label for="16322">
                            <i class="icon icon_radio"></i>
                            A. poll
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="16323" id="16323" disabled="">
                                <label for="16323">
                            <i class="icon icon_radio"></i>
                            B. polls
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="16324" id="16324" disabled="">
                                <label for="16324">
                            <i class="icon icon_radio"></i>
                            C. pollster
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="124" value="16325" id="16325" disabled="">
                                <label for="16325">
                            <i class="icon icon_radio"></i>
                            D. polled
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>126. Ms. Rivera agreed to work on the holiday ____ Mr. Grant could attend the conference</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="125" value="16326" id="16326" disabled="">
                                <label for="16326">
                            <i class="icon icon_radio"></i>
                            A. considering
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="16327" id="16327" disabled="">
                                <label for="16327">
                            <i class="icon icon_radio"></i>
                            B. so that
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="16328" id="16328" disabled="">
                                <label for="16328">
                            <i class="icon icon_radio"></i>
                            C. as if
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="125" value="16329" id="16329" disabled="">
                                <label for="16329">
                            <i class="icon icon_radio"></i>
                            D. wherever
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>127. The clerk collects packages from each department twice a day and takes them to the mail room ____</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="126" value="16330" id="16330" disabled="">
                                <label for="16330">
                            <i class="icon icon_radio"></i>
                            A. throughout
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="16331" id="16331" disabled="">
                                <label for="16331">
                            <i class="icon icon_radio"></i>
                            B. all along
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="16332" id="16332" disabled="">
                                <label for="16332">
                            <i class="icon icon_radio"></i>
                            C. too much
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="126" value="16333" id="16333" disabled="">
                                <label for="16333">
                            <i class="icon icon_radio"></i>
                            D. downstairs
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>128. Please inform Ms. Erwin of any complaints ____ those already discussed in today's meeting</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="127" value="16334" id="16334" disabled="">
                                <label for="16334">
                            <i class="icon icon_radio"></i>
                            A. beyond
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="16335" id="16335" disabled="">
                                <label for="16335">
                            <i class="icon icon_radio"></i>
                            B. between
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="16336" id="16336" disabled="">
                                <label for="16336">
                            <i class="icon icon_radio"></i>
                            C. during
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="127" value="16337" id="16337" disabled="">
                                <label for="16337">
                            <i class="icon icon_radio"></i>
                            D. against
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>129. The Tonsin Writers League is a reputable organization with highly ____ members</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="128" value="16338" id="16338" disabled="">
                                <label for="16338">
                            <i class="icon icon_radio"></i>
                            A. accomplishes
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="16339" id="16339" disabled="">
                                <label for="16339">
                            <i class="icon icon_radio"></i>
                            B. accomplishment
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="16340" id="16340" disabled="">
                                <label for="16340">
                            <i class="icon icon_radio"></i>
                            C. accomplished
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="128" value="16341" id="16341" disabled="">
                                <label for="16341">
                            <i class="icon icon_radio"></i>
                            D. accomplish
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>130. As Mr. Naketa's assistant, Ms. Bain is in charge of ____ him on the last financial news</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="129" value="16342" id="16342" disabled="">
                                <label for="16342">
                            <i class="icon icon_radio"></i>
                            A. discussing
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="16343" id="16343" disabled="">
                                <label for="16343">
                            <i class="icon icon_radio"></i>
                            B. briefing
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="16344" id="16344" disabled="">
                                <label for="16344">
                            <i class="icon icon_radio"></i>
                            C. resuming
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="129" value="16345" id="16345" disabled="">
                                <label for="16345">
                            <i class="icon icon_radio"></i>
                            D. narrating
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=5&amp;questionGroupNum=0" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>