<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 41 - 43 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=2" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Hi Bob.</p>

                        <p>M: Hi Jackie, it's great to see you again. Did you have a good trip?</p>

                        <p>W: You know me, I'm a terrible flyer but it was actually smooth all the way. I'm very excited about your wedding.</p>

                        <p>M: Is that all the luggage you have?</p>

                        <p>W: Yes, because the airline forgot to put my bag on the plane. It's still in Chicago. It should arrive in Boston tomorrow.</p>

                        <p>M: Typical; that happened to my sister last year.</p>

                        <p>W: How is Jenny?</p>

                        <p>M: She's fine. She's getting married next year too.</p>

                        <p>W: I can't wait to meet Sue. I thought you'd never get married. My cousin, a married man at last.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565858002.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.372%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:01</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>41. What was the flight like?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="40" value="2537" id="2537" disabled="">
                                <label for="2537">
                            <i class="icon icon_radio"></i>
                            A. terrible
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2538" id="2538" disabled="">
                                <label for="2538">
                            <i class="icon icon_radio"></i>
                            B. exciting
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2539" id="2539" disabled="">
                                <label for="2539">
                            <i class="icon icon_radio"></i>
                            C. uneventful
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="40" value="2540" id="2540" disabled="">
                                <label for="2540">
                            <i class="icon icon_radio"></i>
                            D. enjoyable
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>42. Where is Jackie's bag?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="41" value="2541" id="2541" disabled="">
                                <label for="2541">
                            <i class="icon icon_radio"></i>
                            A. on the plane
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2542" id="2542" disabled="">
                                <label for="2542">
                            <i class="icon icon_radio"></i>
                            B. Chicago
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2543" id="2543" disabled="">
                                <label for="2543">
                            <i class="icon icon_radio"></i>
                            C. Boston
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="41" value="2544" id="2544" disabled="">
                                <label for="2544">
                            <i class="icon icon_radio"></i>
                            D. it has been lost
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>43. Who is Jenny?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="42" value="2545" id="2545" disabled="">
                                <label for="2545">
                            <i class="icon icon_radio"></i>
                            A. Bob's cousin
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2546" id="2546" disabled="">
                                <label for="2546">
                            <i class="icon icon_radio"></i>
                            B. Bob's sister
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2547" id="2547" disabled="">
                                <label for="2547">
                            <i class="icon icon_radio"></i>
                            C. Bob's wife
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="42" value="2548" id="2548" disabled="">
                                <label for="2548">
                            <i class="icon icon_radio"></i>
                            D. Bob's fiancee
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=2" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>