<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 68 - 70 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=11" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Do you think we ought to ask your boss to the dinner party? It might make up for all the time you had to have off sick last month.</p>

                        <p>M: I guess we could, but he can't be angry about the accident. There was nothing I could do about it and it was their fault for having dangerous equipment in the factory.</p>

                        <p>W: Yes but suing them didn't make you employee of the month, did it?</p>

                        <p>M: I doubt if you will complain when the money comes through, though. That will pay for us to buy a nice new car. You've wanted one for months.</p>

                        <p>W: You have a point but I just think you need to make an effort to get on well with everyone at work for a while until the whole thing is forgotten.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565920424.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.50761%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:11</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>68. What happened to the man?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="67" value="2645" id="2645" disabled="">
                                <label for="2645">
                            <i class="icon icon_radio"></i>
                            A. He nearly lost his job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2646" id="2646" disabled="">
                                <label for="2646">
                            <i class="icon icon_radio"></i>
                            B. His boss had an accident
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2647" id="2647" disabled="">
                                <label for="2647">
                            <i class="icon icon_radio"></i>
                            C. He broke a machine at work
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="67" value="2648" id="2648" disabled="">
                                <label for="2648">
                            <i class="icon icon_radio"></i>
                            D. He had an accident at work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>69. What did the man do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="68" value="2649" id="2649" disabled="">
                                <label for="2649">
                            <i class="icon icon_radio"></i>
                            A. apply for financial compensation
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2650" id="2650" disabled="">
                                <label for="2650">
                            <i class="icon icon_radio"></i>
                            B. buy a new car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2651" id="2651" disabled="">
                                <label for="2651">
                            <i class="icon icon_radio"></i>
                            C. crash his company car
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="68" value="2652" id="2652" disabled="">
                                <label for="2652">
                            <i class="icon icon_radio"></i>
                            D. pay money to his boss
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>70. What does the woman think the man should do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="69" value="2653" id="2653" disabled="">
                                <label for="2653">
                            <i class="icon icon_radio"></i>
                            A. make a good impression at work
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2654" id="2654" disabled="">
                                <label for="2654">
                            <i class="icon icon_radio"></i>
                            B. forget about the money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2655" id="2655" disabled="">
                                <label for="2655">
                            <i class="icon icon_radio"></i>
                            C. leave his job temporarily
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="69" value="2656" id="2656" disabled="">
                                <label for="2656">
                            <i class="icon icon_radio"></i>
                            D. ask for more money
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=11" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>