<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 44 - 46 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=3" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Have you had many sales this week?</p>

                        <p>W: It's been very slow. I'm still waiting for my first buyer. I sold two last week and I had a couple that were very interested in a house in town. I need to sell three more by the end of the month to reach my target.</p>

                        <p>M: I don't know what to do with myself all day. This economic depression is stopping people from buying. People seem to be reluctant to even look at the moment. I wish they'd be a bit braver and buy while prices are down.</p>

                        <p>W: I'm going to pop out for a bite to eat!</p>

                        <p>M: Are you going to the cafe or the canteen?</p>

                        <p>W: I thought I'd go to the store as I left my sandwiches in the fridge at home again.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565858254.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.46691%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:12</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>44. How many houses has the woman sold this week?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="43" value="2549" id="2549" disabled="">
                                <label for="2549">
                            <i class="icon icon_radio"></i>
                            A. none
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2550" id="2550" disabled="">
                                <label for="2550">
                            <i class="icon icon_radio"></i>
                            B. one
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2551" id="2551" disabled="">
                                <label for="2551">
                            <i class="icon icon_radio"></i>
                            C. two
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="43" value="2552" id="2552" disabled="">
                                <label for="2552">
                            <i class="icon icon_radio"></i>
                            D. three
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>45. How does the man feel?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="44" value="2553" id="2553" disabled="">
                                <label for="2553">
                            <i class="icon icon_radio"></i>
                            A. depressed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2554" id="2554" disabled="">
                                <label for="2554">
                            <i class="icon icon_radio"></i>
                            B. reluctant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2555" id="2555" disabled="">
                                <label for="2555">
                            <i class="icon icon_radio"></i>
                            C. bored
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="44" value="2556" id="2556" disabled="">
                                <label for="2556">
                            <i class="icon icon_radio"></i>
                            D. scared
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>46. Where is the woman going now?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="45" value="2557" id="2557" disabled="">
                                <label for="2557">
                            <i class="icon icon_radio"></i>
                            A. back home
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2558" id="2558" disabled="">
                                <label for="2558">
                            <i class="icon icon_radio"></i>
                            B. the cafe
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2559" id="2559" disabled="">
                                <label for="2559">
                            <i class="icon icon_radio"></i>
                            C. the canteen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="45" value="2560" id="2560" disabled="">
                                <label for="2560">
                            <i class="icon icon_radio"></i>
                            D. the store
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=3" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>