<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 47 - 49 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=4" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: It's so hot in here. I wish I'd worn a hat.</p>

                        <p>M: Let's sit under that tree by the lake and listen to him.</p>

                        <p>W: Maybe we should hire a boat for an hour and then go to the cafe.</p>

                        <p>M: He's really good, isn't he? A true artist.</p>

                        <p>W: Well, maybe. He's got a great voice but he shouldn't move around so much; it's distracting. He could perform for money.</p>

                        <p>M: Maybe, but I don't think he's good enough to get a record deal.</p>

                        <p>W: It's no good; I'd like to listen to him but I need to be somewhere cooler. Let's go to the cafe.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565858449.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 12.6332%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">00:55</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>47. Where are they?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="46" value="2561" id="2561" disabled="">
                                <label for="2561">
                            <i class="icon icon_radio"></i>
                            A. in a park
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2562" id="2562" disabled="">
                                <label for="2562">
                            <i class="icon icon_radio"></i>
                            B. at a lake
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2563" id="2563" disabled="">
                                <label for="2563">
                            <i class="icon icon_radio"></i>
                            C. in a cafe
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="46" value="2564" id="2564" disabled="">
                                <label for="2564">
                            <i class="icon icon_radio"></i>
                            D. on a boat
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>48. Who are they watching?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="47" value="2565" id="2565" disabled="">
                                <label for="2565">
                            <i class="icon icon_radio"></i>
                            A. a speaker
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2566" id="2566" disabled="">
                                <label for="2566">
                            <i class="icon icon_radio"></i>
                            B. a singer
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2567" id="2567" disabled="">
                                <label for="2567">
                            <i class="icon icon_radio"></i>
                            C. a dancer
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="47" value="2568" id="2568" disabled="">
                                <label for="2568">
                            <i class="icon icon_radio"></i>
                            D. an actor
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>49. What's the woman's problem?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="48" value="2569" id="2569" disabled="">
                                <label for="2569">
                            <i class="icon icon_radio"></i>
                            A. She's very hungry
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2570" id="2570" disabled="">
                                <label for="2570">
                            <i class="icon icon_radio"></i>
                            B. She's bored
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2571" id="2571" disabled="">
                                <label for="2571">
                            <i class="icon icon_radio"></i>
                            C. She's tired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="48" value="2572" id="2572" disabled="">
                                <label for="2572">
                            <i class="icon icon_radio"></i>
                            D. She's too hot
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=4" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>