<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 50 - 52 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=5" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Did you get the memo about Tuesday's meeting?</p>

                        <p>W: The one about the Parson Project in the morning?</p>

                        <p>M: No, that's for the administration, I mean finance department. The design meeting is in the afternoon.</p>

                        <p>W: I guess management will be their usual annoying selves. They never contribute anything useful to the meetings.</p>

                        <p>M: I'm tired of these meetings. They should just let us get on with the job. I can't wait to really get involved with the main project but they keep delaying everything.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565858691.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.4205%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:02</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>50. Which department do the speakers work in?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="49" value="2573" id="2573" disabled="">
                                <label for="2573">
                            <i class="icon icon_radio"></i>
                            A. management
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2574" id="2574" disabled="">
                                <label for="2574">
                            <i class="icon icon_radio"></i>
                            B. finance
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2575" id="2575" disabled="">
                                <label for="2575">
                            <i class="icon icon_radio"></i>
                            C. design
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="49" value="2576" id="2576" disabled="">
                                <label for="2576">
                            <i class="icon icon_radio"></i>
                            D. administration
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>51. What is the woman's attitude towards the managers?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="50" value="2577" id="2577" disabled="">
                                <label for="2577">
                            <i class="icon icon_radio"></i>
                            A. considerate
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2578" id="2578" disabled="">
                                <label for="2578">
                            <i class="icon icon_radio"></i>
                            B. disrespectful
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2579" id="2579" disabled="">
                                <label for="2579">
                            <i class="icon icon_radio"></i>
                            C. sympathetic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="50" value="2580" id="2580" disabled="">
                                <label for="2580">
                            <i class="icon icon_radio"></i>
                            D. excited
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>52. How does the man feel?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="51" value="2581" id="2581" disabled="">
                                <label for="2581">
                            <i class="icon icon_radio"></i>
                            A. tired
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2582" id="2582" disabled="">
                                <label for="2582">
                            <i class="icon icon_radio"></i>
                            B. frustrated
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2583" id="2583" disabled="">
                                <label for="2583">
                            <i class="icon icon_radio"></i>
                            C. relaxed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="51" value="2584" id="2584" disabled="">
                                <label for="2584">
                            <i class="icon icon_radio"></i>
                            D. sad
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=5" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>