<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 53 - 55 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=6" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: So do you think you can get it repaired before the weekend when my mother comes? The dog knocked it off the table and it broke on the marble floor. The flowers made a terrible mess.</p>

                        <p>W: Well, we don't usually fix things that quickly, you know. It's not as if we have nothing to do. It's already Wednesday.</p>

                        <p>M: Yes, I appreciate that, but I was only enquiring. You don't have to adopt that attitude. I can just leave it if you like and go to another store. I'd repair it myself if I could.</p>

                        <p>W: Well, it would be faster to buy a new one but maybe we can fix it by the weekend. Tell me your name and telephone number and I'll see what we can do. But I'm not making any promises.</p>

                        <p>M: OK.&nbsp;</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565858934.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 9.89803%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:07</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>53. What was damaged?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="52" value="2585" id="2585" disabled="">
                                <label for="2585">
                            <i class="icon icon_radio"></i>
                            A. vase
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2586" id="2586" disabled="">
                                <label for="2586">
                            <i class="icon icon_radio"></i>
                            B. table
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2587" id="2587" disabled="">
                                <label for="2587">
                            <i class="icon icon_radio"></i>
                            C. floor
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="52" value="2588" id="2588" disabled="">
                                <label for="2588">
                            <i class="icon icon_radio"></i>
                            D. flowers
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>54. How could you describe the woman's attitude?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="53" value="2589" id="2589" disabled="">
                                <label for="2589">
                            <i class="icon icon_radio"></i>
                            A. enthusiastic
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2590" id="2590" disabled="">
                                <label for="2590">
                            <i class="icon icon_radio"></i>
                            B. aggressive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2591" id="2591" disabled="">
                                <label for="2591">
                            <i class="icon icon_radio"></i>
                            C. unhelpful
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="53" value="2592" id="2592" disabled="">
                                <label for="2592">
                            <i class="icon icon_radio"></i>
                            D. sympathetic
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>55. What will the man do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="54" value="2593" id="2593" disabled="">
                                <label for="2593">
                            <i class="icon icon_radio"></i>
                            A. go to another store
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2594" id="2594" disabled="">
                                <label for="2594">
                            <i class="icon icon_radio"></i>
                            B. buy a new vase
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2595" id="2595" disabled="">
                                <label for="2595">
                            <i class="icon icon_radio"></i>
                            C. leave the vase at the store
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="54" value="2596" id="2596" disabled="">
                                <label for="2596">
                            <i class="icon icon_radio"></i>
                            D. repair it himself
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=6" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>