<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 56 - 58 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=7" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: I've decided to go to night school to learn a new skill. I've been doing the same accounting job for years and I need a new challenge.</p>

                        <p>M: You aren't going to resign, are you?</p>

                        <p>W: Now that's an attractive idea, but I'm not silly. I'm on such a good salary. What I was thinking was to learn another language, maybe Spanish or French. Then I can use my new language skills to do some serious travelling when
                            I go on holiday. I always stay in this country and I need to see more of the world.</p>

                        <p>M: Well, you are a dark horse, aren't you? What will you come up with, next? Enough dreaming of holidays, we need to get going or we will be late for the performance and I have booked a table at the restaurant in ten minutes' time.</p>

                        <p>W: OK, I'll just finish my coffee.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565862063.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 8.71033%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:16</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>56. What has the woman decided to do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="55" value="2597" id="2597" disabled="">
                                <label for="2597">
                            <i class="icon icon_radio"></i>
                            A. resign
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2598" id="2598" disabled="">
                                <label for="2598">
                            <i class="icon icon_radio"></i>
                            B. try for a better job
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2599" id="2599" disabled="">
                                <label for="2599">
                            <i class="icon icon_radio"></i>
                            C. go back to full time education
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="55" value="2600" id="2600" disabled="">
                                <label for="2600">
                            <i class="icon icon_radio"></i>
                            D. take up a new interest
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>57. What can be said about the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="56" value="2601" id="2601" disabled="">
                                <label for="2601">
                            <i class="icon icon_radio"></i>
                            A. She is bored with her life
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2602" id="2602" disabled="">
                                <label for="2602">
                            <i class="icon icon_radio"></i>
                            B. She finds the man very attractive
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2603" id="2603" disabled="">
                                <label for="2603">
                            <i class="icon icon_radio"></i>
                            C. She has decided to live abroad
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="56" value="2604" id="2604" disabled="">
                                <label for="2604">
                            <i class="icon icon_radio"></i>
                            D. She often travels abroad
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>58. Where are they going next?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="57" value="2605" id="2605" disabled="">
                                <label for="2605">
                            <i class="icon icon_radio"></i>
                            A. a cafe
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2606" id="2606" disabled="">
                                <label for="2606">
                            <i class="icon icon_radio"></i>
                            B. a restaurant
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2607" id="2607" disabled="">
                                <label for="2607">
                            <i class="icon icon_radio"></i>
                            C. a theater
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="57" value="2608" id="2608" disabled="">
                                <label for="2608">
                            <i class="icon icon_radio"></i>
                            D. horse riding
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=7" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>