<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 59 - 61 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=8" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: So, are you going to buy that house?</p>

                        <p>W: We decided against it in the end, after a lot of indecision.</p>

                        <p>M: I thought it was your dream home.</p>

                        <p>W: I got carried away with the village but the property itself wasn't really what we need as a family. The garden was acceptable although it could have been a bit bigger, and the view was nothing special.</p>

                        <p>M: I know you have a budget that you can't go over, so maybe you need to rethink what is really important to you. That house obviously wasn't right despite the great location.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565862419.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 16.8878%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:01</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>59. How did the man feel when he heard about the woman's decision?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="58" value="2609" id="2609" disabled="">
                                <label for="2609">
                            <i class="icon icon_radio"></i>
                            A. surprised
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2610" id="2610" disabled="">
                                <label for="2610">
                            <i class="icon icon_radio"></i>
                            B. angry
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2611" id="2611" disabled="">
                                <label for="2611">
                            <i class="icon icon_radio"></i>
                            C. disinterested
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="58" value="2612" id="2612" disabled="">
                                <label for="2612">
                            <i class="icon icon_radio"></i>
                            D. unhappy
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>60. What did the woman like about the house?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="59" value="2613" id="2613" disabled="">
                                <label for="2613">
                            <i class="icon icon_radio"></i>
                            A. its location
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2614" id="2614" disabled="">
                                <label for="2614">
                            <i class="icon icon_radio"></i>
                            B. the garden
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2615" id="2615" disabled="">
                                <label for="2615">
                            <i class="icon icon_radio"></i>
                            C. its size
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="59" value="2616" id="2616" disabled="">
                                <label for="2616">
                            <i class="icon icon_radio"></i>
                            D. the view
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>61. What does the man think the woman should do?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="60" value="2617" id="2617" disabled="">
                                <label for="2617">
                            <i class="icon icon_radio"></i>
                            A. spend more money
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2618" id="2618" disabled="">
                                <label for="2618">
                            <i class="icon icon_radio"></i>
                            B. buy the house they've just seen
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2619" id="2619" disabled="">
                                <label for="2619">
                            <i class="icon icon_radio"></i>
                            C. forget about the location and concentrate on the house
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="60" value="2620" id="2620" disabled="">
                                <label for="2620">
                            <i class="icon icon_radio"></i>
                            D. rethink their priorities
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=8" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>