<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 62 - 64 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=9" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>W: Why is John in such a bad mood? Didn't he get his promotion?</p>

                        <p>M: No, it's not that, the printer has broken on his computer and he needs a report for this morning's meeting with the accountant.</p>

                        <p>W: Why didn't he use mine? I can't believe how silly you two are at times.</p>

                        <p>M: There's no point me saying anything, he's still in a mood about the contract that I beat him to.</p>

                        <p>W: Well, you know that I think you are both being very immature about that. If you two don't pull your socks up you'll annoy our boss and neither of you will get a promotion.</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565919391.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.0402%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:02</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>62. What is wrong with John?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="61" value="2621" id="2621" disabled="">
                                <label for="2621">
                            <i class="icon icon_radio"></i>
                            A. His report hasn't been printed
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2622" id="2622" disabled="">
                                <label for="2622">
                            <i class="icon icon_radio"></i>
                            B. He didn't have time to write a report
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2623" id="2623" disabled="">
                                <label for="2623">
                            <i class="icon icon_radio"></i>
                            C. There are no printers working in the office
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="61" value="2624" id="2624" disabled="">
                                <label for="2624">
                            <i class="icon icon_radio"></i>
                            D. He didn't get the promotion
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>63. What does the woman think about the men's behavior?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="62" value="2625" id="2625" disabled="">
                                <label for="2625">
                            <i class="icon icon_radio"></i>
                            A. They are selfish
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2626" id="2626" disabled="">
                                <label for="2626">
                            <i class="icon icon_radio"></i>
                            B. They are jealous
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2627" id="2627" disabled="">
                                <label for="2627">
                            <i class="icon icon_radio"></i>
                            C. They are childish
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="62" value="2628" id="2628" disabled="">
                                <label for="2628">
                            <i class="icon icon_radio"></i>
                            D. They are dishonest
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>64. What is the relationship between the man and the woman?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="63" value="2629" id="2629" disabled="">
                                <label for="2629">
                            <i class="icon icon_radio"></i>
                            A. boss and employee
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2630" id="2630" disabled="">
                                <label for="2630">
                            <i class="icon icon_radio"></i>
                            B. relatives
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2631" id="2631" disabled="">
                                <label for="2631">
                            <i class="icon icon_radio"></i>
                            C. neighbors
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="63" value="2632" id="2632" disabled="">
                                <label for="2632">
                            <i class="icon icon_radio"></i>
                            D. co-workers
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=9" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>