<div class="question-content-wrap">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="question-content">
                <p class="text-justify">
                    <b>Question 65 - 67 refer to
    following conversation:</b>
                </p>
                <hr>
                <form action="https://toeic24.vn/exam/submit?part=3&amp;questionGroupNum=10" method="post">
                    <input type="hidden" name="_token" value="6aZsgoyv81UjkVGD6RVMnKyh7sJDeZglJ1fj6YOs">
                    <p><b>Transcript:</b></p>
                    <div class="text-justify">
                        <p>M: Hi, good news, we got the contract!</p>

                        <p>W: That's fantastic. I think most of the credit goes to you though, as you really made it look good with your computer images.</p>

                        <p>M: Yes, but you did the designs, so you are the truly creative one. Let's hope that we can really stick to the budget now because I was stretching the truth a bit on costs. I'm not very good with finances at the best of times.</p>

                        <p>W: Am I supposed to be impressed by that? You may have put the whole project at risk. How could you do such a thing?</p>
                    </div>
                    <p><b>Audio:</b></p>
                    <div class="audioplayer"><audio controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://toeic24.vn/upload/audio/1565665868/1565919607.mp3" type="audio/mp3">
    </audio>
                        <div class="audioplayer-playpause" title="">
                            <a href="#"></a>
                        </div>
                        <div class="audioplayer-time audioplayer-time-current">00:00</div>
                        <div class="audioplayer-bar">
                            <div class="audioplayer-bar-loaded" style="width: 11.3524%;"></div>
                            <div class="audioplayer-bar-played"></div>
                        </div>
                        <div class="audioplayer-time audioplayer-time-duration">01:01</div>
                        <div class="audioplayer-volume">
                            <div class="audioplayer-volume-button" title="">
                                <a href="#"></a>
                            </div>
                            <div class="audioplayer-volume-adjust">
                                <div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer">
                        <p><b>65. What is the man's job?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="64" value="2633" id="2633" disabled="">
                                <label for="2633">
                            <i class="icon icon_radio"></i>
                            A. architect
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2634" id="2634" disabled="">
                                <label for="2634">
                            <i class="icon icon_radio"></i>
                            B. accountant
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2635" id="2635" disabled="">
                                <label for="2635">
                            <i class="icon icon_radio"></i>
                            C. information technology expert
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="64" value="2636" id="2636" disabled="">
                                <label for="2636">
                            <i class="icon icon_radio"></i>
                            D. builder
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>66. How can the man the described?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="65" value="2637" id="2637" disabled="">
                                <label for="2637">
                            <i class="icon icon_radio"></i>
                            A. cautious
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2638" id="2638" disabled="">
                                <label for="2638">
                            <i class="icon icon_radio"></i>
                            B. independent
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2639" id="2639" disabled="">
                                <label for="2639">
                            <i class="icon icon_radio"></i>
                            C. bored
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="65" value="2640" id="2640" disabled="">
                                <label for="2640">
                            <i class="icon icon_radio"></i>
                            D. dishonest
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <div class="answer">
                        <p><b>67. How did the woman feel about the man's behavior?</b></p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="66" value="2641" id="2641" disabled="">
                                <label for="2641">
                            <i class="icon icon_radio"></i>
                            A. impressed
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2642" id="2642" disabled="">
                                <label for="2642">
                            <i class="icon icon_radio"></i>
                            B. angry
                                                                        <i style="color: #37abf2" class="icon icon-val md-check-2"></i>
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2643" id="2643" disabled="">
                                <label for="2643">
                            <i class="icon icon_radio"></i>
                            C. suspicious
                                                                                                        </label>
                            </li>
                            <li>
                                <input type="radio" name="66" value="2644" id="2644" disabled="">
                                <label for="2644">
                            <i class="icon icon_radio"></i>
                            D. indifferent
                                                                                                        </label>
                            </li>
                        </ul>
                    </div>
                    <a href="https://toeic24.vn/exam/next-page?part=3&amp;questionGroupNum=10" class="mc-btn btn-style-6">Next</a>
                </form>
            </div>
        </div>
    </div>
</div>